In [1]:
# Tratamiento de datos
import pandas as pd
# Ignorar warnings
import warnings
warnings.filterwarnings("ignore")
# Configuración
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames
#importar la biblioteca de numpy:
import numpy as np
import os
import sys #permite navegar por el sistema
sys.path.append("../") #solo aplica al soporte
import src.soporte_EDA as se


pd.options.display.float_format = '{:.2f}'.format # para redondearlo todo a 2 decimales

In [2]:
os.listdir('../datos/raw/')

['datos-2013.csv',
 'datos-2014.csv',
 'datos-2015.csv',
 'datos-2016.csv',
 'datos-2017.csv',
 'datos-2018.csv',
 'datos-2019.csv',
 'datos-2020.csv',
 'datos-2021.csv',
 'diccionario_datos.csv']

In [3]:
lista_archivos = os.listdir('../datos/raw/')[:-1]
lista_archivos

['datos-2013.csv',
 'datos-2014.csv',
 'datos-2015.csv',
 'datos-2016.csv',
 'datos-2017.csv',
 'datos-2018.csv',
 'datos-2019.csv',
 'datos-2020.csv',
 'datos-2021.csv']

In [4]:
diccionario = se.carga_ficheros_csv('raw',lista_archivos)

In [5]:
df_datos_2013 = diccionario['df_2013']

# Anális datos año 2013

In [6]:
se.traducción_columnas(df_datos_2013)

In [7]:
df_datos_2013

,CÓDIGO_ÓRGANO_SUPERIOR,NOMBRE_ÓRGANO_SUPERIOR,CÓDIGO_ÓRGANO,NOMBRE_ÓRGANO,CÓDIGO_UNIDAD_GESTORA,NOMBRE_UNIDAD_GESTORA,CATEGORÍA_ECONÓMICA,ORIGEN_INGRESO,TIPO_INGRESO,DETALLE,VALOR_PREVISTO_ACTUALIZADO,VALOR_REGISTRADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO,FECHA_REGISTRO,AÑO_EJERCICIO
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Bens, Direitos e Valores Incorporados ao Patr",REC.DIVIDA ATIVA NAO TRIBUTARIA DE OUTRAS REC,"0,00","0,00","1297,13","0,00",31/12/2013,2013
1,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES,"0,00","0,00","26666621,42","0,00",31/12/2013,2013
2,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",OUTRAS MULTAS E JUROS DE MORA,"0,00","0,00","301251,13","0,00",31/12/2013,2013
3,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Bens, Direitos e Valores Incorporados ao Patr",REC.DIV.ATIVA POR INFRAÇÃO ADMINISTRATIVA,"0,00","0,00","1855,58","0,00",31/12/2013,2013
4,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",OUTRAS RESTITUICOES,"0,00","0,00","52140,68","0,00",31/12/2013,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4493,20000,Presidência da República,20101,Presidência da República,110005,SECRETARIA DE ADMINISTRACAO-SET.ORC.E FIN./PR,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",OUTRAS MULTAS,"0,00","0,00","8,34","0,00",31/12/2013,2013
4494,20000,Presidência da República,64000,Secretaria de Direitos Humanos,200016,SECRETARIA DE DIREITOS HUMANOS/PR,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",OUTRAS MULTAS,"0,00","0,00","0,28","0,00",31/12/2013,2013
4495,20000,Presidência da República,20101,Presidência da República,110005,SECRETARIA DE ADMINISTRACAO-SET.ORC.E FIN./PR,Receitas Correntes,Receita Patrimonial,Exploração do patrimônio imobiliário do Estad,ALUGUEIS,"0,00","0,00","61593,03","0,00",31/12/2013,2013
4496,20000,Presidência da República,20116,Fundo de Imprensa Nacional,110245,FUNDO DE IMPRENSA NACIONAL/EXEC.ORC.FINANC.,Receitas Correntes - intra-orçamentárias,Receita Industrial,Receitas da indústria de transformação,RECEITA DA INDUSTRIA EDITORIAL E GRAFICA,"120839273,00","0,00","161286016,04","133,00",31/12/2013,2013
4497,20000,Presidência da República,24208,Instituto Nacional de Tecnologia da Informação,243001,INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI,Receitas Correntes,Receita de Serviços,Receita de Serviços,CERTIFICACAO DE PRODUTOS E SERVICOS,"500004,00","0,00","1100465,84","220,00",31/12/2013,2013

In [8]:
se.reporte(df_datos_2013)

La tabla tiene 4498 filas y 16 columnas
La tabla tiene 0 filas duplicadas

,tipo_variables,contador_total,numero_nulos,porcentaje_nulos,valores_unicos,duplicados
CÓDIGO_ÓRGANO_SUPERIOR,int64,4498,0,0.00,25,4473
NOMBRE_ÓRGANO_SUPERIOR,object,4498,0,0.00,25,4473
CÓDIGO_ÓRGANO,int64,4498,0,0.00,268,4230
NOMBRE_ÓRGANO,object,4498,0,0.00,266,4232
CÓDIGO_UNIDAD_GESTORA,int64,4498,0,0.00,283,4215
NOMBRE_UNIDAD_GESTORA,object,4498,0,0.00,279,4219
CATEGORÍA_ECONÓMICA,object,4498,0,0.00,5,4493
ORIGEN_INGRESO,object,4498,0,0.00,15,4483
TIPO_INGRESO,object,4498,0,0.00,44,4454
DETALLE,object,4498,0,0.00,704,3794
VALOR_PREVISTO_ACTUALIZADO,object,4498,0,0.00,2788,1710
VALOR_REGISTRADO,object,4498,0,0.00,52,4446
VALOR_REALIZADO,object,4498,0,0.00,3738,760
PORCENTAJE_REALIZADO,object,4498,0,0.00,578,3920
FECHA_REGISTRO,object,4498,0,0.00,1,4497
AÑO_EJERCICIO,int64,4498,0,0.00,1,4497

In [9]:
se.conversion_columnas(df_datos_2013)

La tabla tiene 4498 filas y 16 columnas
La tabla tiene 0 filas duplicadas

,tipo_variables,contador_total,numero_nulos,porcentaje_nulos,valores_unicos,duplicados
CÓDIGO_ÓRGANO_SUPERIOR,object,4498,0,0.00,25,4473
NOMBRE_ÓRGANO_SUPERIOR,object,4498,0,0.00,25,4473
CÓDIGO_ÓRGANO,object,4498,0,0.00,268,4230
NOMBRE_ÓRGANO,object,4498,0,0.00,266,4232
CÓDIGO_UNIDAD_GESTORA,object,4498,0,0.00,283,4215
NOMBRE_UNIDAD_GESTORA,object,4498,0,0.00,279,4219
CATEGORÍA_ECONÓMICA,object,4498,0,0.00,5,4493
ORIGEN_INGRESO,object,4498,0,0.00,15,4483
TIPO_INGRESO,object,4498,0,0.00,44,4454
DETALLE,object,4498,0,0.00,704,3794
VALOR_PREVISTO_ACTUALIZADO,float64,4498,0,0.00,2788,1710
VALOR_REGISTRADO,float64,4498,0,0.00,52,4446
VALOR_REALIZADO,float64,4498,0,0.00,3738,760
PORCENTAJE_REALIZADO,float64,4498,0,0.00,578,3920
FECHA_REGISTRO,datetime64[ns],4498,0,0.00,1,4497
AÑO_EJERCICIO,int64,4498,0,0.00,1,4497

In [10]:
se.analisis_descriptivos_categóricas(df_datos_2013)

Las columnas categóricas son Index(['CÓDIGO_ÓRGANO_SUPERIOR', 'NOMBRE_ÓRGANO_SUPERIOR', 'CÓDIGO_ÓRGANO',
       'NOMBRE_ÓRGANO', 'CÓDIGO_UNIDAD_GESTORA', 'NOMBRE_UNIDAD_GESTORA',
       'CATEGORÍA_ECONÓMICA', 'ORIGEN_INGRESO', 'TIPO_INGRESO', 'DETALLE'],
      dtype='object')
Algunos ejemplos de filas son:

,CÓDIGO_ÓRGANO_SUPERIOR,NOMBRE_ÓRGANO_SUPERIOR,CÓDIGO_ÓRGANO,NOMBRE_ÓRGANO,CÓDIGO_UNIDAD_GESTORA,NOMBRE_UNIDAD_GESTORA,CATEGORÍA_ECONÓMICA,ORIGEN_INGRESO,TIPO_INGRESO,DETALLE
1698,26000,Ministério da Educação,26238,Universidade Federal de Minas Gerais,153062,UNIVERSIDADE FEDERAL DE MINAS GERAIS,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",OUTRAS MULTAS E JUROS DE MORA
814,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,170013,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Impostos,RECEITA DE PARCELAMENTOS - IPI
4493,20000,Presidência da República,20101,Presidência da República,110005,SECRETARIA DE ADMINISTRACAO-SET.ORC.E FIN./PR,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",OUTRAS MULTAS
107,22000,"Ministério da Agricultura, Pecuária e Abastec",22000,"Ministério da Agricultura, Pecuária e Abasteci...",130101,COORD.-GERAL DE ORCAMENTO E FINANCAS-MAPA,Receitas Correntes,Transferências Correntes,Transferências de Convênios,TRANSFERENCIAS CONVENIOS DA UNIAO E ENTIDADES
2140,26000,Ministério da Educação,26244,Universidade Federal do Rio Grande do Sul,153114,UNIVERSIDADE FEDERAL DO RIO GRANDE DO SUL,Receitas Correntes,Receita de Serviços,Receita de Serviços,TAR.INSCR.CONCURSOS E PROCESSOS SELETIVOS

Las características de estas columnas son:

,count,unique,top,freq
CÓDIGO_ÓRGANO_SUPERIOR,4498,25,26000,1833
NOMBRE_ÓRGANO_SUPERIOR,4498,25,Ministério da Educação,1833
CÓDIGO_ÓRGANO,4498,268,25000,494
NOMBRE_ÓRGANO,4498,266,Ministério da Economia - Unidades com vínculo ...,494
CÓDIGO_UNIDAD_GESTORA,4498,283,170013,415
NOMBRE_UNIDAD_GESTORA,4498,279,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,415
CATEGORÍA_ECONÓMICA,4498,5,Receitas Correntes,4001
ORIGEN_INGRESO,4498,15,Outras Receitas Correntes,1982
TIPO_INGRESO,4498,44,Receita de Serviços,978
DETALLE,4498,704,RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES,214

In [11]:
se.analisis_descriptivos_numéricas(df_datos_2013)

Las columnas no categóricas son Index(['VALOR_PREVISTO_ACTUALIZADO', 'VALOR_REGISTRADO', 'VALOR_REALIZADO',
       'PORCENTAJE_REALIZADO', 'FECHA_REGISTRO', 'AÑO_EJERCICIO'],
      dtype='object')
Algunos ejemplos de filas son:

,VALOR_PREVISTO_ACTUALIZADO,VALOR_REGISTRADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO,FECHA_REGISTRO,AÑO_EJERCICIO
4341,0.00,0.00,69871.62,0.00,2013-12-31,2013
663,50824633.00,0.00,128754915.74,253.00,2013-12-31,2013
1787,0.00,0.00,3120.00,0.00,2013-12-31,2013
1522,288451.00,0.00,239056.28,83.00,2013-12-31,2013
2790,0.00,0.00,3367.50,0.00,2013-12-31,2013

Las características de estas columnas son:

,count,mean,min,25%,50%,75%,max,std
VALOR_PREVISTO_ACTUALIZADO,4498.00,483470641.69,0.00,0.00,23091.00,1108096.75,610065700590.00,10263685552.73
VALOR_REGISTRADO,4498.00,254014415.66,0.00,0.00,0.00,0.00,295606275807.68,6061874000.84
VALOR_REALIZADO,4498.00,420990155.42,-276398836.04,503.08,48039.96,978151.31,413786247189.79,7658595610.25
PORCENTAJE_REALIZADO,4498.00,999.23,-201.00,0.00,0.00,99.00,1605449.00,26062.60
FECHA_REGISTRO,4498,2013-12-31 00:00:00,2013-12-31 00:00:00,2013-12-31 00:00:00,2013-12-31 00:00:00,2013-12-31 00:00:00,2013-12-31 00:00:00,NaN
AÑO_EJERCICIO,4498.00,2013.00,2013.00,2013.00,2013.00,2013.00,2013.00,0.00

# Análisis columnas de forma individual
## Año 2013

In [12]:
for columna in df_datos_2013.columns:
    print(se.analisis_individual_columnas(df_datos_2013, columna))

La categoría CÓDIGO_ÓRGANO_SUPERIOR tiene 25 elementos diferentes:

Los elementos de la categoría son:

array(['63000', '37000', '22000', '55000', '24000', '52000', '25000',
       '26000', '39000', '30000', '81000', '58000', '33000', '36000',
       '41000', '57000', '35000', '32000', '49000', '53000', '51000',
       '44000', '38000', '54000', '20000'], dtype=object)

Los 10 CÓDIGO_ÓRGANO_SUPERIOR que MAS aparecen son:

                        count  Porcentaje_recuento
CÓDIGO_ÓRGANO_SUPERIOR
26000                    1833                40.75
25000                     873                19.41
53000                     276                 6.14
52000                     228                 5.07
22000                     167                 3.71
54000                     133                 2.96
30000                     129                 2.87
39000                     129                 2.87
24000                     128                 2.85
32000                     123                 2.73

Los 10 CÓDIGO_ÓRGANO_SUPERIOR que MENOS aparecen son:

                        count  Porcentaje_recuento
CÓDIGO_ÓRGANO_SUPERIOR
35000                      17                 0.38
38000                      16                 0.36
49000                      15                 0.33
57000                      12                 0.27
63000                      11                 0.24
37000                       9                 0.20
58000                       8                 0.18
81000                       6                 0.13
33000                       5                 0.11
51000                       5                 0.11

 Las distribución de las repeticiones de los CÓDIGO_ÓRGANO_SUPERIOR son:

       count  % repetición
count
129        2          8.00
5          2          8.00
873        1          4.00
276        1          4.00
228        1          4.00
167        1          4.00
1833       1          4.00
133        1          4.00
128        1          4.00
110        1          4.00
123        1          4.00
81         1          4.00
47         1          4.00
36         1          4.00
101        1          4.00
17         1          4.00
16         1          4.00
12         1          4.00
15         1          4.00
11         1          4.00
9          1          4.00
8          1          4.00
6          1          4.00

None
La categoría NOMBRE_ÓRGANO_SUPERIOR tiene 25 elementos diferentes:

Los elementos de la categoría son:

array(['Advocacia-Geral da União', 'Controladoria-Geral da União',
       'Ministério da Agricultura, Pecuária e Abastec',
       'Ministério da Cidadania',
       'Ministério da Ciência, Tecnologia, Inovações ',
       'Ministério da Defesa', 'Ministério da Economia',
       'Ministério da Educação', 'Ministério da Infraestrutura',
       'Ministério da Justiça e Segurança Pública',
       'Ministério da Mulher, Família e Direitos Huma',
       'Ministério da Pesca e Aquicultura',
       'Ministério da Previdência Social', 'Ministério da Saúde',
       'Ministério das Comunicações',
       'Ministério das Mulheres, Igualdade Racial, da',
       'Ministério das Relações Exteriores',
       'Ministério de Minas e Energia',
       'Ministério do Desenvolvimento Agrário',
       'Ministério do Desenvolvimento Regional', 'Ministério do Esporte',
       'Ministério do Meio Ambiente', 'Ministério do Trabalho e Emprego',
       'Ministério do Turismo', 'Presidência da República'], dtype=object)

Los 10 NOMBRE_ÓRGANO_SUPERIOR que MAS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_ÓRGANO_SUPERIOR
Ministério da Educação                          1833                40.75
Ministério da Economia                           873                19.41
Ministério do Desenvolvimento Regional           276                 6.14
Ministério da Defesa                             228                 5.07
Ministério da Agricultura, Pecuária e Abastec    167                 3.71
Ministério do Turismo                            133                 2.96
Ministério da Justiça e Segurança Pública        129                 2.87
Ministério da Infraestrutura                     129                 2.87
Ministério da Ciência, Tecnologia, Inovações     128                 2.85
Ministério de Minas e Energia                    123                 2.73

Los 10 NOMBRE_ÓRGANO_SUPERIOR que MENOS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_ÓRGANO_SUPERIOR
Ministério das Relações Exteriores                17                 0.38
Ministério do Trabalho e Emprego                  16                 0.36
Ministério do Desenvolvimento Agrário             15                 0.33
Ministério das Mulheres, Igualdade Racial, da     12                 0.27
Advocacia-Geral da União                          11                 0.24
Controladoria-Geral da União                       9                 0.20
Ministério da Pesca e Aquicultura                  8                 0.18
Ministério da Mulher, Família e Direitos Huma      6                 0.13
Ministério da Previdência Social                   5                 0.11
Ministério do Esporte                              5                 0.11

 Las distribución de las repeticiones de los NOMBRE_ÓRGANO_SUPERIOR son:

       count  % repetición
count
129        2          8.00
5          2          8.00
873        1          4.00
276        1          4.00
228        1          4.00
167        1          4.00
1833       1          4.00
133        1          4.00
128        1          4.00
110        1          4.00
123        1          4.00
81         1          4.00
47         1          4.00
36         1          4.00
101        1          4.00
17         1          4.00
16         1          4.00
12         1          4.00
15         1          4.00
11         1          4.00
9          1          4.00
8          1          4.00
6          1          4.00

None
La categoría CÓDIGO_ÓRGANO tiene 268 elementos diferentes:

Los elementos de la categoría son:

array(['63000', '66000', '22202', '22000', '22211', '44208', '22201',
       '22905', '49001', '55000', '55001', '24000', '20501', '20301',
       '24901', '20502', '24209', '20402', '49280', '52911', '52904',
       '52132', '52912', '52131', '52121', '52111', '31280', '52000',
       '52133', '52221', '52211', '52222', '25000', '30203', '37202',
       '25205', '20603', '25201', '38901', '25208', '33206', '30204',
       '25203', '37201', '20202', '25915', '25207', '25914', '22500',
       '25901', '25211', '25904', '61201', '28500', '25916', '20924',
       '71902', '25905', '26435', '26276', '26000', '26285', '26233',
       '26407', '26232', '26405', '26292', '26423', '26422', '26258',
       '26251', '26234', '26275', '26238', '26261', '26244', '26432',
       '26414', '26243', '26421', '26411', '26270', '26417', '26410',
       '26282', '26430', '26278', '26416', '26253', '26420', '26418',
       '26408', '26240', '26246', '26433', '26428', '26263', '26412',
       '26404', '26248', '26434', '26409', '26264', '26424', '26415',
       '26291', '26413', '26236', '26406', '26255', '26419', '26247',
       '26271', '26266', '26402', '26277', '26252', '26351', '26403',
       '26245', '26294', '26298', '26425', '26427', '26268', '26429',
       '26256', '26290', '26279', '26201', '26257', '26231', '26235',
       '26260', '26437', '26439', '26272', '26438', '26262', '26440',
       '26267', '26254', '26237', '26441', '26442', '26352', '26230',
       '26280', '26241', '26350', '26281', '26431', '26242', '26249',
       '26269', '26436', '26250', '26284', '26426', '26239', '26286',
       '26273', '26274', '26443', '26283', '62201', '39252', '39250',
       '49901', '56901', '39000', '68201', '68000', '39251', '29209',
       '62901', '39253', '62000', '39816', '39812', '39813', '39811',
       '39815', '39814', '39817', '30802', '30108', '30905', '30907',
       '30202', '30211', '30911', '30000', '30912', '30205', '20122',
       '58000', '33000', '36211', '36201', '36210', '36000', '36213',
       '36212', '36208', '36209', '41000', '20415', '41231', '41232',
       '41903', '64902', '64901', '35000', '35201', '20303', '29208',
       '32000', '32205', '32263', '32210', '32314', '20302', '49000',
       '29205', '29214', '53902', '53901', '53903', '22204', '22203',
       '53000', '53202', '74917', '56902', '53203', '44205', '53205',
       '53207', '74918', '91214', '44206', '44000', '44902', '20701',
       '44207', '44204', '38000', '20403', '20604', '42207', '20411',
       '20412', '34902', '20203', '54000', '20408', '20404', '54901',
       '20101', '67000', '64000', '20116', '69000', '24208', '60000',
       '20117', '61000'], dtype=object)

Los 10 CÓDIGO_ÓRGANO que MAS aparecen son:

               count  Porcentaje_recuento
CÓDIGO_ÓRGANO
25000            494                10.98
37202            109                 2.42
26000             80                 1.78
22202             52                 1.16
34902             48                 1.07
52904             46                 1.02
26238             43                 0.96
24901             41                 0.91
26234             41                 0.91
53901             39                 0.87

Los 10 CÓDIGO_ÓRGANO que MENOS aparecen son:

               count  Porcentaje_recuento
CÓDIGO_ÓRGANO
39813              1                 0.02
39811              1                 0.02
39814              1                 0.02
39815              1                 0.02
49280              1                 0.02
36209              1                 0.02
69000              1                 0.02
60000              1                 0.02
20117              1                 0.02
61000              1                 0.02

 Las distribución de las repeticiones de los CÓDIGO_ÓRGANO son:

       count  % repetición
count
14        17          6.34
16        16          5.97
1         16          5.97
11        14          5.22
5         14          5.22
15        13          4.85
9         13          4.85
10        12          4.48
2         12          4.48
13        11          4.10
6         11          4.10
17         8          2.99
4          8          2.99
7          8          2.99
21         8          2.99
8          7          2.61
23         7          2.61
25         5          1.87
22         5          1.87
18         5          1.87
24         5          1.87
20         5          1.87
12         4          1.49
19         4          1.49
26         4          1.49
39         4          1.49
3          4          1.49
32         3          1.12
31         3          1.12
30         3          1.12
27         2          0.75
35         2          0.75
41         2          0.75
28         2          0.75
36         1          0.37
34         1          0.37
48         1          0.37
494        1          0.37
109        1          0.37
37         1          0.37
46         1          0.37
43         1          0.37
80         1          0.37
52         1          0.37
29         1          0.37

None
La categoría NOMBRE_ÓRGANO tiene 266 elementos diferentes:

Los elementos de la categoría son:

array(['Advocacia-Geral da União - Unidades com vínculo direto',
       'Controladoria-Geral da União',
       'Empresa Brasileira de Pesquisa Agropecuária',
       'Ministério da Agricultura, Pecuária e Abastecimento - Unidades com vínculo direto',
       'Companhia Nacional de Abastecimento',
       'Serviço Florestal Brasileiro',
       'Instituto Nacional de Colonização e Reforma Agrária',
       'Fundo de Defesa da Economia Cafeeira',
       'Fundo de Terras e da Reforma Agrária',
       'Ministério da Cidadania - Unidades com vínculo direto',
       'Fundo Nacional de Assistência Social',
       'Ministério da Ciência, Tecnologia, Inovações e Comunicações - Unidades com vínculo direto',
       'Conselho Nacional de Desenvolvimento Científico e Tecnológico',
       'Comissão Nacional de Energia Nuclear',
       'Fundo Nacional de Desenvolvimento Científico e Tecnológico',
       'Financiadora de Estudos e Projetos',
       'Centro Nacional de Tecnologia Eletrônica Avançada S.A.',
       'Agência Espacial Brasileira',
       'Empresa Brasileira de Correios e Telégrafos', 'Fundo Aeronáutico',
       'Fundo do Exército', 'Comando da Marinha - Fundo Naval',
       'Fundo Aeroviário', 'Comando da Marinha', 'Comando do Exército',
       'Comando da Aeronáutica',
       'Caixa de Construções de Casas para o Pessoal da Marinha do Brasil',
       'Ministério da Defesa - Unidades com vínculo direto',
       'Fundo de Desenvolvimento do Ensino Profissional Marítimo',
       'Indústria de Material Bélico do Brasil',
       'Caixa de Financiamento Imobiliário da Aeronáutica',
       'Fundação Osório',
       'Ministério da Economia - Unidades com vínculo direto',
       'Instituto Nacional de Metrologia, Qualidade e Tecnologia',
       'Instituto Nacional do Seguro Social',
       'Fundação Instituto Brasileiro de Geografia e Estatística',
       'Superintendência da Zona Franca de Manaus',
       'Banco Central do Brasil - Orçamento Fiscal e Seguridade Social',
       'Fundo de Amparo ao Trabalhador',
       'Superintendência de Seguros Privados',
       'Superintendência Nacional de Previdência Complementar',
       'Instituto Nacional da Propriedade Industrial',
       'Comissão de Valores Mobiliários',
       'Fundação Jorge Duprat Figueiredo, de Segurança e Medicina do Trabalho',
       'Fundação Escola Nacional de Administração Pública',
       'Fundo Constitucional do Distrito Federal',
       'Serviço Federal de Processamento de Dados',
       'Fundo de Garantia à Exportação',
       'Companhia de Entrepostos e Armazéns Gerais de São Paulo',
       'Fundo de Compensação de Variações Salariais',
       'Casa da Moeda do Brasil', 'Fundo de Estabilidade do Seguro Rural',
       'Instituto de Pesquisa Econômica Aplicada',
       'Fundo de Garantia para a Promoção da Competitividade',
       'Fundo Contingente da Extinta RFFSA-FCMP',
       'Fundo Nacional de Desenvolvimento', 'Fundo Soberano do Brasil',
       'Fundo de Apoio ao Desenvolvimento Social',
       'Instituto Federal do Rio Grande do Norte',
       'Fundação Universidade Federal do Mato Grosso',
       'Ministério da Educação - Unidades com vínculo direto',
       'Fundação Universidade Federal de São João Del-Rei',
       'Universidade Federal do Ceará', 'Instituto Federal Goiano',
       'Universidade Federal da Bahia', 'Instituto Federal do Ceará',
       'Fundação Joaquim Nabuco', 'Instituto Federal de Sergipe',
       'Instituto Federal Catarinense',
       'Universidade Tecnológica Federal do Paraná',
       'Fundação Universidade Federal do Tocantins',
       'Universidade Federal do Espírito Santo',
       'Fundação Universidade Federal do Acre',
       'Universidade Federal de Minas Gerais',
       'Universidade Federal de Itajubá',
       'Universidade Federal do Rio Grande do Sul',
       'Instituto Federal do Paraná', 'Instituto Federal do Mato Grosso',
       'Universidade Federal do Rio Grande do Norte',
       'Instituto Federal de Rondônia',
       'Instituto Federal do Sudeste de Minas Gerais',
       'Fundação Universidade do Amazonas',
       'Instituto Federal da Paraíba',
       'Instituto Federal do Norte de Minas Gerais',
       'Universidade Federal de Viçosa',
       'Instituto Federal do Sertão de Pernambuco',
       'Fundação Universidade Federal de Pelotas',
       'Instituto Federal do Pará',
       'Universidade Federal Rural da Amazônia',
       'Instituto Federal Farroupilha', 'Instituto Federal de Pernambuco',
       'Instituto Federal do Maranhão', 'Universidade Federal da Paraíba',
       'Universidade Federal de Santa Catarina',
       'Instituto Federal do Rio de Janeiro',
       'Instituto Federal de Brasília', 'Universidade Federal de Lavras',
       'Instituto Federal do Sul de Minas Gerais',
       'Instituto Federal Baiano',
       'Universidade Federal Rural de Pernambuco',
       'Instituto Federal Fluminense',
       'Instituto Federal de Minas Gerais',
       'Universidade Federal Rural do Semi-Árido',
       'Instituto Federal do Tocantins',
       'Instituto Federal do Mato Grosso do Sul',
       'Fundação Coordenação de Aperfeiçoamento de Pessoal de Nível Superior',
       'Instituto Federal do Triângulo Mineiro',
       'Universidade Federal Fluminense',
       'Instituto Federal do Espírito Santo',
       'Universidade Federal dos Vales do Jequitinhonha e Mucuri',
       'Instituto Federal do Rio Grande do Sul',
       'Universidade Federal de Santa Maria',
       'Fundação Universidade de Brasília',
       'Fundação Universidade Federal do Pampa',
       'Instituto Federal de Alagoas',
       'Universidade Federal de Ouro Preto',
       'Universidade Federal de Campina Grande',
       'Universidade Federal do Recôncavo da Bahia',
       'Instituto Federal do Amazonas',
       'Universidade Federal do Rio de Janeiro',
       'Hospital de Clínicas de Porto Alegre',
       'Fundo Nacional de Desenvolvimento da Educação',
       'Instituto Federal do Acre', 'Instituto Federal da Bahia',
       'Fundação Universidade Federal de Rondônia',
       'Instituto Federal de Educação, Ciência e Tecnologia de Goiás',
       'Centro Federal de Educação Tecnológica Celso Suckow da Fonseca',
       'Instituto Nacional de Estudos e Pesquisas Educacionais Anísio Teixeira',
       'Fundação Universidade Federal do Piauí', 'Colégio Pedro II',
       'Centro Federal de Educação Tecnológica de Minas Gerais',
       'Universidade Federal de Alagoas', 'Universidade Federal de Goiás',
       'Universidade Federal de Alfenas', 'Instituto Federal de Roraima',
       'Instituto Federal de São Paulo',
       'Fundação Universidade do Maranhão',
       'Instituto Federal de Santa Catarina',
       'Universidade Federal de São Paulo',
       'Universidade Federal da Fronteira Sul',
       'Universidade Federal da Integração Latino-Americana',
       'Universidade Federal do Triângulo Mineiro',
       'Universidade Federal de Juiz de Fora',
       'Universidade Federal do Oeste do Pará',
       'Universidade da Integração Internacional da Lusofonia Afro-Brasileira',
       'Fundação Universidade Federal do ABC',
       'Fundação Universidade Federal do Vale do São Francisco',
       'Fundação Universidade Federal de São Carlos',
       'Universidade Federal do Paraná',
       'Fundação Universidade Federal da Grande Dourados',
       'Fundação Universidade Federal de Sergipe',
       'Instituto Federal do Piauí', 'Universidade Federal de Pernambuco',
       'Universidade Federal Rural do Rio de Janeiro',
       'Universidade Federal do Estado do Rio de Janeiro',
       'Instituto Federal Sul-rio-grandense',
       'Universidade Federal de Roraima',
       'Fundação Universidade Federal de Ciências da Saúde de Porto Alegre',
       'Instituto Federal do Amapá', 'Universidade Federal do Pará',
       'Fundação Universidade Federal do Amapá',
       'Universidade Federal do Rio Grande',
       'Fundação Universidade Federal de Uberlândia',
       'Empresa Brasileira de Serviços Hospitalares',
       'Fundação Universidade Federal do Mato Grosso do Sul',
       'Agência Nacional de Aviação Civil',
       'Departamento Nacional de Infraestrutura de Transportes',
       'Agência Nacional de Transportes Terrestres',
       'Departamento do Fundo da Marinha Mercante',
       'Fundo Nacional de Segurança e Educação de Trânsito',
       'Ministério da Infraestrutura - Unidades com vínculo direto',
       'Agência Nacional de Transportes Aquaviários',
       'Secretaria de Portos',
       'VALEC Engenharia, Construções e Ferrovias S.A.',
       'Fundo Nacional de Aviação Civil',
       'Empresa de Planejamento e Logística S.A.',
       'Secretaria de Aviação Civil',
       'Companhia Docas do Estado de São Paulo',
       'Companhia Docas do Estado da Bahia', 'Companhia Docas do Ceará',
       'Companhia Docas do Rio de Janeiro',
       'Companhia Docas do Rio Grande do Norte',
       'Companhia Docas do Pará', 'Companhia Docas do Espírito Santo',
       'Departamento de Polícia Rodoviária Federal',
       'Departamento de Polícia Federal',
       'Secretaria Nacional do Consumidor Fundo',
       'Fundo Penitenciário Nacional', 'Fundação Nacional do Índio',
       'Conselho Administrativo de Defesa Econômica',
       'Fundo Nacional de Segurança Pública',
       'Ministério da Justiça e Segurança Pública - Unidades com vínculo direto',
       'Fundo Nacional Antidrogas',
       'Fundação Nacional do Índio - Patrimônio Indígena',
       'Secretaria Nacional de Políticas para Mulheres',
       'Ministério da Pesca e Aquicultura - Unidades com vínculo direto',
       'Ministério da Previdência Social - Unidades com vínculo direto',
       'Fundação Nacional de Saúde', 'Fundação Oswaldo Cruz',
       'Hospital Nossa Senhora da Conceição S.A.',
       'Ministério da Saúde - Unidades com vínculo direto',
       'Agência Nacional de Saúde Suplementar',
       'Agência Nacional de Vigilância Sanitária',
       'Hospital Cristo Redentor S.A.', 'Hospital Fêmina S.A.',
       'Ministério das Comunicações - Unidades com vínculo direto',
       'Empresa Brasil de Comunicação',
       'Agêncial Nacional de Telecomunicações',
       'Fundo de Universalização dos Serviços de Telecomunicações',
       'Fundo para o Desenvolvimento Tecnológico das Telecomunicações',
       'Fundo Nacional do Idoso',
       'Fundo Nacional para a Criança e o Adolescente',
       'Ministério das Relações Exteriores - Unidades com vínculo direto',
       'Fundação Alexandre de Gusmão', 'Indústrias Nucleares do Brasil',
       'Companhia de Pesquisa de Recursos Minerais',
       'Ministério de Minas e Energia - Unidades com vínculo direto',
       'Agência Nacional do Petróleo, Gás Natural e Biocombustíveis',
       'Departamento Nacional de Produção Mineral',
       'Agência Nacional de Energia Elétrica',
       'Empresa de Pesquisa Energética',
       'Nuclebrás Equipamentos Pesados S.A.',
       'Ministério do Desenvolvimento Agrário - Unidades com vínculo direto',
       'Empresa de Trens Urbanos de Porto Alegre',
       'Companhia Brasileira de Trens Urbanos',
       'Fundo Constitucional de Financiamento do Centro-Oeste',
       'Fundo Constitucional de Financiamento do Norte',
       'Fundo Constitucional de Financiamento do Nordeste',
       'Departamento Nacional de Obras Contra as Secas',
       'Companhia de Desenvolvimento dos Vales do São Francisco e do Parnaíba',
       'Ministério do Desenvolvimento Regional - Unidades com vínculo direto',
       'Superintendência do Desenvolvimento da Amazônia',
       'Fundo de Desenvolvimento da Amazônia',
       'Fundo Nacional de Habitação de Interesse Social',
       'Superintendência do Desenvolvimento do Nordeste',
       'Agência Nacional de Águas',
       'Agência de Desenvolvimento da Amazônia',
       'Superintendência de Desenvolvimento do Centro-Oeste',
       'Fundo de Desenvolvimento do Nordeste',
       'Autoridade Pública Olímpica',
       'Instituto de Pesquisas Jardim Botânico do Rio de Janeiro',
       'Ministério do Meio Ambiente - Unidades com vínculo direto',
       'Fundo Nacional sobre Mudança no Clima',
       'Instituto Brasileiro do Meio Ambiente e dos Recursos Naturais Renováveis',
       'Instituto Chico Mendes de Conservação da Biodiversidade',
       'Fundo Nacional do Meio Ambiente',
       'Ministério do Trabalho e Emprego - Unidades com vínculo direto',
       'Fundação Casa de Rui Barbosa', 'Instituto Brasileiro de Turismo',
       'Instituto Brasileiro de Museus',
       'Instituto do Patrimônio Histórico e Artístico Nacional',
       'Fundação Nacional de Artes', 'Fundo Nacional de Cultura',
       'Agência Nacional do Cinema',
       'Ministério do Turismo - Unidades com vínculo direto',
       'Fundação Cultural Palmares', 'Fundação Biblioteca Nacional',
       'Fundo Geral de Turismo', 'Presidência da República',
       'Secretaria de Políticas de Promoção da Igualdade Racial',
       'Secretaria de Direitos Humanos', 'Fundo de Imprensa Nacional',
       'Secretaria da Micro e Pequena Empresa',
       'Instituto Nacional de Tecnologia da Informação',
       'Gabinete da Vice-Presidência da República',
       'Secretaria de Assuntos Estratégicos'], dtype=object)

Los 10 NOMBRE_ÓRGANO que MAS aparecen son:

                                                    count  Porcentaje_recuento
NOMBRE_ÓRGANO
Ministério da Economia - Unidades com vínculo d...    494                10.98
Instituto Nacional do Seguro Social                   109                 2.42
Ministério da Educação - Unidades com vínculo d...     80                 1.78
Empresa Brasileira de Pesquisa Agropecuária            52                 1.16
Fundo Nacional de Cultura                              48                 1.07
Fundo do Exército                                      46                 1.02
Universidade Federal de Minas Gerais                   43                 0.96
Fundo Nacional de Desenvolvimento Científico e ...     41                 0.91
Universidade Federal do Espírito Santo                 41                 0.91
Comando da Marinha - Fundo Naval                       39                 0.87

Los 10 NOMBRE_ÓRGANO que MENOS aparecen son:

                                             count  Porcentaje_recuento
NOMBRE_ÓRGANO
Companhia Docas do Espírito Santo                1                 0.02
Companhia Docas do Pará                          1                 0.02
Fundo Soberano do Brasil                         1                 0.02
Fundo de Apoio ao Desenvolvimento Social         1                 0.02
Hospital Fêmina S.A.                             1                 0.02
Companhia Docas do Rio Grande do Norte           1                 0.02
Empresa Brasileira de Correios e Telégrafos      1                 0.02
Secretaria da Micro e Pequena Empresa            1                 0.02
Gabinete da Vice-Presidência da República        1                 0.02
Secretaria de Assuntos Estratégicos              1                 0.02

 Las distribución de las repeticiones de los NOMBRE_ÓRGANO son:

       count  % repetición
count
14        17          6.39
16        16          6.02
1         15          5.64
9         14          5.26
15        13          4.89
5         13          4.89
11        13          4.89
10        12          4.51
2         12          4.51
13        11          4.14
6         11          4.14
17         8          3.01
7          8          3.01
21         8          3.01
8          7          2.63
23         7          2.63
4          7          2.63
25         5          1.88
22         5          1.88
18         5          1.88
24         5          1.88
12         5          1.88
20         5          1.88
19         4          1.50
26         4          1.50
39         4          1.50
3          4          1.50
32         3          1.13
31         3          1.13
30         3          1.13
27         2          0.75
35         2          0.75
41         2          0.75
28         2          0.75
36         1          0.38
34         1          0.38
48         1          0.38
494        1          0.38
109        1          0.38
37         1          0.38
46         1          0.38
43         1          0.38
80         1          0.38
52         1          0.38
29         1          0.38

None
La categoría CÓDIGO_UNIDAD_GESTORA tiene 283 elementos diferentes:

Los elementos de la categoría son:

array(['110060', '110174', '135037', '130101', '135100', '440088',
       '373001', '130137', '490003', '420002', '180002', '550002',
       '330013', '240102', '364001', '113209', '240901', '365001',
       '245209', '364999', '203001', '415001', '121002', '167086',
       '673001', '122002', '773001', '160075', '120002', '773008',
       '110407', '873001', '168002', '123001', '164204', '699999',
       '120999', '211999', '170010', '183023', '170013', '201002',
       '510001', '114601', '193028', '173057', '380910', '173039',
       '333001', '280102', '183038', '173030', '264001', '114702',
       '170392', '806001', '170356', '225001', '170381', '179083',
       '179103', '113601', '287001', '173065', '201924', '179999',
       '170474', '170380', '158155', '154045', '150014', '154069',
       '153045', '158124', '153038', '158133', '344002', '158134',
       '158125', '153019', '154419', '153046', '154044', '153062',
       '153030', '153114', '158009', '158144', '153103', '158148',
       '158123', '154039', '158138', '158121', '154051', '158149',
       '154047', '158135', '153034', '158127', '158136', '158128',
       '153065', '153163', '158157', '158143', '153032', '158137',
       '158129', '153165', '158139', '158122', '153033', '158131',
       '158132', '154003', '158099', '153056', '158151', '153036',
       '158141', '153164', '154040', '154359', '158147', '154046',
       '158195', '158092', '158142', '153115', '155001', '153173',
       '154999', '158156', '158145', '154055', '158153', '153010',
       '153978', '154048', '153167', '153015', '153037', '153052',
       '153028', '158152', '158154', '154041', '158516', '153031',
       '158517', '158658', '153035', '153061', '158515', '158565',
       '154503', '154421', '154049', '153079', '154502', '154050',
       '158146', '153080', '153166', '154034', '158126', '154080',
       '154032', '158150', '153063', '154215', '154042', '154043',
       '155007', '154054', '113214', '393003', '393001', '277001',
       '200320', '390002', '682010', '110680', '393002', '275075',
       '110591', '395001', '110590', '396006', '396002', '396003',
       '396001', '396005', '396004', '399002', '113243', '200109',
       '200336', '200401', '200333', '194088', '303001', '200331',
       '200337', '200094', '200246', '194040', '200021', '110008',
       '330002', '255000', '254420', '366003', '250088', '253003',
       '253002', '366001', '366002', '410002', '115406', '413001',
       '413047', '410007', '207001', '110244', '240005', '244001',
       '240999', '113206', '495001', '320002', '323030', '323002',
       '323028', '325001', '113208', '490002', '275060', '275068',
       '537003', '537002', '537001', '113802', '195006', '560003',
       '533013', '533008', '530002', '560015', '533014', '443003',
       '533001', '533018', '533009', '913001', '443019', '440002',
       '447001', '193034', '443032', '443045', '380010', '344001',
       '185001', '423001', '403101', '403201', '340002', '203003',
       '540001', '344041', '344042', '187002', '110005', '238012',
       '200016', '110245', '690001', '243001', '110101', '110246',
       '110355'], dtype=object)

Los 10 CÓDIGO_UNIDAD_GESTORA que MAS aparecen son:

                       count  Porcentaje_recuento
CÓDIGO_UNIDAD_GESTORA
170013                   415                 9.23
510001                   109                 2.42
150014                    80                 1.78
135037                    52                 1.16
340002                    48                 1.07
167086                    46                 1.02
170010                    44                 0.98
153062                    43                 0.96
240901                    41                 0.91
153046                    41                 0.91

Los 10 CÓDIGO_UNIDAD_GESTORA que MENOS aparecen son:

                       count  Porcentaje_recuento
CÓDIGO_UNIDAD_GESTORA
399002                     1                 0.02
396006                     1                 0.02
240999                     1                 0.02
366002                     1                 0.02
415001                     1                 0.02
364999                     1                 0.02
690001                     1                 0.02
110101                     1                 0.02
110246                     1                 0.02
110355                     1                 0.02

 Las distribución de las repeticiones de los CÓDIGO_UNIDAD_GESTORA son:

       count  % repetición
count
1         22          7.77
14        18          6.36
11        15          5.30
5         15          5.30
16        14          4.95
10        14          4.95
2         14          4.95
15        14          4.95
9         13          4.59
13        11          3.89
6         10          3.53
17         9          3.18
8          8          2.83
7          8          2.83
4          8          2.83
23         7          2.47
21         6          2.12
22         6          2.12
24         5          1.77
19         5          1.77
25         5          1.77
3          5          1.77
20         5          1.77
12         5          1.77
18         5          1.77
26         4          1.41
39         3          1.06
32         3          1.06
31         3          1.06
27         3          1.06
30         3          1.06
36         2          0.71
35         2          0.71
41         2          0.71
34         1          0.35
52         1          0.35
48         1          0.35
415        1          0.35
46         1          0.35
44         1          0.35
43         1          0.35
109        1          0.35
80         1          0.35
29         1          0.35
28         1          0.35

None
La categoría NOMBRE_UNIDAD_GESTORA tiene 279 elementos diferentes:

Los elementos de la categoría son:

array(['COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU',
       'DIRETORIA DE GESTAO INTERNA/SE/CGU', 'EMBRAPA-SETORIAL',
       'COORD.-GERAL DE ORCAMENTO E FINANCAS-MAPA',
       'COMPANHIA NACIONAL DE ABASTECIMENTO',
       'SETORIAL PROG.ORCAMENTARIA E FINANCEIRA-SFB',
       'DPTO. DE ADMINISTRACAO FINANCEIRA-DAF - INCRA',
       'FUNDO DE DEFESA DA ECON.CAFEEIRA/FUNCAFE/SPA',
       'CREDITO FUNDIARIO',
       'COORD.GERAL DE PLAN. ORC. FIN. E CONTAB./MINC',
       'DEPARTAMENTO DE GESTAO INTERNA',
       'SETORIAL DE ORCAMENTO E FINANCAS/MC',
       'FUNDO NACIONAL DE ASSISTENCIA SOCIAL',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS',
       'CNPQ - ADMINISTRACAO CENTRAL', 'CNEN-ORCAMENTO E FINANCAS',
       'FUNDO NAC.DE DESENV. CIENT. E TECNOLOGICO',
       'FINANCIADORA DE ESTUDOS E PROJETOS',
       'CENTRO NACIONAL DE TECNOLOGIA ELETRONICA AVAN',
       'CNPQ - DIFERENCIA CAMBIAL', 'AGENCIA ESPACIAL BRASILEIRA/AEB',
       'EMPRESA BRASILEIRA DE CORREIOS E TELEGRAFOS',
       'SECRETARIA DE ECON. E FIN.DA AER.- F.AER.', 'FUNDO DO EXERCITO',
       'DIRETORIA DE FINANCAS-SISTEMA PARA O PAIS/MM',
       'AGENCIA NACIONAL DE AVIACAO CIVIL - F. AEROV.',
       'DIRETORIA DE FINANCAS DA MARINHA-SISTEMA-PAIS',
       'D CONT - SETORIAL FINANCEIRA',
       'DIRETORIA DE ECON E FINANCAS DA AERONAUTICA',
       'DIRETORIA DE FINANCAS DA MARINHA - CCCPM',
       'DEPARTAMENTO DE PLANEJ, ORC E FINANCAS (MD)',
       'INDUSTRIA DE MATERIAL BELICO DO BRASIL/GESTOR',
       'CAIXA FINANCIAMENTO IMOBILIARIO AERONAUTICA', 'FUNDACAO OSORIO',
       'FUNDO NAVAL - DIFERENCA CAMBIAL', 'MAER - DIFERENCA CAMBIAL',
       'MARINHA - DIFERENCA CAMBIAL',
       'SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB',
       'INSTITUTO NAC.DE METROLOG. QUALID. E TECNOLOG',
       'SETORIAL ORCAMENTARIA E FINANCEIRA / ME',
       'COORDENACAO-GERAL DE ORC. E FINANCAS/MP',
       'COORD.GERAL DE ORCAMENTO, FINANCAS E CONTAB.',
       'FUNDACAO IBGE-ADMINISTRACAO CENTRAL/RJ',
       'SUPERINTENDENCIA DA ZONA FRANCA DE MANAUS/AM',
       'BANCO CENTRAL DO BRASIL',
       'COORD-GERAL DE ORCAMENTO, FIN. E CONT.- CGOFC',
       'SUPERINTENDENCIA DE SEGUROS PRIVADOS - RJ',
       'COORD.GERAL DE ORC. FIN. E CONTABILIDADE',
       'COORDENACAO-GERAL DE ORCAM.FINAN.CONTAB/MDIC',
       'INSTITUTO NACIONAL DA PROPRIEDADE INDUSTRIAL',
       'COMISSAO DE VALORES MOBILIARIOS',
       'FUNDACENTRO - FUND.JORGE DUPRAT/CTN/SEDE - SP',
       'FUNDACAO ESCOLA NACIONAL DE ADM. PUBLICA',
       'FUNDO CONSTITUCIONAL DO DISTRITO FEDERAL',
       'SERPRO-SEDE - DEPARTAMENTO FINANCEIRO',
       'FUNDO DE GARANTIA A EXPORTACAO-BNDES',
       'CIA.DE ENTREPOSTOS E ARMAZENS GER.DE S.PAULO',
       'FUNDO DE COMPENSACAO E VARIACAO SALARIAL',
       'CASA DA MOEDA DO BRASIL', 'FUNDO DE ESTABILIDADE DO SEGURO RURAL',
       'INSTITUTO DE PESQUISA ECONOMICA APLICADA',
       'FUNDO DE GAR.P/PROMOC.DA COMPETITIVIDADE±FGPC',
       'FUNDO CONTINGENTE DA EXTINTA RFFSA-FC',
       'FUNDO NACIONAL DE DESENVOLVIMENTO',
       'STN - EXTERIOR - DIF.CAMBIAL', 'FUNDO SOBERANO DO BRASIL',
       'FUNDO DE APOIO AO DESENVOLVIMENTO SOCIAL',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO RN',
       'FUNDACAO UNIVERSIDADE FEDERAL DE MATO GROSSO',
       'SUBSECRETARIA DE PLANEJ. E ORCAMENTO SPO(MEC)',
       'FUNDACAO UNIVERSIDADE FEDERAL DE S.J.DEL-REI',
       'UNIVERSIDADE FEDERAL DO CEARA', 'IF GOIANO',
       'UNIVERSIDADE FEDERAL DA BAHIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO CEARA',
       'FUNDACAO JOAQUIM NABUCO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE SERGIPE',
       'INSTITUTO FEDERAL CATARINENSE - REITORIA',
       'UNIVERSIDADE TECNOLOGICA FEDERAL DO PARANA',
       'FUNDACAO UNIVERSIDADE FEDERAL DO TOCANTINS',
       'UNIVERSIDADE FEDERAL DO ESPIRITO SANTO',
       'FUNDACAO UNIVERSIDADE FEDERAL DO ACRE',
       'UNIVERSIDADE FEDERAL DE MINAS GERAIS',
       'UNIVERSIDADE FEDERAL DE ITAJUBA',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE DO SUL',
       'INST. FED. DO PARANA/ REITORIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MATO GROSSO',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE DO NORTE',
       'INST. FED. DE EDUC.,CIENC. E TEC. DE RONDONIA',
       'INSTITUTO FED CIENCIA TECNOL SUDESTE MG',
       'FUNDACAO UNIVERSIDADE DO AMAZONAS', 'IFPB - REITORIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO NORTE DE MG',
       'UNIVERSIDADE FEDERAL DE VICOSA',
       'INST.FED.DE ED.,CIENC.E TEC.DO S.PERNAMBUCANO',
       'FUNDACAO UNIVERSIDADE FEDERAL DE PELOTAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO PARA',
       'UNIVERSIDADE FEDERAL RURAL DA AMAZONIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.FARROUPILHA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE PERNAMBUCO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MARANHAO',
       'UNIVERSIDADE FEDERAL DA PARAIBA',
       'UNIVERSIDADE FEDERAL DE SANTA CATARINA', 'REITORIA',
       'IFB - REITORIA - BRASILIA-DF', 'UNIVERSIDADE FEDERAL DE LAVRAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO SUL DE MG',
       'INST FED DE EDUC CIENC E TECNOLOGIA BAIANO',
       'UNIVERSIDADE FEDERAL RURAL DE PERNAMBUCO',
       'INST.FED.DE EDUC.,CIENC.E TEC.FLUMINENSE',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE MINAS GERAIS',
       'UNIVERSIDADE FEDERAL RURAL DO SEMI-ARIDO - RN',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO TOCANTINS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MAT.G.DO SUL',
       'FUND.COORD.DE APERF.DE PESSOAL NIVEL SUPERIOR',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO TRIA.MINEIRO',
       'UNIVERSIDADE FEDERAL FLUMINENSE',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO ESP.SANTO',
       'UNIVERSIDADE FED.VALES JEQUITINHONHA E MUCURI',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO RS',
       'UNIVERSIDADE FEDERAL DE SANTA MARIA',
       'FUNDACAO UNIVERSIDADE DE BRASILIA - FUB',
       'FUNDACAO UNIVERSIDADE FEDERAL DO PAMPA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE ALAGOAS',
       'UNIVERSIDADE FEDERAL DE OURO PRETO',
       'UNIVERSIDADE FEDERAL DE CAMPINA GRANDE',
       'UNIVERSIDADE FEDERAL DO RECONCAVO DA BAHIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO AMAZONAS',
       'UNIVERSIDADE FEDERAL DO RIO DE JANEIRO',
       'HOSPITAL DE CLINICAS DE PORTO ALEGRE',
       'FUNDO NACIONAL DE DESENVOLVIMENTO DA EDUCACAO',
       'CAPES - DIFERENCA CAMBIAL',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO ACRE',
       'INST.FED.DE EDUC.,CIENC.E TEC.DA BAHIA',
       'FUNDACAO UNIVERSIDADE FEDERAL DE RONDONIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE GOIAS',
       'CENTRO FED.DE EDUC.TECNOL.CELSO S.DA FONSECA',
       'INST.NACIONAL DE EST.E PESQUISAS EDUCACIONAIS',
       'FUNDACAO UNIVERSIDADE FEDERAL DO PIAUI', 'COLEGIO PEDRO II',
       'CENTRO FEDERAL DE EDUCACAO TECNOLOGICA DE MG',
       'UNIVERSIDADE FEDERAL DE ALAGOAS', 'UNIVERSIDADE FEDERAL DE GOIAS',
       'UNIVERSIDADE FEDERAL DE ALFENAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE RORAIMA',
       'INSTITUTO FEDERAL DE SAO PAULO',
       'FUNDACAO UNIVERSIDADE DO MARANHAO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE STA.CAT/IFSC',
       'UNIFESP-UNIVERSIDADE FEDERAL DE SAO PAULO',
       'UNIVERSIDADE FEDERAL DA FRONTEIRA SUL',
       'UNIV. FEDERAL DA INTEGRACAO LATINO-AMERICANA',
       'UNIVERSIDADE FEDERAL DO TRIANGULO MINEIRO',
       'UNIVERSIDADE FEDERAL DE JUIZ DE FORA',
       'UNIVERSIDADE FEDERAL DO OESTE DO PARA',
       'UNIV.DA INTEG.INTERN.DA LUSOF.AFRO-BRASILEIRA',
       'FUNDACAO UNIVERSIDADE FEDERAL DO ABC',
       'FUND. UNIVERSIDADE FEDERAL VALE SAO FRANCISCO',
       'FUNDACAO UNIVERSIDADE FEDERAL DE SAO CARLOS',
       'UNIVERSIDADE FEDERAL DO PARANA',
       'FUNDACAO UNIVERSIDADE FED. DA GRANDE DOURADOS',
       'FUNDACAO UNIVERSIDADE FEDERAL DE SERGIPE',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO PIAUI',
       'UNIVERSIDADE FEDERAL DE PERNAMBUCO',
       'UNIVERSIDADE FEDERAL RURAL DO RIO DE JANEIRO',
       'UNIRIO UNIVERSIDADE FEDERAL DO ESTADO RJ',
       'INST.FED.DE EDUC.,CIE.E TEC.SUL-RIO-GRANDENSE',
       'UNIVERSIDADE FEDERAL DE RORAIMA',
       'FUND.UNIV.FED.DE.CIENC.DA SAUDE DE P.ALEGRE',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO AMAPA',
       'UNIVERSIDADE FEDERAL DO PARA',
       'FUNDACAO UNIVERSIDADE FEDERAL DO AMAPA',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE - FURG',
       'FUNDACAO UNIVERSIDADE FEDERAL DE UBERLANDIA',
       'EMPRESA BRASILEIRA DE SERVICOS HOSPITALARES',
       'FUNDACAO UNIVERS.FED. DE MATO GROSSO DO SUL',
       'AGENCIA NACIONAL DE AVIACAO CIVIL',
       'DEPART.NAC.INFRA ESTRUTURA TRANSPORTES.',
       'AGENCIA NACIONAL DE TRANSPORTES TERRESTRES',
       'FUNDO DA MARINHA MERCANTE',
       'FUNDO NACIONAL DE SEG. E EDUCACAO DE TRANSITO',
       'SUBSECRETARIA DE PLAN.,ORCAM.E ADMIN.SETORIAL',
       'AGENCIA NACIONAL DE TRANSPORTES AQUAVIARIOS',
       'SECRETARIA DE PORTOS/PR',
       'VALEC ENGENHARIA CONSTRUCOES E FERROVIAS S/A.',
       'FUNDO NACIONAL DE AVIACAO CIVIL',
       'EMPRESA DE PLANEJAMENTO E LOGISTICA S.A - EPL',
       'SECRETARIA DE AVIACAO CIVIL/PR',
       'COMPANHIA DOCAS DO ESTADO DE SAO PAULO',
       'COMPANHIA DOCAS DO ESTADO DA BAHIA', 'COMPANHIA DOCAS DO CEARA',
       'COMPANHIA DOCAS DO RIO DE JANEIRO',
       'COMPANHIA DOCA DO RIO GRANDE DO NORTE', 'COMPANHIA DOCAS DO PARA',
       'COMPANHIA DOCAS DO ESPIRITO SANTO',
       'SUPERINT. INFRAESTRUTURA AEROPORTUARIA - ANAC',
       'DEPTO.DE POLICIA RODOVIARIA FEDERAL',
       'COORDENACAO DE ORCAMENTO FINANCAS CONTABILIDA',
       'FUNDO DE DEFESA DOS DIREITOS DIFUSOS',
       'DEPEN - DIRETORIA EXECUTIVA', 'FUNDACAO NACIONAL DO INDIO - U.O.',
       'CONSELHO ADMINISTRATIVO DE DEFESA ECONOMICA',
       'FUNDO NACIONAL DE SEGURANCA PUBLICA - FNSP',
       'COORDENACAO DE ORCAMENTO E FINANCAS - COF/DPF',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS-MJ',
       'FUNDO NACIONAL ANTIDROGAS', 'RENDA DO PATRIMONIO INDIGENA',
       'SECRETARIA DE POLITICAS PARA AS MULHERES',
       'SECRETARIA EXECUTIVA-MPA',
       'COORDENACAO-GERAL DE ORC. FIN.E CONTABILIDADE',
       'FUNDACAO NACIONAL DE SAUDE - DF', 'FUNDACAO OSWALDO CRUZ',
       'HOSPITAL NOSSA SENHORA DA CONCEICAO S/A',
       'SPO-COORD.-GERAL DE ORC.E FINANCAS/MS',
       'AGENCIA NACIONAL DE SAUDE SUPLEMENTAR',
       'AGENCIA NACIONAL DE VIGILANCIA SANITARIA',
       'HOSPITAL CRISTO REDENTOR S/A', 'HOSPITAL FEMINA S/A',
       'EMPRESA BRASIL DE COMUNICACAO S.A',
       'AGENCIA NACIONAL DE TELECOMUNICACOES-SEDE',
       'FUNDO DE UNIVERS.DOS SERV.TELECOMUNICACOES',
       'FUNDO P/O DESENV.TECNOL.DAS TELECOMUNICACOES',
       'FUNDO NACIONAL DO IDOSO',
       'FUNDO NACIONAL PARA A CRIANCA E O ADOLESCENTE',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS-MRE',
       'FUNDACAO ALEXANDRE DE GUSMAO', 'MRE - DIFERENCA CAMBIAL',
       'INDUSTRIAS NUCLEARES DO BRASIL S/A - INB',
       'COMPANHIA DE PESQUISA DE RECURSOS MINERAIS',
       'COORD.GERAL DE ORCAM.E FIN./M.M.E',
       'AG. NAC.DO PETROLEO GAS NAT.E BIOCOM',
       'DEPARTAMENTO NAC. DE PRODUCAO MINERAL - SEDE',
       'AGENCIA NACIONAL DE ENERGIA ELETRICA',
       'EMPRESA DE PESQUISA ENERGETICA',
       'NUCLEBRAS EQUIPAMENTOS PESADOS S/A-NUCLEP',
       'SUBSEC. DE PLANEJ., ORCAMENTO E ADMINISTRACAO',
       'EMPRESA DE TRENS URBANOS DE PORTO ALEGRE S/A',
       'CIA BRASILEIRA DE TRENS URBANOS-ADM.CENTRAL',
       'FUNDO CONSTITUCIONL DO CENTRO OESTE',
       'FUNDO CONSTITUCIONAL FINANCIAMENTO NORTE',
       'FUNDO CONSTITUCIONAL DE FINANCIAM.DO NORDESTE',
       'DEPARTAMENTO NAC. DE OBRAS CONTRA AS SECAS/UO',
       'CIA DE DES.DOS VALES DO S.FRANC.E DO PARNAIBA',
       'SECRETARIA EXECUTIVA - MINISTERIO DAS CIDADES',
       'SUPERINTEND. DO DESENVOLVIMENTO DA AMAZONIA',
       'FUNDO DE DESENVOLVIMENTO DA AMAZONIA', 'ORCAMENTO E FINANCAS/MDR',
       'FUNDO NACIONAL DE HABIT. DE INTERESSE SOCIAL',
       'SUPERINTENDENCIA DO DESENVOLV. DO NORDESTE',
       'COORDENACAO DE ORCAMENTO E FINANCAS.',
       'AGENCIA DE DESENVOLVIMENTO DA AMAZONIA',
       'SUPERINT. DO DESENVOLVIMENTO DO CENTRO-OESTE',
       'FUNDO DE DESENVOLVIMENTO DO NORDESTE',
       'AUTORIDADE PUBLICA OLIMPICA',
       'COORD. DE PLAN. ORCAMENTO E FIN./COPLAN/JBRJ',
       'SUBSECRET.PLANEJAM.ORCAM.E ADMINIST±SPOA(MMA)',
       'SETORIAL ORCAMENTARIA E FINANCEIRA DO FNMC',
       'IBAMA - INST.BRASILEIRO MEIO AMBIENTE/MATRIZ',
       'INST.CHICO MENDES DE CONSER.DA BIODIVERSIDADE',
       'SETORIAL ORCAMENTARIA E FINANCEIRA DO FNMA',
       'COORD-GERAL DE ORCAM., FIN. E CONTABILIDADE',
       'FUNDACAO CASA DE RUI BARBOSA',
       'INSTITUTO BRASILEIRO DE TURISMO - EM EXTINCAO',
       'INSTITUTO BRASILEIRO DE MUSEUS - IBRAM',
       'INSTITUTO DO PATRIMONIO HIST. E ART. NACIONAL',
       'FUNDACAO NACIONAL DE ARTES',
       'COORD.GERAL DE PLAN. ORC. FIN. E CONTAB/FNC',
       'AGENCIA NACIONAL DO CINEMA', 'CGOFC - SETORIAL/MTUR',
       'FUNDACAO CULTURAL PALMARES', 'FUNDACAO BIBLIOTECA NACIONAL',
       'FUNDO GERAL DE TURISMO-FUNGETUR',
       'SECRETARIA DE ADMINISTRACAO-SET.ORC.E FIN./PR',
       'SECRETARIA DE POLIT. DE PROM.DA IGUALD.RACIAL',
       'SECRETARIA DE DIREITOS HUMANOS/PR',
       'FUNDO DE IMPRENSA NACIONAL/EXEC.ORC.FINANC.',
       'SECRETARIA DA MICRO E PEQUENA EMPRESA',
       'INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI',
       'GABINETE DA VICE-PRESIDENCIA DA REPUBLICA',
       'SECRETARIA DE ASSUNTOS ESTRATEGICOS-SAE/PR'], dtype=object)

Los 10 NOMBRE_UNIDAD_GESTORA que MAS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_UNIDAD_GESTORA
SETORIAL ORCAMENTARIA E FINANCEIRA / ME          415                 9.23
COORD.GERAL DE ORCAMENTO, FINANCAS E CONTAB.     109                 2.42
SUBSECRETARIA DE PLANEJ. E ORCAMENTO SPO(MEC)     80                 1.78
EMBRAPA-SETORIAL                                  52                 1.16
COORD.GERAL DE PLAN. ORC. FIN. E CONTAB/FNC       48                 1.07
DIRETORIA DE FINANCAS-SISTEMA PARA O PAIS/MM      47                 1.04
FUNDO DO EXERCITO                                 46                 1.02
SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB       44                 0.98
UNIVERSIDADE FEDERAL DE MINAS GERAIS              43                 0.96
FUNDO NAC.DE DESENV. CIENT. E TECNOLOGICO         41                 0.91

Los 10 NOMBRE_UNIDAD_GESTORA que MENOS aparecen son:

                                             count  Porcentaje_recuento
NOMBRE_UNIDAD_GESTORA
COMPANHIA DOCAS DO PARA                          1                 0.02
COMPANHIA DOCAS DO ESPIRITO SANTO                1                 0.02
MRE - DIFERENCA CAMBIAL                          1                 0.02
HOSPITAL FEMINA S/A                              1                 0.02
EMPRESA BRASILEIRA DE CORREIOS E TELEGRAFOS      1                 0.02
CNPQ - DIFERENCIA CAMBIAL                        1                 0.02
SETORIAL ORCAMENTARIA E FINANCEIRA DO FNMC       1                 0.02
SECRETARIA DA MICRO E PEQUENA EMPRESA            1                 0.02
GABINETE DA VICE-PRESIDENCIA DA REPUBLICA        1                 0.02
SECRETARIA DE ASSUNTOS ESTRATEGICOS-SAE/PR       1                 0.02

 Las distribución de las repeticiones de los NOMBRE_UNIDAD_GESTORA son:

       count  % repetición
count
1         21          7.53
14        18          6.45
5         14          5.02
10        14          5.02
16        14          5.02
15        14          5.02
2         14          5.02
9         13          4.66
11        13          4.66
13        11          3.94
6         10          3.58
17         9          3.23
8          8          2.87
7          8          2.87
4          7          2.51
23         7          2.51
21         6          2.15
12         6          2.15
22         6          2.15
19         5          1.79
20         5          1.79
18         5          1.79
25         5          1.79
3          5          1.79
24         4          1.43
26         4          1.43
32         3          1.08
27         3          1.08
30         3          1.08
39         3          1.08
31         3          1.08
35         2          0.72
41         2          0.72
36         1          0.36
44         1          0.36
33         1          0.36
34         1          0.36
47         1          0.36
46         1          0.36
80         1          0.36
109        1          0.36
415        1          0.36
52         1          0.36
43         1          0.36
48         1          0.36
29         1          0.36
28         1          0.36

None
La categoría CATEGORÍA_ECONÓMICA tiene 5 elementos diferentes:

Los elementos de la categoría son:

array(['Receitas Correntes', 'Receitas de Capital',
       'Receitas Correntes - intra-orçamentárias', 'Sem informação',
       'Receitas de Capital - intra-orçamentárias'], dtype=object)

Los 10 CATEGORÍA_ECONÓMICA que MAS aparecen son:

                                           count  Porcentaje_recuento
CATEGORÍA_ECONÓMICA
Receitas Correntes                          4001                88.95
Receitas de Capital                          259                 5.76
Receitas Correntes - intra-orçamentárias     236                 5.25
Sem informação                                 1                 0.02
Receitas de Capital - intra-orçamentárias      1                 0.02

Los 10 CATEGORÍA_ECONÓMICA que MENOS aparecen son:

                                           count  Porcentaje_recuento
CATEGORÍA_ECONÓMICA
Receitas Correntes                          4001                88.95
Receitas de Capital                          259                 5.76
Receitas Correntes - intra-orçamentárias     236                 5.25
Sem informação                                 1                 0.02
Receitas de Capital - intra-orçamentárias      1                 0.02

 Las distribución de las repeticiones de los CATEGORÍA_ECONÓMICA son:

       count  % repetición
count
1          2         40.00
4001       1         20.00
259        1         20.00
236        1         20.00

None
La categoría ORIGEN_INGRESO tiene 15 elementos diferentes:

Los elementos de la categoría son:

array(['Outras Receitas Correntes', 'Receita de Serviços',
       'Transferências de Capital', 'Alienação de Bens',
       'Receita Agropecuária', 'Transferências Correntes',
       'Receita Patrimonial', 'Operações de Crédito',
       'Impostos, Taxas e Contribuições de Melhoria',
       'Amortizações de Empréstimos', 'Contribuições',
       'Receita Industrial', 'Outras Receitas de Capital',
       'Receitas Correntes - a classificar', 'Sem informação'],
      dtype=object)

Los 10 ORIGEN_INGRESO que MAS aparecen son:

                                             count  Porcentaje_recuento
ORIGEN_INGRESO
Outras Receitas Correntes                     1982                44.06
Receita de Serviços                            978                21.74
Receita Patrimonial                            621                13.81
Alienação de Bens                              184                 4.09
Impostos, Taxas e Contribuições de Melhoria    176                 3.91
Contribuições                                  176                 3.91
Transferências Correntes                       126                 2.80
Receita Agropecuária                           105                 2.33
Receita Industrial                              61                 1.36
Amortizações de Empréstimos                     24                 0.53

Los 10 ORIGEN_INGRESO que MENOS aparecen son:

                                    count  Porcentaje_recuento
ORIGEN_INGRESO
Contribuições                         176                 3.91
Transferências Correntes              126                 2.80
Receita Agropecuária                  105                 2.33
Receita Industrial                     61                 1.36
Amortizações de Empréstimos            24                 0.53
Transferências de Capital              22                 0.49
Operações de Crédito                   20                 0.44
Receitas Correntes - a classificar     12                 0.27
Outras Receitas de Capital             10                 0.22
Sem informação                          1                 0.02

 Las distribución de las repeticiones de los ORIGEN_INGRESO son:

       count  % repetición
count
176        2         13.33
1982       1          6.67
978        1          6.67
621        1          6.67
184        1          6.67
126        1          6.67
105        1          6.67
61         1          6.67
24         1          6.67
22         1          6.67
20         1          6.67
12         1          6.67
10         1          6.67
1          1          6.67

None
La categoría TIPO_INGRESO tiene 44 elementos diferentes:

Los elementos de la categoría son:

array(['Bens, Direitos e Valores Incorporados ao Patr',
       'Indenizações, restituições e ressarcimentos',
       'Multas administrativas, contratuais e judicia',
       'Demais receitas correntes', 'Receita de Serviços',
       'Transferências de Instituições Privadas',
       'Alienação de bens móveis',
       'Receita da produção animal e derivados',
       'Transferências dos Municípios e de suas Entid',
       'Alienação de bens imóveis', 'Transferências de Pessoas Físicas',
       'Valores Mobiliários',
       'Exploração do patrimônio imobiliário do Estad',
       'Operações de crédito - mercado interno', 'Taxas',
       'Delegação de Serviços Públicos Mediante Conce',
       'Outras receitas agropecuárias', 'Amortizações de Empréstimos',
       'Contribuições econômicas', 'Transferências de Convênios',
       'Indenizações e restituições',
       'Receitas da indústria de transformação', 'Contribuições sociais',
       'Receita dívida ativa alienação de estoques de',
       'Receita da produção vegetal',
       'Receita dívida ativa proveniente de amortizaç',
       'Exploração de recursos naturais',
       'Receitas Correntes - a classificar',
       'Receita de concessões e permissões',
       'Demais receitas patrimoniais', 'Cessão de direitos',
       'Transferências de Outras Instituições Pública',
       'Operações de crédito - mercado externo', 'Impostos',
       'Resultado do Banco Central do Brasil',
       'Receitas decorrentes de aportes periódicos pa', 'Sem informação',
       'Receitas de valores mobiliários',
       'Receitas decorrentes de compensações ao Regim',
       'Receita títulos do tesouro nacional resgatado',
       'Remuneração das Disponibilidades do Tesouro N', 'Outras receitas',
       'Transferências do Exterior',
       'Transferências dos Estados e do Distrito Fede'], dtype=object)

Los 10 TIPO_INGRESO que MAS aparecen son:

                                               count  Porcentaje_recuento
TIPO_INGRESO
Receita de Serviços                              978                21.74
Multas administrativas, contratuais e judicia    911                20.25
Indenizações, restituições e ressarcimentos      654                14.54
Exploração do patrimônio imobiliário do Estad    302                 6.71
Demais receitas correntes                        229                 5.09
Bens, Direitos e Valores Incorporados ao Patr    163                 3.62
Valores Mobiliários                              160                 3.56
Alienação de bens móveis                         156                 3.47
Impostos                                         124                 2.76
Contribuições sociais                            115                 2.56

Los 10 TIPO_INGRESO que MENOS aparecen son:

                                               count  Porcentaje_recuento
TIPO_INGRESO
Receitas de valores mobiliários                    2                 0.04
Receita dívida ativa proveniente de amortizaç      2                 0.04
Resultado do Banco Central do Brasil               2                 0.04
Receita dívida ativa alienação de estoques de      1                 0.02
Receitas decorrentes de aportes periódicos pa      1                 0.02
Sem informação                                     1                 0.02
Receitas decorrentes de compensações ao Regim      1                 0.02
Remuneração das Disponibilidades do Tesouro N      1                 0.02
Outras receitas                                    1                 0.02
Transferências do Exterior                         1                 0.02

 Las distribución de las repeticiones de los TIPO_INGRESO son:

       count  % repetición
count
1          7         15.91
2          3          6.82
61         2          4.55
23         2          4.55
13         2          4.55
4          2          4.55
654        1          2.27
978        1          2.27
156        1          2.27
124        1          2.27
85         1          2.27
911        1          2.27
229        1          2.27
163        1          2.27
160        1          2.27
302        1          2.27
49         1          2.27
52         1          2.27
60         1          2.27
66         1          2.27
115        1          2.27
24         1          2.27
28         1          2.27
48         1          2.27
12         1          2.27
17         1          2.27
18         1          2.27
9          1          2.27
5          1          2.27
7          1          2.27
8          1          2.27
3          1          2.27

None
La categoría DETALLE tiene 704 elementos diferentes:

Los elementos de la categoría son:

array(['REC.DIVIDA ATIVA NAO TRIBUTARIA DE OUTRAS REC',
       'RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES',
       'OUTRAS MULTAS E JUROS DE MORA',
       'REC.DIV.ATIVA POR INFRAÇÃO ADMINISTRATIVA', 'OUTRAS RESTITUICOES',
       'OUTRAS RECEITAS', 'MULTAS E JUROS PREVISTOS EM CONTRATOS',
       'OUTRAS INDENIZACOES', 'OUTRAS MULTAS',
       'RECEITA DE ÔNUS DE SUCUMBÊNCIA',
       'RECEITA DE HONORÁRIOS DE ADVOGADOS',
       'OUTROS SERVICOS FINANCEIROS', 'SERVICOS ADMINISTRATIVOS',
       'RESTITUICOES DE CONVENIOS',
       'Transferências de Instituições Privadas', 'ALIENACAO DE VEICULOS',
       'Receita da produção animal e derivados',
       'Transferências dos Municípios e de suas Entid',
       'VARIACAO CAMBIAL', 'RESTITUICOES DE BENEFICIOS NAO DESEMBOLSADOS',
       'ALIENACAO IMOV.RURAIS P/ COLON. E REF.AGRARIA',
       'SERVICOS DE TRANSFERENCIA DE TECNOLOGIA',
       'TRANSF.DE CONV.DOS ESTADOS,DF E S/ENTIDADES',
       'SERVICOS DE REGISTRO DO COMERCIO',
       'MULTAS E JUROS DE MORA DE DIVIDENDOS', 'SERVICOS DE TECNOLOGIA',
       'SERV.DE COM.LIVROS PERIOD.MAT.ESC.E PUBLICID.',
       'ALIENACAO DE IMOVEIS RURAIS',
       'TRANSF.DE CONVENIOS DA UNIAO DE S/ENTIDADES',
       'ALIENACAO DE TITULOS MOBILIARIOS', 'JUROS DE TITULOS DE RENDA',
       'TAXA DE OCUPACAO DE OUTROS IMOVEIS', 'SERVICOS DE ARMAZENAGEM',
       'TITULOS DA DIVIDA AGRARIA - TDA',
       'MULTAS S/ FISCALIZACAO REDE DE PROD.ORGANICA',
       'MULTAS E JUROS DE MORA  OUTRAS CONTRIBUICOES',
       'SERVICOS DE ESTUDOS E PESQUISAS',
       'TAXA DE CLASSIFICACAO DE PRODUTOS VEGETAIS',
       'REC.DIV.ATIVA RESSARCIMENTO AO ERARIO',
       'ALIENACAO DE OUTROS BENS MOVEIS',
       'REC.DIV.ATIVA RESSARC.ERARIO-DECISAO TCU',
       'REC. CUSTOS DE EDITAL DE CONCESSAO FLORESTAL',
       'INDENIZ. POR  DANOS CAUSADOS AO PATR. PUBLICO',
       'TAXA DE OCUPACAO DE TERRENOS DA UNIAO',
       'Outras receitas agropecuárias',
       'PARCEL-OUTRAS MULTA/J DE MORA DIV AT OUT REC',
       'REC. CONCESS. FLORESTAS NACIONAIS - VALOR MIN',
       'ALIENACAO DE MOVEIS E UTENSILIOS',
       'AMORTIZACOES DE EMPRESTIMOS DIVERSOS', 'ARRENDAMENTOS',
       'CONTRIBUICAO S/ APOSTAS EM COMPET. HIPICAS',
       'TRANSFERENCIAS CONVENIOS DA UNIAO E ENTIDADES',
       'ALIENACAO DE EQUIPAMENTOS',
       'REC.SEGUROS DECOR. INDENIZAÇÃO POR SINISTRO',
       'OUTROS RECEITAS DE SERVICOS',
       'MUL.JUR. MORA ALIEN. DE OUTROS BENS IMOVEIS',
       'ALIENACAO DE IMOVEIS URBANOS',
       'ALIENACAO DE ANIMAIS REPRODUTORES E MATRIZES',
       'RECEITA DA INDUSTRIA DE BEBIDAS E DESTILADOS',
       'TRANSF.DOS ESTADOS DF E SUAS ENTIDADES',
       'AMORTIZACOES DE PROJETOS',
       'REC. CONCESS. FLOREST. NACION. - DEMAIS VALOR',
       'MULTAS E JUROS DE MORA DE TAXAS DE OCUPACAO',
       'DIVIDENDOS, PARTICIP. JUROS S/CAPITAL PROPRIO',
       'OUTROS SERVICOS COMERCIAIS',
       'ALIENACAO DE ESTOQUES PROPRIOS DO FUNCAFE', 'ALUGUEIS',
       'CONTRIBUICAO INDUSTRIAL RURAL', 'TAXAS DE SERVICOS CADASTRAIS',
       'TRANSFER. CONVENIOS DE INSTITUICOES PRIVADAS',
       'SERVICOS AGROPECUARIOS',
       'Receita dívida ativa alienação de estoques de',
       'AMORTIZACOES DE CONTRATOS',
       'SERV.COMERCIAIS DE PROD.DADOS E MAT.INFORMATI',
       'MULTAS E JUROS DE MORA DE ALUGUEIS',
       'SERVICO DE INFORMACOES CIENTIFICAS E TECNOLOG',
       'SERV.CONS,ASS.TEC.E AN.PROJ-APLICAÇÕES LIVRES',
       'RECEITA DA INDUSTRIA EDITORIAL E GRAFICA',
       'Receita da produção vegetal',
       'ADICIONAL A CONTRIBUICAO PREVIDENCIARIA',
       'OUTRAS RECEITAS EVENTUAIS', 'SERVICOS DE METEOROLOGIA',
       'SERVICOS DE HOSPEDAGEM E ALIMENTACAO',
       'OUTRAS RECEITAS DE BENS IMOVEIS', 'JUROS DE EMPRESTIMOS',
       'SERVICOS DE COMERC. E DISTRIB. PROD. AGROPEC.',
       'Receita dívida ativa proveniente de amortizaç',
       'REMUNERACAO DE DEPOSITOS BANCARIOS',
       'REC. DE LEILOES DE MERCADORIAS APREENDIDAS',
       'CONTRIBUICAO S/RECEITA DA LOTERIAL FEDERAL',
       'PRODUTO DEP.ABANDONADO(DINHEIRO/OBJETO VALOR)',
       'TAR.INSCR.CONCURSOS E PROCESSOS SELETIVOS',
       'MUL.APLIC.PELOS TRIBUNAIS DE CONTAS',
       'PROVENIENTES DE PESSOAS FISICAS',
       'CONTRIBUICAO S/RECEITA LOTERIA ESPORTIVA',
       'CONTR.S/REC.CONC.PROG.DEST.PRAT.DESP-MOD.FUTE',
       'CONTRIBUICAO S/RECEITA LOTERIAS DE NUMEROS',
       'REMUNERACAO DE SALDOS NAO DESEMBOLSADOS',
       'PROVENIENTES DE PESSOAS JURIDICAS',
       'PROVENIENTES DE DEPOSITOS NAO IDENTIFICADOS',
       'ALIENACAO ESTOQUES ADQUIR. AGRICUL. FAMILIAR',
       'SERVICOS RECREATIVOS E CULTURAIS',
       'CONTR.-EMP.INSTALADAS NA AMAZONIA - EXCEDENTE',
       'SERVICOS DE REMUNERACAO REP. PROG.DES.ECONOM.',
       'CON. S/REC.OPER.BRUTA EMPR.PREST.SERV.TELECOM',
       'ROYAL.EXCED.PROD.PETR.GAS.NAT.TERRA-CONCESSAO',
       'MULT.J.MORA REC. EXPLORACAO RECURSOS MINERAIS',
       'RECEITA DA INDUSTRIA ELETRONICA',
       'EXPLORACAO DE RECURSOS MINERAIS',
       'MULT.J.MORA DIV.AT.COTA ADIC.FR.MARINHA MERC.',
       'CONTRIBUIçãO S/REC.CONCESS.PERMISS.ENERG.ELET',
       'Receitas Correntes - a classificar',
       'CONTR.-EMP.INSTALADAS NA AMAZONIA - RESIDUAL',
       'MUL.JUR.MORA CONT.REC.CONCES.ENERGIA ELETRICA',
       'CONTRIBUIçãO P/ LIC.USO,AQUIS.OU TRANSF.TECN.',
       'CONTR-EMP.INSTAL.DEMAIS REGIOES-PARCELAMENTO',
       'COTA-PARTE ADIC.FRETE P/ RENOV.MARIN.MERCANTE',
       'RECEITA DA INDUSTRIA DE PROD. FARMOQUIMICOS',
       'RECEITA DA INDÚST. DE PRODUTOS FARMACÊUTICOS',
       'SERVICOS DE INSPECAO E FISCALIZACAO',
       'OUTORG DIREITO EXPLORACAO SATELITE BRASILEIRO',
       'MULT.J.MORA DIV.AT. EXPLOR. RECURSOS MINERAIS',
       'METROLOGIA CIENTIFICA E INDUSTRIAL',
       'RECEITA DA INDUSTRIA DE PROD.FARMOQUIMICOS',
       'CONTR-EMP.INSTALADAS DEMAIS REGIOES-RESIDUAL',
       'MULT.JUR MOR DA CONTRIB S/REC OP BRT SERV TEL',
       'REC.DIV.AT. COTA-PARTE AD.FR.P/REN MAR. MERC.',
       'ROYAL.EXCED.PROD.PETR.GAS.NAT.PLATA-CONCESSAO',
       'REC. OUTORG. DIREITO DE USO RADIODIFREQUENCIA',
       'OUTROS SERV.REGIST.MARCAS,PATENTES,TRANSF.TEC',
       'TX.LIC.,CONTR, FISC.MAT NUC.RADIOATIVO INSTAL',
       'MUL.JUR.MOR.DIV.ATIV.OUTORG.DIR.USO RADIOFREQ',
       'Demais receitas patrimoniais',
       'CONTR-EMP.INSTALADAS DEMAIS REGIOES-PRINCIPAL',
       'UTIL.RECURSO HIDRICOS - ITAIPU',
       'RECEITA DIV.ATIV DA OUTORGA DIREITO USO RADIO',
       'OPERACOES DE CREDITO INTERNAS - CONTRATUAIS',
       'CONTR-EMP.INSTALADAS DEMAIS REGIOES-EXCEDENTE',
       'REC.DIVIDA ATIVA EXPLORACAO RECURSOS MINERAIS',
       'UTIL.RECURSO HIDRICOS - DEMAIS EMPRESAS',
       'CONTR-EMP.INSTALADAS NA AMAZONIA-PARCELAMENTO',
       'CONTR.-EMP.INSTALADAS NA AMAZONIA - PRINCIPAL',
       'ROYAL.EXCED.PROD.PETR.GAS.NAT.PLATA-CONC.2009',
       'MULT.JUR.MOR OUTORGA DIR USO RADIOFREQUENCIA',
       'SERVICO DE REPARACAO, MANUTENCAO E INSTALACAO',
       'ROYAL.PROD.PETR.GAS.NAT.PLATAF(CONCESSAO)',
       'OUTRAS MULT.JUR.MORA DIV.ATIV.OUTR.RECEITAS',
       'SERVICOS DE COMERCIALIZACAO DE MEDICAMENTOS',
       'RECEITA DE COMERCIALIZAÇÃO DE FARDAMENTOS',
       'SERVICOS EDUCACIONAIS',
       'MULTAS PREVISTAS NA LEI DO SERVICO MILITAR',
       'REC. CONCESS. DE DIREITO REAL USO AREA PUBLIC',
       'TAXA DE FISCALIZACAO PROD.CONTR.MIN.EXERCITO',
       'AMORTIZACOES DE BENS', 'SERVICOS PORTUARIOS',
       'OUTRAS RECEITAS DA INDUSTRIA DE TRANSFORMACAO',
       'RECEITA CESSAO DIR.OPERACIONALIZACAO FOPAG',
       'TARIFA DE UTILIZACAO DE FAROIS',
       'Transferências de Outras Instituições Pública',
       'RECEITA DA INDUSTRIA MECANICA',
       'ADICIONAL S/ TARIFA USO COM E AUX NAVEG AEREA',
       'ALIENACAO DE EMBARCACOES', 'SERVICOS HOSPITALARES',
       'OUTRAS OPERACOES DE CREDITO EXTERNAS',
       'OUTRAS RECEITAS DE SERVICOS',
       'SERVICOS DE PROCESSAMENTO DE DADOS',
       'SERV ASSIST SAUDE SUPLEMENTAR SERVIDOR CIVIL',
       'CONTRIBUICAO PARA DESENV.ENS.PROFIS.MARITIMO', 'TAXA MILITAR',
       'SERV.FINANC.DE COMPENS.DE VARIACOES SALARIAIS',
       'SERVICOS DE TRANSPORTE RODOVIARIO',
       'TRANSF.CONV.DOS MUNICIPIOS E SUAS ENTIDADEDES',
       'COTA-PARTE DO SERV.NO FUNDO DE SAUDE MILITAR',
       'ROYAL.PROD.PETR.GAS.NAT.PLATAF(CONCESSAO)2010',
       'SERVICOS DE TRANSPORTE HIDROVIARIO',
       'SERVICOS DE REPARACAO,MANUTENCAO E INSTALACAO',
       'MULTAS DO REGULAMENTO  P/  O TRAFEGO MARITIMO',
       'SERVICOS DE TRANSPORTE AEREO',
       'OPERACOES DE CREDITOS EXTERNAS - CONTRATUAIS',
       'EMOLUMENTOS E CUSTAS JUDICIAIS',
       'MULTAS E JUROS DE MORA DE ARRENDAMENTOS',
       'MULTAS PREVISTAS NO COD.BRAS. DE AERONAUTICA',
       'RECEITA DA INDUSTRIA QUIMICA',
       'MULTAS E JUROS DE MORA TAXA FISC. PROD. MEX',
       'ADICIONAL SOBRE TARIFA AEROPORTUARIA',
       'TARIF USO COMUN E AUX.NAVEGACAO AEREA EM ROTA',
       'TARIFA AEROPORTUARIA',
       'ROYAL.PROD.PETR.GAS.NAT.PLATAF(CONCESSAO)2009',
       'CONTRIB.PARA CUSTEIO DAS PENSOES MILITARES',
       'TAXA OCUPACAO IMOVEIS FUN. PROP. NAC. RESID.',
       'RETIDO NAS FONTES - TRABALHO',
       'REC.DIVIDA ATIVA COFINS - PRINCIPAL',
       'MULTAS E JUROS DE MORA DE LAUDEMIOS',
       'CONTRIBUICAO PREVID.SEGURADO OBRIG.-EMPRESAR.',
       'MULTAS JUR.MORA DIV.AT.CONTR.PREV.SEG.ESPECIA',
       'REC PARC - MULTA/JUROS DE MORA DIV ATIVA CSLL',
       'MULTAS E JUROS DE MORA - IRPF',
       'REC. MULTA E JUROS MORA IMP OP CRED - IOF',
       'BONUS ASSINATURA CONTRATO PARTILHA PRODUCAO',
       'CONTRIBUICAO PARA O PIN',
       'RECEITA REMESSA DE REND. EXPLORACAO DE OBRAS',
       'RESTIT.PARC.SEGURO DESEMPREGO RECEB INDEVIDAM',
       'MULTAS PREVISTA NA LEGISLACAO  DE METROLOGIA',
       'EMPRESAS - ESPETACULOS ESPORTIVOS', 'IOF - DEMAIS OPERACOES',
       'MULTA ALIEN.BENS IMOVEIS DOM.UNIAO',
       'MULT.J.MORA REC.SUSPENSAO DIR.PROPR.INTELEC',
       'JUROS MORA FUNDAF - REC PARC DIV ATIV DA CSLL',
       'REC.DO PRINCIPAL DA CONTR. P FIN. SEG. SOCIAL',
       'MULTAS JUR. MORA DIV.ATIVA IR-PESSOA JURIDICA',
       'MULT.JUR MOR CONTRIB P/ FOMENTO RADIODIFUSAO',
       'JUROS MORA DO FUNDAF - DIV. ATIVA DA CPMF',
       'REC.MULTA/MORA DIV ATIVA IMP S/IMPORTACAO.',
       'MULTAS J.MORA DIV.ATIVA-CONTR. FIN.SEG.SOCIAL',
       'CONTRIBUICAO PARA O PROTERRA',
       'METROLOGIA LEGAL E CERTIFICATORIA DELEGADA',
       'MUL.JUR.DA.CONTR.PREV.EMPRESAS S/ REC.BRUTA',
       'MULT. J.MORA CONTR.REL.DESP.EMP. S/ J.CAUSA',
       'RETIDO NAS FONTES - REMESSA AO EXTERIOR',
       'REC. DO PRINCIPAL DO IMPOSTO S/ A EXPORTACAO',
       'PART.ESP.PROD.PETR.PLATA.COM ANTES DE 3/12/12',
       'RES.BCO CENTRAL-OPER.C/RESERV.E DER.CAMBIAIS',
       'MULT.JUR MORA DA OUTORGA DOS SERV DE RADIODIF',
       'MULTAS JUR.MORA.DIV.ATIV.-AUTO DE INFRACAO',
       'MULTAS/J.MORA CONTR.PREV.DO SEGURADO ESPECIAL',
       'LOJAS FRANCAS ENTREP.ADUAN. DEP.ALFANDEGADOS',
       'REC.DIV.ATIVA CONT.PREV.SOBRE ESPETAC.ESPORT.',
       'OUTRAS CONTRIBUICOES ECONOMICAS', 'RETIDO NAS FONTES - CAPITAL',
       'ROYALTIES MINIMOS P/ PROD EM PLATAFORMA PETRO',
       'CONTRIBUICAO PREVID. DO SEGURADO FACULTATIVO',
       'CONTRIBUICAO SOBRE PRODUCAO RURAL',
       'RECEITA DE PARCELAMENTOS - DIV ATIVA DA CSLL',
       'JUROS MORA DO FUNDAF - CONTR. FIN. SEG.SOCIAL',
       'CONTR.SERV.ATIVO CIVIL-PAGTO SENT. JUDICIAIS',
       'RECEITA DIV.ATIV OUTRAS REC CONCES/PERMISSAO',
       'CONTRIBUICAO S/RECEITA LOTERIA INSTANTANEA',
       'MULTAS JUR.MORA DIV.AT.CONTR.PREV.SEG.ASSALAR',
       'REC.DIV.ATIVA CONT.PREV.ORGAOS DO PODER PUBL.',
       'REC  SUSPENSAO DE DIREITOS PROP. INTELECTUAL',
       'Receitas decorrentes de aportes periódicos pa',
       'ALIEN. BENS IMOVEIS DE DOM DA UNIAO-DOM PLENO',
       'CONTRIBUICAO PATRONAL DE SERVIDOR ATIVO CIVIL',
       'METROLOGIA LEGAL',
       'REC.RECOL E TRANSF.DEP.JUDICIAL/EXTRAJUDICIAL',
       'SERV. PROTECAO TOPOGRAFIAS CIRCUITOS INTEGRAD',
       'REC. MULTA E JUROS DA DIVIDA ATIVA DO IOF',
       'PARCELAMENTOS - RECEITA DIV ATIV OUTROS TRIB',
       'ROYALTIES MINIMOS PELA PRODOCAO EM TERRA',
       'MULTA E JURO DE MORA DIV.ATIV.OUTRAS CONTRIB.',
       'REC.DIV.ATIVA CONT.PREV.- PARCELAMENTOS',
       'REC. MULTA E JUROS MORA IMPOSTO S/ IMPORTACAO',
       'REC.DIV.ATIVA CONT.SEG.OBRIG.-CONTR.INDIVIDUA',
       'REC. DIVIDA ATIVA DO ITR - MUNIC. CONVENIADOS',
       'PESSOAS JURIDICAS - LIQUIDA DE INCENTIVOS',
       'JUROS MORA DO FUNDAF - REC PARCELAMENT COFINS',
       'RECEITA DE PARCELAMENTOS - DIV ATIVA DO IRPF',
       'REC.MULTA/MORA CONTR PIS/PASEP', 'Valores Mobiliários',
       'SERVICOS DE REMESSA DE DEPOSITOS OFICIAIS',
       'IPI - VINCULADOS A IMPORTACAO',
       'JUROS MORA DO FUNDAF - CONTR. P/ PIS/PASEP',
       'MULTAS/J.MORA CONTR.PREV.SEGURADO ASSALARIADO',
       'TAXA DE FISCALIZACAO DE INSTALACAO',
       'REC PARC - MULTA/JUROS DE MORA DIV ATIVA IE',
       'IPI - SIMPLES FEDERAL E NACIONAL',
       'ROYAL.PROD.PETRO.GAS.NAT. EM TERRA(CONCESSAO)',
       'TITULOS TESOURO NACIONAL - OUTRAS APLICACOES',
       'SERVICO DE COMPENSACAO DE VARIACOES SALARIAIS',
       'RECEITA PARCELAMENTOS - DIVIDA ATIVA DO IRPJ',
       'MULTAS JUR.MORA DIV.AT.CONTR.PREV.SEG.OBR.EMP',
       'CONTRIB. PATRONAL DE SERVIDOR AT.CIVIL - RPPS',
       'PART.ESPEC.PROD.PETRO.OU GAS NAT.CONCES.2010',
       'REC DE PARC - MULTA/JUROS DE MORA OUTROS TRIB',
       'JUROS MORA DO FUNDAF - DIV. ATIVA PIS/PASEP',
       'MUL. PREVISTAS NA LEG.SEG.DESEMP.AB. SALAR.',
       'REC. DIVIDA ATIVA DE COMPENS. FINANC. RG/RPPS',
       'MULTA PELO DESCUMP.DE OBRIG ACESSORIA PREVID.',
       'REC. DA DIV.AT. MULT.COD.ELEIT. E LEIS CONEX.',
       'MULTAS/J.MORA CONTR.PREV. RET.S/NF-SUBROGACAO',
       'MULTA POR ATO ATENTATORIO AO EXERC JURISDICAO',
       'CONTR. SOBRE REMUNERACAO DEVIDA AO TRABALH.',
       'REC.MULTA/MORA DIV ATIVA IMP S/PROD INDUS-IPI',
       'ALIENACAO DE ESTOQ. DEST. VENDA BALCAO - PGPM',
       'CONCESSAO GARANTIA DA ATIVIDADE AGROPECUARIA',
       'RECEITA DA CESSAO DE USO DE BENS DA UNIAO',
       'EMOLUMENTOS E CUSTAS DA JUSTICA DO DF',
       'RECEITA PARCELAMENTOS - DIV AT OUTRAS CONTRIB',
       'TX.FISCALIZ. E CONTR. DA PREV.COMPL - TAFIC',
       'MULTAS J.M.DIV.AT.CONTR.PREV.SEG.ORG.POD.PUBL',
       'ALIEN. BENS IMOVEIS DE DOM DA UNIAO-DOM DIRET',
       'TAXA DE SERVICOS ADMINISTRATIVOS - TSA',
       'MULTAS JUR.MORA DA CONTR. SOBRE OUT.CONC.PROG',
       'RESULTADO DO BANCO CENTRAL-DEMAIS OPERAÇÕES',
       'RESTITUICAO DE CONTRIB. PREVID.COMPLEMENTARES',
       'JUROS MORA DO FUNDAF - DIV. ATIVA DA COFINS',
       'REC. MULTA E JUROS MORA IMP PROD IND - IPI',
       'MULT.PREV. LEG. S/ REG. PREV. PRIV. COMPLEM.',
       'RECEITA DE PARCELAMENTOS - IPI',
       'CONTR.REL.A DESPED.DE EMPREG. S/ JUSTA CAUSA',
       'RECEITA DIV.ATIV DA OUTORGA DOS SERV DE TELEC',
       'PART.ESP.PROD.PETRO.PLATA.COM.ANTES 3/12/12',
       'REC.DIV.ATIV.DA CONTR.FOMENTO DA RADIODIFUCAO',
       'MULTAS POR INFRACAO A LEGIS. TRABALHISTA',
       'REC.DIV.ATIVA CONT.PREV.-DEP.JUD,REC.E C.JUD.',
       'CERTIFICACAO E HOMOLOGACAO DE PROD. TELECOM.',
       'REC PARC - MULTA/JUROS DE MORA DIV ATIVA IRPJ',
       'AMORT. REFINANC. - DIVIDAS E OP MEDIO E DE LP',
       'CONTRIB. PREV. SEGURADO OBRIG. -CONTR. INDIV.',
       'ROYAL.MIN.PROD.PETRO.PLATA.COM.ANTES 3/12/12',
       'MUL.JUR.MORA TX FISC.MERC.SEG.CAPIT.PREV.ABER',
       'MULTAS/J.MORA CONTR.PREV.DO SEG. FACULTATIVO',
       'MULTA INDEN.POSSE OU OCUP.ILICITA BENS UNIAO',
       'RECEITA VEICULACAO DE OBRAS CINEMATOGRAFICAS',
       'MULTA/JUROS DIV.ATIVA COMPENS.FINANC.RG/RPPS',
       'CONTRIBUICAO PARA FOMENTO DA RADIODIFUSAO PUB',
       'RECEITA DE PARCELAMENTOS - IMPOSTO IMPORTACAO',
       'CONTRIBUICOES P/O FUNDO DE SAUDE - PMDF',
       'REC DE PARC - MULTA E JUROS DE MORA DA CIDE',
       'MULTAS/J.MORA CONTR.PREV. ORGAOS PODER PUBL.',
       'MULTA E JUROS DE MORA - IRPJ', 'IPI - OUTROS PRODUTOS',
       'OUTRAS CONTRIBUICOES SOCIAIS',
       'PRESTACAO DE CONTAS ELEITORAIS - FONTE VEDADA',
       'AMORTIZACAO DE EMPRESTIMOS-ESTADOS/MUNICIPIOS',
       'ROYALTIES EXCEDENTES P/ PROD EM PLATAFORMA',
       'REC.COMPENS.FINANC.ENTRE O RG/RPPS-PRINCIPAL',
       'ROYAL.MIN.PROD.PETRO EM TERRA - CONTR CONCESS',
       'RECEITA DE PARCELAMENTOS - IRPF',
       'REC.DIV.ATIVA MULTAS DECOR.SENTENCA.JUDICIAIS',
       'REC.DIVIDA ATIVA IMP.EXPORTACAO - PRINCIPAL',
       'MULTAS/J.MORA CONTR.PREV.SEG.OBRIGAT.C.INDIV.',
       'RECEITA DE PARCELAMENTOS - IMPOSTO EXPORTACAO',
       'ROYAL.EXCED.PROD.PETRO.TERRA QQ SITUACAO',
       'REC.DIV.ATIVA CONT.PREV.REG. DE PARC.DEBITOS',
       'RECEITA DE PARCELAMENTOS - DIV ATIVA DA CIDE',
       'MUL.JUR.MOR.DIV.ATI.OUT.REC.CONCESS/PERM SERV',
       'RECEITA DA DIV.ATIVA DE CUSTAS JUDICIAIS',
       'MULTAS E JUROS DE MORA DE FOROS',
       'RECEITA DE PARCELAMENTOS - DIV ATIVA DO IRRF',
       'MULTAS/JUROS CONTR.SERVIDOR REGIME PROP.PREV',
       'MULTAS PREVISTAS LEGIS.DE REGISTRO COMERCIO',
       'RECEITA DE PARCELAMENTOS - IRPJ',
       'REC PARC - MULTA/JUROS MORA DIV ATI PIS/PASEP',
       'CONTRIB.PREV.-RET. S/NOTA FISCAL- SUBROGACAO',
       'MULTAS POR AUTOS DE INFRACAO',
       'REC.MULTA/MORA CONTR SOCIAL S/LUCRO PJ',
       'TAXA DE FISCALIZACAO DE FUNCIONAMENTO',
       'RETIDO NAS FONTES - OUTROS RENDIMENTOS',
       'JUROS MORA DO FUNDAF - REC PARCELAM PIS/PASEP',
       'REC DE PARCELAMENTOS - DIV ATIVA DO IMP EXP',
       'MULTAS J.MORA DIV.ATIVA ITR-MUNIC.NAO CONVEN.',
       'RECUPERACAO DE SINISTROS', 'Sem informação',
       'PROGRAMAS DAS OPERACOES OFICIAIS DE CREDITO',
       'MULT.JUR MOR DIV ATIV TAXA FISC DE INSTALACAO',
       'REC DE PARC - MULTA E JUROS DE MORA DA COFINS',
       'ITR - MUNICIPIOS CONVENIADOS',
       'REC.DO PRINCIPAL DAS CONTR. P/ O PIS/PASEP',
       'CONTR.PATRONAL - PAGTO SENTENCAS JUDICIAIS',
       'MULTAS JUR. MORA DIV.ATIVA IR-RETIDO NA FONTE',
       'MULT.J.MORA DIV.AT. MULTAS INFR.A LEG. TRAB.',
       'RECEITA DE PARCELAMENTOS - DIV ATIVA DO IPI',
       'MULTAS E MORA DA CONTR. FINAC.PREV. - COFINS',
       'PARC - MULTAS/JUROS DE MORA OUTRAS CONTRIB',
       'MUL.JUR.MORA TX FISC.MERC.TIT. E VAL. MOBILI.',
       'DIVIDENDOS/PARTICIPACOES/JUROS CAPITAL PROPR',
       'RECEITA DE OUTORGA DOS SERV. TELECOMUNICACAO',
       'MULTAS J.MORA DIV.ATIVA-CONTR. SOC. LUCRO PJ',
       'REC. DO PRINCIPAL DA CONTRIB S/LUCRO PJ',
       'REC DE PARC - MULTA E JUROS DE MORA DA CPMF',
       'MULT.J.MORA RESSARC.DE ACOES REGRES.REL.TRAB.',
       'RECEITA DE PARCELAMENTOS - DIV ATIVA DA CPMF',
       'REC.DIV.AT. CONTR. S/ APOSTA EM COMP. HIPICAS',
       'PARC - MULTAS/JUROS MORA DIV ATI OUTRAS CONTR',
       'REC.DIV.ATIVA CONT.PREV.EMPR.OPTANTE-SIMPLES',
       'ITR - MUNICIPIOS NAO-CONVENIADOS',
       'MULTAS DIVIDA ATIVA DO IPI - SIMPLES NACIONAL',
       'RESSARC. DE PGTO HONORARIOS TECNICO-PERICIAIS',
       'ROY.EXCED.PROD.PETRO.PLATA.COM.ANTES 3/12/12',
       'TARIFA PELO USO DO SIST.DE TRANSF. RES. BACEN',
       'CONTR.SERV.INAT.CIVIL - PAGTO SENT. JUDICIAIS',
       'REC DE PARC - MULTA/JUROS DE MORA DO IMP EXP',
       'REC.OUT.SERV.RADIODIFUSAO SONORA SONS IMAGENS',
       'SERVICOS DE REGISTRO INDICACOES GEOGRAFICAS',
       'REC.DIV.ATIVA CONT.PREV.SEG.ACIDENTE DO TRAB.',
       'MULTA E JUROS DE MORA - IRRF',
       'CONTR.PREV.NA FORMA DE DEP.JUD.,REC. E CUSTAS',
       'REC.DO PRINCIPAL DO IMPOSTO S/ A IMPORT.',
       'Receitas decorrentes de compensações ao Regim',
       'SERVICOS DE PATENTES',
       'REC.DIST.AUDIOVISUAIS POR PRESTADOR DE SERV.',
       'CON. S/REC.OPER.BRUTA DECOR.PRES.SERV.TELECOM',
       'CONTRIB. PREV. DOS ORGAOS DO PODER PUBLICO',
       'JUROS MORA DO FUNDAF - REC PARCELAM DA CPMF', 'IPI - VEICULOS',
       'MULTAS E JUROS - AUTO DE INFRACAO PREV COMPL',
       'OUTRAS RECEITAS CONC. PERM. - SERV. COMUNIC',
       'RECLAMATORIA TRABALHISTA', 'IPI - BEBIDAS',
       'RECEITA DA DIVIDA ATIVA DE OUTROS TRIBUTOS',
       'RECEITA DA DIVIDA ATIVA DO IPI - PRINCIPAL',

Los 10 DETALLE que MAS aparecen son:

                                              count  Porcentaje_recuento
DETALLE
RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES    214                 4.76
SERVICOS ADMINISTRATIVOS                        195                 4.34
OUTRAS RESTITUICOES                             173                 3.85
OUTRAS RECEITAS                                 162                 3.60
ALUGUEIS                                        147                 3.27
OUTRAS MULTAS                                   138                 3.07
OUTRAS MULTAS E JUROS DE MORA                   134                 2.98
MULTAS E JUROS PREVISTOS EM CONTRATOS           132                 2.93
TAR.INSCR.CONCURSOS E PROCESSOS SELETIVOS       127                 2.82
REMUNERACAO DE DEPOSITOS BANCARIOS              120                 2.67

Los 10 DETALLE que MENOS aparecen son:

                                               count  Porcentaje_recuento
DETALLE
REC.DIV.ATIV.OUTORG.DIREIT.EXPL.PESQ.MINERAL       1                 0.02
MULT.J.MORA REC.DIV.ATIV.-LEGISL.LUBR/COMBUST      1                 0.02
MULTAS PREVISTAS NA LEGISLACAO MINERARIA           1                 0.02
MULT.J.MORA DIV.AT.OUTOR.DIR.EXPL.E PESQ.MIN.      1                 0.02
REC. OUTORGA DIREITOS DE EXPL. E PRESQ. MINER      1                 0.02
REC.DIV.ATIV.SERVIC.INSP.FISC.ATIV.MINERAL         1                 0.02
REC.DIV.ATIV.-MULTA PREV. LEG. LUB. E COMBUST      1                 0.02
ALIEN. BENS IMOVEIS DE DOM DA UNIAO-DOM PLENO      1                 0.02
Receitas decorrentes de aportes periódicos pa      1                 0.02
MULTAS POR INFRACOES A LEG. CINEMATOGRAFICA        1                 0.02

 Las distribución de las repeticiones de los DETALLE son:

       count  % repetición
count
1        331         47.02
2        134         19.03
3         58          8.24
5         43          6.11
4         41          5.82
6         23          3.27
7         10          1.42
10         4          0.57
12         4          0.57
9          4          0.57
20         3          0.43
18         3          0.43
23         2          0.28
17         2          0.28
16         2          0.28
30         2          0.28
8          2          0.28
13         2          0.28
14         2          0.28
51         1          0.14
54         1          0.14
56         1          0.14
61         1          0.14
65         1          0.14
87         1          0.14
89         1          0.14
107        1          0.14
112        1          0.14
120        1          0.14
127        1          0.14
132        1          0.14
134        1          0.14
138        1          0.14
147        1          0.14
162        1          0.14
173        1          0.14
195        1          0.14
214        1          0.14
26         1          0.14
19         1          0.14
21         1          0.14
31         1          0.14
34         1          0.14
40         1          0.14
41         1          0.14
48         1          0.14
49         1          0.14
39         1          0.14
36         1          0.14
35         1          0.14
15         1          0.14

None
La categoría VALOR_PREVISTO_ACTUALIZADO tiene 2788 elementos diferentes:

Los elementos de la categoría son:

array([0.00000000e+00, 1.80000000e+06, 4.03603000e+05, ...,
       4.88386078e+08, 1.20839273e+08, 5.00004000e+05])

Los 10 VALOR_PREVISTO_ACTUALIZADO que MAS aparecen son:

                            count  Porcentaje_recuento
VALOR_PREVISTO_ACTUALIZADO
0.00                         1625                36.13
6000000.00                      5                 0.11
300000.00                       3                 0.07
60000.00                        3                 0.07
1102.00                         3                 0.07
1353.00                         3                 0.07
5000000.00                      3                 0.07
1000000.00                      3                 0.07
30000.00                        3                 0.07
8000000.00                      3                 0.07

Los 10 VALOR_PREVISTO_ACTUALIZADO que MENOS aparecen son:

                            count  Porcentaje_recuento
VALOR_PREVISTO_ACTUALIZADO
39847.00                        1                 0.02
25967835.00                     1                 0.02
3368.00                         1                 0.02
61810.00                        1                 0.02
2993083.00                      1                 0.02
5760731.00                      1                 0.02
20149.00                        1                 0.02
6379021.00                      1                 0.02
123985.00                       1                 0.02
447630.00                       1                 0.02

 Las distribución de las repeticiones de los VALOR_PREVISTO_ACTUALIZADO son:

       count  % repetición
count
1       2712         97.27
2         66          2.37
3          8          0.29
1625       1          0.04
5          1          0.04

None
La categoría VALOR_REGISTRADO tiene 52 elementos diferentes:

Los elementos de la categoría son:

array([0.00000000e+00, 3.60486311e+10, 1.05981726e+10, 1.89673722e+11,
       2.58405915e+08, 2.23296329e+06, 1.53921535e+10, 2.95606276e+11,
       3.25763110e+10, 3.23707235e+08, 3.68593100e+04, 6.78932665e+09,
       5.31163444e+08, 4.49758374e+09, 1.12634446e+08, 9.38195842e+09,
       3.13129331e+07, 2.03906461e+10, 3.63234787e+09, 4.12286926e+08,
       5.80327205e+09, 5.59886785e+10, 1.44653814e+11, 1.35132335e+09,
       8.41775680e+09, 1.07426862e+10, 8.28570540e+09, 8.44294310e+05,
       1.02728325e+10, 4.73246103e+09, 3.68502894e+10, 6.39523914e+09,
       1.00402203e+11, 9.99914746e+08, 7.01447141e+09, 3.61139720e+09,
       1.57237829e+08, 1.79466081e+09, 6.42400562e+08, 9.57540339e+09,
       1.39714000e+03, 3.10879469e+10, 1.87262766e+10, 3.67034703e+10,
       1.00641856e+10, 1.97367815e+09, 3.75218390e+06, 1.59089350e+05,
       1.82414000e+03, 1.67963459e+06, 3.58999320e+07, 8.28890328e+06])

Los 10 VALOR_REGISTRADO que MAS aparecen son:

                  count  Porcentaje_recuento
VALOR_REGISTRADO
0.00               4447                98.87
36048631136.38        1                 0.02
10598172567.42        1                 0.02
189673722000.20       1                 0.02
258405915.13          1                 0.02
2232963.29            1                 0.02
15392153480.36        1                 0.02
295606275807.68       1                 0.02
32576310981.73        1                 0.02
323707234.74          1                 0.02

Los 10 VALOR_REGISTRADO que MENOS aparecen son:

                  count  Porcentaje_recuento
VALOR_REGISTRADO
18726276608.20        1                 0.02
36703470305.72        1                 0.02
10064185588.78        1                 0.02
1973678151.90         1                 0.02
3752183.90            1                 0.02
159089.35             1                 0.02
1824.14               1                 0.02
1679634.59            1                 0.02
35899931.95           1                 0.02
8288903.28            1                 0.02

 Las distribución de las repeticiones de los VALOR_REGISTRADO son:

       count  % repetición
count
1         51         98.08
4447       1          1.92

None
La categoría VALOR_REALIZADO tiene 3738 elementos diferentes:

Los elementos de la categoría son:

array([1.29713000e+03, 2.66666214e+07, 3.01251130e+05, ...,
       6.15930300e+04, 1.61286016e+08, 1.10046584e+06])

Los 10 VALOR_REALIZADO que MAS aparecen son:

                 count  Porcentaje_recuento
VALOR_REALIZADO
0.00               704                15.65
60.00                5                 0.11
70.00                5                 0.11
1000.00              4                 0.09
90.00                4                 0.09
1200.00              4                 0.09
80.00                3                 0.07
30.00                3                 0.07
18000.00             3                 0.07
2000.00              3                 0.07

Los 10 VALOR_REALIZADO que MENOS aparecen son:

                 count  Porcentaje_recuento
VALOR_REALIZADO
306348.52            1                 0.02
451584.61            1                 0.02
87786.10             1                 0.02
985939.65            1                 0.02
194307.50            1                 0.02
68323.99             1                 0.02
107548.62            1                 0.02
5145837.84           1                 0.02
73.55                1                 0.02
10075291.47          1                 0.02

 Las distribución de las repeticiones de los VALOR_REALIZADO son:

       count  % repetición
count
1       3697         98.90
2         30          0.80
3          5          0.13
4          3          0.08
5          2          0.05
704        1          0.03

None
La categoría PORCENTAJE_REALIZADO tiene 578 elementos diferentes:

Los elementos de la categoría son:

array([ 0.000000e+00,  1.540000e+02,  5.400000e+01,  6.100000e+01,
        3.100000e+01,  1.110000e+02,  1.280000e+02,  1.380000e+02,
        8.800000e+01,  9.500000e+01,  3.000000e+00,  1.470000e+02,
        3.800000e+01,  9.100000e+01,  8.990000e+02,  1.990000e+02,
        9.000000e+00,  8.000000e+01,  3.530000e+02,  7.500000e+01,
        8.600000e+01,  1.910000e+02,  1.070000e+02,  1.530000e+02,
        2.780000e+02,  4.300000e+01,  1.650000e+02,  1.080000e+02,
        2.000000e+02, -1.190000e+02,  5.510000e+02, -1.000000e+01,
        8.000000e+00,  1.397000e+03,  3.740000e+02,  8.900000e+01,
        1.400000e+01,  3.600000e+01,  4.110000e+02,  1.500000e+01,
        1.390000e+02,  2.130000e+02,  1.730000e+02,  5.100000e+01,
        1.050000e+02,  2.760000e+02,  7.000000e+00,  6.740000e+02,
        1.420000e+02,  4.000000e+00,  1.140000e+02,  2.200000e+01,
        7.900000e+01,  1.220000e+02,  2.400000e+02,  4.500000e+01,
        1.000000e+01,  1.160000e+02,  4.770000e+02,  5.200000e+01,
        1.870000e+02,  1.800000e+02,  6.200000e+01,  1.010000e+02,
        9.300000e+01,  5.580000e+02,  7.100000e+01,  2.060000e+02,
        8.200000e+01,  8.100000e+01,  7.700000e+01,  3.250000e+02,
        4.200000e+01,  1.800000e+01,  3.700000e+02,  2.600000e+01,
        1.360000e+02,  1.120000e+02,  2.019000e+03,  2.500000e+01,
        1.020000e+02,  3.300000e+01,  7.600000e+01,  8.860000e+02,
        1.170000e+02,  1.090000e+02,  1.000000e+02,  2.900000e+02,
        1.320000e+02,  4.930000e+02,  1.300000e+02,  1.759000e+03,
        8.300000e+01,  1.900000e+01,  1.000000e+03,  5.065000e+03,
        7.000000e+01,  1.100000e+01,  9.600000e+01,  6.000000e+01,
        1.230000e+02,  1.150000e+02,  2.290000e+02,  1.100000e+02,
        1.423000e+03,  1.000000e+00,  1.317000e+03,  8.320000e+02,
        5.600000e+01,  5.000000e+01,  1.060000e+02,  3.000000e+01,
        1.178000e+03,  9.900000e+01,  6.800000e+01,  8.170000e+02,
        1.440000e+02,  6.600000e+01,  6.500000e+02,  2.200000e+02,
        4.530000e+02,  6.000000e+00,  4.510000e+02,  5.300000e+01,
        1.729000e+03,  1.290000e+02,  2.370000e+02,  1.270000e+02,
        7.400000e+01,  4.600000e+01,  1.880000e+02,  4.050000e+02,
        9.700000e+01,  9.400000e+01,  7.600000e+02,  2.040000e+02,
        4.370000e+02,  9.800000e+01,  3.500000e+01,  1.040000e+02,
        1.260000e+02,  3.200000e+01,  1.250000e+02,  1.210000e+02,
        3.140000e+02,  5.800000e+01,  3.110000e+02,  1.330000e+02,
        4.620000e+02,  6.500000e+01,  1.617000e+03,  1.030000e+02,
        2.100000e+01,  8.500000e+01,  6.400000e+01,  2.800000e+01,
        6.300000e+01,  5.720000e+02,  2.430000e+02,  4.900000e+01,
        1.240000e+02,  4.130000e+02,  2.240000e+02,  1.690000e+02,
        5.173000e+03,  3.800000e+02,  1.077000e+03,  1.310000e+02,
        3.470000e+02,  1.274300e+04,  8.700000e+01,  3.471000e+03,
        3.400000e+01,  5.900000e+01,  7.200000e+01,  1.813000e+03,
        7.860000e+02,  7.989000e+03,  5.000000e+00,  1.810000e+02,
        2.000000e+00,  1.130000e+02,  1.370000e+02,  1.550000e+02,
        2.860000e+02,  8.490000e+02,  2.830000e+02,  4.290000e+02,
        2.670000e+02,  3.829000e+03,  1.092780e+05,  4.260000e+02,
        1.790000e+02,  3.630000e+02,  1.180000e+02,  2.030000e+02,
        1.610000e+02,  2.530000e+02,  3.900000e+01,  4.686300e+04,
        4.390000e+02,  2.000000e+01,  3.424000e+03,  2.840000e+02,
        1.236000e+03,  1.600000e+01,  6.860000e+02,  2.230000e+02,
        6.540000e+02,  7.800000e+01,  1.300000e+01,  3.300000e+02,
        1.500000e+02,  5.440000e+02,  3.224000e+03,  1.225000e+03,
        2.440000e+03,  3.820000e+02,  3.760000e+02,  1.750000e+02,
        1.960000e+02,  1.560000e+02,  2.250000e+02,  5.800000e+02,
        2.180000e+02,  4.560000e+02,  2.400000e+01,  4.240000e+02,
        7.320400e+04,  5.106000e+03,  1.590000e+02,  1.840000e+02,
        1.561800e+04,  1.740000e+02,  4.100000e+01,  3.360000e+02,
        7.270000e+02,  8.400000e+01,  7.870000e+02,  9.200000e+01,
        6.900000e+01,  4.480000e+02,  4.190000e+02,  5.360000e+02,
        4.280000e+02,  2.590000e+02,  1.492000e+03,  2.390000e+02,
        1.764000e+03,  2.300000e+02,  1.660000e+02,  1.222000e+03,
        4.950000e+02,  1.450000e+02,  5.070000e+02,  1.430000e+02,
        4.150000e+02,  4.840000e+02,  4.529600e+04,  5.850000e+02,
        6.780000e+02,  4.800000e+01,  3.700000e+01,  2.700000e+01,
        5.500000e+01,  2.286000e+03,  1.930000e+02,  1.258000e+03,
        2.010000e+02,  4.885000e+03,  5.190000e+02,  1.490000e+02,
        3.406000e+03,  6.700000e+01,  3.970000e+02,  4.710000e+02,
        3.781000e+03,  1.497000e+03,  1.640000e+02,  9.690000e+02,
        1.190000e+02,  2.820000e+02,  2.880000e+02,  5.890000e+02,
        7.400000e+02,  3.707570e+05,  2.979000e+03,  2.460000e+02,
        3.130000e+02,  3.497000e+04,  5.480000e+02,  8.920000e+02,
        2.700000e+02,  1.390000e+03,  3.690000e+02, -1.000000e+00,
        6.510000e+02,  3.050000e+02,  4.410000e+02,  1.224000e+03,
        9.000000e+01,  3.040000e+02,  7.911000e+03,  4.860000e+02,
        3.280000e+02,  1.068000e+03,  8.650000e+02,  6.920000e+02,
        1.520000e+02,  1.440000e+03,  2.980000e+02,  1.095000e+03,
        2.470000e+02,  5.100000e+02,  8.900000e+02,  3.120000e+02,
        1.700000e+02,  3.216600e+04,  2.140000e+02,  2.350000e+02,
        6.700000e+02,  6.730000e+02,  2.501000e+03,  2.666200e+05,
        2.640000e+02,  6.300000e+02,  8.890000e+02,  3.410000e+02,
        1.510000e+02,  6.990000e+02,  6.720000e+02,  3.200000e+02,
        2.220000e+02,  1.906000e+03,  1.438000e+03,  1.340000e+02,
        2.650000e+02,  2.070000e+02,  6.680000e+02,  4.300000e+02,
        5.110000e+02,  1.076000e+03,  2.841600e+04,  2.977000e+03,
        2.320000e+02,  1.680000e+02,  5.700000e+01,  2.930000e+02,
        2.310000e+02,  1.200000e+02,  1.480000e+02,  3.460000e+02,
        9.610000e+02,  3.030000e+02,  4.210000e+02,  1.460000e+02,
        1.041870e+05,  7.730000e+02,  2.500000e+02,  1.770000e+02,
        7.890000e+02,  3.720000e+02,  2.452000e+03,  8.466000e+03,
        7.124000e+03,  2.842000e+03,  3.870000e+02,  1.630000e+02,
        2.779000e+03,  1.200000e+01,  7.570000e+02,  1.461300e+04,
        5.650000e+02,  6.210000e+02,  5.856000e+03,  2.810000e+02,
        3.540000e+02, -6.200000e+01,  3.860000e+02,  4.310000e+02,
        5.655000e+03,  1.980000e+02,  6.970000e+02,  2.080000e+02,
        1.760000e+02,  2.420000e+02,  4.520000e+02,  7.300000e+01,
        1.940000e+02,  1.072000e+03,  1.580000e+02,  2.480000e+02,
        3.889000e+03,  2.680000e+02,  9.200000e+02,  2.869000e+03,
        1.205000e+03,  3.570000e+02,  7.850000e+03,  3.590000e+02,
        2.770000e+02,  1.361000e+03,  1.620000e+02,  3.270000e+02,
        5.550000e+02,  8.530000e+02,  4.700000e+01,  8.000000e+02,
        2.730000e+02,  6.200000e+02,  2.330000e+02,  1.600000e+02,
        6.630000e+02,  8.152200e+04,  5.500000e+02,  2.020000e+02,
        2.160000e+02,  4.000000e+01,  4.590000e+02,  4.490000e+02,
        1.383000e+03,  3.170000e+02,  6.690000e+02,  2.990000e+02,
        2.490000e+02,  3.330000e+02,  3.600000e+02,  1.083000e+03,
        1.890000e+02,  1.670000e+02,  1.820000e+02,  3.290000e+02,
        1.850000e+02,  6.320000e+02,  1.400000e+02,  4.582000e+03,
        2.280000e+02,  8.240000e+02,  4.400000e+01,  8.360000e+02,
        2.461000e+03,  7.620000e+02,  1.146000e+03,  9.088000e+03,
        2.260000e+02,  1.710000e+02,  4.010000e+02,  1.973000e+03,
        6.570000e+02,  7.374000e+03,  2.100000e+02,  2.360000e+02,
        2.900000e+01,  3.195000e+03,  6.770000e+02,  2.841000e+03,
        7.350000e+02,  2.870000e+02,  2.300000e+01,  1.410000e+02,
        2.270000e+02,  3.578000e+03,  2.580000e+02,  3.950000e+02,
        2.165000e+03,  1.531700e+04,  7.652000e+03,  1.496300e+04,
        6.550000e+02,  6.288000e+03,  1.700000e+01,  1.318000e+03,
        5.040000e+02,  3.420000e+02,  3.080000e+02,  5.740000e+02,
        3.850000e+02,  1.970000e+02,  9.500000e+03, -3.000000e+00,
        1.009000e+03,  7.610000e+02,  1.900000e+02,  4.700000e+02,
        2.346000e+03,  1.001640e+05,  1.841000e+03,  1.741600e+04,
        2.520000e+02,  5.145000e+03,  1.041500e+04,  4.360000e+02,
        4.170000e+02,  1.720000e+02,  1.350000e+02,  6.600000e+02,
        3.830000e+02,  6.080000e+02,  2.542000e+03,  2.620000e+02,
        3.379000e+03,  2.210000e+02,  4.680000e+02,  4.140000e+02,
        3.550000e+02, -2.010000e+02,  4.350000e+02,  3.510000e+02,
        3.920000e+02,  3.116000e+03,  1.027000e+03,  2.740000e+02,
        3.380000e+02,  2.110000e+02,  1.775000e+03,  6.590000e+02,
       -5.800000e+01,  4.880000e+02,  8.110000e+02,  1.920000e+02,
        2.410000e+02,  1.860000e+02,  2.920000e+02,  1.038000e+03,
        1.570000e+02,  2.190000e+02, -2.100000e+01,  3.060000e+02,
        1.814900e+04,  1.795000e+03,  7.060000e+02,  2.059000e+03,
        1.780000e+02,  6.931000e+03,  3.742720e+05,  1.893000e+03,
        6.480000e+02,  4.000000e+02,  1.365000e+03,  6.750000e+02,
        2.910000e+02,  3.790000e+02,  2.090000e+02,  1.214360e+05,
        1.373530e+05,  2.120000e+02,  8.160000e+02,  2.550000e+02,
        6.650000e+02,  7.200000e+02,  6.520000e+02,  3.580000e+02,
        1.352000e+03,  1.950000e+02,  4.380000e+02,  6.000000e+02,
        3.210000e+02,  9.212000e+03,  6.890000e+02,  6.900000e+02,
        4.550000e+02,  1.991620e+05,  9.680000e+02,  4.120000e+02,
        5.860000e+02,  4.970000e+02,  6.591300e+04,  3.650000e+02,
        5.910000e+02,  5.180000e+02,  1.605449e+06,  2.340000e+02,
        1.174000e+03,  8.230000e+02,  2.479000e+03,  2.341000e+03,
        3.020000e+02,  4.100000e+02])

Los 10 PORCENTAJE_REALIZADO que MAS aparecen son:

                      count  Porcentaje_recuento
PORCENTAJE_REALIZADO
0.00                   2320                51.58
1.00                     30                 0.67
96.00                    26                 0.58
100.00                   21                 0.47
111.00                   21                 0.47
86.00                    21                 0.47
103.00                   20                 0.44
93.00                    20                 0.44
80.00                    19                 0.42
75.00                    19                 0.42

Los 10 PORCENTAJE_REALIZADO que MENOS aparecen son:

                      count  Porcentaje_recuento
PORCENTAJE_REALIZADO
591.00                    1                 0.02
365.00                    1                 0.02
65913.00                  1                 0.02
497.00                    1                 0.02
586.00                    1                 0.02
412.00                    1                 0.02
968.00                    1                 0.02
199162.00                 1                 0.02
455.00                    1                 0.02
899.00                    1                 0.02

 Las distribución de las repeticiones de los PORCENTAJE_REALIZADO son:

       count  % repetición
count
1        320         55.36
2         54          9.34
3         31          5.36
4         25          4.33
7         19          3.29
8         18          3.11
9         15          2.60
12        13          2.25
5         13          2.25
10        12          2.08
13        10          1.73
6         10          1.73
11         8          1.38
19         6          1.04
14         4          0.69
16         4          0.69
21         3          0.52
18         3          0.52
15         3          0.52
20         2          0.35
17         2          0.35
30         1          0.17
26         1          0.17
2320       1          0.17

None
La categoría FECHA_REGISTRO tiene 1 elementos diferentes:

Los elementos de la categoría son:

<DatetimeArray>
['2013-12-31 00:00:00']
Length: 1, dtype: datetime64[ns]

Los 10 FECHA_REGISTRO que MAS aparecen son:

                count  Porcentaje_recuento
FECHA_REGISTRO
2013-12-31       4498               100.00

Los 10 FECHA_REGISTRO que MENOS aparecen son:

                count  Porcentaje_recuento
FECHA_REGISTRO
2013-12-31       4498               100.00

 Las distribución de las repeticiones de los FECHA_REGISTRO son:

       count  % repetición
count
4498       1        100.00

None
La categoría AÑO_EJERCICIO tiene 1 elementos diferentes:

Los elementos de la categoría son:

array([2013])

Los 10 AÑO_EJERCICIO que MAS aparecen son:

               count  Porcentaje_recuento
AÑO_EJERCICIO
2013            4498               100.00

Los 10 AÑO_EJERCICIO que MENOS aparecen son:

               count  Porcentaje_recuento
AÑO_EJERCICIO
2013            4498               100.00

 Las distribución de las repeticiones de los AÑO_EJERCICIO son:

       count  % repetición
count
4498       1        100.00

None

In [13]:
df_datos_2013.to_pickle("../datos/output/datos_2013_convertido.pkl")