In [1]:
# Tratamiento de datos
import pandas as pd
# Ignorar warnings
import warnings
warnings.filterwarnings("ignore")
# Configuración
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames
#importar la biblioteca de numpy:
import numpy as np
import os
import sys #permite navegar por el sistema
sys.path.append("../") #solo aplica al soporte
import src.soporte_EDA as se


pd.options.display.float_format = '{:.2f}'.format # para redondearlo todo a 2 decimales

In [2]:
os.listdir('../datos/raw/')

['datos-2013.csv',
 'datos-2014.csv',
 'datos-2015.csv',
 'datos-2016.csv',
 'datos-2017.csv',
 'datos-2018.csv',
 'datos-2019.csv',
 'datos-2020.csv',
 'datos-2021.csv',
 'diccionario_datos.csv']

In [3]:
lista_archivos = os.listdir('../datos/raw/')[:-1]
lista_archivos

['datos-2013.csv',
 'datos-2014.csv',
 'datos-2015.csv',
 'datos-2016.csv',
 'datos-2017.csv',
 'datos-2018.csv',
 'datos-2019.csv',
 'datos-2020.csv',
 'datos-2021.csv']

In [4]:
diccionario = se.carga_ficheros('raw',lista_archivos)

In [5]:
df_datos_2014 = diccionario['df_2014']

# Anális datos año 2014

In [6]:
se.traducción_columnas(df_datos_2014)

In [7]:
df_datos_2014

,CÓDIGO_ÓRGANO_SUPERIOR,NOMBRE_ÓRGANO_SUPERIOR,CÓDIGO_ÓRGANO,NOMBRE_ÓRGANO,CÓDIGO_UNIDAD_GESTORA,NOMBRE_UNIDAD_GESTORA,CATEGORÍA_ECONÓMICA,ORIGEN_INGRESO,TIPO_INGRESO,DETALLE,VALOR_PREVISTO_ACTUALIZADO,VALOR_REGISTRADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO,FECHA_REGISTRO,AÑO_EJERCICIO
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,RECEITA DE HONORÁRIOS DE ADVOGADOS,"0,00","0,00","46699948,08","0,00",31/12/2014,2014
1,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",MULTAS E JUROS PREVISTOS EM CONTRATOS,"0,00","0,00","15920,83","0,00",31/12/2014,2014
2,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",OUTRAS MULTAS E JUROS DE MORA,"0,00","0,00","2195899,92","0,00",31/12/2014,2014
3,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes - intra-orçamentárias,Outras Receitas Correntes,Indenizações e restituições,RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES,"0,00","0,00","232,02","0,00",31/12/2014,2014
4,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Receita de Serviços,Receita de Serviços,TAR.INSCR.CONCURSOS E PROCESSOS SELETIVOS,"0,00","0,00","367815,01","0,00",31/12/2014,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4548,20000,Presidência da República,20101,Presidência da República,110005,SECRETARIA DE ADMINISTRACAO-SET.ORC.E FIN./PR,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",OUTRAS INDENIZACOES,"0,00","0,00","15234,60","0,00",31/12/2014,2014
4549,20000,Presidência da República,20101,Presidência da República,110005,SECRETARIA DE ADMINISTRACAO-SET.ORC.E FIN./PR,Receitas Correntes,Receita Patrimonial,Exploração de recursos naturais,ROYAL.EXCED.PROD.PETRO.TERRA QQ SITUACAO,"104491387,00","0,00","0,00","0,00",31/12/2014,2014
4550,20000,Presidência da República,20101,Presidência da República,110005,SECRETARIA DE ADMINISTRACAO-SET.ORC.E FIN./PR,Receitas Correntes,Receita Patrimonial,Exploração de recursos naturais,ROY.EXCED.PROD.PETRO.PLATA.COM.ANTES 3/12/12,"219194964,00","0,00","0,00","0,00",31/12/2014,2014
4551,20000,Presidência da República,20101,Presidência da República,110005,SECRETARIA DE ADMINISTRACAO-SET.ORC.E FIN./PR,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",OUTRAS MULTAS,"0,00","0,00","10,89","0,00",31/12/2014,2014
4552,20000,Presidência da República,20101,Presidência da República,110005,SECRETARIA DE ADMINISTRACAO-SET.ORC.E FIN./PR,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,VARIACAO CAMBIAL,"0,00","0,00","2909,36","0,00",31/12/2014,2014

In [8]:
se.reporte(df_datos_2014)

La tabla tiene 4553 filas y 16 columnas
La tabla tiene 0 filas duplicadas

,tipo_variables,contador_total,numero_nulos,porcentaje_nulos,valores_unicos,duplicados
CÓDIGO_ÓRGANO_SUPERIOR,int64,4553,0,0.00,25,4528
NOMBRE_ÓRGANO_SUPERIOR,object,4553,0,0.00,25,4528
CÓDIGO_ÓRGANO,int64,4553,0,0.00,268,4285
NOMBRE_ÓRGANO,object,4553,0,0.00,267,4286
CÓDIGO_UNIDAD_GESTORA,int64,4553,0,0.00,281,4272
NOMBRE_UNIDAD_GESTORA,object,4553,0,0.00,278,4275
CATEGORÍA_ECONÓMICA,object,4553,0,0.00,5,4548
ORIGEN_INGRESO,object,4553,0,0.00,15,4538
TIPO_INGRESO,object,4553,0,0.00,46,4507
DETALLE,object,4553,0,0.00,708,3845
VALOR_PREVISTO_ACTUALIZADO,object,4553,0,0.00,2740,1813
VALOR_REGISTRADO,object,4553,0,0.00,72,4481
VALOR_REALIZADO,object,4553,0,0.00,3726,827
PORCENTAJE_REALIZADO,object,4553,0,0.00,546,4007
FECHA_REGISTRO,object,4553,0,0.00,1,4552
AÑO_EJERCICIO,int64,4553,0,0.00,1,4552

In [9]:
se.conversion_columnas(df_datos_2014)

La tabla tiene 4553 filas y 16 columnas
La tabla tiene 0 filas duplicadas

,tipo_variables,contador_total,numero_nulos,porcentaje_nulos,valores_unicos,duplicados
CÓDIGO_ÓRGANO_SUPERIOR,object,4553,0,0.00,25,4528
NOMBRE_ÓRGANO_SUPERIOR,object,4553,0,0.00,25,4528
CÓDIGO_ÓRGANO,object,4553,0,0.00,268,4285
NOMBRE_ÓRGANO,object,4553,0,0.00,267,4286
CÓDIGO_UNIDAD_GESTORA,object,4553,0,0.00,281,4272
NOMBRE_UNIDAD_GESTORA,object,4553,0,0.00,278,4275
CATEGORÍA_ECONÓMICA,object,4553,0,0.00,5,4548
ORIGEN_INGRESO,object,4553,0,0.00,15,4538
TIPO_INGRESO,object,4553,0,0.00,46,4507
DETALLE,object,4553,0,0.00,708,3845
VALOR_PREVISTO_ACTUALIZADO,float64,4553,0,0.00,2740,1813
VALOR_REGISTRADO,float64,4553,0,0.00,72,4481
VALOR_REALIZADO,float64,4553,0,0.00,3726,827
PORCENTAJE_REALIZADO,float64,4553,0,0.00,546,4007
FECHA_REGISTRO,datetime64[ns],4553,0,0.00,1,4552
AÑO_EJERCICIO,int64,4553,0,0.00,1,4552

In [10]:
se.analisis_descriptivos_categóricas(df_datos_2014)

Las columnas categóricas son Index(['CÓDIGO_ÓRGANO_SUPERIOR', 'NOMBRE_ÓRGANO_SUPERIOR', 'CÓDIGO_ÓRGANO',
       'NOMBRE_ÓRGANO', 'CÓDIGO_UNIDAD_GESTORA', 'NOMBRE_UNIDAD_GESTORA',
       'CATEGORÍA_ECONÓMICA', 'ORIGEN_INGRESO', 'TIPO_INGRESO', 'DETALLE'],
      dtype='object')
Algunos ejemplos de filas son:

,CÓDIGO_ÓRGANO_SUPERIOR,NOMBRE_ÓRGANO_SUPERIOR,CÓDIGO_ÓRGANO,NOMBRE_ÓRGANO,CÓDIGO_UNIDAD_GESTORA,NOMBRE_UNIDAD_GESTORA,CATEGORÍA_ECONÓMICA,ORIGEN_INGRESO,TIPO_INGRESO,DETALLE
1672,26000,Ministério da Educação,26232,Universidade Federal da Bahia,153038,UNIVERSIDADE FEDERAL DA BAHIA,Receitas Correntes,Receita Patrimonial,Exploração do patrimônio imobiliário do Estad,ARRENDAMENTOS
1007,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,170013,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,Receitas Correntes,Receita de Serviços,Receita de Serviços,SERVICOS DE TECNOLOGIA
2484,26000,Ministério da Educação,26242,Universidade Federal de Pernambuco,153080,UNIVERSIDADE FEDERAL DE PERNAMBUCO,Receitas Correntes,Receita de Serviços,Receita de Serviços,OUTROS RECEITAS DE SERVICOS
4057,53000,Ministério do Desenvolvimento Regional,53000,Ministério do Desenvolvimento Regional - Unida...,530002,ORCAMENTO E FINANCAS/MDR,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",RESTITUICOES DE CONVENIOS - PRIMARIAS
4149,53000,Ministério do Desenvolvimento Regional,53902,Fundo Constitucional de Financiamento do Centr...,537003,FUNDO CONSTITUCIONL DO CENTRO OESTE,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Impostos,RECEITA DE PARCELAMENTOS - IRPJ

Las características de estas columnas son:

,count,unique,top,freq
CÓDIGO_ÓRGANO_SUPERIOR,4553,25,26000,1841
NOMBRE_ÓRGANO_SUPERIOR,4553,25,Ministério da Educação,1841
CÓDIGO_ÓRGANO,4553,268,25000,482
NOMBRE_ÓRGANO,4553,267,Ministério da Economia - Unidades com vínculo ...,482
CÓDIGO_UNIDAD_GESTORA,4553,281,170013,382
NOMBRE_UNIDAD_GESTORA,4553,278,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,382
CATEGORÍA_ECONÓMICA,4553,5,Receitas Correntes,4095
ORIGEN_INGRESO,4553,15,Outras Receitas Correntes,2050
TIPO_INGRESO,4553,46,Receita de Serviços,973
DETALLE,4553,708,RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES,216

In [11]:
se.analisis_descriptivos_numéricas(df_datos_2014)

Las columnas no categóricas son Index(['VALOR_PREVISTO_ACTUALIZADO', 'VALOR_REGISTRADO', 'VALOR_REALIZADO',
       'PORCENTAJE_REALIZADO', 'FECHA_REGISTRO', 'AÑO_EJERCICIO'],
      dtype='object')
Algunos ejemplos de filas son:

,VALOR_PREVISTO_ACTUALIZADO,VALOR_REGISTRADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO,FECHA_REGISTRO,AÑO_EJERCICIO
944,6931532.00,0.00,33113161.33,478.00,2014-12-31,2014
3495,0.00,0.00,1738.44,0.00,2014-12-31,2014
3879,241064327.00,0.00,336605520.47,140.00,2014-12-31,2014
1332,763131.00,0.00,0.00,0.00,2014-12-31,2014
2831,318482.00,0.00,284982.62,89.00,2014-12-31,2014

Las características de estas columnas son:

,count,mean,min,25%,50%,75%,max,std
VALOR_PREVISTO_ACTUALIZADO,4553.00,525396271.93,0.00,0.00,18862.00,1300000.00,654746947069.00,11072943886.14
VALOR_REGISTRADO,4553.00,278181643.11,0.00,0.00,0.00,0.00,357160677863.97,7027763573.99
VALOR_REALIZADO,4553.00,491665073.43,-624211482.24,292.40,42646.20,960692.70,548491208660.31,10062396210.84
PORCENTAJE_REALIZADO,4553.00,16765.44,-114552.00,0.00,0.00,95.00,72363772.00,1072811.46
FECHA_REGISTRO,4553,2014-12-31 00:00:00,2014-12-31 00:00:00,2014-12-31 00:00:00,2014-12-31 00:00:00,2014-12-31 00:00:00,2014-12-31 00:00:00,NaN
AÑO_EJERCICIO,4553.00,2014.00,2014.00,2014.00,2014.00,2014.00,2014.00,0.00

# Análisis columnas de forma individual
## Año 2014

In [12]:
for columna in df_datos_2014.columns:
    print(se.analisis_individual_columnas(df_datos_2014, columna))

La categoría CÓDIGO_ÓRGANO_SUPERIOR tiene 25 elementos diferentes:

Los elementos de la categoría son:

array(['63000', '37000', '22000', '55000', '24000', '52000', '25000',
       '26000', '39000', '30000', '81000', '58000', '33000', '36000',
       '41000', '57000', '35000', '32000', '49000', '53000', '51000',
       '44000', '38000', '54000', '20000'], dtype=object)

Los 10 CÓDIGO_ÓRGANO_SUPERIOR que MAS aparecen son:

                        count  Porcentaje_recuento
CÓDIGO_ÓRGANO_SUPERIOR
26000                    1841                40.43
25000                     900                19.77
53000                     308                 6.76
52000                     238                 5.23
22000                     156                 3.43
30000                     133                 2.92
54000                     126                 2.77
24000                     125                 2.75
39000                     124                 2.72
32000                     122                 2.68

Los 10 CÓDIGO_ÓRGANO_SUPERIOR que MENOS aparecen son:

                        count  Porcentaje_recuento
CÓDIGO_ÓRGANO_SUPERIOR
35000                      17                 0.37
38000                      17                 0.37
49000                      14                 0.31
63000                      14                 0.31
57000                      11                 0.24
58000                      11                 0.24
37000                       9                 0.20
51000                       8                 0.18
33000                       7                 0.15
81000                       5                 0.11

 Las distribución de las repeticiones de los CÓDIGO_ÓRGANO_SUPERIOR son:

       count  % repetición
count
11         2          8.00
14         2          8.00
17         2          8.00
308        1          4.00
1841       1          4.00
900        1          4.00
133        1          4.00
156        1          4.00
238        1          4.00
126        1          4.00
113        1          4.00
125        1          4.00
124        1          4.00
122        1          4.00
48         1          4.00
76         1          4.00
86         1          4.00
44         1          4.00
9          1          4.00
8          1          4.00
7          1          4.00
5          1          4.00

None
La categoría NOMBRE_ÓRGANO_SUPERIOR tiene 25 elementos diferentes:

Los elementos de la categoría son:

array(['Advocacia-Geral da União', 'Controladoria-Geral da União',
       'Ministério da Agricultura, Pecuária e Abastec',
       'Ministério da Cidadania',
       'Ministério da Ciência, Tecnologia, Inovações ',
       'Ministério da Defesa', 'Ministério da Economia',
       'Ministério da Educação', 'Ministério da Infraestrutura',
       'Ministério da Justiça e Segurança Pública',
       'Ministério da Mulher, Família e Direitos Huma',
       'Ministério da Pesca e Aquicultura',
       'Ministério da Previdência Social', 'Ministério da Saúde',
       'Ministério das Comunicações',
       'Ministério das Mulheres, Igualdade Racial, da',
       'Ministério das Relações Exteriores',
       'Ministério de Minas e Energia',
       'Ministério do Desenvolvimento Agrário',
       'Ministério do Desenvolvimento Regional', 'Ministério do Esporte',
       'Ministério do Meio Ambiente', 'Ministério do Trabalho e Emprego',
       'Ministério do Turismo', 'Presidência da República'], dtype=object)

Los 10 NOMBRE_ÓRGANO_SUPERIOR que MAS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_ÓRGANO_SUPERIOR
Ministério da Educação                          1841                40.43
Ministério da Economia                           900                19.77
Ministério do Desenvolvimento Regional           308                 6.76
Ministério da Defesa                             238                 5.23
Ministério da Agricultura, Pecuária e Abastec    156                 3.43
Ministério da Justiça e Segurança Pública        133                 2.92
Ministério do Turismo                            126                 2.77
Ministério da Ciência, Tecnologia, Inovações     125                 2.75
Ministério da Infraestrutura                     124                 2.72
Ministério de Minas e Energia                    122                 2.68

Los 10 NOMBRE_ÓRGANO_SUPERIOR que MENOS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_ÓRGANO_SUPERIOR
Ministério das Relações Exteriores                17                 0.37
Ministério do Trabalho e Emprego                  17                 0.37
Ministério do Desenvolvimento Agrário             14                 0.31
Advocacia-Geral da União                          14                 0.31
Ministério das Mulheres, Igualdade Racial, da     11                 0.24
Ministério da Pesca e Aquicultura                 11                 0.24
Controladoria-Geral da União                       9                 0.20
Ministério do Esporte                              8                 0.18
Ministério da Previdência Social                   7                 0.15
Ministério da Mulher, Família e Direitos Huma      5                 0.11

 Las distribución de las repeticiones de los NOMBRE_ÓRGANO_SUPERIOR son:

       count  % repetición
count
11         2          8.00
14         2          8.00
17         2          8.00
308        1          4.00
1841       1          4.00
900        1          4.00
133        1          4.00
156        1          4.00
238        1          4.00
126        1          4.00
113        1          4.00
125        1          4.00
124        1          4.00
122        1          4.00
48         1          4.00
76         1          4.00
86         1          4.00
44         1          4.00
9          1          4.00
8          1          4.00
7          1          4.00
5          1          4.00

None
La categoría CÓDIGO_ÓRGANO tiene 268 elementos diferentes:

Los elementos de la categoría son:

array(['63000', '66000', '22905', '22202', '22000', '22211', '22201',
       '44208', '49001', '55000', '55001', '20501', '24901', '24000',
       '20301', '20502', '20402', '24209', '49280', '52121', '52132',
       '52911', '52133', '52904', '31280', '52211', '52221', '52111',
       '52912', '52000', '52222', '52131', '52233', '25000', '30204',
       '30203', '37904', '38901', '20202', '25207', '25916', '25205',
       '37202', '25211', '25208', '33206', '25201', '37201', '25915',
       '28500', '61201', '20603', '25203', '25904', '22500', '25914',
       '20924', '71902', '25905', '25901', '26237', '26246', '26234',
       '26267', '26000', '26428', '26409', '26238', '26405', '26427',
       '26350', '26285', '26241', '26270', '26433', '26250', '26245',
       '26294', '26431', '26283', '26244', '26278', '26239', '26282',
       '26242', '26243', '26421', '26232', '26235', '26408', '26272',
       '26233', '26271', '26414', '26279', '26249', '26420', '26268',
       '26412', '26260', '26280', '26251', '26257', '26263', '26422',
       '26423', '26240', '26258', '26406', '26439', '26410', '26231',
       '26417', '26256', '26292', '26435', '26407', '26424', '26434',
       '26419', '26281', '26404', '26449', '26442', '26413', '26277',
       '26411', '26275', '26247', '26416', '26276', '26253', '26236',
       '26418', '26440', '26430', '26298', '26274', '26201', '26432',
       '26252', '26230', '26264', '26269', '26352', '26254', '26273',
       '26262', '26291', '26255', '26284', '26443', '26402', '26436',
       '26290', '26437', '26248', '26441', '26351', '26286', '26426',
       '26403', '26429', '26415', '26261', '26266', '26438', '26425',
       '26448', '49901', '56901', '39252', '62901', '68000', '62201',
       '39000', '68201', '39250', '39253', '39816', '39811', '39815',
       '39813', '39817', '39814', '39812', '29209', '62000', '30108',
       '30802', '30202', '30911', '30000', '30211', '30907', '30905',
       '30912', '30205', '20122', '58000', '33000', '36201', '36211',
       '36210', '36000', '36212', '36213', '41231', '41903', '41232',
       '20415', '41000', '64901', '64902', '35000', '35201', '32205',
       '29208', '20303', '32000', '32210', '32263', '32314', '20302',
       '49000', '29214', '22204', '29205', '22203', '53901', '53902',
       '53903', '44205', '53202', '53203', '53000', '74917', '74918',
       '53207', '56902', '91214', '20701', '44207', '44206', '44204',
       '44000', '44902', '38000', '20203', '34902', '20604', '20412',
       '54000', '20411', '20404', '42207', '20408', '20403', '54901',
       '64000', '20101', '67000', '20116', '24208', '20117', '69000',
       '61000', '60000'], dtype=object)

Los 10 CÓDIGO_ÓRGANO que MAS aparecen son:

               count  Porcentaje_recuento
CÓDIGO_ÓRGANO
25000            482                10.59
37904            115                 2.53
26000             98                 2.15
53901             52                 1.14
53903             52                 1.14
53902             52                 1.14
22202             49                 1.08
52132             45                 0.99
52904             42                 0.92
34902             42                 0.92

Los 10 CÓDIGO_ÓRGANO que MENOS aparecen son:

               count  Porcentaje_recuento
CÓDIGO_ÓRGANO
39816              1                 0.02
52233              1                 0.02
39812              1                 0.02
39814              1                 0.02
39817              1                 0.02
39813              1                 0.02
39811              1                 0.02
49280              1                 0.02
61000              1                 0.02
60000              1                 0.02

 Las distribución de las repeticiones de los CÓDIGO_ÓRGANO son:

       count  % repetición
count
4         16          5.97
13        14          5.22
9         14          5.22
10        13          4.85
1         13          4.85
17        12          4.48
11        12          4.48
16        12          4.48
7         11          4.10
15        11          4.10
12        10          3.73
8         10          3.73
14         9          3.36
22         9          3.36
20         9          3.36
3          8          2.99
24         7          2.61
6          7          2.61
19         7          2.61
2          6          2.24
5          6          2.24
18         6          2.24
25         5          1.87
26         4          1.49
28         4          1.49
33         4          1.49
27         3          1.12
52         3          1.12
30         3          1.12
29         3          1.12
21         3          1.12
42         2          0.75
23         2          0.75
32         2          0.75
36         1          0.37
37         1          0.37
41         1          0.37
45         1          0.37
98         1          0.37
49         1          0.37
482        1          0.37
115        1          0.37

None
La categoría NOMBRE_ÓRGANO tiene 267 elementos diferentes:

Los elementos de la categoría son:

array(['Advocacia-Geral da União - Unidades com vínculo direto',
       'Controladoria-Geral da União',
       'Fundo de Defesa da Economia Cafeeira',
       'Empresa Brasileira de Pesquisa Agropecuária',
       'Ministério da Agricultura, Pecuária e Abastecimento - Unidades com vínculo direto',
       'Companhia Nacional de Abastecimento',
       'Instituto Nacional de Colonização e Reforma Agrária',
       'Serviço Florestal Brasileiro',
       'Fundo de Terras e da Reforma Agrária',
       'Ministério da Cidadania - Unidades com vínculo direto',
       'Fundo Nacional de Assistência Social',
       'Conselho Nacional de Desenvolvimento Científico e Tecnológico',
       'Fundo Nacional de Desenvolvimento Científico e Tecnológico',
       'Ministério da Ciência, Tecnologia, Inovações e Comunicações - Unidades com vínculo direto',
       'Comissão Nacional de Energia Nuclear',
       'Financiadora de Estudos e Projetos',
       'Agência Espacial Brasileira',
       'Centro Nacional de Tecnologia Eletrônica Avançada S.A.',
       'Empresa Brasileira de Correios e Telégrafos',
       'Comando do Exército', 'Comando da Marinha - Fundo Naval',
       'Fundo Aeronáutico',
       'Fundo de Desenvolvimento do Ensino Profissional Marítimo',
       'Fundo do Exército',
       'Caixa de Construções de Casas para o Pessoal da Marinha do Brasil',
       'Caixa de Financiamento Imobiliário da Aeronáutica',
       'Indústria de Material Bélico do Brasil', 'Comando da Aeronáutica',
       'Fundo Aeroviário',
       'Ministério da Defesa - Unidades com vínculo direto',
       'Fundação Osório', 'Comando da Marinha',
       'Amazônia Azul Tecnologia de Defesa S.A.',
       'Ministério da Economia - Unidades com vínculo direto',
       'Instituto Nacional da Propriedade Industrial',
       'Instituto Nacional de Metrologia, Qualidade e Tecnologia',
       'Fundo do Regime Geral da Previdência Social',
       'Fundo de Amparo ao Trabalhador',
       'Fundação Escola Nacional de Administração Pública',
       'Serviço Federal de Processamento de Dados',
       'Fundo Contingente da Extinta RFFSA-FCMP',
       'Fundação Instituto Brasileiro de Geografia e Estatística',
       'Instituto Nacional do Seguro Social', 'Casa da Moeda do Brasil',
       'Superintendência de Seguros Privados',
       'Superintendência Nacional de Previdência Complementar',
       'Banco Central do Brasil - Orçamento Fiscal e Seguridade Social',
       'Fundação Jorge Duprat Figueiredo, de Segurança e Medicina do Trabalho',
       'Fundo Constitucional do Distrito Federal',
       'Fundo de Garantia para a Promoção da Competitividade',
       'Instituto de Pesquisa Econômica Aplicada',
       'Superintendência da Zona Franca de Manaus',
       'Comissão de Valores Mobiliários',
       'Fundo de Estabilidade do Seguro Rural',
       'Companhia de Entrepostos e Armazéns Gerais de São Paulo',
       'Fundo de Garantia à Exportação',
       'Fundo Nacional de Desenvolvimento', 'Fundo Soberano do Brasil',
       'Fundo de Apoio ao Desenvolvimento Social',
       'Fundo de Compensação de Variações Salariais',
       'Universidade Federal de Juiz de Fora',
       'Universidade Federal de Santa Catarina',
       'Universidade Federal do Espírito Santo',
       'Universidade Federal da Integração Latino-Americana',
       'Ministério da Educação - Unidades com vínculo direto',
       'Instituto Federal de Brasília',
       'Instituto Federal de Minas Gerais',
       'Universidade Federal de Minas Gerais',
       'Instituto Federal do Ceará', 'Instituto Federal da Bahia',
       'Fundação Universidade Federal da Grande Dourados',
       'Fundação Universidade Federal de São João Del-Rei',
       'Universidade Federal do Paraná',
       'Fundação Universidade do Amazonas',
       'Instituto Federal do Rio de Janeiro',
       'Universidade Federal de Roraima',
       'Universidade Federal do Rio de Janeiro',
       'Hospital de Clínicas de Porto Alegre',
       'Instituto Federal do Piauí',
       'Fundação Universidade Federal do Mato Grosso do Sul',
       'Universidade Federal do Rio Grande do Sul',
       'Fundação Universidade Federal de Pelotas',
       'Universidade Federal do Pará', 'Universidade Federal de Viçosa',
       'Universidade Federal de Pernambuco',
       'Universidade Federal do Rio Grande do Norte',
       'Instituto Federal de Rondônia', 'Universidade Federal da Bahia',
       'Universidade Federal de Goiás', 'Instituto Federal do Maranhão',
       'Fundação Universidade do Maranhão',
       'Universidade Federal do Ceará',
       'Fundação Universidade de Brasília',
       'Instituto Federal do Mato Grosso',
       'Fundação Universidade Federal do Piauí',
       'Universidade Federal Rural do Rio de Janeiro',
       'Instituto Federal Farroupilha',
       'Fundação Universidade Federal de Rondônia',
       'Instituto Federal do Sul de Minas Gerais',
       'Universidade Federal de Alfenas',
       'Fundação Universidade Federal de São Carlos',
       'Fundação Universidade Federal do Tocantins',
       'Centro Federal de Educação Tecnológica de Minas Gerais',
       'Universidade Federal de Lavras', 'Instituto Federal Catarinense',
       'Instituto Federal de Sergipe', 'Universidade Federal da Paraíba',
       'Universidade Tecnológica Federal do Paraná',
       'Instituto Federal do Espírito Santo',
       'Instituto Federal de São Paulo',
       'Instituto Federal do Norte de Minas Gerais',
       'Universidade Federal de Alagoas', 'Instituto Federal da Paraíba',
       'Centro Federal de Educação Tecnológica Celso Suckow da Fonseca',
       'Fundação Joaquim Nabuco',
       'Instituto Federal do Rio Grande do Norte',
       'Instituto Federal Goiano', 'Instituto Federal do Tocantins',
       'Instituto Federal Fluminense',
       'Instituto Federal do Rio Grande do Sul',
       'Fundação Universidade Federal de Sergipe',
       'Instituto Federal Baiano', 'Universidade Federal do Cariri',
       'Universidade da Integração Internacional da Lusofonia Afro-Brasileira',
       'Instituto Federal do Triângulo Mineiro',
       'Universidade Federal de Ouro Preto',
       'Instituto Federal do Sudeste de Minas Gerais',
       'Fundação Universidade Federal do Acre',
       'Universidade Federal de Santa Maria', 'Instituto Federal do Pará',
       'Fundação Universidade Federal do Mato Grosso',
       'Universidade Federal Rural da Amazônia',
       'Universidade Federal Fluminense',
       'Instituto Federal de Pernambuco',
       'Universidade Federal da Fronteira Sul',
       'Instituto Federal do Sertão de Pernambuco',
       'Fundo Nacional de Desenvolvimento da Educação',
       'Fundação Universidade Federal de Uberlândia', 'Colégio Pedro II',
       'Instituto Federal do Paraná',
       'Universidade Federal de Campina Grande',
       'Fundação Universidade Federal do Vale do São Francisco',
       'Universidade Federal Rural do Semi-Árido',
       'Universidade Federal do Estado do Rio de Janeiro',
       'Fundação Universidade Federal do ABC',
       'Universidade Federal do Triângulo Mineiro',
       'Universidade Federal do Rio Grande',
       'Universidade Federal de São Paulo',
       'Fundação Coordenação de Aperfeiçoamento de Pessoal de Nível Superior',
       'Universidade Federal dos Vales do Jequitinhonha e Mucuri',
       'Fundação Universidade Federal de Ciências da Saúde de Porto Alegre',
       'Empresa Brasileira de Serviços Hospitalares',
       'Instituto Federal de Alagoas',
       'Instituto Federal Sul-rio-grandense',
       'Instituto Nacional de Estudos e Pesquisas Educacionais Anísio Teixeira',
       'Instituto Federal de Roraima',
       'Universidade Federal Rural de Pernambuco',
       'Universidade Federal do Oeste do Pará',
       'Universidade Federal do Recôncavo da Bahia',
       'Fundação Universidade Federal do Amapá',
       'Instituto Federal do Amapá', 'Instituto Federal do Amazonas',
       'Instituto Federal de Educação, Ciência e Tecnologia de Goiás',
       'Instituto Federal do Mato Grosso do Sul',
       'Universidade Federal de Itajubá',
       'Fundação Universidade Federal do Pampa',
       'Instituto Federal de Santa Catarina', 'Instituto Federal do Acre',
       'Universidade Federal do Sul e Sudeste do Pará',
       'Departamento do Fundo da Marinha Mercante',
       'Fundo Nacional de Segurança e Educação de Trânsito',
       'Departamento Nacional de Infraestrutura de Transportes',
       'Fundo Nacional de Aviação Civil', 'Secretaria de Portos',
       'Agência Nacional de Aviação Civil',
       'Ministério da Infraestrutura - Unidades com vínculo direto',
       'Agência Nacional de Transportes Aquaviários',
       'Agência Nacional de Transportes Terrestres',
       'Empresa de Planejamento e Logística S.A.',
       'Companhia Docas do Estado de São Paulo',
       'Companhia Docas do Rio de Janeiro',
       'Companhia Docas do Rio Grande do Norte',
       'Companhia Docas do Ceará', 'Companhia Docas do Espírito Santo',
       'Companhia Docas do Pará', 'Companhia Docas do Estado da Bahia',
       'VALEC Engenharia, Construções e Ferrovias S.A.',
       'Secretaria de Aviação Civil', 'Departamento de Polícia Federal',
       'Departamento de Polícia Rodoviária Federal',
       'Fundação Nacional do Índio',
       'Fundo Nacional de Segurança Pública',
       'Ministério da Justiça e Segurança Pública - Unidades com vínculo direto',
       'Conselho Administrativo de Defesa Econômica',
       'Fundo Penitenciário Nacional',
       'Secretaria Nacional do Consumidor Fundo',
       'Fundo Nacional Antidrogas',
       'Fundação Nacional do Índio - Patrimônio Indígena',
       'Secretaria Nacional de Políticas para Mulheres',
       'Ministério da Pesca e Aquicultura - Unidades com vínculo direto',
       'Ministério da Previdência Social - Unidades com vínculo direto',
       'Fundação Oswaldo Cruz', 'Fundação Nacional de Saúde',
       'Hospital Nossa Senhora da Conceição S.A.',
       'Ministério da Saúde - Unidades com vínculo direto',
       'Agência Nacional de Vigilância Sanitária',
       'Agência Nacional de Saúde Suplementar',
       'Agêncial Nacional de Telecomunicações',
       'Fundo para o Desenvolvimento Tecnológico das Telecomunicações',
       'Fundo de Universalização dos Serviços de Telecomunicações',
       'Empresa Brasil de Comunicação',
       'Ministério das Comunicações - Unidades com vínculo direto',
       'Fundo Nacional para a Criança e o Adolescente',
       'Fundo Nacional do Idoso',
       'Ministério das Relações Exteriores - Unidades com vínculo direto',
       'Fundação Alexandre de Gusmão',
       'Agência Nacional do Petróleo, Gás Natural e Biocombustíveis',
       'Companhia de Pesquisa de Recursos Minerais',
       'Indústrias Nucleares do Brasil',
       'Ministério de Minas e Energia - Unidades com vínculo direto',
       'Agência Nacional de Energia Elétrica',
       'Departamento Nacional de Produção Mineral',
       'Empresa de Pesquisa Energética',
       'Nuclebrás Equipamentos Pesados S.A.',
       'Ministério do Desenvolvimento Agrário - Unidades com vínculo direto',
       'Companhia Brasileira de Trens Urbanos',
       'Departamento Nacional de Obras Contra as Secas',
       'Empresa de Trens Urbanos de Porto Alegre',
       'Companhia de Desenvolvimento dos Vales do São Francisco e do Parnaíba',
       'Fundo Constitucional de Financiamento do Norte',
       'Fundo Constitucional de Financiamento do Centro-Oeste',
       'Fundo Constitucional de Financiamento do Nordeste',
       'Agência Nacional de Águas',
       'Superintendência do Desenvolvimento da Amazônia',
       'Superintendência do Desenvolvimento do Nordeste',
       'Ministério do Desenvolvimento Regional - Unidades com vínculo direto',
       'Fundo de Desenvolvimento da Amazônia',
       'Fundo de Desenvolvimento do Nordeste',
       'Superintendência de Desenvolvimento do Centro-Oeste',
       'Fundo Nacional de Habitação de Interesse Social',
       'Autoridade Pública Olímpica',
       'Instituto Brasileiro do Meio Ambiente e dos Recursos Naturais Renováveis',
       'Instituto Chico Mendes de Conservação da Biodiversidade',
       'Instituto de Pesquisas Jardim Botânico do Rio de Janeiro',
       'Fundo Nacional do Meio Ambiente',
       'Ministério do Meio Ambiente - Unidades com vínculo direto',
       'Fundo Nacional sobre Mudança no Clima',
       'Ministério do Trabalho e Emprego - Unidades com vínculo direto',
       'Agência Nacional do Cinema', 'Fundo Nacional de Cultura',
       'Instituto Brasileiro de Turismo', 'Fundação Nacional de Artes',
       'Ministério do Turismo - Unidades com vínculo direto',
       'Instituto do Patrimônio Histórico e Artístico Nacional',
       'Fundação Biblioteca Nacional', 'Instituto Brasileiro de Museus',
       'Fundação Cultural Palmares', 'Fundação Casa de Rui Barbosa',
       'Fundo Geral de Turismo', 'Secretaria de Direitos Humanos',
       'Presidência da República',
       'Secretaria de Políticas de Promoção da Igualdade Racial',
       'Fundo de Imprensa Nacional',
       'Instituto Nacional de Tecnologia da Informação',
       'Secretaria da Micro e Pequena Empresa',
       'Secretaria de Assuntos Estratégicos',
       'Gabinete da Vice-Presidência da República'], dtype=object)

Los 10 NOMBRE_ÓRGANO que MAS aparecen son:

                                                    count  Porcentaje_recuento
NOMBRE_ÓRGANO
Ministério da Economia - Unidades com vínculo d...    482                10.59
Fundo do Regime Geral da Previdência Social           115                 2.53
Ministério da Educação - Unidades com vínculo d...     98                 2.15
Fundo Constitucional de Financiamento do Nordeste      52                 1.14
Fundo Constitucional de Financiamento do Norte         52                 1.14
Fundo Constitucional de Financiamento do Centro...     52                 1.14
Empresa Brasileira de Pesquisa Agropecuária            49                 1.08
Comando da Marinha - Fundo Naval                       45                 0.99
Fundo do Exército                                      42                 0.92
Fundo Nacional de Cultura                              42                 0.92

Los 10 NOMBRE_ÓRGANO que MENOS aparecen son:

                                             count  Porcentaje_recuento
NOMBRE_ÓRGANO
Companhia Docas do Ceará                         1                 0.02
Companhia Docas do Rio Grande do Norte           1                 0.02
Companhia Docas do Pará                          1                 0.02
Fundo de Apoio ao Desenvolvimento Social         1                 0.02
Companhia Docas do Estado da Bahia               1                 0.02
Fundo Soberano do Brasil                         1                 0.02
Amazônia Azul Tecnologia de Defesa S.A.          1                 0.02
Empresa Brasileira de Correios e Telégrafos      1                 0.02
Secretaria de Assuntos Estratégicos              1                 0.02
Gabinete da Vice-Presidência da República        1                 0.02

 Las distribución de las repeticiones de los NOMBRE_ÓRGANO son:

       count  % repetición
count
4         16          5.99
13        14          5.24
9         14          5.24
1         13          4.87
11        12          4.49
17        12          4.49
10        12          4.49
16        12          4.49
7         11          4.12
15        11          4.12
12        11          4.12
8         10          3.75
14         9          3.37
22         9          3.37
20         9          3.37
3          8          3.00
24         7          2.62
6          7          2.62
19         7          2.62
18         6          2.25
5          6          2.25
25         5          1.87
2          5          1.87
26         4          1.50
28         4          1.50
33         4          1.50
27         3          1.12
52         3          1.12
30         3          1.12
29         3          1.12
21         3          1.12
42         2          0.75
23         2          0.75
32         2          0.75
36         1          0.37
37         1          0.37
41         1          0.37
45         1          0.37
98         1          0.37
49         1          0.37
482        1          0.37
115        1          0.37

None
La categoría CÓDIGO_UNIDAD_GESTORA tiene 281 elementos diferentes:

Los elementos de la categoría son:

array(['110060', '110174', '130137', '135037', '130101', '135100',
       '373001', '440088', '490003', '420002', '550002', '330013',
       '180077', '364001', '240901', '240102', '113209', '365001',
       '203001', '245209', '364999', '415001', '160075', '673001',
       '121002', '873001', '167086', '773008', '123001', '168002',
       '120002', '699999', '122002', '110407', '164204', '773001',
       '773009', '211999', '120999', '170013', '183038', '183023',
       '513001', '380910', '114702', '201002', '806001', '173065',
       '114601', '510001', '170010', '179083', '173039', '333001',
       '173057', '264001', '170392', '287001', '113601', '193028',
       '173030', '179103', '225001', '280102', '170356', '201924',
       '170474', '170380', '170381', '179999', '153061', '153163',
       '153046', '158658', '150014', '158143', '158122', '153062',
       '158133', '158145', '154502', '154069', '153079', '154039',
       '158157', '154080', '153115', '155001', '158146', '154054',
       '153114', '154047', '153063', '154051', '153080', '153103',
       '158148', '153038', '153052', '158128', '154041', '153045',
       '154040', '158144', '154048', '153166', '158127', '154055',
       '158137', '153028', '154049', '154419', '153015', '153032',
       '158125', '158134', '153065', '153019', '158151', '158154',
       '158121', '153037', '158138', '153010', '344002', '158155',
       '158124', '158131', '158139', '158141', '154050', '158129',
       '158719', '158565', '158099', '154046', '158123', '154044',
       '153164', '158135', '154045', '153034', '153056', '158136',
       '158517', '158149', '153173', '154043', '153167', '158009',
       '158195', '154421', '153033', '154034', '154503', '153035',
       '154042', '153031', '154003', '153036', '154032', '155007',
       '158147', '158126', '153978', '158152', '153165', '158515',
       '158092', '154215', '158150', '158142', '158153', '158132',
       '153030', '154359', '158516', '158156', '154999', '158718',
       '277001', '200320', '393003', '110591', '110680', '113214',
       '390002', '682010', '393001', '395001', '396006', '396001',
       '396005', '396003', '399002', '396004', '396002', '275075',
       '110590', '200336', '200109', '194088', '200331', '200094',
       '303001', '200333', '200401', '200246', '194040', '200021',
       '110008', '330002', '254420', '255000', '366003', '250088',
       '253002', '253003', '413001', '410007', '413047', '115406',
       '410002', '110244', '207001', '240005', '240999', '244001',
       '323030', '495001', '113206', '320002', '323028', '323002',
       '325001', '113208', '490002', '275068', '113802', '275060',
       '195006', '537002', '537003', '537001', '443003', '533013',
       '533014', '530002', '560003', '533008', '533009', '533018',
       '560015', '913001', '193034', '443032', '443019', '443045',
       '440002', '447001', '380010', '203003', '340002', '185001',
       '403201', '540001', '403101', '344042', '423001', '344041',
       '344001', '187002', '200016', '110005', '238012', '110245',
       '243001', '110246', '690001', '110355', '110101'], dtype=object)

Los 10 CÓDIGO_UNIDAD_GESTORA que MAS aparecen son:

                       count  Porcentaje_recuento
CÓDIGO_UNIDAD_GESTORA
170013                   382                 8.39
513001                   115                 2.53
150014                    98                 2.15
170010                    64                 1.41
537002                    52                 1.14
537003                    52                 1.14
537001                    52                 1.14
135037                    49                 1.08
167086                    42                 0.92
340002                    42                 0.92

Los 10 CÓDIGO_UNIDAD_GESTORA que MENOS aparecen son:

                       count  Porcentaje_recuento
CÓDIGO_UNIDAD_GESTORA
396001                     1                 0.02
396005                     1                 0.02
396002                     1                 0.02
773009                     1                 0.02
120999                     1                 0.02
211999                     1                 0.02
240999                     1                 0.02
415001                     1                 0.02
110355                     1                 0.02
110101                     1                 0.02

 Las distribución de las repeticiones de los CÓDIGO_UNIDAD_GESTORA son:

       count  % repetición
count
1         17          6.05
4         16          5.69
9         15          5.34
11        14          4.98
13        13          4.63
17        13          4.63
10        13          4.63
16        12          4.27
8         12          4.27
15        12          4.27
12        11          3.91
7         11          3.91
14         9          3.20
22         9          3.20
2          8          2.85
3          8          2.85
20         8          2.85
24         7          2.49
6          7          2.49
19         7          2.49
5          7          2.49
25         6          2.14
18         5          1.78
26         4          1.42
28         4          1.42
33         4          1.42
27         3          1.07
52         3          1.07
30         3          1.07
29         3          1.07
21         3          1.07
42         2          0.71
23         2          0.71
32         2          0.71
36         1          0.36
40         1          0.36
41         1          0.36
49         1          0.36
98         1          0.36
64         1          0.36
382        1          0.36
115        1          0.36

None
La categoría NOMBRE_UNIDAD_GESTORA tiene 278 elementos diferentes:

Los elementos de la categoría son:

array(['COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU',
       'DIRETORIA DE GESTAO INTERNA/SE/CGU',
       'FUNDO DE DEFESA DA ECON.CAFEEIRA/FUNCAFE/SPA', 'EMBRAPA-SETORIAL',
       'COORD.-GERAL DE ORCAMENTO E FINANCAS-MAPA',
       'COMPANHIA NACIONAL DE ABASTECIMENTO',
       'DPTO. DE ADMINISTRACAO FINANCEIRA-DAF - INCRA',
       'SETORIAL PROG.ORCAMENTARIA E FINANCEIRA-SFB', 'CREDITO FUNDIARIO',
       'COORD.GERAL DE PLAN. ORC. FIN. E CONTAB./MINC',
       'SETORIAL DE ORCAMENTO E FINANCAS/MC',
       'FUNDO NACIONAL DE ASSISTENCIA SOCIAL',
       'SETORIAL ORCAMENTARIA E FINANCEIRA - (ME)',
       'CNPQ - ADMINISTRACAO CENTRAL',
       'FUNDO NAC.DE DESENV. CIENT. E TECNOLOGICO',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS',
       'CNEN-ORCAMENTO E FINANCAS', 'FINANCIADORA DE ESTUDOS E PROJETOS',
       'AGENCIA ESPACIAL BRASILEIRA/AEB',
       'CENTRO NACIONAL DE TECNOLOGIA ELETRONICA AVAN',
       'CNPQ - DIFERENCIA CAMBIAL',
       'EMPRESA BRASILEIRA DE CORREIOS E TELEGRAFOS',
       'D CONT - SETORIAL FINANCEIRA',
       'DIRETORIA DE FINANCAS-SISTEMA PARA O PAIS/MM',
       'SECRETARIA DE ECON. E FIN.DA AER.- F.AER.', 'FUNDO DO EXERCITO',
       'DIRETORIA DE FINANCAS DA MARINHA - CCCPM',
       'CAIXA FINANCIAMENTO IMOBILIARIO AERONAUTICA',
       'INDUSTRIA DE MATERIAL BELICO DO BRASIL/GESTOR',
       'DIRETORIA DE ECON E FINANCAS DA AERONAUTICA',
       'FUNDO NAVAL - DIFERENCA CAMBIAL',
       'AGENCIA NACIONAL DE AVIACAO CIVIL - F. AEROV.',
       'DEPARTAMENTO DE PLANEJ, ORC E FINANCAS (MD)', 'FUNDACAO OSORIO',
       'DIRETORIA DE FINANCAS DA MARINHA-SISTEMA-PAIS',
       'DIRETORIA DE FINANCAS DA MARINHA - AMAZUL',
       'MARINHA - DIFERENCA CAMBIAL', 'MAER - DIFERENCA CAMBIAL',
       'SETORIAL ORCAMENTARIA E FINANCEIRA / ME',
       'INSTITUTO NACIONAL DA PROPRIEDADE INDUSTRIAL',
       'INSTITUTO NAC.DE METROLOG. QUALID. E TECNOLOG',
       'COORDENACAO DE ORCAMENTO E FINANCAS DO FRGPS',
       'COORD-GERAL DE ORCAMENTO, FIN. E CONT.- CGOFC',
       'FUNDACAO ESCOLA NACIONAL DE ADM. PUBLICA',
       'COORDENACAO-GERAL DE ORC. E FINANCAS/MP',
       'SERPRO-SEDE - DEPARTAMENTO FINANCEIRO',
       'FUNDO CONTINGENTE DA EXTINTA RFFSA-FC',
       'FUNDACAO IBGE-ADMINISTRACAO CENTRAL/RJ',
       'COORD.GERAL DE ORCAMENTO, FINANCAS E CONTAB.',
       'SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB',
       'CASA DA MOEDA DO BRASIL',
       'SUPERINTENDENCIA DE SEGUROS PRIVADOS - RJ',
       'COORD.GERAL DE ORC. FIN. E CONTABILIDADE',
       'BANCO CENTRAL DO BRASIL',
       'FUNDACENTRO - FUND.JORGE DUPRAT/CTN/SEDE - SP',
       'FUNDO CONSTITUCIONAL DO DISTRITO FEDERAL',
       'FUNDO DE GAR.P/PROMOC.DA COMPETITIVIDADE±FGPC',
       'INSTITUTO DE PESQUISA ECONOMICA APLICADA',
       'SUPERINTENDENCIA DA ZONA FRANCA DE MANAUS/AM',
       'COMISSAO DE VALORES MOBILIARIOS',
       'FUNDO DE ESTABILIDADE DO SEGURO RURAL',
       'CIA.DE ENTREPOSTOS E ARMAZENS GER.DE S.PAULO',
       'COORDENACAO-GERAL DE ORCAM.FINAN.CONTAB/MDIC',
       'FUNDO DE GARANTIA A EXPORTACAO-BNDES',
       'FUNDO NACIONAL DE DESENVOLVIMENTO', 'FUNDO SOBERANO DO BRASIL',
       'FUNDO DE APOIO AO DESENVOLVIMENTO SOCIAL',
       'FUNDO DE COMPENSACAO E VARIACAO SALARIAL',
       'STN - EXTERIOR - DIF.CAMBIAL',
       'UNIVERSIDADE FEDERAL DE JUIZ DE FORA',
       'UNIVERSIDADE FEDERAL DE SANTA CATARINA',
       'UNIVERSIDADE FEDERAL DO ESPIRITO SANTO',
       'UNIV. FEDERAL DA INTEGRACAO LATINO-AMERICANA',
       'SUBSECRETARIA DE PLANEJ. E ORCAMENTO SPO(MEC)',
       'IFB - REITORIA - BRASILIA-DF',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE MINAS GERAIS',
       'UNIVERSIDADE FEDERAL DE MINAS GERAIS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO CEARA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DA BAHIA',
       'FUNDACAO UNIVERSIDADE FED. DA GRANDE DOURADOS',
       'FUNDACAO UNIVERSIDADE FEDERAL DE S.J.DEL-REI',
       'UNIVERSIDADE FEDERAL DO PARANA',
       'FUNDACAO UNIVERSIDADE DO AMAZONAS', 'REITORIA',
       'UNIVERSIDADE FEDERAL DE RORAIMA',
       'UNIVERSIDADE FEDERAL DO RIO DE JANEIRO',
       'HOSPITAL DE CLINICAS DE PORTO ALEGRE',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO PIAUI',
       'FUNDACAO UNIVERS.FED. DE MATO GROSSO DO SUL',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE DO SUL',
       'FUNDACAO UNIVERSIDADE FEDERAL DE PELOTAS',
       'UNIVERSIDADE FEDERAL DO PARA', 'UNIVERSIDADE FEDERAL DE VICOSA',
       'UNIVERSIDADE FEDERAL DE PERNAMBUCO',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE DO NORTE',
       'INST. FED. DE EDUC.,CIENC. E TEC. DE RONDONIA',
       'UNIVERSIDADE FEDERAL DA BAHIA', 'UNIVERSIDADE FEDERAL DE GOIAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MARANHAO',
       'FUNDACAO UNIVERSIDADE DO MARANHAO',
       'UNIVERSIDADE FEDERAL DO CEARA',
       'FUNDACAO UNIVERSIDADE DE BRASILIA - FUB',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MATO GROSSO',
       'FUNDACAO UNIVERSIDADE FEDERAL DO PIAUI',
       'UNIVERSIDADE FEDERAL RURAL DO RIO DE JANEIRO',
       'INST.FED.DE EDUC.,CIENC.E TEC.FARROUPILHA',
       'FUNDACAO UNIVERSIDADE FEDERAL DE RONDONIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO SUL DE MG',
       'UNIVERSIDADE FEDERAL DE ALFENAS',
       'FUNDACAO UNIVERSIDADE FEDERAL DE SAO CARLOS',
       'FUNDACAO UNIVERSIDADE FEDERAL DO TOCANTINS',
       'CENTRO FEDERAL DE EDUCACAO TECNOLOGICA DE MG',
       'UNIVERSIDADE FEDERAL DE LAVRAS',
       'INSTITUTO FEDERAL CATARINENSE - REITORIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE SERGIPE',
       'UNIVERSIDADE FEDERAL DA PARAIBA',
       'UNIVERSIDADE TECNOLOGICA FEDERAL DO PARANA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO ESP.SANTO',
       'INSTITUTO FEDERAL DE SAO PAULO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO NORTE DE MG',
       'UNIVERSIDADE FEDERAL DE ALAGOAS', 'IFPB - REITORIA',
       'CENTRO FED.DE EDUC.TECNOL.CELSO S.DA FONSECA',
       'FUNDACAO JOAQUIM NABUCO', 'INST.FED.DE EDUC.,CIENC.E TEC.DO RN',
       'IF GOIANO', 'INST.FED.DE EDUC.,CIENC.E TEC.DO TOCANTINS',
       'INST.FED.DE EDUC.,CIENC.E TEC.FLUMINENSE',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO RS',
       'FUNDACAO UNIVERSIDADE FEDERAL DE SERGIPE',
       'INST FED DE EDUC CIENC E TECNOLOGIA BAIANO',
       'UNIVERSIDADE FEDERAL DO CARIRI',
       'UNIV.DA INTEG.INTERN.DA LUSOF.AFRO-BRASILEIRA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO TRIA.MINEIRO',
       'UNIVERSIDADE FEDERAL DE OURO PRETO',
       'INSTITUTO FED CIENCIA TECNOL SUDESTE MG',
       'FUNDACAO UNIVERSIDADE FEDERAL DO ACRE',
       'UNIVERSIDADE FEDERAL DE SANTA MARIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO PARA',
       'FUNDACAO UNIVERSIDADE FEDERAL DE MATO GROSSO',
       'UNIVERSIDADE FEDERAL RURAL DA AMAZONIA',
       'UNIVERSIDADE FEDERAL FLUMINENSE',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE PERNAMBUCO',
       'UNIVERSIDADE FEDERAL DA FRONTEIRA SUL',
       'INST.FED.DE ED.,CIENC.E TEC.DO S.PERNAMBUCANO',
       'FUNDO NACIONAL DE DESENVOLVIMENTO DA EDUCACAO',
       'FUNDACAO UNIVERSIDADE FEDERAL DE UBERLANDIA', 'COLEGIO PEDRO II',
       'INST. FED. DO PARANA/ REITORIA',
       'UNIVERSIDADE FEDERAL DE CAMPINA GRANDE',
       'FUND. UNIVERSIDADE FEDERAL VALE SAO FRANCISCO',
       'UNIVERSIDADE FEDERAL RURAL DO SEMI-ARIDO - RN',
       'UNIRIO UNIVERSIDADE FEDERAL DO ESTADO RJ',
       'FUNDACAO UNIVERSIDADE FEDERAL DO ABC',
       'UNIVERSIDADE FEDERAL DO TRIANGULO MINEIRO',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE - FURG',
       'UNIFESP-UNIVERSIDADE FEDERAL DE SAO PAULO',
       'FUND.COORD.DE APERF.DE PESSOAL NIVEL SUPERIOR',
       'UNIVERSIDADE FED.VALES JEQUITINHONHA E MUCURI',
       'FUND.UNIV.FED.DE.CIENC.DA SAUDE DE P.ALEGRE',
       'EMPRESA BRASILEIRA DE SERVICOS HOSPITALARES',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE ALAGOAS',
       'INST.FED.DE EDUC.,CIE.E TEC.SUL-RIO-GRANDENSE',
       'INST.NACIONAL DE EST.E PESQUISAS EDUCACIONAIS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE RORAIMA',
       'UNIVERSIDADE FEDERAL RURAL DE PERNAMBUCO',
       'UNIVERSIDADE FEDERAL DO OESTE DO PARA',
       'UNIVERSIDADE FEDERAL DO RECONCAVO DA BAHIA',
       'FUNDACAO UNIVERSIDADE FEDERAL DO AMAPA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO AMAPA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO AMAZONAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE GOIAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MAT.G.DO SUL',
       'UNIVERSIDADE FEDERAL DE ITAJUBA',
       'FUNDACAO UNIVERSIDADE FEDERAL DO PAMPA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE STA.CAT/IFSC',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO ACRE',
       'CAPES - DIFERENCA CAMBIAL',
       'UNIVERSIDADE FEDERAL DO SUL E SUDESTE DO PARA',
       'FUNDO DA MARINHA MERCANTE',
       'FUNDO NACIONAL DE SEG. E EDUCACAO DE TRANSITO',
       'DEPART.NAC.INFRA ESTRUTURA TRANSPORTES.',
       'FUNDO NACIONAL DE AVIACAO CIVIL', 'SECRETARIA DE PORTOS/PR',
       'AGENCIA NACIONAL DE AVIACAO CIVIL',
       'SUBSECRETARIA DE PLAN.,ORCAM.E ADMIN.SETORIAL',
       'AGENCIA NACIONAL DE TRANSPORTES AQUAVIARIOS',
       'AGENCIA NACIONAL DE TRANSPORTES TERRESTRES',
       'EMPRESA DE PLANEJAMENTO E LOGISTICA S.A - EPL',
       'COMPANHIA DOCAS DO ESTADO DE SAO PAULO',
       'COMPANHIA DOCAS DO RIO DE JANEIRO',
       'COMPANHIA DOCA DO RIO GRANDE DO NORTE',
       'COMPANHIA DOCAS DO CEARA', 'COMPANHIA DOCAS DO ESPIRITO SANTO',
       'COMPANHIA DOCAS DO PARA', 'COMPANHIA DOCAS DO ESTADO DA BAHIA',
       'VALEC ENGENHARIA CONSTRUCOES E FERROVIAS S/A.',
       'SECRETARIA DE AVIACAO CIVIL/PR',
       'COORDENACAO DE ORCAMENTO FINANCAS CONTABILIDA',
       'DEPTO.DE POLICIA RODOVIARIA FEDERAL',
       'FUNDACAO NACIONAL DO INDIO - U.O.',
       'FUNDO NACIONAL DE SEGURANCA PUBLICA - FNSP',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS-MJ',
       'CONSELHO ADMINISTRATIVO DE DEFESA ECONOMICA',
       'DEPEN - DIRETORIA EXECUTIVA',
       'FUNDO DE DEFESA DOS DIREITOS DIFUSOS',
       'FUNDO NACIONAL ANTIDROGAS', 'RENDA DO PATRIMONIO INDIGENA',
       'SECRETARIA DE POLITICAS PARA AS MULHERES',
       'SECRETARIA EXECUTIVA-MPA',
       'COORDENACAO-GERAL DE ORC. FIN.E CONTABILIDADE',
       'FUNDACAO OSWALDO CRUZ', 'FUNDACAO NACIONAL DE SAUDE - DF',
       'HOSPITAL NOSSA SENHORA DA CONCEICAO S/A',
       'SPO-COORD.-GERAL DE ORC.E FINANCAS/MS',
       'AGENCIA NACIONAL DE VIGILANCIA SANITARIA',
       'AGENCIA NACIONAL DE SAUDE SUPLEMENTAR',
       'AGENCIA NACIONAL DE TELECOMUNICACOES-SEDE',
       'FUNDO P/O DESENV.TECNOL.DAS TELECOMUNICACOES',
       'FUNDO DE UNIVERS.DOS SERV.TELECOMUNICACOES',
       'EMPRESA BRASIL DE COMUNICACAO S.A',
       'FUNDO NACIONAL PARA A CRIANCA E O ADOLESCENTE',
       'FUNDO NACIONAL DO IDOSO',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS-MRE',
       'MRE - DIFERENCA CAMBIAL', 'FUNDACAO ALEXANDRE DE GUSMAO',
       'AG. NAC.DO PETROLEO GAS NAT.E BIOCOM',
       'COMPANHIA DE PESQUISA DE RECURSOS MINERAIS',
       'INDUSTRIAS NUCLEARES DO BRASIL S/A - INB',
       'COORD.GERAL DE ORCAM.E FIN./M.M.E',
       'AGENCIA NACIONAL DE ENERGIA ELETRICA',
       'DEPARTAMENTO NAC. DE PRODUCAO MINERAL - SEDE',
       'EMPRESA DE PESQUISA ENERGETICA',
       'NUCLEBRAS EQUIPAMENTOS PESADOS S/A-NUCLEP',
       'SUBSEC. DE PLANEJ., ORCAMENTO E ADMINISTRACAO',
       'CIA BRASILEIRA DE TRENS URBANOS-ADM.CENTRAL',
       'DEPARTAMENTO NAC. DE OBRAS CONTRA AS SECAS/UO',
       'EMPRESA DE TRENS URBANOS DE PORTO ALEGRE S/A',
       'CIA DE DES.DOS VALES DO S.FRANC.E DO PARNAIBA',
       'FUNDO CONSTITUCIONAL FINANCIAMENTO NORTE',
       'FUNDO CONSTITUCIONL DO CENTRO OESTE',
       'FUNDO CONSTITUCIONAL DE FINANCIAM.DO NORDESTE',
       'COORDENACAO DE ORCAMENTO E FINANCAS.',
       'SUPERINTEND. DO DESENVOLVIMENTO DA AMAZONIA',
       'SUPERINTENDENCIA DO DESENVOLV. DO NORDESTE',
       'ORCAMENTO E FINANCAS/MDR',
       'SECRETARIA EXECUTIVA - MINISTERIO DAS CIDADES',
       'FUNDO DE DESENVOLVIMENTO DA AMAZONIA',
       'FUNDO DE DESENVOLVIMENTO DO NORDESTE',
       'SUPERINT. DO DESENVOLVIMENTO DO CENTRO-OESTE',
       'FUNDO NACIONAL DE HABIT. DE INTERESSE SOCIAL',
       'AUTORIDADE PUBLICA OLIMPICA',
       'IBAMA - INST.BRASILEIRO MEIO AMBIENTE/MATRIZ',
       'INST.CHICO MENDES DE CONSER.DA BIODIVERSIDADE',
       'COORD. DE PLAN. ORCAMENTO E FIN./COPLAN/JBRJ',
       'SETORIAL ORCAMENTARIA E FINANCEIRA DO FNMA',
       'SUBSECRET.PLANEJAM.ORCAM.E ADMINIST±SPOA(MMA)',
       'SETORIAL ORCAMENTARIA E FINANCEIRA DO FNMC',
       'COORD-GERAL DE ORCAM., FIN. E CONTABILIDADE',
       'AGENCIA NACIONAL DO CINEMA',
       'COORD.GERAL DE PLAN. ORC. FIN. E CONTAB/FNC',
       'INSTITUTO BRASILEIRO DE TURISMO - EM EXTINCAO',
       'FUNDACAO NACIONAL DE ARTES', 'CGOFC - SETORIAL/MTUR',
       'INSTITUTO DO PATRIMONIO HIST. E ART. NACIONAL',
       'FUNDACAO BIBLIOTECA NACIONAL',
       'INSTITUTO BRASILEIRO DE MUSEUS - IBRAM',
       'FUNDACAO CULTURAL PALMARES', 'FUNDACAO CASA DE RUI BARBOSA',
       'FUNDO GERAL DE TURISMO-FUNGETUR',
       'SECRETARIA DE DIREITOS HUMANOS/PR',
       'SECRETARIA DE ADMINISTRACAO-SET.ORC.E FIN./PR',
       'SECRETARIA DE POLIT. DE PROM.DA IGUALD.RACIAL',
       'FUNDO DE IMPRENSA NACIONAL/EXEC.ORC.FINANC.',
       'INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI',
       'SECRETARIA DA MICRO E PEQUENA EMPRESA',
       'SECRETARIA DE ASSUNTOS ESTRATEGICOS-SAE/PR',
       'GABINETE DA VICE-PRESIDENCIA DA REPUBLICA'], dtype=object)

Los 10 NOMBRE_UNIDAD_GESTORA que MAS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_UNIDAD_GESTORA
SETORIAL ORCAMENTARIA E FINANCEIRA / ME          382                 8.39
COORDENACAO DE ORCAMENTO E FINANCAS DO FRGPS     115                 2.53
SUBSECRETARIA DE PLANEJ. E ORCAMENTO SPO(MEC)     98                 2.15
SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB       64                 1.41
FUNDO CONSTITUCIONAL FINANCIAMENTO NORTE          52                 1.14
FUNDO CONSTITUCIONAL DE FINANCIAM.DO NORDESTE     52                 1.14
FUNDO CONSTITUCIONL DO CENTRO OESTE               52                 1.14
DIRETORIA DE FINANCAS-SISTEMA PARA O PAIS/MM      51                 1.12
EMBRAPA-SETORIAL                                  49                 1.08
COORD.GERAL DE PLAN. ORC. FIN. E CONTAB/FNC       42                 0.92

Los 10 NOMBRE_UNIDAD_GESTORA que MENOS aparecen son:

                                             count  Porcentaje_recuento
NOMBRE_UNIDAD_GESTORA
DIRETORIA DE FINANCAS DA MARINHA - AMAZUL        1                 0.02
MARINHA - DIFERENCA CAMBIAL                      1                 0.02
COMPANHIA DOCAS DO ESTADO DE SAO PAULO           1                 0.02
COMPANHIA DOCA DO RIO GRANDE DO NORTE            1                 0.02
CAPES - DIFERENCA CAMBIAL                        1                 0.02
COMPANHIA DOCAS DO CEARA                         1                 0.02
MRE - DIFERENCA CAMBIAL                          1                 0.02
EMPRESA BRASILEIRA DE CORREIOS E TELEGRAFOS      1                 0.02
SECRETARIA DE ASSUNTOS ESTRATEGICOS-SAE/PR       1                 0.02
GABINETE DA VICE-PRESIDENCIA DA REPUBLICA        1                 0.02

 Las distribución de las repeticiones de los NOMBRE_UNIDAD_GESTORA son:

       count  % repetición
count
1         17          6.12
4         16          5.76
9         15          5.40
17        13          4.68
13        13          4.68
11        13          4.68
15        12          4.32
12        12          4.32
16        12          4.32
10        12          4.32
8         11          3.96
7         11          3.96
14         9          3.24
22         9          3.24
20         8          2.88
3          8          2.88
24         7          2.52
5          7          2.52
6          7          2.52
2          7          2.52
19         7          2.52
25         6          2.16
18         5          1.80
26         4          1.44
28         4          1.44
33         4          1.44
52         3          1.08
21         3          1.08
30         3          1.08
29         3          1.08
27         3          1.08
42         2          0.72
32         2          0.72
115        1          0.36
98         1          0.36
36         1          0.36
41         1          0.36
51         1          0.36
49         1          0.36
64         1          0.36
382        1          0.36
23         1          0.36
31         1          0.36

None
La categoría CATEGORÍA_ECONÓMICA tiene 5 elementos diferentes:

Los elementos de la categoría son:

array(['Receitas Correntes', 'Receitas Correntes - intra-orçamentárias',
       'Receitas de Capital', 'Receitas de Capital - intra-orçamentárias',
       'Sem informação'], dtype=object)

Los 10 CATEGORÍA_ECONÓMICA que MAS aparecen son:

                                           count  Porcentaje_recuento
CATEGORÍA_ECONÓMICA
Receitas Correntes                          4095                89.94
Receitas Correntes - intra-orçamentárias     230                 5.05
Receitas de Capital                          226                 4.96
Receitas de Capital - intra-orçamentárias      1                 0.02
Sem informação                                 1                 0.02

Los 10 CATEGORÍA_ECONÓMICA que MENOS aparecen son:

                                           count  Porcentaje_recuento
CATEGORÍA_ECONÓMICA
Receitas Correntes                          4095                89.94
Receitas Correntes - intra-orçamentárias     230                 5.05
Receitas de Capital                          226                 4.96
Receitas de Capital - intra-orçamentárias      1                 0.02
Sem informação                                 1                 0.02

 Las distribución de las repeticiones de los CATEGORÍA_ECONÓMICA son:

       count  % repetición
count
1          2         40.00
4095       1         20.00
230        1         20.00
226        1         20.00

None
La categoría ORIGEN_INGRESO tiene 15 elementos diferentes:

Los elementos de la categoría son:

array(['Outras Receitas Correntes', 'Receita de Serviços',
       'Operações de Crédito', 'Transferências de Capital',
       'Outras Receitas de Capital', 'Transferências Correntes',
       'Alienação de Bens', 'Receita Patrimonial', 'Receita Industrial',
       'Impostos, Taxas e Contribuições de Melhoria', 'Contribuições',
       'Receita Agropecuária', 'Amortizações de Empréstimos',
       'Receitas Correntes - a classificar', 'Sem informação'],
      dtype=object)

Los 10 ORIGEN_INGRESO que MAS aparecen son:

                                             count  Porcentaje_recuento
ORIGEN_INGRESO
Outras Receitas Correntes                     2050                45.03
Receita de Serviços                            973                21.37
Receita Patrimonial                            614                13.49
Contribuições                                  197                 4.33
Impostos, Taxas e Contribuições de Melhoria    185                 4.06
Alienação de Bens                              150                 3.29
Transferências Correntes                       130                 2.86
Receita Agropecuária                           108                 2.37
Receita Industrial                              56                 1.23
Operações de Crédito                            25                 0.55

Los 10 ORIGEN_INGRESO que MENOS aparecen son:

                                    count  Porcentaje_recuento
ORIGEN_INGRESO
Alienação de Bens                     150                 3.29
Transferências Correntes              130                 2.86
Receita Agropecuária                  108                 2.37
Receita Industrial                     56                 1.23
Operações de Crédito                   25                 0.55
Amortizações de Empréstimos            23                 0.51
Transferências de Capital              19                 0.42
Receitas Correntes - a classificar     12                 0.26
Outras Receitas de Capital             10                 0.22
Sem informação                          1                 0.02

 Las distribución de las repeticiones de los ORIGEN_INGRESO son:

       count  % repetición
count
2050       1          6.67
973        1          6.67
614        1          6.67
197        1          6.67
185        1          6.67
150        1          6.67
130        1          6.67
108        1          6.67
56         1          6.67
25         1          6.67
23         1          6.67
19         1          6.67
12         1          6.67
10         1          6.67
1          1          6.67

None
La categoría TIPO_INGRESO tiene 46 elementos diferentes:

Los elementos de la categoría son:

array(['Demais receitas correntes',
       'Multas administrativas, contratuais e judicia',
       'Indenizações e restituições', 'Receita de Serviços',
       'Bens, Direitos e Valores Incorporados ao Patr',
       'Indenizações, restituições e ressarcimentos',
       'Operações de crédito - mercado externo',
       'Transferências de Instituições Privadas',
       'Receita dívida ativa proveniente de amortizaç',
       'Transferências de Convênios', 'Alienação de bens móveis',
       'Exploração do patrimônio imobiliário do Estad',
       'Operações de crédito - mercado interno',
       'Delegação de Serviços Públicos Mediante Conce',
       'Receitas da indústria de transformação', 'Valores Mobiliários',
       'Taxas', 'Transferências dos Estados e do Distrito Fede',
       'Contribuições sociais', 'Alienação de bens imóveis',
       'Receita da produção animal e derivados',
       'Transferências de Pessoas Físicas', 'Amortizações de Empréstimos',
       'Transferências dos Municípios e de suas Entid',
       'Contribuições econômicas', 'Receita da produção vegetal',
       'Receita dívida ativa alienação de estoques de',
       'Receita de concessões e permissões',
       'Receitas Correntes - a classificar',
       'Exploração de recursos naturais', 'Outras receitas',
       'Transferências de Outras Instituições Pública',
       'Integralização do capital social', 'Demais receitas patrimoniais',
       'Cessão de direitos', 'Impostos',
       'Remuneração das Disponibilidades do Tesouro N',
       'Receita títulos do tesouro nacional resgatado',
       'Receitas decorrentes de compensações ao Regim', 'Sem informação',
       'Resultado do Banco Central do Brasil', 'Receita da dívida ativa',
       'Receitas decorrentes de aportes periódicos pa',
       'Transferências do Exterior', 'Outras receitas agropecuárias',
       'Receitas de valores mobiliários'], dtype=object)

Los 10 TIPO_INGRESO que MAS aparecen son:

                                               count  Porcentaje_recuento
TIPO_INGRESO
Receita de Serviços                              973                21.37
Multas administrativas, contratuais e judicia    966                21.22
Indenizações, restituições e ressarcimentos      667                14.65
Exploração do patrimônio imobiliário do Estad    308                 6.76
Demais receitas correntes                        236                 5.18
Valores Mobiliários                              170                 3.73
Bens, Direitos e Valores Incorporados ao Patr    159                 3.49
Contribuições sociais                            135                 2.97
Impostos                                         135                 2.97
Alienação de bens móveis                         128                 2.81

Los 10 TIPO_INGRESO que MENOS aparecen son:

                                               count  Porcentaje_recuento
TIPO_INGRESO
Outras receitas                                    2                 0.04
Receita dívida ativa proveniente de amortizaç      1                 0.02
Receita dívida ativa alienação de estoques de      1                 0.02
Integralização do capital social                   1                 0.02
Remuneração das Disponibilidades do Tesouro N      1                 0.02
Receitas decorrentes de compensações ao Regim      1                 0.02
Receita da dívida ativa                            1                 0.02
Sem informação                                     1                 0.02
Receitas decorrentes de aportes periódicos pa      1                 0.02
Receitas de valores mobiliários                    1                 0.02

 Las distribución de las repeticiones de los TIPO_INGRESO son:

       count  % repetición
count
1          9         19.57
2          4          8.70
135        2          4.35
7          2          4.35
19         2          4.35
8          2          4.35
966        1          2.17
159        1          2.17
128        1          2.17
90         1          2.17
973        1          2.17
308        1          2.17
236        1          2.17
170        1          2.17
667        1          2.17
51         1          2.17
52         1          2.17
55         1          2.17
56         1          2.17
62         1          2.17
50         1          2.17
23         1          2.17
49         1          2.17
15         1          2.17
16         1          2.17
18         1          2.17
22         1          2.17
12         1          2.17
9          1          2.17
5          1          2.17
6          1          2.17

None
La categoría DETALLE tiene 708 elementos diferentes:

Los elementos de la categoría son:

array(['RECEITA DE HONORÁRIOS DE ADVOGADOS',
       'MULTAS E JUROS PREVISTOS EM CONTRATOS',
       'OUTRAS MULTAS E JUROS DE MORA',
       'RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES',
       'TAR.INSCR.CONCURSOS E PROCESSOS SELETIVOS', 'OUTRAS RECEITAS',
       'REC.DIVIDA ATIVA NAO TRIBUTARIA DE OUTRAS REC',
       'REC.DIV.ATIVA POR INFRAÇÃO ADMINISTRATIVA', 'OUTRAS RESTITUICOES',
       'OPERACOES DE CREDITOS EXTERNAS - CONTRATUAIS',
       'OUTRAS INDENIZACOES', 'OUTRAS MULTAS',
       'RECEITA DE ÔNUS DE SUCUMBÊNCIA', 'OUTROS SERVICOS FINANCEIROS',
       'RESTITUICOES DE CONVENIOS - PRIMARIAS',
       'SERVICOS ADMINISTRATIVOS',
       'Transferências de Instituições Privadas',
       'Receita dívida ativa proveniente de amortizaç',
       'TRANSFER. CONVENIOS DE INSTITUICOES PRIVADAS',
       'SERVICOS DE TRANSFERENCIA DE TECNOLOGIA', 'ALIENACAO DE VEICULOS',
       'TAXA DE OCUPACAO DE TERRENOS DA UNIAO',
       'SERVICOS DE HOSPEDAGEM E ALIMENTACAO',
       'TITULOS DA DIVIDA AGRARIA - TDA',
       'ALIENACAO DE OUTROS BENS MOVEIS',
       'REC.SEGUROS DECOR. INDENIZAÇÃO POR SINISTRO',
       'RESTITUICOES DE CONVENIOS', 'TAXA DE OCUPACAO DE OUTROS IMOVEIS',
       'ARRENDAMENTOS', 'MULTAS S/ FISCALIZACAO REDE DE PROD.ORGANICA',
       'REC. CONCESS. FLOREST. NACION. - DEMAIS VALOR',
       'RECEITA DA INDUSTRIA DE BEBIDAS E DESTILADOS',
       'SERV.CONS,ASS.TEC.E AN.PROJ-APLICAÇÕES LIVRES',
       'MULTA E JURO DE MORA DIV.ATIV.OUTRAS CONTRIB.',
       'ALIENACAO DE EQUIPAMENTOS', 'SERVICOS DE ARMAZENAGEM',
       'ALIENACAO DE ESTOQUES REGULADORES - PGPM',
       'MUL.JUR.MORA CONT. S/ APOSTA COMPET. HIPICAS',
       'JUROS DE TITULOS DE RENDA', 'TAXAS DE SERVICOS CADASTRAIS',
       'SERVICOS AGROPECUARIOS', 'OUTRAS TRANSFERENCIAS DOS MUNICIPIOS',
       'TRANSFERENCIAS CONVENIOS DA UNIAO E ENTIDADES',
       'CONTRIBUICAO INDUSTRIAL RURAL',
       'ALIENACAO DE ESTOQUES PROPRIOS DO FUNCAFE',
       'RESTIT.BENEF.NAO DESEMB. - RECURSOS PROPRIOS',
       'SERVICOS DE ESTUDOS E PESQUISAS', 'SERVICOS DE METEOROLOGIA',
       'CERTIFICACAO DE PRODUTOS E SERVICOS',
       'MULTAS E JUROS DE MORA DE TAXAS DE OCUPACAO',
       'ALIENACAO DE IMOVEIS URBANOS',
       'SERVICO DE INFORMACOES CIENTIFICAS E TECNOLOG',
       'Receita da produção animal e derivados', 'SERVICOS DE TECNOLOGIA',
       'ALUGUEIS', 'JUROS DE EMPRESTIMOS',
       'ALIENACAO IMOV.RURAIS P/ COLON. E REF.AGRARIA',
       'TRANSF.DE CONVENIOS DA UNIAO DE S/ENTIDADES',
       'OUTROS RECEITAS DE SERVICOS',
       'RECEITA DIVIDA ATIVA DE OUTRAS CONTRIBUICOES',
       'ALIENACAO DE ANIMAIS REPRODUTORES E MATRIZES',
       'TRANSF.DOS ESTADOS DF E SUAS ENTIDADES',
       'REC. CONCESS. FLORESTAS NACIONAIS - VALOR MIN',
       'ADICIONAL A CONTRIBUICAO PREVIDENCIARIA',
       'AMORTIZACOES DE CONTRATOS',
       'RECEITA DA INDUSTRIA EDITORIAL E GRAFICA',
       'Transferências dos Municípios e de suas Entid',
       'REC.DIV.ATIVA RESSARCIMENTO AO ERARIO',
       'REMUNERACAO DE DEPOSITOS BANCARIOS',
       'MULTAS E JUROS DE MORA  OUTRAS CONTRIBUICOES',
       'TRANSF.DE CONV.DOS ESTADOS,DF E S/ENTIDADES',
       'CONTRIBUICAO S/ APOSTAS EM COMPET. HIPICAS',
       'MUL.JUR. MORA ALIEN. DE OUTROS BENS IMOVEIS',
       'REC.DIV.ATIVA MULTAS POR INFRAÇÃO-CONT. ADMIN',
       'Receita da produção vegetal',
       'Receita dívida ativa alienação de estoques de',
       'OUTRAS RECEITAS EVENTUAIS', 'MULTAS POR AUTOS DE INFRACAO',
       'MULTAS E JUROS DE MORA DE ALUGUEIS',
       'PARCEL-OUTRAS MULTA/J DE MORA DIV AT OUT REC',
       'REC.DIV.ATIVA RESSARC.ERARIO-DECISAO TCU', 'DIVIDENDOS',
       'SERV.DE COM.LIVROS PERIOD.MAT.ESC.E PUBLICID.',
       'AMORTIZACOES DE EMPRESTIMOS DIVERSOS',
       'REC. CUSTOS DE EDITAL DE CONCESSAO FLORESTAL',
       'AMORTIZACOES DE PROJETOS',
       'INDENIZ. POR  DANOS CAUSADOS AO PATR. PUBLICO',
       'TAXA DE CLASSIFICACAO DE PRODUTOS VEGETAIS',
       'SERVICOS DE COMERC. E DISTRIB. PROD. AGROPEC.',
       'ALIENACAO DE MOVEIS E UTENSILIOS',
       'TRANSF.DE CONVENIOS DE INSTITUICOES PRIVADAS',
       'MULT. JUROS MORA REC.DECORR. BENS APREENDIDOS',
       'PROVENIENTES DE PESSOAS FISICAS',
       'CONTRIBUICAO S/RECEITA DA LOTERIAL FEDERAL',
       'CONTRIBUICAO S/RECEITA LOTERIA ESPORTIVA',
       'PROVENIENTES DE DEPOSITOS NAO IDENTIFICADOS',
       'REMUNERACAO DE SALDOS NAO DESEMBOLSADOS',
       'PROVENIENTES DE PESSOAS JURIDICAS',
       'CONTR.S/REC.CONC.PROG.DEST.PRAT.DESP-MOD.FUTE',
       'PRODUTO DEP.ABANDONADO(DINHEIRO/OBJETO VALOR)',
       'CONTRIBUICAO S/RECEITA LOTERIAS DE NUMEROS',
       'ALIENACAO ESTOQUES ADQUIR. AGRICUL. FAMILIAR',
       'REC. DE LEILOES DE MERCADORIAS APREENDIDAS',
       'CONTR-EMP.INSTALADAS DEMAIS REGIOES-RESIDUAL',
       'MULT.J.MORA DIV.AT.COTA ADIC.FR.MARINHA MERC.',
       'CON. S/REC.OPER.BRUTA EMPR.PREST.SERV.TELECOM',
       'MULT.JUR.MOR OUTORGA DIR USO RADIOFREQUENCIA',
       'RECEITA DA INDUSTRIA DE PROD. FARMOQUIMICOS',
       'OUTRAS MULT.JUR.MORA DIV.ATIV.OUTR.RECEITAS',
       'CONTR.-EMP.INSTALADAS NA AMAZONIA - EXCEDENTE',
       'METROLOGIA CIENTIFICA E INDUSTRIAL',
       'OPERACOES DE CREDITO INTERNAS - CONTRATUAIS',
       'MULT.J.MORA REC. EXPLORACAO RECURSOS MINERAIS',
       'SERV.COMERCIAIS DE PROD.DADOS E MAT.INFORMATI',
       'REC. OUTORG. DIREITO DE USO RADIODIFREQUENCIA',
       'Receitas Correntes - a classificar',
       'COTA-PARTE ADIC.FRETE P/ RENOV.MARIN.MERCANTE',
       'UTIL.RECURSO HIDRICOS - ITAIPU',
       'CONTR.-EMP.INSTALADAS NA AMAZONIA - PRINCIPAL',
       'CONTR-EMP.INSTALADAS DEMAIS REGIOES-EXCEDENTE',
       'REC.DIVIDA ATIVA EXPLORACAO RECURSOS MINERAIS',
       'CONTRIBUIçãO P/ LIC.USO,AQUIS.OU TRANSF.TECN.',
       'SERVICOS RECREATIVOS E CULTURAIS',
       'MULT.J.MORA DIV.AT. EXPLOR. RECURSOS MINERAIS',
       'EXPLORACAO DE RECURSOS MINERAIS',
       'CONTR-EMP.INSTALADAS DEMAIS REGIOES-PRINCIPAL',
       'RECEITA DA INDÚST. DE PRODUTOS FARMACÊUTICOS',
       'SERVICOS DE INSPECAO E FISCALIZACAO',
       'CONTRIBUIçãO S/REC.CONCESS.PERMISS.ENERG.ELET',
       'RECEITA DA INDUSTRIA DE PROD.FARMOQUIMICOS',
       'CONTR.-EMP.INSTALADAS NA AMAZONIA - RESIDUAL',
       'SERVICOS DE REMUNERACAO REP. PROG.DES.ECONOM.',
       'CONTR-EMP.INSTAL.DEMAIS REGIOES-PARCELAMENTO',
       'UTIL.RECURSO HIDRICOS - DEMAIS EMPRESAS',
       'CONTR-EMP.INSTALADAS NA AMAZONIA-PARCELAMENTO',
       'REC.DIV.AT. COTA-PARTE AD.FR.P/REN MAR. MERC.',
       'MUL.JUR.MORA CONT.REC.CONCES.ENERGIA ELETRICA',
       'RECEITA DA INDUSTRIA ELETRONICA',
       'OUTORG DIREITO EXPLORACAO SATELITE BRASILEIRO',
       'MULT.JUR MOR DA CONTRIB S/REC OP BRT SERV TEL',
       'TX.LIC.,CONTR, FISC.MAT NUC.RADIOATIVO INSTAL',
       'MULTAS E JUROS DE MORA DE ARRENDAMENTOS',
       'TAXA DE FISCALIZACAO PROD.CONTR.MIN.EXERCITO',
       'SERV.FINANC.DE COMPENS.DE VARIACOES SALARIAIS',
       'MUL.APLIC.PELOS TRIBUNAIS DE CONTAS', 'Outras receitas',
       'SERV ASSIST SAUDE SUPLEMENTAR SERVIDOR CIVIL',
       'TARIFA AEROPORTUARIA',
       'TRANSF.CONV.DOS MUNICIPIOS E SUAS ENTIDADEDES',
       'SERVICOS EDUCACIONAIS', 'RECEITA DA INDUSTRIA MECANICA',
       'TARIFA DE UTILIZACAO DE FAROIS', 'SERVICOS DE TRANSPORTE AEREO',
       'TARIF USO COMUN E AUX.NAVEGACAO AEREA EM ROTA',
       'Transferências de Outras Instituições Pública',
       'TAXA OCUPACAO IMOVEIS FUN. PROP. NAC. RESID.',
       'RECEITA DE COMERCIALIZAÇÃO DE FARDAMENTOS',
       'INTEGRALIZACAO COM RECURSOS DE OUTRAS FONTES',
       'OUTRAS RECEITAS DA INDUSTRIA DE TRANSFORMACAO',
       'SERVICO DE REPARACAO, MANUTENCAO E INSTALACAO',
       'MULTAS DO REGULAMENTO  P/  O TRAFEGO MARITIMO',
       'SERVICOS PORTUARIOS',
       'SERVICOS DE COMERCIALIZACAO DE MEDICAMENTOS',
       'SERVICOS DE REPARACAO,MANUTENCAO E INSTALACAO',
       'MULTAS PREVISTAS NO COD.BRAS. DE AERONAUTICA',
       'EMOLUMENTOS E CUSTAS JUDICIAIS',
       'COTA-PARTE DO SERV.NO FUNDO DE SAUDE MILITAR',
       'AMORTIZACOES DE BENS',
       'ADICIONAL S/ TARIFA USO COM E AUX NAVEG AEREA',
       'CONTRIBUICAO PARA DESENV.ENS.PROFIS.MARITIMO',
       'CONTRIB.PARA CUSTEIO DAS PENSOES MILITARES',
       'SERVICOS DE TRANSPORTE HIDROVIARIO', 'SERVICOS HOSPITALARES',
       'Demais receitas patrimoniais',
       'MULTAS E JUROS DE MORA TAXA FISC. PROD. MEX',
       'ALIENACAO DE EMBARCACOES', 'RECEITA DA INDUSTRIA QUIMICA',
       'REC. CONCESS. DE DIREITO REAL USO AREA PUBLIC',
       'OUTRAS OPERACOES DE CREDITO EXTERNAS',
       'SERVICOS DE TRANSPORTE RODOVIARIO',
       'MULTAS PREVISTAS NA LEI DO SERVICO MILITAR',
       'SERVICOS DE PROCESSAMENTO DE DADOS', 'TAXA MILITAR',
       'OUTROS SERV.REGIST.MARCAS,PATENTES,TRANSF.TEC',
       'SERVICOS DE SOCORRO MARITIMO',
       'RECEITA CESSAO DIR.OPERACIONALIZACAO FOPAG',
       'REC.DIVIDA ATIVA DO ITR-MUNIC.NAO CONVENIADOS',
       'REC. DA DIV.AT. MULT.COD.ELEIT. E LEIS CONEX.',
       'RECEITA DIV.ATIV TX FISCALIZ DE INSTALACAO',
       'REC.DIV.ATIVA CONT.PREV.EMPRESA SOBRE REC.BRT',
       'SERVICOS DE REGISTRO PROGRAMA DE COMPUTADOR',
       'RESTIT.PARC.SEGURO DESEMPREGO RECEB INDEVIDAM',
       'REC PARC - MULTA/JUROS DE MORA DIV ATIVA CPMF',
       'REVERSAO DE GARANTIAS EM FAVOR DA UNIAO',
       'RECEITA VEICULACAO DE OBRAS CINEMATOGRAFICAS',
       'RECEITA DE PARCELAMENTOS - CSSL PJ', 'OUTROS PREMIOS PRESCRITOS',
       'TAXA DE FISCALIZACAO DE INSTALACAO',
       'CONTRIBUICAO DO SALARIO-EDUCACAO',
       'MULTAS E JUROS DE MORA DE LAUDEMIOS',
       'RESTIT.BENEF.PAGOS INDEV. P/BANCO DEPOSITARIO',
       'MULTAS E J. MORA DE OUTRAS CONTR. PREVIDENC.',
       'RESSARC. ACOES REGRES. ORIUNDAS DA REL. TRAB.',
       'RECEITA DE PARCELAMENTOS - IMPOSTO EXPORTACAO',
       'OUTRAS TAXAS PELA PRESTACAO DE SERVICOS',
       'SELO ESPECIAL DE CONTROLE',
       'REC. MULTA E JUROS MORA IMP PROD IND - IPI',
       'CONTRIBUICOES DO SEGURADO - ASSALARIADO',
       'REC.MULTA/MORA DIV ATIVA IMP S/IMPORTACAO.',
       'MULTAS PREVISTA NA LEGISLACAO  DE METROLOGIA', 'IPI - BEBIDAS',
       'TX DE FISCALIZ.S/ DISTRIB. GRAT.PREM. SORTEIO',
       'MULT.JUR.MOR.OUTRAS RECEITAS CONCES E PERMISS',
       'REC.DIV.ATIVA CONT.PREV.SEG.ACIDENTE DO TRAB.',
       'OUTRAS RESTITUICOES DE BENEFICIOS PREVIDENC.',
       'ROY.EXCED.PROD.PETRO.COM.A PARTIR DE 3/12/12',
       'RECEITA DE PARCELAMENTOS - DIV ATIVA DA CIDE',
       'PERMISSAO DE USO AREA DA UNIAO CURTA DURACAO',
       'REC.MULTA/MORA DIV ATIVA IMP S/PROD INDUS-IPI',
       'RECEITA DE PARCELAMENTOS - DIV ATIVA DO IRRF',
       'JUROS MORA DO FUNDAF - REC PARCELAM PIS/PASEP',
       'MULT.PREV. LEG. S/ REG. PREV. PRIV. COMPLEM.',
       'SERVICOS DE REGISTRO DE MARCAS',
       'REC DE PARC - MULTA/JUROS DE MORA IR FONTE',
       'CONTRIBUICOES P/O FUNDO DE SAUDE - PMDF',
       'Remuneração das Disponibilidades do Tesouro N',
       'MULTAS/J.MORA CONTR.PREV.S/ RECLAM. TRABALH.',
       'BONUS DE ASSINATURA DE CONTRATO DE CONCESSAO',
       'OUTRAS RECEITAS CONC. PERM. - SERV. COMUNIC',
       'REC DE PARC - MULTA/JUROS DE MORA OUTROS TRIB',
       'MULTA POR ATO ATENTATORIO AO EXERC JURISDICAO',
       'OUTRAS CONTRIBUICOES SOCIAIS',
       'REC.DIV.ATIVA CONT.PREV.ORGAOS DO PODER PUBL.',
       'RECEITA DE PARCELAMENTOS - IRRF',
       'RECEITA DE PARCELAMENTOS - PIS/PASEP',
       'RETIDO NAS FONTES - OUTROS RENDIMENTOS',
       'MULTA E JUROS DE MORA-SIMPLES FED. E NAC.-IPI',
       'CONTRIBUICAO SOBRE PRODUCAO RURAL',
       'CONTRIBUICAO DE PENSIONISTA CIVIL - RPPS',
       'PART.ESP.PROD.PETR.PLATA.COM A PARTIR 3/12/12',
       'MULTAS JUR.MORA.DIV.ATIV.-AUTO DE INFRACAO',
       'AMORTIZACAO DE EMPRESTIMOS-ESTADOS/MUNICIPIOS',
       'REC. DO PRINCIPAL DO IMPOSTO S/ A EXPORTACAO',
       'CONTRIBUICAO PARA O SESI',
       'RECEITA REMESSA DE REND. EXPLORACAO DE OBRAS',
       'CONCESSAO GARANTIA DA ATIVIDADE AGROPECUARIA',
       'REC.RECOL E TRANSF.DEP.JUDICIAL/EXTRAJUDICIAL',
       'CONTRIBUICAO PREVID.SEGURADO OBRIG.-EMPRESAR.',
       'MULT.J.MORA REC.SUSPENSAO DIR.PROPR.INTELEC',
       'REC PARC - MULTA/JUROS DE MORA DIV ATIVA IRPF',
       'TARIFA PELO USO DO SISTEMA DE INFORM.DO BACEN',
       'JUROS MORA FUNDAF - REC PARC DIV ATIV DA CSLL',
       'Receita títulos do tesouro nacional resgatado',
       'MULTAS/J.MORA DA CONTR.PREV. DEP.JUD/REC/CUST',
       'RECEITA DE PARCELAMENTOS - IOF',
       'CONTR.REL.ATIV.IMP.PETR.DER. GAS NAT.ALC.CARB',
       'RECEITA DE PARCELAMENTOS - IRPF',
       'MULTAS/J.MORA CONTR.PREV.DO SEG. FACULTATIVO',
       'METROLOGIA LEGAL E CERTIFICATORIA DELEGADA',
       'IOF - DEMAIS OPERACOES',
       'REC.DO PRINCIPAL DO IMPOSTO S/ A IMPORT.',
       'MULTA E JUROS DE MORA - IRPJ',
       'JUROS MORA DO FUNDAF - DIV. ATIVA DA COFINS',
       'REC.DIV.ATIVA MULTAS DECOR.SENTENCA.JUDICIAIS',
       'TIT.RESP.T.N.-REFINANC.DIVIDA PUBLICA FEDERAL',
       'RECEITA DE PARCELAMENTOS - CIDE COMBUSTIVEL',
       'ARRECADACAO FIES-CERTIFICADOS FINANC.TES.NAC.',
       'TAXA DE SERVICOS ADMINISTRATIVOS - TSA',
       'CONTRIBUICAO SOBRE JOGOS DE BINGO',
       'REC.DIV.ATIVA CONT.PREV.REG. DE PARC.DEBITOS',
       'MULTAS/J.MORA CONTR.PREV.SEG.OBRIGAT.C.INDIV.',
       'REC DE PARC - MULTA E JUROS DE MORA DO IRPF',
       'MULTAS PREVISTAS LEGIS.DE REGISTRO COMERCIO',
       'REC.DIV.ATIV.S/REC.OP.BRT PRESTACAO SERV TELE',
       'CONTR.PATRONAL - PAGTO SENTENCAS JUDICIAIS',
       'REC. MULTA E JUROS DA DIVIDA ATIVA DO IE',
       'Receitas decorrentes de compensações ao Regim',
       'RESTIT.BENEF.PREVIDENCIARIOS - ORIUNDOS ERROS',
       'TITULOS TESOURO NACIONAL - OUTRAS APLICACOES',
       'ROYAL.MIN.PROD.PETRO EM TERRA - CONTR CONCESS',
       'REC DE PARC - MULTA E JUROS DE MORA DO IOF',
       'REC.DIV.ATIVA CONT.PREV-RET. S/ N.F.- SUBROG.',
       'IOF - COMERCIALIZACAO DO OURO',
       'MULTAS E MORA DA CONTR. FINAC.PREV. - COFINS',
       'RECEITA DIV.ATIV OUTRAS REC CONCES/PERMISSAO',
       'MULT.JUR MORA DA OUTORGA DOS SERV DE TELECOM',
       'REC.DIV.ATIVA CONT.PREV.EMPR.OPTANTE-SIMPLES',
       'MULTAS JUR. MORA DIV.ATIVA IR-RETIDO NA FONTE',
       'RESTIT.BENEF.PREVIDENCIARIOS - ORIUNDOS FRAUD',
       'CONTRIB.PREVID. DAS COOP.TRAB. DESC.COOPERADO',
       'MULTAS E JUROS - AUTO DE INFRACAO PREV COMPL',
       'REC. DA DIVIDA ATIVA CONTRIB. P/PIS E PASEP',
       'RECEITA PARCELAMENTOS - DIV ATIV DO PIS/PASEP',
       'RESTIT.BENEF.ASSISTEN. PREST. CONTINUADA REND',
       'AMORT. REFINANC. - DIVIDAS E OP MEDIO E DE LP',
       'RETIDO NAS FONTES - CAPITAL',
       'MULT.JUROS MORA REC.DIR.ANTIDUMPING DIR.COMP',
       'RESSARC PGTO DE HONORARIOS TECNICO-PERICIAIS',
       'IRPJ - SIMPLES FEDERAL E NACIONAL',
       'MULTAS/J.MORA CONTR.PREV.EMPRESA S/SEG.ASSAL.',
       'REC.DIST.AUDIOVISUAIS POR PRESTADOR DE SERV.',
       'CONTRIB. PATRONAL DE SERVIDOR AT.CIVIL - RPPS',
       'REC DE PARC - MULTA/JUROS DE MORA DO IMP EXP',
       'MULTA A TITULAR CARTORIO DAS OBRIG LEG PREV.',
       'RECEITA DE PARCELAMENTOS - IMPOSTO IMPORTACAO',
       'REC.DIVIDA ATIVA IOF - PRINCIPAL',
       'REC PARC - MULTA/JUROS DE MORA DIV ATIVA IPI',
       'RECEITA DE PARCELAMENTOS - DIV ATIVA DA CSLL',
       'MULTAS/JUROS CONTR.PATRONAL REGIME PROP.PREV',
       'JUROS MORA DO FUNDAF - CONTR. P/ PIS/PASEP',
       'MUL.JUR.MORA CONTR.S/REC.SORTEIOS ENT.FILANTR',
       'CONTRIBUICAO PARA O SENAR', 'RECEITA DE PARCELAMENTOS - IPI',
       'RECEITA DE PARCELAMENTOS - DIV ATIVA DO II',
       'MULTAS E JUROS DE MORA DE PARCELAMENTO',
       'MULTAS/JUROS CONTR.SERVIDOR REGIME PROP.PREV',
       'MULTAS E JUROS DE MORA - IRPF',
       'MULTAS/J.MORA CONTR.PREV.DO SEGURADO ESPECIAL',
       'JUROS MORA PELA CESSAO DE USO DE BENS UNIAO',
       'REC.DO PRINCIPAL DA CONTR. S/ MOV. FINANCEIRA',
       'MULTAS/J.MORA CONTR.PREV.P/SEG.ACIDENTE TRAB.',
       'PREMIOS PRESCRITOS DE LOTERIAS FEDERAIS',
       'MULTA ALIEN.BENS IMOVEIS DOM.UNIAO',
       'PARC - MULTAS/JUROS MORA DIV ATI OUTRAS CONTR',
       'COTA-PARTE DA CONTRIBUICAO SINDICAL',
       'CONTRIBUICAO PATRONAL DE SERVIDOR ATIVO CIVIL',
       'REC.DIV.ATIVA MULTAS-REGIME PREV.COMPLEMENTAR',
       'ALIENACAO DE IMOVEIS RURAIS',
       'JUROS ALIEN.BENS IMOVEIS DOM.UNIAO',
       'MULT.J.MORA DIV.AT. MULTAS INFR.A LEG. TRAB.',
       'REC.DA DIV.AT.DAS MULTAS P/INFR.A LEG.TRAB.',
       'JUROS MORA DO FUNDAF - CONTR. FIN. SEG.SOCIAL',
       'MULTAS JUR.MORA DIV.AT.CONTR.PREV.SEG.ACI.TRA',
       'CONTRIBUICAO PREVID. DO SEG.OBRIG.-EMP.DOMEST',
       'PROGRAMAS DAS OPERACOES OFICIAIS DE CREDITO',
       'RECUPERACAO DE SINISTROS',
       'CONTRIBUICAO VOLUNTARIA - MONTEPIO CIVIL',
       'REC.DIV.ATIVA CONT.PREV.SOBRE ESPETAC.ESPORT.',
       'CONTR. SOBRE REMUNERACAO DEVIDA AO TRABALH.',
       'CONTRIBUICAO PARA O PROTERRA',
       'MULTAS J.M.DIV.AT.CONTR.PREV.SEG.ORG.POD.PUBL',
       'MULTAS PREVISTAS NA LEI GERAL DAS TELECOMUN.',
       'IPI - OUTROS PRODUTOS',
       'CONTR.SERV.ATIVO CIVIL-PAGTO SENT. JUDICIAIS',
       'SERVICOS DE PATENTES', 'Sem informação',
       'MULTAS JUR.MORA DIV.AT.CONTR.PREV.EMPR-SIMPLE',
       'SEGURO DE ACIDENTE DO TRABALHO',
       'RES.BCO CENTRAL-OPER.C/RESERV.E DER.CAMBIAIS',
       'CONTR.PREV.REG.PARCELAMENTO DE DEBITOS - RGPS',
       'ALIEN. BENS IMOVEIS DE DOM DA UNIAO-DOM PLENO',
       'CONTRIBUICAO PARA O SENAT',
       'MULTAS JUR. MORA DIV.ATIVA DE OUTROS TRIBUTOS',
       'MULTAS JUR.MORA DIV.AT.CONTR.PREV.SEG.ASSALAR',
       'MULTAS JUR.MORA DIV.AT.CONTR.PREV.EMPR.SEG.AS',
       'REC.DIV.ATIVA CONT.PREV.-DEP.JUD,REC.E C.JUD.',
       'CONTRIBUICAO S/ARREC.FUNDOS INVEST.REGIONAIS',
       'CONTR.REL.A DESPED.DE EMPREG. S/ JUSTA CAUSA',
       'MULTA E JUROS DE MORA SIMPLES FED. E NAC-IRPJ',
       'ROY.EXCED.PROD.PETRO.PLATA.COM.ANTES 3/12/12',
       'MULTAS J.M.DIV.AT.CONTR.PREV.SEG.OBR.-EMP.DOM',
       'REC.ALIEN.IMOV. RESID. DA UNIAO FRHB',
       'RECEITA DA DIVIDA ATIVA DO IPI - PRINCIPAL',
       'REC.DIV.ATIVA CONT.PREV. DO SEGURADO ESPECIAL',
       'TAXA DE FISCALIZACAO DE FUNCIONAMENTO',
       'MULT.JUR MOR DIV ATIV TAXA FISC DE INSTALACAO',
       'TIT. RESP. DO TES.NAC. - OUTRAS APLICACOES',
       'REC.DO PRINCIPAL DA CONTR. P FIN. SEG. SOCIAL',
       'RECEITA PARCELAMENTOS - DIV AT OUTRAS CONTRIB',
       'MULTAS/J.MORA CONTR.PREV. ENTIDADES FILANTR.',
       'SERVICOS DE REMESSA DE DEPOSITOS OFICIAIS',
       'OUTRAS CONTRIBUICOES PREVIDENCIARIAS',
       'CONTRIB.PARA SERV.NACIONAL APREND.COM.-SENAC',
       'MULT.JUR MOR CONTRIB P/ FOMENTO RADIODIFUSAO',
       'REC.DIVIDA ATIVA COFINS - PRINCIPAL',
       'RESTIT.BENEF.PREVIDENCIARIOS - ORIUNDOS PARC.',
       'RESTITUICOES DE CONVENIOS - FINANCEIRAS',
       'ROYAL.MIN.PROD.PETRO.PLATA.COM.ANTES 3/12/12',
       'MULTA E JUROS DE MORA DO ITR - MUNIC NAO CONV',
       'SERVICOS DE REGISTRO DE DESENHO INDUSTRIAL',
       'CONTRIBUICAO PARA FOMENTO DA RADIODIFUSAO PUB',
       'MULTAS J.MORA DIV.ATIVA ITR-MUNIC.NAO CONVEN.',
       'REC.COMPENS.FINANC.ENTRE RG/RPPS-PARCELAMENTO',
       'ALIENACAO DE OUTROS BENS IMOVEIS',
       'TARIFA PELO USO DO SIST.DE TRANSF. RES. BACEN',
       'PARC - MULTAS/JUROS DE MORA OUTRAS CONTRIB',
       'PRESTACAO DE CONTAS ELEITORAIS - FTE NAO IDEN',
       'MULT.JUR MOR DA TAXA DE FISC DE FUNCIONAMENTO',
       'CONTRIBUICAO PREVID. DO SEGURADO FACULTATIVO',
       'PART.ESP.PROD.PETRO.PLATA.COM.ANTES 3/12/12',
       'REC PARC - MULTA/JUROS DE MORA DIV ATIVA II',
       'RECEITA DA DIVIDA ATIVA DE OUTROS TRIBUTOS',
       'REC. MULTA E JUROS MORA IMP OP CRED - IOF',
       'TX SIST.CONTR. ARREC.ADIC.FRETE REN.MAR.MERC.',
       'ALIEN. BENS IMOVEIS DE DOM DA UNIAO-DOM UTIL',
       'JUROS MORA DO FUNDAF - REC PARC DIV ATIV CPMF',
       'REC PARC - MULTA/JUROS MORA DIV ATI PIS/PASEP',
       'MULTAS/J.MORA DA CONTR.PREV.EMPRESA S/ASSALAR',
       'MULTAS/J.MORA CONTR.PREV.EMPRESA OPT. SIMPLES',
       'OUTRAS RECEITAS DE BENS IMOVEIS',
       'IPI - SIMPLES FEDERAL E NACIONAL',
       'MULTAS E JUROS DE MORA DE FOROS',

Los 10 DETALLE que MAS aparecen son:

                                              count  Porcentaje_recuento
DETALLE
RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES    216                 4.74
SERVICOS ADMINISTRATIVOS                        202                 4.44
OUTRAS RECEITAS                                 172                 3.78
OUTRAS RESTITUICOES                             169                 3.71
ALUGUEIS                                        150                 3.29
OUTRAS MULTAS E JUROS DE MORA                   149                 3.27
OUTRAS MULTAS                                   140                 3.07
TAR.INSCR.CONCURSOS E PROCESSOS SELETIVOS       134                 2.94
MULTAS E JUROS PREVISTOS EM CONTRATOS           130                 2.86
REMUNERACAO DE DEPOSITOS BANCARIOS              126                 2.77

Los 10 DETALLE que MENOS aparecen son:

                                               count  Porcentaje_recuento
DETALLE
REC.DIVIDA ATIVA MULTAS PREV.LEGIS.MINERARIA       1                 0.02
MULT.J.MORA OUTORG.DIR.EXPLOR.E PESQU.MINERAL      1                 0.02
CERTIFICACAO E HOMOLOGACAO ATIVIDADE MINERAL       1                 0.02
REC. OUTORGA DIREITOS DE EXPL. E PRESQ. MINER      1                 0.02
REC.DIV.ATIV.-MULTA PREV. LEG. LUB. E COMBUST      1                 0.02
REC.DIV.ATIV.SERVIC.INSP.FISC.ATIV.MINERAL         1                 0.02
REC.DIV.ATIV.OUTORG.DIREIT.EXPL.PESQ.MINERAL       1                 0.02
DEMAIS RECEITAS DO INDESP                          1                 0.02
MULTAS PREVISTAS NA LEGISLACAO MINERARIA           1                 0.02
RESERVA GLOBAL DE REVERSAO                         1                 0.02

 Las distribución de las repeticiones de los DETALLE son:

       count  % repetición
count
1        322         45.48
2        149         21.05
3         53          7.49
5         42          5.93
4         41          5.79
6         23          3.25
10         7          0.99
8          6          0.85
7          6          0.85
15         5          0.71
11         3          0.42
12         3          0.42
13         3          0.42
20         3          0.42
21         3          0.42
16         3          0.42
33         2          0.28
9          2          0.28
51         2          0.28
57         1          0.14
80         1          0.14
92         1          0.14
97         1          0.14
110        1          0.14
126        1          0.14
130        1          0.14
134        1          0.14
140        1          0.14
149        1          0.14
150        1          0.14
169        1          0.14
172        1          0.14
202        1          0.14
216        1          0.14
64         1          0.14
66         1          0.14
22         1          0.14
18         1          0.14
19         1          0.14
23         1          0.14
36         1          0.14
50         1          0.14
49         1          0.14
41         1          0.14
44         1          0.14
25         1          0.14
29         1          0.14
38         1          0.14
14         1          0.14

None
La categoría VALOR_PREVISTO_ACTUALIZADO tiene 2740 elementos diferentes:

Los elementos de la categoría son:

array([0.00000000e+00, 2.30000000e+06, 4.83600000e+06, ...,
       8.00000000e+05, 1.50362972e+08, 4.08367580e+07])

Los 10 VALOR_PREVISTO_ACTUALIZADO que MAS aparecen son:

                            count  Porcentaje_recuento
VALOR_PREVISTO_ACTUALIZADO
0.00                         1706                37.47
50000.00                        5                 0.11
1000000.00                      4                 0.09
6000000.00                      4                 0.09
180000.00                       3                 0.07
2000000.00                      3                 0.07
720000.00                       3                 0.07
820.00                          3                 0.07
8585102.00                      2                 0.04
2300000.00                      2                 0.04

Los 10 VALOR_PREVISTO_ACTUALIZADO que MENOS aparecen son:

                            count  Porcentaje_recuento
VALOR_PREVISTO_ACTUALIZADO
635000000.00                    1                 0.02
134484.00                       1                 0.02
203458.00                       1                 0.02
113363.00                       1                 0.02
100749.00                       1                 0.02
28750.00                        1                 0.02
443427.00                       1                 0.02
10341.00                        1                 0.02
289053.00                       1                 0.02
30731.00                        1                 0.02

 Las distribución de las repeticiones de los VALOR_PREVISTO_ACTUALIZADO son:

       count  % repetición
count
1       2642         96.42
2         90          3.28
3          4          0.15
4          2          0.07
5          1          0.04
1706       1          0.04

None
La categoría VALOR_REGISTRADO tiene 72 elementos diferentes:

Los elementos de la categoría son:

array([0.00000000e+00, 8.39413144e+09, 6.84058616e+09, 3.45112906e+09,
       2.14790408e+07, 1.91011610e+05, 2.70669216e+10, 1.46740125e+09,
       4.21858705e+09, 4.31279234e+09, 8.25277300e+04, 3.09364402e+08,
       9.09747571e+08, 2.54055459e+08, 8.93380100e+04, 1.20249240e+10,
       6.56419239e+07, 1.05641552e+10, 4.50362024e+07, 4.68338705e+06,
       1.75292466e+10, 2.58004435e+08, 4.36754400e+04, 1.61609153e+08,
       2.07522741e+08, 3.93472818e+09, 4.39921329e+09, 5.73672516e+08,
       4.12286926e+08, 3.72799767e+10, 1.02534233e+08, 5.44338029e+09,
       2.19646876e+11, 8.79779816e+08, 4.35904934e+07, 6.50190603e+07,
       1.40464392e+10, 6.32684797e+10, 1.35640780e+09, 1.67386078e+10,
       2.78436960e+05, 2.64004832e+09, 8.56449998e+10, 1.29194810e+09,
       1.09233303e+06, 6.59252760e+09, 3.91251920e+10, 1.22111810e+08,
       1.10791772e+10, 5.53262331e+07, 8.55931000e+03, 1.36260624e+08,
       1.57597179e+09, 1.71801557e+11, 4.02614910e+10, 8.65502500e+09,
       3.57160678e+11, 8.48032143e+09, 1.60326518e+06, 8.30343127e+09,
       9.26945729e+07, 3.61350000e+02, 1.60561360e+08, 1.23185953e+10,
       3.69130566e+10, 7.17188786e+09, 6.33712986e+08, 1.59089350e+05,
       1.27089750e+05, 1.68134349e+06, 3.80944183e+07, 2.98257728e+06])

Los 10 VALOR_REGISTRADO que MAS aparecen son:

                  count  Porcentaje_recuento
VALOR_REGISTRADO
0.00               4482                98.44
8394131444.29         1                 0.02
6840586156.02         1                 0.02
3451129055.23         1                 0.02
21479040.84           1                 0.02
191011.61             1                 0.02
27066921571.96        1                 0.02
1467401254.10         1                 0.02
4218587049.57         1                 0.02
4312792337.75         1                 0.02

Los 10 VALOR_REGISTRADO que MENOS aparecen son:

                  count  Porcentaje_recuento
VALOR_REGISTRADO
160561360.09          1                 0.02
12318595338.14        1                 0.02
36913056609.58        1                 0.02
7171887855.93         1                 0.02
633712985.50          1                 0.02
159089.35             1                 0.02
127089.75             1                 0.02
1681343.49            1                 0.02
38094418.33           1                 0.02
2982577.28            1                 0.02

 Las distribución de las repeticiones de los VALOR_REGISTRADO son:

       count  % repetición
count
1         71         98.61
4482       1          1.39

None
La categoría VALOR_REALIZADO tiene 3726 elementos diferentes:

Los elementos de la categoría son:

array([4.66999481e+07, 1.59208300e+04, 2.19589992e+06, ...,
       1.52346000e+04, 1.08900000e+01, 2.90936000e+03])

Los 10 VALOR_REALIZADO que MAS aparecen son:

                 count  Porcentaje_recuento
VALOR_REALIZADO
0.00               757                16.63
10.00                5                 0.11
300.00               5                 0.11
20.00                4                 0.09
50000.00             3                 0.07
95.00                3                 0.07
50.00                3                 0.07
90.00                3                 0.07
5000.00              3                 0.07
150.00               3                 0.07

Los 10 VALOR_REALIZADO que MENOS aparecen son:

                 count  Porcentaje_recuento
VALOR_REALIZADO
748.50               1                 0.02
2347119.36           1                 0.02
1153231.82           1                 0.02
14889251.22          1                 0.02
1329278.84           1                 0.02
545631.01            1                 0.02
16120.00             1                 0.02
20833.44             1                 0.02
2952.00              1                 0.02
32.20                1                 0.02

 Las distribución de las repeticiones de los VALOR_REALIZADO son:

       count  % repetición
count
1       3676         98.66
2         32          0.86
3         14          0.38
5          2          0.05
757        1          0.03
4          1          0.03

None
La categoría PORCENTAJE_REALIZADO tiene 546 elementos diferentes:

Los elementos de la categoría son:

array([ 0.0000000e+00,  1.1400000e+02,  1.2200000e+02,  1.4000000e+02,
        2.7000000e+02,  1.0910000e+03,  1.0400000e+02,  8.2000000e+01,
        1.3000000e+02,  6.5700000e+02,  1.3100000e+02,  3.9000000e+01,
        1.4300000e+02,  1.9500000e+02,  3.1100000e+02,  1.1500000e+02,
        1.9000000e+01,  1.2900000e+02,  1.1600000e+02,  1.2300000e+02,
        7.4000000e+01,  1.2800000e+02,  1.4700000e+02,  9.2000000e+01,
        7.2200000e+02,  1.2000000e+01,  3.6000000e+01,  4.5500000e+02,
        1.1200000e+02,  1.0000000e+00,  1.0770000e+03,  1.2670000e+03,
        2.0100000e+02,  2.1600000e+02,  1.3500000e+02,  3.0000000e+00,
        6.7000000e+01,  9.3000000e+01,  5.6000000e+01,  2.8000000e+01,
        1.1000000e+02,  3.8000000e+01,  2.0000000e+01,  8.4000000e+01,
        4.3700000e+02,  7.5000000e+01,  1.0600000e+02,  1.6400000e+02,
        1.7900000e+02,  4.0000000e+00,  1.9210000e+03,  1.7000000e+01,
        2.3900000e+02,  7.9000000e+01,  1.6800000e+02,  5.5580000e+03,
        2.2110000e+03,  1.8860000e+03,  1.0300000e+02,  7.6000000e+01,
        1.2600000e+02,  9.8000000e+01,  2.3000000e+01,  6.0000000e+01,
        4.3000000e+01,  6.3000000e+02,  8.5000000e+01,  1.2400000e+02,
        2.2610000e+03,  5.9000000e+01,  3.0200000e+02,  1.6600000e+02,
        1.1900000e+02,  1.3600000e+02,  8.0000000e+01,  1.4000000e+01,
        6.2000000e+01,  8.1800000e+02,  4.8000000e+01,  1.7600000e+02,
        4.5000000e+01,  7.7000000e+01,  1.0000000e+02,  7.0000000e+00,
        2.1300000e+02,  8.9000000e+01,  2.0900000e+02,  7.3000000e+01,
        2.0600000e+02,  1.0200000e+02,  8.0000000e+00,  7.2000000e+01,
        1.4100000e+02,  1.0800000e+02,  7.1000000e+01,  1.1800000e+02,
        4.2000000e+01,  1.6100000e+02,  1.5200000e+02,  1.7500000e+02,
        1.8400000e+02,  1.3800000e+02,  5.0000000e+00,  3.3000000e+01,
        1.2100000e+02,  4.7800000e+02,  6.3000000e+01,  3.2300000e+02,
        3.4000000e+01,  1.5900000e+02,  5.5000000e+01,  9.1000000e+01,
        1.9010000e+03,  8.6000000e+01,  3.0700000e+02,  1.2365000e+04,
        1.8250000e+03,  2.7380000e+03,  1.4250000e+03,  1.2700000e+02,
        2.4000000e+01,  1.2810000e+03,  1.6700000e+02,  1.1300000e+02,
        4.8000000e+02,  4.4600000e+02,  1.6890000e+03,  2.1800000e+02,
        1.2423000e+04,  5.1000000e+01,  1.7800000e+02,  8.1000000e+01,
        6.6000000e+01,  9.0000000e+01,  1.0900000e+02,  1.3550000e+03,
        1.4600000e+02,  1.8900000e+02,  3.2900000e+02,  5.4000000e+01,
        7.8000000e+01,  6.1000000e+01,  1.6200000e+02,  8.3000000e+01,
        2.6050000e+03,  1.4900000e+02,  9.4000000e+01,  1.0500000e+02,
        1.0700000e+02,  1.7100000e+02,  6.8000000e+01,  3.5700000e+02,
        9.5000000e+01,  9.9000000e+01,  1.0100000e+02,  5.7000000e+01,
        3.5000000e+01,  1.6900000e+02,  7.0000000e+01,  8.8000000e+01,
        2.7800000e+02,  1.1100000e+02,  2.1900000e+02,  4.1100000e+02,
        9.6000000e+01,  2.5200000e+02,  8.2700000e+02,  1.6300000e+02,
        1.5000000e+02,  1.7700000e+02,  2.6100000e+02,  3.2000000e+01,
        9.7000000e+01,  1.3900000e+02,  5.0000000e+01,  1.4800000e+02,
        6.0000000e+00,  4.9000000e+01,  1.3940000e+03,  1.3000000e+01,
        5.6500000e+02,  2.3600000e+02,  1.7400000e+02,  5.3200000e+02,
        1.3200000e+02,  1.3400000e+02,  6.4500000e+02,  2.5880000e+03,
        3.6200000e+02,  3.1300000e+02,  7.9000000e+02,  1.4400000e+02,
        1.7000000e+02,  1.8000000e+02, -1.1000000e+01,  2.7000000e+01,
        6.5400000e+02,  1.2500000e+02,  3.0000000e+01,  4.4000000e+01,
        4.7000000e+01,  2.0000000e+02,  2.2000000e+01,  2.9000000e+01,
        7.2363772e+07,  7.5600000e+02,  3.1200000e+02,  4.6200000e+02,
        4.7200000e+02,  1.1210000e+03,  1.3700000e+02,  1.8800000e+02,
        2.2100000e+02, -1.2500000e+02,  2.5900000e+02,  5.3000000e+01,
        2.3100000e+02,  5.4800000e+02,  2.1100000e+02,  7.1805000e+04,
        2.0000000e+00,  2.3700000e+02,  3.2400000e+02,  1.3300000e+02,
        3.6600000e+02,  2.6600000e+02,  1.5800000e+02,  1.8600000e+02,
        1.1000000e+01,  3.6463000e+04,  5.5400000e+02,  4.6000000e+01,
        1.0000000e+01,  4.0000000e+01,  1.7200000e+02,  5.8100000e+02,
        1.5700000e+02,  6.4000000e+01,  2.5000000e+01,  6.9000000e+01,
        5.0900000e+02,  1.5100000e+02,  2.7300000e+02,  3.6900000e+02,
        3.8500000e+02,  2.5400000e+02,  9.0000000e+00, -1.2600000e+02,
        3.2200000e+02,  1.3062000e+04,  2.4000000e+02,  2.8600000e+02,
        1.8000000e+01, -1.1700000e+02,  2.5100000e+02,  1.4100000e+03,
        5.4500000e+02,  3.3400000e+02,  2.6900000e+02,  5.2000000e+01,
        4.5800000e+02,  5.3400000e+02,  1.0410000e+03,  4.8500000e+02,
        8.7000000e+01,  7.0800000e+02,  3.1000000e+01,  1.4500000e+02,
        1.5500000e+02,  3.1000000e+02, -2.1800000e+02,  1.4393000e+05,
        2.6700000e+02,  8.3900000e+02,  7.7200000e+02,  6.8260000e+03,
        9.5440000e+03,  4.4070000e+03,  1.5300000e+02,  2.1000000e+02,
        4.2000000e+02,  3.7000000e+01,  5.5125000e+04,  2.3800000e+02,
        1.1700000e+02,  1.8300000e+02,  2.2700000e+02,  4.6100000e+02,
        3.7814300e+05,  3.7740000e+03,  6.7200000e+02,  3.4690000e+03,
        5.9800000e+02,  5.1200000e+02,  3.9740000e+03, -1.0700000e+02,
        2.6000000e+02,  5.3100000e+02,  1.9200000e+02,  3.4700000e+02,
        9.5300000e+02,  4.9200000e+02,  3.2600000e+02,  2.9800000e+02,
        2.2000000e+02,  5.6300000e+02,  7.8400000e+02,  5.1421000e+04,
        3.0600000e+02,  1.6000000e+01,  4.0000000e+02,  2.9500000e+02,
        6.5000000e+01,  4.2820000e+03,  2.0500000e+02,  1.2090000e+03,
        1.9100000e+02,  1.1400000e+03,  1.5400000e+02, -1.0000000e+00,
        1.9300000e+02,  3.3200000e+02,  2.2740000e+03,  1.8731590e+06,
        4.4500000e+02,  3.5000000e+02,  5.1100000e+02,  1.7900000e+03,
        2.6000000e+01,  2.2980000e+03,  2.5500000e+02,  3.4800000e+03,
        5.7100000e+02,  2.9000000e+02,  8.2600000e+02,  1.4916000e+04,
        9.1700000e+02,  4.0400000e+02,  3.9590000e+04,  3.4490000e+03,
        5.7300000e+02,  1.8950000e+03,  8.2900000e+02,  7.7190000e+03,
        2.0300000e+02,  2.4100000e+02,  2.5890000e+03,  2.2300000e+02,
        1.9400000e+02,  5.8000000e+01,  2.9300000e+02,  2.2900000e+02,
        3.0900000e+02,  2.8800000e+02,  1.0220000e+03,  4.1300000e+02,
        9.6940000e+03,  2.4600000e+02,  1.7330000e+03,  4.8100000e+02,
        1.8200000e+02,  1.3430000e+03,  1.8830000e+03,  2.1000000e+01,
        5.9200000e+02,  1.4200000e+02,  2.0360000e+03,  4.7300000e+02,
        2.0200000e+02,  1.3080000e+03,  1.3001000e+04,  1.0888000e+04,
        9.3900000e+02,  1.7300000e+02,  4.0100000e+02,  2.3400000e+02,
        4.7000000e+02, -2.6000000e+01,  2.0800000e+02,  4.7100000e+02,
        7.7700000e+02,  3.4200000e+02,  2.5800000e+02,  1.6000000e+02,
        2.2200000e+02,  1.0432500e+05, -1.7300000e+02,  4.3500000e+02,
        8.6000000e+02,  3.0000000e+02,  1.9900000e+02,  2.2600000e+02,
        7.3100000e+02,  4.1900000e+02,  6.5380000e+03,  3.8800000e+02,
        3.2000000e+02,  3.7200000e+02,  2.5000000e+02,  6.8229000e+04,
        1.8500000e+02,  1.8100000e+02,  3.9920000e+03,  2.5950000e+03,
        4.6700000e+02,  1.5000000e+01,  2.0700000e+02,  2.6360000e+03,
        2.0860000e+03,  4.6600000e+02,  2.6500000e+02,  5.0700000e+02,
        7.2600000e+02,  6.7230000e+03,  3.9000000e+02,  1.9320000e+03,
        2.2060000e+03,  1.3100000e+03,  3.1400000e+02,  5.4150000e+03,
        4.1000000e+01,  1.2000000e+02,  3.3060000e+03, -1.1455200e+05,
        3.1700000e+02,  7.9100000e+02,  3.0500000e+02,  9.5200000e+02,
        1.6740000e+03,  1.9000000e+02,  1.0600000e+03,  1.9800000e+02,
        4.9000000e+02,  5.4400000e+02,  1.6310000e+03,  7.5200000e+02,
        1.7352600e+05,  3.5111000e+04,  1.1855000e+04,  1.5600000e+02,
        1.3890000e+03,  2.4400000e+02,  2.1700000e+02,  1.4740000e+03,
        2.8100000e+02,  1.8700000e+02,  3.3900000e+02,  2.2800000e+02,
        2.6300000e+02,  1.5380000e+03,  2.3420000e+03,  3.5400000e+02,
        3.0800000e+02,  3.0100000e+02,  2.1200000e+02,  2.5700000e+02,
        2.8900000e+02,  5.9600000e+02,  5.0600000e+02,  1.9250000e+03,
        3.3000000e+02,  2.9680000e+03,  8.5800000e+02,  6.9290000e+03,
        3.9850000e+03,  3.1671000e+04,  1.2410000e+03,  1.0210000e+03,
        9.8560000e+03,  2.5300000e+02,  2.1576000e+04,  7.6900000e+02,
        7.7000000e+02,  1.2510000e+03,  9.0620000e+03,  5.8300000e+02,
        2.0040000e+03,  3.1800000e+02,  1.3981000e+04,  1.1142900e+05,
        5.9500000e+02,  2.8400000e+02,  4.5200000e+02,  2.2530000e+03,
        2.3500000e+02,  3.3100000e+02,  8.1300000e+02,  1.6200000e+03,
        1.0660000e+03,  4.1890000e+03,  8.8200000e+02,  2.1500000e+02,
        6.2962000e+04,  1.4230000e+03,  2.5010000e+03,  2.8200000e+02,
        8.7100000e+02,  1.2940000e+03,  3.5800000e+02,  6.1600000e+02,
        6.8000000e+02,  7.9930000e+03,  2.3040000e+03,  2.4500000e+02,
        8.4310000e+03,  1.2700000e+03,  2.8500000e+02,  4.8300000e+02,
        5.1920000e+03,  4.0200000e+02,  1.5130000e+03,  5.3900000e+02,
        1.6780000e+03,  6.8700000e+02,  1.3074000e+04,  1.3060000e+04,
        2.8680000e+03,  1.5730000e+03,  1.1410000e+03,  9.1100000e+02,
        2.7200000e+02,  1.9780000e+03,  3.5870000e+03,  3.5200000e+02,
        6.3200000e+02,  1.6240000e+03,  1.8975000e+04,  2.3010000e+03,
        2.7305000e+04,  6.2200000e+02,  1.2060000e+03,  1.1858000e+04,
        2.9600000e+02,  3.4300000e+02,  7.9020000e+03,  6.4800000e+02,
        2.3550000e+03,  5.4163000e+04,  5.6600000e+02,  5.8900000e+02,
        3.1250000e+04,  2.3200000e+02,  2.8970000e+03,  1.4000000e+03,
        6.8900000e+02,  2.7590000e+03])

Los 10 PORCENTAJE_REALIZADO que MAS aparecen son:

                      count  Porcentaje_recuento
PORCENTAJE_REALIZADO
0.00                   2428                53.33
1.00                     26                 0.57
88.00                    24                 0.53
92.00                    23                 0.51
89.00                    21                 0.46
94.00                    20                 0.44
22.00                    19                 0.42
106.00                   19                 0.42
103.00                   19                 0.42
110.00                   19                 0.42

Los 10 PORCENTAJE_REALIZADO que MENOS aparecen son:

                      count  Porcentaje_recuento
PORCENTAJE_REALIZADO
708.00                    1                 0.02
485.00                    1                 0.02
1041.00                   1                 0.02
534.00                    1                 0.02
269.00                    1                 0.02
545.00                    1                 0.02
1400.00                   1                 0.02
2897.00                   1                 0.02
232.00                    1                 0.02
31250.00                  1                 0.02

 Las distribución de las repeticiones de los PORCENTAJE_REALIZADO son:

       count  % repetición
count
1        285         52.20
2         65         11.90
3         28          5.13
4         21          3.85
5         17          3.11
6         16          2.93
10        13          2.38
9         13          2.38
8         13          2.38
11        11          2.01
7         10          1.83
12         9          1.65
13         9          1.65
14         9          1.65
15         7          1.28
19         5          0.92
17         4          0.73
18         3          0.55
16         2          0.37
20         1          0.18
24         1          0.18
26         1          0.18
2428       1          0.18
23         1          0.18
21         1          0.18

None
La categoría FECHA_REGISTRO tiene 1 elementos diferentes:

Los elementos de la categoría son:

<DatetimeArray>
['2014-12-31 00:00:00']
Length: 1, dtype: datetime64[ns]

Los 10 FECHA_REGISTRO que MAS aparecen son:

                count  Porcentaje_recuento
FECHA_REGISTRO
2014-12-31       4553               100.00

Los 10 FECHA_REGISTRO que MENOS aparecen son:

                count  Porcentaje_recuento
FECHA_REGISTRO
2014-12-31       4553               100.00

 Las distribución de las repeticiones de los FECHA_REGISTRO son:

       count  % repetición
count
4553       1        100.00

None
La categoría AÑO_EJERCICIO tiene 1 elementos diferentes:

Los elementos de la categoría son:

array([2014])

Los 10 AÑO_EJERCICIO que MAS aparecen son:

               count  Porcentaje_recuento
AÑO_EJERCICIO
2014            4553               100.00

Los 10 AÑO_EJERCICIO que MENOS aparecen son:

               count  Porcentaje_recuento
AÑO_EJERCICIO
2014            4553               100.00

 Las distribución de las repeticiones de los AÑO_EJERCICIO son:

       count  % repetición
count
4553       1        100.00

None

In [13]:
df_datos_2014.to_pickle("../datos/output/datos_2014_convertido.pkl")