In [1]:
# Tratamiento de datos
import pandas as pd
# Ignorar warnings
import warnings
warnings.filterwarnings("ignore")
# Configuración
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames
#importar la biblioteca de numpy:
import numpy as np
import os
import sys #permite navegar por el sistema
sys.path.append("../") #solo aplica al soporte
import src.soporte_EDA as se


pd.options.display.float_format = '{:.2f}'.format # para redondearlo todo a 2 decimales

In [2]:
os.listdir('../datos/raw/')

['datos-2013.csv',
 'datos-2014.csv',
 'datos-2015.csv',
 'datos-2016.csv',
 'datos-2017.csv',
 'datos-2018.csv',
 'datos-2019.csv',
 'datos-2020.csv',
 'datos-2021.csv',
 'diccionario_datos.csv']

In [3]:
lista_archivos = os.listdir('../datos/raw/')[:-1]
lista_archivos

['datos-2013.csv',
 'datos-2014.csv',
 'datos-2015.csv',
 'datos-2016.csv',
 'datos-2017.csv',
 'datos-2018.csv',
 'datos-2019.csv',
 'datos-2020.csv',
 'datos-2021.csv']

In [4]:
diccionario = se.carga_ficheros_csv('raw',lista_archivos)

In [5]:

df_datos_2015 = diccionario['df_2015']

# Anális datos año 2015

In [6]:
se.traducción_columnas(df_datos_2015)

In [7]:
df_datos_2015

,CÓDIGO_ÓRGANO_SUPERIOR,NOMBRE_ÓRGANO_SUPERIOR,CÓDIGO_ÓRGANO,NOMBRE_ÓRGANO,CÓDIGO_UNIDAD_GESTORA,NOMBRE_UNIDAD_GESTORA,CATEGORÍA_ECONÓMICA,ORIGEN_INGRESO,TIPO_INGRESO,DETALLE,VALOR_PREVISTO_ACTUALIZADO,VALOR_REGISTRADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO,FECHA_REGISTRO,AÑO_EJERCICIO
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,RECEITA DE HONORARIOS DE ADVOGADOS,"0,00","0,00","63829853,40","0,00",31/12/2015,2015
1,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Receita de Serviços,Receita de Serviços,TAR.INSCR.CONCURSOS E PROCESSOS SELETIVOS,"636000,00","0,00","4486964,41","705,00",31/12/2015,2015
2,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,RECEITA DE ONUS DE SUCUMBENCIA,"0,00","0,00","13060401,15","0,00",31/12/2015,2015
3,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",OUTRAS RESTITUICOES,"0,00","0,00","48085,58","0,00",31/12/2015,2015
4,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",OUTRAS MULTAS E JUROS DE MORA,"0,00","0,00","1022856,02","0,00",31/12/2015,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4518,20000,Presidência da República,20101,Presidência da República,110005,SECRETARIA DE ADMINISTRACAO-SET.ORC.E FIN./PR,Receitas de Capital,Alienação de Bens,Alienação de bens móveis,ALIENACAO DE VEICULOS,"0,00","0,00","101500,00","0,00",31/12/2015,2015
4519,20000,Presidência da República,20116,Fundo de Imprensa Nacional,110245,FUNDO DE IMPRENSA NACIONAL/EXEC.ORC.FINANC.,Receitas Correntes - intra-orçamentárias,Receita Industrial,Receitas da indústria de transformação,RECEITA DA INDUSTRIA EDITORIAL E GRAFICA,"209353470,00","0,00","128210131,92","61,00",31/12/2015,2015
4520,20000,Presidência da República,20101,Presidência da República,110005,SECRETARIA DE ADMINISTRACAO-SET.ORC.E FIN./PR,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,VARIACAO CAMBIAL,"0,00","0,00","2316,63","0,00",31/12/2015,2015
4521,20000,Presidência da República,20101,Presidência da República,110005,SECRETARIA DE ADMINISTRACAO-SET.ORC.E FIN./PR,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",OUTRAS MULTAS,"0,00","0,00","103,96","0,00",31/12/2015,2015
4522,20000,Presidência da República,20101,Presidência da República,110005,SECRETARIA DE ADMINISTRACAO-SET.ORC.E FIN./PR,Receitas Correntes,Receita Patrimonial,Exploração de recursos naturais,ROYAL.MIN.PROD.PETRO.PLATA.COM.ANTES 3/12/12,"774654214,00","0,00","0,00","0,00",31/12/2015,2015

In [8]:
se.reporte(df_datos_2015)

La tabla tiene 4523 filas y 16 columnas
La tabla tiene 0 filas duplicadas

,tipo_variables,contador_total,numero_nulos,porcentaje_nulos,valores_unicos,duplicados
CÓDIGO_ÓRGANO_SUPERIOR,int64,4523,0,0.00,25,4498
NOMBRE_ÓRGANO_SUPERIOR,object,4523,0,0.00,25,4498
CÓDIGO_ÓRGANO,int64,4523,0,0.00,272,4251
NOMBRE_ÓRGANO,object,4523,0,0.00,271,4252
CÓDIGO_UNIDAD_GESTORA,int64,4523,0,0.00,291,4232
NOMBRE_UNIDAD_GESTORA,object,4523,0,0.00,288,4235
CATEGORÍA_ECONÓMICA,object,4523,0,0.00,4,4519
ORIGEN_INGRESO,object,4523,0,0.00,14,4509
TIPO_INGRESO,object,4523,0,0.00,41,4482
DETALLE,object,4523,0,0.00,707,3816
VALOR_PREVISTO_ACTUALIZADO,object,4523,0,0.00,2648,1875
VALOR_REGISTRADO,object,4523,0,0.00,83,4440
VALOR_REALIZADO,object,4523,0,0.00,3744,779
PORCENTAJE_REALIZADO,object,4523,0,0.00,457,4066
FECHA_REGISTRO,object,4523,0,0.00,1,4522
AÑO_EJERCICIO,int64,4523,0,0.00,1,4522

In [9]:
se.conversion_columnas(df_datos_2015)

La tabla tiene 4523 filas y 16 columnas
La tabla tiene 0 filas duplicadas

,tipo_variables,contador_total,numero_nulos,porcentaje_nulos,valores_unicos,duplicados
CÓDIGO_ÓRGANO_SUPERIOR,object,4523,0,0.00,25,4498
NOMBRE_ÓRGANO_SUPERIOR,object,4523,0,0.00,25,4498
CÓDIGO_ÓRGANO,object,4523,0,0.00,272,4251
NOMBRE_ÓRGANO,object,4523,0,0.00,271,4252
CÓDIGO_UNIDAD_GESTORA,object,4523,0,0.00,291,4232
NOMBRE_UNIDAD_GESTORA,object,4523,0,0.00,288,4235
CATEGORÍA_ECONÓMICA,object,4523,0,0.00,4,4519
ORIGEN_INGRESO,object,4523,0,0.00,14,4509
TIPO_INGRESO,object,4523,0,0.00,41,4482
DETALLE,object,4523,0,0.00,707,3816
VALOR_PREVISTO_ACTUALIZADO,float64,4523,0,0.00,2648,1875
VALOR_REGISTRADO,float64,4523,0,0.00,83,4440
VALOR_REALIZADO,float64,4523,0,0.00,3744,779
PORCENTAJE_REALIZADO,float64,4523,0,0.00,457,4066
FECHA_REGISTRO,datetime64[ns],4523,0,0.00,1,4522
AÑO_EJERCICIO,int64,4523,0,0.00,1,4522

In [10]:
se.analisis_descriptivos_categóricas(df_datos_2015)

Las columnas categóricas son Index(['CÓDIGO_ÓRGANO_SUPERIOR', 'NOMBRE_ÓRGANO_SUPERIOR', 'CÓDIGO_ÓRGANO',
       'NOMBRE_ÓRGANO', 'CÓDIGO_UNIDAD_GESTORA', 'NOMBRE_UNIDAD_GESTORA',
       'CATEGORÍA_ECONÓMICA', 'ORIGEN_INGRESO', 'TIPO_INGRESO', 'DETALLE'],
      dtype='object')
Algunos ejemplos de filas son:

,CÓDIGO_ÓRGANO_SUPERIOR,NOMBRE_ÓRGANO_SUPERIOR,CÓDIGO_ÓRGANO,NOMBRE_ÓRGANO,CÓDIGO_UNIDAD_GESTORA,NOMBRE_UNIDAD_GESTORA,CATEGORÍA_ECONÓMICA,ORIGEN_INGRESO,TIPO_INGRESO,DETALLE
2584,26000,Ministério da Educação,26278,Fundação Universidade Federal de Pelotas,154047,FUNDACAO UNIVERSIDADE FEDERAL DE PELOTAS,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,REC.SEGUROS DECOR. INDENIZACAO POR SINISTRO
1999,26000,Ministério da Educação,26261,Universidade Federal de Itajubá,153030,UNIVERSIDADE FEDERAL DE ITAJUBA,Receitas Correntes,Receita Patrimonial,Exploração do patrimônio imobiliário do Estad,ALUGUEIS
2369,26000,Ministério da Educação,26426,Instituto Federal do Amapá,158150,"INST.FED.DE EDUC.,CIENC.E TEC.DO AMAPA",Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",MULTAS E JUROS DE MORA DE ALUGUEIS
267,24000,"Ministério da Ciência, Tecnologia, Inovações",20301,Comissão Nacional de Energia Nuclear,113209,CNEN-ORCAMENTO E FINANCAS,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",OUTRAS RESTITUICOES
3853,32000,Ministério de Minas e Energia,32205,"Agência Nacional do Petróleo, Gás Natural e Bi...",323030,AG. NAC.DO PETROLEO GAS NAT.E BIOCOM,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",OUTRAS INDENIZACOES

Las características de estas columnas son:

,count,unique,top,freq
CÓDIGO_ÓRGANO_SUPERIOR,4523,25,26000,1803
NOMBRE_ÓRGANO_SUPERIOR,4523,25,Ministério da Educação,1803
CÓDIGO_ÓRGANO,4523,272,25000,481
NOMBRE_ÓRGANO,4523,271,Ministério da Economia - Unidades com vínculo ...,481
CÓDIGO_UNIDAD_GESTORA,4523,291,170013,385
NOMBRE_UNIDAD_GESTORA,4523,288,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,385
CATEGORÍA_ECONÓMICA,4523,4,Receitas Correntes,4088
ORIGEN_INGRESO,4523,14,Outras Receitas Correntes,2076
TIPO_INGRESO,4523,41,"Multas administrativas, contratuais e judicia",962
DETALLE,4523,707,RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES,225

In [11]:
se.analisis_descriptivos_numéricas(df_datos_2015)

Las columnas no categóricas son Index(['VALOR_PREVISTO_ACTUALIZADO', 'VALOR_REGISTRADO', 'VALOR_REALIZADO',
       'PORCENTAJE_REALIZADO', 'FECHA_REGISTRO', 'AÑO_EJERCICIO'],
      dtype='object')
Algunos ejemplos de filas son:

,VALOR_PREVISTO_ACTUALIZADO,VALOR_REGISTRADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO,FECHA_REGISTRO,AÑO_EJERCICIO
367,163535.00,0.00,1257485.14,769.00,2015-12-31,2015
3871,33558.00,0.00,39371.92,117.00,2015-12-31,2015
2363,0.00,0.00,12021.42,0.00,2015-12-31,2015
1148,36596.00,0.00,0.00,0.00,2015-12-31,2015
264,463167.00,0.00,517423.70,112.00,2015-12-31,2015

Las características de estas columnas son:

,count,mean,min,25%,50%,75%,max,std
VALOR_PREVISTO_ACTUALIZADO,4523.00,636486304.58,0.00,0.00,22067.00,1567857.50,902028908307.00,14820313395.21
VALOR_REGISTRADO,4523.00,67940884.69,0.00,0.00,0.00,0.00,54211937114.78,1343559057.18
VALOR_REALIZADO,4523.00,589362231.96,-500851791.00,374.48,44400.05,913270.89,771117711060.95,13048246786.42
PORCENTAJE_REALIZADO,4523.00,336.48,-402.00,0.00,0.00,81.00,745465.00,11303.10
FECHA_REGISTRO,4523,2015-12-31 00:00:00,2015-12-31 00:00:00,2015-12-31 00:00:00,2015-12-31 00:00:00,2015-12-31 00:00:00,2015-12-31 00:00:00,NaN
AÑO_EJERCICIO,4523.00,2015.00,2015.00,2015.00,2015.00,2015.00,2015.00,0.00

# Análisis columnas de forma individual
## Año 2015

In [12]:
for columna in df_datos_2015.columns:
    print(se.analisis_individual_columnas(df_datos_2015, columna))

La categoría CÓDIGO_ÓRGANO_SUPERIOR tiene 25 elementos diferentes:

Los elementos de la categoría son:

array(['63000', '37000', '22000', '55000', '24000', '52000', '25000',
       '26000', '39000', '30000', '81000', '58000', '33000', '36000',
       '41000', '57000', '35000', '32000', '49000', '53000', '51000',
       '44000', '38000', '54000', '20000'], dtype=object)

Los 10 CÓDIGO_ÓRGANO_SUPERIOR que MAS aparecen son:

                        count  Porcentaje_recuento
CÓDIGO_ÓRGANO_SUPERIOR
26000                    1803                39.86
25000                     890                19.68
53000                     316                 6.99
52000                     235                 5.20
22000                     154                 3.40
54000                     144                 3.18
30000                     130                 2.87
39000                     124                 2.74
24000                     119                 2.63
36000                     116                 2.56

Los 10 CÓDIGO_ÓRGANO_SUPERIOR que MENOS aparecen son:

                        count  Porcentaje_recuento
CÓDIGO_ÓRGANO_SUPERIOR
38000                      16                 0.35
35000                      15                 0.33
49000                      15                 0.33
63000                      14                 0.31
57000                      12                 0.27
37000                      10                 0.22
58000                       9                 0.20
33000                       8                 0.18
81000                       7                 0.15
51000                       6                 0.13

 Las distribución de las repeticiones de los CÓDIGO_ÓRGANO_SUPERIOR son:

       count  % repetición
count
15         2          8.00
1803       1          4.00
316        1          4.00
890        1          4.00
154        1          4.00
144        1          4.00
130        1          4.00
235        1          4.00
124        1          4.00
119        1          4.00
108        1          4.00
116        1          4.00
76         1          4.00
52         1          4.00
48         1          4.00
96         1          4.00
16         1          4.00
14         1          4.00
12         1          4.00
10         1          4.00
9          1          4.00
8          1          4.00
7          1          4.00
6          1          4.00

None
La categoría NOMBRE_ÓRGANO_SUPERIOR tiene 25 elementos diferentes:

Los elementos de la categoría son:

array(['Advocacia-Geral da União', 'Controladoria-Geral da União',
       'Ministério da Agricultura, Pecuária e Abastec',
       'Ministério da Cidadania',
       'Ministério da Ciência, Tecnologia, Inovações ',
       'Ministério da Defesa', 'Ministério da Economia',
       'Ministério da Educação', 'Ministério da Infraestrutura',
       'Ministério da Justiça e Segurança Pública',
       'Ministério da Mulher, Família e Direitos Huma',
       'Ministério da Pesca e Aquicultura',
       'Ministério da Previdência Social', 'Ministério da Saúde',
       'Ministério das Comunicações',
       'Ministério das Mulheres, Igualdade Racial, da',
       'Ministério das Relações Exteriores',
       'Ministério de Minas e Energia',
       'Ministério do Desenvolvimento Agrário',
       'Ministério do Desenvolvimento Regional', 'Ministério do Esporte',
       'Ministério do Meio Ambiente', 'Ministério do Trabalho e Emprego',
       'Ministério do Turismo', 'Presidência da República'], dtype=object)

Los 10 NOMBRE_ÓRGANO_SUPERIOR que MAS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_ÓRGANO_SUPERIOR
Ministério da Educação                          1803                39.86
Ministério da Economia                           890                19.68
Ministério do Desenvolvimento Regional           316                 6.99
Ministério da Defesa                             235                 5.20
Ministério da Agricultura, Pecuária e Abastec    154                 3.40
Ministério do Turismo                            144                 3.18
Ministério da Justiça e Segurança Pública        130                 2.87
Ministério da Infraestrutura                     124                 2.74
Ministério da Ciência, Tecnologia, Inovações     119                 2.63
Ministério da Saúde                              116                 2.56

Los 10 NOMBRE_ÓRGANO_SUPERIOR que MENOS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_ÓRGANO_SUPERIOR
Ministério do Trabalho e Emprego                  16                 0.35
Ministério das Relações Exteriores                15                 0.33
Ministério do Desenvolvimento Agrário             15                 0.33
Advocacia-Geral da União                          14                 0.31
Ministério das Mulheres, Igualdade Racial, da     12                 0.27
Controladoria-Geral da União                      10                 0.22
Ministério da Pesca e Aquicultura                  9                 0.20
Ministério da Previdência Social                   8                 0.18
Ministério da Mulher, Família e Direitos Huma      7                 0.15
Ministério do Esporte                              6                 0.13

 Las distribución de las repeticiones de los NOMBRE_ÓRGANO_SUPERIOR son:

       count  % repetición
count
15         2          8.00
1803       1          4.00
316        1          4.00
890        1          4.00
154        1          4.00
144        1          4.00
130        1          4.00
235        1          4.00
124        1          4.00
119        1          4.00
108        1          4.00
116        1          4.00
76         1          4.00
52         1          4.00
48         1          4.00
96         1          4.00
16         1          4.00
14         1          4.00
12         1          4.00
10         1          4.00
9          1          4.00
8          1          4.00
7          1          4.00
6          1          4.00

None
La categoría CÓDIGO_ÓRGANO tiene 272 elementos diferentes:

Los elementos de la categoría son:

array(['63000', '66000', '22202', '22905', '44208', '22201', '22000',
       '22211', '49001', '55000', '55001', '24000', '20501', '24901',
       '20402', '20502', '20301', '24209', '49280', '52131', '52121',
       '52000', '52222', '52133', '52221', '52904', '52911', '52132',
       '31280', '52211', '52111', '37201', '25203', '25000', '20603',
       '38901', '30203', '37202', '30204', '37904', '25201', '25207',
       '25914', '25208', '61201', '25205', '20202', '33206', '22500',
       '71902', '25904', '25211', '90000', '25905', '28500', '25901',
       '20924', '25915', '25916', '26351', '26276', '26241', '26432',
       '26279', '26294', '26269', '26000', '26238', '26278', '26273',
       '26275', '26267', '26268', '26418', '26262', '26417', '26290',
       '26274', '26406', '26436', '26230', '26250', '26270', '26266',
       '26242', '26291', '26245', '26236', '26430', '26233', '26298',
       '26285', '26258', '26234', '26243', '26271', '26249', '26244',
       '26408', '26409', '26413', '26410', '26246', '26439', '26231',
       '26257', '26235', '26201', '26256', '26232', '26280', '26263',
       '26277', '26240', '26239', '26247', '26281', '26252', '26292',
       '26253', '26264', '26251', '26420', '26248', '26282', '26407',
       '26421', '26405', '26416', '26402', '26428', '26411', '26255',
       '26424', '26404', '26433', '26412', '26422', '26435', '26350',
       '26423', '26434', '26419', '26403', '26414', '26448', '26254',
       '26237', '26427', '26283', '26447', '26352', '26261', '26449',
       '26437', '26429', '26440', '26441', '26284', '26450', '26443',
       '26438', '26426', '26260', '26442', '26431', '26286', '26425',
       '26415', '26272', '68000', '62901', '29209', '62201', '39252',
       '56901', '39816', '39811', '39817', '39814', '39815', '39813',
       '39812', '39250', '49901', '39000', '62000', '68201', '39253',
       '29201', '30907', '30912', '30911', '30202', '30905', '30000',
       '30108', '30205', '30802', '30211', '20122', '58000', '33000',
       '36212', '36201', '36000', '36211', '36210', '36213', '20415',
       '41903', '41000', '41232', '41231', '64902', '64901', '35000',
       '35201', '32000', '32210', '32205', '32263', '29208', '20303',
       '20302', '32314', '49000', '53202', '53000', '53207', '53903',
       '44205', '53901', '22203', '53203', '53902', '22204', '56902',
       '29205', '29214', '74917', '74918', '74919', '91214', '44207',
       '44902', '44000', '44204', '20701', '44206', '20605', '38000',
       '20408', '34902', '42207', '20404', '20411', '54000', '20403',
       '20604', '20412', '54901', '20203', '24208', '20117', '67000',
       '20101', '69000', '64000', '20116', '61000', '60000'], dtype=object)

Los 10 CÓDIGO_ÓRGANO que MAS aparecen son:

               count  Porcentaje_recuento
CÓDIGO_ÓRGANO
25000            481                10.63
37904            106                 2.34
26000            101                 2.23
53903             54                 1.19
53901             54                 1.19
53902             54                 1.19
34902             50                 1.11
22202             48                 1.06
52904             43                 0.95
26238             43                 0.95

Los 10 CÓDIGO_ÓRGANO que MENOS aparecen son:

               count  Porcentaje_recuento
CÓDIGO_ÓRGANO
39813              1                 0.02
39812              1                 0.02
25905              1                 0.02
39816              1                 0.02
39811              1                 0.02
39817              1                 0.02
39814              1                 0.02
35201              1                 0.02
49280              1                 0.02
20605              1                 0.02

 Las distribución de las repeticiones de los CÓDIGO_ÓRGANO son:

       count  % repetición
count
15        17          6.25
10        16          5.88
9         15          5.51
8         14          5.15
4         13          4.78
14        13          4.78
16        12          4.41
1         12          4.41
12        11          4.04
21        11          4.04
11        10          3.68
13        10          3.68
6          9          3.31
3          9          3.31
5          9          3.31
18         8          2.94
7          8          2.94
24         7          2.57
20         7          2.57
2          7          2.57
17         6          2.21
23         6          2.21
27         5          1.84
29         5          1.84
19         5          1.84
26         3          1.10
54         3          1.10
43         2          0.74
30         2          0.74
33         2          0.74
31         2          0.74
35         1          0.37
50         1          0.37
48         1          0.37
106        1          0.37
101        1          0.37
481        1          0.37
36         1          0.37
38         1          0.37
41         1          0.37
22         1          0.37
32         1          0.37
28         1          0.37
25         1          0.37

None
La categoría NOMBRE_ÓRGANO tiene 271 elementos diferentes:

Los elementos de la categoría son:

array(['Advocacia-Geral da União - Unidades com vínculo direto',
       'Controladoria-Geral da União',
       'Empresa Brasileira de Pesquisa Agropecuária',
       'Fundo de Defesa da Economia Cafeeira',
       'Serviço Florestal Brasileiro',
       'Instituto Nacional de Colonização e Reforma Agrária',
       'Ministério da Agricultura, Pecuária e Abastecimento - Unidades com vínculo direto',
       'Companhia Nacional de Abastecimento',
       'Fundo de Terras e da Reforma Agrária',
       'Ministério da Cidadania - Unidades com vínculo direto',
       'Fundo Nacional de Assistência Social',
       'Ministério da Ciência, Tecnologia, Inovações e Comunicações - Unidades com vínculo direto',
       'Conselho Nacional de Desenvolvimento Científico e Tecnológico',
       'Fundo Nacional de Desenvolvimento Científico e Tecnológico',
       'Agência Espacial Brasileira',
       'Financiadora de Estudos e Projetos',
       'Comissão Nacional de Energia Nuclear',
       'Centro Nacional de Tecnologia Eletrônica Avançada S.A.',
       'Empresa Brasileira de Correios e Telégrafos',
       'Comando da Marinha', 'Comando do Exército',
       'Ministério da Defesa - Unidades com vínculo direto',
       'Fundação Osório',
       'Fundo de Desenvolvimento do Ensino Profissional Marítimo',
       'Indústria de Material Bélico do Brasil', 'Fundo do Exército',
       'Fundo Aeronáutico', 'Comando da Marinha - Fundo Naval',
       'Caixa de Construções de Casas para o Pessoal da Marinha do Brasil',
       'Caixa de Financiamento Imobiliário da Aeronáutica',
       'Comando da Aeronáutica',
       'Fundação Jorge Duprat Figueiredo, de Segurança e Medicina do Trabalho',
       'Comissão de Valores Mobiliários',
       'Ministério da Economia - Unidades com vínculo direto',
       'Superintendência da Zona Franca de Manaus',
       'Fundo de Amparo ao Trabalhador',
       'Instituto Nacional de Metrologia, Qualidade e Tecnologia',
       'Instituto Nacional do Seguro Social',
       'Instituto Nacional da Propriedade Industrial',
       'Fundo do Regime Geral da Previdência Social',
       'Banco Central do Brasil - Orçamento Fiscal e Seguridade Social',
       'Serviço Federal de Processamento de Dados',
       'Fundo de Garantia à Exportação',
       'Superintendência de Seguros Privados',
       'Instituto de Pesquisa Econômica Aplicada',
       'Fundação Instituto Brasileiro de Geografia e Estatística',
       'Fundação Escola Nacional de Administração Pública',
       'Superintendência Nacional de Previdência Complementar',
       'Companhia de Entrepostos e Armazéns Gerais de São Paulo',
       'Fundo Soberano do Brasil',
       'Fundo de Estabilidade do Seguro Rural', 'Casa da Moeda do Brasil',
       'Reserva de Contingência',
       'Fundo de Apoio ao Desenvolvimento Social',
       'Fundo de Garantia para a Promoção da Competitividade',
       'Fundo de Compensação de Variações Salariais',
       'Fundo Nacional de Desenvolvimento',
       'Fundo Constitucional do Distrito Federal',
       'Fundo Contingente da Extinta RFFSA-FCMP',
       'Universidade Federal do Recôncavo da Bahia',
       'Fundação Universidade Federal do Mato Grosso',
       'Universidade Federal do Paraná', 'Instituto Federal do Paraná',
       'Fundação Universidade Federal do Piauí',
       'Hospital de Clínicas de Porto Alegre',
       'Universidade Federal do Estado do Rio de Janeiro',
       'Ministério da Educação - Unidades com vínculo direto',
       'Universidade Federal de Minas Gerais',
       'Fundação Universidade Federal de Pelotas',
       'Universidade Federal do Rio Grande',
       'Fundação Universidade Federal do Acre',
       'Universidade Federal da Integração Latino-Americana',
       'Fundação Universidade Federal de Rondônia',
       'Instituto Federal de Pernambuco',
       'Universidade Federal de São Paulo',
       'Instituto Federal da Paraíba',
       'Instituto Nacional de Estudos e Pesquisas Educacionais Anísio Teixeira',
       'Fundação Universidade Federal de Uberlândia',
       'Instituto Federal do Espírito Santo',
       'Instituto Federal Sul-rio-grandense',
       'Fundação Universidade Federal do Vale do São Francisco',
       'Universidade Federal de Roraima',
       'Fundação Universidade do Amazonas',
       'Fundação Universidade Federal do Pampa',
       'Universidade Federal de Pernambuco',
       'Fundação Coordenação de Aperfeiçoamento de Pessoal de Nível Superior',
       'Universidade Federal do Rio de Janeiro',
       'Universidade Federal Fluminense',
       'Instituto Federal do Sertão de Pernambuco',
       'Universidade Federal do Ceará',
       'Fundo Nacional de Desenvolvimento da Educação',
       'Fundação Universidade Federal de São João Del-Rei',
       'Universidade Tecnológica Federal do Paraná',
       'Universidade Federal do Espírito Santo',
       'Universidade Federal do Rio Grande do Norte',
       'Fundação Universidade de Brasília',
       'Universidade Federal Rural do Rio de Janeiro',
       'Universidade Federal do Rio Grande do Sul',
       'Instituto Federal do Maranhão',
       'Instituto Federal de Minas Gerais',
       'Instituto Federal do Triângulo Mineiro',
       'Instituto Federal do Norte de Minas Gerais',
       'Universidade Federal de Santa Catarina',
       'Instituto Federal de São Paulo',
       'Universidade Federal de Alagoas',
       'Centro Federal de Educação Tecnológica de Minas Gerais',
       'Universidade Federal de Goiás', 'Colégio Pedro II',
       'Centro Federal de Educação Tecnológica Celso Suckow da Fonseca',
       'Universidade Federal da Bahia',
       'Fundação Universidade Federal de São Carlos',
       'Universidade Federal de Lavras',
       'Universidade Federal de Ouro Preto',
       'Universidade Federal da Paraíba', 'Universidade Federal do Pará',
       'Universidade Federal de Santa Maria',
       'Fundação Universidade Federal de Sergipe',
       'Universidade Federal de Campina Grande',
       'Fundação Joaquim Nabuco',
       'Universidade Federal Rural da Amazônia',
       'Universidade Federal Rural do Semi-Árido',
       'Fundação Universidade Federal do Tocantins',
       'Instituto Federal Farroupilha',
       'Universidade Federal Rural de Pernambuco',
       'Universidade Federal de Viçosa', 'Instituto Federal Goiano',
       'Instituto Federal de Rondônia', 'Instituto Federal do Ceará',
       'Instituto Federal do Pará', 'Instituto Federal de Alagoas',
       'Instituto Federal de Brasília',
       'Instituto Federal do Sudeste de Minas Gerais',
       'Universidade Federal dos Vales do Jequitinhonha e Mucuri',
       'Instituto Federal do Tocantins', 'Instituto Federal Baiano',
       'Instituto Federal do Rio de Janeiro',
       'Instituto Federal do Sul de Minas Gerais',
       'Instituto Federal Catarinense',
       'Instituto Federal do Rio Grande do Norte',
       'Fundação Universidade Federal da Grande Dourados',
       'Instituto Federal de Sergipe', 'Instituto Federal Fluminense',
       'Instituto Federal do Rio Grande do Sul',
       'Instituto Federal do Amazonas',
       'Instituto Federal do Mato Grosso',
       'Universidade Federal do Sul e Sudeste do Pará',
       'Universidade Federal do Triângulo Mineiro',
       'Universidade Federal de Juiz de Fora',
       'Instituto Federal da Bahia',
       'Fundação Universidade Federal do Mato Grosso do Sul',
       'Universidade Federal do Oeste da Bahia',
       'Fundação Universidade Federal do ABC',
       'Universidade Federal de Itajubá',
       'Universidade Federal do Cariri', 'Instituto Federal de Roraima',
       'Instituto Federal de Educação, Ciência e Tecnologia de Goiás',
       'Universidade Federal da Fronteira Sul',
       'Universidade Federal do Oeste do Pará',
       'Fundação Universidade Federal de Ciências da Saúde de Porto Alegre',
       'Universidade Federal do Sul da Bahia',
       'Empresa Brasileira de Serviços Hospitalares',
       'Instituto Federal de Santa Catarina',
       'Instituto Federal do Amapá', 'Universidade Federal de Alfenas',
       'Universidade da Integração Internacional da Lusofonia Afro-Brasileira',
       'Instituto Federal do Piauí',
       'Fundação Universidade Federal do Amapá',
       'Instituto Federal do Acre',
       'Instituto Federal do Mato Grosso do Sul',
       'Fundação Universidade do Maranhão', 'Secretaria de Portos',
       'Fundo Nacional de Aviação Civil',
       'VALEC Engenharia, Construções e Ferrovias S.A.',
       'Agência Nacional de Aviação Civil',
       'Departamento Nacional de Infraestrutura de Transportes',
       'Fundo Nacional de Segurança e Educação de Trânsito',
       'Companhia Docas do Estado de São Paulo',
       'Companhia Docas do Rio de Janeiro',
       'Companhia Docas do Espírito Santo', 'Companhia Docas do Pará',
       'Companhia Docas do Rio Grande do Norte',
       'Companhia Docas do Ceará', 'Companhia Docas do Estado da Bahia',
       'Agência Nacional de Transportes Terrestres',
       'Departamento do Fundo da Marinha Mercante',
       'Ministério da Infraestrutura - Unidades com vínculo direto',
       'Secretaria de Aviação Civil',
       'Agência Nacional de Transportes Aquaviários',
       'Empresa de Planejamento e Logística S.A.',
       'Departamento Nacional de Estradas de Rodagem',
       'Fundo Penitenciário Nacional', 'Fundo Nacional Antidrogas',
       'Fundo Nacional de Segurança Pública',
       'Fundação Nacional do Índio',
       'Secretaria Nacional do Consumidor Fundo',
       'Ministério da Justiça e Segurança Pública - Unidades com vínculo direto',
       'Departamento de Polícia Federal',
       'Fundação Nacional do Índio - Patrimônio Indígena',
       'Departamento de Polícia Rodoviária Federal',
       'Conselho Administrativo de Defesa Econômica',
       'Secretaria Nacional de Políticas para Mulheres',
       'Ministério da Pesca e Aquicultura - Unidades com vínculo direto',
       'Ministério da Previdência Social - Unidades com vínculo direto',
       'Agência Nacional de Vigilância Sanitária',
       'Fundação Oswaldo Cruz',
       'Ministério da Saúde - Unidades com vínculo direto',
       'Fundação Nacional de Saúde',
       'Hospital Nossa Senhora da Conceição S.A.',
       'Agência Nacional de Saúde Suplementar',
       'Empresa Brasil de Comunicação',
       'Fundo para o Desenvolvimento Tecnológico das Telecomunicações',
       'Ministério das Comunicações - Unidades com vínculo direto',
       'Fundo de Universalização dos Serviços de Telecomunicações',
       'Agêncial Nacional de Telecomunicações', 'Fundo Nacional do Idoso',
       'Fundo Nacional para a Criança e o Adolescente',
       'Ministério das Relações Exteriores - Unidades com vínculo direto',
       'Fundação Alexandre de Gusmão',
       'Ministério de Minas e Energia - Unidades com vínculo direto',
       'Agência Nacional de Energia Elétrica',
       'Agência Nacional do Petróleo, Gás Natural e Biocombustíveis',
       'Departamento Nacional de Produção Mineral',
       'Companhia de Pesquisa de Recursos Minerais',
       'Indústrias Nucleares do Brasil',
       'Nuclebrás Equipamentos Pesados S.A.',
       'Empresa de Pesquisa Energética',
       'Ministério do Desenvolvimento Agrário - Unidades com vínculo direto',
       'Superintendência do Desenvolvimento da Amazônia',
       'Ministério do Desenvolvimento Regional - Unidades com vínculo direto',
       'Superintendência de Desenvolvimento do Centro-Oeste',
       'Fundo Constitucional de Financiamento do Nordeste',
       'Agência Nacional de Águas',
       'Fundo Constitucional de Financiamento do Norte',
       'Companhia de Desenvolvimento dos Vales do São Francisco e do Parnaíba',
       'Superintendência do Desenvolvimento do Nordeste',
       'Fundo Constitucional de Financiamento do Centro-Oeste',
       'Departamento Nacional de Obras Contra as Secas',
       'Fundo Nacional de Habitação de Interesse Social',
       'Empresa de Trens Urbanos de Porto Alegre',
       'Companhia Brasileira de Trens Urbanos',
       'Fundo de Desenvolvimento da Amazônia',
       'Fundo de Desenvolvimento do Nordeste',
       'Fundo de Desenvolvimento do Centro-Oeste',
       'Autoridade Pública Olímpica',
       'Instituto Chico Mendes de Conservação da Biodiversidade',
       'Fundo Nacional sobre Mudança no Clima',
       'Ministério do Meio Ambiente - Unidades com vínculo direto',
       'Fundo Nacional do Meio Ambiente',
       'Instituto Brasileiro do Meio Ambiente e dos Recursos Naturais Renováveis',
       'Instituto de Pesquisas Jardim Botânico do Rio de Janeiro',
       'Companhia de Desenvolvimento de Barcarena',
       'Ministério do Trabalho e Emprego - Unidades com vínculo direto',
       'Fundação Cultural Palmares', 'Fundo Nacional de Cultura',
       'Instituto Brasileiro de Museus', 'Fundação Biblioteca Nacional',
       'Instituto do Patrimônio Histórico e Artístico Nacional',
       'Ministério do Turismo - Unidades com vínculo direto',
       'Fundação Casa de Rui Barbosa', 'Instituto Brasileiro de Turismo',
       'Fundação Nacional de Artes', 'Fundo Geral de Turismo',
       'Agência Nacional do Cinema',
       'Instituto Nacional de Tecnologia da Informação',
       'Secretaria de Políticas de Promoção da Igualdade Racial',
       'Presidência da República',
       'Secretaria da Micro e Pequena Empresa',
       'Secretaria de Direitos Humanos', 'Fundo de Imprensa Nacional',
       'Secretaria de Assuntos Estratégicos',
       'Gabinete da Vice-Presidência da República'], dtype=object)

Los 10 NOMBRE_ÓRGANO que MAS aparecen son:

                                                    count  Porcentaje_recuento
NOMBRE_ÓRGANO
Ministério da Economia - Unidades com vínculo d...    481                10.63
Fundo do Regime Geral da Previdência Social           106                 2.34
Ministério da Educação - Unidades com vínculo d...    101                 2.23
Fundo Constitucional de Financiamento do Norte         54                 1.19
Fundo Constitucional de Financiamento do Nordeste      54                 1.19
Fundo Constitucional de Financiamento do Centro...     54                 1.19
Fundo Nacional de Cultura                              50                 1.11
Empresa Brasileira de Pesquisa Agropecuária            48                 1.06
Fundo do Exército                                      43                 0.95
Universidade Federal de Minas Gerais                   43                 0.95

Los 10 NOMBRE_ÓRGANO que MENOS aparecen son:

                                              count  Porcentaje_recuento
NOMBRE_ÓRGANO
Companhia Docas do Espírito Santo                 1                 0.02
Companhia Docas do Pará                           1                 0.02
Departamento Nacional de Estradas de Rodagem      1                 0.02
Companhia Docas do Estado da Bahia                1                 0.02
Companhia Docas do Rio Grande do Norte            1                 0.02
Companhia Docas do Ceará                          1                 0.02
Companhia Docas do Estado de São Paulo            1                 0.02
Companhia Docas do Rio de Janeiro                 1                 0.02
Empresa Brasileira de Correios e Telégrafos       1                 0.02
Fundação Alexandre de Gusmão                      1                 0.02

 Las distribución de las repeticiones de los NOMBRE_ÓRGANO son:

       count  % repetición
count
15        17          6.27
9         15          5.54
10        15          5.54
8         14          5.17
4         13          4.80
14        13          4.80
12        12          4.43
16        12          4.43
1         12          4.43
21        11          4.06
11        10          3.69
13        10          3.69
6          9          3.32
3          9          3.32
5          9          3.32
18         8          2.95
7          8          2.95
24         7          2.58
20         7          2.58
23         6          2.21
17         6          2.21
2          6          2.21
27         5          1.85
29         5          1.85
19         5          1.85
26         3          1.11
54         3          1.11
43         2          0.74
30         2          0.74
33         2          0.74
31         2          0.74
35         1          0.37
50         1          0.37
48         1          0.37
106        1          0.37
101        1          0.37
481        1          0.37
36         1          0.37
38         1          0.37
41         1          0.37
22         1          0.37
32         1          0.37
28         1          0.37
25         1          0.37

None
La categoría CÓDIGO_UNIDAD_GESTORA tiene 291 elementos diferentes:

Los elementos de la categoría son:

array(['110060', '110174', '135037', '130137', '440088', '373001',
       '130101', '135100', '490003', '550002', '330013', '420002',
       '180077', '240102', '364001', '240901', '203001', '365001',
       '113209', '245209', '415001', '364102', '364999', '773001',
       '160075', '110407', '164204', '873001', '168002', '167086',
       '121002', '673001', '773008', '123001', '699999', '120002',
       '211999', '120999', '264001', '173030', '170013', '201002',
       '170010', '193028', '380910', '280102', '183023', '510001',
       '183038', '513001', '173057', '806001', '170356', '173039',
       '113601', '114601', '114702', '333001', '225001', '170474',
       '179103', '179083', '390001', '170380', '287001', '170381',
       '201924', '170392', '173065', '158092', '154045', '153079',
       '158009', '154048', '155001', '154034', '150014', '153062',
       '154047', '154042', '154044', '158658', '154055', '158136',
       '153031', '158138', '153978', '154043', '158151', '158126',
       '154421', '154080', '154039', '154359', '153080', '154003',
       '153115', '153056', '158149', '153045', '153173', '154069',
       '153019', '153046', '153103', '154040', '153166', '153114',
       '158128', '158122', '158099', '158121', '153163', '158154',
       '153037', '153015', '153052', '153167', '153010', '153038',
       '154049', '153032', '154046', '153065', '153063', '153164',
       '154050', '158195', '344002', '153034', '153033', '154419',
       '158127', '153165', '154051', '158124', '158148', '158133',
       '158135', '158147', '158143', '158123', '153036', '158131',
       '158129', '158157', '158137', '158125', '158155', '154502',
       '158134', '158139', '158141', '158142', '158144', '158718',
       '153035', '153061', '158145', '154054', '158717', '154503',
       '153030', '158719', '158152', '158153', '158517', '158515',
       '154032', '158720', '155007', '158516', '158150', '153028',
       '158565', '158146', '154215', '158156', '158132', '154041',
       '158274', '110680', '110591', '275075', '113214', '393003',
       '200320', '396006', '396001', '399002', '396004', '396005',
       '396003', '396002', '393001', '277001', '390002', '110590',
       '682010', '395001', '273087', '200333', '200246', '200331',
       '194088', '200401', '200094', '200336', '194040', '200109',
       '303001', '200021', '110008', '330002', '253002', '254420',
       '250088', '255000', '366003', '253003', '255015', '255014',
       '255008', '255003', '255011', '115406', '410007', '410002',
       '413047', '413001', '410003', '207001', '110244', '240005',
       '244001', '320002', '323028', '323030', '323002', '495001',
       '113206', '113208', '325001', '490002', '533013', '560003',
       '533018', '537001', '530002', '443003', '537002', '195006',
       '533014', '537003', '113802', '560015', '275060', '275068',
       '533008', '533009', '537004', '913001', '443032', '447001',
       '440002', '443045', '193034', '443019', '195008', '193107',
       '380010', '344041', '340002', '423001', '344042', '403101',
       '540001', '344001', '185001', '403201', '187002', '203003',
       '243001', '110246', '238012', '110005', '690001', '200016',
       '110245', '110355', '110101'], dtype=object)

Los 10 CÓDIGO_UNIDAD_GESTORA que MAS aparecen son:

                       count  Porcentaje_recuento
CÓDIGO_UNIDAD_GESTORA
170013                   385                 8.51
513001                   106                 2.34
150014                   101                 2.23
170010                    63                 1.39
537001                    54                 1.19
537003                    54                 1.19
537002                    54                 1.19
340002                    50                 1.11
135037                    48                 1.06
167086                    43                 0.95

Los 10 CÓDIGO_UNIDAD_GESTORA que MENOS aparecen son:

                       count  Porcentaje_recuento
CÓDIGO_UNIDAD_GESTORA
211999                     1                 0.02
255011                     1                 0.02
255014                     1                 0.02
244001                     1                 0.02
255008                     1                 0.02
415001                     1                 0.02
364999                     1                 0.02
364102                     1                 0.02
193107                     1                 0.02
195008                     1                 0.02

 Las distribución de las repeticiones de los CÓDIGO_UNIDAD_GESTORA son:

       count  % repetición
count
1         24          8.25
8         17          5.84
15        16          5.50
9         15          5.15
10        15          5.15
16        14          4.81
14        13          4.47
4         13          4.47
13        12          4.12
12        12          4.12
11        11          3.78
5         10          3.44
3         10          3.44
21         9          3.09
18         8          2.75
20         8          2.75
6          8          2.75
7          8          2.75
24         7          2.41
2          7          2.41
17         6          2.06
27         5          1.72
29         5          1.72
23         5          1.72
19         5          1.72
26         3          1.03
54         3          1.03
43         2          0.69
30         2          0.69
33         2          0.69
25         2          0.69
31         2          0.69
35         1          0.34
106        1          0.34
101        1          0.34
63         1          0.34
385        1          0.34
36         1          0.34
38         1          0.34
48         1          0.34
50         1          0.34
22         1          0.34
32         1          0.34
28         1          0.34

None
La categoría NOMBRE_UNIDAD_GESTORA tiene 288 elementos diferentes:

Los elementos de la categoría son:

array(['COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU',
       'DIRETORIA DE GESTAO INTERNA/SE/CGU', 'EMBRAPA-SETORIAL',
       'FUNDO DE DEFESA DA ECON.CAFEEIRA/FUNCAFE/SPA',
       'SETORIAL PROG.ORCAMENTARIA E FINANCEIRA-SFB',
       'DPTO. DE ADMINISTRACAO FINANCEIRA-DAF - INCRA',
       'COORD.-GERAL DE ORCAMENTO E FINANCAS-MAPA',
       'COMPANHIA NACIONAL DE ABASTECIMENTO', 'CREDITO FUNDIARIO',
       'SETORIAL DE ORCAMENTO E FINANCAS/MC',
       'FUNDO NACIONAL DE ASSISTENCIA SOCIAL',
       'COORD.GERAL DE PLAN. ORC. FIN. E CONTAB./MINC',
       'SETORIAL ORCAMENTARIA E FINANCEIRA - (ME)',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS',
       'CNPQ - ADMINISTRACAO CENTRAL',
       'FUNDO NAC.DE DESENV. CIENT. E TECNOLOGICO',
       'AGENCIA ESPACIAL BRASILEIRA/AEB',
       'FINANCIADORA DE ESTUDOS E PROJETOS', 'CNEN-ORCAMENTO E FINANCAS',
       'CENTRO NACIONAL DE TECNOLOGIA ELETRONICA AVAN',
       'EMPRESA BRASILEIRA DE CORREIOS E TELEGRAFOS',
       'CONSELHO NAC DE DESENV CIENT E TECNOLOGICO',
       'CNPQ - DIFERENCIA CAMBIAL',
       'DIRETORIA DE FINANCAS DA MARINHA-SISTEMA-PAIS',
       'D CONT - SETORIAL FINANCEIRA',
       'DEPARTAMENTO DE PLANEJ, ORC E FINANCAS (MD)', 'FUNDACAO OSORIO',
       'DIRETORIA DE FINANCAS-SISTEMA PARA O PAIS/MM',
       'INDUSTRIA DE MATERIAL BELICO DO BRASIL/GESTOR',
       'FUNDO DO EXERCITO', 'SECRETARIA DE ECON. E FIN.DA AER.- F.AER.',
       'DIRETORIA DE FINANCAS DA MARINHA - CCCPM',
       'CAIXA FINANCIAMENTO IMOBILIARIO AERONAUTICA',
       'FUNDO NAVAL - DIFERENCA CAMBIAL',
       'DIRETORIA DE ECON E FINANCAS DA AERONAUTICA',
       'MARINHA - DIFERENCA CAMBIAL', 'MAER - DIFERENCA CAMBIAL',
       'FUNDACENTRO - FUND.JORGE DUPRAT/CTN/SEDE - SP',
       'COMISSAO DE VALORES MOBILIARIOS',
       'SETORIAL ORCAMENTARIA E FINANCEIRA / ME',
       'COORDENACAO-GERAL DE ORC. E FINANCAS/MP',
       'SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB',
       'SUPERINTENDENCIA DA ZONA FRANCA DE MANAUS/AM',
       'COORD-GERAL DE ORCAMENTO, FIN. E CONT.- CGOFC',
       'COORDENACAO-GERAL DE ORCAM.FINAN.CONTAB/MDIC',
       'INSTITUTO NAC.DE METROLOG. QUALID. E TECNOLOG',
       'COORD.GERAL DE ORCAMENTO, FINANCAS E CONTAB.',
       'INSTITUTO NACIONAL DA PROPRIEDADE INDUSTRIAL',
       'COORDENACAO DE ORCAMENTO E FINANCAS DO FRGPS',
       'BANCO CENTRAL DO BRASIL', 'SERPRO-SEDE - DEPARTAMENTO FINANCEIRO',
       'FUNDO DE GARANTIA A EXPORTACAO-BNDES',
       'SUPERINTENDENCIA DE SEGUROS PRIVADOS - RJ',
       'INSTITUTO DE PESQUISA ECONOMICA APLICADA',
       'FUNDACAO IBGE-ADMINISTRACAO CENTRAL/RJ',
       'FUNDACAO ESCOLA NACIONAL DE ADM. PUBLICA',
       'COORD.GERAL DE ORC. FIN. E CONTABILIDADE',
       'CIA.DE ENTREPOSTOS E ARMAZENS GER.DE S.PAULO',
       'FUNDO SOBERANO DO BRASIL',
       'FUNDO DE ESTABILIDADE DO SEGURO RURAL', 'CASA DA MOEDA DO BRASIL',
       'RESERVA DE CONTINGENCIA/MEFP',
       'FUNDO DE APOIO AO DESENVOLVIMENTO SOCIAL',
       'FUNDO DE GAR.P/PROMOC.DA COMPETITIVIDADE±FGPC',
       'FUNDO DE COMPENSACAO E VARIACAO SALARIAL',
       'FUNDO NACIONAL DE DESENVOLVIMENTO',
       'FUNDO CONSTITUCIONAL DO DISTRITO FEDERAL',
       'FUNDO CONTINGENTE DA EXTINTA RFFSA-FC',
       'UNIVERSIDADE FEDERAL DO RECONCAVO DA BAHIA',
       'FUNDACAO UNIVERSIDADE FEDERAL DE MATO GROSSO',
       'UNIVERSIDADE FEDERAL DO PARANA', 'INST. FED. DO PARANA/ REITORIA',
       'FUNDACAO UNIVERSIDADE FEDERAL DO PIAUI',
       'HOSPITAL DE CLINICAS DE PORTO ALEGRE',
       'UNIRIO UNIVERSIDADE FEDERAL DO ESTADO RJ',
       'SUBSECRETARIA DE PLANEJ. E ORCAMENTO SPO(MEC)',
       'UNIVERSIDADE FEDERAL DE MINAS GERAIS',
       'FUNDACAO UNIVERSIDADE FEDERAL DE PELOTAS',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE - FURG',
       'FUNDACAO UNIVERSIDADE FEDERAL DO ACRE',
       'UNIV. FEDERAL DA INTEGRACAO LATINO-AMERICANA',
       'FUNDACAO UNIVERSIDADE FEDERAL DE RONDONIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE PERNAMBUCO',
       'UNIFESP-UNIVERSIDADE FEDERAL DE SAO PAULO', 'IFPB - REITORIA',
       'INST.NACIONAL DE EST.E PESQUISAS EDUCACIONAIS',
       'FUNDACAO UNIVERSIDADE FEDERAL DE UBERLANDIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO ESP.SANTO',
       'INST.FED.DE EDUC.,CIE.E TEC.SUL-RIO-GRANDENSE',
       'FUND. UNIVERSIDADE FEDERAL VALE SAO FRANCISCO',
       'UNIVERSIDADE FEDERAL DE RORAIMA',
       'FUNDACAO UNIVERSIDADE DO AMAZONAS',
       'FUNDACAO UNIVERSIDADE FEDERAL DO PAMPA',
       'UNIVERSIDADE FEDERAL DE PERNAMBUCO',
       'FUND.COORD.DE APERF.DE PESSOAL NIVEL SUPERIOR',
       'UNIVERSIDADE FEDERAL DO RIO DE JANEIRO',
       'UNIVERSIDADE FEDERAL FLUMINENSE',
       'INST.FED.DE ED.,CIENC.E TEC.DO S.PERNAMBUCANO',
       'UNIVERSIDADE FEDERAL DO CEARA',
       'FUNDO NACIONAL DE DESENVOLVIMENTO DA EDUCACAO',
       'FUNDACAO UNIVERSIDADE FEDERAL DE S.J.DEL-REI',
       'UNIVERSIDADE TECNOLOGICA FEDERAL DO PARANA',
       'UNIVERSIDADE FEDERAL DO ESPIRITO SANTO',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE DO NORTE',
       'FUNDACAO UNIVERSIDADE DE BRASILIA - FUB',
       'UNIVERSIDADE FEDERAL RURAL DO RIO DE JANEIRO',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE DO SUL',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MARANHAO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE MINAS GERAIS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO TRIA.MINEIRO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO NORTE DE MG',
       'UNIVERSIDADE FEDERAL DE SANTA CATARINA',
       'INSTITUTO FEDERAL DE SAO PAULO',
       'UNIVERSIDADE FEDERAL DE ALAGOAS',
       'CENTRO FEDERAL DE EDUCACAO TECNOLOGICA DE MG',
       'UNIVERSIDADE FEDERAL DE GOIAS', 'COLEGIO PEDRO II',
       'CENTRO FED.DE EDUC.TECNOL.CELSO S.DA FONSECA',
       'UNIVERSIDADE FEDERAL DA BAHIA',
       'FUNDACAO UNIVERSIDADE FEDERAL DE SAO CARLOS',
       'UNIVERSIDADE FEDERAL DE LAVRAS',
       'UNIVERSIDADE FEDERAL DE OURO PRETO',
       'UNIVERSIDADE FEDERAL DA PARAIBA', 'UNIVERSIDADE FEDERAL DO PARA',
       'UNIVERSIDADE FEDERAL DE SANTA MARIA',
       'FUNDACAO UNIVERSIDADE FEDERAL DE SERGIPE',
       'UNIVERSIDADE FEDERAL DE CAMPINA GRANDE',
       'FUNDACAO JOAQUIM NABUCO',
       'UNIVERSIDADE FEDERAL RURAL DA AMAZONIA',
       'UNIVERSIDADE FEDERAL RURAL DO SEMI-ARIDO - RN',
       'FUNDACAO UNIVERSIDADE FEDERAL DO TOCANTINS',
       'INST.FED.DE EDUC.,CIENC.E TEC.FARROUPILHA',
       'UNIVERSIDADE FEDERAL RURAL DE PERNAMBUCO',
       'UNIVERSIDADE FEDERAL DE VICOSA', 'IF GOIANO',
       'INST. FED. DE EDUC.,CIENC. E TEC. DE RONDONIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO CEARA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO PARA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE ALAGOAS',
       'IFB - REITORIA - BRASILIA-DF',
       'INSTITUTO FED CIENCIA TECNOL SUDESTE MG',
       'UNIVERSIDADE FED.VALES JEQUITINHONHA E MUCURI',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO TOCANTINS',
       'INST FED DE EDUC CIENC E TECNOLOGIA BAIANO', 'REITORIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO SUL DE MG',
       'INSTITUTO FEDERAL CATARINENSE - REITORIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO RN',
       'FUNDACAO UNIVERSIDADE FED. DA GRANDE DOURADOS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE SERGIPE',
       'INST.FED.DE EDUC.,CIENC.E TEC.FLUMINENSE',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO RS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO AMAZONAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MATO GROSSO',
       'UNIVERSIDADE FEDERAL DO SUL E SUDESTE DO PARA',
       'UNIVERSIDADE FEDERAL DO TRIANGULO MINEIRO',
       'UNIVERSIDADE FEDERAL DE JUIZ DE FORA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DA BAHIA',
       'FUNDACAO UNIVERS.FED. DE MATO GROSSO DO SUL',
       'UNIVERSIDADE FEDERAL DO OESTE DA BAHIA',
       'FUNDACAO UNIVERSIDADE FEDERAL DO ABC',
       'UNIVERSIDADE FEDERAL DE ITAJUBA',
       'UNIVERSIDADE FEDERAL DO CARIRI',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE RORAIMA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE GOIAS',
       'UNIVERSIDADE FEDERAL DA FRONTEIRA SUL',
       'UNIVERSIDADE FEDERAL DO OESTE DO PARA',
       'FUND.UNIV.FED.DE.CIENC.DA SAUDE DE P.ALEGRE',
       'UNIVERSIDADE FEDERAL DO SUL DA BAHIA',
       'EMPRESA BRASILEIRA DE SERVICOS HOSPITALARES',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE STA.CAT/IFSC',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO AMAPA',
       'UNIVERSIDADE FEDERAL DE ALFENAS',
       'UNIV.DA INTEG.INTERN.DA LUSOF.AFRO-BRASILEIRA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO PIAUI',
       'FUNDACAO UNIVERSIDADE FEDERAL DO AMAPA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO ACRE',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MAT.G.DO SUL',
       'FUNDACAO UNIVERSIDADE DO MARANHAO',
       'INST.FED. FLUMINENSE/CAMPUS CAMPOS-CENTRO',
       'SECRETARIA DE PORTOS/PR', 'FUNDO NACIONAL DE AVIACAO CIVIL',
       'VALEC ENGENHARIA CONSTRUCOES E FERROVIAS S/A.',
       'AGENCIA NACIONAL DE AVIACAO CIVIL',
       'DEPART.NAC.INFRA ESTRUTURA TRANSPORTES.',
       'FUNDO NACIONAL DE SEG. E EDUCACAO DE TRANSITO',
       'COMPANHIA DOCAS DO ESTADO DE SAO PAULO',
       'COMPANHIA DOCAS DO RIO DE JANEIRO',
       'COMPANHIA DOCAS DO ESPIRITO SANTO', 'COMPANHIA DOCAS DO PARA',
       'COMPANHIA DOCA DO RIO GRANDE DO NORTE',
       'COMPANHIA DOCAS DO CEARA', 'COMPANHIA DOCAS DO ESTADO DA BAHIA',
       'AGENCIA NACIONAL DE TRANSPORTES TERRESTRES',
       'FUNDO DA MARINHA MERCANTE',
       'SUBSECRETARIA DE PLAN.,ORCAM.E ADMIN.SETORIAL',
       'SECRETARIA DE AVIACAO CIVIL/PR',
       'AGENCIA NACIONAL DE TRANSPORTES AQUAVIARIOS',
       'EMPRESA DE PLANEJAMENTO E LOGISTICA S.A - EPL',
       'DEPARTAMENTO NAC. ESTRADAS E RODAGEM-EXTINCAO',
       'DEPEN - DIRETORIA EXECUTIVA', 'FUNDO NACIONAL ANTIDROGAS',
       'FUNDO NACIONAL DE SEGURANCA PUBLICA - FNSP',
       'FUNDACAO NACIONAL DO INDIO - U.O.',
       'FUNDO DE DEFESA DOS DIREITOS DIFUSOS',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS-MJ',
       'COORDENACAO DE ORCAMENTO FINANCAS CONTABILIDA',
       'RENDA DO PATRIMONIO INDIGENA',
       'DEPTO.DE POLICIA RODOVIARIA FEDERAL',
       'CONSELHO ADMINISTRATIVO DE DEFESA ECONOMICA',
       'SECRETARIA DE POLITICAS PARA AS MULHERES',
       'SECRETARIA EXECUTIVA-MPA',
       'COORDENACAO-GERAL DE ORC. FIN.E CONTABILIDADE',
       'AGENCIA NACIONAL DE VIGILANCIA SANITARIA',
       'FUNDACAO OSWALDO CRUZ', 'SPO-COORD.-GERAL DE ORC.E FINANCAS/MS',
       'FUNDACAO NACIONAL DE SAUDE - DF',
       'HOSPITAL NOSSA SENHORA DA CONCEICAO S/A',
       'AGENCIA NACIONAL DE SAUDE SUPLEMENTAR',
       'FUNDACAO NACIONAL DE SAUDE - PB',
       'FUNDACAO NACIONAL DE SAUDE - PA',
       'FUNDACAO NACIONAL DE SAUDE - ES',
       'FUNDACAO NACIONAL DE SAUDE - AP',
       'FUNDACAO NACIONAL DE SAUDE - MT',
       'EMPRESA BRASIL DE COMUNICACAO S.A',
       'FUNDO P/O DESENV.TECNOL.DAS TELECOMUNICACOES',
       'FUNDO DE UNIVERS.DOS SERV.TELECOMUNICACOES',
       'AGENCIA NACIONAL DE TELECOMUNICACOES-SEDE',
       'COORDENACAO-GERAL DE RECURSOS LOGISTICOS',
       'FUNDO NACIONAL DO IDOSO',
       'FUNDO NACIONAL PARA A CRIANCA E O ADOLESCENTE',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS-MRE',
       'FUNDACAO ALEXANDRE DE GUSMAO',
       'COORD.GERAL DE ORCAM.E FIN./M.M.E',
       'AGENCIA NACIONAL DE ENERGIA ELETRICA',
       'AG. NAC.DO PETROLEO GAS NAT.E BIOCOM',
       'DEPARTAMENTO NAC. DE PRODUCAO MINERAL - SEDE',
       'COMPANHIA DE PESQUISA DE RECURSOS MINERAIS',
       'INDUSTRIAS NUCLEARES DO BRASIL S/A - INB',
       'NUCLEBRAS EQUIPAMENTOS PESADOS S/A-NUCLEP',
       'EMPRESA DE PESQUISA ENERGETICA',
       'SUBSEC. DE PLANEJ., ORCAMENTO E ADMINISTRACAO',
       'SUPERINTEND. DO DESENVOLVIMENTO DA AMAZONIA',
       'SECRETARIA EXECUTIVA - MINISTERIO DAS CIDADES',
       'SUPERINT. DO DESENVOLVIMENTO DO CENTRO-OESTE',
       'FUNDO CONSTITUCIONAL DE FINANCIAM.DO NORDESTE',
       'ORCAMENTO E FINANCAS/MDR', 'COORDENACAO DE ORCAMENTO E FINANCAS.',
       'FUNDO CONSTITUCIONAL FINANCIAMENTO NORTE',
       'CIA DE DES.DOS VALES DO S.FRANC.E DO PARNAIBA',
       'SUPERINTENDENCIA DO DESENVOLV. DO NORDESTE',
       'FUNDO CONSTITUCIONL DO CENTRO OESTE',
       'DEPARTAMENTO NAC. DE OBRAS CONTRA AS SECAS/UO',
       'FUNDO NACIONAL DE HABIT. DE INTERESSE SOCIAL',
       'EMPRESA DE TRENS URBANOS DE PORTO ALEGRE S/A',
       'CIA BRASILEIRA DE TRENS URBANOS-ADM.CENTRAL',
       'FUNDO DE DESENVOLVIMENTO DA AMAZONIA',
       'FUNDO DE DESENVOLVIMENTO DO NORDESTE',
       'FUNDO DE DESENVOLVIMENTO DO CENTRO-OESTE',
       'AUTORIDADE PUBLICA OLIMPICA',
       'INST.CHICO MENDES DE CONSER.DA BIODIVERSIDADE',
       'SETORIAL ORCAMENTARIA E FINANCEIRA DO FNMC',
       'SUBSECRET.PLANEJAM.ORCAM.E ADMINIST±SPOA(MMA)',
       'SETORIAL ORCAMENTARIA E FINANCEIRA DO FNMA',
       'IBAMA - INST.BRASILEIRO MEIO AMBIENTE/MATRIZ',
       'COORD. DE PLAN. ORCAMENTO E FIN./COPLAN/JBRJ',
       'COMPANHIA DE DESENVOLVIMENTO DE BARCARENA',
       'IBAMA - SUPERINTENDENCIA DO ESPIRITO SANTO/ES',
       'COORD-GERAL DE ORCAM., FIN. E CONTABILIDADE',
       'FUNDACAO CULTURAL PALMARES',
       'COORD.GERAL DE PLAN. ORC. FIN. E CONTAB/FNC',
       'INSTITUTO BRASILEIRO DE MUSEUS - IBRAM',
       'FUNDACAO BIBLIOTECA NACIONAL',
       'INSTITUTO DO PATRIMONIO HIST. E ART. NACIONAL',
       'CGOFC - SETORIAL/MTUR', 'FUNDACAO CASA DE RUI BARBOSA',
       'INSTITUTO BRASILEIRO DE TURISMO - EM EXTINCAO',
       'FUNDACAO NACIONAL DE ARTES', 'FUNDO GERAL DE TURISMO-FUNGETUR',
       'AGENCIA NACIONAL DO CINEMA',
       'INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI',
       'SECRETARIA DE POLIT. DE PROM.DA IGUALD.RACIAL',
       'SECRETARIA DE ADMINISTRACAO-SET.ORC.E FIN./PR',
       'SECRETARIA DA MICRO E PEQUENA EMPRESA',
       'SECRETARIA DE DIREITOS HUMANOS/PR',
       'FUNDO DE IMPRENSA NACIONAL/EXEC.ORC.FINANC.',
       'SECRETARIA DE ASSUNTOS ESTRATEGICOS-SAE/PR',
       'GABINETE DA VICE-PRESIDENCIA DA REPUBLICA'], dtype=object)

Los 10 NOMBRE_UNIDAD_GESTORA que MAS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_UNIDAD_GESTORA
SETORIAL ORCAMENTARIA E FINANCEIRA / ME          385                 8.51
COORDENACAO DE ORCAMENTO E FINANCAS DO FRGPS     106                 2.34
SUBSECRETARIA DE PLANEJ. E ORCAMENTO SPO(MEC)    101                 2.23
SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB       63                 1.39
FUNDO CONSTITUCIONL DO CENTRO OESTE               54                 1.19
FUNDO CONSTITUCIONAL FINANCIAMENTO NORTE          54                 1.19
FUNDO CONSTITUCIONAL DE FINANCIAM.DO NORDESTE     54                 1.19
DIRETORIA DE FINANCAS-SISTEMA PARA O PAIS/MM      51                 1.13
COORD.GERAL DE PLAN. ORC. FIN. E CONTAB/FNC       50                 1.11
EMBRAPA-SETORIAL                                  48                 1.06

Los 10 NOMBRE_UNIDAD_GESTORA que MENOS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_UNIDAD_GESTORA
FUNDACAO NACIONAL DE SAUDE - PA                    1                 0.02
FUNDACAO NACIONAL DE SAUDE - MT                    1                 0.02
FUNDACAO NACIONAL DE SAUDE - PB                    1                 0.02
MAER - DIFERENCA CAMBIAL                           1                 0.02
MARINHA - DIFERENCA CAMBIAL                        1                 0.02
EMPRESA BRASILEIRA DE CORREIOS E TELEGRAFOS        1                 0.02
CONSELHO NAC DE DESENV CIENT E TECNOLOGICO         1                 0.02
CNPQ - DIFERENCIA CAMBIAL                          1                 0.02
IBAMA - SUPERINTENDENCIA DO ESPIRITO SANTO/ES      1                 0.02
COMPANHIA DE DESENVOLVIMENTO DE BARCARENA          1                 0.02

 Las distribución de las repeticiones de los NOMBRE_UNIDAD_GESTORA son:

       count  % repetición
count
1         24          8.33
15        16          5.56
8         16          5.56
9         15          5.21
10        14          4.86
16        14          4.86
12        13          4.51
14        13          4.51
4         13          4.51
13        11          3.82
11        11          3.82
5         10          3.47
3         10          3.47
21         9          3.12
18         8          2.78
20         8          2.78
6          8          2.78
7          8          2.78
24         7          2.43
17         6          2.08
2          6          2.08
27         5          1.74
29         5          1.74
23         5          1.74
19         5          1.74
26         3          1.04
54         3          1.04
33         3          1.04
30         2          0.69
43         2          0.69
31         2          0.69
35         1          0.35
51         1          0.35
106        1          0.35
101        1          0.35
63         1          0.35
385        1          0.35
36         1          0.35
50         1          0.35
48         1          0.35
22         1          0.35
32         1          0.35
28         1          0.35
25         1          0.35

None
La categoría CATEGORÍA_ECONÓMICA tiene 4 elementos diferentes:

Los elementos de la categoría son:

array(['Receitas Correntes', 'Receitas Correntes - intra-orçamentárias',
       'Receitas de Capital', 'Receitas de Capital - intra-orçamentárias'],
      dtype=object)

Los 10 CATEGORÍA_ECONÓMICA que MAS aparecen son:

                                           count  Porcentaje_recuento
CATEGORÍA_ECONÓMICA
Receitas Correntes                          4088                90.38
Receitas de Capital                          222                 4.91
Receitas Correntes - intra-orçamentárias     212                 4.69
Receitas de Capital - intra-orçamentárias      1                 0.02

Los 10 CATEGORÍA_ECONÓMICA que MENOS aparecen son:

                                           count  Porcentaje_recuento
CATEGORÍA_ECONÓMICA
Receitas Correntes                          4088                90.38
Receitas de Capital                          222                 4.91
Receitas Correntes - intra-orçamentárias     212                 4.69
Receitas de Capital - intra-orçamentárias      1                 0.02

 Las distribución de las repeticiones de los CATEGORÍA_ECONÓMICA son:

       count  % repetición
count
4088       1         25.00
222        1         25.00
212        1         25.00
1          1         25.00

None
La categoría ORIGEN_INGRESO tiene 14 elementos diferentes:

Los elementos de la categoría son:

array(['Outras Receitas Correntes', 'Receita de Serviços',
       'Impostos, Taxas e Contribuições de Melhoria',
       'Transferências Correntes', 'Receita Patrimonial',
       'Receita Agropecuária', 'Transferências de Capital',
       'Amortizações de Empréstimos', 'Alienação de Bens',
       'Contribuições', 'Outras Receitas de Capital',
       'Receita Industrial', 'Operações de Crédito',
       'Receitas Correntes - a classificar'], dtype=object)

Los 10 ORIGEN_INGRESO que MAS aparecen son:

                                             count  Porcentaje_recuento
ORIGEN_INGRESO
Outras Receitas Correntes                     2076                45.90
Receita de Serviços                            939                20.76
Receita Patrimonial                            608                13.44
Contribuições                                  196                 4.33
Impostos, Taxas e Contribuições de Melhoria    194                 4.29
Alienação de Bens                              142                 3.14
Transferências Correntes                       124                 2.74
Receita Agropecuária                           102                 2.26
Receita Industrial                              45                 0.99
Operações de Crédito                            36                 0.80

Los 10 ORIGEN_INGRESO que MENOS aparecen son:

                                             count  Porcentaje_recuento
ORIGEN_INGRESO
Impostos, Taxas e Contribuições de Melhoria    194                 4.29
Alienação de Bens                              142                 3.14
Transferências Correntes                       124                 2.74
Receita Agropecuária                           102                 2.26
Receita Industrial                              45                 0.99
Operações de Crédito                            36                 0.80
Amortizações de Empréstimos                     23                 0.51
Receitas Correntes - a classificar              16                 0.35
Transferências de Capital                       15                 0.33
Outras Receitas de Capital                       7                 0.15

 Las distribución de las repeticiones de los ORIGEN_INGRESO son:

       count  % repetición
count
2076       1          7.14
939        1          7.14
608        1          7.14
196        1          7.14
194        1          7.14
142        1          7.14
124        1          7.14
102        1          7.14
45         1          7.14
36         1          7.14
23         1          7.14
16         1          7.14
15         1          7.14
7          1          7.14

None
La categoría TIPO_INGRESO tiene 41 elementos diferentes:

Los elementos de la categoría son:

array(['Demais receitas correntes', 'Receita de Serviços',
       'Indenizações, restituições e ressarcimentos',
       'Multas administrativas, contratuais e judicia',
       'Bens, Direitos e Valores Incorporados ao Patr', 'Taxas',
       'Transferências de Instituições Privadas',
       'Exploração do patrimônio imobiliário do Estad',
       'Outras receitas agropecuárias',
       'Transferências de Pessoas Físicas',
       'Delegação de Serviços Públicos Mediante Conce',
       'Receita da produção vegetal', 'Transferências de Convênios',
       'Amortizações de Empréstimos', 'Alienação de bens imóveis',
       'Alienação de bens móveis', 'Valores Mobiliários',
       'Contribuições econômicas',
       'Receita da produção animal e derivados',
       'Receita dívida ativa alienação de estoques de',
       'Contribuições sociais',
       'Transferências dos Municípios e de suas Entid',
       'Receita dívida ativa proveniente de amortizaç',
       'Receitas da indústria de transformação',
       'Operações de crédito - mercado interno',
       'Indenizações e restituições', 'Exploração de recursos naturais',
       'Receitas Correntes - a classificar',
       'Demais receitas patrimoniais',
       'Receita de concessões e permissões',
       'Transferências de Outras Instituições Pública',
       'Cessão de direitos', 'Operações de crédito - mercado externo',
       'Impostos', 'Resultado do Banco Central do Brasil',
       'Receitas de valores mobiliários',
       'Receitas decorrentes de aportes periódicos pa',
       'Remuneração das Disponibilidades do Tesouro N',
       'Receita títulos do tesouro nacional resgatado',
       'Transferências do Exterior',
       'Transferências dos Estados e do Distrito Fede'], dtype=object)

Los 10 TIPO_INGRESO que MAS aparecen son:

                                               count  Porcentaje_recuento
TIPO_INGRESO
Multas administrativas, contratuais e judicia    962                21.27
Receita de Serviços                              939                20.76
Indenizações, restituições e ressarcimentos      682                15.08
Exploração do patrimônio imobiliário do Estad    288                 6.37
Demais receitas correntes                        229                 5.06
Bens, Direitos e Valores Incorporados ao Patr    180                 3.98
Valores Mobiliários                              168                 3.71
Impostos                                         143                 3.16
Contribuições sociais                            135                 2.98
Alienação de bens móveis                         119                 2.63

Los 10 TIPO_INGRESO que MENOS aparecen son:

                                               count  Porcentaje_recuento
TIPO_INGRESO
Transferências dos Estados e do Distrito Fede      5                 0.11
Transferências de Outras Instituições Pública      4                 0.09
Receitas de valores mobiliários                    4                 0.09
Receita dívida ativa proveniente de amortizaç      2                 0.04
Resultado do Banco Central do Brasil               2                 0.04
Receita dívida ativa alienação de estoques de      1                 0.02
Receitas decorrentes de aportes periódicos pa      1                 0.02
Remuneração das Disponibilidades do Tesouro N      1                 0.02
Receita títulos do tesouro nacional resgatado      1                 0.02
Transferências do Exterior                         1                 0.02

 Las distribución de las repeticiones de los TIPO_INGRESO son:

       count  % repetición
count
1          5         12.20
4          2          4.88
7          2          4.88
22         2          4.88
16         2          4.88
23         2          4.88
2          2          4.88
143        1          2.44
962        1          2.44
939        1          2.44
682        1          2.44
288        1          2.44
229        1          2.44
180        1          2.44
168        1          2.44
51         1          2.44
53         1          2.44
60         1          2.44
61         1          2.44
88         1          2.44
119        1          2.44
135        1          2.44
48         1          2.44
20         1          2.44
21         1          2.44
46         1          2.44
45         1          2.44
6          1          2.44
8          1          2.44
13         1          2.44
5          1          2.44

None
La categoría DETALLE tiene 707 elementos diferentes:

Los elementos de la categoría son:

array(['RECEITA DE HONORARIOS DE ADVOGADOS',
       'TAR.INSCR.CONCURSOS E PROCESSOS SELETIVOS',
       'RECEITA DE ONUS DE SUCUMBENCIA', 'OUTRAS RESTITUICOES',
       'OUTRAS MULTAS E JUROS DE MORA',
       'REC.DIV.ATIVA POR INFRACAO ADMINISTRATIVA',
       'RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES', 'OUTRAS RECEITAS',
       'MULTAS ADMINISTRATIVAS POR DANOS AMBIENTAIS',
       'OUTRAS INDENIZACOES', 'MULTAS E JUROS PREVISTOS EM CONTRATOS',
       'REC.DIVIDA ATIVA NAO TRIBUTARIA DE OUTRAS REC', 'OUTRAS MULTAS',
       'TAXA DE CONTROLE E FISCALIZACAO AMBIENTAL',
       'RESTITUICOES DE CONVENIOS - PRIMARIAS',
       'TRANSFERENCIAS DO EXTERIOR',
       'INDENIZ. POR  DANOS CAUSADOS AO PATR. PUBLICO',
       'SERVICOS ADMINISTRATIVOS', 'OUTROS SERVICOS FINANCEIROS',
       'TAXA DE OCUPACAO DE OUTROS IMOVEIS',
       'OUTRAS RECEITAS AGROPECUARIAS',
       'CERTIFICACAO DE PRODUTOS E SERVICOS',
       'MULTAS E JUROS DE MORA DE ARRENDAMENTOS',
       'SERVICOS DE TRANSFERENCIA DE TECNOLOGIA',
       'MULTAS S/ FISCALIZACAO REDE DE PROD.ORGANICA',
       'SERV.DE COM.LIVROS PERIOD.MAT.ESC.E PUBLICID.',
       'TRANSF.DE CONVENIOS DE INSTITUICOES PRIVADAS',
       'SERVICOS DE ARMAZENAGEM', 'SERVICOS AGROPECUARIOS',
       'REC. CONCESS. FLOREST. NACION. - DEMAIS VALOR',
       'RECEITA DA PRODUCAO VEGETAL',
       'TRANSF.DOS ESTADOS DF E SUAS ENTIDADES',
       'REC.DIV.ATIVA RESSARCIMENTO AO ERARIO',
       'OUTROS RECEITAS DE SERVICOS',
       'AMORTIZACOES DE EMPRESTIMOS DIVERSOS',
       'SERVICOS DE COMERC. E DISTRIB. PROD. AGROPEC.',
       'REC. CUSTOS DE EDITAL DE CONCESSAO FLORESTAL',
       'ALIENACAO DE IMOVEIS URBANOS', 'ALIENACAO DE OUTROS BENS MOVEIS',
       'PARCELAMENTOS - DIV ATIV NAO TRIB OUTRAS REC',
       'ALIENACAO DE MOVEIS E UTENSILIOS',
       'MULTAS E JUROS DE MORA DE TAXAS DE OCUPACAO',
       'RECEITA DIVIDA ATIVA DE OUTRAS CONTRIBUICOES',
       'SERVICOS DE HOSPEDAGEM E ALIMENTACAO',
       'MULTAS E JUROS DE MORA  OUTRAS CONTRIBUICOES',
       'SERVICOS DE TECNOLOGIA', 'REMUNERACAO DE DEPOSITOS BANCARIOS',
       'ALUGUEIS', 'TRANSFERENCIAS CONVENIOS DA UNIAO E ENTIDADES',
       'ALIENACAO IMOV.RURAIS P/ COLON. E REF.AGRARIA',
       'SERV.CONS,ASS.TEC.E AN.PROJ-APLICACOES LIVRES',
       'SERVICOS DE ESTUDOS E PESQUISAS', 'MULTAS POR AUTOS DE INFRACAO',
       'TAXAS DE SERVICOS CADASTRAIS', 'ALIENACAO DE IMOVEIS RURAIS',
       'SERVICOS DE METEOROLOGIA',
       'MUL.JUR.MORA CONT. S/ APOSTA COMPET. HIPICAS',
       'CONTRIBUICAO S/ APOSTAS EM COMPET. HIPICAS',
       'RECEITA DA PRODUCAO ANIMAL E DERIVADOS',
       'MULTAS E JUROS DE MORA DE ALUGUEIS', 'ARRENDAMENTOS',
       'TAXA DE OCUPACAO DE TERRENOS DA UNIAO',
       'REC.SEGUROS DECOR. INDENIZACAO POR SINISTRO',
       'RECEITA DIV ATIVA ALIENACAO ESTOQUES DE CAFE',
       'ALIENACAO DE ANIMAIS REPRODUTORES E MATRIZES',
       'MULTA E JURO DE MORA DIV.ATIV.OUTRAS CONTRIB.',
       'TAXA DE CLASSIFICACAO DE PRODUTOS VEGETAIS',
       'TRANSFER. CONVENIOS DE INSTITUICOES PRIVADAS',
       'JUROS DE TITULOS DE RENDA',
       'ALIENACAO DE ESTOQUES REGULADORES - PGPM',
       'ADICIONAL A CONTRIBUICAO PREVIDENCIARIA',
       'MUL.APLIC.PELOS TRIBUNAIS DE CONTAS',
       'REC.DIV.AT. CONTR. S/ APOSTA EM COMP. HIPICAS',
       'TRANSFERENCIAS DE INSTITUICOES PRIVADAS',
       'CONTRIBUICAO INDUSTRIAL RURAL',
       'REC. DE LEILOES DE MERCADORIAS APREENDIDAS',
       'REC.DIV.ATIVA PROV.DE AMORTIZ.EMPREST.FINANC.',
       'ALIENACAO DE ESTOQUES PROPRIOS DO FUNCAFE', 'DIVIDENDOS',
       'ALIENACAO DE EQUIPAMENTOS',
       'REC. CONCESS. FLORESTAS NACIONAIS - VALOR MIN',
       'RECEITA DA INDUSTRIA DE BEBIDAS E DESTILADOS',
       'REVERSAO DE GARANTIAS EM FAVOR DA UNIAO',
       'AMORTIZACOES DE PROJETOS', 'TITULOS DA DIVIDA AGRARIA - TDA',
       'INFORMACAO TECNOLOGICA',
       'REC.DIV.ATIVA RESSARC.ERARIO-DECISAO TCU',
       'AMORTIZACOES DE CONTRATOS', 'OUTRAS RECEITAS EVENTUAIS',
       'ALIENACAO DE VEICULOS',
       'PARCEL-OUTRAS MULTA/J DE MORA DIV AT OUT REC',
       'JUROS DE EMPRESTIMOS',
       'SERVICO DE INFORMACOES CIENTIFICAS E TECNOLOG',
       'CONTRIBUICAO S/RECEITA LOTERIAS DE NUMEROS',
       'PROVENIENTES DE DEPOSITOS NAO IDENTIFICADOS',
       'PROVENIENTES DE PESSOAS FISICAS',
       'REMUNERACAO DE SALDOS NAO DESEMBOLSADOS',
       'SERVICOS RADIOLOGICOS E LABORATORIAIS',
       'CONTRIBUICAO S/RECEITA LOTERIA ESPORTIVA',
       'MULT. JUROS MORA REC.DECORR. BENS APREENDIDOS',
       'CONTR.S/REC.CONC.PROG.DEST.PRAT.DESP-MOD.FUTE',
       'PROVENIENTES DE PESSOAS JURIDICAS',
       'ALIENACAO ESTOQUES ADQUIR. AGRICUL. FAMILIAR',
       'CONTRIBUICAO S/RECEITA DA LOTERIAL FEDERAL',
       'SERV.COMERCIAIS DE PROD.DADOS E MAT.INFORMATI',
       'RECEITA DA INDUST. DE PRODUTOS FARMACEUTICOS',
       'CONTRIBUICAO P/ LIC.USO,AQUIS.OU TRANSF.TECN.',
       'UTIL.RECURSO HIDRICOS - DEMAIS EMPRESAS',
       'MULT.J.MORA REC. EXPLORACAO RECURSOS MINERAIS',
       'REC. OUTORG. DIREITO DE USO RADIODIFREQUENCIA',
       'EXPLORACAO DE RECURSOS MINERAIS',
       'MUL.JUR.MORA CONT.REC.CONCES.ENERGIA ELETRICA',
       'RECEITA DA INDUSTRIA ELETRONICA',
       'CONTR.-EMP.INSTALADAS NA AMAZONIA - RESIDUAL',
       'OUTRAS MULT.JUR.MORA DIV.ATIV.OUTR.RECEITAS',
       'RECEITA DIV.ATIV DA OUTORGA DIREITO USO RADIO',
       'RECEITAS CORRENTES A CLASSIFICAR',
       'UTIL.RECURSO HIDRICOS - ITAIPU',
       'RECEITA DA INDUSTRIA DE PROD. FARMOQUIMICOS',
       'CONTRIBUICAO S/REC.CONCESS.PERMISS.ENERG.ELET',
       'MULT.JUR.MOR OUTORGA DIR USO RADIOFREQUENCIA',
       'SERVICOS RECREATIVOS E CULTURAIS',
       'RECEITA DA INDUSTRIA DE PROD.FARMOQUIMICOS',
       'TX.LIC.,CONTR, FISC.MAT NUC.RADIOATIVO INSTAL',
       'REC.DIV.AT. COTA-PARTE AD.FR.P/REN MAR. MERC.',
       'CONTR-EMP.INSTALADAS DEMAIS REGIOES-EXCEDENTE',
       'CONTR-EMP.INSTALADAS DEMAIS REGIOES-RESIDUAL',
       'METROLOGIA CIENTIFICA E INDUSTRIAL', 'EMPRESTIMOS COMPULSORIOS',
       'MULT.JUR MOR DA CONTRIB S/REC OP BRT SERV TEL',
       'CONTR-EMP.INSTAL.DEMAIS REGIOES-PARCELAMENTO',
       'SERVICOS DE REMUNERACAO REP. PROG.DES.ECONOM.',
       'CON. S/REC.OPER.BRUTA EMPR.PREST.SERV.TELECOM',
       'OUTORG DIREITO EXPLORACAO SATELITE BRASILEIRO',
       'CONTR-EMP.INSTALADAS DEMAIS REGIOES-PRINCIPAL',
       'CONTR.-EMP.INSTALADAS NA AMAZONIA - PRINCIPAL',
       'OUTRAS RECEITAS PATRIMONIAIS',
       'CONTR.-EMP.INSTALADAS NA AMAZONIA - EXCEDENTE',
       'CONTR-EMP.INSTALADAS NA AMAZONIA-PARCELAMENTO',
       'MULT.J.MORA DIV.AT.COTA ADIC.FR.MARINHA MERC.',
       'REC.DIVIDA ATIVA EXPLORACAO RECURSOS MINERAIS',
       'COTA-PARTE ADIC.FRETE P/ RENOV.MARIN.MERCANTE',
       'MULTAS E JUROS DE MORA DE PARCELAMENTO',
       'EMOLUMENTOS E CUSTAS JUDICIAIS',
       'TRANSF.DE CONV.DOS MUNICIPIOS E S/ENTIDADES',
       'TRANSFERENCIAS DE PESSOAS', 'RECEITA DA INDUSTRIA MECANICA',
       'TAXA DE FISCALIZACAO PROD.CONTR.MIN.EXERCITO',
       'SERVICOS HOSPITALARES',
       'ADICIONAL S/ TARIFA USO COM E AUX NAVEG AEREA',
       'TARIFA DE UTILIZACAO DE FAROIS',
       'SERVICOS DE TRANSPORTE HIDROVIARIO',
       'CONTRIB.PARA CUSTEIO DAS PENSOES MILITARES',
       'ROYALTIES - PROPRIEDADE INTELECTUAL',
       'SERV.FINANC.DE COMPENS.DE VARIACOES SALARIAIS',
       'SERV ASSIST SAUDE SUPLEMENTAR SERVIDOR CIVIL',
       'CONTRIBUICAO PARA DESENV.ENS.PROFIS.MARITIMO',
       'TARIF USO COMUN E AUX.NAVEGACAO AEREA EM ROTA',
       'OUTROS SERV.REGIST.MARCAS,PATENTES,TRANSF.TEC',
       'SERVICOS DE TRANSPORTE AEREO',
       'RECEITA CESSAO DIR.OPERACIONALIZACAO FOPAG',
       'RECEITA DE COMERCIALIZACAO DE FARDAMENTOS',
       'SERVICO DE REPARACAO, MANUTENCAO E INSTALACAO',
       'MULTAS DO REGULAMENTO  P/  O TRAFEGO MARITIMO',
       'AMORTIZACOES DE BENS',
       'SERVICOS DE REPARACAO,MANUTENCAO E INSTALACAO',
       'MULTAS E JUROS DE MORA TAXA FISC. PROD. MEX',
       'OUTROS SERVICOS COMERCIAIS',
       'TRANSF.CONV.DOS MUNICIPIOS E SUAS ENTIDADEDES',
       'MULTAS PREVISTAS NA LEI DO SERVICO MILITAR',
       'OPERACOES DE CREDITOS EXTERNAS - CONTRATUAIS',
       'RECEITA DA INDUSTRIA QUIMICA',
       'SERVICOS DE COMERCIALIZACAO DE MEDICAMENTOS',
       'SERVICOS PORTUARIOS',
       'REC. CONCESS. DE DIREITO REAL USO AREA PUBLIC',
       'OUTRAS OPERACOES DE CREDITO EXTERNAS',
       'MULTAS PREVISTAS NO COD.BRAS. DE AERONAUTICA',
       'ALIENACAO DE EMBARCACOES', 'TAXA MILITAR',
       'OUTRAS RECEITAS DA INDUSTRIA DE TRANSFORMACAO',
       'SERVICOS DE PROCESSAMENTO DE DADOS',
       'TAXA OCUPACAO IMOVEIS FUN. PROP. NAC. RESID.',
       'TRANSF.DE CONVENIOS DA UNIAO DE S/ENTIDADES',
       'SERVICOS DE TRANSPORTE RODOVIARIO', 'TARIFA AEROPORTUARIA',
       'OPERACOES DE CREDITO INTERNAS - CONTRATUAIS',
       'SERVICOS EDUCACIONAIS',
       'TRANSF.DE CONV.DOS ESTADOS,DF E S/ENTIDADES',
       'COTA-PARTE DO SERV.NO FUNDO DE SAUDE MILITAR',
       'MUL.JUR.MORA TX FISC.MERC.TIT. E VAL. MOBILI.',
       'RECEITA DA DIVIDA ATIVA CIDE COMBUSTIVEL',
       'REC.MULTA/MORA CONTR SOCIAL S/LUCRO PJ', 'IPI - PRODUTOS DO FUMO',
       'RECEITA DE PARCELAMENTOS - DIV ATIVA DO IRPF',
       'MUL. PREVISTAS NA LEG.SEG.DESEMP.AB. SALAR.',
       'REMUNERACAO DE DEPOSITOS ESPECIAIS',
       'RESSARC PGTO DE HONORARIOS TECNICO-PERICIAIS',
       'MULTA E JUROS DE MORA DO ITR MUNICIPIOS CONVE',
       'PARCELAMENTOS - RECEITA DIV ATIV OUTROS TRIB',
       'RECEITA DE PARCELAMENTOS - IPI',
       'PESSOAS JURIDICAS - LIQUIDA DE INCENTIVOS',
       'SERVICOS DE PATENTES', 'CONTRIBUICAO SOBRE JOGOS DE BINGO',
       'REC DE PARC - MULTA/JUROS DE MORA DO IMP EXP',
       'REC.DIV.ATIVA CONT.PREV.SOBRE ESPETAC.ESPORT.',
       'OUTRAS RECEITAS DE BENS IMOVEIS',
       'RECEITA DE PARCELAMENTOS - IMPOSTO EXPORTACAO',
       'REC PARC - MULTA/JUROS DE MORA DIV ATIVA IRRF',
       'REC PARC - MULTA/JUROS DE MORA DIV ATIVA IRPF',
       'REC PARC - MULTA/JUROS MORA DIV ATIVA COFINS',
       'CONTRIBUICAO S/RECEITA LOTERIA INSTANTANEA',
       'CONTR.PREV.REG.PARCELAMENTO DE DEBITOS - RGPS',
       'RESTIT.PARC.SEGURO DESEMPREGO RECEB INDEVIDAM',
       'IOF - COMERCIALIZACAO DO OURO',
       'RECEITA DE SEGURO DE CREDITO AA EXPORTACAO',
       'TAXA FISCAL.MERC.SEG.CAP.PREVID.PRIV.ABERTA',
       'REC.DIVIDA ATIVA IOF - PRINCIPAL',
       'MULT.JUR MORA DA OUTORGA DOS SERV DE TELECOM',
       'OUTRAS RECEITAS CONC. PERM. - SERV. COMUNIC',
       'MULTAS/JUROS CONTR.SERVIDOR REGIME PROP.PREV',
       'REC DIREITOS ANTIDUMPING E DIREITOS COMPENSAT',
       'MULTA AUSENCIA DESC.FOLHA BENEF PAGOS INDEV.',
       'REC.DIV.ATIVA CONT.PREV.EMPR.S/SEG.ASSALARIAD',
       'MULTAS/J.MORA CONTR.PREV.S/ PRODUCAO RURAL',
       'CONTRIB. PATRONAL DE SERVIDOR AT.CIVIL - RPPS',
       'REC. DA DIVIDA ATIVA CONTRIB. P/PIS E PASEP',
       'REC.DIV.ATIVA MULTAS DECOR.SENTENCA.JUDICIAIS',
       'COTA-PARTE DA CONTRIBUICAO SINDICAL',
       'MULTAS JUR.MORA.DIV.ATIV.-AUTO DE INFRACAO',
       'CONTR.SERV.INAT.CIVIL - PAGTO SENT. JUDICIAIS',
       'TX UTIL. SISTEMA INT.COM.EXTER.-SISCOMEX',
       'RECLAMATORIA TRABALHISTA',
       'RECEITA DE PARCELAMENTOS - DIV ATIVA DO II',
       'REC DE PARC - MULTA E JUROS DE MORA IMP IMP',
       'ALIENACAO DE ESTOQUES ESTRATEGICOS - PGPM',
       'MULTAS/J.MORA CONTR.PREV. ORGAOS PODER PUBL.',
       'ALIEN. BENS IMOVEIS DE DOM DA UNIAO-DOM UTIL',
       'RETIDO NAS FONTES - OUTROS RENDIMENTOS',
       'REC.DIVIDA ATIVA COFINS - PRINCIPAL',
       'RECEITA DE PARCELAMENTOS - COFINS',
       'REC. MULTA E JUROS MORA IMP PROD IND - IPI',
       'MULTAS JUR.MORA DIV.AT.CONTR.PREV.SEG.OBR.EMP',
       'TIT. RESP. REFINAN. DIVIDA PUBLICA FEDERAL',
       'MULTAS PREVISTA NA LEGISLACAO  DE METROLOGIA',
       'ALIENACAO DE TITULOS MOBILIARIOS',
       'MULTAS/J.MORA CONTR.PREV.DO SEG. FACULTATIVO',
       'MULTAS/J.MORA CONTR.PREV. ENTIDADES FILANTR.',
       'MULTA E JUROS DE MORA - IRPJ',
       'CONTRIBUICAO DO SERVIDOR INATIVO CIVIL - RPPS',
       'CONTRIB.PREVID. DAS COOP.TRAB. DESC.COOPERADO',
       'RESULTADO DO BANCO CENTRAL-DEMAIS OPERACOES',
       'CONTR.DO SERV. ATIVO CIVIL P/ REGIME PROPRIO',
       'CONTRIB. PREV. SEGURADO OBRIG. -CONTR. INDIV.',
       'REC.COMPENS.FINANC.ENTRE RG/RPPS-PARCELAMENTO',
       'MUL.JUR.MORA TX FISC.MERC.SEG.CAPIT.PREV.ABER',
       'PRODUTO DEP.ABANDONADO(DINHEIRO/OBJETO VALOR)',
       'AMORTIZACAO DE EMPRESTIMOS-ESTADOS/MUNICIPIOS',
       'SERVICOS DE REMESSA DE DEPOSITOS OFICIAIS',
       'REC. MULTA E JUROS MORA IMPOSTO S/ IMPORTACAO',
       'CONTRIBUICAO PARA FOMENTO DA RADIODIFUSAO PUB',
       'CONCESSAO GARANTIA DA ATIVIDADE AGROPECUARIA',
       'RECEITA PARCELAMENTOS - DIVIDA ATIVA DO IRPJ',
       'CONTR.PREV.NA FORMA DE DEP.JUD.,REC. E CUSTAS',
       'METROLOGIA LEGAL',
       'MULTAS/J.MORA CONTR.PREV.SEG.OBRIGAT.C.INDIV.',
       'TIT. RESP. DO TES.NAC. - OUTRAS APLICACOES',
       'REC.DA DIV.AT.DAS MULTAS P/INFR.A LEG.TRAB.',
       'REC.COMPENS.FINANC.ENTRE O RG/RPPS-PRINCIPAL',
       'JUROS ALIEN.BENS IMOVEIS DOM.UNIAO',
       'ROY.EXCED.PROD.PETRO.COM.A PARTIR DE 3/12/12',
       'REC PARC - MULTA/JUROS DE MORA DIV ATIVA IPI',
       'REC.DIV.ATIVA CONT.PREV-RET. S/ N.F.- SUBROG.',
       'RECUPERACAO DE SINISTROS',
       'REC.MULTA/MORA DIV ATIVA IMP S/PROD INDUS-IPI',
       'INDENIZ. POSSE OU OCUPACAO ILIC. BENS UNIAO',
       'MULTAS JUR.MORA DIV.AT.CONTR.PREV.EMPR-SIMPLE',
       'MULTA E JUROS DE MORA DO ITR - MUNIC NAO CONV',
       'MULTAS J.MORA DIV.ATIVA-CONTR. S/ MOV. FINANC',
       'MULTAS/J.MORA CONTR.PREV.EMPRESA OPT. SIMPLES',
       'RECEITA DE OUTORGA DOS SERV. TRANSP. FERROV.',
       'REC DE PARC - MULTA E JUROS DE MORA DA COFINS',
       'CONTRIBUICAO PREVID. DO SEG.OBRIG.-EMP.DOMEST',
       'CONT. SERV. NAC. DE APRENDIZ. COOPER.-SESCOOP',
       'RECEITA DE PARCELAMENTOS - IOF',
       'REC.DO PRINCIPAL DAS CONTR. P/ O PIS/PASEP',
       'ROY.EXCED.PROD.PETRO.PLATA.COM.ANTES 3/12/12',
       'MULTAS E J. MORA DE OUTRAS CONTR. PREVIDENC.',
       'SERVICOS DE REGISTRO DE DESENHO INDUSTRIAL',
       'AMORT. REFINANC. - DIVIDAS E OP MEDIO E DE LP',
       'JUROS MORA DO FUNDAF - REC PARCELAMENTO CSLL',
       'MULTAS JUR.MORA DA CONTR. SOBRE OUT.CONC.PROG',
       'RECEITA DIVIDA ATIVA IMP. RENDA PESS.JURIDICA',
       'CONTRIBUICAO PREVID. DO SEGURADO FACULTATIVO',
       'REC DE PARC - MULTA/JUROS DE MORA PIS/PASEP', 'LAUDEMIOS',
       'REC. DO PRINCIPAL DO IMPOSTO S/ A EXPORTACAO',
       'REC DE PARC - MULTA E JUROS DE MORA DO IOF',
       'MULTAS/JUROS CONTR.PATRONAL REGIME PROP.PREV',
       'MULTA E JUROS DE MORA SIMPLES FED. E NAC-IRPJ',
       'MULTAS J.M.DIV.AT.CONTR.PREV-RET.N.F.-SUBROGA',
       'CONTRIB.PREV.-RET. S/NOTA FISCAL- SUBROGACAO',
       'MULTAS JUR.MORA DIV.AT.CONTR.PREV.SEG.ACI.TRA',
       'TX SIST.CONTR. ARREC.ADIC.FRETE REN.MAR.MERC.',
       'REC.DIV.ATIVA CONT.PREV. SEG.OBRIG.EMPR. DOM.',
       'RESSARC. ACOES REGRES. ORIUNDAS DA REL. TRAB.',
       'SERVICOS DE REGISTRO INDICACOES GEOGRAFICAS',
       'REC.DIVIDA ATIVA CPMF - PRINCIPAL',
       'MULTA E JUROS DE MORA - IRRF', 'RETIDO NAS FONTES - TRABALHO',
       'MULTAS/J.MORA CONTR.PREV.EMPRESA S/SEG.ASSAL.',
       'JUROS MORA DIVIDA ATIVA IRPJ SIMPLES NACIONAL',
       'JUROS MORA DO FUNDAF - REC PARC DIV ATIV CPMF',
       'REC.DIV.ATIV.S/REC.OP.BRT PRESTACAO SERV TELE',
       'ROYAL.MIN.PROD.PETRO EM TERRA - CONTR CONCESS',
       'REC.DIV.ATIVA CONT.PREV.- PARCELAMENTOS',
       'CONTRIBUICAO PARA O PIN',
       'MULTAS/J.MORA CONTR.PREV.P/SEG.ACIDENTE TRAB.',
       'REC. DA DIV.AT. MULT.COD.ELEIT. E LEIS CONEX.',
       'MUL.JU.MORA COTA-PARTE FRETE REN.MAR.MERCANTE',
       'REC PARC - MULTA/JUROS DE MORA DIV ATIVA CSLL',
       'ROYAL.EXCED.PROD.PETRO.TERRA QQ SITUACAO',
       'PARC - MULTAS/JUROS DE MORA OUTRAS CONTRIB',
       'PART.ESP.PROD.PETRO.PLATA.COM.ANTES 3/12/12',
       'SERVICO DE COMPENSACAO DE VARIACOES SALARIAIS',
       'MULTAS JUR. MORA DIV.ATIVA IR-RETIDO NA FONTE',
       'RECEITA DE PARCELAMENTOS - CSSL PJ',
       'ALIEN. BENS IMOVEIS DE DOM DA UNIAO-DOM DIRET',
       'MULTAS J.MORA DIV.ATIVA-CONTR. P/ PIS/PASEP',
       'JUROS MORA DO FUNDAF - REC PARCELAM PIS/PASEP',
       'JUROS MORA DO FUNDAF - CONTR. P/ PIS/PASEP',
       'CONTRIBUICAO DE PENSIONISTA CIVIL - RPPS',
       'MULTAS DIVIDA ATIVA IRPJ - SIMPLES NACIONAL',
       'MULTAS/J.MORA CONTR.PREV. RET.S/NF-SUBROGACAO',
       'MUL.JUR.MORA CONTR.S/REC.SORTEIOS ENT.FILANTR',
       'RECEITAS DECOR.APORTE PER.P/COMP.RGPS',
       'REC. DE ALIENACAO DE BENS APREENDIDOS',
       'MULTAS DIVIDA ATIVA DO IPI - SIMPLES NACIONAL',
       'REC.MULTA/MORA CONTR PIS/PASEP', 'IPI - VINCULADOS A IMPORTACAO',
       'RESTIT.BENEF.NAO DESEMB. - RECURSOS PROPRIOS',
       'SERVICOS DE REGISTRO DE MARCAS',
       'REC. DIV. ATIVA DA CSLL DAS PESSOAS JURIDICAS',
       'CONTRIB. DEBITOS / PARCELAMENTOS - MUNICIPIOS',
       'JUROS MORA DO FUNDAF - CONTR.SOC. S/LUCRO PJ',
       'MULTAS PREVISTAS LEGIS.DE REGISTRO COMERCIO',
       'BONUS DE ASSINATURA DE CONTRATO DE CONCESSAO',
       'MULT.JUR.MOR.S/MULTAS - LEI GERAL DAS TELECOM',
       'RECEITA DIV.ATIV OUTRAS REC CONCES/PERMISSAO',
       'ALIEN. BENS IMOVEIS DE DOM DA UNIAO-DOM PLENO',
       'REC. MULTA E JUROS MORA IMP EXPORTACAO',
       'RECEITA DIV.ATIV DA OUTORGA SERV RADIODIFUSAO',
       'MULT.J.MORA DIV.AT. MULTAS INFR.A LEG. TRAB.',
       'MULTAS/J.MORA CONTR.PREV. SEG.OBRIG.-EMPR.DOM',
       'MULT.J.MORA RESSARC.DE ACOES REGRES.REL.TRAB.',
       'CONTRIBUICAO PARA O PROTERRA',
       'SERVICOS DE REGISTRO PROGRAMA DE COMPUTADOR',
       'MULTAS E JUROS DE MORA DE DIVIDENDOS',
       'REC DE PARC - MULTA E JUROS DE MORA DO IPI',
       'PERMISSAO DE USO AREA DA UNIAO CURTA DURACAO',
       'MULTAS E JUROS DE MORA DE OUTROS TRIBUTOS',
       'REC.DIV.ATIVA CONT.PREV.EMPR.OPTANTE-SIMPLES',
       'MULT.JUR MORA DA OUTORGA DOS SERV DE RADIODIF',
       'METROLOGIA LEGAL E CERTIFICATORIA DELEGADA',
       'MULTAS/J.MORA CONTR.PREV.S/ ESPET. DESPORTIVO',
       'REC PARC - MULTA/JUROS DE MORA DIV ATIVA IRPJ',
       'MULTAS J.M.DIV.AT.DE OUTRA CONTRIB.PREVIDENC.',
       'CONTRIB. DE EMPRESAS S/SEGURADOS ASSALARIADOS',
       'MULTAS E JUROS DE MORA - IRPF',
       'REC.DIV.ATIVA OUTRAS CONTRIBUICOES PREVIDENC.',
       'REC DE PARC - MULTA/JUROS DE MORA IR FONTE',
       'CONTRIBUICAO PARA O SESC',
       'CONTR.PREV. EMPRESA S/ SEGURADO S/REC.BRUTA',
       'RESTITUICOES DE CONVENIOS',
       'REC.DIV.ATIVA CONT.PREV.-DEP.JUD,REC.E C.JUD.',
       'PART.ESPECIAL.PROD.PETRO.TERRA QQ SITUACAO',
       'REC  SUSPENSAO DE DIREITOS PROP. INTELECTUAL',
       'TIT.RESP.T.N.-REFINANC.DIVIDA PUBLICA FEDERAL',
       'MULTAS POR INFRACAO A LEGIS. TRABALHISTA',
       'RESTIT.BENEF. - ORIUNDOS ENC PREVID DA UNIAO',
       'MULTAS J.MORA DIV.ATIVA ITR-MUNIC.NAO CONVEN.',
       'TARIFA PELO USO DO SIST.DE TRANSF. RES. BACEN',
       'RECEITA DE PARCELAMENTOS - DIV ATIVA DO IOF',
       'CONTR.PATRONAL - PAGTO SENTENCAS JUDICIAIS',
       'CONTR. SOBRE REMUNERACAO DEVIDA AO TRABALH.',
       'REMUNERACAO DAS DISPONIBILIDADES TES.NACIONAL',
       'MULTAS JUR.MORA DIV.ATIVA CIDE - COMBUSTIVEL',
       'CONTR.SERV.ATIVO CIVIL-PAGTO SENT. JUDICIAIS',
       'IRPJ - SIMPLES FEDERAL E NACIONAL',
       'TITULOS TESOURO NACIONAL - OUTRAS APLICACOES',
       'RECEITA PARCELAMENTOS - DIV ATIV DO PIS/PASEP',
       'REC DE PARCELAMENTOS - DIV ATIVA DO IMP EXP', 'IPI - VEICULOS',
       'MULTAS E JUROS DE MORA DE FOROS',
       'RECEITA DE PARCELAMENTOS - DIV ATIVA DO IPI',
       'RECEITA DE PARCELAMENTOS - DIV ATIVA DA CPMF',
       'MULTAS JUR.MORA DIV.AT.CONTR.PREV.SEG.ESPECIA',
       'TX.FISCALIZ. E CONTR. DA PREV.COMPL - TAFIC',
       'REC.OUT.SERV.RADIODIFUSAO SONORA SONS IMAGENS',
       'CONTRIBUICAO PATRONAL DE SERVIDOR ATIVO CIVIL',
       'ALIENACAO DE ESTOQ. DEST. VENDA BALCAO - PGPM',
       'RETIDO NAS FONTES - REMESSA AO EXTERIOR',
       'CONTRIB. PREV. DAS ENTIDADES FILANTROPICAS',

Los 10 DETALLE que MAS aparecen son:

                                              count  Porcentaje_recuento
DETALLE
RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES    225                 4.97
SERVICOS ADMINISTRATIVOS                        203                 4.49
OUTRAS RESTITUICOES                             174                 3.85
OUTRAS RECEITAS                                 162                 3.58
OUTRAS MULTAS E JUROS DE MORA                   143                 3.16
MULTAS E JUROS PREVISTOS EM CONTRATOS           140                 3.10
OUTRAS MULTAS                                   136                 3.01
ALUGUEIS                                        133                 2.94
REMUNERACAO DE DEPOSITOS BANCARIOS              128                 2.83
TAR.INSCR.CONCURSOS E PROCESSOS SELETIVOS       128                 2.83

Los 10 DETALLE que MENOS aparecen son:

                                               count  Porcentaje_recuento
DETALLE
CONTR.PATRONAL - PAGTO SENTENCAS JUDICIAIS         1                 0.02
TARIFA PELO USO DO SIST.DE TRANSF. RES. BACEN      1                 0.02
RESTIT.BENEF. - ORIUNDOS ENC PREVID DA UNIAO       1                 0.02
MULTAS POR INFRACAO A LEGIS. TRABALHISTA           1                 0.02
REC  SUSPENSAO DE DIREITOS PROP. INTELECTUAL       1                 0.02
REC.DIV.ATIVA CONT.PREV.-DEP.JUD,REC.E C.JUD.      1                 0.02
CONTR.PREV. EMPRESA S/ SEGURADO S/REC.BRUTA        1                 0.02
CONTRIBUICAO PARA O SESC                           1                 0.02
REC.DIV.ATIVA OUTRAS CONTRIBUICOES PREVIDENC.      1                 0.02
REC.DEC.NAO APLIC.INC.FISC-LEI DO AUDIOVISUAL      1                 0.02

 Las distribución de las repeticiones de los DETALLE son:

       count  % repetición
count
1        332         46.96
2        135         19.09
3         52          7.36
5         48          6.79
4         40          5.66
6         22          3.11
10         7          0.99
11         6          0.85
7          5          0.71
9          5          0.71
8          4          0.57
21         3          0.42
23         3          0.42
17         3          0.42
13         3          0.42
18         2          0.28
22         2          0.28
31         2          0.28
12         2          0.28
16         2          0.28
20         2          0.28
36         2          0.28
128        2          0.28
203        1          0.14
162        1          0.14
174        1          0.14
225        1          0.14
143        1          0.14
136        1          0.14
140        1          0.14
64         1          0.14
88         1          0.14
89         1          0.14
102        1          0.14
112        1          0.14
133        1          0.14
34         1          0.14
42         1          0.14
62         1          0.14
25         1          0.14
52         1          0.14
58         1          0.14
48         1          0.14
46         1          0.14
45         1          0.14
14         1          0.14

None
La categoría VALOR_PREVISTO_ACTUALIZADO tiene 2648 elementos diferentes:

Los elementos de la categoría son:

array([0.0000000e+00, 6.3600000e+05, 3.1156000e+05, ..., 4.1985672e+07,
       8.3166569e+07, 2.0935347e+08])

Los 10 VALOR_PREVISTO_ACTUALIZADO que MAS aparecen son:

                            count  Porcentaje_recuento
VALOR_PREVISTO_ACTUALIZADO
0.00                         1785                39.46
100000.00                       3                 0.07
10000000.00                     3                 0.07
5000000.00                      3                 0.07
900000.00                       2                 0.04
180000.00                       2                 0.04
3159.00                         2                 0.04
230000.00                       2                 0.04
764810457.00                    2                 0.04
4179.00                         2                 0.04

Los 10 VALOR_PREVISTO_ACTUALIZADO que MENOS aparecen son:

                            count  Porcentaje_recuento
VALOR_PREVISTO_ACTUALIZADO
2191075.00                      1                 0.02
161564.00                       1                 0.02
893220.00                       1                 0.02
99494.00                        1                 0.02
14000000.00                     1                 0.02
48564.00                        1                 0.02
546001.00                       1                 0.02
1974975.00                      1                 0.02
155954.00                       1                 0.02
10000.00                        1                 0.02

 Las distribución de las repeticiones de los VALOR_PREVISTO_ACTUALIZADO son:

       count  % repetición
count
1       2559         96.64
2         85          3.21
3          3          0.11
1785       1          0.04

None
La categoría VALOR_REGISTRADO tiene 83 elementos diferentes:

Los elementos de la categoría son:

array([0.00000000e+00, 3.66572200e+04, 1.62505906e+09, 3.50698951e+09,
       3.52474793e+10, 3.28716859e+07, 3.05804012e+08, 3.76082566e+10,
       2.49022960e+05, 1.67200000e+01, 3.86123456e+08, 1.39327878e+10,
       1.12775400e+04, 4.46217100e+04, 1.73373276e+07, 2.24278206e+08,
       1.06266900e+07, 5.99946658e+08, 3.02090411e+07, 3.82644427e+09,
       9.80094658e+09, 3.17876000e+03, 4.37298084e+09, 1.64576858e+10,
       2.84995700e+08, 3.00519189e+09, 1.31112728e+09, 1.53391973e+10,
       8.55931000e+03, 4.61253089e+08, 1.59697009e+08, 1.39332266e+08,
       2.25500000e+01, 3.62878426e+09, 1.75318081e+09, 1.00427594e+09,
       1.67811651e+08, 1.08002954e+06, 1.87585199e+07, 1.66191611e+08,
       7.72230099e+08, 1.01788557e+08, 5.45549386e+09, 2.99515389e+10,
       1.35932921e+07, 8.81751081e+07, 3.64583552e+08, 1.14538088e+10,
       7.63232870e+08, 3.26934895e+09, 3.80607369e+07, 2.95359527e+07,
       1.24856385e+09, 1.91669533e+10, 5.42119371e+10, 5.98823147e+09,
       1.21379809e+09, 1.15264462e+08, 7.53123728e+07, 8.11838291e+08,
       1.53619347e+10, 2.38011600e+08, 9.60980082e+08, 6.24420447e+07,
       3.85561000e+03, 2.39351900e+04, 4.15068000e+04, 8.55990000e+02,
       1.98100900e+05, 1.59089350e+05, 1.68848700e+04, 4.92076000e+03,
       3.77186280e+05, 5.73156000e+03, 5.90288300e+04, 2.92707000e+03,
       6.03507160e+07, 1.27089750e+05, 5.91582000e+03, 1.68134349e+06,
       4.47716617e+07, 9.00000000e+02, 5.07434478e+06])

Los 10 VALOR_REGISTRADO que MAS aparecen son:

                  count  Porcentaje_recuento
VALOR_REGISTRADO
0.00               4441                98.19
36657.22              1                 0.02
1625059063.53         1                 0.02
3506989507.12         1                 0.02
35247479300.03        1                 0.02
32871685.87           1                 0.02
305804011.89          1                 0.02
37608256631.77        1                 0.02
249022.96             1                 0.02
16.72                 1                 0.02

Los 10 VALOR_REGISTRADO que MENOS aparecen son:

                  count  Porcentaje_recuento
VALOR_REGISTRADO
5731.56               1                 0.02
59028.83              1                 0.02
2927.07               1                 0.02
60350716.05           1                 0.02
127089.75             1                 0.02
5915.82               1                 0.02
1681343.49            1                 0.02
44771661.72           1                 0.02
900.00                1                 0.02
5074344.78            1                 0.02

 Las distribución de las repeticiones de los VALOR_REGISTRADO son:

       count  % repetición
count
1         82         98.80
4441       1          1.20

None
La categoría VALOR_REALIZADO tiene 3744 elementos diferentes:

Los elementos de la categoría son:

array([6.38298534e+07, 4.48696441e+06, 1.30604012e+07, ...,
       1.28210132e+08, 2.31663000e+03, 1.03960000e+02])

Los 10 VALOR_REALIZADO que MAS aparecen son:

                 count  Porcentaje_recuento
VALOR_REALIZADO
0.00               711                15.72
10.00                6                 0.13
1.00                 5                 0.11
40.00                4                 0.09
100.00               4                 0.09
2.00                 4                 0.09
500.00               4                 0.09
20.00                4                 0.09
450.00               3                 0.07
90.00                3                 0.07

Los 10 VALOR_REALIZADO que MENOS aparecen son:

                 count  Porcentaje_recuento
VALOR_REALIZADO
4085135.44           1                 0.02
2120665.41           1                 0.02
-63111.28            1                 0.02
11546322.86          1                 0.02
38959.87             1                 0.02
-609.37              1                 0.02
955512.29            1                 0.02
-51922.63            1                 0.02
5875.67              1                 0.02
362752970.43         1                 0.02

 Las distribución de las repeticiones de los VALOR_REALIZADO son:

       count  % repetición
count
1       3698         98.77
2         31          0.83
3          7          0.19
4          5          0.13
5          1          0.03
711        1          0.03
6          1          0.03

None
La categoría PORCENTAJE_REALIZADO tiene 457 elementos diferentes:

Los elementos de la categoría son:

array([ 0.00000e+00,  7.05000e+02,  8.40000e+01,  5.00000e+01,
        6.70000e+01,  3.00000e+00,  1.11000e+02,  4.40000e+01,
        1.22000e+02,  9.40000e+01,  1.45000e+02, -1.00000e+00,
        1.60000e+01,  1.87900e+03,  2.25000e+02,  7.10000e+01,
        3.70000e+01,  8.08000e+03,  1.70000e+01,  1.49000e+02,
        1.81000e+02,  1.07000e+02,  1.26000e+02,  3.30000e+02,
        2.80000e+01,  3.03000e+02,  6.60000e+01,  8.00000e+00,
        6.40000e+01,  1.75000e+02,  2.23000e+02,  4.50000e+01,
        1.63000e+02,  2.20000e+01,  1.55600e+03,  9.00000e+00,
        9.60000e+01,  5.30000e+01,  4.20000e+01,  4.00000e+00,
        5.10000e+01,  1.98000e+02,  2.29000e+02,  3.17000e+02,
        1.10000e+02,  4.00000e+01,  8.90000e+01,  1.93000e+02,
        1.16000e+02,  7.30000e+01,  2.10000e+01,  1.88200e+03,
        1.04000e+02,  5.99000e+02,  7.00000e+01,  1.30000e+01,
        4.42000e+02,  7.36000e+02,  8.70000e+01,  1.10000e+01,
        9.20000e+01,  8.10000e+01,  1.00000e+00,  1.20000e+02,
        2.40000e+01,  6.90000e+01,  2.16000e+02,  8.60000e+01,
        1.33000e+02,  8.50000e+01,  1.21000e+02,  9.80000e+01,
        3.01000e+02,  5.50000e+01,  7.20000e+01,  7.60000e+01,
        1.70000e+02,  6.52000e+02,  1.41000e+02,  1.24000e+02,
        6.80000e+01,  2.60000e+01,  6.50000e+01,  6.10000e+01,
        2.22000e+02,  1.56000e+02,  1.43000e+02,  1.28000e+02,
        1.50000e+02,  1.35000e+02,  1.12000e+02,  9.90000e+01,
        4.30000e+01,  2.00000e+00,  4.32000e+02,  1.32000e+02,
        4.57000e+02,  2.30000e+02,  2.00000e+02,  5.70000e+01,
        4.90000e+01,  8.36000e+02,  9.10000e+01,  2.13000e+02,
        1.55000e+02,  1.14000e+02,  1.83000e+02,  4.60000e+01,
        3.50000e+01,  5.00000e+00,  1.00903e+05,  6.00000e+00,
        1.00000e+02,  1.57000e+02,  1.13000e+02,  1.06000e+02,
        8.80000e+01,  9.30000e+01,  3.90000e+01,  6.00000e+01,
        6.27000e+02,  1.80000e+01,  1.90000e+01,  1.31000e+02,
        7.69000e+02,  1.15000e+02,  2.40000e+02,  6.30000e+01,
        1.01000e+02,  1.89000e+02,  3.10000e+01,  6.65000e+02,
        9.00000e+01,  1.02000e+02,  1.18000e+02,  1.50000e+01,
        1.46000e+02,  1.77000e+02,  1.62000e+02,  1.44000e+02,
        1.67000e+02,  1.39000e+02,  1.79000e+02,  5.90000e+01,
        7.40000e+01,  1.84000e+02,  8.30000e+01,  1.80000e+02,
        2.98000e+02,  2.65000e+02,  1.20000e+01,  3.34000e+02,
        1.09000e+02,  1.71000e+02,  1.29000e+02,  1.61000e+02,
        2.70000e+01,  7.50000e+01,  1.66000e+02,  1.17000e+02,
        7.00000e+00,  2.00000e+01,  9.50000e+01,  1.03000e+02,
        4.10000e+01,  8.20000e+01,  3.20000e+01,  1.99000e+02,
        4.69000e+02,  5.75000e+02,  1.08000e+02,  2.10000e+02,
        4.80000e+01,  4.68000e+02,  4.34000e+02,  5.80000e+01,
        5.69000e+02,  2.39000e+02,  2.59000e+02,  1.72000e+02,
        9.70000e+01,  1.05000e+02,  2.26000e+02,  2.52000e+02,
        5.63000e+02,  1.94000e+02,  2.50000e+01,  1.36000e+02,
        2.03000e+02,  3.30000e+01,  4.00000e+02,  2.55000e+02,
        6.73000e+02,  5.40000e+01,  1.47000e+02,  1.53000e+02,
        4.97000e+02,  5.61000e+02,  5.76000e+02,  3.84000e+02,
        2.21000e+02,  2.77000e+02,  1.88000e+02,  7.80000e+01,
        2.30000e+01,  4.39000e+02,  6.91000e+02,  2.09900e+03,
        3.60000e+01,  2.46000e+02,  2.22760e+04,  2.73700e+03,
        3.11000e+02,  1.74000e+02,  1.40000e+02,  2.99000e+02,
        2.33000e+02,  5.06000e+02,  4.89000e+02,  7.70000e+01,
        1.01500e+03,  1.15660e+04,  1.40000e+01,  2.07000e+02,
        1.52400e+03,  1.48000e+02,  7.44670e+04,  1.19000e+02,
        5.60000e+01,  2.88000e+02,  2.14000e+02,  4.63000e+02,
        3.49000e+02,  1.43500e+03,  5.57000e+02,  2.89000e+02,
       -4.02000e+02,  1.37740e+04,  1.25000e+02,  3.80000e+01,
       -6.00000e+00,  4.84300e+03,  4.12610e+04,  4.17000e+02,
        2.53000e+02,  7.22700e+03,  1.37000e+02,  3.99000e+02,
        6.13000e+02,  6.20000e+01, -1.00000e+01,  9.86000e+02,
        4.22000e+02,  1.82000e+02,  2.28000e+02,  3.12000e+02,
        3.35000e+02,  5.74000e+02,  8.00000e+01,  5.04000e+02,
       -3.90000e+01,  1.27000e+02,  8.79000e+02,  1.38000e+02,
        8.44000e+02, -5.00000e+00,  4.55000e+02,  4.86000e+02,
        1.86000e+02,  2.67000e+02,  7.14000e+02,  6.12000e+02,
        3.00000e+01,  4.70000e+01,  5.32000e+02,  7.45465e+05,
        2.91000e+02,  1.95000e+02,  4.79000e+02,  7.52000e+02,
        3.16000e+02,  1.00000e+01,  4.58900e+03,  1.12400e+03,
        1.35500e+03,  2.32000e+02,  1.16780e+04,  1.51000e+02,
        3.39000e+02,  4.49000e+02,  4.47000e+02,  2.80000e+02,
       -2.50000e+01,  2.73000e+02,  5.52000e+02,  9.93000e+02,
        1.69000e+02,  5.89100e+03,  1.76000e+02,  2.44000e+02,
        3.40000e+01,  1.78000e+02,  2.02000e+02,  5.20000e+01,
        1.54000e+02,  8.54000e+02,  2.34000e+02,  1.92000e+02,
        3.54000e+02,  2.15000e+02,  1.34000e+02,  4.84000e+03,
        7.28000e+02,  1.96000e+02,  1.60000e+02,  1.90000e+02,
        1.40000e+03,  1.59000e+02,  1.68000e+02,  5.02800e+03,
        1.30000e+02,  9.12000e+02,  4.03000e+02,  7.90000e+01,
        2.76000e+02,  2.04000e+02,  2.63000e+02,  3.81000e+02,
        3.47000e+02,  1.13400e+03,  3.66900e+03,  5.56000e+02,
        2.02800e+03,  2.87000e+02,  5.83600e+03,  1.19800e+03,
        5.49000e+02,  9.09000e+02,  5.03000e+02,  1.66400e+03,
        3.88000e+02,  7.45000e+03,  3.44500e+03,  2.04600e+03,
        4.09800e+03,  2.84000e+02,  3.02000e+02,  2.31000e+02,
        1.81000e+03,  9.93200e+03,  1.42000e+02,  4.01600e+03,
        1.52000e+02,  2.18000e+02,  4.26000e+02,  4.21000e+02,
        5.36000e+02,  3.18000e+02,  6.66700e+03,  6.10000e+02,
        1.10000e+03,  1.00650e+04,  6.19000e+02,  2.12400e+03,
        1.82000e+03,  2.12000e+02,  2.58000e+02,  4.99000e+02,
        2.05000e+02,  2.24000e+02,  4.59000e+02,  1.58000e+02,
        5.35000e+02,  1.23000e+02,  2.50000e+02,  7.26900e+03,
        1.22300e+03,  3.73000e+02,  1.04700e+03,  4.13000e+02,
        2.38000e+02, -2.00000e+01,  1.27100e+03,  1.73000e+03,
        2.82000e+02,  1.18200e+03,  2.90000e+01,  1.73800e+03,
        3.27200e+03, -2.46000e+02,  6.54000e+02,  2.71000e+02,
        2.60000e+02,  7.86000e+02,  1.97000e+02,  2.01000e+02,
        5.45000e+02,  3.08000e+02,  7.58000e+02,  4.02000e+02,
        2.48000e+02,  1.42300e+03,  7.74000e+02, -3.60000e+01,
        1.05200e+03,  6.04000e+02,  1.01160e+04,  2.37000e+02,
        4.82000e+02,  3.65000e+02,  6.42000e+02,  5.01000e+02,
        4.82700e+04,  4.44000e+02,  2.66000e+02,  3.04000e+02,
        2.09000e+02,  3.53000e+02,  1.03970e+04,  7.62700e+03,
        1.85000e+02,  2.09000e+03,  1.24700e+03,  4.71000e+02,
        2.45000e+02,  4.15000e+02,  2.47000e+02,  2.08000e+02,
        1.65000e+02,  1.79300e+03,  4.04000e+02, -5.90000e+01,
        7.65000e+02,  4.91000e+02,  4.20000e+02,  3.89500e+03,
        2.75000e+02,  6.53000e+02,  3.31000e+02,  3.46000e+02,
        2.62000e+02,  5.33000e+02,  3.10000e+02,  2.51000e+03,
        7.19000e+02,  6.89000e+02,  2.84700e+03,  2.27000e+02,
        6.29600e+03,  4.09000e+02,  1.90200e+03,  2.50330e+04,
        3.32000e+02,  3.55000e+02,  8.19000e+02,  4.83000e+02,
        2.35000e+02])

Los 10 PORCENTAJE_REALIZADO que MAS aparecen son:

                      count  Porcentaje_recuento
PORCENTAJE_REALIZADO
0.00                   2455                54.28
1.00                     33                 0.73
9.00                     25                 0.55
82.00                    24                 0.53
4.00                     23                 0.51
81.00                    21                 0.46
86.00                    20                 0.44
2.00                     20                 0.44
50.00                    20                 0.44
73.00                    19                 0.42

Los 10 PORCENTAJE_REALIZADO que MENOS aparecen son:

                      count  Porcentaje_recuento
PORCENTAJE_REALIZADO
304.00                    1                 0.02
209.00                    1                 0.02
353.00                    1                 0.02
10397.00                  1                 0.02
25033.00                  1                 0.02
332.00                    1                 0.02
355.00                    1                 0.02
819.00                    1                 0.02
483.00                    1                 0.02
235.00                    1                 0.02

 Las distribución de las repeticiones de los PORCENTAJE_REALIZADO son:

       count  % repetición
count
1        227         49.67
2         44          9.63
3         22          4.81
10        15          3.28
4         15          3.28
5         14          3.06
8         14          3.06
9         13          2.84
6         13          2.84
7         12          2.63
11        11          2.41
14        11          2.41
13         8          1.75
12         7          1.53
15         6          1.31
16         6          1.31
19         5          1.09
17         4          0.88
20         3          0.66
18         1          0.22
23         1          0.22
24         1          0.22
25         1          0.22
33         1          0.22
2455       1          0.22
21         1          0.22

None
La categoría FECHA_REGISTRO tiene 1 elementos diferentes:

Los elementos de la categoría son:

<DatetimeArray>
['2015-12-31 00:00:00']
Length: 1, dtype: datetime64[ns]

Los 10 FECHA_REGISTRO que MAS aparecen son:

                count  Porcentaje_recuento
FECHA_REGISTRO
2015-12-31       4523               100.00

Los 10 FECHA_REGISTRO que MENOS aparecen son:

                count  Porcentaje_recuento
FECHA_REGISTRO
2015-12-31       4523               100.00

 Las distribución de las repeticiones de los FECHA_REGISTRO son:

       count  % repetición
count
4523       1        100.00

None
La categoría AÑO_EJERCICIO tiene 1 elementos diferentes:

Los elementos de la categoría son:

array([2015])

Los 10 AÑO_EJERCICIO que MAS aparecen son:

               count  Porcentaje_recuento
AÑO_EJERCICIO
2015            4523               100.00

Los 10 AÑO_EJERCICIO que MENOS aparecen son:

               count  Porcentaje_recuento
AÑO_EJERCICIO
2015            4523               100.00

 Las distribución de las repeticiones de los AÑO_EJERCICIO son:

       count  % repetición
count
4523       1        100.00

None

In [13]:
df_datos_2015.to_pickle("../datos/output/datos_2015_convertido.pkl")