In [1]:
# Tratamiento de datos
import pandas as pd
# Ignorar warnings
import warnings
warnings.filterwarnings("ignore")
# Configuración
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames
#importar la biblioteca de numpy:
import numpy as np
import os
import sys #permite navegar por el sistema
sys.path.append("../") #solo aplica al soporte
import src.soporte_EDA as se


pd.options.display.float_format = '{:.2f}'.format # para redondearlo todo a 2 decimales

In [2]:
os.listdir('../datos/raw/')

['datos-2013.csv',
 'datos-2014.csv',
 'datos-2015.csv',
 'datos-2016.csv',
 'datos-2017.csv',
 'datos-2018.csv',
 'datos-2019.csv',
 'datos-2020.csv',
 'datos-2021.csv',
 'diccionario_datos.csv']

In [3]:
lista_archivos = os.listdir('../datos/raw/')[:-1]
lista_archivos

['datos-2013.csv',
 'datos-2014.csv',
 'datos-2015.csv',
 'datos-2016.csv',
 'datos-2017.csv',
 'datos-2018.csv',
 'datos-2019.csv',
 'datos-2020.csv',
 'datos-2021.csv']

In [4]:
diccionario = se.carga_ficheros_csv('raw',lista_archivos)

In [5]:
df_datos_2018 = diccionario['df_2018']

# Anális datos año 2018

In [6]:
se.traducción_columnas(df_datos_2018)

In [7]:
df_datos_2018

,CÓDIGO_ÓRGANO_SUPERIOR,NOMBRE_ÓRGANO_SUPERIOR,CÓDIGO_ÓRGANO,NOMBRE_ÓRGANO,CÓDIGO_UNIDAD_GESTORA,NOMBRE_UNIDAD_GESTORA,CATEGORÍA_ECONÓMICA,ORIGEN_INGRESO,TIPO_INGRESO,DETALLE,VALOR_PREVISTO_ACTUALIZADO,VALOR_REGISTRADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO,FECHA_REGISTRO,AÑO_EJERCICIO
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Receitas Correntes - a classificar,Receitas Correntes - a classificar,Receitas Correntes - a classificar,"0,00","0,00","-1693,72","0,00",25/07/2018,2018
1,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Transferências Correntes,Transferências dos Estados e do Distrito Fede,"TRANSF.DOS ESTADOS,DF E SUAS ENTIDADES-PRINC.","0,00","0,00","2612,50","0,00",02/08/2018,2018
2,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Receitas Correntes - a classificar,Receitas Correntes - a classificar,Receitas Correntes - a classificar,"0,00","0,00","-258,00","0,00",27/02/2018,2018
3,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Receitas Correntes - a classificar,Receitas Correntes - a classificar,Receitas Correntes - a classificar,"0,00","0,00","258,00","0,00",26/02/2018,2018
4,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Receitas Correntes - a classificar,Receitas Correntes - a classificar,Receitas Correntes - a classificar,"0,00","0,00","4747,33","0,00",05/03/2018,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173939,20000,Presidência da República,24208,Instituto Nacional de Tecnologia da Informação,243001,INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,"SERV.DE REGIST.,CERTIF.E FISCALIZ.-PRINCIPAL","0,00","0,00","10000,00","0,00",04/05/2018,2018
173940,20000,Presidência da República,24208,Instituto Nacional de Tecnologia da Informação,243001,INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,"SERV.DE REGIST.,CERTIF.E FISCALIZ.-PRINCIPAL","0,00","0,00","500000,00","0,00",14/08/2018,2018
173941,20000,Presidência da República,24208,Instituto Nacional de Tecnologia da Informação,243001,INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,"SERV.DE REGIST.,CERTIF.E FISCALIZ.-PRINCIPAL","0,00","0,00","10000,00","0,00",04/04/2018,2018
173942,20000,Presidência da República,24208,Instituto Nacional de Tecnologia da Informação,243001,INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,"SERV.DE REGIST.,CERTIF.E FISCALIZ.-PRINCIPAL","0,00","0,00","10000,00","0,00",05/04/2018,2018
173943,20000,Presidência da República,24208,Instituto Nacional de Tecnologia da Informação,243001,INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,"SERV.DE REGIST.,CERTIF.E FISCALIZ.-PRINCIPAL","0,00","0,00","10000,00","0,00",29/03/2018,2018

In [8]:
se.reporte(df_datos_2018)

La tabla tiene 173944 filas y 16 columnas
La tabla tiene 0 filas duplicadas

,tipo_variables,contador_total,numero_nulos,porcentaje_nulos,valores_unicos,duplicados
CÓDIGO_ÓRGANO_SUPERIOR,int64,173944,0,0.00,22,173922
NOMBRE_ÓRGANO_SUPERIOR,object,173944,0,0.00,22,173922
CÓDIGO_ÓRGANO,int64,173944,0,0.00,261,173683
NOMBRE_ÓRGANO,object,173944,0,0.00,260,173684
CÓDIGO_UNIDAD_GESTORA,int64,173944,0,0.00,314,173630
NOMBRE_UNIDAD_GESTORA,object,173944,0,0.00,312,173632
CATEGORÍA_ECONÓMICA,object,173944,0,0.00,5,173939
ORIGEN_INGRESO,object,173944,0,0.00,15,173929
TIPO_INGRESO,object,173944,0,0.00,47,173897
DETALLE,object,173944,0,0.00,608,173336
VALOR_PREVISTO_ACTUALIZADO,object,173944,0,0.00,1846,172098
VALOR_REGISTRADO,object,173944,0,0.00,828,173116
VALOR_REALIZADO,object,173944,0,0.00,121803,52141
PORCENTAJE_REALIZADO,object,173944,0,0.00,12,173932
FECHA_REGISTRO,object,173829,115,0.07,365,173578
AÑO_EJERCICIO,int64,173944,0,0.00,1,173943

In [9]:
se.conversion_columnas(df_datos_2018)

La tabla tiene 173944 filas y 16 columnas
La tabla tiene 0 filas duplicadas

,tipo_variables,contador_total,numero_nulos,porcentaje_nulos,valores_unicos,duplicados
CÓDIGO_ÓRGANO_SUPERIOR,object,173944,0,0.00,22,173922
NOMBRE_ÓRGANO_SUPERIOR,object,173944,0,0.00,22,173922
CÓDIGO_ÓRGANO,object,173944,0,0.00,261,173683
NOMBRE_ÓRGANO,object,173944,0,0.00,260,173684
CÓDIGO_UNIDAD_GESTORA,object,173944,0,0.00,314,173630
NOMBRE_UNIDAD_GESTORA,object,173944,0,0.00,312,173632
CATEGORÍA_ECONÓMICA,object,173944,0,0.00,5,173939
ORIGEN_INGRESO,object,173944,0,0.00,15,173929
TIPO_INGRESO,object,173944,0,0.00,47,173897
DETALLE,object,173944,0,0.00,608,173336
VALOR_PREVISTO_ACTUALIZADO,float64,173944,0,0.00,1846,172098
VALOR_REGISTRADO,float64,173944,0,0.00,828,173116
VALOR_REALIZADO,float64,173944,0,0.00,121803,52141
PORCENTAJE_REALIZADO,float64,173944,0,0.00,12,173932
FECHA_REGISTRO,datetime64[ns],173829,115,0.07,365,173578
AÑO_EJERCICIO,int64,173944,0,0.00,1,173943

In [10]:
se.analisis_descriptivos_categóricas(df_datos_2018)

Las columnas categóricas son Index(['CÓDIGO_ÓRGANO_SUPERIOR', 'NOMBRE_ÓRGANO_SUPERIOR', 'CÓDIGO_ÓRGANO',
       'NOMBRE_ÓRGANO', 'CÓDIGO_UNIDAD_GESTORA', 'NOMBRE_UNIDAD_GESTORA',
       'CATEGORÍA_ECONÓMICA', 'ORIGEN_INGRESO', 'TIPO_INGRESO', 'DETALLE'],
      dtype='object')
Algunos ejemplos de filas son:

,CÓDIGO_ÓRGANO_SUPERIOR,NOMBRE_ÓRGANO_SUPERIOR,CÓDIGO_ÓRGANO,NOMBRE_ÓRGANO,CÓDIGO_UNIDAD_GESTORA,NOMBRE_UNIDAD_GESTORA,CATEGORÍA_ECONÓMICA,ORIGEN_INGRESO,TIPO_INGRESO,DETALLE
168804,44000,Ministério do Meio Ambiente,20701,Instituto Brasileiro do Meio Ambiente e dos Re...,193034,IBAMA - INST.BRASILEIRO MEIO AMBIENTE/MATRIZ,Receitas Correntes,Receita Patrimonial,Exploração de recursos naturais,COMPENS.FINANC.EXPL.RECURSOS MINERAIS-PRINC.
23826,52000,Ministério da Defesa,52911,Fundo Aeronáutico,121002,SECRETARIA DE ECON. E FIN.DA AER.- F.AER.,Receitas Correntes,Receita de Serviços,Serviços e Atividades Referentes à Navegação,SERVICOS DE NAVEGACAO-PRINCIPAL
120121,26000,Ministério da Educação,26282,Universidade Federal de Viçosa,154051,UNIVERSIDADE FEDERAL DE VICOSA,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",MULTAS PREVISTAS EM LEGISL.ESPECIFICA-PRINC.
22465,52000,Ministério da Defesa,52904,Fundo do Exército,167086,FUNDO DO EXERCITO,Receitas Correntes,Receita de Serviços,Outros serviços,OUTROS SERVICOS-PRINCIPAL
153813,32000,Ministério de Minas e Energia,32396,Agência Nacional de Mineração,323100,SETORIAL ORCAMENTARIA E FINANCEIRA - ANM,Receitas Correntes,Receita Patrimonial,Exploração de recursos naturais,COMPENS.FINANC.EXPL.RECURSOS MINERAIS-DIV.AT.

Las características de estas columnas son:

,count,unique,top,freq
CÓDIGO_ÓRGANO_SUPERIOR,173944,22,26000,65876
NOMBRE_ÓRGANO_SUPERIOR,173944,22,Ministério da Educação,65876
CÓDIGO_ÓRGANO,173944,261,25000,22844
NOMBRE_ÓRGANO,173944,260,Ministério da Economia - Unidades com vínculo ...,22844
CÓDIGO_UNIDAD_GESTORA,173944,314,170013,21206
NOMBRE_UNIDAD_GESTORA,173944,312,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,21206
CATEGORÍA_ECONÓMICA,173944,5,Receitas Correntes,165585
ORIGEN_INGRESO,173944,15,Receita de Serviços,58581
TIPO_INGRESO,173944,47,Serviços Administrativos e Comerciais Gerais,51444
DETALLE,173944,608,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.,29257

In [11]:
se.analisis_descriptivos_numéricas(df_datos_2018)

Las columnas no categóricas son Index(['VALOR_PREVISTO_ACTUALIZADO', 'VALOR_REGISTRADO', 'VALOR_REALIZADO',
       'PORCENTAJE_REALIZADO', 'FECHA_REGISTRO', 'AÑO_EJERCICIO'],
      dtype='object')
Algunos ejemplos de filas son:

,VALOR_PREVISTO_ACTUALIZADO,VALOR_REGISTRADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO,FECHA_REGISTRO,AÑO_EJERCICIO
114130,0.00,0.00,6705.00,0.00,2018-06-04,2018
7648,0.00,0.00,775.24,0.00,2018-09-17,2018
144210,0.00,0.00,1124179.56,0.00,2018-08-28,2018
133522,0.00,0.00,11626.35,0.00,2018-09-18,2018
149942,0.00,0.00,141.60,0.00,2018-10-30,2018

Las características de estas columnas son:

,count,mean,min,25%,50%,75%,max,std
VALOR_PREVISTO_ACTUALIZADO,173944.00,20153890.52,0.00,0.00,0.00,0.00,1130479484929.00,3210826360.95
VALOR_REGISTRADO,173944.00,2692942.47,-10368360188.31,0.00,0.00,0.00,125769983134.07,390967467.11
VALOR_REALIZADO,173944.00,16915719.27,-3500000000.00,295.00,3025.51,37311.76,169256367162.37,619746464.51
PORCENTAJE_REALIZADO,173944.00,0.00,0.00,0.00,0.00,0.00,36.00,0.14
FECHA_REGISTRO,173829,2018-06-29 16:12:32.021814528,2018-01-01 00:00:00,2018-03-30 00:00:00,2018-06-29 00:00:00,2018-09-28 00:00:00,2018-12-31 00:00:00,NaN
AÑO_EJERCICIO,173944.00,2018.00,2018.00,2018.00,2018.00,2018.00,2018.00,0.00

# Análisis columnas de forma individual
## Año 2018

In [12]:
for columna in df_datos_2018.columns:
    print(se.analisis_individual_columnas(df_datos_2018, columna))

La categoría CÓDIGO_ÓRGANO_SUPERIOR tiene 22 elementos diferentes:

Los elementos de la categoría son:

array(['63000', '37000', '22000', '55000', '24000', '52000', '25000',
       '26000', '39000', '30000', '81000', '33000', '36000', '41000',
       '57000', '35000', '32000', '53000', '51000', '44000', '54000',
       '20000'], dtype=object)

Los 10 CÓDIGO_ÓRGANO_SUPERIOR que MAS aparecen son:

                        count  Porcentaje_recuento
CÓDIGO_ÓRGANO_SUPERIOR
26000                   65876                37.87
25000                   36688                21.09
52000                   15387                 8.85
22000                    7655                 4.40
30000                    6155                 3.54
39000                    5964                 3.43
32000                    5570                 3.20
24000                    5278                 3.03
53000                    5049                 2.90
36000                    4967                 2.86

Los 10 CÓDIGO_ÓRGANO_SUPERIOR que MENOS aparecen son:

                        count  Porcentaje_recuento
CÓDIGO_ÓRGANO_SUPERIOR
54000                    4395                 2.53
20000                     617                 0.35
55000                     512                 0.29
35000                     490                 0.28
81000                     162                 0.09
63000                      99                 0.06
51000                      38                 0.02
37000                      16                 0.01
33000                       1                 0.00
57000                       1                 0.00

 Las distribución de las repeticiones de los CÓDIGO_ÓRGANO_SUPERIOR son:

       count  % repetición
count
1          2          9.09
36688      1          4.55
15387      1          4.55
7655       1          4.55
65876      1          4.55
6155       1          4.55
5964       1          4.55
5278       1          4.55
5570       1          4.55
4967       1          4.55
4546       1          4.55
4478       1          4.55
5049       1          4.55
4395       1          4.55
617        1          4.55
490        1          4.55
512        1          4.55
162        1          4.55
99         1          4.55
38         1          4.55
16         1          4.55

None
La categoría NOMBRE_ÓRGANO_SUPERIOR tiene 22 elementos diferentes:

Los elementos de la categoría son:

array(['Advocacia-Geral da União', 'Controladoria-Geral da União',
       'Ministério da Agricultura, Pecuária e Abastec',
       'Ministério da Cidadania',
       'Ministério da Ciência, Tecnologia, Inovações ',
       'Ministério da Defesa', 'Ministério da Economia',
       'Ministério da Educação', 'Ministério da Infraestrutura',
       'Ministério da Justiça e Segurança Pública',
       'Ministério da Mulher, Família e Direitos Huma',
       'Ministério da Previdência Social', 'Ministério da Saúde',
       'Ministério das Comunicações',
       'Ministério das Mulheres, Igualdade Racial, da',
       'Ministério das Relações Exteriores',
       'Ministério de Minas e Energia',
       'Ministério do Desenvolvimento Regional', 'Ministério do Esporte',
       'Ministério do Meio Ambiente', 'Ministério do Turismo',
       'Presidência da República'], dtype=object)

Los 10 NOMBRE_ÓRGANO_SUPERIOR que MAS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_ÓRGANO_SUPERIOR
Ministério da Educação                         65876                37.87
Ministério da Economia                         36688                21.09
Ministério da Defesa                           15387                 8.85
Ministério da Agricultura, Pecuária e Abastec   7655                 4.40
Ministério da Justiça e Segurança Pública       6155                 3.54
Ministério da Infraestrutura                    5964                 3.43
Ministério de Minas e Energia                   5570                 3.20
Ministério da Ciência, Tecnologia, Inovações    5278                 3.03
Ministério do Desenvolvimento Regional          5049                 2.90
Ministério da Saúde                             4967                 2.86

Los 10 NOMBRE_ÓRGANO_SUPERIOR que MENOS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_ÓRGANO_SUPERIOR
Ministério do Turismo                           4395                 2.53
Presidência da República                         617                 0.35
Ministério da Cidadania                          512                 0.29
Ministério das Relações Exteriores               490                 0.28
Ministério da Mulher, Família e Direitos Huma    162                 0.09
Advocacia-Geral da União                          99                 0.06
Ministério do Esporte                             38                 0.02
Controladoria-Geral da União                      16                 0.01
Ministério da Previdência Social                   1                 0.00
Ministério das Mulheres, Igualdade Racial, da      1                 0.00

 Las distribución de las repeticiones de los NOMBRE_ÓRGANO_SUPERIOR son:

       count  % repetición
count
1          2          9.09
36688      1          4.55
15387      1          4.55
7655       1          4.55
65876      1          4.55
6155       1          4.55
5964       1          4.55
5278       1          4.55
5570       1          4.55
4967       1          4.55
4546       1          4.55
4478       1          4.55
5049       1          4.55
4395       1          4.55
617        1          4.55
490        1          4.55
512        1          4.55
162        1          4.55
99         1          4.55
38         1          4.55
16         1          4.55

None
La categoría CÓDIGO_ÓRGANO tiene 261 elementos diferentes:

Los elementos de la categoría son:

array(['63000', '37000', '22211', '22201', '22202', '22000', '44208',
       '20129', '22905', '49001', '55001', '55000', '24901', '20301',
       '24000', '20402', '20501', '49280', '24209', '20502', '52904',
       '52132', '52911', '52133', '52000', '52131', '52111', '52221',
       '52121', '52211', '31280', '52233', '52222', '25000', '38901',
       '37202', '37904', '25201', '25916', '30203', '20924', '25203',
       '25207', '25205', '28500', '25211', '22500', '61201', '25905',
       '25904', '71902', '20603', '20202', '25915', '25901', '30204',
       '37201', '90000', '33206', '25914', '25208', '26443', '26412',
       '26263', '26298', '26241', '26424', '26271', '26246', '26410',
       '26238', '26243', '26242', '26277', '26245', '26426', '26268',
       '26406', '26244', '26411', '26276', '26350', '26421', '26236',
       '26294', '26234', '26447', '26284', '26233', '26442', '26413',
       '26408', '26441', '26260', '26352', '26420', '26250', '26270',
       '26402', '26255', '26416', '26247', '26273', '26232', '26254',
       '26448', '26431', '26283', '26249', '26434', '26239', '26433',
       '26419', '26291', '26404', '26405', '26439', '26278', '26450',
       '26258', '26248', '26279', '26436', '26440', '26201', '26257',
       '26262', '26237', '26403', '26292', '26264', '26407', '26275',
       '26261', '26230', '26267', '26415', '26274', '26428', '26269',
       '26285', '26266', '26231', '26435', '26418', '26240', '26438',
       '26423', '26251', '26449', '26252', '26256', '26272', '26351',
       '26409', '26282', '26417', '26281', '26432', '26290', '26429',
       '26235', '26427', '26422', '26280', '26000', '26437', '26253',
       '26430', '26414', '26286', '26425', '39250', '62201', '56901',
       '39252', '29209', '39815', '39811', '39816', '68201', '39813',
       '39253', '49901', '39814', '39000', '62901', '39812', '39817',
       '30907', '30108', '30912', '30911', '30211', '30905', '30202',
       '30205', '30000', '30802', '30914', '30913', '81000', '33000',
       '36211', '36213', '36000', '36201', '36210', '36212', '41232',
       '41231', '41903', '20415', '64901', '35201', '35000', '32396',
       '32205', '32314', '32263', '29208', '32210', '32000', '20302',
       '20303', '22204', '53901', '22203', '74918', '53203', '29214',
       '53902', '74919', '53000', '44205', '53903', '53202', '53207',
       '74917', '29205', '56902', '91214', '20701', '44207', '44206',
       '44204', '44000', '44902', '34902', '54901', '20404', '20203',
       '42207', '20411', '20604', '54000', '20412', '20403', '20101',
       '20116', '24208'], dtype=object)

Los 10 CÓDIGO_ÓRGANO que MAS aparecen son:

               count  Porcentaje_recuento
CÓDIGO_ÓRGANO
25000          22844                13.13
52904           4319                 2.48
52132           4042                 2.32
34902           2786                 1.60
22202           2505                 1.44
20701           2243                 1.29
52911           2002                 1.15
24901           1924                 1.11
30203           1885                 1.08
37904           1755                 1.01

Los 10 CÓDIGO_ÓRGANO que MENOS aparecen son:

               count  Porcentaje_recuento
CÓDIGO_ÓRGANO
39000              9                 0.01
39814              5                 0.00
32314              5                 0.00
39815              2                 0.00
20402              1                 0.00
90000              1                 0.00
64901              1                 0.00
81000              1                 0.00
33000              1                 0.00
30911              1                 0.00

 Las distribución de las repeticiones de los CÓDIGO_ÓRGANO son:

       count  % repetición
count
1          6          2.30
33         3          1.15
657        2          0.77
754        2          0.77
757        2          0.77
...      ...           ...
16         1          0.38
10         1          0.38
11         1          0.38
9          1          0.38
2          1          0.38

[232 rows x 2 columns]

None
La categoría NOMBRE_ÓRGANO tiene 260 elementos diferentes:

Los elementos de la categoría son:

array(['Advocacia-Geral da União - Unidades com vínculo direto',
       'Controladoria-Geral da União - Unidades com vínculo direto',
       'Companhia Nacional de Abastecimento',
       'Instituto Nacional de Colonização e Reforma Agrária',
       'Empresa Brasileira de Pesquisa Agropecuária',
       'Ministério da Agricultura, Pecuária e Abastecimento - Unidades com vínculo direto',
       'Serviço Florestal Brasileiro',
       'Secretaria Especial de Agricultura Familiar e do Desenvolvimento Agrário',
       'Fundo de Defesa da Economia Cafeeira',
       'Fundo de Terras e da Reforma Agrária',
       'Fundo Nacional de Assistência Social',
       'Ministério da Cidadania - Unidades com vínculo direto',
       'Fundo Nacional de Desenvolvimento Científico e Tecnológico',
       'Comissão Nacional de Energia Nuclear',
       'Ministério da Ciência, Tecnologia, Inovações e Comunicações - Unidades com vínculo direto',
       'Agência Espacial Brasileira',
       'Conselho Nacional de Desenvolvimento Científico e Tecnológico',
       'Empresa Brasileira de Correios e Telégrafos',
       'Centro Nacional de Tecnologia Eletrônica Avançada S.A.',
       'Financiadora de Estudos e Projetos', 'Fundo do Exército',
       'Comando da Marinha - Fundo Naval', 'Fundo Aeronáutico',
       'Fundo de Desenvolvimento do Ensino Profissional Marítimo',
       'Ministério da Defesa - Unidades com vínculo direto',
       'Comando da Marinha', 'Comando da Aeronáutica',
       'Indústria de Material Bélico do Brasil', 'Comando do Exército',
       'Caixa de Financiamento Imobiliário da Aeronáutica',
       'Caixa de Construções de Casas para o Pessoal da Marinha do Brasil',
       'Amazônia Azul Tecnologia de Defesa S.A.', 'Fundação Osório',
       'Ministério da Economia - Unidades com vínculo direto',
       'Fundo de Amparo ao Trabalhador',
       'Instituto Nacional do Seguro Social',
       'Fundo do Regime Geral da Previdência Social',
       'Banco Central do Brasil - Orçamento Fiscal e Seguridade Social',
       'Fundo Contingente da Extinta RFFSA-FCMP',
       'Instituto Nacional de Metrologia, Qualidade e Tecnologia',
       'Fundo Nacional de Desenvolvimento',
       'Comissão de Valores Mobiliários',
       'Serviço Federal de Processamento de Dados',
       'Fundação Instituto Brasileiro de Geografia e Estatística',
       'Fundo de Garantia para a Promoção da Competitividade',
       'Casa da Moeda do Brasil',
       'Companhia de Entrepostos e Armazéns Gerais de São Paulo',
       'Instituto de Pesquisa Econômica Aplicada',
       'Fundo de Apoio ao Desenvolvimento Social',
       'Fundo de Estabilidade do Seguro Rural',
       'Fundo Soberano do Brasil',
       'Superintendência da Zona Franca de Manaus',
       'Fundação Escola Nacional de Administração Pública',
       'Fundo Constitucional do Distrito Federal',
       'Fundo de Compensação de Variações Salariais',
       'Instituto Nacional da Propriedade Industrial',
       'Fundação Jorge Duprat Figueiredo, de Segurança e Medicina do Trabalho',
       'Reserva de Contingência',
       'Superintendência Nacional de Previdência Complementar',
       'Fundo de Garantia à Exportação',
       'Superintendência de Seguros Privados',
       'Empresa Brasileira de Serviços Hospitalares',
       'Instituto Federal do Sul de Minas Gerais',
       'Universidade Federal de Lavras',
       'Fundo Nacional de Desenvolvimento da Educação',
       'Universidade Federal do Paraná', 'Instituto Federal do Tocantins',
       'Fundação Universidade de Brasília',
       'Universidade Federal de Santa Catarina',
       'Instituto Federal do Norte de Minas Gerais',
       'Universidade Federal de Minas Gerais',
       'Universidade Federal do Rio Grande do Norte',
       'Universidade Federal de Pernambuco',
       'Universidade Federal de Ouro Preto',
       'Universidade Federal do Rio de Janeiro',
       'Instituto Federal do Amapá',
       'Fundação Universidade Federal de Rondônia',
       'Instituto Federal do Espírito Santo',
       'Universidade Federal do Rio Grande do Sul',
       'Instituto Federal do Sudeste de Minas Gerais',
       'Fundação Universidade Federal do Mato Grosso',
       'Fundação Universidade Federal da Grande Dourados',
       'Instituto Federal de Rondônia', 'Universidade Federal Fluminense',
       'Hospital de Clínicas de Porto Alegre',
       'Universidade Federal do Espírito Santo',
       'Universidade Federal do Oeste da Bahia',
       'Fundação Universidade Federal de Ciências da Saúde de Porto Alegre',
       'Universidade Federal do Ceará',
       'Universidade da Integração Internacional da Lusofonia Afro-Brasileira',
       'Instituto Federal do Triângulo Mineiro',
       'Instituto Federal do Maranhão',
       'Universidade Federal do Oeste do Pará',
       'Universidade Federal de Alfenas',
       'Fundação Universidade Federal do ABC',
       'Instituto Federal Farroupilha', 'Universidade Federal de Roraima',
       'Fundação Universidade do Amazonas',
       'Instituto Federal de Alagoas',
       'Universidade Federal dos Vales do Jequitinhonha e Mucuri',
       'Instituto Federal do Pará', 'Universidade Federal de Santa Maria',
       'Universidade Federal do Rio Grande',
       'Universidade Federal da Bahia',
       'Universidade Federal do Triângulo Mineiro',
       'Universidade Federal do Sul e Sudeste do Pará',
       'Instituto Federal do Piauí',
       'Fundação Universidade Federal do Mato Grosso do Sul',
       'Universidade Federal Rural do Rio de Janeiro',
       'Instituto Federal Fluminense', 'Universidade Federal do Pará',
       'Instituto Federal do Rio de Janeiro',
       'Instituto Federal do Rio Grande do Sul',
       'Fundação Coordenação de Aperfeiçoamento de Pessoal de Nível Superior',
       'Instituto Federal Baiano', 'Instituto Federal do Ceará',
       'Instituto Federal de São Paulo',
       'Fundação Universidade Federal de Pelotas',
       'Universidade Federal do Sul da Bahia',
       'Universidade Tecnológica Federal do Paraná',
       'Universidade Federal Rural de Pernambuco',
       'Fundação Universidade Federal do Piauí',
       'Instituto Federal Sul-rio-grandense',
       'Universidade Federal da Fronteira Sul', 'Colégio Pedro II',
       'Centro Federal de Educação Tecnológica de Minas Gerais',
       'Universidade Federal de São Paulo',
       'Universidade Federal de Juiz de Fora',
       'Instituto Federal do Amazonas', 'Fundação Joaquim Nabuco',
       'Universidade Federal Rural do Semi-Árido',
       'Instituto Federal Goiano',
       'Fundação Universidade Federal do Acre',
       'Universidade Federal de Itajubá',
       'Fundação Universidade Federal do Vale do São Francisco',
       'Universidade Federal da Integração Latino-Americana',
       'Instituto Federal do Mato Grosso do Sul',
       'Fundação Universidade Federal de Uberlândia',
       'Instituto Federal de Brasília',
       'Universidade Federal do Estado do Rio de Janeiro',
       'Fundação Universidade Federal de São João Del-Rei',
       'Fundação Universidade Federal do Pampa',
       'Universidade Federal de Alagoas',
       'Instituto Federal do Rio Grande do Norte',
       'Instituto Federal de Pernambuco',
       'Universidade Federal da Paraíba',
       'Instituto Federal de Santa Catarina',
       'Instituto Federal de Sergipe',
       'Fundação Universidade Federal do Tocantins',
       'Universidade Federal do Cariri',
       'Universidade Federal de Campina Grande',
       'Centro Federal de Educação Tecnológica Celso Suckow da Fonseca',
       'Fundação Universidade do Maranhão',
       'Universidade Federal do Recôncavo da Bahia',
       'Instituto Federal de Minas Gerais',
       'Universidade Federal de Viçosa', 'Instituto Federal da Paraíba',
       'Fundação Universidade Federal de Sergipe',
       'Instituto Federal do Paraná',
       'Instituto Nacional de Estudos e Pesquisas Educacionais Anísio Teixeira',
       'Instituto Federal de Educação, Ciência e Tecnologia de Goiás',
       'Universidade Federal de Goiás', 'Instituto Federal da Bahia',
       'Instituto Federal Catarinense',
       'Fundação Universidade Federal de São Carlos',
       'Ministério da Educação - Unidades com vínculo direto',
       'Instituto Federal de Roraima',
       'Universidade Federal Rural da Amazônia',
       'Instituto Federal do Sertão de Pernambuco',
       'Instituto Federal do Mato Grosso',
       'Fundação Universidade Federal do Amapá',
       'Instituto Federal do Acre',
       'Agência Nacional de Transportes Terrestres',
       'Agência Nacional de Aviação Civil',
       'Fundo Nacional de Segurança e Educação de Trânsito',
       'Departamento Nacional de Infraestrutura de Transportes',
       'VALEC Engenharia, Construções e Ferrovias S.A.',
       'Companhia Docas do Rio Grande do Norte',
       'Companhia Docas do Rio de Janeiro',
       'Companhia Docas do Estado de São Paulo',
       'Agência Nacional de Transportes Aquaviários',
       'Companhia Docas do Ceará',
       'Empresa de Planejamento e Logística S.A.',
       'Departamento do Fundo da Marinha Mercante',
       'Companhia Docas do Pará',
       'Ministério da Infraestrutura - Unidades com vínculo direto',
       'Fundo Nacional de Aviação Civil',
       'Companhia Docas do Estado da Bahia',
       'Companhia Docas do Espírito Santo',
       'Fundo Penitenciário Nacional', 'Departamento de Polícia Federal',
       'Fundo Nacional Antidrogas', 'Fundo Nacional de Segurança Pública',
       'Conselho Administrativo de Defesa Econômica',
       'Secretaria Nacional do Consumidor Fundo',
       'Fundação Nacional do Índio',
       'Fundação Nacional do Índio - Patrimônio Indígena',
       'Ministério da Justiça e Segurança Pública - Unidades com vínculo direto',
       'Departamento de Polícia Rodoviária Federal',
       'Fundo Nacional do Idoso',
       'Fundo Nacional para a Criança e o Adolescente',
       'Ministério da Mulher, Família e Direitos Humanos - Unidades com vínculo direto',
       'Ministério da Previdência Social - Unidades com vínculo direto',
       'Fundação Nacional de Saúde',
       'Agência Nacional de Saúde Suplementar',
       'Ministério da Saúde - Unidades com vínculo direto',
       'Fundação Oswaldo Cruz',
       'Hospital Nossa Senhora da Conceição S.A.',
       'Agência Nacional de Vigilância Sanitária',
       'Fundo de Universalização dos Serviços de Telecomunicações',
       'Agêncial Nacional de Telecomunicações',
       'Fundo para o Desenvolvimento Tecnológico das Telecomunicações',
       'Empresa Brasil de Comunicação', 'Fundação Alexandre de Gusmão',
       'Ministério das Relações Exteriores - Unidades com vínculo direto',
       'Agência Nacional de Mineração',
       'Agência Nacional do Petróleo, Gás Natural e Biocombustíveis',
       'Empresa de Pesquisa Energética',
       'Departamento Nacional de Produção Mineral',
       'Companhia de Pesquisa de Recursos Minerais',
       'Agência Nacional de Energia Elétrica',
       'Ministério de Minas e Energia - Unidades com vínculo direto',
       'Nuclebrás Equipamentos Pesados S.A.',
       'Indústrias Nucleares do Brasil',
       'Departamento Nacional de Obras Contra as Secas',
       'Fundo Constitucional de Financiamento do Norte',
       'Companhia de Desenvolvimento dos Vales do São Francisco e do Parnaíba',
       'Fundo de Desenvolvimento do Nordeste',
       'Superintendência do Desenvolvimento do Nordeste',
       'Companhia Brasileira de Trens Urbanos',
       'Fundo Constitucional de Financiamento do Centro-Oeste',
       'Fundo de Desenvolvimento do Centro-Oeste',
       'Ministério do Desenvolvimento Regional - Unidades com vínculo direto',
       'Agência Nacional de Águas',
       'Fundo Constitucional de Financiamento do Nordeste',
       'Superintendência do Desenvolvimento da Amazônia',
       'Superintendência de Desenvolvimento do Centro-Oeste',
       'Fundo de Desenvolvimento da Amazônia',
       'Empresa de Trens Urbanos de Porto Alegre',
       'Fundo Nacional de Habitação de Interesse Social',
       'Autoridade Pública Olímpica',
       'Instituto Brasileiro do Meio Ambiente e dos Recursos Naturais Renováveis',
       'Instituto Chico Mendes de Conservação da Biodiversidade',
       'Instituto de Pesquisas Jardim Botânico do Rio de Janeiro',
       'Fundo Nacional do Meio Ambiente',
       'Ministério do Meio Ambiente - Unidades com vínculo direto',
       'Fundo Nacional sobre Mudança no Clima',
       'Fundo Nacional de Cultura', 'Fundo Geral de Turismo',
       'Fundação Biblioteca Nacional', 'Agência Nacional do Cinema',
       'Instituto Brasileiro de Museus',
       'Instituto do Patrimônio Histórico e Artístico Nacional',
       'Instituto Brasileiro de Turismo',
       'Ministério do Turismo - Unidades com vínculo direto',
       'Fundação Nacional de Artes', 'Fundação Casa de Rui Barbosa',
       'Presidência da República', 'Fundo de Imprensa Nacional',
       'Instituto Nacional de Tecnologia da Informação'], dtype=object)

Los 10 NOMBRE_ÓRGANO que MAS aparecen son:

                                                    count  Porcentaje_recuento
NOMBRE_ÓRGANO
Ministério da Economia - Unidades com vínculo d...  22844                13.13
Fundo do Exército                                    4319                 2.48
Comando da Marinha - Fundo Naval                     4042                 2.32
Fundo Nacional de Cultura                            2786                 1.60
Empresa Brasileira de Pesquisa Agropecuária          2505                 1.44
Instituto Brasileiro do Meio Ambiente e dos Rec...   2243                 1.29
Fundo Aeronáutico                                    2002                 1.15
Fundo Nacional de Desenvolvimento Científico e ...   1924                 1.11
Instituto Nacional de Metrologia, Qualidade e T...   1885                 1.08
Fundo do Regime Geral da Previdência Social          1755                 1.01

Los 10 NOMBRE_ÓRGANO que MENOS aparecen son:

                                                    count  Porcentaje_recuento
NOMBRE_ÓRGANO
Companhia Docas do Espírito Santo                      10                 0.01
Ministério da Infraestrutura - Unidades com vín...      9                 0.01
Empresa de Pesquisa Energética                          5                 0.00
Companhia Docas do Pará                                 5                 0.00
Companhia Docas do Rio Grande do Norte                  2                 0.00
Reserva de Contingência                                 1                 0.00
Agência Espacial Brasileira                             1                 0.00
Ministério da Previdência Social - Unidades com...      1                 0.00
Fundo Nacional de Segurança Pública                     1                 0.00
Ministério da Mulher, Família e Direitos Humano...      1                 0.00

 Las distribución de las repeticiones de los NOMBRE_ÓRGANO son:

       count  % repetición
count
1          5          1.92
33         3          1.15
657        2          0.77
754        2          0.77
757        2          0.77
...      ...           ...
16         1          0.38
10         1          0.38
11         1          0.38
9          1          0.38
2          1          0.38

[232 rows x 2 columns]

None
La categoría CÓDIGO_UNIDAD_GESTORA tiene 314 elementos diferentes:

Los elementos de la categoría son:

array(['110060', '370001', '135100', '373001', '135037', '130101',
       '440088', '110745', '110690', '130137', '490003', '330013',
       '180077', '420002', '550002', '240901', '113209', '240101',
       '203001', '240102', '364001', '415001', '245209', '365001',
       '167086', '673001', '121002', '873001', '110407', '211999',
       '120002', '168002', '773001', '160075', '120999', '123001',
       '773008', '699999', '773009', '164204', '170010', '170013',
       '380910', '510001', '513001', '173057', '173065', '183023',
       '201924', '170196', '170266', '170358', '173030', '170073',
       '170204', '806001', '114601', '287001', '170086', '170229',
       '170232', '179083', '170167', '170107', '400042', '170285',
       '201002', '225001', '280102', '170233', '113601', '170033',
       '170238', '170380', '170268', '170154', '170008', '170215',
       '179103', '170474', '193028', '114702', '170392', '170381',
       '170101', '183038', '170076', '264001', '170237', '170231',
       '170267', '390001', '170234', '170265', '333001', '170356',
       '170026', '170230', '173039', '170357', '155007', '158137',
       '153032', '153173', '153079', '158131', '154040', '153163',
       '158121', '153062', '153103', '153080', '154046', '153115',
       '158150', '154055', '158151', '153114', '158123', '154045',
       '154502', '158148', '153056', '155001', '153046', '158717',
       '154032', '153045', '158565', '158099', '158128', '158515',
       '153028', '154503', '158127', '154080', '154039', '158147',
       '153036', '158135', '153164', '154042', '153038', '153035',
       '158718', '158146', '154054', '153166', '158139', '153063',
       '158157', '158141', '154999', '158129', '158133', '158154',
       '154047', '158720', '153019', '153165', '154048', '158126',
       '158517', '153167', '153015', '153031', '153061', '158142',
       '344002', '153033', '158124', '154044', '153030', '154421',
       '158658', '158132', '154043', '154003', '158143', '154034',
       '154069', '154359', '153037', '158155', '158136', '153065',
       '158516', '158274', '158134', '154419', '158719', '158195',
       '153010', '154041', '158092', '158122', '154051', '158138',
       '154050', '158009', '153978', '158153', '153052', '158145',
       '158125', '154049', '150014', '158152', '153034', '158149',
       '158144', '154215', '158156', '393001', '113214', '200320',
       '393003', '275075', '396005', '396001', '396006', '682010',
       '396003', '395001', '277001', '396004', '390002', '110591',
       '396002', '399002', '200333', '200336', '200246', '200331',
       '303001', '200401', '194088', '194040', '200094', '200109',
       '307002', '307001', '810002', '330002', '255014', '253003',
       '250088', '255011', '254420', '255000', '366003', '255003',
       '253002', '255008', '255015', '413047', '413001', '410007',
       '115406', '110244', '244001', '240005', '323100', '323030',
       '325001', '323002', '495001', '323028', '320002', '113208',
       '113206', '113802', '537002', '195006', '533009', '533014',
       '275068', '537003', '537004', '560003', '443003', '537001',
       '533013', '530002', '533018', '533008', '275060', '560015',
       '913001', '193034', '443032', '193129', '193120', '443019',
       '193114', '443045', '440002', '193125', '447001', '193112',
       '193107', '340002', '187002', '344042', '203003', '423001',
       '403101', '185001', '540001', '403201', '344001', '110005',
       '110245', '243001'], dtype=object)

Los 10 CÓDIGO_UNIDAD_GESTORA que MAS aparecen son:

                       count  Porcentaje_recuento
CÓDIGO_UNIDAD_GESTORA
170013                 21206                12.19
167086                  4319                 2.48
673001                  3329                 1.91
340002                  2786                 1.60
135037                  2505                 1.44
193034                  2229                 1.28
121002                  2002                 1.15
240901                  1924                 1.11
183023                  1885                 1.08
513001                  1755                 1.01

Los 10 CÓDIGO_UNIDAD_GESTORA que MENOS aparecen son:

                       count  Porcentaje_recuento
CÓDIGO_UNIDAD_GESTORA
810002                     1                 0.00
200331                     1                 0.00
255011                     1                 0.00
255003                     1                 0.00
330002                     1                 0.00
255014                     1                 0.00
255008                     1                 0.00
255015                     1                 0.00
110244                     1                 0.00
560003                     1                 0.00

 Las distribución de las repeticiones de los CÓDIGO_UNIDAD_GESTORA son:

       count  % repetición
count
2         34         10.83
1         13          4.14
33         3          0.96
657        2          0.64
757        2          0.64
...      ...           ...
19         1          0.32
9          1          0.32
10         1          0.32
11         1          0.32
13         1          0.32

[243 rows x 2 columns]

None
La categoría NOMBRE_UNIDAD_GESTORA tiene 312 elementos diferentes:

Los elementos de la categoría son:

array(['COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU',
       'DIRETORIA DE GESTAO INTERNA(CGU)',
       'COMPANHIA NACIONAL DE ABASTECIMENTO',
       'DPTO. DE ADMINISTRACAO FINANCEIRA-DAF - INCRA',
       'EMBRAPA-SETORIAL', 'COORD.-GERAL DE ORCAMENTO E FINANCAS-MAPA',
       'SETORIAL PROG.ORCAMENTARIA E FINANCEIRA-SFB',
       'SECRETARIA ESPECIAL DE AQUICULTURA E PESCA/PR',
       'SEC.ESPEC.DE AGRIC.FAMIL.E DO DESENV.AGRARIO',
       'FUNDO DE DEFESA DA ECON.CAFEEIRA/FUNCAFE/SPA',
       'CREDITO FUNDIARIO', 'FUNDO NACIONAL DE ASSISTENCIA SOCIAL',
       'SETORIAL ORCAMENTARIA E FINANCEIRA - (ME)',
       'COORD.GERAL DE PLAN. ORC. FIN. E CONTAB./MINC',
       'SETORIAL DE ORCAMENTO E FINANCAS/MC',
       'FUNDO NAC.DE DESENV. CIENT. E TECNOLOGICO',
       'CNEN-ORCAMENTO E FINANCAS',
       'COORDENACAO-GERAL DE RECURSOS LOGISTICOS',
       'AGENCIA ESPACIAL BRASILEIRA/AEB',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS',
       'CNPQ - ADMINISTRACAO CENTRAL',
       'EMPRESA BRASILEIRA DE CORREIOS E TELEGRAFOS',
       'CENTRO NACIONAL DE TECNOLOGIA ELETRONICA AVAN',
       'FINANCIADORA DE ESTUDOS E PROJETOS', 'FUNDO DO EXERCITO',
       'DIRETORIA DE FINANCAS-SISTEMA PARA O PAIS/MM',
       'SECRETARIA DE ECON. E FIN.DA AER.- F.AER.',
       'DEPARTAMENTO DE PLANEJ, ORC E FINANCAS (MD)',
       'MARINHA - DIFERENCA CAMBIAL',
       'DIRETORIA DE ECON E FINANCAS DA AERONAUTICA',
       'INDUSTRIA DE MATERIAL BELICO DO BRASIL/GESTOR',
       'DIRETORIA DE FINANCAS DA MARINHA-SISTEMA-PAIS',
       'D CONT - SETORIAL FINANCEIRA', 'MAER - DIFERENCA CAMBIAL',
       'CAIXA FINANCIAMENTO IMOBILIARIO AERONAUTICA',
       'DIRETORIA DE FINANCAS DA MARINHA - CCCPM',
       'FUNDO NAVAL - DIFERENCA CAMBIAL',
       'DIRETORIA DE FINANCAS DA MARINHA - AMAZUL', 'FUNDACAO OSORIO',
       'SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB',
       'SETORIAL ORCAMENTARIA E FINANCEIRA / ME',
       'COORD-GERAL DE ORCAMENTO, FIN. E CONT.- CGOFC',
       'COORD.GERAL DE ORCAMENTO, FINANCAS E CONTAB.',
       'COORDENACAO DE ORCAMENTO E FINANCAS DO FRGPS',
       'BANCO CENTRAL DO BRASIL', 'FUNDO CONTINGENTE DA EXTINTA RFFSA-FC',
       'INSTITUTO NAC.DE METROLOG. QUALID. E TECNOLOG',
       'FUNDO NACIONAL DE DESENVOLVIMENTO',
       'PROCURADORIA DA FAZENDA NACI0NAL/GO',
       'PROCURADORIA-REGIONAL DA FAZENDA NACIONAL/PE',
       'PROCURADORIA DA FAZ.NAC. NO ESTADO DO AMAPA',
       'COMISSAO DE VALORES MOBILIARIOS',
       'PROCURADORIA DA FAZENDA NACIONAL-SE',
       'PROCURADORIA-REGIONAL DA FAZ.NAC.1A.REGIAO/DF',
       'SERPRO-SEDE - DEPARTAMENTO FINANCEIRO',
       'FUNDACAO IBGE-ADMINISTRACAO CENTRAL/RJ',
       'FUNDO DE GAR.P/PROMOC.DA COMPETITIVIDADE±FGPC',
       'PROCURADORIA DA FAZENDA NACIONAL - MG',
       'PROCURADORIA DA FAZENDA NACIONAL/MT',
       'PROCURADORIA DA FAZENDA NACIONAL/AL', 'CASA DA MOEDA DO BRASIL',
       'PROCURADORIA DA FAZENDA NACIONAL/SC',
       'PROCURADORIA DA FAZENDA NACIONAL-MS',
       'COORD-GERAL DE ORC., FIN. E CONT.-CGOFC (MTP)',
       'PROCURADORIA FAZ.NACIONAL NO EST.TOCANTINS',
       'COORDENACAO-GERAL DE ORC. E FINANCAS/MP',
       'CIA.DE ENTREPOSTOS E ARMAZENS GER.DE S.PAULO',
       'COORDENACAO-GERAL DE ORCAM.FINAN.CONTAB/MDIC',
       'PROCURADORIA DA FAZENDA NACIONAL/AM',
       'INSTITUTO DE PESQUISA ECONOMICA APLICADA',
       'PROCURADORIA DA FAZENDA NACIONAL - PI',
       'PROCURADORIA DA FAZENDA NACIONAL/RR',
       'FUNDO DE APOIO AO DESENVOLVIMENTO SOCIAL',
       'PROCURADORIA-REGIONAL DA FAZENDA NACIONAL/SP',
       'PROCURADORIA DA FAZENDA NACIONAL-PR',
       'PROCURADORIA GERAL DA FAZENDA NACIONAL',
       'PROCURADORIA DA FAZENDA NACIONAL/PA',
       'FUNDO DE ESTABILIDADE DO SEGURO RURAL',
       'FUNDO SOBERANO DO BRASIL',
       'SUPERINTENDENCIA DA ZONA FRANCA DE MANAUS/AM',
       'FUNDACAO ESCOLA NACIONAL DE ADM. PUBLICA',
       'FUNDO CONSTITUCIONAL DO DISTRITO FEDERAL',
       'FUNDO DE COMPENSACAO E VARIACAO SALARIAL',
       'PROCURADORIA DA FAZENDA NACIONAL-ES',
       'INSTITUTO NACIONAL DA PROPRIEDADE INDUSTRIAL',
       'PROCURADORIA DA FAZENDA NACIONAL - BA',
       'FUNDACENTRO - FUND.JORGE DUPRAT/CTN/SEDE - SP',
       'PROCURADORIA DA FAZENDA NACIONAL/AC',
       'PROCURADORIA DA FAZENDA NACIONAL/PB',
       'PROCURADORIA-REGIONAL DA FAZENDA NACIONAL/RJ',
       'RESERVA DE CONTINGENCIA/MEFP',
       'PROCURADORIA DA FAZENDA NACIONAL/RN',
       'PROCURADORIA REGIONAL DA F.NACIONAL/4A REGIAO',
       'COORD.GERAL DE ORC. FIN. E CONTABILIDADE',
       'FUNDO DE GARANTIA A EXPORTACAO-BNDES',
       'PROCURADORIA DA FAZENDA NACIONAL - MA',
       'PROCURADORIA DA FAZENDA NACIONAL/CE',
       'SUPERINTENDENCIA DE SEGUROS PRIVADOS - RJ',
       'PROCURADORIA DA FAZENDA NACIONAL EM RONDONIA',
       'EMPRESA BRASILEIRA DE SERVICOS HOSPITALARES',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO SUL DE MG',
       'UNIVERSIDADE FEDERAL DE LAVRAS',
       'FUNDO NACIONAL DE DESENVOLVIMENTO DA EDUCACAO',
       'UNIVERSIDADE FEDERAL DO PARANA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO TOCANTINS',
       'FUNDACAO UNIVERSIDADE DE BRASILIA - FUB',
       'UNIVERSIDADE FEDERAL DE SANTA CATARINA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO NORTE DE MG',
       'UNIVERSIDADE FEDERAL DE MINAS GERAIS',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE DO NORTE',
       'UNIVERSIDADE FEDERAL DE PERNAMBUCO',
       'UNIVERSIDADE FEDERAL DE OURO PRETO',
       'UNIVERSIDADE FEDERAL DO RIO DE JANEIRO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO AMAPA',
       'FUNDACAO UNIVERSIDADE FEDERAL DE RONDONIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO ESP.SANTO',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE DO SUL',
       'INSTITUTO FED CIENCIA TECNOL SUDESTE MG',
       'FUNDACAO UNIVERSIDADE FEDERAL DE MATO GROSSO',
       'FUNDACAO UNIVERSIDADE FED. DA GRANDE DOURADOS',
       'INST. FED. DE EDUC.,CIENC. E TEC. DE RONDONIA',
       'UNIVERSIDADE FEDERAL FLUMINENSE',
       'HOSPITAL DE CLINICAS DE PORTO ALEGRE',
       'UNIVERSIDADE FEDERAL DO ESPIRITO SANTO',
       'UNIVERSIDADE FEDERAL DO OESTE DA BAHIA',
       'FUND.UNIV.FED.DE.CIENC.DA SAUDE DE P.ALEGRE',
       'UNIVERSIDADE FEDERAL DO CEARA',
       'UNIV.DA INTEG.INTERN.DA LUSOF.AFRO-BRASILEIRA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO TRIA.MINEIRO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MARANHAO',
       'UNIVERSIDADE FEDERAL DO OESTE DO PARA',
       'UNIVERSIDADE FEDERAL DE ALFENAS',
       'FUNDACAO UNIVERSIDADE FEDERAL DO ABC',
       'INST.FED.DE EDUC.,CIENC.E TEC.FARROUPILHA',
       'UNIVERSIDADE FEDERAL DE RORAIMA',
       'FUNDACAO UNIVERSIDADE DO AMAZONAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE ALAGOAS',
       'UNIVERSIDADE FED.VALES JEQUITINHONHA E MUCURI',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO PARA',
       'UNIVERSIDADE FEDERAL DE SANTA MARIA',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE - FURG',
       'UNIVERSIDADE FEDERAL DA BAHIA',
       'UNIVERSIDADE FEDERAL DO TRIANGULO MINEIRO',
       'UNIVERSIDADE FEDERAL DO SUL E SUDESTE DO PARA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO PIAUI',
       'FUNDACAO UNIVERS.FED. DE MATO GROSSO DO SUL',
       'UNIVERSIDADE FEDERAL RURAL DO RIO DE JANEIRO',
       'INST.FED.DE EDUC.,CIENC.E TEC.FLUMINENSE',
       'UNIVERSIDADE FEDERAL DO PARA', 'REITORIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO RS', 'CAPES - DIFERENCA CAMBIAL',
       'INST FED DE EDUC CIENC E TECNOLOGIA BAIANO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO CEARA',
       'INSTITUTO FEDERAL DE SAO PAULO',
       'FUNDACAO UNIVERSIDADE FEDERAL DE PELOTAS',
       'UNIVERSIDADE FEDERAL DO SUL DA BAHIA',
       'UNIVERSIDADE TECNOLOGICA FEDERAL DO PARANA',
       'UNIVERSIDADE FEDERAL RURAL DE PERNAMBUCO',
       'FUNDACAO UNIVERSIDADE FEDERAL DO PIAUI',
       'INST.FED.DE EDUC.,CIE.E TEC.SUL-RIO-GRANDENSE',
       'UNIVERSIDADE FEDERAL DA FRONTEIRA SUL', 'COLEGIO PEDRO II',
       'CENTRO FEDERAL DE EDUCACAO TECNOLOGICA DE MG',
       'UNIFESP-UNIVERSIDADE FEDERAL DE SAO PAULO',
       'UNIVERSIDADE FEDERAL DE JUIZ DE FORA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO AMAZONAS',
       'FUNDACAO JOAQUIM NABUCO',
       'UNIVERSIDADE FEDERAL RURAL DO SEMI-ARIDO - RN', 'IF GOIANO',
       'FUNDACAO UNIVERSIDADE FEDERAL DO ACRE',
       'UNIVERSIDADE FEDERAL DE ITAJUBA',
       'FUND. UNIVERSIDADE FEDERAL VALE SAO FRANCISCO',
       'UNIV. FEDERAL DA INTEGRACAO LATINO-AMERICANA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MAT.G.DO SUL',
       'FUNDACAO UNIVERSIDADE FEDERAL DE UBERLANDIA',
       'FUND.COORD.DE APERF.DE PESSOAL NIVEL SUPERIOR',
       'IFB - REITORIA - BRASILIA-DF',
       'UNIRIO UNIVERSIDADE FEDERAL DO ESTADO RJ',
       'FUNDACAO UNIVERSIDADE FEDERAL DE S.J.DEL-REI',
       'FUNDACAO UNIVERSIDADE FEDERAL DO PAMPA',
       'UNIVERSIDADE FEDERAL DE ALAGOAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO RN',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE PERNAMBUCO',
       'UNIVERSIDADE FEDERAL DA PARAIBA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE STA.CAT/IFSC',
       'INST.FED. FLUMINENSE/CAMPUS CAMPOS-CENTRO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE SERGIPE',
       'FUNDACAO UNIVERSIDADE FEDERAL DO TOCANTINS',
       'UNIVERSIDADE FEDERAL DO CARIRI',
       'UNIVERSIDADE FEDERAL DE CAMPINA GRANDE',
       'CENTRO FED.DE EDUC.TECNOL.CELSO S.DA FONSECA',
       'FUNDACAO UNIVERSIDADE DO MARANHAO',
       'UNIVERSIDADE FEDERAL DO RECONCAVO DA BAHIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE MINAS GERAIS',
       'UNIVERSIDADE FEDERAL DE VICOSA', 'IFPB - REITORIA',
       'FUNDACAO UNIVERSIDADE FEDERAL DE SERGIPE',
       'INST. FED. DO PARANA/ REITORIA',
       'INST.NACIONAL DE EST.E PESQUISAS EDUCACIONAIS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE GOIAS',
       'UNIVERSIDADE FEDERAL DE GOIAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DA BAHIA',
       'INSTITUTO FEDERAL CATARINENSE - REITORIA',
       'FUNDACAO UNIVERSIDADE FEDERAL DE SAO CARLOS',
       'SUBSECRETARIA DE PLANEJ. E ORCAMENTO SPO(MEC)',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE RORAIMA',
       'UNIVERSIDADE FEDERAL RURAL DA AMAZONIA',
       'INST.FED.DE ED.,CIENC.E TEC.DO S.PERNAMBUCANO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MATO GROSSO',
       'FUNDACAO UNIVERSIDADE FEDERAL DO AMAPA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO ACRE',
       'AGENCIA NACIONAL DE TRANSPORTES TERRESTRES',
       'AGENCIA NACIONAL DE AVIACAO CIVIL',
       'FUNDO NACIONAL DE SEG. E EDUCACAO DE TRANSITO',
       'DEPART.NAC.INFRA ESTRUTURA TRANSPORTES.',
       'VALEC ENGENHARIA CONSTRUCOES E FERROVIAS S/A.',
       'COMPANHIA DOCA DO RIO GRANDE DO NORTE',
       'COMPANHIA DOCAS DO RIO DE JANEIRO',
       'COMPANHIA DOCAS DO ESTADO DE SAO PAULO',
       'AGENCIA NACIONAL DE TRANSPORTES AQUAVIARIOS',
       'COMPANHIA DOCAS DO CEARA',
       'EMPRESA DE PLANEJAMENTO E LOGISTICA S.A - EPL',
       'FUNDO DA MARINHA MERCANTE', 'COMPANHIA DOCAS DO PARA',
       'SUBSECRETARIA DE PLAN.,ORCAM.E ADMIN.SETORIAL',
       'FUNDO NACIONAL DE AVIACAO CIVIL',
       'COMPANHIA DOCAS DO ESTADO DA BAHIA',
       'COMPANHIA DOCAS DO ESPIRITO SANTO', 'DEPEN - DIRETORIA EXECUTIVA',
       'COORDENACAO DE ORCAMENTO FINANCAS CONTABILIDA',
       'FUNDO NACIONAL ANTIDROGAS',
       'FUNDO NACIONAL DE SEGURANCA PUBLICA - FNSP',
       'CONSELHO ADMINISTRATIVO DE DEFESA ECONOMICA',
       'FUNDO DE DEFESA DOS DIREITOS DIFUSOS',
       'FUNDACAO NACIONAL DO INDIO - U.O.',
       'RENDA DO PATRIMONIO INDIGENA',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS-MJ',
       'DEPTO.DE POLICIA RODOVIARIA FEDERAL', 'FUNDO NACIONAL DO IDOSO',
       'FUNDO NACIONAL PARA A CRIANCA E O ADOLESCENTE',
       'SETORIAL ORCAMENTARIA E FINANCEIRA - MDH',
       'COORDENACAO-GERAL DE ORC. FIN.E CONTABILIDADE',
       'FUNDACAO NACIONAL DE SAUDE - PA',
       'AGENCIA NACIONAL DE SAUDE SUPLEMENTAR',
       'SPO-COORD.-GERAL DE ORC.E FINANCAS/MS',
       'FUNDACAO NACIONAL DE SAUDE - MT', 'FUNDACAO OSWALDO CRUZ',
       'FUNDACAO NACIONAL DE SAUDE - DF',
       'HOSPITAL NOSSA SENHORA DA CONCEICAO S/A',
       'FUNDACAO NACIONAL DE SAUDE - AP',
       'AGENCIA NACIONAL DE VIGILANCIA SANITARIA',
       'FUNDACAO NACIONAL DE SAUDE - ES',
       'FUNDACAO NACIONAL DE SAUDE - PB',
       'FUNDO DE UNIVERS.DOS SERV.TELECOMUNICACOES',
       'AGENCIA NACIONAL DE TELECOMUNICACOES-SEDE',
       'FUNDO P/O DESENV.TECNOL.DAS TELECOMUNICACOES',
       'EMPRESA BRASIL DE COMUNICACAO S.A',
       'FUNDACAO ALEXANDRE DE GUSMAO',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS-MRE',
       'SETORIAL ORCAMENTARIA E FINANCEIRA - ANM',
       'AG. NAC.DO PETROLEO GAS NAT.E BIOCOM',
       'EMPRESA DE PESQUISA ENERGETICA',
       'DEPARTAMENTO NAC. DE PRODUCAO MINERAL - SEDE',
       'COMPANHIA DE PESQUISA DE RECURSOS MINERAIS',
       'AGENCIA NACIONAL DE ENERGIA ELETRICA',
       'COORD.GERAL DE ORCAM.E FIN./M.M.E',
       'NUCLEBRAS EQUIPAMENTOS PESADOS S/A-NUCLEP',
       'INDUSTRIAS NUCLEARES DO BRASIL S/A - INB',
       'DEPARTAMENTO NAC. DE OBRAS CONTRA AS SECAS/UO',
       'FUNDO CONSTITUCIONAL FINANCIAMENTO NORTE',
       'CIA DE DES.DOS VALES DO S.FRANC.E DO PARNAIBA',
       'FUNDO DE DESENVOLVIMENTO DO NORDESTE',
       'SUPERINTENDENCIA DO DESENVOLV. DO NORDESTE',
       'CIA BRASILEIRA DE TRENS URBANOS-ADM.CENTRAL',
       'FUNDO CONSTITUCIONL DO CENTRO OESTE',
       'FUNDO DE DESENVOLVIMENTO DO CENTRO-OESTE',
       'SECRETARIA EXECUTIVA - MINISTERIO DAS CIDADES',
       'COORDENACAO DE ORCAMENTO E FINANCAS.',
       'FUNDO CONSTITUCIONAL DE FINANCIAM.DO NORDESTE',
       'SUPERINTEND. DO DESENVOLVIMENTO DA AMAZONIA',
       'ORCAMENTO E FINANCAS/MDR',
       'SUPERINT. DO DESENVOLVIMENTO DO CENTRO-OESTE',
       'FUNDO DE DESENVOLVIMENTO DA AMAZONIA',
       'EMPRESA DE TRENS URBANOS DE PORTO ALEGRE S/A',
       'FUNDO NACIONAL DE HABIT. DE INTERESSE SOCIAL',
       'AUTORIDADE PUBLICA OLIMPICA',
       'IBAMA - INST.BRASILEIRO MEIO AMBIENTE/MATRIZ',
       'INST.CHICO MENDES DE CONSER.DA BIODIVERSIDADE',
       'IBAMA - SUPERINTENDENCIA DE SAO PAULO/SP',
       'IBAMA - SUPERINTENDENCIA RIO GRANDE NORTE/RN',
       'COORD. DE PLAN. ORCAMENTO E FIN./COPLAN/JBRJ',
       'IBAMA - SUPERINTENDENCIA DO PARA/PA',
       'SETORIAL ORCAMENTARIA E FINANCEIRA DO FNMA',
       'SUBSECRET.PLANEJAM.ORCAM.E ADMINIST±SPOA(MMA)',
       'IBAMA - SUPERINTENDENCIA DE SANTA CATARINA/SC',
       'SETORIAL ORCAMENTARIA E FINANCEIRA DO FNMC',
       'IBAMA - SUPERINTENDENCIA MATO GROSSO SUL/MS',
       'IBAMA - SUPERINTENDENCIA DO ESPIRITO SANTO/ES',
       'COORD.GERAL DE PLAN. ORC. FIN. E CONTAB/FNC',
       'FUNDO GERAL DE TURISMO-FUNGETUR', 'FUNDACAO BIBLIOTECA NACIONAL',
       'AGENCIA NACIONAL DO CINEMA',
       'INSTITUTO BRASILEIRO DE MUSEUS - IBRAM',
       'INSTITUTO DO PATRIMONIO HIST. E ART. NACIONAL',
       'INSTITUTO BRASILEIRO DE TURISMO - EM EXTINCAO',
       'CGOFC - SETORIAL/MTUR', 'FUNDACAO NACIONAL DE ARTES',
       'FUNDACAO CASA DE RUI BARBOSA',
       'SECRETARIA DE ADMINISTRACAO-SET.ORC.E FIN./PR',
       'FUNDO DE IMPRENSA NACIONAL/EXEC.ORC.FINANC.',
       'INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI'], dtype=object)

Los 10 NOMBRE_UNIDAD_GESTORA que MAS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_UNIDAD_GESTORA
SETORIAL ORCAMENTARIA E FINANCEIRA / ME        21206                12.19
FUNDO DO EXERCITO                               4319                 2.48
DIRETORIA DE FINANCAS-SISTEMA PARA O PAIS/MM    4049                 2.33
COORD.GERAL DE PLAN. ORC. FIN. E CONTAB/FNC     2786                 1.60
EMBRAPA-SETORIAL                                2505                 1.44
IBAMA - INST.BRASILEIRO MEIO AMBIENTE/MATRIZ    2229                 1.28
SECRETARIA DE ECON. E FIN.DA AER.- F.AER.       2002                 1.15
FUNDO NAC.DE DESENV. CIENT. E TECNOLOGICO       1924                 1.11
INSTITUTO NAC.DE METROLOG. QUALID. E TECNOLOG   1885                 1.08
COORDENACAO DE ORCAMENTO E FINANCAS DO FRGPS    1755                 1.01

Los 10 NOMBRE_UNIDAD_GESTORA que MENOS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_UNIDAD_GESTORA
FUNDO NACIONAL DE SEGURANCA PUBLICA - FNSP         1                 0.00
FUNDACAO NACIONAL DE SAUDE - MT                    1                 0.00
FUNDACAO NACIONAL DE SAUDE - AP                    1                 0.00
FUNDACAO NACIONAL DE SAUDE - PB                    1                 0.00
FUNDACAO NACIONAL DE SAUDE - ES                    1                 0.00
FUNDACAO NACIONAL DE SAUDE - PA                    1                 0.00
COORDENACAO-GERAL DE ORC. FIN.E CONTABILIDADE      1                 0.00
SETORIAL ORCAMENTARIA E FINANCEIRA - MDH           1                 0.00
SECRETARIA EXECUTIVA - MINISTERIO DAS CIDADES      1                 0.00
AGENCIA ESPACIAL BRASILEIRA/AEB                    1                 0.00

 Las distribución de las repeticiones de los NOMBRE_UNIDAD_GESTORA son:

       count  % repetición
count
2         34         10.90
1         12          3.85
33         3          0.96
657        2          0.64
612        2          0.64
...      ...           ...
19         1          0.32
9          1          0.32
10         1          0.32
11         1          0.32
13         1          0.32

[242 rows x 2 columns]

None
La categoría CATEGORÍA_ECONÓMICA tiene 5 elementos diferentes:

Los elementos de la categoría son:

array(['Receitas Correntes', 'Receitas de Capital',
       'Receitas Correntes - intra-orçamentárias', 'Sem informação',
       'Receitas de Capital - intra-orçamentárias'], dtype=object)

Los 10 CATEGORÍA_ECONÓMICA que MAS aparecen son:

                                            count  Porcentaje_recuento
CATEGORÍA_ECONÓMICA
Receitas Correntes                         165585                95.19
Receitas de Capital                          5308                 3.05
Receitas Correntes - intra-orçamentárias     2968                 1.71
Sem informação                                 67                 0.04
Receitas de Capital - intra-orçamentárias      16                 0.01

Los 10 CATEGORÍA_ECONÓMICA que MENOS aparecen son:

                                            count  Porcentaje_recuento
CATEGORÍA_ECONÓMICA
Receitas Correntes                         165585                95.19
Receitas de Capital                          5308                 3.05
Receitas Correntes - intra-orçamentárias     2968                 1.71
Sem informação                                 67                 0.04
Receitas de Capital - intra-orçamentárias      16                 0.01

 Las distribución de las repeticiones de los CATEGORÍA_ECONÓMICA son:

        count  % repetición
count
165585      1         20.00
5308        1         20.00
2968        1         20.00
67          1         20.00
16          1         20.00

None
La categoría ORIGEN_INGRESO tiene 15 elementos diferentes:

Los elementos de la categoría son:

array(['Receitas Correntes - a classificar', 'Transferências Correntes',
       'Receita de Serviços', 'Outras Receitas Correntes',
       'Operações de Crédito', 'Alienação de Bens', 'Contribuições',
       'Receita Patrimonial',
       'Impostos, Taxas e Contribuições de Melhoria',
       'Amortizações de Empréstimos', 'Transferências de Capital',
       'Receita Agropecuária', 'Receita Industrial', 'Sem informação',
       'Outras Receitas de Capital'], dtype=object)

Los 10 ORIGEN_INGRESO que MAS aparecen son:

                                             count  Porcentaje_recuento
ORIGEN_INGRESO
Receita de Serviços                          58581                33.68
Outras Receitas Correntes                    47838                27.50
Receita Patrimonial                          29273                16.83
Impostos, Taxas e Contribuições de Melhoria  13887                 7.98
Contribuições                                11216                 6.45
Receita Industrial                            3488                 2.01
Receita Agropecuária                          2357                 1.36
Alienação de Bens                             2282                 1.31
Amortizações de Empréstimos                   1832                 1.05
Transferências Correntes                      1155                 0.66

Los 10 ORIGEN_INGRESO que MENOS aparecen son:

                                    count  Porcentaje_recuento
ORIGEN_INGRESO
Receita Industrial                   3488                 2.01
Receita Agropecuária                 2357                 1.36
Alienação de Bens                    2282                 1.31
Amortizações de Empréstimos          1832                 1.05
Transferências Correntes             1155                 0.66
Operações de Crédito                 1005                 0.58
Receitas Correntes - a classificar    758                 0.44
Outras Receitas de Capital            158                 0.09
Sem informação                         67                 0.04
Transferências de Capital              47                 0.03

 Las distribución de las repeticiones de los ORIGEN_INGRESO son:

       count  % repetición
count
58581      1          6.67
47838      1          6.67
29273      1          6.67
13887      1          6.67
11216      1          6.67
3488       1          6.67
2357       1          6.67
2282       1          6.67
1832       1          6.67
1155       1          6.67
1005       1          6.67
758        1          6.67
158        1          6.67
67         1          6.67
47         1          6.67

None
La categoría TIPO_INGRESO tiene 47 elementos diferentes:

Los elementos de la categoría son:

array(['Receitas Correntes - a classificar',
       'Transferências dos Estados e do Distrito Fede',
       'Serviços Administrativos e Comerciais Gerais',
       'Multas administrativas, contratuais e judicia',
       'Indenizações, restituições e ressarcimentos',
       'Operações de crédito - mercado externo',
       'Alienação de bens imóveis', 'Demais receitas correntes',
       'Contribuições econômicas',
       'Exploração do patrimônio imobiliário do Estad',
       'Contribuições sociais', 'Taxas', 'Amortizações de Empréstimos',
       'Transferências de Convênios', 'Exploração de recursos naturais',
       'Transferências de Instituições Privadas', 'Valores Mobiliários',
       'Transferências da União e de suas Entidades',
       'Receita Agropecuária', 'Alienação de bens móveis',
       'Receita Industrial', 'Indenizações e restituições',
       'Outros serviços', 'Operações de crédito - mercado interno',
       'Serviços e Atividades Financeiras',
       'Transferências dos Municípios e de suas Entid',
       'Bens, Direitos e Valores Incorporados ao Patr',
       'Transferências de Outras Instituições Pública',
       'Transferências Provenientes de Depósito Não I',
       'Transferências de Pessoas Físicas',
       'Delegação de Serviços Públicos Mediante Conce',
       'Cessão de direitos',
       'Serviços e Atividades Referentes à Navegação ',
       'Serviços e Atividades Referentes à Saúde',
       'Exploração do patrimônio intangível', 'Impostos',
       'Demais receitas patrimoniais', 'Sem informação',
       'Receita de concessões e permissões', 'Transferências do Exterior',
       'Resultado do Banco Central do Brasil',
       'Demais receitas de capital',
       'Remuneração das Disponibilidades do Tesouro',
       'Alienação de bens intangíveis',
       'Contribuições para Entidades Privadas de Serv',
       'Receitas de valores mobiliários', 'Resgate de Títulos do Tesouro'],
      dtype=object)

Los 10 TIPO_INGRESO que MAS aparecen son:

                                               count  Porcentaje_recuento
TIPO_INGRESO
Serviços Administrativos e Comerciais Gerais   51444                29.58
Multas administrativas, contratuais e judicia  19262                11.07
Indenizações, restituições e ressarcimentos    18339                10.54
Exploração do patrimônio imobiliário do Estad  16935                 9.74
Taxas                                          11271                 6.48
Demais receitas correntes                       8725                 5.02
Contribuições econômicas                        6318                 3.63
Valores Mobiliários                             5603                 3.22
Contribuições sociais                           4887                 2.81
Exploração de recursos naturais                 3856                 2.22

Los 10 TIPO_INGRESO que MENOS aparecen son:

                                               count  Porcentaje_recuento
TIPO_INGRESO
Exploração do patrimônio intangível               18                 0.01
Contribuições para Entidades Privadas de Serv     11                 0.01
Alienação de bens intangíveis                      9                 0.01
Transferências do Exterior                         7                 0.00
Transferências de Convênios                        5                 0.00
Receitas de valores mobiliários                    4                 0.00
Transferências de Outras Instituições Pública      3                 0.00
Resultado do Banco Central do Brasil               3                 0.00
Demais receitas de capital                         1                 0.00
Resgate de Títulos do Tesouro                      1                 0.00

 Las distribución de las repeticiones de los TIPO_INGRESO son:

       count  % repetición
count
3          2          4.26
1          2          4.26
18339      1          2.13
19262      1          2.13
51444      1          2.13
8725       1          2.13
6318       1          2.13
5603       1          2.13
4887       1          2.13
3856       1          2.13
3488       1          2.13
16935      1          2.13
11271      1          2.13
2462       1          2.13
2616       1          2.13
2363       1          2.13
2357       1          2.13
1485       1          2.13
1466       1          2.13
1832       1          2.13
1752       1          2.13
807        1          2.13
758        1          2.13
557        1          2.13
468        1          2.13
448        1          2.13
337        1          2.13
1438       1          2.13
1366       1          2.13
182        1          2.13
216        1          2.13
153        1          2.13
151        1          2.13
96         1          2.13
67         1          2.13
146        1          2.13
140        1          2.13
35         1          2.13
56         1          2.13
18         1          2.13
11         1          2.13
7          1          2.13
9          1          2.13
4          1          2.13
5          1          2.13

None
La categoría DETALLE tiene 608 elementos diferentes:

Los elementos de la categoría son:

array(['Receitas Correntes - a classificar',
       'TRANSF.DOS ESTADOS,DF E SUAS ENTIDADES-PRINC.',
       'INSCR.EM CONCURSOS E PROC.SELETIVOS-PRINCIPAL',
       'MULTAS PREVISTAS EM LEGISL.ESPECIFICA-DIV.AT.',
       'OUTRAS RESTITUICOES-PRINCIPAL',
       'OP.DE CREDITO CONTRATUAIS-MERC.EXTERNO-PRINC.',
       'OUTROS RESSARCIMENTOS-PRINCIPAL',
       'ALIENACAO DE BENS IMOVEIS-MULTAS',
       'OUTRAS RECEITAS-PRIMARIAS-MULTAS E JUROS',
       'CONT.S/APOSTAS EM COMPETICOES HIPICAS-DIV.AT.',
       'ALIENACAO DE BENS IMOVEIS-PRINCIPAL',
       'ALUGUÉIS E ARRENDAMENTOS-PRINCIPAL-INTRA',
       'CONTRIBUIÇÃO INDUSTRIAL RURAL-PARCEL.-PRINC.',
       'ADICIONAL À CONTR.PREVIDENCIÁRIA RURAL-PRINC.',
       'TAXAS INSPEÇÃO,CONTROLE E FISCALIZ.-MUL.JUR.',
       'CONTRIBUICAO INDUSTRIAL RURAL-MULTAS E JUROS',
       'AMORTIZACAO DE EMPRESTIMOS CONTRATUAIS-PRINC.',
       'RESTIT.DE DESPESAS DE EXERC.ANTERIORES-PRINC.',
       'TRANSFERENCIAS DO EXTERIOR-PRINCIPAL',
       'CONCESSAO FLORESTAS NACIONAIS-VAL.MIN.-PRINC.',
       'CONCESSAO FLOREST.NACIONAIS-DEM.VAL.-MUL.JUR.',
       'CONCESSAO FLOREST.NACIONAIS-VAL.MIN.-MUL.JUR.',
       'CONCESSAO FLORESTAS NACIONAIS-DEM.VAL.-PRINC.',
       'SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.',
       'OUTRAS RECEITAS-PRIMARIAS-PRINCIPAL',
       'SERVICOS DE INFORMACAO E TECNOLOGIA-PRINCIPAL',
       'TRANSFERENCIAS DE INSTITUICOES PRIVADAS-PRINC',
       'REMUNERACAO DE DEPOSITOS BANCARIOS-PRINCIPAL',
       'TX.CONTR.E FISC.PESCA E AQUICULTURA-PRINC.',
       'ALUGUEIS E ARRENDAMENTOS-PRINCIPAL',
       'TX.CONTR.E FISC.PESCA E AQUICULTURA-MUL.JUR.',
       'TRANSFER.DA UNIAO E DE SUAS ENTIDADES-PRINC.',
       'CONTRIBUICAO INDUSTRIAL RURAL-DIVIDA ATIVA',
       'RECEITA AGROPECUÁRIA-PRINCIPAL',
       'CONTRIBUIÇÃO INDUSTRIAL RURAL-PRINCIPAL',
       'MULTAS PREVISTAS EM LEGISL.ESPECIFICA-PRINC.',
       'TAXAS INSPEÇÃO,CONTROLE E FISCALIZAÇÃO-PRINC.',
       'INDENIZ.P/DANOS CAUSADOS AO PATR.PUB.-PRINC.',
       'SERV.DE REGIST.,CERTIF.E FISCALIZ.-MUL.JUR.',
       'CONTRIBUIÇÃO INDUSTRIAL RURAL-DIV.AT-MUL.JUR.',
       'MULTAS E JUROS PREVISTOS EM CONTRATOS-MUL.JUR',
       'ALIENACAO DE BENS IMOVEIS-JUROS',
       'ALIEN.ESTOQ.PROG.AQUIS.ALIMENTOS-PAA-PRINC.',
       'RECEITA INDUSTRIAL-MULTAS E JUROS',
       'RESTIT.DE DESPESAS EXERC.ANTERIORES-MUL.JUR.',
       'OUTRAS RESTITUIÇÕES-PRINCIPAL-INTRA',
       'RECEITA AGROPECUÁRIA-MULTAS E JUROS',
       'CONTRIBUIÇÃO INDUSTRIAL RURAL-PARCEL.-MUL.JUR',
       'ALIENACAO DE TITULOS MOBILIARIOS-PRINCIPAL',
       'ALIENACAO DE BENS MOVEIS E SEMOVENTES-PRINC.',
       'ALUGUEIS E ARRENDAMENTOS-MULTAS E JUROS',
       'OUTROS RESSARCIMENTOS-MULTAS E JUROS',
       'MULTAS E JUROS PREVISTOS EM CONTRATOS-PRINC.',
       'RESTITUICAO DE CONVENIOS-PRIMARIAS-PRINCIPAL',
       'RECEITA INDUSTRIAL-PRINCIPAL', 'OUTROS SERVICOS-PRINCIPAL',
       'INDENIZACAO POR SINISTRO-PRINCIPAL',
       'SERV.ADMINISTRAT.E COMERCIAIS GERAIS-MUL.JUR.',
       'CONTRIBUICAO INDUSTRIAL RURAL-DIV.AT-MUL.JUR.',
       'DIVIDENDOS-PRINCIPAL',
       'CONTR.S/APOSTAS EM COMPETIÇÕES HÍPICAS-PRINC.',
       'INDENIZ.P/DANOS CAUSADOS AO PATR.PUB.-MUL.JUR',
       'AMORTIZACAO EMPRESTIMOS CONTRATUAIS-MUL.JUR.',
       'TITULOS DA DIVIDA AGRARIA-TDA-PRINCIPAL',
       'RETORNO DE OP.,JUR.E ENC.FINANCEIROS-PRINC.',
       'OUTRAS RECEITAS-FINANCEIRAS-DIVIDA ATIVA',
       'ALIENACAO DE ESTOQUES DE CAFE-FUNCAFE-DIV.AT.',
       'OUTRAS RECEITAS-PRIMARIAS-DIV.ATIVA-MUL.JUR.',
       'ALIENACAO DE ESTOQUES DE CAFE-FUNCAFE-PRINC.',
       'OUTRAS RECEITAS-PRIMÁRIAS-PRINCIPAL-INTRA',
       'OUTRAS RESTITUICOES-MULTAS E JUROS',
       'AMORTIZACAO DE FINANCIAMENTOS-PRINCIPAL',
       'CONT.S/APOSTAS EM COMPETICOES HIPICAS-MUL.JUR',
       'SERV.ADMIN.E COMERCIAIS GERAIS-PRINC.-INTRA',
       'SERV.DE REGIST.,CERTIF.E FISCALIZ.-PRINCIPAL',
       'MULTAS PREVISTAS EM LEGISL.ESPECIFICA-MUL.JUR',
       'OUTROS SERVIÇOS-PRINCIPAL-INTRA',
       'CONTRIBUIÇÃO INDUSTRIAL RURAL-DIVIDA ATIVA',
       'ALIENACAO DE ESTOQUES DA PGPM-PRINCIPAL',
       'CONTRIBUIÇÃO INDUSTRIAL RURAL-MULTAS E JUROS',
       'OUTRAS INDENIZACOES-PRINCIPAL',
       'TRANSF.DOS MUNICIPIOS E SUAS ENTIDADES-PRINC.',
       'RESTITUIÇÃO DE CONVÊNIOS-PRIMÁRIAS-MUL.JUR.',
       'ALIEN.BENS E MERCADORIAS APREENDIDOS-MUL.JUR.',
       'REMUN.SALDOS RECURSOS NAO-DESEMBOLSADOS-PRINC',
       'ALIEN.DE BENS E MERCADORIAS APREENDIDOS-PRINC',
       'CONC/PERM/AUT/CESSAO DIR.USO IMOV.PUB-PRINC.',
       'TRANSF.DE OUTRAS INSTITUICOES PUBLICAS-PRINC.',
       'CONTRIB.S/CONCURS.PROGNÓST.-MOD.FUT-PRINCIPAL',
       'CONTRIBUIÇÃO SOBRE LOTERIAS ESPORTIVAS-PRINC.',
       'CONTRIBUIÇÃO SOBRE LOTERIAS DE NÚMEROS-PRINC.',
       'TRANSF.PROVENIENTES DEP.NAO IDENTIFIC.-PRINC.',
       'TRANSFERENCIAS DE PESSOAS FISICAS-PRINCIPAL',
       'CONTR.S/REC.CONCESS.PERM.ENERG.ELETR.-MUL.JUR',
       'CESSAO DIREITO USO DE RADIOFREQUENCIA-PRINC.',
       'EMPRÉSTIMOS COMPULSÓRIOS',
       'COMPENS.FINAN.EXPL.RECURSOS MINERAIS-MUL.JUR.',
       'REVERSAO DE GARANTIAS-PRINCIPAL',
       'CONTR.S/REC.CONCESS.PERM.ENERG.ELÉTR.-PRINC.',
       'RESTITUIÇÃO CONVÊNIOS-PRIMÁRIAS-PRINC.-INTRA',
       'ALUGUEIS E ARRENDAMENTOS-DIVIDA ATIVA',
       'COMPENS.FINANC.EXPL.RECURSOS MINERAIS-DIV.AT.',
       'SERV.DE INFORMAÇÃO E TECNOLOGIA-PRINC.-INTRA',
       'UTILIZ.REC.HIDRICOS-DEMAIS EMPRESAS-DIV.AT.',
       'UTILIZACAO DE RECURSOS HIDRICOS-ITAIPU-PRINC.',
       'COMPENS.FIN.EXPL.REC.MINERAIS-DIV.AT.-MUL.JUR',
       'CIDE-REMESSAS AO EXTERIOR-PRINCIPAL',
       'CONTR.S/FATUR.EMPR.INFO.INST.AMAZONIA-PRINC.',
       'CONTR.S/REC.BRT EMP.PREST.SERV.TELEC.-MUL.JUR',
       'CONTR.S/FATUR.EMPR.INFO.INST.DEM.REG.-PRINC.',
       'ROY.EXC.PETRO.PLAT-COM.ANT.3/12/12-DEM.-PRINC',
       'SERVICOS DE INFORMACAO E TECNOLOGIA-MUL.JUR.',
       'COTA-PARTE DO AFRMM-PRINCIPAL',
       'CONTR.S/FATUR.EMPR.INFO.INST.AMAZONIA-MUL.JUR',
       'SERV.REGIST.,CERTIF.E FISCALIZ.-PRINC.-INTRA',
       'COTA-PARTE DO AFRMM-DIVIDA ATIVA',
       'RECEITA INDUSTRIAL-PRINCIPAL-INTRA',
       'UTILIZ.REC.HIDRICOS-DEMAIS EMPRESAS-PRINC.',
       'COTA-PARTE DO AFRMM-DIVIDA ATIVA-MUL.JUR.',
       'CONTR.S/REC.BRT EMP.PREST.SERV.TELECOM-PRINC.',
       'UTILIZ.REC.HIDRICOS-DEMAIS EMPRESAS-MUL.JUR.',
       'COMPENS.FINANC.EXPL.RECURSOS MINERAIS-PRINC.',
       'OUTRAS INDENIZAÇÕES-PRINCIPAL-INTRA',
       'CONTR.P/DES.ENS.PROF.MARITIMO-DIV.AT-MUL.JUR.',
       'CONTR.P/DESENV.ENSINO PROF.MARITIMO-MUL.JUR.',
       'CONTR.DESENV.ENSINO PROF.MARIT.-PARCEL-PRINC.',
       'CONTR.P/DESENV.ENSINO PROF.MARITIMO-DIV.ATIVA',
       'CONTR.DESENV.ENSINO PROF.MARIT-PARCEL-MUL.JUR',
       'CONTR.P/DESENV.ENSINO PROF.MARÍTIMO-PRINCIPAL',
       'CESSAO DO DIR.OPERACIONALIZACAO PAGTOS-PRINC.',
       'OUTRAS INDENIZACOES-MULTAS E JUROS',
       'SERVICOS DE TRANSPORTE-PRINCIPAL',
       'SERVIÇOS DE ATENDIMENTO À SAÚDE-PRINC.-INTRA',
       'CESSAO DIR.OPERACIONALIZACAO PAGTOS-MUL.JUR.',
       'CONTR.P/CUST.PENS.MIL.FORÇAS ARMADAS-MUL/JUR.',
       'TX.INSPEÇÃO,CONTROLE E FISCALIZ.-PRINC.-INTRA',
       'CONTR.P/CUST.PENS.MILIT.FORÇAS ARMADAS-PRINC.',
       'SERV.ASSIST.SAUDE SUPLEM.SERV.CIVIL-PRINC.',
       'ROY.PETRO.PLAT-COM.ANTES 3/12/12-DEMAIS-PRINC',
       'EMOLUMENTOS E CUSTAS JUDICIAIS-PRINCIPAL',
       'TAXAS PELA PRESTAÇÃO DE SERVIÇOS-MULT.E JUROS',
       'SERVICOS DE NAVEGACAO-MULTAS E JUROS',
       'SERVICOS DE ATENDIMENTO A SAUDE-MUL.JUR.',
       'INSCR.EM CONCURSOS E PROC.SELETIVOS-MUL.JUR.',
       'TAXAS PELA PRESTAÇÃO DE SERVIÇOS-PRINCIPAL',
       'SERVICOS DE NAVEGACAO-PRINCIPAL',
       'SERV.ASSIST.MEDICO-HOSP.DO MILITAR-PRINCIPAL',
       'ROYAL.COMERC.PROD.RESULT.CRIAÇÃO PROTEG-PRINC',
       'TARIFA AEROPORTUARIA-PRINCIPAL', 'SERVICOS PORTUARIOS-PRINCIPAL',
       'SERVICOS DE ATENDIMENTO A SAUDE-PRINCIPAL',
       'SERV.ASSIST.MEDICO-HOSP.DO MILITAR-MUL.JUR.',
       'CONTRIB.SERVIDOR ATIVO CIVIL P/RPPS-MUL.JUR.',
       'CIDE-COMBUST.-COMERCIALIZACAO-MULTAS DÍV.AT.',
       'CONTRIB.S/SORT.REALIZ.POR ENT.FILANT.-MUL.JUR',
       'OUTRAS DELEG.DOS SERVICOS DE TELECOM-MUL.JUR.',
       'CIDE-COMBUSTÍVEIS-IMPORTAÇÃO-PRINCIPAL',
       'RESTITUICAO DE RECURSOS DE FOMENTO-MUL.JUR.',
       'IRRF-CAPITAL-PRINCIPAL',
       'CIDE-REMESSAS AO EXTERIOR-MULTAS E JUROS',
       'CONTRIBUIÇÃO SOBRE A LOTERIA FEDERAL-PRINCIP.',
       'IMPOSTO SOBRE A EXPORTAÇÃO-MULTAS DÍV.ATIVA',
       'DEMAIS RECEITAS PATRIMONIAIS-PRINCIPAL',
       'TAXA FISCALIZ.DE FUNCIONAMENTO-PRINC.-INTRA',
       'CONTRIB.P/FOMENTO RADIODIF.PÚB.-PRINC.-INTRA',
       'P.ESP.PETRO.PLAT-COM.A PARTIR 3/12/12-PRINC.',
       'CONTRIB.DO SERVIDOR INATIVO P/RPPS-PRINCIPAL', 'Sem informação',
       'OUTRAS RECEITAS-PRIMARIAS-DIVIDA ATIVA',
       'IRRF-TRABALHO-JUROS DA DÍVIDA ATIVA',
       'COFINS SOBRE O FATURAMENTO-SIMPLES-MUL.JUR.',
       'CONTR.S/REC.BRT EMP.PREST.SERV.TELECOM-DIV.AT',
       'RESSARCIMENTO AO RGPS-MULTAS E JUROS',
       'JUROS DE TITULOS DE RENDA-PRINCIPAL',
       'IPI-BEBIDAS-MULTAS E JUROS',
       'AMORT.EMPR.-REFIN.DIV.MED.E LONGO PRAZO-PRINC',
       'CONTRIBUIÇÃO PIS/PASEP-PARCELAMENTOS-MUL.JUR.',
       'CONT.MOV.TRANSM.VAL.CRÉD.DIR.NAT.FIN.-MUL.JUR',
       'CONTRIB.PIS/PASEP SOBRE FATURAMENTO-DÍV.ATIVA',
       'IRPF-DIVIDA ATIVA-MULTAS E JUROS',
       'MULTAS PREV.LEI GERAL TELECOM.-PRINC.-INTRA',
       'ITR-MUNICÍPIOS NÃO-CONVENIADOS-MULTAS E JUROS',
       'IOF-DEMAIS OPERAÇÕES-MULTAS E JUROS',
       'CONTR.REL.DESPED.EMPREG.S/JUSTA CAUSA-PRINC.',
       'AMORT.EMPREST.-PROG.OP.OFICIAIS CRED.-PRINC.',
       'OUTRAS CONTRIBUIÇÕES SOCIAIS-DÍV.AT.-MUL.JUR.',
       'OUTRAS CONTRIBUIÇÕES SOCIAIS-MULTAS E JUROS',
       'OUTRAS DELEG.SERVIÇOS TELECOM.-PRINC.-INTRA',
       'COFINS-MULTAS E JUROS',
       'CONT.MOV.TRANSM.VL.CR.FIN-PARC-DÍV.AT-MUL.JUR',
       'IMPOSTO SOBRE A IMPORTAÇÃO-MULTAS DÍV.ATIVA',
       'CONTRIB.PIS/PASEP SOBRE FATURAMENTO-MUL.JUR.',
       'OUTRAS DELEG.DOS SERVICOS DE TELECOM-DIV.AT.',
       'JUROS SOBRE O CAPITAL PROPRIO-MULTAS E JUROS',
       'ITR-MUNICÍPIOS NÃO-CONVENIADOS-MULTAS DÍV.AT.',
       'COFINS-DIVIDA ATIVA-MULTAS E JUROS',
       'CONTR.PIS/PASEP S/FATURAMENTO-DÍV.AT-MUL.JUR.',
       'RESSARCIMENTO DE CUSTOS-MULTAS E JUROS',
       'IPI-BEBIDAS-MULTAS E JUROS-INTRA',
       'CONTRIBUIÇÃO PARA O ENSINO AEROVIÁRIO-PRINC.',
       'CONTRIB.DO PENSIONISTA PARA O RPPS-PRINC.',
       'CONTRIB.SOC.S/LUCRO LÍQ.-CSLL-JUROS DÍV.ATIVA',
       'REC.POR FORÇA DEC.JUD.E DE TRIB.ADM.-PRINC.',
       'MULTAS APLICADAS PELOS TRIB.DE CONTAS-MUL.JUR',
       'IPI-OUTROS PRODUTOS-DIVIDA ATIVA-MUL.JUR.',
       'CIDE-COMBUSTÍVEIS-COMERCIALIZAÇÃO-PRINCIPAL',
       'BÔNUS ASS.CONTR.PARTILHA PRODUÇÃO-UNIÃO-PRINC',
       'RETORNO DE OP.,JUR.E ENC.FINANCEIROS-MUL.JUR.',
       'IMPOSTO SOBRE A IMPORTAÇÃO-DÍVIDA ATIVA',
       'IMPOSTO SOBRE A EXPORTAÇÃO-PRINCIPAL',
       'MUL.P/DESCUMP.OBRIG.PREVID.ACESSORIA-PRINC.',
       'RESSARCIMENTO DE CUSTOS-PRINCIPAL',
       'RESTITUICAO DE RECURSOS DE FOMENTO-PRINCIPAL',
       'IOF-OURO-MULTAS E JUROS', 'OUTROS IMPOSTOS-MULTAS E JUROS',
       'MULTAS DECORRENTES DE SENTENCAS JUD.-DIV.AT.',
       'CONTR.PIS/PASEP-PARCELAMENTOS-DÍV.AT-MUL.JUR.',
       'CONTR.SERV.INAT.P/RPPS ORIG SENT.JUD-PRINC.',
       'CONTR.S/REMUN.DEVIDA AO TRABALHADOR-PRINCIPAL',
       'IPI-OUTROS PRODUTOS-MULTAS E JUROS',
       'MULTAS PREVISTAS LEG.ESPECÍFICA-PRINC.-INTRA',
       'EMOLUMENTOS E CUSTAS JUDICIAIS-MULTAS E JUROS',
       'CONTRIB.SERVIDOR ATIVO CIVIL P/RPPS-PRINCIPAL',
       'CONTRIB.DO SERVIDOR INATIVO P/RPPS-MUL.JUR.',
       'PARTICIPACOES-PRINCIPAL',
       'CPSSS-SERVIDOR CIVIL INATIVO-PRINCIPAL',
       'COFINS SOBRE O FATURAMENTO-PARCELAM.-MUL.JUR.',
       'TAXA DE FISCALIZAÇÃO DE FUNCIONAMENTO-DÍV.AT.',
       'CONCESSAO DE AVAIS,GARANTIAS E SEGUROS-PRINC.',
       'CONTR.PIS/PASEP SOBRE FATURAM.-PRINC.-INTRA',
       'IOF-DEMAIS OPERAÇÕES-DÍVIDA ATIVA',
       'FOROS,LAUDEMIOS,TARIFAS DE OCUPACAO-MUL.JUR.',
       'AMORTIZ.PROV.EXEC.DE GARANTIA-OP.CRED.-PRINC.',
       'BONUS ASSINAT.DE CONTRATO DE CONCESSAO-PRINC.',
       'TAXA DE CONTROLE E FISC.AMBIENTAL-DÍV.ATIVA',
       'MUL.P/DESCUMP.OBRIG.PREVID.ACESSORIA-MUL.JUR.',
       'CONTRIB.SOCIAL SOBRE LUCRO LÍQ.-CSLL-MUL.JUR.',
       'CONTRIBUIÇÃO PIS/PASEP-PARCELAMENTOS-PRINC.',
       'ONUS DE SUCUMBENCIA-MULTAS E JUROS',
       'CIDE-COMBUSTIVEIS-IMPORTACAO-MULTAS E JUROS',
       'IMPOSTO SOBRE A IMPORTAÇÃO-MUL.JUR.-INTRA',
       'BENS,DIR.E VAL.PERD.EM FAVOR PODER PUB.-PRINC',
       'ROY.EXC.PETRO.PLAT-COM.A PARTIR 3/12/12-PRINC',
       'IPI-VINCULADOS À IMPORTAÇÃO-MUL.JUR.-INTRA',
       'IRPJ-LÍQUIDA DE INCENTIVOS-MULTAS E JUROS',
       'IPI-VINCULADOS À IMPORTAÇÃO-MULTAS E JUROS',
       'DEMAIS CONTRIBUIÇÕES SOCIAIS-DÍVIDA ATIVA',
       'TX.CONTROLE E FISCALIZ.PROD.QUÍMICOS-PRINC.',
       'CONTR.LOJ.FR.ENTREP.ADUAN.DEP.ALFAND.-PRINC.',
       'DELEG.P/PREST.SERV.TRANSP.FERROVIARIO-MUL.JUR',
       'CONDECINE-PRINCIPAL', 'COFINS SOBRE O FATURAMENTO-DÍVIDA ATIVA',
       'REMUN.S/REPASSE P/PROG.DESENV.ECONOMICO-PRINC',
       'IRRF-OUTROS RENDIMENTOS-PRINCIPAL',
       'P.ESP.PETRO.PLAT-COM.ANT.3/12/12-DEMAIS-PRINC',
       'CPSSS PATRONAL-SERVIDOR CIVIL-MUL.JUR.-INTRA',
       'COFINS SOBRE O FATURAMENTO-PARCELAM.-DÍV.AT.',
       'IRPJ-LÍQUIDA DE INCENTIVOS-MULTAS DÍV.ATIVA',
       'ITR-MUNICÍPIOS NÃO CONVENIADOS-PRINCIPAL',
       'RESTIT.PARCELAS SEG.DESEMP.REC.INDEV.-MUL.JUR',
       'CONTRIB.SOCIAL SOBRE LUCRO LÍQ.-CSLL-DÍV.AT.',
       'EMOLUMENTOS E CUSTAS JUDICIAIS-PRINC.-INTRA',
       'COFINS-JUROS DA DÍVIDA ATIVA',
       'CONTRIB.S/LOTERIA PROGNÓST.ESPECÍFICO-PRINC.',
       'MULTAS PREV.NA LEI GERAL DAS TELECOM.-DIV.AT.',
       'DELEG.P/PREST.SERV.TRANSP.FERROVIARIO-PRINC.',
       'CONTRIBUIÇÃO PARA O PIS/PASEP-DÍVIDA ATIVA',
       'TAXA FISCALIZAÇÃO DE INSTALAÇÃO-PRINC.-INTRA',
       'TIT.RESP.TN-REFIN.DIV.PUB.FED.MERC.INT.-PRINC',
       'MULTAS PREV.NA LEI GERAL DAS TELECOM.-MUL.JUR',
       'CONTR.P/FUNDOS ASSIST.MÉD-POLIC.MILIT-PRINC.',
       'CONTR.PATR.SERV.ATIVO CIV.P/RPPS-PRINC.-INTRA',
       'CONTRIBUIÇÃO PARA O PROTERRA-PRINCIPAL',
       'ALIENACAO DE BENS IMOVEIS-MULTAS E JUROS',
       'MULTAS PREV.EM LEG.ESPECIFICA-DIV.AT-MUL.JUR.',
       'ROYAL.PETRO.PLAT.-COM.A PARTIR 3/12/12-PRINC.',
       'RESTIT.BENEFICIOS NAO DESEMBOLSADOS-PRINCIPAL',
       'IRRF-TRABALHO-MULTAS DA DÍVIDA ATIVA',
       'CONTRIBUICAO AO MONTEPIO CIVIL-MULTAS E JUROS',
       'CONTRIBUIÇÕES P/O RGPS-PARCELAMENTOS-PRINC.',
       'TX.INSP,CONTROL.E FISCALIZ.-DÍV.AT.-MUL.JUR.',
       'COTA-PARTE DO AFRMM-MULTAS E JUROS',
       'CONTR.P/FUNDOS ASSIST.MÉD-BOMB.MILIT.-PRINC.',
       'ROYAL.EXCED.PROD.PETRO.TERRA(QQ SIT.)-PRINC.',
       'RESULTADO DO BACEN-DEMAIS OPERACOES-PRINCIPAL',
       'MULTAS PREV.LEG.SEG.DESEMP.AB.SALAR.-DIV.AT.',
       'CONTRIB.PREVID.TRABALHADOR AVULSO-PRINCIPAL',
       'CONTRIB.SERV.ATIVO P/RPPS-SENT.JUD.-PRINC.',
       'CESSÃO DIR.USO RADIOFREQUÊNCIA-PRINC.-INTRA',
       'CONTR.MOV.TRANSM.VAL.CRÉD.DIR.NAT.FIN.-DÍV.AT',
       'CONTRIBUIÇÕES P/O RGPS-DÍVIDA ATIVA',
       'FOROS,LAUDEMIOS,TARIFAS DE OCUPACAO-PRINCIPAL',
       'CONC/PERM/AUT/CESSAO DIR.USO IMOV.PUB-MUL.JUR',
       'INDENIZ.POSSE/OCUP.ILICITA BENS PUB.-MUL.JUR.',
       'FOROS,LAUDEMIOS,TARIFAS DE OCUPACAO-DIV.ATIVA',
       'CONTR.PIS/PASEP SOBRE FATURAM.-MUL.JUR-INTRA',
       'AMORTIZACAO DE EMPRESTIMOS-EST/MUN-PRINCIPAL',
       'DEL.SERV.RADIODIF.SONORA E SOM/IMAGEM-PRINC.',
       'DEL.SERV.RADIODIF.SONORA E SOM/IMAGEM-MUL.JUR',
       'BARREIRAS TECNICAS AO COMERCIO EXTERIOR-PRINC',
       'BARREIRAS TECNICAS AO COMERC.EXTERIOR-MUL.JUR',
       'IRRF-TRABALHO-PRINCIPAL',
       'RESTIT.DEC.APLIC.IRREG.REC.ELEITORAIS-MUL.JUR',
       'IRRF-REMESSA AO EXTERIOR-PRINCIPAL-INTRA',
       'ITR-MUNICÍPIOS NÃO CONVENIADOS-DÍVIDA ATIVA',
       'JUROS SOBRE O CAPITAL PROPRIO-PRINCIPAL',
       'ITR-MUNICÍPIOS CONVENIADOS-PRINCIPAL',
       'TAXAS INSPEÇÃO,CONTROLE E FISCALIZAÇÃO-DÍV.AT',
       'CONTRIBUICAO PARA O PIS/PASEP-DIV.AT-MUL.JUR.',
       'RESTIT.DESPESAS EXERC.ANTERIORES-PRINC-INTRA',
       'DEP.ABANDONADOS(DINHEIRO/OBJ.DE VALOR)-PRINC.',
       'IRRF-TRABALHO-MULTAS E JUROS-INTRA',
       'CONTRIBUICAO AO MONTEPIO CIVIL-PRINCIPAL',
       'VARIACAO CAMBIAL-PRINCIPAL',
       'AMORTIZACAO DE EMPRESTIMOS-EST/MUN-MUL.JUR.',
       'CONTR.S/REC.OP.BRT DECOR.SERV.TELECOM-PRINC.',
       'IRPF-JUROS DA DÍVIDA ATIVA',
       'DEMAIS CONTRIBUIÇÕES SOCIAIS-DÍV.AT.-MUL.JUR.',
       'ITR-MUNICÍPIOS NÃO-CONVENIADOS-JUROS DÍV.AT.',
       'IMPOSTO SOBRE A IMPORTAÇÃO-PRINCIPAL',
       'CONTRIB.PIS/PASEP FATURAMENTO-SIMPLES-MUL.JUR',
       'CONTR.MOV.TRANSM.VAL.CRÉD.DIR.NAT.FIN.-PRINC.',
       'CONT.MOV.TRANSM.VAL.CR.DIR.FIN-JUROS DÍV.AT.',
       'CONTR.S/ARREC.FUNDOS INVEST.REGIONAIS-PRINC.',
       'OUTRAS RECEITAS IMOBILIARIAS-PRINCIPAL',
       'CONTR.S/APOSTAS COMPET.HIPICAS-DIV.AT-MUL.JUR',
       'DEMAIS RECEITAS DE CAPITAL-PRINCIPAL',
       'REMUNER.DISPONIBILIDADES TES.NACIONAL-PRINC.',
       'INDENIZ.POSSE/OCUP.ILICITA BENS PUB.-PRINC.',
       'CIDE-COMBUST.-COMERCIALIZACAO-JUROS DÍV.ATIVA',
       'COFINS SOBRE O FATURAMENTO-SIMPLES-PRINCIPAL',
       'DELEG.SERV.TELEC.-POD.CONC.NO REG.PUB.-PRINC.',
       'ENCARGOS LEGAIS PELA INSCR.EM DIV.AT.-MUL.JUR',
       'CONTR.PATR.SERV.AT.CIV.P/RPPS-MUL.JUR-INTRA',
       'ROY.EXC.PETRO.PLAT-CM.ANT.3/12/12-P.SAL-PRINC',
       'CONTRIB.PATR.DE SERV.ATIVO CIV.P/RPPS-MUL.JUR',
       'DEMAIS CONTRIBUIÇÕES SOCIAIS-PRINCIPAL',
       'CONTRIB.SOC.S/LUCRO LIQ.-CSLL-DIV.AT-MUL.JUR.',
       'MULTAS APLICADAS PELOS TRIB.DE CONTAS-PRINC.',
       'CONTRIBUIÇÃO PARA O PIS/PASEP-JUROS DÍV.ATIVA',
       'IRPJ-LIQUIDA DE INCENTIVOS-DIV.AT.-MUL.JUR.',
       'PRESTACAO DE CONTAS ELEITORAIS-MULTAS E JUROS',
       'ALIENACAO DE BENS INTANGIVEIS-PRINCIPAL',
       'CPSSS-SERVIDOR CIVIL ATIVO-SENT.JUD.-PRINC.',
       'CESSAO DIREITO USO DE RADIOFREQUENCIA-MUL.JUR',
       'IOF-DEMAIS OPERACOES-DIVIDA ATIVA-MUL.JUR.',
       'ROY.PETRO.PLAT-COM.ANTES 3/12/12-P.SAL-PRINC.',
       'OUTRAS CONTRIBUICOES ECONOMICAS-MULTAS/JUROS',
       'CONTRIB.P/FOMENTO RADIODIFUSAO PUBLICA-DIV.AT',
       'CONTR.PENSIONISTA P/RPPS ORIG SENT.JUD-PRINC.',
       'COFINS-PRINCIPAL', 'OUTRAS RECEITAS-FINANCEIRAS-PRINCIPAL',
       'RESSARCIMENTO DE CUSTOS-PRINCIPAL-INTRA',
       'CONC.SERV.GER.TRANSM.DISTR.ENER.ELÉT-PRINC.',
       'CONTRAPART.DE SUBVENCOES OU SUBSIDIOS-PRINC.',
       'BONUS ASSINAT.CONTRATO DE CONCESSAO-MUL.JUR.',
       'CONTRIBUIÇÃO PARA O PIS/PASEP-MULTAS E JUROS',
       'CPSSS-SERVIDOR CIVIL ATIVO-MULTAS E JUROS',
       'TAXA DE FISCALIZAÇÃO DE INSTALAÇÃO-DÍV.ATIVA',
       'CONT.MOV.TRANSM.VAL.CRED.DIR.FIN-PARC-DÍV.AT.',
       'CONTRIBUIÇÃO PARA O PIN-PRINCIPAL',
       'PRESTACAO DE CONTAS ELEITORAIS-PRINCIPAL',
       'CONDECINE-PRINCIPAL-INTRA',
       'TAXA DE FISCALIZAÇÃO DE FUNCIONAMENTO-PRINC.',
       'COFINS-MULTAS DA DÍVIDA ATIVA',
       'RESTIT.DEP.DE SENTENÇAS JUD.Ñ SACADOS-MUL.JUR',
       'RESTIT.DE BENEFICIOS PREVIDENCIARIOS-MUL.JUR.',
       'IRRF-TRABALHO-MULTAS E JUROS',
       'CONTRIB.S/SORT.REALIZ.POR ENT.FILANT.-PRINC.',
       'CONTRIBUIÇÕES P/O RGPS-MULTAS E JUROS',
       'IOF-DEMAIS OPERAÇÕES-MULTAS DA DÍVIDA ATIVA',
       'OUTRAS INDENIZACOES-DIVIDA ATIVA',
       'COMPENS.FINANCEIRAS ENTRE RGPS E RPPS-MUL.JUR',
       'DIVIDENDOS-MULTAS E JUROS',
       'MULTAS E JUROS PREVISTOS EM CONTRATOS-DIV.AT.',
       'OUTRAS RECEITAS IMOBILIARIAS-MULTAS E JUROS',
       'MULTAS E JUROS PREV.CONTRATOS-DIV.AT-MUL.JUR.',
       'IRRF-TRABALHO-DÍVIDA ATIVA',
       'COTA-PARTE DA CONTRIBUIÇÃO SINDICAL-PRINCIPAL',
       'CONT.P/ENT.PRIV.SERV.SOC.E FORM.PROFIS.-PRINC',
       'MULT.LEG.ANTICORRUP.ACORDOS LENIÊNCIA-PRINC.',
       'CONT.MOV.TRANSM.VAL.CR.DIR.FIN-DÍV.AT-MUL.JUR',
       'IPI-OUTROS PRODUTOS-PRINCIPAL',
       'APORTES PERIÓD.COMPENSAÇÕES RGPS-PRINC-INTRA',

Los 10 DETALLE que MAS aparecen son:

                                               count  Porcentaje_recuento
DETALLE
SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.    29257                16.82
INSCR.EM CONCURSOS E PROC.SELETIVOS-PRINCIPAL  13689                 7.87
ALUGUEIS E ARRENDAMENTOS-PRINCIPAL             13618                 7.83
MULTAS PREVISTAS EM LEGISL.ESPECIFICA-PRINC.    7809                 4.49
REMUNERACAO DE DEPOSITOS BANCARIOS-PRINCIPAL    5272                 3.03
TAXAS INSPEÇÃO,CONTROLE E FISCALIZAÇÃO-PRINC.   4314                 2.48
OUTRAS RESTITUICOES-PRINCIPAL                   4231                 2.43
OUTRAS RECEITAS-PRIMARIAS-PRINCIPAL             3943                 2.27
RESTIT.DE DESPESAS DE EXERC.ANTERIORES-PRINC.   3895                 2.24
SERVICOS DE INFORMACAO E TECNOLOGIA-PRINCIPAL   3422                 1.97

Los 10 DETALLE que MENOS aparecen son:

                                               count  Porcentaje_recuento
DETALLE
CONTRIB.SOC.S/LUCRO LIQ.-CSLL-DIV.AT-MUL.JUR.      1                 0.00
ADICIONAL SOBRE TARIFA AEROPORTUARIA-MUL.JUR.      1                 0.00
AMORTIZACAO DE EMPRESTIMOS-EST/MUN-MUL.JUR.        1                 0.00
DEMAIS RECEITAS DE CAPITAL-PRINCIPAL               1                 0.00
PARCELA TARIFA EMBARQUE INTERNACIONAL-MUL.JUR      1                 0.00
TRANSFER.DE INSTITUICOES PRIVADAS-MUL.JUR.         1                 0.00
TAXA FISCAL. DOS SERVICOS DE ENERGIA ELETRICA      1                 0.00
CONTR.S/REC.OP.BRT DECOR.SERV.TELECOM-MUL.JUR      1                 0.00
OUTORGA DIR.EXPLOR.E PESQUISA MINERAL-MUL.JUR      1                 0.00
RESGATE DE TITULOS DO TESOURO-PRINCIPAL            1                 0.00

 Las distribución de las repeticiones de los DETALLE son:

       count  % repetición
count
21        39          6.41
1         38          6.25
40        19          3.12
16        18          2.96
2         18          2.96
...      ...           ...
58         1          0.16
55         1          0.16
57         1          0.16
53         1          0.16
67         1          0.16

[212 rows x 2 columns]

None
La categoría VALOR_PREVISTO_ACTUALIZADO tiene 1846 elementos diferentes:

Los elementos de la categoría son:

array([0.0000000e+00, 1.1444220e+06, 2.5595360e+06, ..., 1.2070276e+08,
       6.2829486e+07, 2.1628600e+05])

Los 10 VALOR_PREVISTO_ACTUALIZADO que MAS aparecen son:

                             count  Porcentaje_recuento
VALOR_PREVISTO_ACTUALIZADO
0.00                        172042                98.91
150000.00                        3                 0.00
1000000.00                       3                 0.00
300000.00                        3                 0.00
15000000.00                      3                 0.00
800000.00                        2                 0.00
5018796.00                       2                 0.00
360000.00                        2                 0.00
136317.00                        2                 0.00
253355000.00                     2                 0.00

Los 10 VALOR_PREVISTO_ACTUALIZADO que MENOS aparecen son:

                            count  Porcentaje_recuento
VALOR_PREVISTO_ACTUALIZADO
275335.00                       1                 0.00
774200.00                       1                 0.00
94456.00                        1                 0.00
224708.00                       1                 0.00
21742.00                        1                 0.00
4097781.00                      1                 0.00
240646.00                       1                 0.00
4657.00                         1                 0.00
51817.00                        1                 0.00
5865.00                         1                 0.00

 Las distribución de las repeticiones de los VALOR_PREVISTO_ACTUALIZADO son:

        count  % repetición
count
1        1792         97.07
2          49          2.65
3           4          0.22
172042      1          0.05

None
La categoría VALOR_REGISTRADO tiene 828 elementos diferentes:

Los elementos de la categoría son:

array([ 0.00000000e+00,  5.91582000e+03, -5.91582000e+03, -2.44098000e+03,
       -3.95890000e+04,  2.86949200e+04,  2.05891000e+03,  1.06066000e+03,
        1.10145000e+03,  1.03310000e+03,  8.40490000e+02,  2.09608320e+05,
        1.06082000e+03,  2.94912147e+06,  1.20114471e+07,  2.83062520e+05,
       -1.82453716e+06,  5.57637900e+04, -4.78531488e+06,  5.63915270e+06,
        2.60508094e+07, -2.94508430e+05, -2.23005100e+04,  2.79825550e+06,
        8.56425880e+07, -9.64933170e+06, -2.34301823e+07, -8.13887675e+07,
        2.20557570e+07,  1.42530660e+08,  2.12293003e+07,  2.21598706e+06,
       -8.07657466e+07, -2.41111273e+08, -1.17201844e+07,  1.45147964e+07,
        1.08502933e+07,  1.75247424e+06,  6.62958229e+07, -1.27596650e+07,
        1.61807511e+08,  2.19301760e+09,  1.52797287e+07,  2.54713933e+07,
       -1.94252189e+08,  1.29603184e+07,  7.61386135e+07,  4.97120900e+05,
       -1.03904047e+07, -2.20834998e+07, -2.85487172e+07,  3.08714400e+04,
        4.89992893e+06, -4.30024000e+03, -2.63240000e+02, -4.97120900e+05,
       -2.56633000e+03,  2.51145709e+07,  1.72433943e+08,  6.61308479e+08,
        6.02240557e+06, -6.02240557e+06,  2.41489544e+07, -2.58775488e+07,
       -4.82630776e+06, -3.40779189e+07,  3.89762127e+08,  2.50206295e+07,
        3.08260241e+07,  7.39454114e+06, -1.53027666e+07,  6.15565583e+06,
       -6.93404000e+04,  6.93404000e+04,  3.17065799e+06, -1.21985528e+07,
        2.35213866e+07, -4.29273208e+07,  2.07149389e+07,  9.00951756e+06,
        5.06435979e+06, -8.82574540e+05,  1.68977516e+06,  1.56909814e+08,
       -1.56099816e+07,  1.00582673e+08,  7.45150895e+07, -8.00007016e+07,
        7.50919504e+07,  8.68312303e+07,  4.39856964e+07, -4.36220830e+06,
        6.37242650e+07,  6.02934571e+08, -3.53663128e+09,  7.51905275e+08,
        3.47021309e+09,  1.82341560e+09, -2.00935801e+09,  3.91262354e+08,
        2.37778350e+10,  1.86052356e+08, -2.46612163e+09,  1.49250614e+09,
       -1.12277800e+04,  5.61183790e+05,  6.45290000e+03, -7.78803100e+04,
        7.78803100e+04, -7.65165600e+04, -3.40730700e+04, -1.51492450e+05,
        4.47795000e+03,  2.23767000e+03,  1.54872130e+05, -1.54872130e+05,
       -1.08179600e+04,  3.33732300e+04, -6.04527200e+04,  1.84397516e+07,
        1.03362064e+06,  6.93046700e+04,  1.38689010e+05, -3.40766915e+06,
       -3.35049190e+05, -3.68929910e+05, -1.87231438e+06, -4.69195579e+06,
        1.99856240e+05, -1.05529570e+06, -9.89749380e+05, -1.40719245e+06,
        1.63344120e+08, -2.59844140e+05, -1.85934164e+07,  2.85131185e+06,
        1.40478720e+07,  1.60177919e+07, -1.00007108e+06,  1.10234593e+06,
        2.14418463e+07, -8.79354568e+06,  4.60090199e+07, -4.57915170e+05,
        3.06284325e+06,  2.92283740e+05,  2.72735868e+06, -5.65301197e+06,
        1.13385838e+06,  5.99558656e+06,  5.95994720e+05, -2.15591801e+06,
        3.05896590e+05, -7.45488000e+04,  7.96306600e+05,  9.96792200e+04,
        2.74138979e+06,  2.12713050e+05, -4.75324020e+05,  5.05344690e+05,
       -2.05406680e+05,  1.78672160e+05, -1.90544703e+06,  1.90544703e+06,
       -2.10216070e+05,  2.10216070e+05, -1.23547332e+08,  5.12356212e+07,
       -2.84425859e+07,  1.81033449e+08, -1.86262944e+08,  2.45158804e+08,
        1.91412790e+08, -2.36013722e+08,  2.88210232e+09,  4.61802872e+07,
       -1.00000000e-02, -5.47930000e+03, -3.44422000e+03, -3.37840000e+02,
        1.16330000e+02,  1.52450000e+02,  1.79360000e+02,  2.84960000e+02,
        3.63901200e+04,  1.46800000e+02, -1.90195000e+03,  1.77820660e+05,
       -1.85422000e+04,  1.41615500e+04,  1.46790000e+02, -2.83048378e+08,
       -4.13167898e+08,  4.36273086e+08,  8.40083192e+08,  1.99254075e+10,
       -1.16422913e+09,  6.80023363e+08, -3.05709990e+09, -7.44040519e+08,
       -3.44053559e+08,  7.41789870e+05, -4.96093688e+06, -5.40092976e+06,
        9.33579326e+06,  9.37986260e+05, -4.08438331e+06,  4.47484131e+07,
        4.79716861e+06,  2.18453599e+07,  8.98596945e+06,  4.24074634e+10,
       -2.04985773e+09, -2.21033524e+09,  2.02541523e+09, -1.49026462e+09,
       -7.41936161e+07, -9.20528202e+08,  8.99465170e+07,  2.92356679e+09,
        3.10644981e+07,  1.19467337e+08, -1.14601325e+09, -1.31917587e+08,
       -2.75092798e+09, -2.32385774e+07,  1.12376072e+08,  3.66526733e+07,
        9.99419425e+08,  1.35741859e+09, -1.75733029e+08,  1.14972400e+04,
       -2.01880900e+04, -4.21822300e+04,  1.57279480e+05,  4.97678470e+05,
        9.81731000e+04,  6.93659990e+05, -2.12955800e+04, -1.59519300e+04,
       -8.05307800e+04,  2.54704034e+06,  1.09508967e+08,  1.22866218e+06,
        4.26066450e+05,  6.35442065e+06,  8.52622610e+05, -2.05979196e+06,
       -1.71728834e+07, -6.48767310e+06, -2.19098036e+06, -2.88448775e+07,
       -1.15104833e+07, -4.49757736e+07,  1.49340029e+09,  4.59525156e+07,
        2.93030823e+07,  1.56249183e+08, -2.01805877e+07, -2.57351522e+07,
       -1.99310603e+07, -1.88374794e+06, -4.79578207e+07, -5.18668722e+06,
       -8.87352390e+05,  8.87352390e+05, -8.00647546e+06,  3.08292780e+05,
        7.63722873e+07, -3.21838331e+07,  1.52294595e+07, -1.25011580e+07,
        2.26688094e+06, -1.09804540e+05,  3.71333420e+06,  3.76074577e+07,
       -2.83976705e+06,  1.42533510e+08, -7.86030700e+04, -3.43932955e+06,
        6.01373917e+07, -4.38007440e+05, -8.47346717e+07,  1.61109564e+07,
        4.48089636e+06,  1.18110858e+07,  5.35700855e+08, -1.58312597e+07,
        9.61721812e+06, -4.23467430e+05, -9.61721812e+06,  4.23467430e+05,
        2.60276803e+07, -4.92278100e+04,  4.92278100e+04,  4.70598300e+04,
        7.01857300e+05, -7.16575270e+05, -1.27135379e+06,  1.23667999e+07,
       -2.16268310e+06,  9.41737100e+04, -2.47426460e+05, -2.27507760e+05,
        1.35707970e+05, -3.18596910e+06, -4.65610140e+05,  4.65610140e+05,
        3.68357450e+09, -5.24222972e+07,  5.30771482e+06,  2.73579710e+07,
       -4.56226862e+08,  7.60534722e+08,  4.93701183e+07, -1.53676446e+08,
       -1.35845596e+08,  1.62642789e+08,  1.21526509e+08, -5.07220970e+05,
        3.87525228e+06, -1.33966335e+07, -1.16593425e+07,  3.24868467e+06,
        1.54666170e+08, -1.39346220e+06,  1.30638318e+07,  8.82251594e+06,
        1.61459990e+06, -5.64724520e+05, -2.43474107e+06,  2.43474107e+06,
       -3.48085803e+07,  1.56077708e+06, -8.37217413e+06,  7.65882022e+07,
        2.63627581e+08, -3.71473601e+06,  2.84228536e+06,  1.93605554e+06,
       -2.70775830e+07,  4.35783973e+08,  1.15223546e+07, -2.94280000e+03,
        2.94280000e+03, -1.49779247e+07,  3.31686245e+07,  1.58378049e+07,
        3.39327984e+08,  1.72721046e+08,  1.76893835e+06,  1.01847241e+07,
       -9.19809007e+07,  9.19809007e+07, -4.87531877e+06,  7.22387793e+06,
       -1.76298448e+08,  1.37112174e+07,  3.95165902e+06,  2.18721366e+06,
        9.37875100e+04, -2.18988330e+05, -1.89430608e+06,  2.99373937e+06,
        2.81890600e+05,  3.00524678e+07, -5.43663437e+06,  5.16429017e+07,
        7.93309069e+06, -7.93309069e+06,  2.42937734e+07,  3.95348925e+08,
       -3.28848619e+08, -3.75576828e+08,  7.06003301e+08,  3.20644669e+09,
        4.91196031e+07,  1.41073463e+08,  1.88243509e+08,  6.41863810e+08,
       -7.62839935e+08, -3.62686704e+09,  7.00363861e+07,  1.25712751e+06,
       -1.25712751e+06,  6.16861000e+03, -1.55824686e+06,  1.31660000e+02,
        1.52530092e+06,  7.63410000e+02,  3.69492880e+05, -1.43760800e+04,
        8.03820000e+02, -3.13377110e+05,  5.01022000e+03,  4.10359752e+09,
        4.14987923e+09, -2.93161950e+09,  6.76504772e+08,  2.19850857e+09,
       -1.74437565e+09,  9.10405770e+08,  3.42782827e+08, -3.05672256e+09,
        5.18335377e+10,  5.81688556e+08,  7.47060599e+09, -1.90527270e+07,
        4.17913063e+08, -4.85141565e+08,  2.00811703e+08, -1.10180834e+09,
        5.45878105e+08,  9.80838351e+08,  2.79677089e+08, -7.28855891e+08,
        3.45950000e+02,  3.65150397e+09,  8.86510181e+08,  1.73827163e+08,
       -2.63238000e+03, -1.44821000e+03, -7.72398278e+07,  4.86149341e+07,
       -3.43595100e+04, -1.49202607e+08,  7.23841900e+04, -9.27556137e+07,
       -4.67039000e+03, -8.35760000e+02, -4.79663760e+08, -1.55566060e+08,
        1.72870000e+02, -1.17038400e+04,  2.57831000e+03, -1.59069335e+08,
        4.98530000e+02, -8.64378941e+08,  3.46512388e+10,  4.52996074e+08,
        3.41066530e+08, -8.45965760e+08,  3.08334088e+09, -1.52983038e+08,
       -3.49872306e+09, -1.03683602e+10, -2.49528178e+08,  7.14706510e+08,
       -8.27553420e+05,  8.27553420e+05,  1.32048873e+09,  7.66607321e+07,
       -7.82683107e+07, -1.38864285e+08, -3.47989148e+08,  1.48227742e+07,
        5.14013311e+06, -2.64194335e+07, -2.48496549e+07, -2.06544563e+08,
        1.02861736e+07,  9.21170490e+05, -9.21170490e+05, -7.65324578e+07,
        1.06681045e+08, -2.56139803e+08,  6.72628033e+09,  1.47830407e+08,
        3.17928201e+08,  2.08014619e+08,  5.65362954e+08, -2.07751526e+08,
       -6.40145795e+07,  2.30239431e+07, -7.13750759e+06,  3.52325493e+07,
       -2.82784949e+07,  3.64106276e+07,  1.11646772e+07,  9.41492441e+06,
        1.97956676e+08, -2.27425888e+07,  4.32172613e+08, -5.29428863e+07,
        9.85808283e+09, -3.82979058e+09,  1.40472500e+04, -1.40472500e+04,
        2.14420761e+09, -1.78866437e+09,  1.25769983e+11,  3.38805970e+09,
        6.53103059e+08,  3.07365411e+08,  1.03881449e+09,  2.07325787e+09,
       -1.42252328e+08, -1.87990003e+07,  5.45083838e+08,  2.62649313e+07,
        4.20719325e+07, -2.90819839e+06, -3.71540397e+07,  7.41430951e+06,
        1.25543441e+07,  2.40332072e+08, -3.67767717e+07,  3.21602209e+07,
        5.67588440e+07, -1.60937090e+05,  9.16059540e+08,  8.02111459e+06,
        8.37497905e+07,  8.03125235e+06,  1.01692779e+08,  3.74811956e+07,
       -6.71440930e+07,  1.06441495e+08,  2.55680908e+07,  1.38220962e+08,
       -9.37998369e+06,  2.43210916e+07,  8.35402185e+07, -1.22665725e+08,
       -1.71631988e+08,  8.51447046e+07,  4.14559863e+07, -6.16302821e+07,
        2.54878557e+09,  1.05638186e+08,  6.62809210e+05,  9.73782611e+06,
       -4.67348155e+06,  6.68684047e+07, -8.46118308e+06,  1.49953877e+06,
        6.00877834e+06, -8.29294488e+06,  8.97640407e+06,  8.13156993e+07,
       -4.95057125e+07,  2.13434363e+08, -8.34128785e+07, -7.91641679e+07,
        2.91194082e+07, -4.09183507e+07, -7.48425842e+07,  2.17421617e+09,
       -2.53826754e+08,  9.44497163e+07, -1.24454148e+06,  1.24454148e+06,
       -1.35912188e+07,  3.32251394e+08, -8.13482859e+06, -1.53180891e+07,
        1.50172708e+07,  4.38797298e+06, -1.31490405e+07, -6.81571006e+06,
       -4.23638271e+07,  6.98605472e+07,  1.33928096e+09,  5.72279620e+07,
        6.31874129e+08,  3.53185146e+08,  2.26283811e+08,  1.06238673e+08,
        1.24022554e+09,  5.91969199e+08,  1.19591647e+10,  1.63670906e+09,
       -3.02184877e+09,  2.80972662e+07, -1.08355310e+08,  1.67679350e+08,
        3.87437368e+07,  1.19549327e+07, -1.40312949e+07, -3.29762254e+07,
        1.26312043e+06,  6.47675057e+06, -3.64349071e+07,  8.89563816e+08,
        2.86019183e+06, -2.86019183e+06, -4.08342022e+07,  2.90664317e+08,
        1.69527562e+07,  7.87369676e+07,  6.00414224e+08,  1.06136598e+07,
       -4.45826470e+07,  5.65645956e+06, -1.46023301e+07, -3.37716484e+06,
       -3.53206618e+07, -3.65044457e+07, -4.11907744e+07,  1.14670914e+07,
       -8.39262500e+04, -1.83085006e+07, -2.18502659e+07,  4.31037079e+06,
       -1.13799855e+08,  1.99173430e+08,  8.39262500e+04,  4.03289170e+07,
       -4.31037079e+06,  8.81367366e+08,  1.66916044e+08, -1.74645397e+09,
        3.85091012e+08,  7.54496865e+09,  3.13425240e+08, -1.11029679e+06,
       -1.64297751e+08,  7.16947673e+08,  1.69026354e+08,  3.82481799e+08,
        2.58086449e+06,  3.59631475e+06,  2.45866900e+08,  2.63574757e+07,
       -1.56623677e+07, -1.90205597e+07,  1.49669336e+06,  3.57941811e+07,
        2.84411854e+06, -2.07075981e+07,  3.44529282e+07, -2.58086449e+06,
       -1.00000000e+01,  7.70593318e+06,  8.96759900e+04, -1.50337400e+05,
        3.10971600e+04,  7.25610763e+06, -5.90212600e+04,  4.63788140e+05,
        6.22301000e+04, -9.72365340e+05,  7.97945000e+03, -2.10529216e+06,
        8.44807030e+05, -8.40112090e+05, -1.54175030e+05,  1.88040000e+02,
       -7.37603989e+06, -4.73513790e+05, -6.47138950e+05,  5.60268770e+05,
       -3.37094300e+04,  5.39101300e+04, -2.75649428e+07,  1.46553500e+04,
        4.07960000e+02,  4.73484300e+04, -5.61517694e+07,  7.16594000e+03,
        2.20555400e+04, -2.11335140e+05,  4.63618900e+04,  7.71370000e+02,
       -8.69372539e+06, -6.13797964e+07,  4.50739492e+07, -7.86203493e+07,
        1.33194459e+07,  8.45733514e+08,  4.34985065e+07,  1.10876406e+07,
       -3.59479195e+07,  1.39522809e+07, -1.14076688e+08,  1.97283147e+07,
        1.47935459e+08, -3.23981836e+06,  4.37062610e+07,  7.81798399e+08,
       -6.93796610e+05, -2.48494723e+07,  2.52341140e+06,  1.97859427e+06,
       -4.21765142e+06, -3.38931350e+05, -5.79622124e+06,  2.53904341e+07,
        3.91181290e+06,  8.68477910e+05, -8.68477910e+05,  5.25624510e+05,
        5.61361363e+06, -7.14302820e+06,  2.78124126e+07,  2.12700110e+07,
       -2.42529940e+07,  3.27848291e+07, -1.24945405e+07,  1.79495107e+07,
       -2.01191635e+06, -3.36112512e+07,  4.95136895e+08,  4.92057923e+06,
        8.19136392e+06,  8.60009400e+08, -7.92774084e+08,  5.20711000e+03,
       -2.36368800e+04, -5.31631000e+03,  1.05325498e+08,  1.00682000e+03,
        8.57826200e+04, -1.01971200e+04,  3.49150000e+02, -1.71628000e+03,
       -3.17363303e+08,  9.73921180e+08,  1.26858050e+09,  1.10634574e+09,
       -1.43583713e+08, -9.43224000e+03,  6.98680000e+02,  2.49753241e+10,
       -1.68789000e+03, -9.23831096e+08, -6.01460420e+05,  1.09962930e+05,
        7.01447060e+05,  8.91661060e+05,  2.64622080e+05,  1.04797400e+04,
       -7.17102822e+08, -2.31099183e+08,  8.74464474e+07, -3.00445200e+07,
        1.69082516e+07, -1.58401675e+08,  1.17333778e+07, -8.92802028e+07,
       -2.83458556e+07, -3.96949180e+08,  1.50167678e+09,  5.86331968e+06,
        3.37335786e+06, -3.37335786e+06,  1.22565292e+08,  1.09955751e+09,
        1.29937212e+08,  1.67030305e+10, -6.02279319e+08,  2.68496201e+08,
        4.83091128e+08, -8.77457370e+08,  5.09175640e+08,  8.08273411e+08,
       -5.24472701e+08,  3.83125924e+07,  1.07439101e+09, -1.41504209e+09,
       -1.54941864e+08, -2.25059806e+07, -4.36846541e+07,  1.47543270e+07,
        5.00970468e+07, -7.29330592e+07,  4.84866631e+10, -3.62424912e+06,
        2.28149356e+09,  3.23334143e+07, -5.10005610e+08, -1.47077485e+09,
       -1.11084214e+08,  6.05654815e+08,  1.55061622e+09, -5.00425840e+08,
        2.28516039e+08,  8.86324463e+06,  1.56883648e+09,  8.55990000e+02,
        1.59089350e+05,  1.98100900e+05,  4.15068000e+04,  3.77186280e+05,
        2.92707000e+03,  4.50000000e+01, -4.50000000e+01,  5.90288300e+04,
        9.60790000e+02,  9.69060000e+02,  9.55820000e+02,  1.80962720e+05,
        1.00814000e+03,  9.34340000e+02,  9.38920000e+02,  1.04958000e+03,
        8.55460000e+02,  1.06990000e+03,  1.02416000e+03,  9.65780000e+02,
        8.87220000e+02,  5.73156000e+03,  4.92076000e+03,  6.77464490e+06,
        6.50878080e+07, -7.76404300e+04, -8.78502073e+06,  9.78711628e+06,
       -2.50844010e+05,  4.47716617e+07,  1.22039909e+06,  8.08700360e+05,
        2.93280512e+07,  1.72447582e+09,  6.45094872e+06, -7.64043289e+07,
        1.80000000e+03, -1.80000000e+03, -6.00000000e+00,  6.00000000e+00,
       -2.70000000e+02,  2.70000000e+02,  2.75400000e+03, -2.75400000e+03,
        1.00000000e+01, -9.00000000e+02,  9.00000000e+02,  5.07434478e+06])

Los 10 VALOR_REGISTRADO que MAS aparecen son:

                   count  Porcentaje_recuento
VALOR_REGISTRADO
0.00              173114                99.52
-10.00                 2                 0.00
-270.00                2                 0.00
270.00                 2                 0.00
-39589.00              1                 0.00
28694.92               1                 0.00
2058.91                1                 0.00
1060.66                1                 0.00
1101.45                1                 0.00
1033.10                1                 0.00

Los 10 VALOR_REGISTRADO que MENOS aparecen son:

                  count  Porcentaje_recuento
VALOR_REGISTRADO
-6.00                 1                 0.00
6.00                  1                 0.00
-5915.82              1                 0.00
-2440.98              1                 0.00
2754.00               1                 0.00
-2754.00              1                 0.00
10.00                 1                 0.00
-900.00               1                 0.00
900.00                1                 0.00
5074344.78            1                 0.00

 Las distribución de las repeticiones de los VALOR_REGISTRADO son:

        count  % repetición
count
1         824         99.52
2           3          0.36
173114      1          0.12

None
La categoría VALOR_REALIZADO tiene 121803 elementos diferentes:

Los elementos de la categoría son:

array([-1.6937200e+03,  2.6125000e+03, -2.5800000e+02, ...,
        7.3162899e+05,  2.9376394e+05,  5.2050025e+05])

Los 10 VALOR_REALIZADO que MAS aparecen son:

                 count  Porcentaje_recuento
VALOR_REALIZADO
0.00              2715                 1.56
100.00             609                 0.35
150.00             487                 0.28
200.00             486                 0.28
50.00              483                 0.28
10.00              470                 0.27
300.00             452                 0.26
20.00              450                 0.26
30.00              418                 0.24
60.00              368                 0.21

Los 10 VALOR_REALIZADO que MENOS aparecen son:

                 count  Porcentaje_recuento
VALOR_REALIZADO
113050.00            1                 0.00
9524.89              1                 0.00
192.14               1                 0.00
138320.00            1                 0.00
819993.37            1                 0.00
455765.29            1                 0.00
554100.14            1                 0.00
266101.02            1                 0.00
69086.64             1                 0.00
-258.00              1                 0.00

 Las distribución de las repeticiones de los VALOR_REALIZADO son:

        count  % repetición
count
1      110794         90.96
2        6288          5.16
3        1725          1.42
4         805          0.66
5         489          0.40
...       ...           ...
170         1          0.00
61          1          0.00
63          1          0.00
53          1          0.00
52          1          0.00

[135 rows x 2 columns]

None
La categoría PORCENTAJE_REALIZADO tiene 12 elementos diferentes:

Los elementos de la categoría son:

array([ 0.,  3.,  1.,  2.,  4.,  5., 16.,  7., 30.,  6., 10., 36.])

Los 10 PORCENTAJE_REALIZADO que MAS aparecen son:

                       count  Porcentaje_recuento
PORCENTAJE_REALIZADO
0.00                  173831                99.94
1.00                      65                 0.04
2.00                      21                 0.01
3.00                       9                 0.01
4.00                       8                 0.00
5.00                       2                 0.00
16.00                      2                 0.00
7.00                       2                 0.00
30.00                      1                 0.00
6.00                       1                 0.00

Los 10 PORCENTAJE_REALIZADO que MENOS aparecen son:

                      count  Porcentaje_recuento
PORCENTAJE_REALIZADO
2.00                     21                 0.01
3.00                      9                 0.01
4.00                      8                 0.00
5.00                      2                 0.00
16.00                     2                 0.00
7.00                      2                 0.00
30.00                     1                 0.00
6.00                      1                 0.00
10.00                     1                 0.00
36.00                     1                 0.00

 Las distribución de las repeticiones de los PORCENTAJE_REALIZADO son:

        count  % repetición
count
1           4         33.33
2           3         25.00
173831      1          8.33
21          1          8.33
65          1          8.33
8           1          8.33
9           1          8.33

None
La categoría FECHA_REGISTRO tiene 365 elementos diferentes:

Los elementos de la categoría son:

<DatetimeArray>
['2018-07-25 00:00:00', '2018-08-02 00:00:00', '2018-02-27 00:00:00',
 '2018-02-26 00:00:00', '2018-03-05 00:00:00', '2018-07-26 00:00:00',
 '2018-03-01 00:00:00', '2018-10-29 00:00:00', '2018-07-05 00:00:00',
 '2018-10-30 00:00:00',
 ...
 '2018-10-28 00:00:00', '2018-06-03 00:00:00', '2018-08-05 00:00:00',
 '2018-01-13 00:00:00', '2018-05-13 00:00:00', '2018-03-18 00:00:00',
 '2018-02-18 00:00:00', '2018-04-22 00:00:00', '2018-11-04 00:00:00',
 '2018-12-16 00:00:00']
Length: 366, dtype: datetime64[ns]

Los 10 FECHA_REGISTRO que MAS aparecen son:

                count  Porcentaje_recuento
FECHA_REGISTRO
2018-01-12       2032                 1.17
2018-01-31       1137                 0.65
2018-02-28       1102                 0.63
2018-11-30       1098                 0.63
2018-07-31       1075                 0.62
2018-04-30       1054                 0.61
2018-10-31       1020                 0.59
2018-08-31       1012                 0.58
2018-12-20        929                 0.53
2018-09-10        920                 0.53

Los 10 FECHA_REGISTRO que MENOS aparecen son:

                count  Porcentaje_recuento
FECHA_REGISTRO
2018-07-22          1                 0.00
2018-06-17          1                 0.00
2018-06-03          1                 0.00
2018-10-28          1                 0.00
2018-05-06          1                 0.00
2018-07-08          1                 0.00
2018-05-13          1                 0.00
2018-08-05          1                 0.00
2018-04-22          1                 0.00
2018-11-04          1                 0.00

 Las distribución de las repeticiones de los FECHA_REGISTRO son:

       count  % repetición
count
1         27          7.40
2         23          6.30
6          6          1.64
611        5          1.37
7          5          1.37
...      ...           ...
257        1          0.27
270        1          0.27
382        1          0.27
12         1          0.27
15         1          0.27

[197 rows x 2 columns]

None
La categoría AÑO_EJERCICIO tiene 1 elementos diferentes:

Los elementos de la categoría son:

array([2018])

Los 10 AÑO_EJERCICIO que MAS aparecen son:

                count  Porcentaje_recuento
AÑO_EJERCICIO
2018           173944               100.00

Los 10 AÑO_EJERCICIO que MENOS aparecen son:

                count  Porcentaje_recuento
AÑO_EJERCICIO
2018           173944               100.00

 Las distribución de las repeticiones de los AÑO_EJERCICIO son:

        count  % repetición
count
173944      1        100.00

None

In [13]:
df_datos_2018.to_pickle("../datos/output/datos_2018_convertido.pkl")