In [1]:
# Tratamiento de datos
import pandas as pd
# Ignorar warnings
import warnings
warnings.filterwarnings("ignore")
# Configuración
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames
#importar la biblioteca de numpy:
import numpy as np
import os
import sys #permite navegar por el sistema
sys.path.append("../") #solo aplica al soporte
import src.soporte_EDA as se


pd.options.display.float_format = '{:.2f}'.format # para redondearlo todo a 2 decimales

In [2]:
os.listdir('../datos/raw/')

['datos-2013.csv',
 'datos-2014.csv',
 'datos-2015.csv',
 'datos-2016.csv',
 'datos-2017.csv',
 'datos-2018.csv',
 'datos-2019.csv',
 'datos-2020.csv',
 'datos-2021.csv',
 'diccionario_datos.csv']

In [3]:
lista_archivos = os.listdir('../datos/raw/')[:-1]
lista_archivos

['datos-2013.csv',
 'datos-2014.csv',
 'datos-2015.csv',
 'datos-2016.csv',
 'datos-2017.csv',
 'datos-2018.csv',
 'datos-2019.csv',
 'datos-2020.csv',
 'datos-2021.csv']

In [4]:
diccionario = se.carga_ficheros_csv('raw',lista_archivos)

In [5]:
df_datos_2019 = diccionario['df_2019']

# Anális datos año 2019

In [6]:
se.traducción_columnas(df_datos_2019)

In [7]:
df_datos_2019

,CÓDIGO_ÓRGANO_SUPERIOR,NOMBRE_ÓRGANO_SUPERIOR,CÓDIGO_ÓRGANO,NOMBRE_ÓRGANO,CÓDIGO_UNIDAD_GESTORA,NOMBRE_UNIDAD_GESTORA,CATEGORÍA_ECONÓMICA,ORIGEN_INGRESO,TIPO_INGRESO,DETALLE,VALOR_PREVISTO_ACTUALIZADO,VALOR_REGISTRADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO,FECHA_REGISTRO,AÑO_EJERCICIO
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,INSCR.EM CONCURSOS E PROC.SELETIVOS-PRINCIPAL,"0,00","0,00","-95,00","0,00",12/06/2019,2019
1,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,INSCR.EM CONCURSOS E PROC.SELETIVOS-PRINCIPAL,"0,00","0,00","-380,00","0,00",07/05/2019,2019
2,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,INSCR.EM CONCURSOS E PROC.SELETIVOS-PRINCIPAL,"0,00","0,00","380,00","0,00",01/03/2019,2019
3,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,INSCR.EM CONCURSOS E PROC.SELETIVOS-PRINCIPAL,"0,00","0,00","-13490,00","0,00",27/02/2019,2019
4,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,INSCR.EM CONCURSOS E PROC.SELETIVOS-PRINCIPAL,"0,00","0,00","-855,00","0,00",18/04/2019,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176823,20000,Presidência da República,24208,Instituto Nacional de Tecnologia da Informação,243001,INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,"SERV.DE REGIST.,CERTIF.E FISCALIZ.-PRINCIPAL","0,00","0,00","206,00","0,00",17/12/2019,2019
176824,20000,Presidência da República,24208,Instituto Nacional de Tecnologia da Informação,243001,INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,"SERV.DE REGIST.,CERTIF.E FISCALIZ.-PRINCIPAL","250000,00","0,00","0,00","0,00",31/01/2019,2019
176825,20000,Presidência da República,24208,Instituto Nacional de Tecnologia da Informação,243001,INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,"SERV.DE REGIST.,CERTIF.E FISCALIZ.-PRINCIPAL","0,00","0,00","153,00","0,00",26/11/2019,2019
176826,20000,Presidência da República,24208,Instituto Nacional de Tecnologia da Informação,243001,INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,"SERV.DE REGIST.,CERTIF.E FISCALIZ.-PRINCIPAL","0,00","0,00","200000,00","0,00",25/10/2019,2019
176827,20000,Presidência da República,24208,Instituto Nacional de Tecnologia da Informação,243001,INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",MULTAS PREVISTAS EM LEGISL.ESPECIFICA-PRINC.,"0,00","0,00","30003,16","0,00",09/12/2019,2019

In [8]:
se.reporte(df_datos_2019)

La tabla tiene 176828 filas y 16 columnas
La tabla tiene 0 filas duplicadas

,tipo_variables,contador_total,numero_nulos,porcentaje_nulos,valores_unicos,duplicados
CÓDIGO_ÓRGANO_SUPERIOR,int64,176828,0,0.00,20,176808
NOMBRE_ÓRGANO_SUPERIOR,object,176828,0,0.00,20,176808
CÓDIGO_ÓRGANO,int64,176828,0,0.00,250,176578
NOMBRE_ÓRGANO,object,176828,0,0.00,249,176579
CÓDIGO_UNIDAD_GESTORA,int64,176828,0,0.00,272,176556
NOMBRE_UNIDAD_GESTORA,object,176828,0,0.00,269,176559
CATEGORÍA_ECONÓMICA,object,176828,0,0.00,5,176823
ORIGEN_INGRESO,object,176828,0,0.00,15,176813
TIPO_INGRESO,object,176828,0,0.00,46,176782
DETALLE,object,176828,0,0.00,636,176192
VALOR_PREVISTO_ACTUALIZADO,object,176828,0,0.00,1801,175027
VALOR_REGISTRADO,object,176828,0,0.00,1105,175723
VALOR_REALIZADO,object,176828,0,0.00,124002,52826
PORCENTAJE_REALIZADO,object,176828,0,0.00,48,176780
FECHA_REGISTRO,object,176742,86,0.05,365,176462
AÑO_EJERCICIO,int64,176828,0,0.00,1,176827

In [9]:
se.conversion_columnas(df_datos_2019)

La tabla tiene 176828 filas y 16 columnas
La tabla tiene 0 filas duplicadas

,tipo_variables,contador_total,numero_nulos,porcentaje_nulos,valores_unicos,duplicados
CÓDIGO_ÓRGANO_SUPERIOR,object,176828,0,0.00,20,176808
NOMBRE_ÓRGANO_SUPERIOR,object,176828,0,0.00,20,176808
CÓDIGO_ÓRGANO,object,176828,0,0.00,250,176578
NOMBRE_ÓRGANO,object,176828,0,0.00,249,176579
CÓDIGO_UNIDAD_GESTORA,object,176828,0,0.00,272,176556
NOMBRE_UNIDAD_GESTORA,object,176828,0,0.00,269,176559
CATEGORÍA_ECONÓMICA,object,176828,0,0.00,5,176823
ORIGEN_INGRESO,object,176828,0,0.00,15,176813
TIPO_INGRESO,object,176828,0,0.00,46,176782
DETALLE,object,176828,0,0.00,636,176192
VALOR_PREVISTO_ACTUALIZADO,float64,176828,0,0.00,1801,175027
VALOR_REGISTRADO,float64,176828,0,0.00,1105,175723
VALOR_REALIZADO,float64,176828,0,0.00,124002,52826
PORCENTAJE_REALIZADO,float64,176828,0,0.00,48,176780
FECHA_REGISTRO,datetime64[ns],176742,86,0.05,365,176462
AÑO_EJERCICIO,int64,176828,0,0.00,1,176827

In [10]:
se.analisis_descriptivos_categóricas(df_datos_2019)

Las columnas categóricas son Index(['CÓDIGO_ÓRGANO_SUPERIOR', 'NOMBRE_ÓRGANO_SUPERIOR', 'CÓDIGO_ÓRGANO',
       'NOMBRE_ÓRGANO', 'CÓDIGO_UNIDAD_GESTORA', 'NOMBRE_UNIDAD_GESTORA',
       'CATEGORÍA_ECONÓMICA', 'ORIGEN_INGRESO', 'TIPO_INGRESO', 'DETALLE'],
      dtype='object')
Algunos ejemplos de filas son:

,CÓDIGO_ÓRGANO_SUPERIOR,NOMBRE_ÓRGANO_SUPERIOR,CÓDIGO_ÓRGANO,NOMBRE_ÓRGANO,CÓDIGO_UNIDAD_GESTORA,NOMBRE_UNIDAD_GESTORA,CATEGORÍA_ECONÓMICA,ORIGEN_INGRESO,TIPO_INGRESO,DETALLE
176149,54000,Ministério do Turismo,20412,Fundação Nacional de Artes,403201,FUNDACAO NACIONAL DE ARTES,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.
45865,25000,Ministério da Economia,37904,Fundo do Regime Geral da Previdência Social,513001,COORDENACAO DE ORCAMENTO E FINANCAS DO FRGPS,Receitas Correntes,Outras Receitas Correntes,"Multas administrativas, contratuais e judicia",MULTAS PREVISTAS EM LEGISL.ESPECIFICA-PRINC.
170949,44000,Ministério do Meio Ambiente,44000,Ministério do Meio Ambiente - Unidades com vín...,440002,SUBSECRET.PLANEJAM.ORCAM.E ADMINIST±SPOA(MMA),Receitas Correntes,Receita Patrimonial,Exploração de recursos naturais,UTILIZ.REC.HIDRICOS-DEMAIS EMPRESAS-PRINC.
164505,53000,Ministério do Desenvolvimento Regional,29214,Companhia Brasileira de Trens Urbanos,275068,CIA BRASILEIRA DE TRENS URBANOS-ADM.CENTRAL,Receitas Correntes,Receita Patrimonial,Exploração do patrimônio imobiliário do Estad,ALUGUEIS E ARRENDAMENTOS-MULTAS E JUROS
65821,25000,Ministério da Economia,37904,Fundo do Regime Geral da Previdência Social,513001,COORDENACAO DE ORCAMENTO E FINANCAS DO FRGPS,Receitas Correntes,Outras Receitas Correntes,Demais receitas correntes,OUTRAS RECEITAS-PRIMARIAS-MULTAS E JUROS

Las características de estas columnas son:

,count,unique,top,freq
CÓDIGO_ÓRGANO_SUPERIOR,176828,20,26000,67104
NOMBRE_ÓRGANO_SUPERIOR,176828,20,Ministério da Educação,67104
CÓDIGO_ÓRGANO,176828,250,25000,23514
NOMBRE_ÓRGANO,176828,249,Ministério da Economia - Unidades com vínculo ...,23514
CÓDIGO_UNIDAD_GESTORA,176828,272,170013,22389
NOMBRE_UNIDAD_GESTORA,176828,269,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,22389
CATEGORÍA_ECONÓMICA,176828,5,Receitas Correntes,169210
ORIGEN_INGRESO,176828,15,Receita de Serviços,59957
TIPO_INGRESO,176828,46,Serviços Administrativos e Comerciais Gerais,52747
DETALLE,176828,636,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.,29143

In [11]:
se.analisis_descriptivos_numéricas(df_datos_2019)

Las columnas no categóricas son Index(['VALOR_PREVISTO_ACTUALIZADO', 'VALOR_REGISTRADO', 'VALOR_REALIZADO',
       'PORCENTAJE_REALIZADO', 'FECHA_REGISTRO', 'AÑO_EJERCICIO'],
      dtype='object')
Algunos ejemplos de filas son:

,VALOR_PREVISTO_ACTUALIZADO,VALOR_REGISTRADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO,FECHA_REGISTRO,AÑO_EJERCICIO
174819,0.00,0.00,350.00,0.00,2019-10-23,2019
86433,0.00,0.00,2359.30,0.00,2019-11-11,2019
123255,0.00,0.00,201.00,0.00,2019-11-18,2019
92470,0.00,0.00,330.00,0.00,2019-11-18,2019
132939,0.00,0.00,633.00,0.00,2019-09-25,2019

Las características de estas columnas son:

,count,mean,min,25%,50%,75%,max,std
VALOR_PREVISTO_ACTUALIZADO,176828.00,18443791.14,0.00,0.00,0.00,0.00,747311062387.00,2448775926.14
VALOR_REGISTRADO,176828.00,1943902.42,-148347267246.91,0.00,0.00,0.00,146326992731.61,653809991.32
VALOR_REALIZADO,176828.00,16917935.72,-60439234089.12,316.82,3263.00,39266.45,50193922075.79,471865123.28
PORCENTAJE_REALIZADO,176828.00,0.18,-282.00,0.00,0.00,0.00,16631.00,48.15
FECHA_REGISTRO,176742,2019-07-01 17:29:24.130766848,2019-01-01 00:00:00,2019-04-02 00:00:00,2019-07-03 00:00:00,2019-09-30 00:00:00,2019-12-31 00:00:00,NaN
AÑO_EJERCICIO,176828.00,2019.00,2019.00,2019.00,2019.00,2019.00,2019.00,0.00

# Análisis columnas de forma individual
## Año 2019

In [12]:
for columna in df_datos_2019.columns:
    print(se.analisis_individual_columnas(df_datos_2019, columna))

La categoría CÓDIGO_ÓRGANO_SUPERIOR tiene 20 elementos diferentes:

Los elementos de la categoría son:

array(['63000', '22000', '55000', '24000', '52000', '25000', '26000',
       '39000', '30000', '81000', '36000', '41000', '57000', '35000',
       '32000', '53000', '51000', '44000', '54000', '20000'], dtype=object)

Los 10 CÓDIGO_ÓRGANO_SUPERIOR que MAS aparecen son:

                        count  Porcentaje_recuento
CÓDIGO_ÓRGANO_SUPERIOR
26000                   67104                37.95
25000                   37788                21.37
52000                   15750                 8.91
22000                    7361                 4.16
30000                    6529                 3.69
39000                    6066                 3.43
32000                    5516                 3.12
24000                    5413                 3.06
36000                    5157                 2.92
53000                    4962                 2.81

Los 10 CÓDIGO_ÓRGANO_SUPERIOR que MENOS aparecen son:

                        count  Porcentaje_recuento
CÓDIGO_ÓRGANO_SUPERIOR
44000                    4807                 2.72
54000                    4351                 2.46
41000                    4217                 2.38
20000                     589                 0.33
55000                     556                 0.31
35000                     421                 0.24
81000                     217                 0.12
63000                      20                 0.01
57000                       2                 0.00
51000                       2                 0.00

 Las distribución de las repeticiones de los CÓDIGO_ÓRGANO_SUPERIOR son:

       count  % repetición
count
2          2         10.00
37788      1          5.00
67104      1          5.00
15750      1          5.00
7361       1          5.00
6066       1          5.00
6529       1          5.00
5413       1          5.00
5157       1          5.00
4962       1          5.00
5516       1          5.00
4807       1          5.00
4351       1          5.00
589        1          5.00
4217       1          5.00
556        1          5.00
421        1          5.00
217        1          5.00
20         1          5.00

None
La categoría NOMBRE_ÓRGANO_SUPERIOR tiene 20 elementos diferentes:

Los elementos de la categoría son:

array(['Advocacia-Geral da União',
       'Ministério da Agricultura, Pecuária e Abastec',
       'Ministério da Cidadania',
       'Ministério da Ciência, Tecnologia, Inovações ',
       'Ministério da Defesa', 'Ministério da Economia',
       'Ministério da Educação', 'Ministério da Infraestrutura',
       'Ministério da Justiça e Segurança Pública',
       'Ministério da Mulher, Família e Direitos Huma',
       'Ministério da Saúde', 'Ministério das Comunicações',
       'Ministério das Mulheres, Igualdade Racial, da',
       'Ministério das Relações Exteriores',
       'Ministério de Minas e Energia',
       'Ministério do Desenvolvimento Regional', 'Ministério do Esporte',
       'Ministério do Meio Ambiente', 'Ministério do Turismo',
       'Presidência da República'], dtype=object)

Los 10 NOMBRE_ÓRGANO_SUPERIOR que MAS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_ÓRGANO_SUPERIOR
Ministério da Educação                         67104                37.95
Ministério da Economia                         37788                21.37
Ministério da Defesa                           15750                 8.91
Ministério da Agricultura, Pecuária e Abastec   7361                 4.16
Ministério da Justiça e Segurança Pública       6529                 3.69
Ministério da Infraestrutura                    6066                 3.43
Ministério de Minas e Energia                   5516                 3.12
Ministério da Ciência, Tecnologia, Inovações    5413                 3.06
Ministério da Saúde                             5157                 2.92
Ministério do Desenvolvimento Regional          4962                 2.81

Los 10 NOMBRE_ÓRGANO_SUPERIOR que MENOS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_ÓRGANO_SUPERIOR
Ministério do Meio Ambiente                     4807                 2.72
Ministério do Turismo                           4351                 2.46
Ministério das Comunicações                     4217                 2.38
Presidência da República                         589                 0.33
Ministério da Cidadania                          556                 0.31
Ministério das Relações Exteriores               421                 0.24
Ministério da Mulher, Família e Direitos Huma    217                 0.12
Advocacia-Geral da União                          20                 0.01
Ministério das Mulheres, Igualdade Racial, da      2                 0.00
Ministério do Esporte                              2                 0.00

 Las distribución de las repeticiones de los NOMBRE_ÓRGANO_SUPERIOR son:

       count  % repetición
count
2          2         10.00
37788      1          5.00
67104      1          5.00
15750      1          5.00
7361       1          5.00
6066       1          5.00
6529       1          5.00
5413       1          5.00
5157       1          5.00
4962       1          5.00
5516       1          5.00
4807       1          5.00
4351       1          5.00
589        1          5.00
4217       1          5.00
556        1          5.00
421        1          5.00
217        1          5.00
20         1          5.00

None
La categoría CÓDIGO_ÓRGANO tiene 250 elementos diferentes:

Los elementos de la categoría son:

array(['63000', '22201', '22202', '22211', '22000', '49001', '44208',
       '20129', '22905', '55001', '55000', '20301', '24901', '24000',
       '20501', '24209', '20502', '52904', '52132', '52000', '52911',
       '52133', '52131', '52111', '52221', '52121', '52211', '31280',
       '52233', '52222', '37904', '25000', '37202', '25201', '38901',
       '25207', '20924', '30203', '25203', '25205', '28500', '25211',
       '22500', '61201', '25905', '25904', '20603', '20202', '25915',
       '25901', '30204', '37201', '90000', '33206', '25914', '25208',
       '26443', '26242', '26234', '26241', '26243', '26294', '26263',
       '26424', '26298', '26236', '26238', '26412', '26410', '26277',
       '26245', '26246', '26426', '26244', '26268', '26406', '26411',
       '26276', '26350', '26271', '26421', '26233', '26447', '26284',
       '26442', '26413', '26408', '26441', '26260', '26420', '26352',
       '26250', '26270', '26402', '26255', '26273', '26247', '26416',
       '26254', '26232', '26431', '26448', '26283', '26249', '26434',
       '26239', '26433', '26419', '26404', '26405', '26439', '26278',
       '26450', '26258', '26248', '26279', '26436', '26440', '26201',
       '26257', '26262', '26237', '26403', '26292', '26407', '26264',
       '26275', '26261', '26230', '26267', '26415', '26291', '26274',
       '26428', '26269', '26285', '26266', '26231', '26435', '26418',
       '26240', '26438', '26423', '26251', '26449', '26252', '26256',
       '26351', '26272', '26409', '26282', '26417', '26281', '26432',
       '26290', '26429', '26235', '26427', '26422', '26280', '26000',
       '26437', '26253', '26430', '26414', '26286', '26425', '39252',
       '56901', '62201', '39250', '29209', '39816', '68201', '39253',
       '49901', '39000', '62901', '39812', '30108', '30907', '30912',
       '30911', '30211', '30905', '30202', '30205', '30000', '30802',
       '30914', '30913', '81000', '36211', '36000', '36213', '36201',
       '36210', '36212', '41231', '41232', '41903', '20415', '64901',
       '35201', '35000', '32396', '32205', '32314', '32263', '29208',
       '32210', '32000', '20302', '20303', '29214', '53901', '22203',
       '74918', '22204', '53203', '53902', '74919', '44205', '53903',
       '53202', '53000', '53207', '74917', '29205', '56902', '91214',
       '20701', '44207', '44206', '44204', '44000', '44902', '34902',
       '54901', '20404', '20203', '42207', '20411', '20604', '54000',
       '20412', '20403', '20101', '20116', '24208'], dtype=object)

Los 10 CÓDIGO_ÓRGANO que MAS aparecen son:

               count  Porcentaje_recuento
CÓDIGO_ÓRGANO
25000          23514                13.30
52904           4538                 2.57
52132           4255                 2.41
34902           2720                 1.54
20701           2511                 1.42
22202           2279                 1.29
37904           2279                 1.29
32396           2046                 1.16
52911           1996                 1.13
24901           1960                 1.11

Los 10 CÓDIGO_ÓRGANO que MENOS aparecen son:

               count  Porcentaje_recuento
CÓDIGO_ÓRGANO
24208             10                 0.01
39000             10                 0.01
32314              6                 0.00
39816              3                 0.00
91214              2                 0.00
52233              2                 0.00
44902              2                 0.00
64901              2                 0.00
90000              1                 0.00
81000              1                 0.00

 Las distribución de las repeticiones de los CÓDIGO_ÓRGANO son:

       count  % repetición
count
2          4          1.60
55         3          1.20
33         3          1.20
631        2          0.80
66         2          0.80
...      ...           ...
26         1          0.40
19         1          0.40
20         1          0.40
3          1          0.40
6          1          0.40

[227 rows x 2 columns]

None
La categoría NOMBRE_ÓRGANO tiene 249 elementos diferentes:

Los elementos de la categoría son:

array(['Advocacia-Geral da União - Unidades com vínculo direto',
       'Instituto Nacional de Colonização e Reforma Agrária',
       'Empresa Brasileira de Pesquisa Agropecuária',
       'Companhia Nacional de Abastecimento',
       'Ministério da Agricultura, Pecuária e Abastecimento - Unidades com vínculo direto',
       'Fundo de Terras e da Reforma Agrária',
       'Serviço Florestal Brasileiro',
       'Secretaria Especial de Agricultura Familiar e do Desenvolvimento Agrário',
       'Fundo de Defesa da Economia Cafeeira',
       'Fundo Nacional de Assistência Social',
       'Ministério da Cidadania - Unidades com vínculo direto',
       'Comissão Nacional de Energia Nuclear',
       'Fundo Nacional de Desenvolvimento Científico e Tecnológico',
       'Ministério da Ciência, Tecnologia, Inovações e Comunicações - Unidades com vínculo direto',
       'Conselho Nacional de Desenvolvimento Científico e Tecnológico',
       'Centro Nacional de Tecnologia Eletrônica Avançada S.A.',
       'Financiadora de Estudos e Projetos', 'Fundo do Exército',
       'Comando da Marinha - Fundo Naval',
       'Ministério da Defesa - Unidades com vínculo direto',
       'Fundo Aeronáutico',
       'Fundo de Desenvolvimento do Ensino Profissional Marítimo',
       'Comando da Marinha', 'Comando da Aeronáutica',
       'Indústria de Material Bélico do Brasil', 'Comando do Exército',
       'Caixa de Financiamento Imobiliário da Aeronáutica',
       'Caixa de Construções de Casas para o Pessoal da Marinha do Brasil',
       'Amazônia Azul Tecnologia de Defesa S.A.', 'Fundação Osório',
       'Fundo do Regime Geral da Previdência Social',
       'Ministério da Economia - Unidades com vínculo direto',
       'Instituto Nacional do Seguro Social',
       'Banco Central do Brasil - Orçamento Fiscal e Seguridade Social',
       'Fundo de Amparo ao Trabalhador',
       'Serviço Federal de Processamento de Dados',
       'Fundo Nacional de Desenvolvimento',
       'Instituto Nacional de Metrologia, Qualidade e Tecnologia',
       'Comissão de Valores Mobiliários',
       'Fundação Instituto Brasileiro de Geografia e Estatística',
       'Fundo de Garantia para a Promoção da Competitividade',
       'Casa da Moeda do Brasil',
       'Companhia de Entrepostos e Armazéns Gerais de São Paulo',
       'Instituto de Pesquisa Econômica Aplicada',
       'Fundo de Apoio ao Desenvolvimento Social',
       'Fundo de Estabilidade do Seguro Rural',
       'Superintendência da Zona Franca de Manaus',
       'Fundação Escola Nacional de Administração Pública',
       'Fundo Constitucional do Distrito Federal',
       'Fundo de Compensação de Variações Salariais',
       'Instituto Nacional da Propriedade Industrial',
       'Fundação Jorge Duprat Figueiredo, de Segurança e Medicina do Trabalho',
       'Reserva de Contingência',
       'Superintendência Nacional de Previdência Complementar',
       'Fundo de Garantia à Exportação',
       'Superintendência de Seguros Privados',
       'Empresa Brasileira de Serviços Hospitalares',
       'Universidade Federal de Pernambuco',
       'Universidade Federal do Espírito Santo',
       'Universidade Federal do Paraná',
       'Universidade Federal do Rio Grande do Norte',
       'Hospital de Clínicas de Porto Alegre',
       'Universidade Federal de Lavras', 'Instituto Federal do Tocantins',
       'Fundo Nacional de Desenvolvimento da Educação',
       'Universidade Federal Fluminense',
       'Universidade Federal de Minas Gerais',
       'Instituto Federal do Sul de Minas Gerais',
       'Instituto Federal do Norte de Minas Gerais',
       'Universidade Federal de Ouro Preto',
       'Universidade Federal do Rio de Janeiro',
       'Universidade Federal de Santa Catarina',
       'Instituto Federal do Amapá',
       'Universidade Federal do Rio Grande do Sul',
       'Fundação Universidade Federal de Rondônia',
       'Instituto Federal do Espírito Santo',
       'Instituto Federal do Sudeste de Minas Gerais',
       'Fundação Universidade Federal do Mato Grosso',
       'Fundação Universidade Federal da Grande Dourados',
       'Fundação Universidade de Brasília',
       'Instituto Federal de Rondônia', 'Universidade Federal do Ceará',
       'Universidade Federal do Oeste da Bahia',
       'Fundação Universidade Federal de Ciências da Saúde de Porto Alegre',
       'Universidade da Integração Internacional da Lusofonia Afro-Brasileira',
       'Instituto Federal do Triângulo Mineiro',
       'Instituto Federal do Maranhão',
       'Universidade Federal do Oeste do Pará',
       'Universidade Federal de Alfenas', 'Instituto Federal Farroupilha',
       'Fundação Universidade Federal do ABC',
       'Universidade Federal de Roraima',
       'Fundação Universidade do Amazonas',
       'Instituto Federal de Alagoas',
       'Universidade Federal dos Vales do Jequitinhonha e Mucuri',
       'Universidade Federal do Rio Grande',
       'Universidade Federal de Santa Maria', 'Instituto Federal do Pará',
       'Universidade Federal do Triângulo Mineiro',
       'Universidade Federal da Bahia', 'Instituto Federal do Piauí',
       'Universidade Federal do Sul e Sudeste do Pará',
       'Fundação Universidade Federal do Mato Grosso do Sul',
       'Universidade Federal Rural do Rio de Janeiro',
       'Instituto Federal Fluminense', 'Universidade Federal do Pará',
       'Instituto Federal do Rio de Janeiro',
       'Instituto Federal do Rio Grande do Sul',
       'Instituto Federal Baiano', 'Instituto Federal do Ceará',
       'Instituto Federal de São Paulo',
       'Fundação Universidade Federal de Pelotas',
       'Universidade Federal do Sul da Bahia',
       'Universidade Tecnológica Federal do Paraná',
       'Universidade Federal Rural de Pernambuco',
       'Fundação Universidade Federal do Piauí',
       'Instituto Federal Sul-rio-grandense',
       'Universidade Federal da Fronteira Sul', 'Colégio Pedro II',
       'Centro Federal de Educação Tecnológica de Minas Gerais',
       'Universidade Federal de São Paulo',
       'Universidade Federal de Juiz de Fora',
       'Instituto Federal do Amazonas', 'Fundação Joaquim Nabuco',
       'Instituto Federal Goiano',
       'Universidade Federal Rural do Semi-Árido',
       'Fundação Universidade Federal do Acre',
       'Universidade Federal de Itajubá',
       'Fundação Universidade Federal do Vale do São Francisco',
       'Universidade Federal da Integração Latino-Americana',
       'Instituto Federal do Mato Grosso do Sul',
       'Fundação Coordenação de Aperfeiçoamento de Pessoal de Nível Superior',
       'Fundação Universidade Federal de Uberlândia',
       'Instituto Federal de Brasília',
       'Universidade Federal do Estado do Rio de Janeiro',
       'Fundação Universidade Federal de São João Del-Rei',
       'Fundação Universidade Federal do Pampa',
       'Universidade Federal de Alagoas',
       'Instituto Federal do Rio Grande do Norte',
       'Instituto Federal de Pernambuco',
       'Universidade Federal da Paraíba',
       'Instituto Federal de Santa Catarina',
       'Instituto Federal de Sergipe',
       'Fundação Universidade Federal do Tocantins',
       'Universidade Federal do Cariri',
       'Universidade Federal de Campina Grande',
       'Centro Federal de Educação Tecnológica Celso Suckow da Fonseca',
       'Universidade Federal do Recôncavo da Bahia',
       'Fundação Universidade do Maranhão',
       'Instituto Federal de Minas Gerais',
       'Universidade Federal de Viçosa', 'Instituto Federal da Paraíba',
       'Fundação Universidade Federal de Sergipe',
       'Instituto Federal do Paraná',
       'Instituto Nacional de Estudos e Pesquisas Educacionais Anísio Teixeira',
       'Instituto Federal de Educação, Ciência e Tecnologia de Goiás',
       'Universidade Federal de Goiás', 'Instituto Federal da Bahia',
       'Instituto Federal Catarinense',
       'Fundação Universidade Federal de São Carlos',
       'Ministério da Educação - Unidades com vínculo direto',
       'Instituto Federal de Roraima',
       'Universidade Federal Rural da Amazônia',
       'Instituto Federal do Sertão de Pernambuco',
       'Instituto Federal do Mato Grosso',
       'Fundação Universidade Federal do Amapá',
       'Instituto Federal do Acre',
       'Departamento Nacional de Infraestrutura de Transportes',
       'Fundo Nacional de Segurança e Educação de Trânsito',
       'Agência Nacional de Aviação Civil',
       'Agência Nacional de Transportes Terrestres',
       'VALEC Engenharia, Construções e Ferrovias S.A.',
       'Companhia Docas do Estado de São Paulo',
       'Agência Nacional de Transportes Aquaviários',
       'Empresa de Planejamento e Logística S.A.',
       'Departamento do Fundo da Marinha Mercante',
       'Ministério da Infraestrutura - Unidades com vínculo direto',
       'Fundo Nacional de Aviação Civil',
       'Companhia Docas do Estado da Bahia',
       'Departamento de Polícia Federal', 'Fundo Penitenciário Nacional',
       'Fundo Nacional Antidrogas', 'Fundo Nacional de Segurança Pública',
       'Conselho Administrativo de Defesa Econômica',
       'Secretaria Nacional do Consumidor Fundo',
       'Fundação Nacional do Índio',
       'Fundação Nacional do Índio - Patrimônio Indígena',
       'Ministério da Justiça e Segurança Pública - Unidades com vínculo direto',
       'Departamento de Polícia Rodoviária Federal',
       'Fundo Nacional do Idoso',
       'Fundo Nacional para a Criança e o Adolescente',
       'Ministério da Mulher, Família e Direitos Humanos - Unidades com vínculo direto',
       'Fundação Nacional de Saúde',
       'Ministério da Saúde - Unidades com vínculo direto',
       'Agência Nacional de Saúde Suplementar', 'Fundação Oswaldo Cruz',
       'Hospital Nossa Senhora da Conceição S.A.',
       'Agência Nacional de Vigilância Sanitária',
       'Agêncial Nacional de Telecomunicações',
       'Fundo de Universalização dos Serviços de Telecomunicações',
       'Fundo para o Desenvolvimento Tecnológico das Telecomunicações',
       'Empresa Brasil de Comunicação', 'Fundação Alexandre de Gusmão',
       'Ministério das Relações Exteriores - Unidades com vínculo direto',
       'Agência Nacional de Mineração',
       'Agência Nacional do Petróleo, Gás Natural e Biocombustíveis',
       'Empresa de Pesquisa Energética',
       'Departamento Nacional de Produção Mineral',
       'Companhia de Pesquisa de Recursos Minerais',
       'Agência Nacional de Energia Elétrica',
       'Ministério de Minas e Energia - Unidades com vínculo direto',
       'Nuclebrás Equipamentos Pesados S.A.',
       'Indústrias Nucleares do Brasil',
       'Companhia Brasileira de Trens Urbanos',
       'Fundo Constitucional de Financiamento do Norte',
       'Companhia de Desenvolvimento dos Vales do São Francisco e do Parnaíba',
       'Fundo de Desenvolvimento do Nordeste',
       'Departamento Nacional de Obras Contra as Secas',
       'Superintendência do Desenvolvimento do Nordeste',
       'Fundo Constitucional de Financiamento do Centro-Oeste',
       'Fundo de Desenvolvimento do Centro-Oeste',
       'Agência Nacional de Águas',
       'Fundo Constitucional de Financiamento do Nordeste',
       'Superintendência do Desenvolvimento da Amazônia',
       'Ministério do Desenvolvimento Regional - Unidades com vínculo direto',
       'Superintendência de Desenvolvimento do Centro-Oeste',
       'Fundo de Desenvolvimento da Amazônia',
       'Empresa de Trens Urbanos de Porto Alegre',
       'Fundo Nacional de Habitação de Interesse Social',
       'Autoridade Pública Olímpica',
       'Instituto Brasileiro do Meio Ambiente e dos Recursos Naturais Renováveis',
       'Instituto Chico Mendes de Conservação da Biodiversidade',
       'Instituto de Pesquisas Jardim Botânico do Rio de Janeiro',
       'Fundo Nacional do Meio Ambiente',
       'Ministério do Meio Ambiente - Unidades com vínculo direto',
       'Fundo Nacional sobre Mudança no Clima',
       'Fundo Nacional de Cultura', 'Fundo Geral de Turismo',
       'Fundação Biblioteca Nacional', 'Agência Nacional do Cinema',
       'Instituto Brasileiro de Museus',
       'Instituto do Patrimônio Histórico e Artístico Nacional',
       'Instituto Brasileiro de Turismo',
       'Ministério do Turismo - Unidades com vínculo direto',
       'Fundação Nacional de Artes', 'Fundação Casa de Rui Barbosa',
       'Presidência da República', 'Fundo de Imprensa Nacional',
       'Instituto Nacional de Tecnologia da Informação'], dtype=object)

Los 10 NOMBRE_ÓRGANO que MAS aparecen son:

                                                    count  Porcentaje_recuento
NOMBRE_ÓRGANO
Ministério da Economia - Unidades com vínculo d...  23514                13.30
Fundo do Exército                                    4538                 2.57
Comando da Marinha - Fundo Naval                     4255                 2.41
Fundo Nacional de Cultura                            2720                 1.54
Instituto Brasileiro do Meio Ambiente e dos Rec...   2511                 1.42
Fundo do Regime Geral da Previdência Social          2279                 1.29
Empresa Brasileira de Pesquisa Agropecuária          2279                 1.29
Agência Nacional de Mineração                        2046                 1.16
Fundo Aeronáutico                                    1996                 1.13
Fundo Nacional de Desenvolvimento Científico e ...   1960                 1.11

Los 10 NOMBRE_ÓRGANO que MENOS aparecen son:

                                                    count  Porcentaje_recuento
NOMBRE_ÓRGANO
Fundação Casa de Rui Barbosa                           19                 0.01
Ministério da Infraestrutura - Unidades com vín...     10                 0.01
Instituto Nacional de Tecnologia da Informação         10                 0.01
Empresa de Pesquisa Energética                          6                 0.00
Companhia Docas do Estado de São Paulo                  3                 0.00
Amazônia Azul Tecnologia de Defesa S.A.                 2                 0.00
Fundo Nacional sobre Mudança no Clima                   2                 0.00
Autoridade Pública Olímpica                             2                 0.00
Reserva de Contingência                                 1                 0.00
Ministério da Mulher, Família e Direitos Humano...      1                 0.00

 Las distribución de las repeticiones de los NOMBRE_ÓRGANO son:

       count  % repetición
count
33         3          1.20
55         3          1.20
2          3          1.20
631        2          0.80
66         2          0.80
...      ...           ...
26         1          0.40
19         1          0.40
20         1          0.40
3          1          0.40
6          1          0.40

[227 rows x 2 columns]

None
La categoría CÓDIGO_UNIDAD_GESTORA tiene 272 elementos diferentes:

Los elementos de la categoría son:

array(['110060', '373001', '135037', '135100', '130101', '130150',
       '130214', '440088', '110745', '110690', '130137', '490003',
       '330013', '550002', '113209', '240901', '240102', '364001',
       '364999', '245209', '365001', '167999', '673001', '110407',
       '167086', '121002', '873001', '211999', '120002', '168002',
       '773001', '160075', '120999', '123001', '773008', '699999',
       '773009', '164204', '513001', '170013', '170010', '510001',
       '173057', '380910', '806001', '201924', '183023', '173030',
       '114601', '287001', '179083', '400042', '201002', '225001',
       '280102', '113601', '170380', '170008', '179103', '193028',
       '114702', '170392', '170381', '183038', '264001', '390001',
       '333001', '170356', '173039', '155007', '153080', '153046',
       '153079', '153103', '155001', '153032', '158131', '153173',
       '153056', '153062', '158137', '158121', '154046', '153115',
       '153163', '158150', '153114', '154055', '158151', '158123',
       '154045', '154502', '154040', '158148', '153045', '158717',
       '154032', '158565', '158099', '158128', '158515', '153028',
       '158127', '154503', '154080', '154039', '158147', '153036',
       '154042', '153164', '158135', '153035', '153038', '158146',
       '158718', '154054', '153166', '158139', '153063', '158157',
       '158141', '158129', '158133', '158154', '154047', '158720',
       '153019', '153165', '154048', '158126', '158517', '153167',
       '153015', '153031', '153061', '158142', '344002', '158124',
       '153033', '154044', '153030', '154421', '158658', '158132',
       '154003', '154043', '158143', '154034', '154069', '154359',
       '153037', '158155', '158136', '153065', '158516', '158274',
       '158134', '154419', '158719', '158195', '153010', '158092',
       '154041', '158122', '154051', '158138', '154050', '158009',
       '153978', '158153', '153052', '158145', '158125', '154049',
       '150014', '158152', '153034', '158149', '158144', '154215',
       '158156', '393003', '200320', '113214', '393001', '275075',
       '396006', '682010', '395001', '277001', '390002', '110591',
       '396002', '200336', '200333', '200246', '200331', '303001',
       '200401', '194088', '194040', '200094', '200109', '307002',
       '307001', '810002', '255014', '250088', '253003', '255011',
       '254420', '255000', '366003', '255003', '253002', '255008',
       '255015', '413001', '413047', '410007', '115406', '110244',
       '244001', '240005', '323100', '323030', '325001', '323002',
       '495001', '323028', '320002', '113208', '113206', '275068',
       '537002', '195006', '533009', '113802', '533014', '537003',
       '537004', '443003', '537001', '533013', '530002', '533018',
       '533008', '275060', '560015', '913001', '193034', '443032',
       '443019', '443045', '193125', '440002', '447001', '193105',
       '193122', '340002', '187002', '344042', '203003', '423001',
       '403101', '185001', '540001', '403201', '344001', '110005',
       '110245', '243001'], dtype=object)

Los 10 CÓDIGO_UNIDAD_GESTORA que MAS aparecen son:

                       count  Porcentaje_recuento
CÓDIGO_UNIDAD_GESTORA
170013                 22389                12.66
167086                  4448                 2.52
673001                  3475                 1.97
340002                  2720                 1.54
193034                  2505                 1.42
513001                  2279                 1.29
135037                  2279                 1.29
323100                  2046                 1.16
121002                  1996                 1.13
240901                  1960                 1.11

Los 10 CÓDIGO_UNIDAD_GESTORA que MENOS aparecen son:

                       count  Porcentaje_recuento
CÓDIGO_UNIDAD_GESTORA
193105                     2                 0.00
193122                     2                 0.00
193125                     2                 0.00
447001                     2                 0.00
913001                     2                 0.00
773009                     2                 0.00
110244                     2                 0.00
390001                     1                 0.00
158274                     1                 0.00
810002                     1                 0.00

 Las distribución de las repeticiones de los CÓDIGO_UNIDAD_GESTORA son:

       count  % repetición
count
3          7          2.57
2          7          2.57
33         3          1.10
55         3          1.10
1          3          1.10
...      ...           ...
29         1          0.37
36         1          0.37
13         1          0.37
8          1          0.37
6          1          0.37

[236 rows x 2 columns]

None
La categoría NOMBRE_UNIDAD_GESTORA tiene 269 elementos diferentes:

Los elementos de la categoría son:

array(['COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU',
       'DPTO. DE ADMINISTRACAO FINANCEIRA-DAF - INCRA',
       'EMBRAPA-SETORIAL', 'COMPANHIA NACIONAL DE ABASTECIMENTO',
       'COORD.-GERAL DE ORCAMENTO E FINANCAS-MAPA',
       'COORDENACAO-GERAL DO FUNDO DE TERRAS',
       'SETORIAL PROG.ORCAMENTARIA E FINANCEIRA-SFB',
       'SECRETARIA ESPECIAL DE AQUICULTURA E PESCA/PR',
       'SEC.ESPEC.DE AGRIC.FAMIL.E DO DESENV.AGRARIO',
       'FUNDO DE DEFESA DA ECON.CAFEEIRA/FUNCAFE/SPA',
       'CREDITO FUNDIARIO', 'FUNDO NACIONAL DE ASSISTENCIA SOCIAL',
       'SETORIAL DE ORCAMENTO E FINANCAS/MC', 'CNEN-ORCAMENTO E FINANCAS',
       'FUNDO NAC.DE DESENV. CIENT. E TECNOLOGICO',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS',
       'CNPQ - ADMINISTRACAO CENTRAL', 'CNPQ - DIFERENCIA CAMBIAL',
       'CENTRO NACIONAL DE TECNOLOGIA ELETRONICA AVAN',
       'FINANCIADORA DE ESTUDOS E PROJETOS',
       'FDO EXERCITO - DIFERENCA CAMBIAL',
       'DIRETORIA DE FINANCAS-SISTEMA PARA O PAIS/MM',
       'DEPARTAMENTO DE PLANEJ, ORC E FINANCAS (MD)', 'FUNDO DO EXERCITO',
       'SECRETARIA DE ECON. E FIN.DA AER.- F.AER.',
       'MARINHA - DIFERENCA CAMBIAL',
       'DIRETORIA DE ECON E FINANCAS DA AERONAUTICA',
       'INDUSTRIA DE MATERIAL BELICO DO BRASIL/GESTOR',
       'DIRETORIA DE FINANCAS DA MARINHA-SISTEMA-PAIS',
       'D CONT - SETORIAL FINANCEIRA', 'MAER - DIFERENCA CAMBIAL',
       'CAIXA FINANCIAMENTO IMOBILIARIO AERONAUTICA',
       'DIRETORIA DE FINANCAS DA MARINHA - CCCPM',
       'FUNDO NAVAL - DIFERENCA CAMBIAL',
       'DIRETORIA DE FINANCAS DA MARINHA - AMAZUL', 'FUNDACAO OSORIO',
       'COORDENACAO DE ORCAMENTO E FINANCAS DO FRGPS',
       'SETORIAL ORCAMENTARIA E FINANCEIRA / ME',
       'SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB',
       'COORD.GERAL DE ORCAMENTO, FINANCAS E CONTAB.',
       'BANCO CENTRAL DO BRASIL',
       'COORD-GERAL DE ORCAMENTO, FIN. E CONT.- CGOFC',
       'SERPRO-SEDE - DEPARTAMENTO FINANCEIRO',
       'FUNDO NACIONAL DE DESENVOLVIMENTO',
       'INSTITUTO NAC.DE METROLOG. QUALID. E TECNOLOG',
       'COMISSAO DE VALORES MOBILIARIOS',
       'FUNDACAO IBGE-ADMINISTRACAO CENTRAL/RJ',
       'FUNDO DE GAR.P/PROMOC.DA COMPETITIVIDADE±FGPC',
       'CASA DA MOEDA DO BRASIL',
       'COORD-GERAL DE ORC., FIN. E CONT.-CGOFC (MTP)',
       'COORDENACAO-GERAL DE ORC. E FINANCAS/MP',
       'CIA.DE ENTREPOSTOS E ARMAZENS GER.DE S.PAULO',
       'COORDENACAO-GERAL DE ORCAM.FINAN.CONTAB/MDIC',
       'INSTITUTO DE PESQUISA ECONOMICA APLICADA',
       'FUNDO DE APOIO AO DESENVOLVIMENTO SOCIAL',
       'PROCURADORIA GERAL DA FAZENDA NACIONAL',
       'FUNDO DE ESTABILIDADE DO SEGURO RURAL',
       'SUPERINTENDENCIA DA ZONA FRANCA DE MANAUS/AM',
       'FUNDACAO ESCOLA NACIONAL DE ADM. PUBLICA',
       'FUNDO CONSTITUCIONAL DO DISTRITO FEDERAL',
       'FUNDO DE COMPENSACAO E VARIACAO SALARIAL',
       'INSTITUTO NACIONAL DA PROPRIEDADE INDUSTRIAL',
       'FUNDACENTRO - FUND.JORGE DUPRAT/CTN/SEDE - SP',
       'RESERVA DE CONTINGENCIA/MEFP',
       'COORD.GERAL DE ORC. FIN. E CONTABILIDADE',
       'FUNDO DE GARANTIA A EXPORTACAO-BNDES',
       'SUPERINTENDENCIA DE SEGUROS PRIVADOS - RJ',
       'EMPRESA BRASILEIRA DE SERVICOS HOSPITALARES',
       'UNIVERSIDADE FEDERAL DE PERNAMBUCO',
       'UNIVERSIDADE FEDERAL DO ESPIRITO SANTO',
       'UNIVERSIDADE FEDERAL DO PARANA',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE DO NORTE',
       'HOSPITAL DE CLINICAS DE PORTO ALEGRE',
       'UNIVERSIDADE FEDERAL DE LAVRAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO TOCANTINS',
       'FUNDO NACIONAL DE DESENVOLVIMENTO DA EDUCACAO',
       'UNIVERSIDADE FEDERAL FLUMINENSE',
       'UNIVERSIDADE FEDERAL DE MINAS GERAIS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO SUL DE MG',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO NORTE DE MG',
       'UNIVERSIDADE FEDERAL DE OURO PRETO',
       'UNIVERSIDADE FEDERAL DO RIO DE JANEIRO',
       'UNIVERSIDADE FEDERAL DE SANTA CATARINA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO AMAPA',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE DO SUL',
       'FUNDACAO UNIVERSIDADE FEDERAL DE RONDONIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO ESP.SANTO',
       'INSTITUTO FED CIENCIA TECNOL SUDESTE MG',
       'FUNDACAO UNIVERSIDADE FEDERAL DE MATO GROSSO',
       'FUNDACAO UNIVERSIDADE FED. DA GRANDE DOURADOS',
       'FUNDACAO UNIVERSIDADE DE BRASILIA - FUB',
       'INST. FED. DE EDUC.,CIENC. E TEC. DE RONDONIA',
       'UNIVERSIDADE FEDERAL DO CEARA',
       'UNIVERSIDADE FEDERAL DO OESTE DA BAHIA',
       'FUND.UNIV.FED.DE.CIENC.DA SAUDE DE P.ALEGRE',
       'UNIV.DA INTEG.INTERN.DA LUSOF.AFRO-BRASILEIRA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO TRIA.MINEIRO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MARANHAO',
       'UNIVERSIDADE FEDERAL DO OESTE DO PARA',
       'UNIVERSIDADE FEDERAL DE ALFENAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.FARROUPILHA',
       'FUNDACAO UNIVERSIDADE FEDERAL DO ABC',
       'UNIVERSIDADE FEDERAL DE RORAIMA',
       'FUNDACAO UNIVERSIDADE DO AMAZONAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE ALAGOAS',
       'UNIVERSIDADE FED.VALES JEQUITINHONHA E MUCURI',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE - FURG',
       'UNIVERSIDADE FEDERAL DE SANTA MARIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO PARA',
       'UNIVERSIDADE FEDERAL DO TRIANGULO MINEIRO',
       'UNIVERSIDADE FEDERAL DA BAHIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO PIAUI',
       'UNIVERSIDADE FEDERAL DO SUL E SUDESTE DO PARA',
       'FUNDACAO UNIVERS.FED. DE MATO GROSSO DO SUL',
       'UNIVERSIDADE FEDERAL RURAL DO RIO DE JANEIRO',
       'INST.FED.DE EDUC.,CIENC.E TEC.FLUMINENSE',
       'UNIVERSIDADE FEDERAL DO PARA', 'REITORIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO RS',
       'INST FED DE EDUC CIENC E TECNOLOGIA BAIANO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO CEARA',
       'INSTITUTO FEDERAL DE SAO PAULO',
       'FUNDACAO UNIVERSIDADE FEDERAL DE PELOTAS',
       'UNIVERSIDADE FEDERAL DO SUL DA BAHIA',
       'UNIVERSIDADE TECNOLOGICA FEDERAL DO PARANA',
       'UNIVERSIDADE FEDERAL RURAL DE PERNAMBUCO',
       'FUNDACAO UNIVERSIDADE FEDERAL DO PIAUI',
       'INST.FED.DE EDUC.,CIE.E TEC.SUL-RIO-GRANDENSE',
       'UNIVERSIDADE FEDERAL DA FRONTEIRA SUL', 'COLEGIO PEDRO II',
       'CENTRO FEDERAL DE EDUCACAO TECNOLOGICA DE MG',
       'UNIFESP-UNIVERSIDADE FEDERAL DE SAO PAULO',
       'UNIVERSIDADE FEDERAL DE JUIZ DE FORA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO AMAZONAS',
       'FUNDACAO JOAQUIM NABUCO', 'IF GOIANO',
       'UNIVERSIDADE FEDERAL RURAL DO SEMI-ARIDO - RN',
       'FUNDACAO UNIVERSIDADE FEDERAL DO ACRE',
       'UNIVERSIDADE FEDERAL DE ITAJUBA',
       'FUND. UNIVERSIDADE FEDERAL VALE SAO FRANCISCO',
       'UNIV. FEDERAL DA INTEGRACAO LATINO-AMERICANA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MAT.G.DO SUL',
       'FUND.COORD.DE APERF.DE PESSOAL NIVEL SUPERIOR',
       'FUNDACAO UNIVERSIDADE FEDERAL DE UBERLANDIA',
       'IFB - REITORIA - BRASILIA-DF',
       'UNIRIO UNIVERSIDADE FEDERAL DO ESTADO RJ',
       'FUNDACAO UNIVERSIDADE FEDERAL DE S.J.DEL-REI',
       'FUNDACAO UNIVERSIDADE FEDERAL DO PAMPA',
       'UNIVERSIDADE FEDERAL DE ALAGOAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO RN',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE PERNAMBUCO',
       'UNIVERSIDADE FEDERAL DA PARAIBA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE STA.CAT/IFSC',
       'INST.FED. FLUMINENSE/CAMPUS CAMPOS-CENTRO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE SERGIPE',
       'FUNDACAO UNIVERSIDADE FEDERAL DO TOCANTINS',
       'UNIVERSIDADE FEDERAL DO CARIRI',
       'UNIVERSIDADE FEDERAL DE CAMPINA GRANDE',
       'CENTRO FED.DE EDUC.TECNOL.CELSO S.DA FONSECA',
       'UNIVERSIDADE FEDERAL DO RECONCAVO DA BAHIA',
       'FUNDACAO UNIVERSIDADE DO MARANHAO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE MINAS GERAIS',
       'UNIVERSIDADE FEDERAL DE VICOSA', 'IFPB - REITORIA',
       'FUNDACAO UNIVERSIDADE FEDERAL DE SERGIPE',
       'INST. FED. DO PARANA/ REITORIA',
       'INST.NACIONAL DE EST.E PESQUISAS EDUCACIONAIS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE GOIAS',
       'UNIVERSIDADE FEDERAL DE GOIAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DA BAHIA',
       'INSTITUTO FEDERAL CATARINENSE - REITORIA',
       'FUNDACAO UNIVERSIDADE FEDERAL DE SAO CARLOS',
       'SUBSECRETARIA DE PLANEJ. E ORCAMENTO SPO(MEC)',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE RORAIMA',
       'UNIVERSIDADE FEDERAL RURAL DA AMAZONIA',
       'INST.FED.DE ED.,CIENC.E TEC.DO S.PERNAMBUCANO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MATO GROSSO',
       'FUNDACAO UNIVERSIDADE FEDERAL DO AMAPA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO ACRE',
       'DEPART.NAC.INFRA ESTRUTURA TRANSPORTES.',
       'FUNDO NACIONAL DE SEG. E EDUCACAO DE TRANSITO',
       'AGENCIA NACIONAL DE AVIACAO CIVIL',
       'AGENCIA NACIONAL DE TRANSPORTES TERRESTRES',
       'VALEC ENGENHARIA CONSTRUCOES E FERROVIAS S/A.',
       'COMPANHIA DOCAS DO ESTADO DE SAO PAULO',
       'AGENCIA NACIONAL DE TRANSPORTES AQUAVIARIOS',
       'EMPRESA DE PLANEJAMENTO E LOGISTICA S.A - EPL',
       'FUNDO DA MARINHA MERCANTE',
       'SUBSECRETARIA DE PLAN.,ORCAM.E ADMIN.SETORIAL',
       'FUNDO NACIONAL DE AVIACAO CIVIL',
       'COMPANHIA DOCAS DO ESTADO DA BAHIA',
       'COORDENACAO DE ORCAMENTO FINANCAS CONTABILIDA',
       'DEPEN - DIRETORIA EXECUTIVA', 'FUNDO NACIONAL ANTIDROGAS',
       'FUNDO NACIONAL DE SEGURANCA PUBLICA - FNSP',
       'CONSELHO ADMINISTRATIVO DE DEFESA ECONOMICA',
       'FUNDO DE DEFESA DOS DIREITOS DIFUSOS',
       'FUNDACAO NACIONAL DO INDIO - U.O.',
       'RENDA DO PATRIMONIO INDIGENA',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS-MJ',
       'DEPTO.DE POLICIA RODOVIARIA FEDERAL', 'FUNDO NACIONAL DO IDOSO',
       'FUNDO NACIONAL PARA A CRIANCA E O ADOLESCENTE',
       'SETORIAL ORCAMENTARIA E FINANCEIRA - MDH',
       'FUNDACAO NACIONAL DE SAUDE - PA',
       'SPO-COORD.-GERAL DE ORC.E FINANCAS/MS',
       'AGENCIA NACIONAL DE SAUDE SUPLEMENTAR',
       'FUNDACAO NACIONAL DE SAUDE - MT', 'FUNDACAO OSWALDO CRUZ',
       'FUNDACAO NACIONAL DE SAUDE - DF',
       'HOSPITAL NOSSA SENHORA DA CONCEICAO S/A',
       'FUNDACAO NACIONAL DE SAUDE - AP',
       'AGENCIA NACIONAL DE VIGILANCIA SANITARIA',
       'FUNDACAO NACIONAL DE SAUDE - ES',
       'FUNDACAO NACIONAL DE SAUDE - PB',
       'AGENCIA NACIONAL DE TELECOMUNICACOES-SEDE',
       'FUNDO DE UNIVERS.DOS SERV.TELECOMUNICACOES',
       'FUNDO P/O DESENV.TECNOL.DAS TELECOMUNICACOES',
       'EMPRESA BRASIL DE COMUNICACAO S.A',
       'FUNDACAO ALEXANDRE DE GUSMAO',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS-MRE',
       'SETORIAL ORCAMENTARIA E FINANCEIRA - ANM',
       'AG. NAC.DO PETROLEO GAS NAT.E BIOCOM',
       'EMPRESA DE PESQUISA ENERGETICA',
       'DEPARTAMENTO NAC. DE PRODUCAO MINERAL - SEDE',
       'COMPANHIA DE PESQUISA DE RECURSOS MINERAIS',
       'AGENCIA NACIONAL DE ENERGIA ELETRICA',
       'COORD.GERAL DE ORCAM.E FIN./M.M.E',
       'NUCLEBRAS EQUIPAMENTOS PESADOS S/A-NUCLEP',
       'INDUSTRIAS NUCLEARES DO BRASIL S/A - INB',
       'CIA BRASILEIRA DE TRENS URBANOS-ADM.CENTRAL',
       'FUNDO CONSTITUCIONAL FINANCIAMENTO NORTE',
       'CIA DE DES.DOS VALES DO S.FRANC.E DO PARNAIBA',
       'FUNDO DE DESENVOLVIMENTO DO NORDESTE',
       'DEPARTAMENTO NAC. DE OBRAS CONTRA AS SECAS/UO',
       'SUPERINTENDENCIA DO DESENVOLV. DO NORDESTE',
       'FUNDO CONSTITUCIONL DO CENTRO OESTE',
       'FUNDO DE DESENVOLVIMENTO DO CENTRO-OESTE',
       'COORDENACAO DE ORCAMENTO E FINANCAS.',
       'FUNDO CONSTITUCIONAL DE FINANCIAM.DO NORDESTE',
       'SUPERINTEND. DO DESENVOLVIMENTO DA AMAZONIA',
       'ORCAMENTO E FINANCAS/MDR',
       'SUPERINT. DO DESENVOLVIMENTO DO CENTRO-OESTE',
       'FUNDO DE DESENVOLVIMENTO DA AMAZONIA',
       'EMPRESA DE TRENS URBANOS DE PORTO ALEGRE S/A',
       'FUNDO NACIONAL DE HABIT. DE INTERESSE SOCIAL',
       'AUTORIDADE PUBLICA OLIMPICA',
       'IBAMA - INST.BRASILEIRO MEIO AMBIENTE/MATRIZ',
       'INST.CHICO MENDES DE CONSER.DA BIODIVERSIDADE',
       'COORD. DE PLAN. ORCAMENTO E FIN./COPLAN/JBRJ',
       'SETORIAL ORCAMENTARIA E FINANCEIRA DO FNMA',
       'IBAMA - SUPERINTENDENCIA DE SANTA CATARINA/SC',
       'SUBSECRET.PLANEJAM.ORCAM.E ADMINIST±SPOA(MMA)',
       'SETORIAL ORCAMENTARIA E FINANCEIRA DO FNMC',
       'IBAMA - SUPERINTENDENCIA DO ACRE/AC',
       'IBAMA - SUPERINTENDENCIA DE RORAIMA/RR',
       'COORD.GERAL DE PLAN. ORC. FIN. E CONTAB/FNC',
       'FUNDO GERAL DE TURISMO-FUNGETUR', 'FUNDACAO BIBLIOTECA NACIONAL',
       'AGENCIA NACIONAL DO CINEMA',
       'INSTITUTO BRASILEIRO DE MUSEUS - IBRAM',
       'INSTITUTO DO PATRIMONIO HIST. E ART. NACIONAL',
       'INSTITUTO BRASILEIRO DE TURISMO - EM EXTINCAO',
       'CGOFC - SETORIAL/MTUR', 'FUNDACAO NACIONAL DE ARTES',
       'FUNDACAO CASA DE RUI BARBOSA',
       'SECRETARIA DE ADMINISTRACAO-SET.ORC.E FIN./PR',
       'FUNDO DE IMPRENSA NACIONAL/EXEC.ORC.FINANC.',
       'INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI'], dtype=object)

Los 10 NOMBRE_UNIDAD_GESTORA que MAS aparecen son:

                                              count  Porcentaje_recuento
NOMBRE_UNIDAD_GESTORA
SETORIAL ORCAMENTARIA E FINANCEIRA / ME       22389                12.66
FUNDO DO EXERCITO                              4448                 2.52
DIRETORIA DE FINANCAS-SISTEMA PARA O PAIS/MM   4261                 2.41
COORD.GERAL DE PLAN. ORC. FIN. E CONTAB/FNC    2720                 1.54
IBAMA - INST.BRASILEIRO MEIO AMBIENTE/MATRIZ   2505                 1.42
COORDENACAO DE ORCAMENTO E FINANCAS DO FRGPS   2279                 1.29
EMBRAPA-SETORIAL                               2279                 1.29
SETORIAL ORCAMENTARIA E FINANCEIRA - ANM       2046                 1.16
SECRETARIA DE ECON. E FIN.DA AER.- F.AER.      1996                 1.13
FUNDO NAC.DE DESENV. CIENT. E TECNOLOGICO      1960                 1.11

Los 10 NOMBRE_UNIDAD_GESTORA que MENOS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_UNIDAD_GESTORA
FUNDACAO NACIONAL DE SAUDE - PB                    3                 0.00
IBAMA - SUPERINTENDENCIA DE SANTA CATARINA/SC      2                 0.00
DIRETORIA DE FINANCAS DA MARINHA - AMAZUL          2                 0.00
IBAMA - SUPERINTENDENCIA DO ACRE/AC                2                 0.00
IBAMA - SUPERINTENDENCIA DE RORAIMA/RR             2                 0.00
SETORIAL ORCAMENTARIA E FINANCEIRA DO FNMC         2                 0.00
AUTORIDADE PUBLICA OLIMPICA                        2                 0.00
SETORIAL ORCAMENTARIA E FINANCEIRA - MDH           1                 0.00
RESERVA DE CONTINGENCIA/MEFP                       1                 0.00
INST.FED. FLUMINENSE/CAMPUS CAMPOS-CENTRO          1                 0.00

 Las distribución de las repeticiones de los NOMBRE_UNIDAD_GESTORA son:

       count  % repetición
count
3          7          2.60
2          6          2.23
55         3          1.12
33         3          1.12
1          3          1.12
...      ...           ...
29         1          0.37
7          1          0.37
8          1          0.37
13         1          0.37
6          1          0.37

[235 rows x 2 columns]

None
La categoría CATEGORÍA_ECONÓMICA tiene 5 elementos diferentes:

Los elementos de la categoría son:

array(['Receitas Correntes', 'Receitas de Capital',
       'Receitas Correntes - intra-orçamentárias', 'Sem informação',
       'Receitas de Capital - intra-orçamentárias'], dtype=object)

Los 10 CATEGORÍA_ECONÓMICA que MAS aparecen son:

                                            count  Porcentaje_recuento
CATEGORÍA_ECONÓMICA
Receitas Correntes                         169210                95.69
Receitas de Capital                          4809                 2.72
Receitas Correntes - intra-orçamentárias     2770                 1.57
Receitas de Capital - intra-orçamentárias      21                 0.01
Sem informação                                 18                 0.01

Los 10 CATEGORÍA_ECONÓMICA que MENOS aparecen son:

                                            count  Porcentaje_recuento
CATEGORÍA_ECONÓMICA
Receitas Correntes                         169210                95.69
Receitas de Capital                          4809                 2.72
Receitas Correntes - intra-orçamentárias     2770                 1.57
Receitas de Capital - intra-orçamentárias      21                 0.01
Sem informação                                 18                 0.01

 Las distribución de las repeticiones de los CATEGORÍA_ECONÓMICA son:

        count  % repetición
count
169210      1         20.00
4809        1         20.00
2770        1         20.00
21          1         20.00
18          1         20.00

None
La categoría ORIGEN_INGRESO tiene 15 elementos diferentes:

Los elementos de la categoría son:

array(['Receita de Serviços', 'Transferências Correntes',
       'Alienação de Bens', 'Contribuições', 'Outras Receitas Correntes',
       'Amortizações de Empréstimos', 'Receita Patrimonial',
       'Receitas Correntes - a classificar', 'Operações de Crédito',
       'Receita Industrial',
       'Impostos, Taxas e Contribuições de Melhoria',
       'Receita Agropecuária', 'Transferências de Capital',
       'Outras Receitas de Capital', 'Sem informação'], dtype=object)

Los 10 ORIGEN_INGRESO que MAS aparecen son:

                                             count  Porcentaje_recuento
ORIGEN_INGRESO
Receita de Serviços                          59957                33.91
Outras Receitas Correntes                    47884                27.08
Receita Patrimonial                          29632                16.76
Impostos, Taxas e Contribuições de Melhoria  14216                 8.04
Contribuições                                13256                 7.50
Receita Industrial                            3489                 1.97
Receita Agropecuária                          2540                 1.44
Alienação de Bens                             2046                 1.16
Amortizações de Empréstimos                   1809                 1.02
Transferências Correntes                       839                 0.47

Los 10 ORIGEN_INGRESO que MENOS aparecen son:

                                    count  Porcentaje_recuento
ORIGEN_INGRESO
Receita Industrial                   3489                 1.97
Receita Agropecuária                 2540                 1.44
Alienação de Bens                    2046                 1.16
Amortizações de Empréstimos          1809                 1.02
Transferências Correntes              839                 0.47
Operações de Crédito                  757                 0.43
Outras Receitas de Capital            181                 0.10
Receitas Correntes - a classificar    167                 0.09
Transferências de Capital              37                 0.02
Sem informação                         18                 0.01

 Las distribución de las repeticiones de los ORIGEN_INGRESO son:

       count  % repetición
count
59957      1          6.67
47884      1          6.67
29632      1          6.67
14216      1          6.67
13256      1          6.67
3489       1          6.67
2540       1          6.67
2046       1          6.67
1809       1          6.67
839        1          6.67
757        1          6.67
181        1          6.67
167        1          6.67
37         1          6.67
18         1          6.67

None
La categoría TIPO_INGRESO tiene 46 elementos diferentes:

Los elementos de la categoría son:

array(['Serviços Administrativos e Comerciais Gerais',
       'Transferências dos Estados e do Distrito Fede',
       'Alienação de bens móveis', 'Contribuições sociais',
       'Transferências de Instituições Privadas',
       'Demais receitas correntes',
       'Indenizações, restituições e ressarcimentos',
       'Amortizações de Empréstimos', 'Valores Mobiliários',
       'Serviços e Atividades Financeiras',
       'Exploração de recursos naturais', 'Contribuições econômicas',
       'Receitas Correntes - a classificar',
       'Transferências da União e de suas Entidades',
       'Exploração do patrimônio imobiliário do Estad',
       'Operações de crédito - mercado externo', 'Receita Industrial',
       'Taxas', 'Receita Agropecuária', 'Alienação de bens imóveis',
       'Multas administrativas, contratuais e judicia',
       'Operações de crédito - mercado interno',
       'Indenizações e restituições', 'Outros serviços',
       'Bens, Direitos e Valores Incorporados ao Patr',
       'Transferências Provenientes de Depósito Não I',
       'Demais receitas patrimoniais',
       'Delegação de Serviços Públicos Mediante Conce',
       'Receita de concessões e permissões',
       'Serviços e Atividades Referentes à Saúde',
       'Serviços e Atividades Referentes à Navegação ',
       'Cessão de direitos',
       'Transferências dos Municípios e de suas Entid',
       'Transferências de Pessoas Físicas',
       'Exploração do patrimônio intangível', 'Impostos',
       'Resultado do Banco Central do Brasil',
       'Remuneração das Disponibilidades do Tesouro',
       'Contribuições para Entidades Privadas de Serv',
       'Transferências do Exterior',
       'Transferências de Outras Instituições Pública', 'Sem informação',
       'Demais receitas de capital', 'Receitas de valores mobiliários',
       'Transferências de Convênios', 'Alienação de bens intangíveis'],
      dtype=object)

Los 10 TIPO_INGRESO que MAS aparecen son:

                                               count  Porcentaje_recuento
TIPO_INGRESO
Serviços Administrativos e Comerciais Gerais   52747                29.83
Indenizações, restituições e ressarcimentos    19304                10.92
Multas administrativas, contratuais e judicia  18228                10.31
Exploração do patrimônio imobiliário do Estad  17393                 9.84
Taxas                                          11411                 6.45
Demais receitas correntes                       8883                 5.02
Contribuições sociais                           6839                 3.87
Contribuições econômicas                        6401                 3.62
Valores Mobiliários                             5483                 3.10
Exploração de recursos naturais                 3918                 2.22

Los 10 TIPO_INGRESO que MENOS aparecen son:

                                               count  Porcentaje_recuento
TIPO_INGRESO
Sem informação                                    18                 0.01
Exploração do patrimônio intangível               17                 0.01
Contribuições para Entidades Privadas de Serv     16                 0.01
Alienação de bens intangíveis                      6                 0.00
Resultado do Banco Central do Brasil               3                 0.00
Transferências do Exterior                         2                 0.00
Transferências de Convênios                        2                 0.00
Transferências de Outras Instituições Pública      1                 0.00
Receitas de valores mobiliários                    1                 0.00
Demais receitas de capital                         1                 0.00

 Las distribución de las repeticiones de los TIPO_INGRESO son:

       count  % repetición
count
1          3          6.52
2          2          4.35
52747      1          2.17
17393      1          2.17
11411      1          2.17
8883       1          2.17
6839       1          2.17
6401       1          2.17
5483       1          2.17
19304      1          2.17
18228      1          2.17
3489       1          2.17
3918       1          2.17
2805       1          2.17
2712       1          2.17
1809       1          2.17
1635       1          2.17
2540       1          2.17
2349       1          2.17
1368       1          2.17
1346       1          2.17
666        1          2.17
410        1          2.17
347        1          2.17
274        1          2.17
1495       1          2.17
1374       1          2.17
235        1          2.17
241        1          2.17
178        1          2.17
177        1          2.17
114        1          2.17
113        1          2.17
167        1          2.17
123        1          2.17
58         1          2.17
76         1          2.17
53         1          2.17
18         1          2.17
16         1          2.17
17         1          2.17
3          1          2.17
6          1          2.17

None
La categoría DETALLE tiene 636 elementos diferentes:

Los elementos de la categoría son:

array(['INSCR.EM CONCURSOS E PROC.SELETIVOS-PRINCIPAL',
       'TRANSF.DOS ESTADOS,DF E SUAS ENTIDADES-PRINC.',
       'ALIENACAO DE BENS MOVEIS E SEMOVENTES-PRINC.',
       'CONTRIBUIÇÃO INDUSTRIAL RURAL-DIVIDA ATIVA',
       'TRANSFERENCIAS DE INSTITUICOES PRIVADAS-PRINC',
       'OUTRAS RECEITAS-PRIMARIAS-PRINCIPAL',
       'RESTIT.DE DESPESAS EXERC.ANTERIORES-MUL.JUR.',
       'AMORTIZACAO DE EMPRESTIMOS CONTRATUAIS-PRINC.',
       'REMUNERACAO DE DEPOSITOS BANCARIOS-PRINCIPAL',
       'OUTRAS RECEITAS-FINANCEIRAS-DIVIDA ATIVA',
       'RETORNO DE OP.,JUR.E ENC.FINANCEIROS-PRINC.',
       'AMORTIZACAO DE FINANCIAMENTOS-PRINCIPAL',
       'CONTRIBUIÇÃO INDUSTRIAL RURAL-PARCEL.-MUL.JUR',
       'CONCESSAO FLORESTAS NACIONAIS-DEM.VAL.-PRINC.',
       'SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.',
       'SERVICOS DE INFORMACAO E TECNOLOGIA-PRINCIPAL',
       'CONCESSAO FLORESTAS NACIONAIS-VAL.MIN.-PRINC.',
       'RESTITUICAO DE CONVENIOS-PRIMARIAS-PRINCIPAL',
       'CONTRIBUIÇÃO INDUSTRIAL RURAL-PRINCIPAL',
       'CONT.S/APOSTAS EM COMPETICOES HIPICAS-MUL.JUR',
       'Receitas Correntes - a classificar',
       'TRANSFER.DA UNIAO E DE SUAS ENTIDADES-PRINC.',
       'ALUGUEIS E ARRENDAMENTOS-PRINCIPAL',
       'CONCESSAO FLOREST.NACIONAIS-VAL.MIN.-MUL.JUR.',
       'CONCESSAO FLOREST.NACIONAIS-DEM.VAL.-MUL.JUR.',
       'CUSTOS EDITAL DE CONCESSAO FLORESTAL-PRINC.',
       'OP.DE CREDITO CONTRATUAIS-MERC.EXTERNO-PRINC.',
       'ALIENACAO DE TITULOS MOBILIARIOS-PRINCIPAL',
       'RECEITA INDUSTRIAL-PRINCIPAL',
       'OUTRAS RECEITAS-PRIMÁRIAS-PRINCIPAL-INTRA',
       'CONTRIBUIÇÃO INDUSTRIAL RURAL-PARCEL.-PRINC.',
       'RESTIT.DE DESPESAS DE EXERC.ANTERIORES-PRINC.',
       'TX.CONTR.E FISC.PESCA E AQUICULTURA-PRINC.',
       'SERV.ADMIN.E COMERCIAIS GERAIS-PRINC.-INTRA',
       'CONTR.S/APOSTAS EM COMPETIÇÕES HÍPICAS-PRINC.',
       'RECEITA AGROPECUÁRIA-MULTAS E JUROS',
       'ALIENAÇÃO DE BENS IMÓVEIS-JUROS',
       'MULTAS E JUROS PREVISTOS EM CONTRATOS-PRINC.',
       'ADICIONAL À CONTR.PREVIDENCIÁRIA RURAL-PRINC.',
       'SERV.DE REGIST.,CERTIF.E FISCALIZ.-MUL.JUR.',
       'CONTRIBUIÇÃO INDUSTRIAL RURAL-MULTAS E JUROS',
       'OUTRAS RESTITUICOES-MULTAS E JUROS',
       'CONT.S/APOSTAS EM COMPETICOES HIPICAS-DIV.AT.',
       'INDENIZ.P/DANOS CAUSADOS AO PATR.PUB.-PRINC.',
       'ALIENAÇÃO DE BENS IMÓVEIS-PRINCIPAL',
       'SERV.ADMINISTRAT.E COMERCIAIS GERAIS-MUL.JUR.',
       'MULTAS PREVISTAS EM LEGISL.ESPECIFICA-PRINC.',
       'OUTRAS RESTITUICOES-PRINCIPAL',
       'TITULOS DA DIVIDA AGRARIA-TDA-PRINCIPAL',
       'SERV.DE REGIST.,CERTIF.E FISCALIZ.-PRINCIPAL',
       'AMORTIZACAO EMPRESTIMOS CONTRATUAIS-MUL.JUR.',
       'ALIENACAO DE ESTOQUES DA PGPM-PRINCIPAL',
       'ALUGUEIS E ARRENDAMENTOS-MULTAS E JUROS',
       'INDENIZACAO POR SINISTRO-PRINCIPAL',
       'OUTROS RESSARCIMENTOS-MULTAS E JUROS',
       'INDENIZ.P/DANOS CAUSADOS AO PATR.PUB.-MUL.JUR',
       'MULTAS E JUROS PREVISTOS EM CONTRATOS-MUL.JUR',
       'ALIENACAO DE BENS MOVEIS E SEMOVENTES-MUL.JUR',
       'TRANSFERÊNCIAS DE INSTITUIÇÕES PRIVADAS-PRINC',
       'DIVIDENDOS-PRINCIPAL',
       'TAXAS INSPEÇÃO,CONTROLE E FISCALIZAÇÃO-PRINC.',
       'CONTRIBUIÇÃO INDUSTRIAL RURAL-DIV.AT-MUL.JUR.',
       'OUTROS RESSARCIMENTOS-PRINCIPAL',
       'ALIENACAO DE ESTOQUES DE CAFE-FUNCAFE-PRINC.',
       'ALIENACAO DE ESTOQUES DE CAFE-FUNCAFE-DIV.AT.',
       'OUTRAS RECEITAS-PRIMARIAS-DIV.ATIVA-MUL.JUR.',
       'RECEITA AGROPECUÁRIA-PRINCIPAL',
       'CONTR.S/APOSTAS COMPET.HIPICAS-DIV.AT-MUL.JUR',
       'RECEITA INDUSTRIAL-MULTAS E JUROS',
       'ALIENACAO DE BENS IMOVEIS-MULTAS',
       'ALUGUÉIS E ARRENDAMENTOS-PRINCIPAL-INTRA',
       'MULTAS PREVISTAS EM LEGISL.ESPECIFICA-MUL.JUR',
       'OUTRAS RECEITAS-PRIMARIAS-MULTAS E JUROS',
       'TAXAS INSPEÇÃO,CONTROLE E FISCALIZ.-MUL.JUR.',
       'OUTRAS RESTITUIÇÕES-PRINCIPAL-INTRA', 'OUTROS SERVICOS-PRINCIPAL',
       'REMUN.SALDOS RECURSOS NAO-DESEMBOLSADOS-PRINC',
       'RESTITUIÇÃO DE CONVÊNIOS-PRIMÁRIAS-MUL.JUR.',
       'REMUN.SALDOS RECUR.NAO-DESEMBOLSADOS-MUL.JUR.',
       'ALIEN.DE BENS E MERCADORIAS APREENDIDOS-PRINC',
       'TITULOS DE RESPONS.TES.NAC.-MERC.INT.-PRINC.',
       'ALIEN.BENS E MERCADORIAS APREENDIDOS-MUL.JUR.',
       'TRANSF.PROVENIENTES DEP.NAO IDENTIFIC.-PRINC.',
       'PART.UNIÃO EM REC.LOT.PROGN.NUMÉRICOS-PRINC.',
       'CONTRIBUIÇÃO SOBRE LOTERIAS ESPORTIVAS-PRINC.',
       'CONTRIB.S/LOTERIAS PROGNÓST.NUMÉRICOS-PRINC.',
       'CONTRIB.S/LOTERIA PROGNÓST.ESPECÍFICO-PRINC.',
       'CONC/PERM/AUT/CESSAO DIR.USO IMOV.PUB-PRINC.',
       'PART.UNIÃO EM REC.LOT.PROGN.ESPECÍFICO-PRINC.',
       'DEMAIS CONTRIBUIÇÕES SOCIAIS-PRINCIPAL',
       'PART.UNIÃO EM RECEITA DE LOT.ESPORTIVA-PRINC.',
       'RECEITA INDUSTRIAL-PRINCIPAL-INTRA',
       'COTA-PARTE DO AFRMM-PRINCIPAL',
       'OUTRAS DELEG.DOS SERVICOS DE TELECOM-PRINC.',
       'UTILIZ.REC.HIDRICOS-DEMAIS EMPRESAS-DIV.AT.',
       'CONTR.S/REC.BRT EMP.PREST.SERV.TELEC.-MUL.JUR',
       'COMPENS.FINANC.EXPL.RECURSOS MINERAIS-PRINC.',
       'CONTR.S/REC.CONCESS.PERM.ENERG.ELÉTR.-PRINC.',
       'CIDE-REMESSAS AO EXTERIOR-DIVIDA ATIVA',
       'SERV.DE INFORMAÇÃO E TECNOLOGIA-PRINC.-INTRA',
       'CESSAO DIREITO USO DE RADIOFREQUENCIA-PRINC.',
       'CONTR.S/REC.CONCESS.PERM.ENERG.ELETR.-MUL.JUR',
       'CONTR.S/REC.BRT EMP.PREST.SERV.TELECOM-PRINC.',
       'CIDE-REMESSAS AO EXTERIOR-MULTAS E JUROS',
       'CIDE-REMESSAS AO EXTERIOR-DIV.AT.-MUL.JUR.',
       'ROY.EXC.PETRO.PLAT-COM.ANT.3/12/12-DEM.-PRINC',
       'COMPENS.FINANC.EXPL.RECURSOS MINERAIS-DIV.AT.',
       'UTILIZACAO DE RECURSOS HIDRICOS-ITAIPU-PRINC.',
       'SERVICOS DE INFORMACAO E TECNOLOGIA-MUL.JUR.',
       'COMPENS.FINAN.EXPL.RECURSOS MINERAIS-MUL.JUR.',
       'CONTR.S/FATUR.EMPR.INFO.INST.AMAZONIA-PRINC.',
       'COTA-PARTE DO AFRMM-DIVIDA ATIVA',
       'COTA-PARTE DO AFRMM-DIVIDA ATIVA-MUL.JUR.',
       'UTILIZ.REC.HIDRICOS-DEMAIS EMPRESAS-MUL.JUR.',
       'UTILIZ.REC.HIDRICOS-DEMAIS EMPRESAS-PRINC.',
       'CONTR.S/FATUR.EMPR.INFO.INST.DEM.REG.-PRINC.',
       'CESSAO DIREITO USO DE RADIOFREQUENCIA-MUL.JUR',
       'CONTR.S/FATUR.EMPR.INFO.INST.AMAZONIA-MUL.JUR',
       'SERV.REGIST.,CERTIF.E FISCALIZ.-PRINC.-INTRA',
       'CESSÃO DIR.USO RADIOFREQUÊNCIA-PRINC.-INTRA',
       'CIDE-REMESSAS AO EXTERIOR-PRINCIPAL',
       'OUTRAS INDENIZACOES-MULTAS E JUROS',
       'SERV.ASSIST.MEDICO-HOSP.DO MILITAR-PRINCIPAL',
       'CONTR.P/DESENV.ENSINO PROF.MARÍTIMO-PRINCIPAL',
       'CONTR.P/DES.ENS.PROF.MARITIMO-DIV.AT-MUL.JUR.',
       'CONTR.DESENV.ENSINO PROF.MARIT-PARCEL-MUL.JUR',
       'CONTR.DESENV.ENSINO PROF.MARIT.-PARCEL-PRINC.',
       'CONTR.P/DESENV.ENSINO PROF.MARITIMO-MUL.JUR.',
       'CONTR.P/DESENV.ENSINO PROF.MARITIMO-DIV.ATIVA',
       'CONTR.P/CUST.PENS.MIL.FORÇAS ARMADAS-MUL/JUR.',
       'TAXAS PELA PRESTAÇÃO DE SERVIÇOS-MULT.E JUROS',
       'SERVICOS DE ATENDIMENTO A SAUDE-PRINCIPAL',
       'SERV.ASSIST.SAUDE SUPLEM.SERV.CIVIL-PRINC.',
       'TARIFA AEROPORTUARIA-PRINCIPAL', 'OUTRAS INDENIZACOES-PRINCIPAL',
       'SERVICOS DE NAVEGACAO-MULTAS E JUROS',
       'TAXAS PELA PRESTAÇÃO DE SERVIÇOS-PRINCIPAL',
       'CESSAO DO DIR.OPERACIONALIZACAO PAGTOS-PRINC.',
       'OUTROS SERVICOS-MULTAS E JUROS',
       'EMOLUMENTOS E CUSTAS JUDICIAIS-PRINCIPAL',
       'ROY.PETRO.PLAT-COM.ANTES 3/12/12-DEMAIS-PRINC',
       'TRANSF.DOS MUNICIPIOS E SUAS ENTIDADES-PRINC.',
       'SERVIÇOS DE ATENDIMENTO À SAÚDE-PRINC.-INTRA',
       'OUTRAS INDENIZAÇÕES-PRINCIPAL-INTRA',
       'CONTR.P/CUST.PENS.MILIT.FORÇAS ARMADAS-PRINC.',
       'SERVICOS PORTUARIOS-PRINCIPAL', 'SERVICOS DE NAVEGACAO-PRINCIPAL',
       'SERV.ASSIST.MEDICO-HOSP.DO MILITAR-MUL.JUR.',
       'TX.INSPEÇÃO,CONTROLE E FISCALIZ.-PRINC.-INTRA',
       'TRANSFERENCIAS DE PESSOAS FISICAS-PRINCIPAL',
       'SERVICOS DE TRANSPORTE-PRINCIPAL',
       'ROYAL.COMERC.PROD.RESULT.CRIAÇÃO PROTEG-PRINC',
       'CONT.PREV.EMPREGADOR-Ñ SIM.NAC-DÍV.AT-MUL.JUR',
       'RESSARCIMENTO DE CUSTOS-MULTAS E JUROS',
       'CONT.MOV.TRANSM.VAL.CR.DIR.FIN-DÍV.AT-MUL.JUR',
       'IRRF-REMESSA AO EXTERIOR-PRINCIPAL',
       'ITR-MUNICÍPIOS NÃO CONVENIADOS-DÍVIDA ATIVA',
       'CONTRIBUICAO AO MONTEPIO CIVIL-PRINCIPAL',
       'COFINS SOBRE O FATURAMENTO-JUROS DÍV.ATIVA',
       'CONTRIBUIÇÕES P/O RGPS-MULTAS E JUROS',
       'RESTIT.DEC.APLIC.IRREG.REC.ELEITORAIS-PRINC.',
       'TIT.RESP.TN-REFIN.DIV.PUB.FED.MERC.EXT.-PRINC',
       'RESULTADO DO BACEN-DEMAIS OPERACOES-PRINCIPAL',
       'OUTRAS CONTRIBUICOES ECONOMICAS-MULTAS/JUROS',
       'MLT.LEI.GER.TELECOM-NÃO.P.ORBITAIS/MLT+JRS',
       'PREMIOS PRESCRITOS CONC.PROGNOSTICOS-MUL.JUR.',
       'CONTRIB.PIS/PASEP-Ñ OPTANTES SIMP.NAC-DÍV.AT.',
       'CONTRIB.DO SERVIDOR INATIVO P/RPPS-MUL.JUR.',
       'MULTAS PREV.LEGISLAÇÃO ANTIDROGAS-DÍV.ATIVA',
       'FOROS,LAUDEMIOS,TARIFAS DE OCUPACAO-DIV.ATIVA',
       'CSLL-PARCELAMENTOS-DÍVIDA ATIVA-MULTAS',
       'CPSSS PATRONAL-SERVIDOR CIVIL-DÍV.ATIVA-INTRA',
       'IRPF-DÍVIDA ATIVA',
       'COFINS S/FATURAMENTO-PARCEL.-DÍV.AT.-MUL.JUR.',
       'IRPJ-LÍQUIDA DE INCENTIVOS-DÍVIDA ATIVA',
       'CONTRIB.SOCIAL SOBRE LUCRO LÍQ.-CSLL-MUL.JUR.',
       'COFINS SOBRE O FATURAMENTO-SIMPLES-JUROS',
       'CONTR.S/REC.OP.BRT DECOR.SERV.TELECOM-PRINC.',
       'CONTR.MOV.TRANSM.VAL.CRÉD.DIR.NAT.FIN.-DÍV.AT',
       'CSLL-JUROS-DÍVIDA ATIVA',
       'CONTRIB.PIS/PASEP-Ñ OPTANTES SIMP.NAC-PRINC.',
       'CPSSS PATRONAL-SERVIDOR CIVIL-PRINC.-INTRA',
       'RESSARCIMENTO DE CUSTOS-PRINCIPAL-INTRA',
       'CONTRIBUIÇÃO PIS/PASEP-PARCELAMENTOS-DÍV.AT.',
       'ITR-MUNICÍPIOS NÃO-CONVENIADOS-MULTAS DÍV.AT.', 'IPI-BEBIDAS',
       'IRPJ-LÍQUIDA DE INCENTIVOS-MULTAS E JUROS',
       'TX.FISC.INST-TFI-NÃO.POSI.ORBITAIS/DA.PRC',
       'CONTRIB.PIS/PASEP-Ñ OPTANTES SIMP.NAC-MULTAS',
       'REMUNERACAO DE DEPOSITOS ESPECIAIS-PRINCIPAL',
       'CONDECINE-DIVIDA ATIVA',
       'CIDE-COMBUSTÍVEIS-COMERCIALIZAÇÃO-PRINCIPAL',
       'ROY.PETRO.PLAT-COM.ANTES 3/12/12-P.SAL-PRINC.',
       'TX.FISC.INST-TFI-NÃO.POSI.ORBITAIS/DA.MLT+JRS',
       'CIDE-COMBUST.-COMERCIALIZACAO-JUROS DÍV.ATIVA',
       'OUTRAS RECEITAS ADMINISTRADAS RFB-DIV.AT.',
       'CONTRIB.PIS/PASEP-Ñ OPTANTES SIMP.NAC-JUROS',
       'ALIENAÇÃO DE BENS IMÓVEIS-MULTAS E JUROS',
       'IMPOSTO SOBRE A IMPORTAÇÃO-MULTAS E JUROS',
       'CPSSS PATRONAL-SERVIDOR CIVIL-MUL.JUR.-INTRA',
       'CONTRIBUIÇÃO PARA O PIS/PASEP-MULTAS E JUROS',
       'CONTRIB.PREVIDENCIÁRIA DO SEGURADO-MUL.JUR.',
       'COFINS SOBRE O FATURAMENTO-PARCELAM.-PRINC.',
       'CONTRIBUIÇÕES P/O RGPS-PRINCIPAL',
       'CONTRIBUIÇÃO PIS/PASEP-PARCELAMENTOS-PRINC.',
       'CONTRIB.PIS/PASEP FATURAMENTO-SIMPLES-JUROS',
       'COFINS SOBRE O FATURAMENTO-MULTAS DÍV.ATIVA',
       'IOF-DEMAIS OPERAÇÕES-MULTAS E JUROS',
       'CPSSS-SERV.CIVIL PENSIONISTA-SENT.JUD-PRINC.',
       'PRESTACAO DE CONTAS ELEITORAIS-PRINCIPAL',
       'COTA-PARTE DO AFRMM-MULTAS E JUROS',
       'MULTAS PREVISTAS LEG.ESPECÍFICA-PRINC.-INTRA',
       'IMPOSTO SOBRE A IMPORTAÇÃO-DÍVIDA ATIVA', 'IPI-FUMO-PRINCIPAL',
       'CSLL-PARCELAMENTOS-JUROS',
       'COFINS S/FATURAMENTO-PARCEL.-JUROS DÍV.ATIVA',
       'IRRF-TRABALHO-DÍVIDA ATIVA',
       'CONTRIBUIÇÕES P/O RGPS-PARCELAMENTOS-MUL.JUR.',
       'RESSARCIMENTO AO RGPS-MULTAS E JUROS',
       'IRRF-CAPITAL-MULTAS E JUROS',
       'CONTRIBUICAO PARA O ENSINO AEROVIARIO-MUL.JUR',
       'COFINS SOBRE O FATURAMENTO-PARCELAM.-MULTAS',
       'CONTR.PIS/PASEP-PARCELAMENTOS-MULTAS DÍV.AT.',
       'RESTIT.DEP.DE SENTENÇAS JUD.Ñ SACADOS-MUL.JUR',
       'CSLL-PARCELAMENTOS-MULTAS',
       'COFINS SOBRE O FATURAMENTO-SIMPLES-MUL.JUR.',
       'CSLL-CONTRIBUINTES OPT.SIMPLES NAC-DÍV.AT-MUL',
       'CONTRIB.PREVIDENCIÁRIA DO SEGURADO-DÍV.ATIVA',
       'CONT.PREVIDENCIÁRIA SEGURADO-DÍV.AT-MUL.JUR',
       'AMORT.EMPREST.-PROG.OP.OFICIAIS CRED.-PRINC.',
       'DELEG.SERV.TELEC.-POD.CONC.NO REG.PUB.-PRINC.',
       'CONT.MOV.TRANSM.VAL.CRED.DIR.FIN-PARC-DÍV.AT.',
       'INSCR.EM CONCURSOS E PROC.SELETIVOS-MUL.JUR.',
       'CSLL-CONTRIBUINTES OPT.SIMPLES NAC.-PRINC',
       'COFINS SOBRE O FATURAMENTO-PARCELAM.-DÍV.AT.',
       'RESTITUICAO DE RECURSOS DE FOMENTO-PRINCIPAL',
       'CONTRIB.SOCIAL SOBRE LUCRO LÍQ.-CSLL-DÍV.AT.',
       'OUTROS IMPOSTOS-DÍVIDA ATIVA',
       'CONTR.REL.DESPED.EMPREG.S/JUSTA CAUSA-PRINC.',
       'CONTRIBUIÇÕES PARA O RGPS-MULTA E JUROS', 'IOF-OURO-PRINCIPAL',
       'IMPOSTO SOBRE A EXPORTAÇÃO-MULTAS E JUROS',
       'COFINS S/FATURAMENTO-PARCEL.-MULTAS DÍV.ATIVA',
       'COMPENS.FIN.ENTRE RGPS E RPPS-DIV.AT-MUL.JUR.',
       'IRRF-REMESSA AO EXTERIOR-PRINCIPAL-INTRA',
       'CPSSS-SERVIDOR CIVIL ATIVO-PRINCIPAL',
       'IOF-DEMAIS OPERAÇÕES-PRINCIPAL',
       'MULTAS PREVISTAS EM LEGISL.ESPECIFICA-DIV.AT.',
       'PRESTACAO DE CONTAS ELEITORAIS-MULTAS E JUROS',
       'MULTAS PREV.LEI GERAL TELECOM.-PRINC.-INTRA',
       'IPI-VINCULADOS À IMPORTAÇÃO-MULTAS E JUROS',
       'ROYALT.PROD.PETRO.EM TERRA-CONCESSAO-PRINC.',
       'CSLL-CONTRIBUINTES OPT.SIMPLES NAC.-MULTAS',
       'DEMAIS RECEITAS PATRIMONIAIS-PRINCIPAL',
       'IRRF-TRABALHO-JUROS DA DÍVIDA ATIVA',
       'COFINS SOBRE O FATURAMENTO-JUROS',
       'CPSSS-SERVIDOR CIVIL ATIVO-DÍVIDA ATIVA',
       'IRPF-MULTAS DA DÍVIDA ATIVA',
       'RESTIT.PARCELAS SEG.DESEMPR.REC.INDEV.-PRINC.',
       'CIDE COMBUSTIVEIS-COMERCIALIZACAO-MUL.JUR.',
       'CONTRIBUIÇÃO PIS/PASEP-PARCELAMENTOS-MUL.JUR.',
       'DEP.ABANDONADOS(DINHEIRO/OBJ.DE VALOR)-PRINC.',
       'CONTR.S/REC.OP.BRT DECOR.SERV.TELECOM-DIV.AT.',
       'CONTR.MOV.TRANSM.VAL.CRÉD.DIR.NAT.FIN.-PRINC.',
       'IMPOSTO SOBRE A IMPORTAÇÃO-JUROS DÍVIDA ATIVA',
       'MLT.LEI.GER.TELECOM-NÃO.P.ORBITAIS/DA.PRC',
       'RESTIT.DE BENEFICIOS PREVIDENCIARIOS-PRINC.',
       'CONTR.P/FUNDOS ASSIST.MÉD-BOMB.MILIT.-PRINC.',
       'RETORNO DE OP.,JUR.E ENC.FINANCEIROS-MUL.JUR.',
       'IRRF-REMESSA AO EXTERIOR-MULTAS E JUROS', 'COFINS-DÍVIDA ATIVA',
       'IPI-OUTROS PRODUTOS-PRINCIPAL',
       'CONTRIBUIÇÕES PARA O RGPS-DÍVIDA ATIVA',
       'IRPJ-LÍQUIDA DE INCENTIVOS-MULTAS DÍV.ATIVA',
       'IRRF-TRABALHO-MULTAS E JUROS-INTRA',
       'MULTAS PREV.LEG.SEG.DESEMP.AB.SALAR.-MUL.JUR.',
       'REMUNER.DISPONIBILIDADES TES.NACIONAL-PRINC.',
       'CPSSS-SERVIDOR CIVIL ATIVO-SENT.JUD.-PRINC.',
       'ITR-MUNICÍPIOS NÃO-CONVENIADOS-JUROS DÍV.AT.', 'CSLL-PRINCIPAL',
       'CESS.DIR.USO.RADFRQ-NÃO.P.ORBITAIS/PRC',
       'TX.INSP,CONTROL.E FISCALIZ.-DÍV.AT.-MUL.JUR.',
       'CONT.P/ENT.PRIV.SERV.SOC.E FORM.PROFIS.-PRINC',
       'MUL.P/DESCUMP.OBRIG.PREVID.ACESSORIA-MUL.JUR.',
       'CIDE-COMBUSTIVEIS-IMPORTACAO-MULTAS E JUROS',
       'CONTRIBUIÇÃO PARA O ENSINO AEROVIÁRIO-PRINC.',
       'CONT.PIS/PASEP-OPT.SIMP.NAC-JUROS DÍV.ATIVA',
       'CONTRIBUIÇÃO PARA O PIS/PASEP-MULTA E JUROS',
       'CONTR.S/REC.BRT EMP.PREST.SERV.TELECOM-DIV.AT',
       'COFINS-MULTA E JUROS',
       'CONTR.PREV.EMPREGADOR-Ñ OPT.SIMP.NAC.-DÍV.AT.',
       'CPSSS-SERVIDOR CIVIL INATIVO-PRINCIPAL',
       'CONT.PREVID.EMPREGADOR-OPT.SIMP.NAC.-DÍV.AT.',
       'RESTIT.BENEFÍCIOS NÃO DESEMBOLSADOS-MUL.JUR.',
       'CONTRIB.PREVIDENCIÁRIA DO SEGURADO-PRINC.',
       'RESSARCIMENTO DE CUSTOS-PRINCIPAL',
       'CONTRIBUIÇÃO PIS/PASEP-PARCELAMENTOS-MULTAS',
       'MLT.LEI.GER.TELECOM-NÃO.P.ORBITAIS/PRC',
       'OUTRAS RECEITAS ADMINISTRADAS RFB-MUL.JUR.',
       'OUTRAS RECEITAS ADMINISTR.RFB-DIV.AT-MUL.JUR.',
       'OUTRAS RECEITAS ADMINISTRADAS PELA RFB-PRINC.',
       'COTA-PARTE DA CONTRIBUIÇÃO SINDICAL-PRINCIPAL',
       'TAXAS INSPEÇÃO,CONTROLE E FISCALIZAÇÃO-DÍV.AT',
       'IPI-OUTROS PRODUTOS-MULTAS E JUROS',
       'CSLL-PARCELAMENTOS-DÍVIDA ATIVA-JUROS',
       'CONT.MOV.TRANSM.VL.CR.FIN-PARC-DÍV.AT-MUL.JUR',
       'IRRF-TRABALHO-PRINCIPAL',
       'DEMAIS CONTRIBUIÇÕES SOCIAIS-DÍVIDA ATIVA',
       'CONTR.PIS/PASEP-PARCELAMENTOS-JUROS DÍV.ATIVA',
       'AMORT.EMPR.-REFIN.DIV.MED.E LONGO PRAZO-PRINC',
       'IOF-DEMAIS OPERAÇÕES-MULTAS DA DÍVIDA ATIVA',
       'IRRF-OUTROS RENDIMENTOS-PRINCIPAL-INTRA',
       'MULT.LEG.ANTICORRUP.ACORDOS LENIÊNCIA-PRINC.',
       'IRPF-JUROS DA DÍVIDA ATIVA',
       'TAXA DE CONTROLE E FISC.AMBIENTAL-PRINCIPAL',
       'CONTRIBUIÇÕES P/O RGPS-PARCELAMENTOS-DÍV.AT.',
       'CESSAO DIREITO USO DE RADIOFREQUENCIA-DIV.AT.',
       'CONTRIB.DO SERVIDOR INATIVO P/RPPS-PRINCIPAL',
       'EMOLUMENTOS E CUSTAS JUDICIAIS-DÍV.AT-MUL.JUR',
       'CONTRIB.PIS/PASEP-OPTANTES SIMP.NAC-DÍV.AT.',
       'COFINS-MULTAS E JUROS', 'TRANSFERENCIAS DO EXTERIOR-PRINCIPAL',
       'IMPOSTO SOBRE A EXPORTAÇÃO-PRINCIPAL', 'CONDECINE-PRINCIPAL',
       'COFINS SOBRE O FATURAMENTO-PARCELAM.-JUROS',
       'COFINS SOBRE O FATURAMENTO-PRINCIPAL',
       'DEMAIS CONTRIBUIÇÕES SOCIAIS-MULTAS E JUROS',
       'CONT.PREV.EMPREG.-OPT.SIMP.NAC-DÍV.AT-MUL.JUR',
       'CONTRIB.SOCIAL DO SALÁRIO-EDUCAÇÃO-PRINCIPAL',
       'CONT.PIS/PASEP-Ñ OPT.SIMP.NAC-JUROS DÍV.ATIVA',
       'CSLL-PARCELAMENTOS-DÍVIDA ATIVA',
       'REMUN.S/REPASSE P/PROG.DESENV.ECONOMICO-PRINC',
       'ROYAL.EXCED.PROD.PETRO.TERRA(QQ SIT.)-PRINC.',
       'TRANSF.DE OUTRAS INSTITUIÇÕES PÚBLICAS-PRINC.',
       'CONC/PERM/AUT/CESSAO DIR.USO IMOV.PUB-MUL.JUR',
       'CONTRIBUIÇÃO PARA O PIS/PASEP-JUROS-DÍV.ATIVA',
       'BONUS ASSINAT.DE CONTRATO DE CONCESSAO-PRINC.',
       'CONTRIB.SOCIAL DO SALARIO-EDUCACAO-MUL.JUR.',
       'CONTRIBUICOES P/O RGPS-DIVIDA ATIVA-MUL.JUR.',
       'CPSSS-SERVIDOR CIVIL PENSIONISTA-PRINCIPAL',
       'PARTICIPACOES-PRINCIPAL',
       'CONT.PIS/PASEP-Ñ OPT.SIMP.NAC-DÍV.AT-MUL.JUR',
       'OUTROS IMPOSTOS-MULTAS E JUROS',
       'CESSÃO DIR.USO RADIOFREQUÊNCIA-MUL.JUR-INTRA',
       'P.ESP.PETRO.PLAT-COM.ANT.3/12/12-P.SAL-PRINC.',
       'PART.UNIÃO EM RECEITA LOTERIA FEDERAL-PRINC.',
       'IPI-AUTOMÓVEIS-MULTAS E JUROS',
       'COFINS SOBRE O FATURAMENTO-DÍVIDA ATIVA',
       'JUROS SOBRE O CAPITAL PROPRIO-PRINCIPAL',
       'IMPOSTO SOBRE A IMPORTAÇÃO-MULTAS DÍV.ATIVA',
       'MULTAS PREV.LEG.SEG.DESEMP.AB.SALAR.-PRINC.',
       'RESTIT.BENEFICIOS NAO DESEMBOLSADOS-PRINCIPAL',
       'CONTRIB.P/FOMENTO RADIODIFUSAO PUBLICA-PRINC.',
       'CONTR.S/ARREC.FUNDOS INVEST.REGIONAIS-PRINC.',
       'CONTR.LOJ.FR.ENTREP.ADUAN.DEP.ALFAND.-PRINC.',
       'IPI-FUMO-MULTAS E JUROS',
       'CONTRIBUIÇÕES P/O RGPS-PARCELAMENTOS-PRINC.',
       'ITR-MUNICÍPIOS CONVENIADOS-PRINCIPAL',
       'IPI-OUTROS PRODUTOS-JUROS DA DÍVIDA ATIVA',
       'CONTRIB.SERVIDOR ATIVO CIVIL P/RPPS-MUL.JUR.',
       'RESTIT.DEP.DE SENTENÇAS JUD.Ñ SACADOS-PRINC.',
       'CONTRIBUIÇÃO PIS/PASEP-PARCELAMENTOS-JUROS',
       'IOF-DEMAIS OPERAÇÕES-JUROS DA DÍVIDA ATIVA',
       'ROYAL.PETRO.PLAT.-COM.A PARTIR 3/12/12-PRINC.', 'IRPF-PRINCIPAL',
       'OUTRAS CONTRIBUICOES ECONOMICAS-PRINCIPAL',
       'CONTR.PREV.EMPREGADOR-Ñ OPT.SIMP.NAC.-MUL.JUR',
       'AMORTIZACAO DE EMPRESTIMOS-EST/MUN-PRINCIPAL',
       'CONTR.S/REMUN.DEVIDA AO TRABALHADOR-PRINCIPAL',
       'CONT.MOV.TRANSM.VAL.CRÉD.DIR.NAT.FIN.-MUL.JUR',
       'INDENIZ.POSSE/OCUP.ILICITA BENS PUB.-PRINC.',
       'CONT.PIS/PASEP-Ñ OPT.SIMP.NAC-MULTAS DÍV.AT.',
       'JUROS DE TITULOS DE RENDA-PRINCIPAL',
       'OUTRAS RECEITAS-PRIMARIAS-DIVIDA ATIVA',
       'IRPJ-LÍQUIDA DE INCENTIVOS-JUROS DÍV.ATIVA',
       'CONTRIB.P/FOMENTO RADIODIF.PÚB.-PRINC.-INTRA',
       'CONTR.PIS/PASEP SOBRE FATURAM.-MUL.JUR-INTRA',
       'IMPOSTO SOBRE A EXPORTAÇÃO-JUROS DÍVIDA ATIVA',
       'BONUS ASSINAT.CONTRATO DE CONCESSAO-MUL.JUR.',
       'IRPF-MULTAS E JUROS',
       'MULTAS E JUROS PREVISTOS EM CONTRATOS-DIV.AT.',
       'ROY.EXC.PETRO.PLAT-COM.A PARTIR 3/12/12-PRINC',
       'CONDECINE-MULTAS E JUROS',
       'EMOLUMENTOS E CUSTAS JUDICIAIS-PRINC.-INTRA',
       'OUTRAS RECEITAS IMOBILIARIAS-MULTAS E JUROS', 'COFINS-PRINCIPAL',
       'CONTRIBUIÇÃO SOBRE A LOTERIA FEDERAL-PRINCIP.',
       'IMPOSTO SOBRE A EXPORTAÇÃO-MULTAS DÍV.ATIVA',
       'CSLL-CONTRIBUINTES Ñ OPT.SIMP.NAC.-PRINC.',
       'IRPJ-LÍQUIDA DE INCENTIVOS-PRINCIPAL',

Los 10 DETALLE que MAS aparecen son:

                                               count  Porcentaje_recuento
DETALLE
SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.    29143                16.48
INSCR.EM CONCURSOS E PROC.SELETIVOS-PRINCIPAL  15436                 8.73
ALUGUEIS E ARRENDAMENTOS-PRINCIPAL             13929                 7.88
MULTAS PREVISTAS EM LEGISL.ESPECIFICA-PRINC.    6348                 3.59
REMUNERACAO DE DEPOSITOS BANCARIOS-PRINCIPAL    5123                 2.90
TAXAS INSPEÇÃO,CONTROLE E FISCALIZAÇÃO-PRINC.   4251                 2.40
OUTRAS RESTITUICOES-PRINCIPAL                   4225                 2.39
OUTRAS RECEITAS-PRIMARIAS-PRINCIPAL             4021                 2.27
RESTIT.DE DESPESAS DE EXERC.ANTERIORES-PRINC.   3755                 2.12
SERVICOS DE INFORMACAO E TECNOLOGIA-PRINCIPAL   3457                 1.96

Los 10 DETALLE que MENOS aparecen son:

                                               count  Porcentaje_recuento
DETALLE
DELEG.P/EXPL.INFRA.TRANSP.FERROVIARIO-PRINC.       1                 0.00
CSLL-PRINCIPAL                                     1                 0.00
COFINS-MULTA E JUROS                               1                 0.00
CONTRIBUIÇÕES PARA O RGPS-DÍVIDA ATIVA             1                 0.00
MULTAS PREV.LEG.SEG.DESEMP.AB.SALAR.-MUL.JUR.      1                 0.00
CPSSS-SERVIDOR CIVIL ATIVO-DÍVIDA ATIVA            1                 0.00
PARCELA TARIFA EMBARQUE INTERNACIONAL-MUL.JUR      1                 0.00
CUSTOS EDITAL DE CONCESSAO FLORESTAL-PRINC.        1                 0.00
RECEITA VEICULACAO DE OBRAS CINEMATOGRAFICAS       1                 0.00
RESTIT.NAO APLIC.INC.FISC.L.AUDIOVIS.-DIV.AT.      1                 0.00

 Las distribución de las repeticiones de los DETALLE son:

       count  % repetición
count
1         37          5.82
36        34          5.35
3         27          4.25
26        19          2.99
16        19          2.99
...      ...           ...
168        1          0.16
43         1          0.16
65         1          0.16
72         1          0.16
68         1          0.16

[207 rows x 2 columns]

None
La categoría VALOR_PREVISTO_ACTUALIZADO tiene 1801 elementos diferentes:

Los elementos de la categoría son:

array([0.00000000e+00, 1.24295300e+06, 8.20630000e+05, ...,
       1.18953385e+08, 8.46406210e+07, 2.50000000e+05])

Los 10 VALOR_PREVISTO_ACTUALIZADO que MAS aparecen son:

                             count  Porcentaje_recuento
VALOR_PREVISTO_ACTUALIZADO
0.00                        174975                98.95
1000000.00                       2                 0.00
100000.00                        2                 0.00
700000.00                        2                 0.00
2400.00                          2                 0.00
15000.00                         2                 0.00
142500.00                        2                 0.00
5327629.00                       2                 0.00
1500000.00                       2                 0.00
180000.00                        2                 0.00

Los 10 VALOR_PREVISTO_ACTUALIZADO que MENOS aparecen son:

                            count  Porcentaje_recuento
VALOR_PREVISTO_ACTUALIZADO
4040597.00                      1                 0.00
193120.00                       1                 0.00
15025.00                        1                 0.00
137845.00                       1                 0.00
4597.00                         1                 0.00
323728.00                       1                 0.00
78324.00                        1                 0.00
793905.00                       1                 0.00
226872.00                       1                 0.00
4107909.00                      1                 0.00

 Las distribución de las repeticiones de los VALOR_PREVISTO_ACTUALIZADO son:

        count  % repetición
count
1        1747         97.00
2          53          2.94
174975      1          0.06

None
La categoría VALOR_REGISTRADO tiene 1105 elementos diferentes:

Los elementos de la categoría son:

array([ 0.00000000e+00,  1.91909603e+08, -2.12871122e+09, ...,
        1.80000000e+01, -1.80000000e+01,  5.07434478e+06])

Los 10 VALOR_REGISTRADO que MAS aparecen son:

                   count  Porcentaje_recuento
VALOR_REGISTRADO
0.00              175649                99.33
-15880387.66           2                 0.00
-6.63                  2                 0.00
5731.56                2                 0.00
4920.76                2                 0.00
-12220654.62           2                 0.00
-4694964517.49         2                 0.00
-12602487.98           2                 0.00
476965.74              2                 0.00
36.20                  2                 0.00

Los 10 VALOR_REGISTRADO que MENOS aparecen son:

                  count  Porcentaje_recuento
VALOR_REGISTRADO
1016.40               1                 0.00
1039.80               1                 0.00
967.29                1                 0.00
922.74                1                 0.00
952.44                1                 0.00
192581.89             1                 0.00
928.44                1                 0.00
1060.98               1                 0.00
914.38                1                 0.00
839196.80             1                 0.00

 Las distribución de las repeticiones de los VALOR_REGISTRADO son:

        count  % repetición
count
1        1029         93.12
2          75          6.79
175649      1          0.09

None
La categoría VALOR_REALIZADO tiene 124002 elementos diferentes:

Los elementos de la categoría son:

array([-9.5000000e+01, -3.8000000e+02,  3.8000000e+02, ...,
        4.0764619e+05,  3.7995200e+03,  3.0003160e+04])

Los 10 VALOR_REALIZADO que MAS aparecen son:

                 count  Porcentaje_recuento
VALOR_REALIZADO
0.00              3107                 1.76
100.00             601                 0.34
10.00              552                 0.31
200.00             512                 0.29
20.00              481                 0.27
30.00              459                 0.26
50.00              453                 0.26
300.00             423                 0.24
40.00              414                 0.23
60.00              408                 0.23

Los 10 VALOR_REALIZADO que MENOS aparecen son:

                 count  Porcentaje_recuento
VALOR_REALIZADO
250800.19            1                 0.00
181979.18            1                 0.00
108162.42            1                 0.00
255082.04            1                 0.00
293050.26            1                 0.00
321111.52            1                 0.00
459894.27            1                 0.00
294466.69            1                 0.00
176924.29            1                 0.00
252762.44            1                 0.00

 Las distribución de las repeticiones de los VALOR_REALIZADO son:

        count  % repetición
count
1      112972         91.10
2        6152          4.96
3        1842          1.49
4         851          0.69
5         485          0.39
...       ...           ...
159         1          0.00
152         1          0.00
61          1          0.00
50          1          0.00
66          1          0.00

[132 rows x 2 columns]

None
La categoría PORCENTAJE_REALIZADO tiene 48 elementos diferentes:

Los elementos de la categoría son:

array([ 0.0000e+00,  5.0000e+00,  8.0000e+00,  9.0000e+00,  7.0000e+00,
        1.0000e+00,  3.0000e+00,  2.0000e+00,  1.2000e+01,  4.6000e+01,
        4.0000e+00,  4.3500e+02,  1.1000e+01,  1.7000e+01,  1.4000e+01,
        6.0000e+00,  2.0000e+01,  1.1514e+04, -5.0000e+00,  1.3000e+01,
        4.2000e+02,  2.1000e+01,  1.0000e+01,  5.7000e+01,  4.3000e+01,
        4.1000e+01,  6.4000e+01,  7.7000e+01, -1.0000e+00,  3.6000e+01,
        3.9000e+01,  1.5000e+01,  2.2000e+01,  1.7500e+02,  1.6000e+01,
        6.6000e+01,  1.6631e+04,  1.8000e+01,  2.7000e+01,  1.2500e+02,
       -2.8200e+02,  3.8000e+01,  2.1600e+02,  4.6000e+02,  2.6000e+01,
        1.7000e+02,  4.5000e+01,  3.3000e+01])

Los 10 PORCENTAJE_REALIZADO que MAS aparecen son:

                       count  Porcentaje_recuento
PORCENTAJE_REALIZADO
0.00                  176448                99.79
1.00                     100                 0.06
2.00                      54                 0.03
3.00                      39                 0.02
5.00                      29                 0.02
7.00                      29                 0.02
4.00                      29                 0.02
6.00                      21                 0.01
8.00                      13                 0.01
11.00                      8                 0.00

Los 10 PORCENTAJE_REALIZADO que MENOS aparecen son:

                      count  Porcentaje_recuento
PORCENTAJE_REALIZADO
27.00                     1                 0.00
125.00                    1                 0.00
-282.00                   1                 0.00
38.00                     1                 0.00
216.00                    1                 0.00
460.00                    1                 0.00
26.00                     1                 0.00
170.00                    1                 0.00
45.00                     1                 0.00
33.00                     1                 0.00

 Las distribución de las repeticiones de los PORCENTAJE_REALIZADO son:

        count  % repetición
count
1          28         58.33
2           5         10.42
29          3          6.25
3           2          4.17
5           2          4.17
39          1          2.08
54          1          2.08
100         1          2.08
176448      1          2.08
8           1          2.08
13          1          2.08
21          1          2.08
4           1          2.08

None
La categoría FECHA_REGISTRO tiene 365 elementos diferentes:

Los elementos de la categoría son:

<DatetimeArray>
['2019-06-12 00:00:00', '2019-05-07 00:00:00', '2019-03-01 00:00:00',
 '2019-02-27 00:00:00', '2019-04-18 00:00:00', '2019-08-12 00:00:00',
 '2019-03-28 00:00:00', '2019-05-21 00:00:00', '2019-05-09 00:00:00',
 '2019-08-01 00:00:00',
 ...
 '2019-02-16 00:00:00', '2019-06-08 00:00:00', '2019-05-11 00:00:00',
 '2019-03-05 00:00:00', '2019-08-25 00:00:00', '2019-02-02 00:00:00',
 '2019-12-29 00:00:00', '2019-08-04 00:00:00', '2019-05-25 00:00:00',
 '2019-10-27 00:00:00']
Length: 366, dtype: datetime64[ns]

Los 10 FECHA_REGISTRO que MAS aparecen son:

                count  Porcentaje_recuento
FECHA_REGISTRO
2019-01-31       2212                 1.25
2019-09-30       1137                 0.64
2019-07-31       1116                 0.63
2019-04-30       1093                 0.62
2019-02-28       1092                 0.62
2019-10-31       1080                 0.61
2019-05-31       1066                 0.60
2019-09-10        988                 0.56
2019-06-10        973                 0.55
2019-10-10        957                 0.54

Los 10 FECHA_REGISTRO que MENOS aparecen son:

                count  Porcentaje_recuento
FECHA_REGISTRO
2019-02-16          1                 0.00
2019-06-08          1                 0.00
2019-05-11          1                 0.00
2019-03-05          1                 0.00
2019-08-25          1                 0.00
2019-02-02          1                 0.00
2019-12-29          1                 0.00
2019-08-04          1                 0.00
2019-05-25          1                 0.00
2019-10-27          1                 0.00

 Las distribución de las repeticiones de los FECHA_REGISTRO son:

       count  % repetición
count
1         49         13.42
2         18          4.93
10         7          1.92
617        6          1.64
3          6          1.64
...      ...           ...
206        1          0.27
12         1          0.27
11         1          0.27
6          1          0.27
8          1          0.27

[187 rows x 2 columns]

None
La categoría AÑO_EJERCICIO tiene 1 elementos diferentes:

Los elementos de la categoría son:

array([2019])

Los 10 AÑO_EJERCICIO que MAS aparecen son:

                count  Porcentaje_recuento
AÑO_EJERCICIO
2019           176828               100.00

Los 10 AÑO_EJERCICIO que MENOS aparecen son:

                count  Porcentaje_recuento
AÑO_EJERCICIO
2019           176828               100.00

 Las distribución de las repeticiones de los AÑO_EJERCICIO son:

        count  % repetición
count
176828      1        100.00

None

In [13]:
df_datos_2019.to_pickle("../datos/output/datos_2019_convertido.pkl")