In [1]:
# Tratamiento de datos
import pandas as pd
# Ignorar warnings
import warnings
warnings.filterwarnings("ignore")
# Configuración
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames
#importar la biblioteca de numpy:
import numpy as np
import os
import sys #permite navegar por el sistema
sys.path.append("../") #solo aplica al soporte
import src.soporte_EDA as se


pd.options.display.float_format = '{:.2f}'.format # para redondearlo todo a 2 decimales

In [2]:
os.listdir('../datos/raw/')

['datos-2013.csv',
 'datos-2014.csv',
 'datos-2015.csv',
 'datos-2016.csv',
 'datos-2017.csv',
 'datos-2018.csv',
 'datos-2019.csv',
 'datos-2020.csv',
 'datos-2021.csv',
 'diccionario_datos.csv']

In [3]:
lista_archivos = os.listdir('../datos/raw/')[:-1]
lista_archivos

['datos-2013.csv',
 'datos-2014.csv',
 'datos-2015.csv',
 'datos-2016.csv',
 'datos-2017.csv',
 'datos-2018.csv',
 'datos-2019.csv',
 'datos-2020.csv',
 'datos-2021.csv']

In [4]:
diccionario = se.carga_ficheros_csv('raw',lista_archivos)

In [5]:
df_datos_2020 = diccionario['df_2020']

# Anális datos año 2020

In [6]:
se.traducción_columnas(df_datos_2020)

In [7]:
df_datos_2020

,CÓDIGO_ÓRGANO_SUPERIOR,NOMBRE_ÓRGANO_SUPERIOR,CÓDIGO_ÓRGANO,NOMBRE_ÓRGANO,CÓDIGO_UNIDAD_GESTORA,NOMBRE_UNIDAD_GESTORA,CATEGORÍA_ECONÓMICA,ORIGEN_INGRESO,TIPO_INGRESO,DETALLE,VALOR_PREVISTO_ACTUALIZADO,VALOR_REGISTRADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO,FECHA_REGISTRO,AÑO_EJERCICIO
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",RESTITUIÇÃO DE CONVÊNIOS-PRIMÁRIAS-DÍV.ATIVA,"0,00","0,00","5516,90","0,00",28/04/2020,2020
1,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",RESTITUIÇÃO DE CONVÊNIOS-PRIMÁRIAS-DÍV.ATIVA,"0,00","0,00","2946,81","0,00",15/04/2020,2020
2,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",RESTITUIÇÃO DE CONVÊNIOS-PRIMÁRIAS-DÍV.ATIVA,"0,00","0,00","1541,53","0,00",27/05/2020,2020
3,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",RESTITUIÇÃO DE CONVÊNIOS-PRIMÁRIAS-DÍV.ATIVA,"0,00","0,00","0,00","0,00",12/06/2020,2020
4,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",RESTITUIÇÃO DE CONVÊNIOS-PRIMÁRIAS-DÍV.ATIVA,"0,00","0,00","4701,23","0,00",19/03/2020,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142343,20000,Presidência da República,24208,Instituto Nacional de Tecnologia da Informação,243001,INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,"SERV.DE REGIST.,CERTIF.E FISCALIZ.-PRINCIPAL","0,00","0,00","100,00","0,00",29/07/2020,2020
142344,20000,Presidência da República,24208,Instituto Nacional de Tecnologia da Informação,243001,INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,"SERV.DE REGIST.,CERTIF.E FISCALIZ.-PRINCIPAL","0,00","0,00","1000000,00","0,00",23/10/2020,2020
142345,20000,Presidência da República,24208,Instituto Nacional de Tecnologia da Informação,243001,INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,"SERV.DE REGIST.,CERTIF.E FISCALIZ.-PRINCIPAL","324321,00","0,00","0,00","0,00",20/01/2020,2020
142346,20000,Presidência da República,24208,Instituto Nacional de Tecnologia da Informação,243001,INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,"SERV.DE REGIST.,CERTIF.E FISCALIZ.-PRINCIPAL","0,00","0,00","1000000,00","0,00",18/08/2020,2020
142347,20000,Presidência da República,24208,Instituto Nacional de Tecnologia da Informação,243001,INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI,Receitas de Capital,Operações de Crédito,Operações de crédito - mercado interno,TITULOS DE RESPONS.TES.NAC.-MERC.INT.-PRINC.,"6691185,00","0,00","0,00","0,00",20/01/2020,2020

In [8]:
se.reporte(df_datos_2020)

La tabla tiene 142348 filas y 16 columnas
La tabla tiene 0 filas duplicadas

,tipo_variables,contador_total,numero_nulos,porcentaje_nulos,valores_unicos,duplicados
CÓDIGO_ÓRGANO_SUPERIOR,int64,142348,0,0.00,20,142328
NOMBRE_ÓRGANO_SUPERIOR,object,142348,0,0.00,20,142328
CÓDIGO_ÓRGANO,int64,142348,0,0.00,255,142093
NOMBRE_ÓRGANO,object,142348,0,0.00,254,142094
CÓDIGO_UNIDAD_GESTORA,int64,142348,0,0.00,272,142076
NOMBRE_UNIDAD_GESTORA,object,142348,0,0.00,270,142078
CATEGORÍA_ECONÓMICA,object,142348,0,0.00,5,142343
ORIGEN_INGRESO,object,142348,0,0.00,15,142333
TIPO_INGRESO,object,142348,0,0.00,45,142303
DETALLE,object,142348,0,0.00,625,141723
VALOR_PREVISTO_ACTUALIZADO,object,142348,0,0.00,1951,140397
VALOR_REGISTRADO,object,142348,0,0.00,1579,140769
VALOR_REALIZADO,object,142348,0,0.00,106992,35356
PORCENTAJE_REALIZADO,object,142348,0,0.00,27,142321
FECHA_REGISTRO,object,142262,86,0.06,362,141985
AÑO_EJERCICIO,int64,142348,0,0.00,1,142347

In [9]:
se.conversion_columnas(df_datos_2020)

La tabla tiene 142348 filas y 16 columnas
La tabla tiene 0 filas duplicadas

,tipo_variables,contador_total,numero_nulos,porcentaje_nulos,valores_unicos,duplicados
CÓDIGO_ÓRGANO_SUPERIOR,object,142348,0,0.00,20,142328
NOMBRE_ÓRGANO_SUPERIOR,object,142348,0,0.00,20,142328
CÓDIGO_ÓRGANO,object,142348,0,0.00,255,142093
NOMBRE_ÓRGANO,object,142348,0,0.00,254,142094
CÓDIGO_UNIDAD_GESTORA,object,142348,0,0.00,272,142076
NOMBRE_UNIDAD_GESTORA,object,142348,0,0.00,270,142078
CATEGORÍA_ECONÓMICA,object,142348,0,0.00,5,142343
ORIGEN_INGRESO,object,142348,0,0.00,15,142333
TIPO_INGRESO,object,142348,0,0.00,45,142303
DETALLE,object,142348,0,0.00,625,141723
VALOR_PREVISTO_ACTUALIZADO,float64,142348,0,0.00,1951,140397
VALOR_REGISTRADO,float64,142348,0,0.00,1579,140769
VALOR_REALIZADO,float64,142348,0,0.00,106992,35356
PORCENTAJE_REALIZADO,float64,142348,0,0.00,27,142321
FECHA_REGISTRO,datetime64[ns],142262,86,0.06,362,141985
AÑO_EJERCICIO,int64,142348,0,0.00,1,142347

In [10]:
se.analisis_descriptivos_categóricas(df_datos_2020)

Las columnas categóricas son Index(['CÓDIGO_ÓRGANO_SUPERIOR', 'NOMBRE_ÓRGANO_SUPERIOR', 'CÓDIGO_ÓRGANO',
       'NOMBRE_ÓRGANO', 'CÓDIGO_UNIDAD_GESTORA', 'NOMBRE_UNIDAD_GESTORA',
       'CATEGORÍA_ECONÓMICA', 'ORIGEN_INGRESO', 'TIPO_INGRESO', 'DETALLE'],
      dtype='object')
Algunos ejemplos de filas son:

,CÓDIGO_ÓRGANO_SUPERIOR,NOMBRE_ÓRGANO_SUPERIOR,CÓDIGO_ÓRGANO,NOMBRE_ÓRGANO,CÓDIGO_UNIDAD_GESTORA,NOMBRE_UNIDAD_GESTORA,CATEGORÍA_ECONÓMICA,ORIGEN_INGRESO,TIPO_INGRESO,DETALLE
102063,26000,Ministério da Educação,26422,Instituto Federal Catarinense,158125,INSTITUTO FEDERAL CATARINENSE - REITORIA,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.
16141,52000,Ministério da Defesa,52904,Fundo do Exército,167086,FUNDO DO EXERCITO,Receitas Correntes,Receita de Serviços,Outros serviços,OUTROS SERVICOS-PRINCIPAL
92547,26000,Ministério da Educação,26298,Fundo Nacional de Desenvolvimento da Educação,153173,FUNDO NACIONAL DE DESENVOLVIMENTO DA EDUCACAO,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",RESTITUIÇÃO DE CONVÊNIOS-PRIMÁRIAS-MUL.JUR.
24950,52000,Ministério da Defesa,31280,Caixa de Construções de Casas para o Pessoal d...,773008,DIRETORIA DE FINANCAS DA MARINHA - CCCPM,Receitas de Capital,Amortizações de Empréstimos,Amortizações de Empréstimos,AMORTIZACAO DE EMPRESTIMOS CONTRATUAIS-PRINC.
61205,25000,Ministério da Economia,25201,Banco Central do Brasil - Orçamento Fiscal e S...,173057,BANCO CENTRAL DO BRASIL,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,SERVICOS DE INFORMACAO E TECNOLOGIA-PRINCIPAL

Las características de estas columnas son:

,count,unique,top,freq
CÓDIGO_ÓRGANO_SUPERIOR,142348,20,26000,40888
NOMBRE_ÓRGANO_SUPERIOR,142348,20,Ministério da Educação,40888
CÓDIGO_ÓRGANO,142348,255,25000,22686
NOMBRE_ÓRGANO,142348,254,Ministério da Economia - Unidades com vínculo ...,22686
CÓDIGO_UNIDAD_GESTORA,142348,272,170013,21074
NOMBRE_UNIDAD_GESTORA,142348,270,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,21074
CATEGORÍA_ECONÓMICA,142348,5,Receitas Correntes,135172
ORIGEN_INGRESO,142348,15,Outras Receitas Correntes,42127
TIPO_INGRESO,142348,45,Serviços Administrativos e Comerciais Gerais,33271
DETALLE,142348,625,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.,21029

In [11]:
se.analisis_descriptivos_numéricas(df_datos_2020)

Las columnas no categóricas son Index(['VALOR_PREVISTO_ACTUALIZADO', 'VALOR_REGISTRADO', 'VALOR_REALIZADO',
       'PORCENTAJE_REALIZADO', 'FECHA_REGISTRO', 'AÑO_EJERCICIO'],
      dtype='object')
Algunos ejemplos de filas son:

,VALOR_PREVISTO_ACTUALIZADO,VALOR_REGISTRADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO,FECHA_REGISTRO,AÑO_EJERCICIO
101011,0.00,0.00,2224655.75,0.00,2020-12-28,2020
140441,0.00,0.00,20.00,0.00,2020-02-27,2020
98493,0.00,0.00,15565.50,0.00,2020-07-30,2020
127124,0.00,0.00,158743.05,0.00,2020-11-19,2020
127684,0.00,0.00,8273.01,0.00,2020-05-21,2020

Las características de estas columnas son:

,count,mean,min,25%,50%,75%,max,std
VALOR_PREVISTO_ACTUALIZADO,142348.00,25129588.89,0.00,0.00,0.00,0.00,915650943341.00,3072051686.37
VALOR_REGISTRADO,142348.00,4963049.23,-83137328053.64,0.00,0.00,0.00,257513407925.60,836427167.55
VALOR_REALIZADO,142348.00,25511061.83,-22288681258.25,316.34,4344.17,58309.05,350022251304.30,1106999777.42
PORCENTAJE_REALIZADO,142348.00,0.28,0.00,0.00,0.00,0.00,39232.00,103.98
FECHA_REGISTRO,142262,2020-06-25 08:08:07.281213696,2020-01-01 00:00:00,2020-03-17 00:00:00,2020-06-26 00:00:00,2020-09-29 00:00:00,2020-12-30 00:00:00,NaN
AÑO_EJERCICIO,142348.00,2020.00,2020.00,2020.00,2020.00,2020.00,2020.00,0.00

# Análisis columnas de forma individual
## Año 2020

In [12]:
for columna in df_datos_2020.columns:
    print(se.analisis_individual_columnas(df_datos_2020, columna))

La categoría CÓDIGO_ÓRGANO_SUPERIOR tiene 20 elementos diferentes:

Los elementos de la categoría son:

array(['63000', '37000', '22000', '55000', '24000', '52000', '25000',
       '26000', '39000', '30000', '81000', '36000', '41000', '57000',
       '35000', '32000', '53000', '44000', '54000', '20000'], dtype=object)

Los 10 CÓDIGO_ÓRGANO_SUPERIOR que MAS aparecen son:

                        count  Porcentaje_recuento
CÓDIGO_ÓRGANO_SUPERIOR
26000                   40888                28.72
25000                   36037                25.32
52000                   14753                10.36
22000                    6532                 4.59
30000                    6177                 4.34
39000                    5741                 4.03
24000                    5008                 3.52
32000                    4973                 3.49
36000                    4542                 3.19
53000                    4251                 2.99

Los 10 CÓDIGO_ÓRGANO_SUPERIOR que MENOS aparecen son:

                        count  Porcentaje_recuento
CÓDIGO_ÓRGANO_SUPERIOR
41000                    4122                 2.90
44000                    4111                 2.89
54000                    3382                 2.38
55000                     646                 0.45
20000                     518                 0.36
35000                     388                 0.27
81000                     248                 0.17
63000                      24                 0.02
57000                       6                 0.00
37000                       1                 0.00

 Las distribución de las repeticiones de los CÓDIGO_ÓRGANO_SUPERIOR son:

       count  % repetición
count
40888      1          5.00
36037      1          5.00
14753      1          5.00
6532       1          5.00
6177       1          5.00
5741       1          5.00
5008       1          5.00
4973       1          5.00
4542       1          5.00
4251       1          5.00
4122       1          5.00
4111       1          5.00
3382       1          5.00
646        1          5.00
518        1          5.00
388        1          5.00
248        1          5.00
24         1          5.00
6          1          5.00
1          1          5.00

None
La categoría NOMBRE_ÓRGANO_SUPERIOR tiene 20 elementos diferentes:

Los elementos de la categoría son:

array(['Advocacia-Geral da União', 'Controladoria-Geral da União',
       'Ministério da Agricultura, Pecuária e Abastec',
       'Ministério da Cidadania',
       'Ministério da Ciência, Tecnologia, Inovações ',
       'Ministério da Defesa', 'Ministério da Economia',
       'Ministério da Educação', 'Ministério da Infraestrutura',
       'Ministério da Justiça e Segurança Pública',
       'Ministério da Mulher, Família e Direitos Huma',
       'Ministério da Saúde', 'Ministério das Comunicações',
       'Ministério das Mulheres, Igualdade Racial, da',
       'Ministério das Relações Exteriores',
       'Ministério de Minas e Energia',
       'Ministério do Desenvolvimento Regional',
       'Ministério do Meio Ambiente', 'Ministério do Turismo',
       'Presidência da República'], dtype=object)

Los 10 NOMBRE_ÓRGANO_SUPERIOR que MAS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_ÓRGANO_SUPERIOR
Ministério da Educação                         40888                28.72
Ministério da Economia                         36037                25.32
Ministério da Defesa                           14753                10.36
Ministério da Agricultura, Pecuária e Abastec   6532                 4.59
Ministério da Justiça e Segurança Pública       6177                 4.34
Ministério da Infraestrutura                    5741                 4.03
Ministério da Ciência, Tecnologia, Inovações    5008                 3.52
Ministério de Minas e Energia                   4973                 3.49
Ministério da Saúde                             4542                 3.19
Ministério do Desenvolvimento Regional          4251                 2.99

Los 10 NOMBRE_ÓRGANO_SUPERIOR que MENOS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_ÓRGANO_SUPERIOR
Ministério das Comunicações                     4122                 2.90
Ministério do Meio Ambiente                     4111                 2.89
Ministério do Turismo                           3382                 2.38
Ministério da Cidadania                          646                 0.45
Presidência da República                         518                 0.36
Ministério das Relações Exteriores               388                 0.27
Ministério da Mulher, Família e Direitos Huma    248                 0.17
Advocacia-Geral da União                          24                 0.02
Ministério das Mulheres, Igualdade Racial, da      6                 0.00
Controladoria-Geral da União                       1                 0.00

 Las distribución de las repeticiones de los NOMBRE_ÓRGANO_SUPERIOR son:

       count  % repetición
count
40888      1          5.00
36037      1          5.00
14753      1          5.00
6532       1          5.00
6177       1          5.00
5741       1          5.00
5008       1          5.00
4973       1          5.00
4542       1          5.00
4251       1          5.00
4122       1          5.00
4111       1          5.00
3382       1          5.00
646        1          5.00
518        1          5.00
388        1          5.00
248        1          5.00
24         1          5.00
6          1          5.00
1          1          5.00

None
La categoría CÓDIGO_ÓRGANO tiene 255 elementos diferentes:

Los elementos de la categoría son:

array(['63000', '37000', '22201', '22202', '22211', '22000', '44208',
       '22905', '49001', '55001', '55000', '24000', '24901', '20301',
       '20402', '20501', '24209', '20502', '52904', '52911', '52132',
       '52000', '52133', '52131', '52111', '52221', '52121', '52211',
       '31280', '52233', '52222', '30203', '25000', '25201', '25207',
       '37904', '25203', '38901', '37202', '25916', '20924', '25205',
       '28500', '25211', '22500', '61201', '25905', '25904', '20603',
       '20202', '25915', '25901', '30204', '37201', '90000', '33206',
       '25914', '25208', '26443', '26241', '26298', '26243', '26246',
       '26294', '26234', '26236', '26238', '26242', '26263', '26424',
       '26410', '26277', '26412', '26271', '26245', '26426', '26268',
       '26406', '26244', '26411', '26276', '26350', '26421', '26447',
       '26233', '26284', '26442', '26413', '26408', '26441', '26260',
       '26352', '26420', '26250', '26402', '26270', '26255', '26247',
       '26416', '26273', '26254', '26232', '26456', '26448', '26431',
       '26283', '26249', '26434', '26239', '26433', '26419', '26404',
       '26291', '26405', '26439', '26450', '26278', '26258', '26248',
       '26279', '26436', '26440', '26201', '26257', '26262', '26237',
       '26403', '26292', '26407', '26264', '26261', '26275', '26230',
       '26267', '26415', '26274', '26428', '26269', '26285', '26266',
       '26231', '26435', '26418', '26240', '26438', '26423', '26251',
       '26449', '26252', '26256', '26351', '26272', '26282', '26409',
       '26417', '26455', '26432', '26281', '26290', '26429', '26235',
       '26427', '26422', '26280', '26000', '26437', '26253', '26430',
       '26414', '26425', '26286', '62201', '56901', '39250', '39252',
       '29209', '39815', '68201', '39253', '49901', '39000', '62901',
       '39812', '30907', '30912', '30108', '30911', '30211', '30905',
       '30202', '30205', '30000', '30802', '30914', '30913', '81000',
       '36211', '36000', '36213', '36201', '36210', '36212', '41232',
       '41231', '41903', '24216', '20415', '64901', '35201', '35000',
       '32396', '32205', '32314', '29208', '32210', '32000', '20302',
       '20303', '29214', '22203', '53901', '74918', '53203', '22204',
       '53902', '74919', '44205', '53903', '53202', '53000', '53207',
       '74917', '29205', '56902', '20701', '44207', '44206', '44204',
       '44000', '44902', '34902', '54901', '20404', '20203', '20408',
       '42207', '20411', '20604', '54000', '20412', '20403', '20101',
       '20116', '60000', '24208'], dtype=object)

Los 10 CÓDIGO_ÓRGANO que MAS aparecen son:

               count  Porcentaje_recuento
CÓDIGO_ÓRGANO
25000          22686                15.94
52904           4091                 2.87
52132           3930                 2.76
37904           2455                 1.72
20701           2205                 1.55
32396           2031                 1.43
24901           2013                 1.41
34902           1889                 1.33
52911           1881                 1.32
22202           1847                 1.30

Los 10 CÓDIGO_ÓRGANO que MENOS aparecen son:

               count  Porcentaje_recuento
CÓDIGO_ÓRGANO
20402              4                 0.00
22500              3                 0.00
81000              2                 0.00
37000              1                 0.00
25916              1                 0.00
90000              1                 0.00
26456              1                 0.00
39815              1                 0.00
20408              1                 0.00
60000              1                 0.00

 Las distribución de las repeticiones de los CÓDIGO_ÓRGANO son:

       count  % repetición
count
1          7          2.75
33         3          1.18
6          3          1.18
61         2          0.78
55         2          0.78
...      ...           ...
9          1          0.39
5          1          0.39
4          1          0.39
3          1          0.39
2          1          0.39

[219 rows x 2 columns]

None
La categoría NOMBRE_ÓRGANO tiene 254 elementos diferentes:

Los elementos de la categoría son:

array(['Advocacia-Geral da União - Unidades com vínculo direto',
       'Controladoria-Geral da União - Unidades com vínculo direto',
       'Instituto Nacional de Colonização e Reforma Agrária',
       'Empresa Brasileira de Pesquisa Agropecuária',
       'Companhia Nacional de Abastecimento',
       'Ministério da Agricultura, Pecuária e Abastecimento - Unidades com vínculo direto',
       'Serviço Florestal Brasileiro',
       'Fundo de Defesa da Economia Cafeeira',
       'Fundo de Terras e da Reforma Agrária',
       'Fundo Nacional de Assistência Social',
       'Ministério da Cidadania - Unidades com vínculo direto',
       'Ministério da Ciência, Tecnologia, Inovações e Comunicações - Unidades com vínculo direto',
       'Fundo Nacional de Desenvolvimento Científico e Tecnológico',
       'Comissão Nacional de Energia Nuclear',
       'Agência Espacial Brasileira',
       'Conselho Nacional de Desenvolvimento Científico e Tecnológico',
       'Centro Nacional de Tecnologia Eletrônica Avançada S.A.',
       'Financiadora de Estudos e Projetos', 'Fundo do Exército',
       'Fundo Aeronáutico', 'Comando da Marinha - Fundo Naval',
       'Ministério da Defesa - Unidades com vínculo direto',
       'Fundo de Desenvolvimento do Ensino Profissional Marítimo',
       'Comando da Marinha', 'Comando da Aeronáutica',
       'Indústria de Material Bélico do Brasil', 'Comando do Exército',
       'Caixa de Financiamento Imobiliário da Aeronáutica',
       'Caixa de Construções de Casas para o Pessoal da Marinha do Brasil',
       'Amazônia Azul Tecnologia de Defesa S.A.', 'Fundação Osório',
       'Instituto Nacional de Metrologia, Qualidade e Tecnologia',
       'Ministério da Economia - Unidades com vínculo direto',
       'Banco Central do Brasil - Orçamento Fiscal e Seguridade Social',
       'Serviço Federal de Processamento de Dados',
       'Fundo do Regime Geral da Previdência Social',
       'Comissão de Valores Mobiliários',
       'Fundo de Amparo ao Trabalhador',
       'Instituto Nacional do Seguro Social',
       'Fundo Contingente da Extinta RFFSA-FCMP',
       'Fundo Nacional de Desenvolvimento',
       'Fundação Instituto Brasileiro de Geografia e Estatística',
       'Fundo de Garantia para a Promoção da Competitividade',
       'Casa da Moeda do Brasil',
       'Companhia de Entrepostos e Armazéns Gerais de São Paulo',
       'Instituto de Pesquisa Econômica Aplicada',
       'Fundo de Apoio ao Desenvolvimento Social',
       'Fundo de Estabilidade do Seguro Rural',
       'Superintendência da Zona Franca de Manaus',
       'Fundação Escola Nacional de Administração Pública',
       'Fundo Constitucional do Distrito Federal',
       'Fundo de Compensação de Variações Salariais',
       'Instituto Nacional da Propriedade Industrial',
       'Fundação Jorge Duprat Figueiredo, de Segurança e Medicina do Trabalho',
       'Reserva de Contingência',
       'Superintendência Nacional de Previdência Complementar',
       'Fundo de Garantia à Exportação',
       'Superintendência de Seguros Privados',
       'Empresa Brasileira de Serviços Hospitalares',
       'Universidade Federal do Paraná',
       'Fundo Nacional de Desenvolvimento da Educação',
       'Universidade Federal do Rio Grande do Norte',
       'Universidade Federal de Santa Catarina',
       'Hospital de Clínicas de Porto Alegre',
       'Universidade Federal do Espírito Santo',
       'Universidade Federal Fluminense',
       'Universidade Federal de Minas Gerais',
       'Universidade Federal de Pernambuco',
       'Universidade Federal de Lavras', 'Instituto Federal do Tocantins',
       'Instituto Federal do Norte de Minas Gerais',
       'Universidade Federal de Ouro Preto',
       'Instituto Federal do Sul de Minas Gerais',
       'Fundação Universidade de Brasília',
       'Universidade Federal do Rio de Janeiro',
       'Instituto Federal do Amapá',
       'Fundação Universidade Federal de Rondônia',
       'Instituto Federal do Espírito Santo',
       'Universidade Federal do Rio Grande do Sul',
       'Instituto Federal do Sudeste de Minas Gerais',
       'Fundação Universidade Federal do Mato Grosso',
       'Fundação Universidade Federal da Grande Dourados',
       'Instituto Federal de Rondônia',
       'Universidade Federal do Oeste da Bahia',
       'Universidade Federal do Ceará',
       'Fundação Universidade Federal de Ciências da Saúde de Porto Alegre',
       'Universidade da Integração Internacional da Lusofonia Afro-Brasileira',
       'Instituto Federal do Triângulo Mineiro',
       'Instituto Federal do Maranhão',
       'Universidade Federal do Oeste do Pará',
       'Universidade Federal de Alfenas',
       'Fundação Universidade Federal do ABC',
       'Instituto Federal Farroupilha', 'Universidade Federal de Roraima',
       'Instituto Federal de Alagoas',
       'Fundação Universidade do Amazonas',
       'Universidade Federal dos Vales do Jequitinhonha e Mucuri',
       'Universidade Federal de Santa Maria', 'Instituto Federal do Pará',
       'Universidade Federal do Rio Grande',
       'Universidade Federal do Triângulo Mineiro',
       'Universidade Federal da Bahia',
       'UNIVERSIDADE FEDERAL DO AGRESTE DE PERNAMBUCO',
       'Universidade Federal do Sul e Sudeste do Pará',
       'Instituto Federal do Piauí',
       'Fundação Universidade Federal do Mato Grosso do Sul',
       'Universidade Federal Rural do Rio de Janeiro',
       'Instituto Federal Fluminense', 'Universidade Federal do Pará',
       'Instituto Federal do Rio de Janeiro',
       'Instituto Federal do Rio Grande do Sul',
       'Instituto Federal Baiano',
       'Fundação Coordenação de Aperfeiçoamento de Pessoal de Nível Superior',
       'Instituto Federal do Ceará', 'Instituto Federal de São Paulo',
       'Universidade Federal do Sul da Bahia',
       'Fundação Universidade Federal de Pelotas',
       'Universidade Tecnológica Federal do Paraná',
       'Universidade Federal Rural de Pernambuco',
       'Fundação Universidade Federal do Piauí',
       'Instituto Federal Sul-rio-grandense',
       'Universidade Federal da Fronteira Sul', 'Colégio Pedro II',
       'Centro Federal de Educação Tecnológica de Minas Gerais',
       'Universidade Federal de São Paulo',
       'Universidade Federal de Juiz de Fora',
       'Instituto Federal do Amazonas', 'Fundação Joaquim Nabuco',
       'Instituto Federal Goiano',
       'Universidade Federal Rural do Semi-Árido',
       'Universidade Federal de Itajubá',
       'Fundação Universidade Federal do Acre',
       'Fundação Universidade Federal do Vale do São Francisco',
       'Universidade Federal da Integração Latino-Americana',
       'Instituto Federal do Mato Grosso do Sul',
       'Fundação Universidade Federal de Uberlândia',
       'Instituto Federal de Brasília',
       'Universidade Federal do Estado do Rio de Janeiro',
       'Fundação Universidade Federal de São João Del-Rei',
       'Fundação Universidade Federal do Pampa',
       'Universidade Federal de Alagoas',
       'Instituto Federal do Rio Grande do Norte',
       'Instituto Federal de Pernambuco',
       'Universidade Federal da Paraíba',
       'Instituto Federal de Santa Catarina',
       'Instituto Federal de Sergipe',
       'Fundação Universidade Federal do Tocantins',
       'Universidade Federal do Cariri',
       'Universidade Federal de Campina Grande',
       'Centro Federal de Educação Tecnológica Celso Suckow da Fonseca',
       'Universidade Federal do Recôncavo da Bahia',
       'Fundação Universidade do Maranhão',
       'Universidade Federal de Viçosa',
       'Instituto Federal de Minas Gerais',
       'Instituto Federal da Paraíba',
       'UNIVERSIDADE FEDERAL DO DELTA DO PARNAIBA',
       'Instituto Federal do Paraná',
       'Fundação Universidade Federal de Sergipe',
       'Instituto Nacional de Estudos e Pesquisas Educacionais Anísio Teixeira',
       'Instituto Federal de Educação, Ciência e Tecnologia de Goiás',
       'Universidade Federal de Goiás', 'Instituto Federal da Bahia',
       'Instituto Federal Catarinense',
       'Fundação Universidade Federal de São Carlos',
       'Ministério da Educação - Unidades com vínculo direto',
       'Instituto Federal de Roraima',
       'Universidade Federal Rural da Amazônia',
       'Instituto Federal do Sertão de Pernambuco',
       'Instituto Federal do Mato Grosso', 'Instituto Federal do Acre',
       'Fundação Universidade Federal do Amapá',
       'Agência Nacional de Aviação Civil',
       'Fundo Nacional de Segurança e Educação de Trânsito',
       'Agência Nacional de Transportes Terrestres',
       'Departamento Nacional de Infraestrutura de Transportes',
       'VALEC Engenharia, Construções e Ferrovias S.A.',
       'Companhia Docas do Rio Grande do Norte',
       'Agência Nacional de Transportes Aquaviários',
       'Empresa de Planejamento e Logística S.A.',
       'Departamento do Fundo da Marinha Mercante',
       'Ministério da Infraestrutura - Unidades com vínculo direto',
       'Fundo Nacional de Aviação Civil',
       'Companhia Docas do Estado da Bahia',
       'Fundo Penitenciário Nacional', 'Fundo Nacional Antidrogas',
       'Departamento de Polícia Federal',
       'Fundo Nacional de Segurança Pública',
       'Conselho Administrativo de Defesa Econômica',
       'Secretaria Nacional do Consumidor Fundo',
       'Fundação Nacional do Índio',
       'Fundação Nacional do Índio - Patrimônio Indígena',
       'Ministério da Justiça e Segurança Pública - Unidades com vínculo direto',
       'Departamento de Polícia Rodoviária Federal',
       'Fundo Nacional do Idoso',
       'Fundo Nacional para a Criança e o Adolescente',
       'Ministério da Mulher, Família e Direitos Humanos - Unidades com vínculo direto',
       'Fundação Nacional de Saúde',
       'Ministério da Saúde - Unidades com vínculo direto',
       'Agência Nacional de Saúde Suplementar', 'Fundação Oswaldo Cruz',
       'Hospital Nossa Senhora da Conceição S.A.',
       'Agência Nacional de Vigilância Sanitária',
       'Fundo de Universalização dos Serviços de Telecomunicações',
       'Agêncial Nacional de Telecomunicações',
       'Fundo para o Desenvolvimento Tecnológico das Telecomunicações',
       'TELECOMUNICACOES BRASILEIRAS S/A',
       'Empresa Brasil de Comunicação', 'Fundação Alexandre de Gusmão',
       'Ministério das Relações Exteriores - Unidades com vínculo direto',
       'Agência Nacional de Mineração',
       'Agência Nacional do Petróleo, Gás Natural e Biocombustíveis',
       'Empresa de Pesquisa Energética',
       'Companhia de Pesquisa de Recursos Minerais',
       'Agência Nacional de Energia Elétrica',
       'Ministério de Minas e Energia - Unidades com vínculo direto',
       'Nuclebrás Equipamentos Pesados S.A.',
       'Indústrias Nucleares do Brasil',
       'Companhia Brasileira de Trens Urbanos',
       'Companhia de Desenvolvimento dos Vales do São Francisco e do Parnaíba',
       'Fundo Constitucional de Financiamento do Norte',
       'Fundo de Desenvolvimento do Nordeste',
       'Superintendência do Desenvolvimento do Nordeste',
       'Departamento Nacional de Obras Contra as Secas',
       'Fundo Constitucional de Financiamento do Centro-Oeste',
       'Fundo de Desenvolvimento do Centro-Oeste',
       'Agência Nacional de Águas',
       'Fundo Constitucional de Financiamento do Nordeste',
       'Superintendência do Desenvolvimento da Amazônia',
       'Ministério do Desenvolvimento Regional - Unidades com vínculo direto',
       'Superintendência de Desenvolvimento do Centro-Oeste',
       'Fundo de Desenvolvimento da Amazônia',
       'Empresa de Trens Urbanos de Porto Alegre',
       'Fundo Nacional de Habitação de Interesse Social',
       'Instituto Brasileiro do Meio Ambiente e dos Recursos Naturais Renováveis',
       'Instituto Chico Mendes de Conservação da Biodiversidade',
       'Instituto de Pesquisas Jardim Botânico do Rio de Janeiro',
       'Fundo Nacional do Meio Ambiente',
       'Ministério do Meio Ambiente - Unidades com vínculo direto',
       'Fundo Nacional sobre Mudança no Clima',
       'Fundo Nacional de Cultura', 'Fundo Geral de Turismo',
       'Fundação Biblioteca Nacional', 'Agência Nacional do Cinema',
       'Fundação Cultural Palmares', 'Instituto Brasileiro de Museus',
       'Instituto do Patrimônio Histórico e Artístico Nacional',
       'Instituto Brasileiro de Turismo',
       'Ministério do Turismo - Unidades com vínculo direto',
       'Fundação Nacional de Artes', 'Fundação Casa de Rui Barbosa',
       'Presidência da República', 'Fundo de Imprensa Nacional',
       'Gabinete da Vice-Presidência da República',
       'Instituto Nacional de Tecnologia da Informação'], dtype=object)

Los 10 NOMBRE_ÓRGANO que MAS aparecen son:

                                                    count  Porcentaje_recuento
NOMBRE_ÓRGANO
Ministério da Economia - Unidades com vínculo d...  22686                15.94
Fundo do Exército                                    4091                 2.87
Comando da Marinha - Fundo Naval                     3930                 2.76
Fundo do Regime Geral da Previdência Social          2455                 1.72
Instituto Brasileiro do Meio Ambiente e dos Rec...   2205                 1.55
Agência Nacional de Mineração                        2031                 1.43
Fundo Nacional de Desenvolvimento Científico e ...   2013                 1.41
Fundo Nacional de Cultura                            1889                 1.33
Fundo Aeronáutico                                    1881                 1.32
Empresa Brasileira de Pesquisa Agropecuária          1847                 1.30

Los 10 NOMBRE_ÓRGANO que MENOS aparecen son:

                                                    count  Porcentaje_recuento
NOMBRE_ÓRGANO
Agência Espacial Brasileira                             4                 0.00
Companhia de Entrepostos e Armazéns Gerais de S...      3                 0.00
Ministério da Mulher, Família e Direitos Humano...      2                 0.00
Controladoria-Geral da União - Unidades com vín...      1                 0.00
Fundo Contingente da Extinta RFFSA-FCMP                 1                 0.00
Reserva de Contingência                                 1                 0.00
UNIVERSIDADE FEDERAL DO AGRESTE DE PERNAMBUCO           1                 0.00
Companhia Docas do Rio Grande do Norte                  1                 0.00
Fundação Cultural Palmares                              1                 0.00
Gabinete da Vice-Presidência da República               1                 0.00

 Las distribución de las repeticiones de los NOMBRE_ÓRGANO son:

       count  % repetición
count
1          7          2.76
33         3          1.18
61         2          0.79
55         2          0.79
42         2          0.79
...      ...           ...
9          1          0.39
5          1          0.39
4          1          0.39
3          1          0.39
2          1          0.39

[218 rows x 2 columns]

None
La categoría CÓDIGO_UNIDAD_GESTORA tiene 272 elementos diferentes:

Los elementos de la categoría son:

array(['110060', '370001', '373001', '135037', '135100', '130101',
       '440088', '130137', '490003', '330013', '550002', '240102',
       '240901', '113209', '203001', '364001', '364999', '245209',
       '365001', '167086', '121002', '673001', '110407', '873001',
       '211999', '120002', '168002', '773001', '160075', '120999',
       '123001', '773008', '699999', '773009', '164204', '183023',
       '170013', '170010', '173057', '806001', '513001', '173030',
       '380910', '510001', '173065', '201924', '114601', '287001',
       '179083', '225001', '113601', '170380', '170008', '179103',
       '193028', '114702', '170392', '170381', '183038', '264001',
       '390001', '333001', '170356', '173039', '155007', '153079',
       '153173', '153103', '153163', '155001', '153046', '153056',
       '153062', '153080', '153032', '158131', '158121', '154046',
       '158137', '154040', '153115', '158150', '154055', '158151',
       '153114', '158123', '154045', '154502', '158148', '158717',
       '153045', '154032', '158565', '158099', '158128', '158515',
       '153028', '154503', '158127', '154080', '158147', '154039',
       '153036', '153164', '158135', '154042', '153035', '153038',
       '156687', '158718', '158146', '154054', '153166', '158139',
       '153063', '158157', '158141', '158129', '154999', '158133',
       '158154', '158720', '154047', '153019', '153165', '154048',
       '158126', '158517', '153167', '153015', '153031', '153061',
       '158142', '344002', '158124', '153033', '153030', '154044',
       '154421', '158658', '158132', '154043', '154003', '158143',
       '154034', '154069', '154359', '153037', '158155', '158136',
       '153065', '158516', '158274', '158134', '154419', '158719',
       '158195', '153010', '158092', '154041', '154051', '158122',
       '158138', '156680', '158009', '154050', '153978', '158153',
       '153052', '158145', '158125', '154049', '150014', '158152',
       '153034', '158149', '158144', '158156', '154215', '113214',
       '200320', '393001', '393003', '275075', '396005', '682010',
       '395001', '277001', '390002', '110591', '396002', '200333',
       '200246', '200336', '200331', '303001', '200401', '194088',
       '194040', '200094', '200278', '307002', '307001', '810002',
       '255014', '250088', '253003', '255011', '254420', '255000',
       '366003', '255003', '253002', '255008', '255015', '413047',
       '413001', '410007', '242160', '115406', '110244', '244001',
       '240005', '323100', '323030', '325001', '495001', '323028',
       '320002', '113208', '113206', '275068', '195006', '537002',
       '533009', '533014', '113802', '537003', '537004', '443003',
       '537001', '533013', '530002', '533018', '533008', '275060',
       '560015', '193034', '443032', '443019', '193183', '443045',
       '440002', '447001', '193112', '193107', '340002', '540030',
       '187002', '344042', '203003', '344041', '423001', '403101',
       '185001', '540001', '403201', '344001', '110005', '110245',
       '110101', '243001'], dtype=object)

Los 10 CÓDIGO_UNIDAD_GESTORA que MAS aparecen son:

                       count  Porcentaje_recuento
CÓDIGO_UNIDAD_GESTORA
170013                 21074                14.80
167086                  4091                 2.87
673001                  3288                 2.31
513001                  2455                 1.72
193034                  2197                 1.54
323100                  2031                 1.43
240901                  2013                 1.41
121002                  1881                 1.32
135037                  1847                 1.30
183023                  1817                 1.28

Los 10 CÓDIGO_UNIDAD_GESTORA que MENOS aparecen son:

                       count  Porcentaje_recuento
CÓDIGO_UNIDAD_GESTORA
370001                     1                 0.00
158274                     1                 0.00
390001                     1                 0.00
396005                     1                 0.00
255015                     1                 0.00
255008                     1                 0.00
255011                     1                 0.00
255014                     1                 0.00
255003                     1                 0.00
173065                     1                 0.00

 Las distribución de las repeticiones de los CÓDIGO_UNIDAD_GESTORA son:

       count  % repetición
count
1         13          4.78
195        3          1.10
6          3          1.10
168        3          1.10
33         3          1.10
...      ...           ...
24         1          0.37
5          1          0.37
9          1          0.37
11         1          0.37
3          1          0.37

[227 rows x 2 columns]

None
La categoría NOMBRE_UNIDAD_GESTORA tiene 270 elementos diferentes:

Los elementos de la categoría son:

array(['COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU',
       'DIRETORIA DE GESTAO INTERNA(CGU)',
       'DPTO. DE ADMINISTRACAO FINANCEIRA-DAF - INCRA',
       'EMBRAPA-SETORIAL', 'COMPANHIA NACIONAL DE ABASTECIMENTO',
       'COORD.-GERAL DE ORCAMENTO E FINANCAS-MAPA',
       'SETORIAL PROG.ORCAMENTARIA E FINANCEIRA-SFB',
       'FUNDO DE DEFESA DA ECON.CAFEEIRA/FUNCAFE/SPA',
       'CREDITO FUNDIARIO', 'FUNDO NACIONAL DE ASSISTENCIA SOCIAL',
       'SETORIAL DE ORCAMENTO E FINANCAS/MC',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS',
       'FUNDO NAC.DE DESENV. CIENT. E TECNOLOGICO',
       'CNEN-ORCAMENTO E FINANCAS', 'AGENCIA ESPACIAL BRASILEIRA/AEB',
       'CNPQ - ADMINISTRACAO CENTRAL', 'CNPQ - DIFERENCIA CAMBIAL',
       'CENTRO NACIONAL DE TECNOLOGIA ELETRONICA AVAN',
       'FINANCIADORA DE ESTUDOS E PROJETOS', 'FUNDO DO EXERCITO',
       'SECRETARIA DE ECON. E FIN.DA AER.- F.AER.',
       'DIRETORIA DE FINANCAS-SISTEMA PARA O PAIS/MM',
       'DEPARTAMENTO DE PLANEJ, ORC E FINANCAS (MD)',
       'MARINHA - DIFERENCA CAMBIAL',
       'DIRETORIA DE ECON E FINANCAS DA AERONAUTICA',
       'INDUSTRIA DE MATERIAL BELICO DO BRASIL/GESTOR',
       'DIRETORIA DE FINANCAS DA MARINHA-SISTEMA-PAIS',
       'D CONT - SETORIAL FINANCEIRA', 'MAER - DIFERENCA CAMBIAL',
       'CAIXA FINANCIAMENTO IMOBILIARIO AERONAUTICA',
       'DIRETORIA DE FINANCAS DA MARINHA - CCCPM',
       'FUNDO NAVAL - DIFERENCA CAMBIAL',
       'DIRETORIA DE FINANCAS DA MARINHA - AMAZUL', 'FUNDACAO OSORIO',
       'INSTITUTO NAC.DE METROLOG. QUALID. E TECNOLOG',
       'SETORIAL ORCAMENTARIA E FINANCEIRA / ME',
       'SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB',
       'BANCO CENTRAL DO BRASIL', 'SERPRO-SEDE - DEPARTAMENTO FINANCEIRO',
       'COORDENACAO DE ORCAMENTO E FINANCAS DO FRGPS',
       'COMISSAO DE VALORES MOBILIARIOS',
       'COORD-GERAL DE ORCAMENTO, FIN. E CONT.- CGOFC',
       'COORD.GERAL DE ORCAMENTO, FINANCAS E CONTAB.',
       'FUNDO CONTINGENTE DA EXTINTA RFFSA-FC',
       'FUNDO NACIONAL DE DESENVOLVIMENTO',
       'FUNDACAO IBGE-ADMINISTRACAO CENTRAL/RJ',
       'FUNDO DE GAR.P/PROMOC.DA COMPETITIVIDADE±FGPC',
       'CASA DA MOEDA DO BRASIL',
       'CIA.DE ENTREPOSTOS E ARMAZENS GER.DE S.PAULO',
       'INSTITUTO DE PESQUISA ECONOMICA APLICADA',
       'FUNDO DE APOIO AO DESENVOLVIMENTO SOCIAL',
       'PROCURADORIA GERAL DA FAZENDA NACIONAL',
       'FUNDO DE ESTABILIDADE DO SEGURO RURAL',
       'SUPERINTENDENCIA DA ZONA FRANCA DE MANAUS/AM',
       'FUNDACAO ESCOLA NACIONAL DE ADM. PUBLICA',
       'FUNDO CONSTITUCIONAL DO DISTRITO FEDERAL',
       'FUNDO DE COMPENSACAO E VARIACAO SALARIAL',
       'INSTITUTO NACIONAL DA PROPRIEDADE INDUSTRIAL',
       'FUNDACENTRO - FUND.JORGE DUPRAT/CTN/SEDE - SP',
       'RESERVA DE CONTINGENCIA/MEFP',
       'COORD.GERAL DE ORC. FIN. E CONTABILIDADE',
       'FUNDO DE GARANTIA A EXPORTACAO-BNDES',
       'SUPERINTENDENCIA DE SEGUROS PRIVADOS - RJ',
       'EMPRESA BRASILEIRA DE SERVICOS HOSPITALARES',
       'UNIVERSIDADE FEDERAL DO PARANA',
       'FUNDO NACIONAL DE DESENVOLVIMENTO DA EDUCACAO',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE DO NORTE',
       'UNIVERSIDADE FEDERAL DE SANTA CATARINA',
       'HOSPITAL DE CLINICAS DE PORTO ALEGRE',
       'UNIVERSIDADE FEDERAL DO ESPIRITO SANTO',
       'UNIVERSIDADE FEDERAL FLUMINENSE',
       'UNIVERSIDADE FEDERAL DE MINAS GERAIS',
       'UNIVERSIDADE FEDERAL DE PERNAMBUCO',
       'UNIVERSIDADE FEDERAL DE LAVRAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO TOCANTINS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO NORTE DE MG',
       'UNIVERSIDADE FEDERAL DE OURO PRETO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO SUL DE MG',
       'FUNDACAO UNIVERSIDADE DE BRASILIA - FUB',
       'UNIVERSIDADE FEDERAL DO RIO DE JANEIRO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO AMAPA',
       'FUNDACAO UNIVERSIDADE FEDERAL DE RONDONIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO ESP.SANTO',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE DO SUL',
       'INSTITUTO FED CIENCIA TECNOL SUDESTE MG',
       'FUNDACAO UNIVERSIDADE FEDERAL DE MATO GROSSO',
       'FUNDACAO UNIVERSIDADE FED. DA GRANDE DOURADOS',
       'INST. FED. DE EDUC.,CIENC. E TEC. DE RONDONIA',
       'UNIVERSIDADE FEDERAL DO OESTE DA BAHIA',
       'UNIVERSIDADE FEDERAL DO CEARA',
       'FUND.UNIV.FED.DE.CIENC.DA SAUDE DE P.ALEGRE',
       'UNIV.DA INTEG.INTERN.DA LUSOF.AFRO-BRASILEIRA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO TRIA.MINEIRO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MARANHAO',
       'UNIVERSIDADE FEDERAL DO OESTE DO PARA',
       'UNIVERSIDADE FEDERAL DE ALFENAS',
       'FUNDACAO UNIVERSIDADE FEDERAL DO ABC',
       'INST.FED.DE EDUC.,CIENC.E TEC.FARROUPILHA',
       'UNIVERSIDADE FEDERAL DE RORAIMA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE ALAGOAS',
       'FUNDACAO UNIVERSIDADE DO AMAZONAS',
       'UNIVERSIDADE FED.VALES JEQUITINHONHA E MUCURI',
       'UNIVERSIDADE FEDERAL DE SANTA MARIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO PARA',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE - FURG',
       'UNIVERSIDADE FEDERAL DO TRIANGULO MINEIRO',
       'UNIVERSIDADE FEDERAL DA BAHIA',
       'UNIVERSIDADE FEDERAL DO AGRESTE DE PERNAMBUCO',
       'UNIVERSIDADE FEDERAL DO SUL E SUDESTE DO PARA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO PIAUI',
       'FUNDACAO UNIVERS.FED. DE MATO GROSSO DO SUL',
       'UNIVERSIDADE FEDERAL RURAL DO RIO DE JANEIRO',
       'INST.FED.DE EDUC.,CIENC.E TEC.FLUMINENSE',
       'UNIVERSIDADE FEDERAL DO PARA', 'REITORIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO RS',
       'INST FED DE EDUC CIENC E TECNOLOGIA BAIANO',
       'CAPES - DIFERENCA CAMBIAL',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO CEARA',
       'INSTITUTO FEDERAL DE SAO PAULO',
       'UNIVERSIDADE FEDERAL DO SUL DA BAHIA',
       'FUNDACAO UNIVERSIDADE FEDERAL DE PELOTAS',
       'UNIVERSIDADE TECNOLOGICA FEDERAL DO PARANA',
       'UNIVERSIDADE FEDERAL RURAL DE PERNAMBUCO',
       'FUNDACAO UNIVERSIDADE FEDERAL DO PIAUI',
       'INST.FED.DE EDUC.,CIE.E TEC.SUL-RIO-GRANDENSE',
       'UNIVERSIDADE FEDERAL DA FRONTEIRA SUL', 'COLEGIO PEDRO II',
       'CENTRO FEDERAL DE EDUCACAO TECNOLOGICA DE MG',
       'UNIFESP-UNIVERSIDADE FEDERAL DE SAO PAULO',
       'UNIVERSIDADE FEDERAL DE JUIZ DE FORA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO AMAZONAS',
       'FUNDACAO JOAQUIM NABUCO', 'IF GOIANO',
       'UNIVERSIDADE FEDERAL RURAL DO SEMI-ARIDO - RN',
       'UNIVERSIDADE FEDERAL DE ITAJUBA',
       'FUNDACAO UNIVERSIDADE FEDERAL DO ACRE',
       'FUND. UNIVERSIDADE FEDERAL VALE SAO FRANCISCO',
       'UNIV. FEDERAL DA INTEGRACAO LATINO-AMERICANA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MAT.G.DO SUL',
       'FUNDACAO UNIVERSIDADE FEDERAL DE UBERLANDIA',
       'FUND.COORD.DE APERF.DE PESSOAL NIVEL SUPERIOR',
       'IFB - REITORIA - BRASILIA-DF',
       'UNIRIO UNIVERSIDADE FEDERAL DO ESTADO RJ',
       'FUNDACAO UNIVERSIDADE FEDERAL DE S.J.DEL-REI',
       'FUNDACAO UNIVERSIDADE FEDERAL DO PAMPA',
       'UNIVERSIDADE FEDERAL DE ALAGOAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO RN',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE PERNAMBUCO',
       'UNIVERSIDADE FEDERAL DA PARAIBA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE STA.CAT/IFSC',
       'INST.FED. FLUMINENSE/CAMPUS CAMPOS-CENTRO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE SERGIPE',
       'FUNDACAO UNIVERSIDADE FEDERAL DO TOCANTINS',
       'UNIVERSIDADE FEDERAL DO CARIRI',
       'UNIVERSIDADE FEDERAL DE CAMPINA GRANDE',
       'CENTRO FED.DE EDUC.TECNOL.CELSO S.DA FONSECA',
       'UNIVERSIDADE FEDERAL DO RECONCAVO DA BAHIA',
       'FUNDACAO UNIVERSIDADE DO MARANHAO',
       'UNIVERSIDADE FEDERAL DE VICOSA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE MINAS GERAIS', 'IFPB - REITORIA',
       'UNIVERSIDADE FEDERAL DO DELTA DO PARNAIBA',
       'INST. FED. DO PARANA/ REITORIA',
       'FUNDACAO UNIVERSIDADE FEDERAL DE SERGIPE',
       'INST.NACIONAL DE EST.E PESQUISAS EDUCACIONAIS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE GOIAS',
       'UNIVERSIDADE FEDERAL DE GOIAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DA BAHIA',
       'INSTITUTO FEDERAL CATARINENSE - REITORIA',
       'FUNDACAO UNIVERSIDADE FEDERAL DE SAO CARLOS',
       'SUBSECRETARIA DE PLANEJ. E ORCAMENTO SPO(MEC)',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE RORAIMA',
       'UNIVERSIDADE FEDERAL RURAL DA AMAZONIA',
       'INST.FED.DE ED.,CIENC.E TEC.DO S.PERNAMBUCANO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MATO GROSSO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO ACRE',
       'FUNDACAO UNIVERSIDADE FEDERAL DO AMAPA',
       'AGENCIA NACIONAL DE AVIACAO CIVIL',
       'FUNDO NACIONAL DE SEG. E EDUCACAO DE TRANSITO',
       'AGENCIA NACIONAL DE TRANSPORTES TERRESTRES',
       'DEPART.NAC.INFRA ESTRUTURA TRANSPORTES.',
       'VALEC ENGENHARIA CONSTRUCOES E FERROVIAS S/A.',
       'COMPANHIA DOCA DO RIO GRANDE DO NORTE',
       'AGENCIA NACIONAL DE TRANSPORTES AQUAVIARIOS',
       'EMPRESA DE PLANEJAMENTO E LOGISTICA S.A - EPL',
       'FUNDO DA MARINHA MERCANTE',
       'SUBSECRETARIA DE PLAN.,ORCAM.E ADMIN.SETORIAL',
       'FUNDO NACIONAL DE AVIACAO CIVIL',
       'COMPANHIA DOCAS DO ESTADO DA BAHIA',
       'DEPEN - DIRETORIA EXECUTIVA', 'FUNDO NACIONAL ANTIDROGAS',
       'COORDENACAO DE ORCAMENTO FINANCAS CONTABILIDA',
       'FUNDO NACIONAL DE SEGURANCA PUBLICA - FNSP',
       'CONSELHO ADMINISTRATIVO DE DEFESA ECONOMICA',
       'FUNDO DE DEFESA DOS DIREITOS DIFUSOS',
       'FUNDACAO NACIONAL DO INDIO - U.O.',
       'RENDA DO PATRIMONIO INDIGENA',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS-MJ',
       'COORDENACAO DE ORCAMENTO E FINANCAS - PRF',
       'FUNDO NACIONAL DO IDOSO',
       'FUNDO NACIONAL PARA A CRIANCA E O ADOLESCENTE',
       'SETORIAL ORCAMENTARIA E FINANCEIRA - MDH',
       'FUNDACAO NACIONAL DE SAUDE - PA',
       'SPO-COORD.-GERAL DE ORC.E FINANCAS/MS',
       'AGENCIA NACIONAL DE SAUDE SUPLEMENTAR',
       'FUNDACAO NACIONAL DE SAUDE - MT', 'FUNDACAO OSWALDO CRUZ',
       'FUNDACAO NACIONAL DE SAUDE - DF',
       'HOSPITAL NOSSA SENHORA DA CONCEICAO S/A',
       'FUNDACAO NACIONAL DE SAUDE - AP',
       'AGENCIA NACIONAL DE VIGILANCIA SANITARIA',
       'FUNDACAO NACIONAL DE SAUDE - ES',
       'FUNDACAO NACIONAL DE SAUDE - PB',
       'FUNDO DE UNIVERS.DOS SERV.TELECOMUNICACOES',
       'AGENCIA NACIONAL DE TELECOMUNICACOES-SEDE',
       'FUNDO P/O DESENV.TECNOL.DAS TELECOMUNICACOES',
       'TELECOMUNICACOES BRASILEIRAS S/A',
       'EMPRESA BRASIL DE COMUNICACAO S.A',
       'FUNDACAO ALEXANDRE DE GUSMAO',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS-MRE',
       'SETORIAL ORCAMENTARIA E FINANCEIRA - ANM',
       'AG. NAC.DO PETROLEO GAS NAT.E BIOCOM',
       'EMPRESA DE PESQUISA ENERGETICA',
       'COMPANHIA DE PESQUISA DE RECURSOS MINERAIS',
       'AGENCIA NACIONAL DE ENERGIA ELETRICA',
       'COORD.GERAL DE ORCAM.E FIN./M.M.E',
       'NUCLEBRAS EQUIPAMENTOS PESADOS S/A-NUCLEP',
       'INDUSTRIAS NUCLEARES DO BRASIL S/A - INB',
       'CIA BRASILEIRA DE TRENS URBANOS-ADM.CENTRAL',
       'CIA DE DES.DOS VALES DO S.FRANC.E DO PARNAIBA',
       'FUNDO CONSTITUCIONAL FINANCIAMENTO NORTE',
       'FUNDO DE DESENVOLVIMENTO DO NORDESTE',
       'SUPERINTENDENCIA DO DESENVOLV. DO NORDESTE',
       'DEPARTAMENTO NAC. DE OBRAS CONTRA AS SECAS/UO',
       'FUNDO CONSTITUCIONL DO CENTRO OESTE',
       'FUNDO DE DESENVOLVIMENTO DO CENTRO-OESTE',
       'COORDENACAO DE ORCAMENTO E FINANCAS.',
       'FUNDO CONSTITUCIONAL DE FINANCIAM.DO NORDESTE',
       'SUPERINTEND. DO DESENVOLVIMENTO DA AMAZONIA',
       'ORCAMENTO E FINANCAS/MDR',
       'SUPERINT. DO DESENVOLVIMENTO DO CENTRO-OESTE',
       'FUNDO DE DESENVOLVIMENTO DA AMAZONIA',
       'EMPRESA DE TRENS URBANOS DE PORTO ALEGRE S/A',
       'FUNDO NACIONAL DE HABIT. DE INTERESSE SOCIAL',
       'IBAMA - INST.BRASILEIRO MEIO AMBIENTE/MATRIZ',
       'INST.CHICO MENDES DE CONSER.DA BIODIVERSIDADE',
       'COORD. DE PLAN. ORCAMENTO E FIN./COPLAN/JBRJ',
       'IBAMA - SUPERINTENDENCIA DO TOCANTINS/TO',
       'SETORIAL ORCAMENTARIA E FINANCEIRA DO FNMA',
       'SUBSECRET.PLANEJAM.ORCAM.E ADMINIST±SPOA(MMA)',
       'SETORIAL ORCAMENTARIA E FINANCEIRA DO FNMC',
       'IBAMA - SUPERINTENDENCIA MATO GROSSO SUL/MS',
       'IBAMA - SUPERINTENDENCIA DO ESPIRITO SANTO/ES',
       'COORD.GERAL DE PLAN. ORC. FIN. E CONTAB/FNC',
       'FUNDO NACIONAL DA CULTURA - FNC',
       'FUNDO GERAL DE TURISMO-FUNGETUR', 'FUNDACAO BIBLIOTECA NACIONAL',
       'AGENCIA NACIONAL DO CINEMA', 'FUNDACAO CULTURAL PALMARES',
       'INSTITUTO BRASILEIRO DE MUSEUS - IBRAM',
       'INSTITUTO DO PATRIMONIO HIST. E ART. NACIONAL',
       'INSTITUTO BRASILEIRO DE TURISMO - EM EXTINCAO',
       'CGOFC - SETORIAL/MTUR', 'FUNDACAO NACIONAL DE ARTES',
       'FUNDACAO CASA DE RUI BARBOSA',
       'SECRETARIA DE ADMINISTRACAO-SET.ORC.E FIN./PR',
       'FUNDO DE IMPRENSA NACIONAL/EXEC.ORC.FINANC.',
       'GABINETE DA VICE-PRESIDENCIA DA REPUBLICA',
       'INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI'], dtype=object)

Los 10 NOMBRE_UNIDAD_GESTORA que MAS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_UNIDAD_GESTORA
SETORIAL ORCAMENTARIA E FINANCEIRA / ME        21074                14.80
FUNDO DO EXERCITO                               4091                 2.87
DIRETORIA DE FINANCAS-SISTEMA PARA O PAIS/MM    4047                 2.84
COORDENACAO DE ORCAMENTO E FINANCAS DO FRGPS    2455                 1.72
IBAMA - INST.BRASILEIRO MEIO AMBIENTE/MATRIZ    2197                 1.54
SETORIAL ORCAMENTARIA E FINANCEIRA - ANM        2031                 1.43
FUNDO NAC.DE DESENV. CIENT. E TECNOLOGICO       2013                 1.41
SECRETARIA DE ECON. E FIN.DA AER.- F.AER.       1881                 1.32
EMBRAPA-SETORIAL                                1847                 1.30
INSTITUTO NAC.DE METROLOG. QUALID. E TECNOLOG   1817                 1.28

Los 10 NOMBRE_UNIDAD_GESTORA que MENOS aparecen son:

                                           count  Porcentaje_recuento
NOMBRE_UNIDAD_GESTORA
FUNDACAO NACIONAL DE SAUDE - PA                1                 0.00
FUNDACAO NACIONAL DE SAUDE - MT                1                 0.00
FUNDACAO NACIONAL DE SAUDE - PB                1                 0.00
FUNDACAO NACIONAL DE SAUDE - ES                1                 0.00
FUNDACAO NACIONAL DE SAUDE - AP                1                 0.00
FUNDO CONTINGENTE DA EXTINTA RFFSA-FC          1                 0.00
RESERVA DE CONTINGENCIA/MEFP                   1                 0.00
FUNDACAO CULTURAL PALMARES                     1                 0.00
DIRETORIA DE GESTAO INTERNA(CGU)               1                 0.00
GABINETE DA VICE-PRESIDENCIA DA REPUBLICA      1                 0.00

 Las distribución de las repeticiones de los NOMBRE_UNIDAD_GESTORA son:

       count  % repetición
count
1         13          4.81
168        3          1.11
33         3          1.11
195        3          1.11
2          3          1.11
...      ...           ...
24         1          0.37
5          1          0.37
9          1          0.37
11         1          0.37
3          1          0.37

[225 rows x 2 columns]

None
La categoría CATEGORÍA_ECONÓMICA tiene 5 elementos diferentes:

Los elementos de la categoría son:

array(['Receitas Correntes', 'Receitas de Capital',
       'Receitas Correntes - intra-orçamentárias',
       'Receitas de Capital - intra-orçamentárias', 'Sem informação'],
      dtype=object)

Los 10 CATEGORÍA_ECONÓMICA que MAS aparecen son:

                                            count  Porcentaje_recuento
CATEGORÍA_ECONÓMICA
Receitas Correntes                         135172                94.96
Receitas de Capital                          4725                 3.32
Receitas Correntes - intra-orçamentárias     2416                 1.70
Sem informação                                 19                 0.01
Receitas de Capital - intra-orçamentárias      16                 0.01

Los 10 CATEGORÍA_ECONÓMICA que MENOS aparecen son:

                                            count  Porcentaje_recuento
CATEGORÍA_ECONÓMICA
Receitas Correntes                         135172                94.96
Receitas de Capital                          4725                 3.32
Receitas Correntes - intra-orçamentárias     2416                 1.70
Sem informação                                 19                 0.01
Receitas de Capital - intra-orçamentárias      16                 0.01

 Las distribución de las repeticiones de los CATEGORÍA_ECONÓMICA son:

        count  % repetición
count
135172      1         20.00
4725        1         20.00
2416        1         20.00
19          1         20.00
16          1         20.00

None
La categoría ORIGEN_INGRESO tiene 15 elementos diferentes:

Los elementos de la categoría son:

array(['Outras Receitas Correntes', 'Operações de Crédito',
       'Contribuições', 'Receita Patrimonial',
       'Impostos, Taxas e Contribuições de Melhoria',
       'Receita Industrial', 'Alienação de Bens', 'Receita de Serviços',
       'Transferências Correntes', 'Receita Agropecuária',
       'Transferências de Capital', 'Amortizações de Empréstimos',
       'Receitas Correntes - a classificar', 'Outras Receitas de Capital',
       'Sem informação'], dtype=object)

Los 10 ORIGEN_INGRESO que MAS aparecen son:

                                             count  Porcentaje_recuento
ORIGEN_INGRESO
Outras Receitas Correntes                    42127                29.59
Receita de Serviços                          39480                27.73
Receita Patrimonial                          23763                16.69
Impostos, Taxas e Contribuições de Melhoria  13670                 9.60
Contribuições                                13027                 9.15
Receita Industrial                            2551                 1.79
Receita Agropecuária                          1875                 1.32
Amortizações de Empréstimos                   1840                 1.29
Alienação de Bens                             1709                 1.20
Operações de Crédito                           990                 0.70

Los 10 ORIGEN_INGRESO que MENOS aparecen son:

                                    count  Porcentaje_recuento
ORIGEN_INGRESO
Receita Industrial                   2551                 1.79
Receita Agropecuária                 1875                 1.32
Amortizações de Empréstimos          1840                 1.29
Alienação de Bens                    1709                 1.20
Operações de Crédito                  990                 0.70
Transferências Correntes              830                 0.58
Receitas Correntes - a classificar    265                 0.19
Outras Receitas de Capital            174                 0.12
Transferências de Capital              28                 0.02
Sem informação                         19                 0.01

 Las distribución de las repeticiones de los ORIGEN_INGRESO son:

       count  % repetición
count
42127      1          6.67
39480      1          6.67
23763      1          6.67
13670      1          6.67
13027      1          6.67
2551       1          6.67
1875       1          6.67
1840       1          6.67
1709       1          6.67
990        1          6.67
830        1          6.67
265        1          6.67
174        1          6.67
28         1          6.67
19         1          6.67

None
La categoría TIPO_INGRESO tiene 45 elementos diferentes:

Los elementos de la categoría son:

array(['Indenizações, restituições e ressarcimentos',
       'Operações de crédito - mercado interno', 'Contribuições sociais',
       'Demais receitas correntes', 'Valores Mobiliários', 'Taxas',
       'Exploração do patrimônio imobiliário do Estad',
       'Receita Industrial', 'Alienação de bens móveis',
       'Multas administrativas, contratuais e judicia', 'Outros serviços',
       'Exploração de recursos naturais', 'Transferências de Convênios',
       'Serviços Administrativos e Comerciais Gerais',
       'Operações de crédito - mercado externo',
       'Transferências de Instituições Privadas',
       'Alienação de bens imóveis', 'Receita Agropecuária',
       'Contribuições econômicas',
       'Transferências dos Estados e do Distrito Fede',
       'Amortizações de Empréstimos', 'Serviços e Atividades Financeiras',
       'Receitas Correntes - a classificar',
       'Indenizações e restituições',
       'Transferências da União e de suas Entidades',
       'Bens, Direitos e Valores Incorporados ao Patr',
       'Transferências Provenientes de Depósito Não I',
       'Demais receitas patrimoniais',
       'Delegação de Serviços Públicos Mediante Conce',
       'Receita de concessões e permissões',
       'Exploração do patrimônio intangível',
       'Serviços e Atividades Referentes à Saúde', 'Cessão de direitos',
       'Serviços e Atividades Referentes à Navegação ',
       'Transferências dos Municípios e de suas Entid',
       'Transferências de Pessoas Físicas', 'Impostos',
       'Remuneração das Disponibilidades do Tesouro', 'Sem informação',
       'Transferências do Exterior',
       'Contribuições para Entidades Privadas de Serv',
       'Resultado do Banco Central do Brasil',
       'Transferências de Outras Instituições Pública',
       'Alienação de bens intangíveis', 'Resgate de Títulos do Tesouro'],
      dtype=object)

Los 10 TIPO_INGRESO que MAS aparecen son:

                                               count  Porcentaje_recuento
TIPO_INGRESO
Serviços Administrativos e Comerciais Gerais   33271                23.37
Multas administrativas, contratuais e judicia  16656                11.70
Indenizações, restituições e ressarcimentos    16587                11.65
Exploração do patrimônio imobiliário do Estad  11443                 8.04
Taxas                                          11068                 7.78
Demais receitas correntes                       7479                 5.25
Contribuições sociais                           6727                 4.73
Contribuições econômicas                        6285                 4.42
Valores Mobiliários                             5376                 3.78
Exploração de recursos naturais                 3847                 2.70

Los 10 TIPO_INGRESO que MENOS aparecen son:

                                               count  Porcentaje_recuento
TIPO_INGRESO
Transferências da União e de suas Entidades       35                 0.02
Sem informação                                    19                 0.01
Contribuições para Entidades Privadas de Serv     15                 0.01
Alienação de bens intangíveis                     11                 0.01
Transferências de Convênios                        8                 0.01
Exploração do patrimônio intangível                7                 0.00
Transferências do Exterior                         4                 0.00
Resultado do Banco Central do Brasil               2                 0.00
Resgate de Títulos do Tesouro                      2                 0.00
Transferências de Outras Instituições Pública      1                 0.00

 Las distribución de las repeticiones de los TIPO_INGRESO son:

       count  % repetición
count
2          2          4.44
33271      1          2.22
16587      1          2.22
16656      1          2.22
11068      1          2.22
7479       1          2.22
6727       1          2.22
6285       1          2.22
5376       1          2.22
3847       1          2.22
2602       1          2.22
11443      1          2.22
2551       1          2.22
2392       1          2.22
1875       1          2.22
2262       1          2.22
1438       1          2.22
1325       1          2.22
1232       1          2.22
1840       1          2.22
1189       1          2.22
594        1          2.22
466        1          2.22
450        1          2.22
396        1          2.22
317        1          2.22
265        1          2.22
1190       1          2.22
242        1          2.22
180        1          2.22
170        1          2.22
175        1          2.22
80         1          2.22
78         1          2.22
61         1          2.22
135        1          2.22
35         1          2.22
19         1          2.22
11         1          2.22
15         1          2.22
8          1          2.22
7          1          2.22
4          1          2.22
1          1          2.22

None
La categoría DETALLE tiene 625 elementos diferentes:

Los elementos de la categoría son:

array(['RESTITUIÇÃO DE CONVÊNIOS-PRIMÁRIAS-DÍV.ATIVA',
       'TITULOS DE RESPONS.TES.NAC.-MERC.INT.-PRINC.',
       'CONTRIBUIÇÃO INDUSTRIAL RURAL-DIVIDA ATIVA',
       'OUTRAS RECEITAS-PRIMARIAS-PRINCIPAL',
       'OUTRAS RECEITAS-PRIMARIAS-MULTAS E JUROS',
       'REMUNERACAO DE DEPOSITOS BANCARIOS-PRINCIPAL',
       'TAXAS INSPEÇÃO,CONTROLE E FISCALIZAÇÃO-PRINC.',
       'ALUGUÉIS E ARRENDAMENTOS-PRINCIPAL-INTRA',
       'OUTROS RESSARCIMENTOS-PRINCIPAL', 'OUTRAS INDENIZACOES-PRINCIPAL',
       'OUTRAS RESTITUICOES-MULTAS E JUROS',
       'CONTRIBUIÇÃO INDUSTRIAL RURAL-PRINCIPAL',
       'TITULOS DA DIVIDA AGRARIA-TDA-PRINCIPAL',
       'RECEITA INDUSTRIAL-PRINCIPAL',
       'OUTRAS RECEITAS-PRIMÁRIAS-PRINCIPAL-INTRA',
       'ALIENACAO DE BENS MOVEIS E SEMOVENTES-PRINC.',
       'OUTROS RESSARCIMENTOS-MULTAS E JUROS',
       'MULTAS E JUROS PREVISTOS EM CONTRATOS-MUL.JUR',
       'OUTROS SERVICOS-PRINCIPAL',
       'CONCESSAO FLOREST.NACIONAIS-DEM.VAL.-MUL.JUR.',
       'CONCESSAO FLORESTAS NACIONAIS-DEM.VAL.-PRINC.',
       'CONCESSAO FLORESTAS NACIONAIS-VAL.MIN.-PRINC.',
       'CONCESSAO FLOREST.NACIONAIS-VAL.MIN.-MUL.JUR.',
       'TRANSFERENCIAS DO EXTERIOR-PRINCIPAL',
       'SERVICOS DE INFORMACAO E TECNOLOGIA-PRINCIPAL',
       'OP.DE CREDITO CONTRATUAIS-MERC.EXTERNO-PRINC.',
       'SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.',
       'TRANSFERENCIAS DE INSTITUICOES PRIVADAS-PRINC',
       'ALIENACAO DE BENS IMOVEIS-MULTAS', 'DIVIDENDOS-PRINCIPAL',
       'CONTRIBUIÇÃO INDUSTRIAL RURAL-PARCEL.-PRINC.',
       'TX.CONTR.E FISC.PESCA E AQUICULTURA-MUL.JUR.',
       'RECEITA AGROPECUÁRIA-MULTAS E JUROS',
       'ALIENAÇÃO DE BENS IMÓVEIS-JUROS',
       'ALIENACAO DE ESTOQUES DA PGPM-PRINCIPAL',
       'ALUGUEIS E ARRENDAMENTOS-MULTAS E JUROS',
       'TAXAS INSPEÇÃO,CONTROLE E FISCALIZ.-MUL.JUR.',
       'CONTR.S/APOSTAS EM COMPETIÇÕES HÍPICAS-PRINC.',
       'ADICIONAL À CONTR.PREVIDENCIÁRIA RURAL-PRINC.',
       'CONTRIBUIÇÃO INDUSTRIAL RURAL-MULTAS E JUROS',
       'MULTAS PREVISTAS EM LEGISL.ESPECIFICA-MUL.JUR',
       'SERV.DE REGIST.,CERTIF.E FISCALIZ.-PRINCIPAL',
       'OUTRAS RESTITUICOES-PRINCIPAL',
       'SERV.DE REGIST.,CERTIF.E FISCALIZ.-MUL.JUR.',
       'ALUGUEIS E ARRENDAMENTOS-PRINCIPAL',
       'ALIENACAO DE TITULOS MOBILIARIOS-PRINCIPAL',
       'TX.CONTR.E FISC.PESCA E AQUICULTURA-PRINC.',
       'TRANSF.DOS ESTADOS,DF E SUAS ENTIDADES-PRINC.',
       'SERV.ADMINISTRAT.E COMERCIAIS GERAIS-MUL.JUR.',
       'INDENIZ.P/DANOS CAUSADOS AO PATR.PUB.-PRINC.',
       'AMORTIZACAO DE EMPRESTIMOS CONTRATUAIS-PRINC.',
       'MULTAS E JUROS PREVISTOS EM CONTRATOS-PRINC.',
       'CONTRIBUIÇÃO INDUSTRIAL RURAL-DIV.AT-MUL.JUR.',
       'RETORNO DE OP.,JUR.E ENC.FINANCEIROS-PRINC.',
       'ALIENACAO DE ESTOQUES DE CAFE-FUNCAFE-DIV.AT.',
       'OUTRAS RECEITAS-FINANCEIRAS-DIVIDA ATIVA',
       'OUTRAS RECEITAS-PRIMARIAS-DIV.ATIVA-MUL.JUR.',
       'ALIENACAO DE ESTOQUES DE CAFE-FUNCAFE-PRINC.',
       'AMORTIZACAO DE FINANCIAMENTOS-PRINCIPAL',
       'MULTAS PREVISTAS EM LEGISL.ESPECIFICA-PRINC.',
       'RECEITA AGROPECUÁRIA-PRINCIPAL',
       'REST.DESPESAS EXERC.ANT.FIN.FTE.PRIM.-PRINC.',
       'CONTR.S/APOSTAS COMPET.HIPICAS-DIV.AT-MUL.JUR',
       'ALIENAÇÃO DE BENS IMÓVEIS-PRINCIPAL',
       'Receitas Correntes - a classificar',
       'INDENIZ.P/DANOS CAUSADOS AO PATR.PUB.-MUL.JUR',
       'OUTRAS RESTITUIÇÕES-PRINCIPAL-INTRA',
       'RESTITUICAO DE CONVENIOS-PRIMARIAS-PRINCIPAL',
       'CONT.S/APOSTAS EM COMPETICOES HIPICAS-DIV.AT.',
       'RECEITA INDUSTRIAL-MULTAS E JUROS',
       'CONTRIBUIÇÃO INDUSTRIAL RURAL-PARCEL.-MUL.JUR',
       'CONT.S/APOSTAS EM COMPETICOES HIPICAS-MUL.JUR',
       'TRANSFER.DA UNIAO E DE SUAS ENTIDADES-PRINC.',
       'REST.DESPESAS EXERC.ANT.FIN.FTE.PRIM.-MUL.JUR',
       'SERV.ADMIN.E COMERCIAIS GERAIS-PRINC.-INTRA',
       'REMUN.SALDOS RECURSOS NAO-DESEMBOLSADOS-PRINC',
       'RESTITUIÇÃO DE CONVÊNIOS-PRIMÁRIAS-MUL.JUR.',
       'ALIEN.DE BENS E MERCADORIAS APREENDIDOS-PRINC',
       'ALIEN.BENS E MERCADORIAS APREENDIDOS-MUL.JUR.',
       'TRANSF.PROVENIENTES DEP.NAO IDENTIFIC.-PRINC.',
       'CONTRIB.S/LOTERIA PROGNÓST.ESPECÍFICO-PRINC.',
       'PART.UNIÃO EM REC.LOT.PROGN.NUMÉRICOS-PRINC.',
       'CONTRIBUIÇÃO SOBRE LOTERIAS ESPORTIVAS-PRINC.',
       'PART.UNIÃO EM REC.LOT.PROGN.ESPECÍFICO-PRINC.',
       'CONTRIB.S/LOTERIAS PROGNÓST.NUMÉRICOS-PRINC.',
       'PART.UNIÃO EM RECEITA DE LOT.ESPORTIVA-PRINC.',
       'CONC/PERM/AUT/CESSAO DIR.USO IMOV.PUB-PRINC.',
       'DEMAIS CONTRIBUIÇÕES SOCIAIS-PRINCIPAL',
       'PART.UNIÃO EM RECEITA LOT.INSTANTÂNEA-PRINC.',
       'TAXA FISCALIZ.DE FUNCIONAMENTO-PRINC.-INTRA',
       'CONTR.S/REC.BRT EMP.PREST.SERV.TELEC.-MUL.JUR',
       'CONTR.S/REC.CONCESS.PERM.ENERG.ELÉTR.-PRINC.',
       'RECEITA INDUSTRIAL-PRINCIPAL-INTRA',
       'CONTR.S/FATUR.EMPR.INFO.INST.AMAZONIA-PRINC.',
       'CONTR.S/REC.BRT EMP.PREST.SERV.TELECOM-DIV.AT',
       'TRANSF.DEL.SERV.TELEC.OU DIR.USO RADIOF-PRINC',
       'CESS.DIR.USO.RADFRQ-POSIC.ORBITAIS/DA.PRC',
       'CONTR.S/REC.BRT EMP.PREST.SERV.TELECOM-PRINC.',
       'COMPENS.FINANC.EXPL.RECURSOS MINERAIS-DIV.AT.',
       'CESSÃO DIR.USO RADIOFREQUÊNCIA-PRINC.-INTRA',
       'UTILIZ.REC.HIDRICOS-DEMAIS EMPRESAS-DIV.AT.',
       'OUTRAS DELEG.DOS SERVICOS DE TELECOM-PRINC.',
       'CONTR.S/FATUR.EMPR.INFO.INST.DEM.REG.-PRINC.',
       'COTA-PARTE DO AFRMM-DIVIDA ATIVA',
       'CONTR.S/FATUR.EMPR.INFO.INST.AMAZONIA-MUL.JUR',
       'UTILIZ.REC.HIDRICOS-DEMAIS EMPRESAS-MUL.JUR.',
       'OUTRAS.DLG.SV.TELEC-POSIC.ORBITAIS/PRC',
       'CONTR.S/REC.CONCESS.PERM.ENERG.ELETR.-MUL.JUR',
       'UTILIZACAO DE RECURSOS HIDRICOS-ITAIPU-PRINC.',
       'SERV.REGIST.,CERTIF.E FISCALIZ.-PRINC.-INTRA',
       'COTA-PARTE DO AFRMM-DIVIDA ATIVA-MUL.JUR.',
       'SERVICOS DE INFORMACAO E TECNOLOGIA-MUL.JUR.',
       'TX.FISC.FUNC-TFF-POSIÇÕES.ORBITAIS/PRC',
       'TX.FISC.INST-TFI-POSIÇÕES.ORBITAIS/PRC',
       'INDENIZACAO POR SINISTRO-PRINCIPAL',
       'OUTRAS.DLG.SV.TELEC-POSIC.ORBITAIS/DA.PRC',
       'CIDE-REMESSAS AO EXTERIOR-PRINCIPAL',
       'COMPENS.FINANC.EXPL.RECURSOS MINERAIS-PRINC.',
       'ROY.EXC.PETRO.PLAT-COM.ANT.3/12/12-DEM.-PRINC',
       'COTA-PARTE DO AFRMM-PRINCIPAL',
       'OUTRAS.DLG.SV.TELEC-NÃO.P.ORBITAIS/DA.PRC',
       'CESS.DIR.USO.RADFRQ-POSIC.ORBITAIS/DA.MLT+JRS',
       'UTILIZ.REC.HIDRICOS-DEMAIS EMPRESAS-PRINC.',
       'TX.INSPEÇÃO,CONTROLE E FISCALIZ.-PRINC.-INTRA',
       'ROYAL.COMERC.PROD.RESULT.CRIAÇÃO PROTEG-PRINC',
       'CONTR.DESENV.ENSINO PROF.MARIT.-PARCEL-PRINC.',
       'CONTR.P/DESENV.ENSINO PROF.MARITIMO-DIV.ATIVA',
       'CONTR.P/DES.ENS.PROF.MARITIMO-DIV.AT-MUL.JUR.',
       'CONTR.DESENV.ENSINO PROF.MARIT-PARCEL-MUL.JUR',
       'CONTR.P/DESENV.ENSINO PROF.MARITIMO-MUL.JUR.',
       'CONTR.P/DESENV.ENSINO PROF.MARÍTIMO-PRINCIPAL',
       'SERV.ASSIST.MEDICO-HOSP.DO MILITAR-PRINCIPAL',
       'CESSAO DIR.OPERACIONALIZACAO PAGTOS-MUL.JUR.',
       'SERVICOS DE NAVEGACAO-PRINCIPAL',
       'SERVICOS DE TRANSPORTE-PRINCIPAL',
       'SERV.ASSIST.MEDICO-HOSP.DO MILITAR-MUL.JUR.',
       'SERV.ASSIST.SAUDE SUPLEM.SERV.CIVIL-PRINC.',
       'CONTR.P/CUST.PENS.MILIT.FORÇAS ARMADAS-PRINC.',
       'SERVICOS PORTUARIOS-PRINCIPAL', 'OUTROS SERVICOS-MULTAS E JUROS',
       'OUTRAS INDENIZAÇÕES-PRINCIPAL-INTRA',
       'EMOLUMENTOS E CUSTAS JUDICIAIS-PRINCIPAL',
       'ROY.PETRO.PLAT-COM.ANTES 3/12/12-DEMAIS-PRINC',
       'SERVIÇOS DE ATENDIMENTO A SAUDE-PRINCIPAL',
       'TRANSF.DOS MUNICIPIOS E SUAS ENTIDADES-PRINC.',
       'SERVIÇOS DE ATENDIMENTO À SAÚDE-PRINC.-INTRA',
       'DEMAIS RECEITAS PATRIMONIAIS-PRINCIPAL',
       'VARIACAO CAMBIAL-PRINCIPAL', 'OUTRAS INDENIZACOES-MULTAS E JUROS',
       'INSCR.EM CONCURSOS E PROC.SELETIVOS-PRINCIPAL',
       'CESSAO DO DIR.OPERACIONALIZACAO PAGTOS-PRINC.',
       'TAXAS PELA PRESTAÇÃO DE SERVIÇOS-PRINCIPAL',
       'TARIFA AEROPORTUARIA-PRINCIPAL',
       'TAXAS PELA PRESTAÇÃO DE SERVIÇOS-MULT.E JUROS',
       'CONTR.P/CUST.PENS.MIL.FORÇAS ARMADAS-MUL/JUR.',
       'AMORTIZACAO EMPRESTIMOS CONTRATUAIS-MUL.JUR.',
       'TRANSFERENCIAS DE PESSOAS FISICAS-PRINCIPAL',
       'IRRF-REMESSA AO EXTERIOR-PRINCIPAL',
       'DLG.SRV.TELEC-R.PUB-NÃO.P.ORBITAIS/PRC',
       'TAXA DE CONTROLE E FISC.AMBIENTAL-PRINCIPAL',
       'COFINS SOBRE O FATURAMENTO-JUROS DÍV.ATIVA',
       'DEMAIS CONTRIBUIÇÕES SOCIAIS-DÍV.AT.-MUL.JUR.',
       'CONTRIBUIÇÕES P/O RGPS-MULTAS E JUROS',
       'ONUS DE SUCUMBENCIA-PRINCIPAL',
       'RESTIT.DEC.APLIC.IRREG.REC.ELEITORAIS-MUL.JUR',
       'REVERSAO DE GARANTIAS-MULTAS E JUROS',
       'RESTITUICAO DE RECURSOS DE FOMENTO-MUL.JUR.',
       'DEMAIS CONTRIBUIÇÕES SOCIAIS-MULTAS E JUROS',
       'CSLL-PARCELAMENTOS-DÍVIDA ATIVA-MULTAS', 'IRPF-DÍVIDA ATIVA',
       'FOROS,LAUDEMIOS,TARIFAS DE OCUPACAO-DIV.ATIVA',
       'TAXA FISCALIZAÇÃO DE INSTALAÇÃO-PRINC.-INTRA',
       'CPSSS PATRONAL-SERVIDOR CIVIL-DÍV.ATIVA-INTRA',
       'TAXAS INSPEÇÃO,CONTROLE E FISCALIZAÇÃO-DÍV.AT',
       'COFINS SOBRE O FATURAMENTO-SIMPLES-JUROS',
       'MULTAS PREV.LEG.SEG.DESEMP.AB.SALAR.-MUL.JUR.',
       'CONTRIBUIÇÃO PIS/PASEP-PARCELAMENTOS-DÍV.AT.', 'IPI-BEBIDAS',
       'ITR-MUNICÍPIOS NÃO-CONVENIADOS-MULTAS DÍV.AT.',
       'TX.FISC.INST-TFI-NÃO.POSI.ORBITAIS/DA.PRC',
       'CONC/PERM/AUT/CESSAO DIR.USO IMOV.PUB-MUL.JUR',
       'IRPJ-LÍQUIDA DE INCENTIVOS-MULTAS E JUROS',
       'CONTR.S/REMUN.DEVIDA AO TRABALHADOR-PRINCIPAL',
       'CIDE-COMBUSTÍVEIS-COMERCIALIZAÇÃO-PRINCIPAL',
       'OUTRAS RECEITAS ADMINISTRADAS RFB-DIV.AT.',
       'JUROS SOBRE O CAPITAL PROPRIO-MULTAS E JUROS',
       'TX.FISC.INST-TFI-NÃO.POSI.ORBITAIS/DA.MLT+JRS',
       'CPSSS PATRONAL-SERVIDOR CIVIL-MUL.JUR.-INTRA',
       'IMPOSTO SOBRE A IMPORTAÇÃO-MULTAS E JUROS',
       'ONUS DE SUCUMBENCIA-MULTAS E JUROS',
       'CONT.MOV.TRANSM.VAL.CRED.DIR.FIN-PARC-MUL.JUR',
       'CESS.DIR.USO.RADFRQ-NÃO.P.ORBITAIS/PRC',
       'COFINS SOBRE O FATURAMENTO-PARCELAM.-PRINC.',
       'CONTRIB.PREVIDENCIÁRIA DO SEGURADO-MUL.JUR.',
       'IOF-DEMAIS OPERAÇÕES-MULTAS E JUROS',
       'CPSSS-SERV.CIVIL PENSIONISTA-SENT.JUD-PRINC.',
       'IPI-FUMO-PRINCIPAL',
       'AMORT.EMPR.-REFIN.DIV.MED.E LONGO PRAZO-PRINC',
       'IMPOSTO SOBRE A IMPORTAÇÃO-DÍVIDA ATIVA',
       'EMOLUMENTOS E CUSTAS JUDICIAIS-MULTAS E JUROS',
       'COFINS S/FATURAMENTO-PARCEL.-JUROS DÍV.ATIVA',
       'CONCESSAO DE AVAIS,GARANTIAS E SEGUROS-PRINC.',
       'RESTIT.DEC.APLIC.IRREG.REC.ELEITORAIS-PRINC.',
       'CIDE-REMESSAS AO EXTERIOR-DIVIDA ATIVA',
       'TX.CONTROLE E FISCALIZ.PROD.QUÍMICOS-PRINC.',
       'CONTR.PIS/PASEP-PARCELAMENTOS-MULTAS DÍV.AT.',
       'COFINS SOBRE O FATURAMENTO-PARCELAM.-MULTAS',
       'CONTRIBUICAO PARA O ENSINO AEROVIARIO-MUL.JUR',
       'CONTRIB.PREVIDENCIÁRIA DO SEGURADO-DÍV.ATIVA',
       'CONTRIB.SOCIAL SALÁRIO-EDUCAÇÃO-PARCEL-PRINC.',
       'CSLL-CONTRIBUINTES OPT.SIMPLES NAC-DÍV.AT-MUL',
       'CSLL-CONTRIBUINTES OPT.SIMPLES NAC.-PRINC',
       'CONT.MOV.TRANSM.VAL.CRED.DIR.FIN-PARC-DÍV.AT.',
       'CIDE-COMBUST.-COMERCIALIZACAO-JUROS DÍV.ATIVA',
       'RESSARCIMENTO DE CUSTOS-PRINCIPAL-INTRA',
       'COFINS S/FATURAMENTO-PARCEL.-MULTAS DÍV.ATIVA',
       'MULTAS PREVISTAS EM LEGISL.ESPECIFICA-DIV.AT.',
       'IOF-DEMAIS OPERAÇÕES-PRINCIPAL',
       'CONTR.SOCIAL SALÁRIO-EDUCAÇÃO-PARCEL.-MUL.JUR',
       'COMPENS.FIN.ENTRE RGPS E RPPS-DIV.AT-MUL.JUR.',
       'IPI-VINCULADOS À IMPORTAÇÃO-MULTAS E JUROS',
       'COFINS SOBRE O FATURAMENTO-PARCELAM.-MUL.JUR.',
       'COMPENS.FINANCEIRAS ENTRE RGPS E RPPS-MUL.JUR',
       'RESTITUICAO DE BENEFICIOS ASSISTENCIAIS-PRINC',
       'CONTRIB.PIS/PASEP-Ñ OPTANTES SIMP.NAC-PRINC.',
       'REMUN.S/REPASSE P/PROG.DESENV.ECONOMICO-PRINC',
       'COFINS SOBRE O FATURAMENTO-JUROS', 'IRPF-MULTAS DA DÍVIDA ATIVA',
       'CONTR.MOV.TRANSM.VAL.CRÉD.DIR.NAT.FIN.-PRINC.',
       'COFINS S/FATURAMENTO-SIMPLES-JUROS DÍV.ATIVA',
       'COTA-PARTE DO AFRMM-MULTAS E JUROS',
       'CESS.DIR.USO.RADFRQ-NÃO.P.ORBITAIS/PRC-INTRA',
       'IRRF-CAPITAL-MULTAS E JUROS',
       'RETORNO DE OP.,JUR.E ENC.FINANCEIROS-MUL.JUR.',
       'IRRF-REMESSA AO EXTERIOR-MULTAS E JUROS',
       'CONTRIB.SOCIAL DO SALÁRIO-EDUCAÇÃO-PRINCIPAL',
       'IPI-OUTROS PRODUTOS-PRINCIPAL',
       'CPSSS PATRONAL-SERVIDOR CIVIL-PRINC.-INTRA',
       'DLG.SRV.TELEC-R.PUB-NÃO.P.ORBITAIS/DA.PRC',
       'CPSSS PATRONAL-SENT.JUD-SERV.CIV-PRINC-INTRA',
       'IRPJ-LÍQUIDA DE INCENTIVOS-MULTAS DÍV.ATIVA',
       'REMUNER.DISPONIBILIDADES TES.NACIONAL-PRINC.',
       'RESTIT.DE BENEFICIOS PREVIDENCIARIOS-PRINC.',
       'ITR-MUNICÍPIOS NÃO-CONVENIADOS-JUROS DÍV.AT.',
       'P.ESP.PETRO.PLAT-COM.A PARTIR 3/12/12-PRINC.',
       'CPSSS PATRONAL-SERVIDOR CIVIL-MULTAS E JUROS',
       'EMOLUMENTOS E CUSTAS JUDICIAIS-PRINC.-INTRA',
       'MLT.LEI.GER.TELECOM-NÃO.P.ORBITAIS/DA.MLT+JRS',
       'CONTRIB.DO SERVIDOR INATIVO P/RPPS-MUL.JUR.',
       'IOF-OURO-PRINCIPAL',
       'CONTR.PREV.EMPREGADOR-Ñ OPT.SIMP.NAC.-DÍV.AT.',
       'PRESTACAO DE CONTAS ELEITORAIS-MULTAS E JUROS',
       'IMPOSTO SOBRE A IMPORTAÇÃO-MUL.JUR.-INTRA',
       'CONT.PREVID.EMPREGADOR-OPT.SIMP.NAC.-DÍV.AT.',
       'COFINS SOBRE O FATURAMENTO-SIMPLES-DÍV.ATIVA',
       'CESSAO DIR.OPERACIONALIZ.PGTOS-P.JUD.-PRINC.',
       'CONTRIB.PREVIDENCIÁRIA DO SEGURADO-PRINC.',
       'OUTRAS RECEITAS ADMINISTRADAS RFB-MUL.JUR.',
       'CIDE COMBUSTIVEIS-COMERCIALIZACAO-MUL.JUR.',
       'CONTRIB.P/FOMENTO RADIODIFUSAO PUBLICA-PRINC.',
       'IRRF-TRABALHO-PRINCIPAL',
       'CONT.MOV.TRANSM.VL.CR.FIN-PARC-DÍV.AT-MUL.JUR',
       'IOF-DEMAIS OPERAÇÕES-MULTAS DA DÍVIDA ATIVA',
       'RESTIT.BENEFICIOS NAO DESEMBOLSADOS-PRINCIPAL',
       'IRPF-JUROS DA DÍVIDA ATIVA',
       'OUTRAS RECEITAS IMOBILIARIAS-PRINCIPAL',
       'MULT.LEG.ANTICORRUP.PROC.ADM.RESPONS.-PRINC.',
       'EMOLUMENTOS E CUSTAS JUDICIAIS-DÍV.AT-MUL.JUR',
       'CONTRIBUIÇÃO PIS/PASEP-PARCELAMENTOS-MUL.JUR.',
       'MULTAS PREV.LEGISLAÇÃO ANTIDROGAS-DÍV.ATIVA',
       'COFINS SOBRE O FATURAMENTO-PRINCIPAL',
       'COFINS SOBRE O FATURAMENTO-PARCELAM.-JUROS',
       'CONT.PREV.EMPREG.-OPT.SIMP.NAC-DÍV.AT-MUL.JUR',
       'ROYAL.EXCED.PROD.PETRO.TERRA(QQ SIT.)-PRINC.',
       'CSLL-PARCELAMENTOS-DÍVIDA ATIVA',
       'TIT.RESP.TN-REFIN.DIV.PUB.FED.MERC.EXT.-PRINC',
       'CONTRIB.SOCIAL DO SALARIO-EDUCACAO-MUL.JUR.',
       'CPSSS-SERVIDOR CIVIL PENSIONISTA-PRINCIPAL',
       'DLG.SRV.RAD.SON.IMG-NÃO.P.ORBITAIS/PRC',
       'OUTROS IMPOSTOS-MULTAS E JUROS',
       'CONTRIBUIÇÕES P/O RGPS-PARCELAMENTOS-MUL.JUR.',
       'CSLL-PARCELAMENTOS-DÍVIDA ATIVA-JUROS',
       'TÍT.RESP.TN-REFIN.DÍV.PÚB.FED.INT-PRINC-INTRA',
       'REMUNER.DISPONIBILIDADES TES.NACIONAL-MUL.JUR',
       'OUTRAS.DLG.SV.TELEC-NÃO.P.ORBITAIS/PRC',
       'CONDECINE-PRINCIPAL-INTRA',
       'MULTAS PREV.LEG.SEG.DESEMP.AB.SALAR.-PRINC.',
       'CONTRAPART.DE SUBVENCOES OU SUBSIDIOS-PRINC.',
       'APORTES PERIÓD.COMPENSAÇÕES RGPS-PRINC-INTRA',
       'IMPOSTO SOBRE A IMPORTAÇÃO-MULTAS DÍV.ATIVA',
       'RESSARCIMENTO DE CUSTOS-MULTAS E JUROS',
       'CONTRIBUIÇÕES P/O RGPS-PARCELAMENTOS-PRINC.',
       'IPI-FUMO-MULTAS E JUROS', 'CONDECINE-DIVIDA ATIVA',
       'PREMIOS PRESCRITOS CONC.PROGNOSTICOS-MUL.JUR.',
       'CONT.PREVIDENCIÁRIA SEGURADO-DÍV.AT-MUL.JUR', 'Sem informação',
       'CONTR.S/REC.OP.BRT DECOR.SERV.TELECOM-DIV.AT.',
       'RESTIT.DEP.DE SENTENÇAS JUD.Ñ SACADOS-PRINC.',
       'CONTRIBUIÇÃO PIS/PASEP-PARCELAMENTOS-JUROS',
       'ROYAL.PETRO.PLAT.-COM.A PARTIR 3/12/12-PRINC.',
       'IOF-DEMAIS OPERAÇÕES-JUROS DA DÍVIDA ATIVA', 'IRPF-PRINCIPAL',
       'OUTRAS CONTRIBUICOES ECONOMICAS-PRINCIPAL',
       'CONT.PIS/PASEP-Ñ OPT.SIMP.NAC-JUROS DÍV.ATIVA',
       'CONTR.PREV.EMPREGADOR-Ñ OPT.SIMP.NAC.-MUL.JUR',
       'CSLL-CONTRIBUINTES OPT.SIMPLES NAC.-MULTAS',
       'CSLL-PARCELAMENTOS-JUROS',
       'OUTRAS RECEITAS-PRIMARIAS-DIVIDA ATIVA',
       'CONT.PIS/PASEP-Ñ OPT.SIMP.NAC-MULTAS DÍV.AT.',
       'IRPJ-LÍQUIDA DE INCENTIVOS-JUROS DÍV.ATIVA',
       'COTA-PARTE DA CONTRIBUICAO SINDICAL-MUL.JUR.',
       'IMPOSTO SOBRE A EXPORTAÇÃO-JUROS DÍVIDA ATIVA',
       'ALIENAÇÃO DE BENS IMÓVEIS-MULTAS E JUROS',
       'CONTRIB.SOCIAL DO SALÁRIO-EDUCAÇÃO-MUL.JUR.',
       'ROY.EXC.PETRO.PLAT-COM.A PARTIR 3/12/12-PRINC',
       'COMPENS.FINANCEIRAS ENTRE RGPS E RPPS-DIV.AT.',
       'IPI-VINCULADOS À IMPORTAÇÃO-MUL.JUR.-INTRA',
       'CONTRIB.PIS/PASEP-Ñ OPTANTES SIMP.NAC-MULTAS',
       'CONTRIB.PIS/PASEP-Ñ OPTANTES SIMP.NAC-JUROS',
       'CONTRIBUIÇÃO SOBRE A LOTERIA FEDERAL-PRINCIP.',
       'IRPJ-LÍQUIDA DE INCENTIVOS-PRINCIPAL',
       'CSLL-CONTRIBUINTES Ñ OPT.SIMP.NAC.-PRINC.',
       'CONT.PIS/PASEP-OPT.SIMP.NAC-MULTAS DÍV.AT.',
       'IRRF-REMESSA AO EXTERIOR-PRINCIPAL-INTRA',
       'CSLL-PARCELAMENTOS-MULTA E JUROS',
       'COFINS SOBRE O FATURAMENTO-MULTAS DÍV.ATIVA',
       'REVERSAO DE GARANTIAS-PRINCIPAL', 'IOF-OURO-MULTAS E JUROS',
       'CPSSS PATRONAL-SERVIDOR CIVIL-PRINCIPAL',
       'CONTRIB.SOCIAL SOBRE LUCRO LÍQ.-CSLL-MUL.JUR.',
       'REVERS.PROV.SINISTROS IBNR DO DPVAT-PRINC.',
       'IMPOSTO SOBRE A IMPORTAÇÃO-PRINCIPAL',
       'REMUNERACAO DE DEPOSITOS ESPECIAIS-PRINCIPAL',
       'CESS.DIR.USO.RADFRQ-NÃO.P.ORBITAIS/DA.PRC',
       'COFINS SOBRE O FATURAMENTO-MULTAS',
       'CONT.MOV.TRANSM.VAL.CRED.DIR.FIN-PARC-PRINC.',
       'OUTROS IMPOSTOS-DÍVIDA ATIVA',
       'CPSSS-SERVIDOR CIVIL ATIVO-SENT.JUD.-PRINC.',
       'CSLL-CONTRIBUINTES OPT.SIMPLES NAC.-DÍV.AT.',
       'CONTRIB.P/FOMENTO RADIODIF.PÚB.-PRINC.-INTRA',
       'IMPOSTO SOBRE A EXPORTAÇÃO-MULTAS DÍV.ATIVA',
       'MULTAS PREV.LEG.SEG.DESEMP.AB.SALAR.-DIV.AT.',
       'ITR-MUNICÍPIOS CONVENIADOS-MULTAS E JUROS',
       'CONT.PREV.EMPREGADOR-Ñ SIM.NAC-DÍV.AT-MUL.JUR',
       'CPSSS-SERVIDOR CIVIL INATIVO-SENT.JUD.-PRINC.',
       'COTA-PARTE DA CONTRIBUIÇÃO SINDICAL-PRINCIPAL',
       'BENS,DIR.E VAL.PERD.EM FAVOR PODER PUB.-PRINC',
       'COFINS-MULTAS E JUROS',
       'BARREIRAS TECNICAS AO COMERC.EXTERIOR-MUL.JUR',
       'CONTRIB.PIS/PASEP-OPTANTES SIMP.NAC-PRINC.',
       'CONTR.S/REC.OP.BRT DECOR.SERV.TELECOM-PRINC.',
       'IPI-AUTOMÓVEIS-PRINCIPAL',
       'CONCESSAO AVAIS,GARANTIAS E SEGUROS-MUL.JUR.',
       'JUROS DE TITULOS DE RENDA-PRINCIPAL',
       'CSLL-PARCELAMENTOS-PRINCIPAL',
       'CIDE-COMBUSTÍVEIS-IMPORTAÇÃO-PRINCIPAL',
       'IMPOSTO SOBRE A IMPORTAÇÃO-JUROS DÍVIDA ATIVA',
       'CONTRIB.PIS/PASEP-Ñ OPTANTES SIMP.NAC-DÍV.AT.',
       'MULTAS E JUROS PREV.CONTRATOS-DIV.AT-MUL.JUR.',
       'CPSSS-SERVIDOR CIVIL ATIVO-PRINCIPAL',
       'RESTIT.DE BENEFICIOS PREVIDENCIARIOS-MUL.JUR.',
       'CONTRIBUIÇÕES P/O RGPS-PARCELAMENTOS-DÍV.AT.',
       'CONTRIB.P/O ENSINO AEROVIÁRIO-PARCEL.-PRINC.',
       'IMPOSTO SOBRE A EXPORTAÇÃO-DÍVIDA ATIVA',
       'IRRF-TRABALHO-DÍVIDA ATIVA',
       'RESTITUICAO DE GARANTIAS PRESTADAS-PRINCIPAL',
       'RESTIT.DESPESAS EXERC.ANTERIORES-PRINC-INTRA',
       'TIT.RESP.TN-REFIN.DIV.PUB.FED.MERC.INT.-PRINC',
       'IRRF-TRABALHO-JUROS DA DÍVIDA ATIVA',
       'IRRF-OUTROS RENDIMENTOS-PRINCIPAL-INTRA',
       'ITR-MUNICÍPIOS NÃO-CONVENIADOS-MULTAS E JUROS',
       'CONC.USO POTENCIAL ENERGIA HIDRAULICA-PRINC.',
       'CONT.MOV.TRANSM.VAL.CRED.DIR.NAT.FIN.-MUL.JUR',
       'MULTAS APLICADAS PELOS TRIB.DE CONTAS-PRINC.',
       'ROY.PETR.PLAT.-PARTILHA-COM.A P.3/12/12-PRINC',
       'CONTRIBUIÇÃO PARA O ENSINO AEROVIÁRIO-DÍV.AT.',
       'ITR-MUNICÍPIOS CONVENIADOS-PRINCIPAL',
       'IPI-BEBIDAS-PRINCIPAL-INTRA',
       'CONTR.PREV.EMPREGADOR-Ñ OPT.SIMP.NAC.-PRINC.',
       'CONTRIB.SERVIDOR ATIVO CIVIL P/RPPS-MUL.JUR.',
       'IMPOSTO SOBRE A EXPORTAÇÃO-MULTAS E JUROS',
       'CONTR.P/FUNDOS ASSIST.MÉD-BOMB.MILIT.-PRINC.',
       'RESTIT.PARCELAS SEG.DESEMP.REC.INDEV.-MUL.JUR',
       'CONTR.P/FUNDOS ASSIST.MÉD-POLIC.MILIT-PRINC.',
       'CPSSS-SERVIDOR CIVIL INATIVO-PRINCIPAL',
       'TAXA DE CONTROLE E FISC.AMBIENTAL-DÍV.ATIVA',
       'P.ESP.PETRO.PLAT-COM.ANT.3/12/12-DEMAIS-PRINC',

Los 10 DETALLE que MAS aparecen son:

                                               count  Porcentaje_recuento
DETALLE
SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.    21029                14.77
ALUGUEIS E ARRENDAMENTOS-PRINCIPAL              9114                 6.40
INSCR.EM CONCURSOS E PROC.SELETIVOS-PRINCIPAL   7069                 4.97
MULTAS PREVISTAS EM LEGISL.ESPECIFICA-PRINC.    5954                 4.18
REMUNERACAO DE DEPOSITOS BANCARIOS-PRINCIPAL    4961                 3.49
TAXAS INSPEÇÃO,CONTROLE E FISCALIZAÇÃO-PRINC.   4274                 3.00
MULTAS PREVISTAS EM LEGISL.ESPECIFICA-DIV.AT.   3233                 2.27
OUTRAS RESTITUICOES-PRINCIPAL                   3162                 2.22
OUTRAS RECEITAS-PRIMARIAS-PRINCIPAL             3136                 2.20
REST.DESPESAS EXERC.ANT.FIN.FTE.PRIM.-PRINC.    2918                 2.05

Los 10 DETALLE que MENOS aparecen son:

                                               count  Porcentaje_recuento
DETALLE
INSCR.EM CONCURSOS E PROC.SELETIVOS-MUL.JUR.       1                 0.00
RESTIT.PARCELAS SEGURO DESEMPR.RECEB.INDEVID.      1                 0.00
ADICIONAL SOBRE TARIFA AEROPORTUARIA-MUL.JUR.      1                 0.00
TX.FISC.FUNC-TFF-NÃO.POSI.ORBITAIS/DA.MLT+JRS      1                 0.00
DELEG.P/PREST.SERV.TRANSP.RODOVIARIO-DIV.AT.       1                 0.00
MULTAS PREV.LEG.SEG.DESEMP.AB.SALAR.-MUL.JUR.      1                 0.00
TX.FISC.INST-TFI-NÃO.POSI.ORBITAIS/MLT+JRS         1                 0.00
BONUS ASSINAT.CONTRATO DE CONCESSAO-MUL.JUR.       1                 0.00
TAXA FISCAL. DOS SERVICOS DE ENERGIA ELETRICA      1                 0.00
RECEITA INDUSTRIAL-MULTAS E JUROS-INTRA            1                 0.00

 Las distribución de las repeticiones de los DETALLE son:

       count  % repetición
count
35        68         10.88
1         32          5.12
2         23          3.68
50        22          3.52
4         21          3.36
...      ...           ...
17         1          0.16
31         1          0.16
23         1          0.16
29         1          0.16
25         1          0.16

[206 rows x 2 columns]

None
La categoría VALOR_PREVISTO_ACTUALIZADO tiene 1951 elementos diferentes:

Los elementos de la categoría son:

array([0.00000000e+00, 1.49143037e+09, 1.03883676e+08, ...,
       2.69831700e+06, 3.24321000e+05, 6.69118500e+06])

Los 10 VALOR_PREVISTO_ACTUALIZADO que MAS aparecen son:

                             count  Porcentaje_recuento
VALOR_PREVISTO_ACTUALIZADO
0.00                        140352                98.60
108000.00                        3                 0.00
12000.00                         2                 0.00
72800.00                         2                 0.00
6683972846.00                    2                 0.00
3493187.00                       2                 0.00
284500000.00                     2                 0.00
70362903.00                      2                 0.00
1160467411.00                    2                 0.00
28711.00                         2                 0.00

Los 10 VALOR_PREVISTO_ACTUALIZADO que MENOS aparecen son:

                            count  Porcentaje_recuento
VALOR_PREVISTO_ACTUALIZADO
395338.00                       1                 0.00
1418984.00                      1                 0.00
54230.00                        1                 0.00
38983654.00                     1                 0.00
7763940.00                      1                 0.00
45106341.00                     1                 0.00
138038.00                       1                 0.00
5930.00                         1                 0.00
15301062.00                     1                 0.00
2630866413.00                   1                 0.00

 Las distribución de las repeticiones de los VALOR_PREVISTO_ACTUALIZADO son:

        count  % repetición
count
1        1905         97.64
2          44          2.26
3           1          0.05
140352      1          0.05

None
La categoría VALOR_REGISTRADO tiene 1579 elementos diferentes:

Los elementos de la categoría son:

array([ 0.00000000e+00, -1.73067933e+08, -5.56790585e+07, ...,
       -2.70000000e+01,  1.44000000e+03,  1.01486896e+07])

Los 10 VALOR_REGISTRADO que MAS aparecen son:

                   count  Porcentaje_recuento
VALOR_REGISTRADO
0.00              140661                98.81
0.11                   4                 0.00
0.14                   3                 0.00
0.09                   3                 0.00
3.03                   3                 0.00
0.10                   3                 0.00
1117978.75             2                 0.00
4470793.63             2                 0.00
-1783441.58            2                 0.00
-1322970.79            2                 0.00

Los 10 VALOR_REGISTRADO que MENOS aparecen son:

                  count  Porcentaje_recuento
VALOR_REGISTRADO
23130743.44           1                 0.00
2735234674.66         1                 0.00
9841.52               1                 0.00
145038368.17          1                 0.00
1826281.31            1                 0.00
-4470793.63           1                 0.00
41571554.89           1                 0.00
61173640.04           1                 0.00
-47703615.18          1                 0.00
-55679058.49          1                 0.00

 Las distribución de las repeticiones de los VALOR_REGISTRADO son:

        count  % repetición
count
1        1475         93.41
2          98          6.21
3           4          0.25
140661      1          0.06
4           1          0.06

None
La categoría VALOR_REALIZADO tiene 106992 elementos diferentes:

Los elementos de la categoría son:

array([  5516.9 ,   2946.81,   1541.53, ...,  72656.62, 400211.28,
       281598.64])

Los 10 VALOR_REALIZADO que MAS aparecen son:

                 count  Porcentaje_recuento
VALOR_REALIZADO
0.00              3837                 2.70
100.00             408                 0.29
20.00              389                 0.27
200.00             383                 0.27
30.00              364                 0.26
50.00              343                 0.24
10.00              331                 0.23
150.00             303                 0.21
300.00             302                 0.21
40.00              294                 0.21

Los 10 VALOR_REALIZADO que MENOS aparecen son:

                 count  Porcentaje_recuento
VALOR_REALIZADO
339360.78            1                 0.00
268993.64            1                 0.00
241342.14            1                 0.00
203324.88            1                 0.00
169958.54            1                 0.00
1546607.96           1                 0.00
333856.67            1                 0.00
223121.64            1                 0.00
1403644.00           1                 0.00
206757.84            1                 0.00

 Las distribución de las repeticiones de los VALOR_REALIZADO son:

       count  % repetición
count
1      99172         92.69
2       4566          4.27
3       1285          1.20
4        551          0.51
5        318          0.30
...      ...           ...
69         1          0.00
68         1          0.00
41         1          0.00
51         1          0.00
53         1          0.00

[108 rows x 2 columns]

None
La categoría PORCENTAJE_REALIZADO tiene 27 elementos diferentes:

Los elementos de la categoría son:

array([0.0000e+00, 1.0000e+00, 1.0000e+01, 1.6000e+01, 3.0000e+00,
       7.0000e+00, 3.9232e+04, 2.0000e+00, 3.2000e+01, 8.0000e+00,
       1.1000e+01, 4.0000e+00, 9.0000e+00, 1.2000e+01, 6.0000e+00,
       5.0000e+00, 2.4000e+01, 2.3000e+01, 2.7000e+01, 4.3000e+01,
       1.7000e+01, 1.5000e+01, 1.3000e+01, 1.4100e+02, 5.0000e+01,
       1.9000e+01, 1.8000e+01])

Los 10 PORCENTAJE_REALIZADO que MAS aparecen son:

                       count  Porcentaje_recuento
PORCENTAJE_REALIZADO
0.00                  142103                99.83
1.00                     133                 0.09
2.00                      27                 0.02
3.00                      22                 0.02
4.00                      11                 0.01
5.00                       9                 0.01
7.00                       6                 0.00
16.00                      5                 0.00
6.00                       5                 0.00
11.00                      4                 0.00

Los 10 PORCENTAJE_REALIZADO que MENOS aparecen son:

                      count  Porcentaje_recuento
PORCENTAJE_REALIZADO
23.00                     1                 0.00
24.00                     1                 0.00
27.00                     1                 0.00
43.00                     1                 0.00
17.00                     1                 0.00
15.00                     1                 0.00
141.00                    1                 0.00
50.00                     1                 0.00
19.00                     1                 0.00
18.00                     1                 0.00

 Las distribución de las repeticiones de los PORCENTAJE_REALIZADO son:

        count  % repetición
count
1          13         48.15
2           2          7.41
5           2          7.41
3           2          7.41
22          1          3.70
27          1          3.70
133         1          3.70
142103      1          3.70
6           1          3.70
9           1          3.70
11          1          3.70
4           1          3.70

None
La categoría FECHA_REGISTRO tiene 362 elementos diferentes:

Los elementos de la categoría son:

<DatetimeArray>
['2020-04-28 00:00:00', '2020-04-15 00:00:00', '2020-05-27 00:00:00',
 '2020-06-12 00:00:00', '2020-03-19 00:00:00', '2020-03-02 00:00:00',
 '2020-05-28 00:00:00', '2020-05-14 00:00:00', '2020-04-20 00:00:00',
 '2020-03-20 00:00:00',
 ...
 '2020-11-07 00:00:00', '2020-11-29 00:00:00', '2020-03-08 00:00:00',
 '2020-07-19 00:00:00', '2020-02-09 00:00:00', '2020-04-26 00:00:00',
 '2020-07-12 00:00:00', '2020-06-14 00:00:00', '2020-08-02 00:00:00',
 '2020-09-19 00:00:00']
Length: 363, dtype: datetime64[ns]

Los 10 FECHA_REGISTRO que MAS aparecen son:

                count  Porcentaje_recuento
FECHA_REGISTRO
2020-01-20       2179                 1.53
2020-01-31       1038                 0.73
2020-08-31       1023                 0.72
2020-04-30        988                 0.69
2020-03-31        974                 0.68
2020-11-30        957                 0.67
2020-09-30        950                 0.67
2020-02-10        926                 0.65
2020-03-10        917                 0.64
2020-01-10        889                 0.62

Los 10 FECHA_REGISTRO que MENOS aparecen son:

                count  Porcentaje_recuento
FECHA_REGISTRO
2020-11-07          1                 0.00
2020-11-29          1                 0.00
2020-03-08          1                 0.00
2020-07-19          1                 0.00
2020-02-09          1                 0.00
2020-04-26          1                 0.00
2020-07-12          1                 0.00
2020-06-14          1                 0.00
2020-08-02          1                 0.00
2020-09-19          1                 0.00

 Las distribución de las repeticiones de los FECHA_REGISTRO son:

       count  % repetición
count
1         78         21.55
2          6          1.66
508        5          1.38
3          4          1.10
472        4          1.10
...      ...           ...
82         1          0.28
88         1          0.28
168        1          0.28
7          1          0.28
4          1          0.28

[195 rows x 2 columns]

None
La categoría AÑO_EJERCICIO tiene 1 elementos diferentes:

Los elementos de la categoría son:

array([2020])

Los 10 AÑO_EJERCICIO que MAS aparecen son:

                count  Porcentaje_recuento
AÑO_EJERCICIO
2020           142348               100.00

Los 10 AÑO_EJERCICIO que MENOS aparecen son:

                count  Porcentaje_recuento
AÑO_EJERCICIO
2020           142348               100.00

 Las distribución de las repeticiones de los AÑO_EJERCICIO son:

        count  % repetición
count
142348      1        100.00

None

In [13]:
df_datos_2020.to_pickle("../datos/output/datos_2020_convertido.pkl")