In [6]:
# Tratamiento de datos
import pandas as pd
# Ignorar warnings
import warnings
warnings.filterwarnings("ignore")
# Configuración
pd.set_option('display.max_columns', None) # para poder visualizar todas las columnas de los DataFrames
#importar la biblioteca de numpy:
import numpy as np
import os
import sys #permite navegar por el sistema
sys.path.append("../") #solo aplica al soporte
import src.soporte_EDA as se


pd.options.display.float_format = '{:.2f}'.format # para redondearlo todo a 2 decimales

In [7]:
os.listdir('../datos/raw/')

['datos-2013.csv',
 'datos-2014.csv',
 'datos-2015.csv',
 'datos-2016.csv',
 'datos-2017.csv',
 'datos-2018.csv',
 'datos-2019.csv',
 'datos-2020.csv',
 'datos-2021.csv',
 'diccionario_datos.csv']

In [8]:
lista_archivos = os.listdir('../datos/raw/')[:-1]
lista_archivos

['datos-2013.csv',
 'datos-2014.csv',
 'datos-2015.csv',
 'datos-2016.csv',
 'datos-2017.csv',
 'datos-2018.csv',
 'datos-2019.csv',
 'datos-2020.csv',
 'datos-2021.csv']

In [9]:
diccionario = se.carga_ficheros_csv('raw',lista_archivos)

In [10]:
df_datos_2013 = diccionario['df_2013']
df_datos_2014 = diccionario['df_2014']
df_datos_2015 = diccionario['df_2015']
df_datos_2016 = diccionario['df_2016']
df_datos_2017 = diccionario['df_2017']
df_datos_2018 = diccionario['df_2018']
df_datos_2019 = diccionario['df_2019']
df_datos_2020 = diccionario['df_2020']
df_datos_2021 = diccionario['df_2021']

# Anális datos año 2021

In [11]:
se.traducción_columnas(df_datos_2021)

In [12]:
df_datos_2021

,CÓDIGO_ÓRGANO_SUPERIOR,NOMBRE_ÓRGANO_SUPERIOR,CÓDIGO_ÓRGANO,NOMBRE_ÓRGANO,CÓDIGO_UNIDAD_GESTORA,NOMBRE_UNIDAD_GESTORA,CATEGORÍA_ECONÓMICA,ORIGEN_INGRESO,TIPO_INGRESO,DETALLE,VALOR_PREVISTO_ACTUALIZADO,VALOR_REGISTRADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO,FECHA_REGISTRO,AÑO_EJERCICIO
0,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas de Capital,Operações de Crédito,Operações de crédito - mercado interno,TITULOS DE RESPONS.TES.NAC.-MERC.INT.-PRINC.,"2224034904,00","0,00","0,00","0,00",23/04/2021,2021
1,63000,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Receitas Correntes - a classificar,Receitas Correntes - a classificar,Receitas Correntes - a classificar,"0,00","0,00","0,00","0,00",16/04/2021,2021
2,37000,Controladoria-Geral da União,37000,Controladoria-Geral da União - Unidades com ví...,370001,DIRETORIA DE GESTAO INTERNA(CGU),Receitas de Capital,Operações de Crédito,Operações de crédito - mercado interno,TITULOS DE RESPONS.TES.NAC.-MERC.INT.-PRINC.,"608888110,00","0,00","0,00","0,00",23/04/2021,2021
3,22000,"Ministério da Agricultura, Pecuária e Abastec",22211,Companhia Nacional de Abastecimento,135100,COMPANHIA NACIONAL DE ABASTECIMENTO,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-MUL.JUR.,"0,00","0,00","160,25","0,00",26/01/2021,2021
4,22000,"Ministério da Agricultura, Pecuária e Abastec",22211,Companhia Nacional de Abastecimento,135100,COMPANHIA NACIONAL DE ABASTECIMENTO,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-MUL.JUR.,"0,00","0,00","511,43","0,00",16/03/2021,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134588,20000,Presidência da República,24208,Instituto Nacional de Tecnologia da Informação,243001,INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI,Receitas de Capital,Operações de Crédito,Operações de crédito - mercado interno,TITULOS DE RESPONS.TES.NAC.-MERC.INT.-PRINC.,"16940891,00","0,00","0,00","0,00",23/04/2021,2021
134589,20000,Presidência da República,24208,Instituto Nacional de Tecnologia da Informação,243001,INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,"SERV.DE REGIST.,CERTIF.E FISCALIZ.-PRINCIPAL","0,00","0,00","372,90","0,00",22/11/2021,2021
134590,20000,Presidência da República,24208,Instituto Nacional de Tecnologia da Informação,243001,INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,"SERV.DE REGIST.,CERTIF.E FISCALIZ.-PRINCIPAL","200000,00","0,00","0,00","0,00",23/04/2021,2021
134591,20000,Presidência da República,24208,Instituto Nacional de Tecnologia da Informação,243001,INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,"SERV.DE REGIST.,CERTIF.E FISCALIZ.-PRINCIPAL","0,00","0,00","1000000,00","0,00",10/05/2021,2021
134592,20000,Presidência da República,24208,Instituto Nacional de Tecnologia da Informação,243001,INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,"SERV.DE REGIST.,CERTIF.E FISCALIZ.-PRINCIPAL","0,00","0,00","1000000,00","0,00",23/03/2021,2021

In [13]:
se.reporte(df_datos_2021)

La tabla tiene 134593 filas y 16 columnas
La tabla tiene 0 filas duplicadas

,tipo_variables,contador_total,numero_nulos,porcentaje_nulos,valores_unicos,duplicados
CÓDIGO_ÓRGANO_SUPERIOR,int64,134593,0,0.00,20,134573
NOMBRE_ÓRGANO_SUPERIOR,object,134593,0,0.00,20,134573
CÓDIGO_ÓRGANO,int64,134593,0,0.00,257,134336
NOMBRE_ÓRGANO,object,134593,0,0.00,256,134337
CÓDIGO_UNIDAD_GESTORA,int64,134593,0,0.00,271,134322
NOMBRE_UNIDAD_GESTORA,object,134593,0,0.00,268,134325
CATEGORÍA_ECONÓMICA,object,134593,0,0.00,5,134588
ORIGEN_INGRESO,object,134593,0,0.00,15,134578
TIPO_INGRESO,object,134593,0,0.00,42,134551
DETALLE,object,134593,0,0.00,600,133993
VALOR_PREVISTO_ACTUALIZADO,object,134593,0,0.00,1803,132790
VALOR_REGISTRADO,object,134593,0,0.00,1191,133402
VALOR_REALIZADO,object,134593,0,0.00,99376,35217
PORCENTAJE_REALIZADO,object,134593,0,0.00,17,134576
FECHA_REGISTRO,object,134470,123,0.09,337,134255
AÑO_EJERCICIO,int64,134593,0,0.00,1,134592

In [14]:
se.conversion_columnas(df_datos_2021)

La tabla tiene 134593 filas y 16 columnas
La tabla tiene 0 filas duplicadas

,tipo_variables,contador_total,numero_nulos,porcentaje_nulos,valores_unicos,duplicados
CÓDIGO_ÓRGANO_SUPERIOR,object,134593,0,0.00,20,134573
NOMBRE_ÓRGANO_SUPERIOR,object,134593,0,0.00,20,134573
CÓDIGO_ÓRGANO,object,134593,0,0.00,257,134336
NOMBRE_ÓRGANO,object,134593,0,0.00,256,134337
CÓDIGO_UNIDAD_GESTORA,object,134593,0,0.00,271,134322
NOMBRE_UNIDAD_GESTORA,object,134593,0,0.00,268,134325
CATEGORÍA_ECONÓMICA,object,134593,0,0.00,5,134588
ORIGEN_INGRESO,object,134593,0,0.00,15,134578
TIPO_INGRESO,object,134593,0,0.00,42,134551
DETALLE,object,134593,0,0.00,600,133993
VALOR_PREVISTO_ACTUALIZADO,float64,134593,0,0.00,1803,132790
VALOR_REGISTRADO,float64,134593,0,0.00,1191,133402
VALOR_REALIZADO,float64,134593,0,0.00,99376,35217
PORCENTAJE_REALIZADO,float64,134593,0,0.00,17,134576
FECHA_REGISTRO,datetime64[ns],134470,123,0.09,337,134255
AÑO_EJERCICIO,int64,134593,0,0.00,1,134592

In [15]:
se.analisis_descriptivos_categóricas(df_datos_2021)

Las columnas categóricas son Index(['CÓDIGO_ÓRGANO_SUPERIOR', 'NOMBRE_ÓRGANO_SUPERIOR', 'CÓDIGO_ÓRGANO',
       'NOMBRE_ÓRGANO', 'CÓDIGO_UNIDAD_GESTORA', 'NOMBRE_UNIDAD_GESTORA',
       'CATEGORÍA_ECONÓMICA', 'ORIGEN_INGRESO', 'TIPO_INGRESO', 'DETALLE'],
      dtype='object')
Algunos ejemplos de filas son:

,CÓDIGO_ÓRGANO_SUPERIOR,NOMBRE_ÓRGANO_SUPERIOR,CÓDIGO_ÓRGANO,NOMBRE_ÓRGANO,CÓDIGO_UNIDAD_GESTORA,NOMBRE_UNIDAD_GESTORA,CATEGORÍA_ECONÓMICA,ORIGEN_INGRESO,TIPO_INGRESO,DETALLE
112742,36000,Ministério da Saúde,36213,Agência Nacional de Saúde Suplementar,253003,AGENCIA NACIONAL DE SAUDE SUPLEMENTAR,Receitas Correntes,"Impostos, Taxas e Contribuições de Melhoria",Taxas,"TAXAS INSPECAO,CONTROLE E FISCALIZACAO-DIV.AT"
49778,25000,Ministério da Economia,25000,Ministério da Economia - Unidades com vínculo ...,170013,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,Receitas Correntes,Receita Patrimonial,Delegação de Serviços Públicos Mediante Conce,DLG.SRV.TELEC-R.PUB-NAO.P.ORBITAIS/DA.PRC
16750,52000,Ministério da Defesa,52221,Indústria de Material Bélico do Brasil,168002,INDUSTRIA DE MATERIAL BELICO DO BRASIL/GESTOR,Receitas Correntes,Receita Industrial,Receita Industrial,RECEITA INDUSTRIAL-PRINCIPAL
84941,26000,Ministério da Educação,26285,Fundação Universidade Federal de São João Del-Rei,154069,FUNDACAO UNIVERSIDADE FEDERAL DE S.J.DEL-REI,Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.
62154,26000,Ministério da Educação,26406,Instituto Federal do Espírito Santo,158151,"INST.FED.DE EDUC.,CIENC.E TEC.DO ESP.SANTO",Receitas Correntes,Receita de Serviços,Serviços Administrativos e Comerciais Gerais,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.

Las características de estas columnas son:

,count,unique,top,freq
CÓDIGO_ÓRGANO_SUPERIOR,134593,20,26000,39869
NOMBRE_ÓRGANO_SUPERIOR,134593,20,Ministério da Educação,39869
CÓDIGO_ÓRGANO,134593,257,25000,21403
NOMBRE_ÓRGANO,134593,256,Ministério da Economia - Unidades com vínculo ...,21403
CÓDIGO_UNIDAD_GESTORA,134593,271,170013,20277
NOMBRE_UNIDAD_GESTORA,134593,268,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,20277
CATEGORÍA_ECONÓMICA,134593,5,Receitas Correntes,128090
ORIGEN_INGRESO,134593,15,Receita de Serviços,39917
TIPO_INGRESO,134593,42,Serviços Administrativos e Comerciais Gerais,34121
DETALLE,134593,600,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.,19532

In [16]:
se.analisis_descriptivos_numéricas(df_datos_2021)

Las columnas no categóricas son Index(['VALOR_PREVISTO_ACTUALIZADO', 'VALOR_REGISTRADO', 'VALOR_REALIZADO',
       'PORCENTAJE_REALIZADO', 'FECHA_REGISTRO', 'AÑO_EJERCICIO'],
      dtype='object')
Algunos ejemplos de filas son:

,VALOR_PREVISTO_ACTUALIZADO,VALOR_REGISTRADO,VALOR_REALIZADO,PORCENTAJE_REALIZADO,FECHA_REGISTRO,AÑO_EJERCICIO
64484,0.00,0.00,1629.00,0.00,2021-11-09,2021
37399,0.00,0.00,2340.62,0.00,2021-09-17,2021
10340,0.00,0.00,443.94,0.00,2021-06-02,2021
121291,0.00,0.00,33749135.02,0.00,2021-08-13,2021
28424,0.00,0.00,1429381.48,0.00,2021-08-10,2021

Las características de estas columnas son:

,count,mean,min,25%,50%,75%,max,std
VALOR_PREVISTO_ACTUALIZADO,134593.00,31061916.08,0.00,0.00,0.00,0.00,1603521711208.00,4734032653.06
VALOR_REGISTRADO,134593.00,2673161.08,-37505821629.82,0.00,0.00,0.00,114112106824.45,398805402.24
VALOR_REALIZADO,134593.00,28800695.61,-12126486130.06,304.56,4341.00,60573.33,55340292367.19,705929818.31
PORCENTAJE_REALIZADO,134593.00,0.00,-1.00,0.00,0.00,0.00,51.00,0.23
FECHA_REGISTRO,134470,2021-06-16 01:48:28.110359040,2021-01-01 00:00:00,2021-03-29 00:00:00,2021-06-15 00:00:00,2021-09-06 00:00:00,2021-12-03 00:00:00,NaN
AÑO_EJERCICIO,134593.00,2021.00,2021.00,2021.00,2021.00,2021.00,2021.00,0.00

# Análisis columnas de forma individual
## Año 2021

In [17]:
for columna in df_datos_2021.columns:
    print(se.analisis_individual_columnas(df_datos_2021, columna))

La categoría CÓDIGO_ÓRGANO_SUPERIOR tiene 20 elementos diferentes:

Los elementos de la categoría son:

array(['63000', '37000', '22000', '55000', '24000', '52000', '25000',
       '26000', '39000', '30000', '81000', '36000', '41000', '57000',
       '35000', '32000', '53000', '44000', '54000', '20000'], dtype=object)

Los 10 CÓDIGO_ÓRGANO_SUPERIOR que MAS aparecen son:

                        count  Porcentaje_recuento
CÓDIGO_ÓRGANO_SUPERIOR
26000                   39869                29.62
25000                   33787                25.10
52000                   13513                10.04
30000                    5947                 4.42
22000                    5819                 4.32
39000                    5298                 3.94
24000                    4766                 3.54
32000                    4557                 3.39
41000                    4127                 3.07
36000                    4110                 3.05

Los 10 CÓDIGO_ÓRGANO_SUPERIOR que MENOS aparecen son:

                        count  Porcentaje_recuento
CÓDIGO_ÓRGANO_SUPERIOR
53000                    4023                 2.99
44000                    3955                 2.94
54000                    3191                 2.37
55000                     526                 0.39
35000                     517                 0.38
20000                     375                 0.28
81000                     201                 0.15
57000                       9                 0.01
63000                       2                 0.00
37000                       1                 0.00

 Las distribución de las repeticiones de los CÓDIGO_ÓRGANO_SUPERIOR son:

       count  % repetición
count
39869      1          5.00
33787      1          5.00
13513      1          5.00
5947       1          5.00
5819       1          5.00
5298       1          5.00
4766       1          5.00
4557       1          5.00
4127       1          5.00
4110       1          5.00
4023       1          5.00
3955       1          5.00
3191       1          5.00
526        1          5.00
517        1          5.00
375        1          5.00
201        1          5.00
9          1          5.00
2          1          5.00
1          1          5.00

None
La categoría NOMBRE_ÓRGANO_SUPERIOR tiene 20 elementos diferentes:

Los elementos de la categoría son:

array(['Advocacia-Geral da União', 'Controladoria-Geral da União',
       'Ministério da Agricultura, Pecuária e Abastec',
       'Ministério da Cidadania',
       'Ministério da Ciência, Tecnologia, Inovações ',
       'Ministério da Defesa', 'Ministério da Economia',
       'Ministério da Educação', 'Ministério da Infraestrutura',
       'Ministério da Justiça e Segurança Pública',
       'Ministério da Mulher, Família e Direitos Huma',
       'Ministério da Saúde', 'Ministério das Comunicações',
       'Ministério das Mulheres, Igualdade Racial, da',
       'Ministério das Relações Exteriores',
       'Ministério de Minas e Energia',
       'Ministério do Desenvolvimento Regional',
       'Ministério do Meio Ambiente', 'Ministério do Turismo',
       'Presidência da República'], dtype=object)

Los 10 NOMBRE_ÓRGANO_SUPERIOR que MAS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_ÓRGANO_SUPERIOR
Ministério da Educação                         39869                29.62
Ministério da Economia                         33787                25.10
Ministério da Defesa                           13513                10.04
Ministério da Justiça e Segurança Pública       5947                 4.42
Ministério da Agricultura, Pecuária e Abastec   5819                 4.32
Ministério da Infraestrutura                    5298                 3.94
Ministério da Ciência, Tecnologia, Inovações    4766                 3.54
Ministério de Minas e Energia                   4557                 3.39
Ministério das Comunicações                     4127                 3.07
Ministério da Saúde                             4110                 3.05

Los 10 NOMBRE_ÓRGANO_SUPERIOR que MENOS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_ÓRGANO_SUPERIOR
Ministério do Desenvolvimento Regional          4023                 2.99
Ministério do Meio Ambiente                     3955                 2.94
Ministério do Turismo                           3191                 2.37
Ministério da Cidadania                          526                 0.39
Ministério das Relações Exteriores               517                 0.38
Presidência da República                         375                 0.28
Ministério da Mulher, Família e Direitos Huma    201                 0.15
Ministério das Mulheres, Igualdade Racial, da      9                 0.01
Advocacia-Geral da União                           2                 0.00
Controladoria-Geral da União                       1                 0.00

 Las distribución de las repeticiones de los NOMBRE_ÓRGANO_SUPERIOR son:

       count  % repetición
count
39869      1          5.00
33787      1          5.00
13513      1          5.00
5947       1          5.00
5819       1          5.00
5298       1          5.00
4766       1          5.00
4557       1          5.00
4127       1          5.00
4110       1          5.00
4023       1          5.00
3955       1          5.00
3191       1          5.00
526        1          5.00
517        1          5.00
375        1          5.00
201        1          5.00
9          1          5.00
2          1          5.00
1          1          5.00

None
La categoría CÓDIGO_ÓRGANO tiene 257 elementos diferentes:

Los elementos de la categoría son:

array(['63000', '37000', '22211', '22000', '22201', '22202', '44208',
       '22905', '49001', '55001', '55000', '24901', '20402', '20301',
       '20501', '24000', '24209', '20502', '52904', '52132', '52911',
       '52133', '52000', '52131', '52111', '52221', '52121', '52211',
       '31280', '52233', '52222', '25000', '37904', '37202', '38901',
       '30203', '20924', '25207', '25205', '25201', '25203', '28500',
       '25211', '22500', '61201', '25905', '25904', '20603', '20202',
       '25915', '25901', '30204', '37201', '90000', '33206', '25914',
       '25208', '26443', '26263', '26424', '26236', '26271', '26241',
       '26294', '26410', '26277', '26245', '26426', '26268', '26244',
       '26406', '26411', '26298', '26276', '26350', '26421', '26233',
       '26284', '26447', '26413', '26412', '26234', '26442', '26246',
       '26238', '26242', '26243', '26408', '26441', '26260', '26420',
       '26352', '26250', '26270', '26402', '26255', '26247', '26416',
       '26273', '26232', '26254', '26456', '26448', '26431', '26283',
       '26249', '26434', '26239', '26433', '26419', '26291', '26404',
       '26405', '26439', '26278', '26450', '26258', '26453', '26248',
       '26279', '26440', '26436', '26201', '26257', '26262', '26237',
       '26403', '26292', '26407', '26264', '26275', '26261', '26230',
       '26267', '26415', '26454', '26274', '26428', '26269', '26285',
       '26266', '26231', '26435', '26418', '26240', '26438', '26423',
       '26251', '26449', '26252', '26256', '26272', '26351', '26409',
       '26282', '26417', '26455', '26432', '26281', '26290', '26429',
       '26235', '26427', '26457', '26422', '26280', '26000', '26437',
       '26452', '26253', '26430', '26414', '26286', '26425', '39252',
       '39250', '62201', '29209', '56901', '68201', '39253', '49901',
       '39000', '62901', '30907', '30108', '30912', '30911', '30211',
       '30905', '30202', '30205', '30000', '30802', '30914', '30913',
       '81000', '36211', '36000', '36212', '36213', '36201', '36210',
       '41231', '41232', '41903', '41000', '24216', '20415', '64901',
       '35000', '35201', '32205', '32396', '32314', '29208', '32210',
       '32000', '20302', '20303', '53901', '22203', '22204', '74918',
       '53203', '29214', '53902', '74919', '44205', '53903', '53202',
       '53000', '53207', '74917', '29205', '56902', '20701', '44206',
       '44207', '44204', '44000', '44902', '34902', '54901', '20404',
       '20203', '20408', '42207', '20411', '20604', '54000', '20412',
       '20403', '20101', '20116', '60000', '24208'], dtype=object)

Los 10 CÓDIGO_ÓRGANO que MAS aparecen son:

               count  Porcentaje_recuento
CÓDIGO_ÓRGANO
25000          21403                15.90
52132           3926                 2.92
52904           3506                 2.60
37904           2383                 1.77
34902           2093                 1.56
20701           2042                 1.52
24901           2012                 1.49
32396           1843                 1.37
30203           1786                 1.33
52911           1717                 1.28

Los 10 CÓDIGO_ÓRGANO que MENOS aparecen son:

               count  Porcentaje_recuento
CÓDIGO_ÓRGANO
24208              5                 0.00
20402              5                 0.00
26454              4                 0.00
63000              2                 0.00
81000              2                 0.00
37000              1                 0.00
20408              1                 0.00
60000              1                 0.00
41000              1                 0.00
90000              1                 0.00

 Las distribución de las repeticiones de los CÓDIGO_ÓRGANO son:

       count  % repetición
count
1          5          1.95
63         4          1.56
16         4          1.56
446        3          1.17
19         3          1.17
...      ...           ...
25         1          0.39
29         1          0.39
11         1          0.39
6          1          0.39
4          1          0.39

[216 rows x 2 columns]

None
La categoría NOMBRE_ÓRGANO tiene 256 elementos diferentes:

Los elementos de la categoría son:

array(['Advocacia-Geral da União - Unidades com vínculo direto',
       'Controladoria-Geral da União - Unidades com vínculo direto',
       'Companhia Nacional de Abastecimento',
       'Ministério da Agricultura, Pecuária e Abastecimento - Unidades com vínculo direto',
       'Instituto Nacional de Colonização e Reforma Agrária',
       'Empresa Brasileira de Pesquisa Agropecuária',
       'Serviço Florestal Brasileiro',
       'Fundo de Defesa da Economia Cafeeira',
       'Fundo de Terras e da Reforma Agrária',
       'Fundo Nacional de Assistência Social',
       'Ministério da Cidadania - Unidades com vínculo direto',
       'Fundo Nacional de Desenvolvimento Científico e Tecnológico',
       'Agência Espacial Brasileira',
       'Comissão Nacional de Energia Nuclear',
       'Conselho Nacional de Desenvolvimento Científico e Tecnológico',
       'Ministério da Ciência, Tecnologia, Inovações e Comunicações - Unidades com vínculo direto',
       'Centro Nacional de Tecnologia Eletrônica Avançada S.A.',
       'Financiadora de Estudos e Projetos', 'Fundo do Exército',
       'Comando da Marinha - Fundo Naval', 'Fundo Aeronáutico',
       'Fundo de Desenvolvimento do Ensino Profissional Marítimo',
       'Ministério da Defesa - Unidades com vínculo direto',
       'Comando da Marinha', 'Comando da Aeronáutica',
       'Indústria de Material Bélico do Brasil', 'Comando do Exército',
       'Caixa de Financiamento Imobiliário da Aeronáutica',
       'Caixa de Construções de Casas para o Pessoal da Marinha do Brasil',
       'Amazônia Azul Tecnologia de Defesa S.A.', 'Fundação Osório',
       'Ministério da Economia - Unidades com vínculo direto',
       'Fundo do Regime Geral da Previdência Social',
       'Instituto Nacional do Seguro Social',
       'Fundo de Amparo ao Trabalhador',
       'Instituto Nacional de Metrologia, Qualidade e Tecnologia',
       'Fundo Nacional de Desenvolvimento',
       'Serviço Federal de Processamento de Dados',
       'Fundação Instituto Brasileiro de Geografia e Estatística',
       'Banco Central do Brasil - Orçamento Fiscal e Seguridade Social',
       'Comissão de Valores Mobiliários',
       'Fundo de Garantia para a Promoção da Competitividade',
       'Casa da Moeda do Brasil',
       'Companhia de Entrepostos e Armazéns Gerais de São Paulo',
       'Instituto de Pesquisa Econômica Aplicada',
       'Fundo de Apoio ao Desenvolvimento Social',
       'Fundo de Estabilidade do Seguro Rural',
       'Superintendência da Zona Franca de Manaus',
       'Fundação Escola Nacional de Administração Pública',
       'Fundo Constitucional do Distrito Federal',
       'Fundo de Compensação de Variações Salariais',
       'Instituto Nacional da Propriedade Industrial',
       'Fundação Jorge Duprat Figueiredo, de Segurança e Medicina do Trabalho',
       'Reserva de Contingência',
       'Superintendência Nacional de Previdência Complementar',
       'Fundo de Garantia à Exportação',
       'Superintendência de Seguros Privados',
       'Empresa Brasileira de Serviços Hospitalares',
       'Universidade Federal de Lavras', 'Instituto Federal do Tocantins',
       'Universidade Federal Fluminense',
       'Fundação Universidade de Brasília',
       'Universidade Federal do Paraná',
       'Hospital de Clínicas de Porto Alegre',
       'Instituto Federal do Norte de Minas Gerais',
       'Universidade Federal de Ouro Preto',
       'Universidade Federal do Rio de Janeiro',
       'Instituto Federal do Amapá',
       'Fundação Universidade Federal de Rondônia',
       'Universidade Federal do Rio Grande do Sul',
       'Instituto Federal do Espírito Santo',
       'Instituto Federal do Sudeste de Minas Gerais',
       'Fundo Nacional de Desenvolvimento da Educação',
       'Fundação Universidade Federal do Mato Grosso',
       'Fundação Universidade Federal da Grande Dourados',
       'Instituto Federal de Rondônia', 'Universidade Federal do Ceará',
       'Fundação Universidade Federal de Ciências da Saúde de Porto Alegre',
       'Universidade Federal do Oeste da Bahia',
       'Instituto Federal do Triângulo Mineiro',
       'Instituto Federal do Sul de Minas Gerais',
       'Universidade Federal do Espírito Santo',
       'Universidade da Integração Internacional da Lusofonia Afro-Brasileira',
       'Universidade Federal de Santa Catarina',
       'Universidade Federal de Minas Gerais',
       'Universidade Federal de Pernambuco',
       'Universidade Federal do Rio Grande do Norte',
       'Instituto Federal do Maranhão',
       'Universidade Federal do Oeste do Pará',
       'Universidade Federal de Alfenas', 'Instituto Federal Farroupilha',
       'Fundação Universidade Federal do ABC',
       'Universidade Federal de Roraima',
       'Fundação Universidade do Amazonas',
       'Instituto Federal de Alagoas',
       'Universidade Federal dos Vales do Jequitinhonha e Mucuri',
       'Universidade Federal de Santa Maria', 'Instituto Federal do Pará',
       'Universidade Federal do Rio Grande',
       'Universidade Federal da Bahia',
       'Universidade Federal do Triângulo Mineiro',
       'UNIVERSIDADE FEDERAL DO AGRESTE DE PERNAMBUCO',
       'Universidade Federal do Sul e Sudeste do Pará',
       'Instituto Federal do Piauí',
       'Fundação Universidade Federal do Mato Grosso do Sul',
       'Universidade Federal Rural do Rio de Janeiro',
       'Instituto Federal Fluminense', 'Universidade Federal do Pará',
       'Instituto Federal do Rio de Janeiro',
       'Instituto Federal do Rio Grande do Sul',
       'Fundação Coordenação de Aperfeiçoamento de Pessoal de Nível Superior',
       'Instituto Federal Baiano', 'Instituto Federal do Ceará',
       'Instituto Federal de São Paulo',
       'Fundação Universidade Federal de Pelotas',
       'Universidade Federal do Sul da Bahia',
       'Universidade Tecnológica Federal do Paraná',
       'UNIVERSIDADE FEDERAL DE JATAI',
       'Universidade Federal Rural de Pernambuco',
       'Fundação Universidade Federal do Piauí',
       'Universidade Federal da Fronteira Sul',
       'Instituto Federal Sul-rio-grandense', 'Colégio Pedro II',
       'Centro Federal de Educação Tecnológica de Minas Gerais',
       'Universidade Federal de São Paulo',
       'Universidade Federal de Juiz de Fora',
       'Instituto Federal do Amazonas', 'Fundação Joaquim Nabuco',
       'Instituto Federal Goiano',
       'Universidade Federal Rural do Semi-Árido',
       'Fundação Universidade Federal do Acre',
       'Universidade Federal de Itajubá',
       'Fundação Universidade Federal do Vale do São Francisco',
       'Universidade Federal da Integração Latino-Americana',
       'Instituto Federal do Mato Grosso do Sul',
       'UNIVERSIDADE FEDERAL DE RONDONOPOLIS',
       'Fundação Universidade Federal de Uberlândia',
       'Instituto Federal de Brasília',
       'Universidade Federal do Estado do Rio de Janeiro',
       'Fundação Universidade Federal de São João Del-Rei',
       'Fundação Universidade Federal do Pampa',
       'Universidade Federal de Alagoas',
       'Instituto Federal do Rio Grande do Norte',
       'Instituto Federal de Pernambuco',
       'Universidade Federal da Paraíba',
       'Instituto Federal de Santa Catarina',
       'Instituto Federal de Sergipe',
       'Fundação Universidade Federal do Tocantins',
       'Universidade Federal do Cariri',
       'Universidade Federal de Campina Grande',
       'Centro Federal de Educação Tecnológica Celso Suckow da Fonseca',
       'Fundação Universidade do Maranhão',
       'Universidade Federal do Recôncavo da Bahia',
       'Instituto Federal de Minas Gerais',
       'Universidade Federal de Viçosa', 'Instituto Federal da Paraíba',
       'UNIVERSIDADE FEDERAL DO DELTA DO PARNAIBA',
       'Instituto Federal do Paraná',
       'Fundação Universidade Federal de Sergipe',
       'Instituto Nacional de Estudos e Pesquisas Educacionais Anísio Teixeira',
       'Instituto Federal de Educação, Ciência e Tecnologia de Goiás',
       'Universidade Federal de Goiás', 'Instituto Federal da Bahia',
       'UNIVERSIDADE FEDERAL DO NORTE DE TOCANTINS',
       'Instituto Federal Catarinense',
       'Fundação Universidade Federal de São Carlos',
       'Ministério da Educação - Unidades com vínculo direto',
       'Instituto Federal de Roraima', 'UNIVERSIDADE FEDERAL DE CATALAO',
       'Universidade Federal Rural da Amazônia',
       'Instituto Federal do Sertão de Pernambuco',
       'Instituto Federal do Mato Grosso',
       'Fundação Universidade Federal do Amapá',
       'Instituto Federal do Acre',
       'Departamento Nacional de Infraestrutura de Transportes',
       'Agência Nacional de Transportes Terrestres',
       'Agência Nacional de Aviação Civil',
       'VALEC Engenharia, Construções e Ferrovias S.A.',
       'Fundo Nacional de Segurança e Educação de Trânsito',
       'Agência Nacional de Transportes Aquaviários',
       'Empresa de Planejamento e Logística S.A.',
       'Departamento do Fundo da Marinha Mercante',
       'Ministério da Infraestrutura - Unidades com vínculo direto',
       'Fundo Nacional de Aviação Civil', 'Fundo Penitenciário Nacional',
       'Departamento de Polícia Federal', 'Fundo Nacional Antidrogas',
       'Fundo Nacional de Segurança Pública',
       'Conselho Administrativo de Defesa Econômica',
       'Secretaria Nacional do Consumidor Fundo',
       'Fundação Nacional do Índio',
       'Fundação Nacional do Índio - Patrimônio Indígena',
       'Ministério da Justiça e Segurança Pública - Unidades com vínculo direto',
       'Departamento de Polícia Rodoviária Federal',
       'Fundo Nacional do Idoso',
       'Fundo Nacional para a Criança e o Adolescente',
       'Ministério da Mulher, Família e Direitos Humanos - Unidades com vínculo direto',
       'Fundação Nacional de Saúde',
       'Ministério da Saúde - Unidades com vínculo direto',
       'Agência Nacional de Vigilância Sanitária',
       'Agência Nacional de Saúde Suplementar', 'Fundação Oswaldo Cruz',
       'Hospital Nossa Senhora da Conceição S.A.',
       'Agêncial Nacional de Telecomunicações',
       'Fundo de Universalização dos Serviços de Telecomunicações',
       'Fundo para o Desenvolvimento Tecnológico das Telecomunicações',
       'Ministério das Comunicações - Unidades com vínculo direto',
       'TELECOMUNICACOES BRASILEIRAS S/A',
       'Empresa Brasil de Comunicação',
       'Ministério das Relações Exteriores - Unidades com vínculo direto',
       'Fundação Alexandre de Gusmão',
       'Agência Nacional do Petróleo, Gás Natural e Biocombustíveis',
       'Agência Nacional de Mineração', 'Empresa de Pesquisa Energética',
       'Companhia de Pesquisa de Recursos Minerais',
       'Agência Nacional de Energia Elétrica',
       'Ministério de Minas e Energia - Unidades com vínculo direto',
       'Nuclebrás Equipamentos Pesados S.A.',
       'Indústrias Nucleares do Brasil',
       'Fundo Constitucional de Financiamento do Norte',
       'Companhia de Desenvolvimento dos Vales do São Francisco e do Parnaíba',
       'Departamento Nacional de Obras Contra as Secas',
       'Fundo de Desenvolvimento do Nordeste',
       'Superintendência do Desenvolvimento do Nordeste',
       'Companhia Brasileira de Trens Urbanos',
       'Fundo Constitucional de Financiamento do Centro-Oeste',
       'Fundo de Desenvolvimento do Centro-Oeste',
       'Agência Nacional de Águas',
       'Fundo Constitucional de Financiamento do Nordeste',
       'Superintendência do Desenvolvimento da Amazônia',
       'Ministério do Desenvolvimento Regional - Unidades com vínculo direto',
       'Superintendência de Desenvolvimento do Centro-Oeste',
       'Fundo de Desenvolvimento da Amazônia',
       'Empresa de Trens Urbanos de Porto Alegre',
       'Fundo Nacional de Habitação de Interesse Social',
       'Instituto Brasileiro do Meio Ambiente e dos Recursos Naturais Renováveis',
       'Instituto de Pesquisas Jardim Botânico do Rio de Janeiro',
       'Instituto Chico Mendes de Conservação da Biodiversidade',
       'Fundo Nacional do Meio Ambiente',
       'Ministério do Meio Ambiente - Unidades com vínculo direto',
       'Fundo Nacional sobre Mudança no Clima',
       'Fundo Nacional de Cultura', 'Fundo Geral de Turismo',
       'Fundação Biblioteca Nacional', 'Agência Nacional do Cinema',
       'Fundação Cultural Palmares', 'Instituto Brasileiro de Museus',
       'Instituto do Patrimônio Histórico e Artístico Nacional',
       'Instituto Brasileiro de Turismo',
       'Ministério do Turismo - Unidades com vínculo direto',
       'Fundação Nacional de Artes', 'Fundação Casa de Rui Barbosa',
       'Presidência da República', 'Fundo de Imprensa Nacional',
       'Gabinete da Vice-Presidência da República',
       'Instituto Nacional de Tecnologia da Informação'], dtype=object)

Los 10 NOMBRE_ÓRGANO que MAS aparecen son:

                                                    count  Porcentaje_recuento
NOMBRE_ÓRGANO
Ministério da Economia - Unidades com vínculo d...  21403                15.90
Comando da Marinha - Fundo Naval                     3926                 2.92
Fundo do Exército                                    3506                 2.60
Fundo do Regime Geral da Previdência Social          2383                 1.77
Fundo Nacional de Cultura                            2093                 1.56
Instituto Brasileiro do Meio Ambiente e dos Rec...   2042                 1.52
Fundo Nacional de Desenvolvimento Científico e ...   2012                 1.49
Agência Nacional de Mineração                        1843                 1.37
Instituto Nacional de Metrologia, Qualidade e T...   1786                 1.33
Fundo Aeronáutico                                    1717                 1.28

Los 10 NOMBRE_ÓRGANO que MENOS aparecen son:

                                                    count  Porcentaje_recuento
NOMBRE_ÓRGANO
Instituto Nacional de Tecnologia da Informação          5                 0.00
Agência Espacial Brasileira                             5                 0.00
UNIVERSIDADE FEDERAL DE RONDONOPOLIS                    4                 0.00
Ministério da Mulher, Família e Direitos Humano...      2                 0.00
Advocacia-Geral da União - Unidades com vínculo...      2                 0.00
Reserva de Contingência                                 1                 0.00
Controladoria-Geral da União - Unidades com vín...      1                 0.00
Ministério das Comunicações - Unidades com vínc...      1                 0.00
Fundação Cultural Palmares                              1                 0.00
Gabinete da Vice-Presidência da República               1                 0.00

 Las distribución de las repeticiones de los NOMBRE_ÓRGANO son:

       count  % repetición
count
1          5          1.95
63         4          1.56
16         4          1.56
446        3          1.17
19         3          1.17
...      ...           ...
25         1          0.39
29         1          0.39
11         1          0.39
6          1          0.39
4          1          0.39

[216 rows x 2 columns]

None
La categoría CÓDIGO_UNIDAD_GESTORA tiene 271 elementos diferentes:

Los elementos de la categoría son:

array(['110060', '370001', '135100', '130101', '373001', '135037',
       '440088', '130137', '490003', '330013', '550002', '240901',
       '203001', '113209', '364001', '240102', '364999', '245209',
       '365001', '167086', '673001', '121002', '873001', '110407',
       '211999', '120002', '168002', '773001', '160075', '120999',
       '123001', '773008', '699999', '773009', '164204', '170010',
       '170013', '513001', '510001', '380910', '183023', '201924',
       '806001', '114601', '173057', '173030', '287001', '179083',
       '225001', '113601', '170380', '170008', '179103', '193028',
       '114702', '170392', '170381', '183038', '264001', '390001',
       '333001', '170356', '173039', '155007', '153032', '158131',
       '153056', '154040', '153079', '155001', '158121', '154046',
       '153115', '158150', '154055', '153114', '158151', '158123',
       '153173', '154045', '154502', '158148', '153045', '154032',
       '158717', '158099', '158137', '153046', '158565', '153163',
       '153062', '153080', '153103', '158128', '158515', '153028',
       '158127', '154503', '154080', '154039', '158147', '153036',
       '153164', '158135', '154042', '153038', '153035', '156687',
       '158718', '158146', '154054', '153166', '158139', '153063',
       '158157', '158141', '154999', '158129', '158133', '158154',
       '154047', '158720', '153019', '156678', '153165', '154048',
       '158517', '158126', '153167', '153015', '153031', '153061',
       '158142', '344002', '158124', '153033', '154044', '153030',
       '154421', '158658', '158132', '156677', '154003', '154043',
       '158143', '154034', '154069', '154359', '153037', '158155',
       '158136', '153065', '158516', '158274', '158134', '154419',
       '158719', '158195', '153010', '154041', '158092', '158122',
       '154051', '158138', '156680', '158009', '154050', '153978',
       '158153', '153052', '158145', '156763', '158125', '154049',
       '150014', '158152', '156679', '153034', '158149', '158144',
       '154215', '158156', '393003', '393001', '113214', '275075',
       '200320', '682010', '395001', '277001', '390002', '110591',
       '200333', '200336', '200246', '200331', '303001', '200401',
       '194088', '194040', '200094', '200278', '307002', '307001',
       '810002', '255014', '250088', '253002', '253003', '255011',
       '254420', '255000', '366003', '255003', '255008', '255015',
       '413001', '413047', '410007', '410002', '242160', '115406',
       '110244', '240999', '244001', '240005', '323030', '323100',
       '325001', '495001', '323028', '320002', '113208', '113206',
       '537002', '195006', '113802', '533009', '533014', '275068',
       '537003', '537004', '443003', '537001', '533013', '530002',
       '533018', '533008', '275060', '560015', '193034', '443019',
       '443032', '443045', '440002', '447001', '540030', '187002',
       '344042', '203003', '344041', '423001', '403101', '185001',
       '540001', '403201', '344001', '110005', '110245', '110101',
       '243001'], dtype=object)

Los 10 CÓDIGO_UNIDAD_GESTORA que MAS aparecen son:

                       count  Porcentaje_recuento
CÓDIGO_UNIDAD_GESTORA
170013                 20277                15.07
167086                  3506                 2.60
673001                  2969                 2.21
513001                  2383                 1.77
540030                  2093                 1.56
193034                  2042                 1.52
240901                  2012                 1.49
323100                  1843                 1.37
183023                  1786                 1.33
121002                  1717                 1.28

Los 10 CÓDIGO_UNIDAD_GESTORA que MENOS aparecen son:

                       count  Porcentaje_recuento
CÓDIGO_UNIDAD_GESTORA
370001                     1                 0.00
158274                     1                 0.00
410002                     1                 0.00
255015                     1                 0.00
255003                     1                 0.00
255008                     1                 0.00
255014                     1                 0.00
255011                     1                 0.00
344041                     1                 0.00
110101                     1                 0.00

 Las distribución de las repeticiones de los CÓDIGO_UNIDAD_GESTORA son:

       count  % repetición
count
1         11          4.06
63         4          1.48
16         4          1.48
19         3          1.11
446        3          1.11
...      ...           ...
23         1          0.37
29         1          0.37
10         1          0.37
6          1          0.37
4          1          0.37

[219 rows x 2 columns]

None
La categoría NOMBRE_UNIDAD_GESTORA tiene 268 elementos diferentes:

Los elementos de la categoría son:

array(['COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU',
       'DIRETORIA DE GESTAO INTERNA(CGU)',
       'COMPANHIA NACIONAL DE ABASTECIMENTO',
       'COORD.-GERAL DE ORCAMENTO E FINANCAS-MAPA',
       'DPTO. DE ADMINISTRACAO FINANCEIRA-DAF - INCRA',
       'EMBRAPA-SETORIAL', 'SETORIAL PROG.ORCAMENTARIA E FINANCEIRA-SFB',
       'FUNDO DE DEFESA DA ECON.CAFEEIRA/FUNCAFE/SPA',
       'CREDITO FUNDIARIO', 'FUNDO NACIONAL DE ASSISTENCIA SOCIAL',
       'SETORIAL DE ORCAMENTO E FINANCAS/MC',
       'FUNDO NAC.DE DESENV. CIENT. E TECNOLOGICO',
       'AGENCIA ESPACIAL BRASILEIRA/AEB', 'CNEN-ORCAMENTO E FINANCAS',
       'CNPQ - ADMINISTRACAO CENTRAL',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS',
       'CNPQ - DIFERENCIA CAMBIAL',
       'CENTRO NACIONAL DE TECNOLOGIA ELETRONICA AVAN',
       'FINANCIADORA DE ESTUDOS E PROJETOS', 'FUNDO DO EXERCITO',
       'DIRETORIA DE FINANCAS-SISTEMA PARA O PAIS/MM',
       'SECRETARIA DE ECON. E FIN.DA AER.- F.AER.',
       'DEPARTAMENTO DE PLANEJ, ORC E FINANCAS (MD)',
       'MARINHA - DIFERENCA CAMBIAL',
       'DIRETORIA DE ECON E FINANCAS DA AERONAUTICA',
       'INDUSTRIA DE MATERIAL BELICO DO BRASIL/GESTOR',
       'DIRETORIA DE FINANCAS DA MARINHA-SISTEMA-PAIS',
       'D CONT - SETORIAL FINANCEIRA', 'MAER - DIFERENCA CAMBIAL',
       'CAIXA FINANCIAMENTO IMOBILIARIO AERONAUTICA',
       'DIRETORIA DE FINANCAS DA MARINHA - CCCPM',
       'FUNDO NAVAL - DIFERENCA CAMBIAL',
       'DIRETORIA DE FINANCAS DA MARINHA - AMAZUL', 'FUNDACAO OSORIO',
       'SECRETARIA DA RECEITA FEDERAL DO BRASIL-RFB',
       'SETORIAL ORCAMENTARIA E FINANCEIRA / ME',
       'COORDENACAO DE ORCAMENTO E FINANCAS DO FRGPS',
       'COORD.GERAL DE ORCAMENTO, FINANCAS E CONTAB.',
       'COORD-GERAL DE ORCAMENTO, FIN. E CONT.- CGOFC',
       'INSTITUTO NAC.DE METROLOG. QUALID. E TECNOLOG',
       'FUNDO NACIONAL DE DESENVOLVIMENTO',
       'SERPRO-SEDE - DEPARTAMENTO FINANCEIRO',
       'FUNDACAO IBGE-ADMINISTRACAO CENTRAL/RJ',
       'BANCO CENTRAL DO BRASIL', 'COMISSAO DE VALORES MOBILIARIOS',
       'FUNDO DE GAR.P/PROMOC.DA COMPETITIVIDADE±FGPC',
       'CASA DA MOEDA DO BRASIL',
       'CIA.DE ENTREPOSTOS E ARMAZENS GER.DE S.PAULO',
       'INSTITUTO DE PESQUISA ECONOMICA APLICADA',
       'FUNDO DE APOIO AO DESENVOLVIMENTO SOCIAL',
       'PROCURADORIA GERAL DA FAZENDA NACIONAL',
       'FUNDO DE ESTABILIDADE DO SEGURO RURAL',
       'SUPERINTENDENCIA DA ZONA FRANCA DE MANAUS/AM',
       'FUNDACAO ESCOLA NACIONAL DE ADM. PUBLICA',
       'FUNDO CONSTITUCIONAL DO DISTRITO FEDERAL',
       'FUNDO DE COMPENSACAO E VARIACAO SALARIAL',
       'INSTITUTO NACIONAL DA PROPRIEDADE INDUSTRIAL',
       'FUNDACENTRO - FUND.JORGE DUPRAT/CTN/SEDE - SP',
       'RESERVA DE CONTINGENCIA/MEFP',
       'COORD.GERAL DE ORC. FIN. E CONTABILIDADE',
       'FUNDO DE GARANTIA A EXPORTACAO-BNDES',
       'SUPERINTENDENCIA DE SEGUROS PRIVADOS - RJ',
       'EMPRESA BRASILEIRA DE SERVICOS HOSPITALARES',
       'UNIVERSIDADE FEDERAL DE LAVRAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO TOCANTINS',
       'UNIVERSIDADE FEDERAL FLUMINENSE',
       'FUNDACAO UNIVERSIDADE DE BRASILIA - FUB',
       'UNIVERSIDADE FEDERAL DO PARANA',
       'HOSPITAL DE CLINICAS DE PORTO ALEGRE',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO NORTE DE MG',
       'UNIVERSIDADE FEDERAL DE OURO PRETO',
       'UNIVERSIDADE FEDERAL DO RIO DE JANEIRO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO AMAPA',
       'FUNDACAO UNIVERSIDADE FEDERAL DE RONDONIA',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE DO SUL',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO ESP.SANTO',
       'INSTITUTO FED CIENCIA TECNOL SUDESTE MG',
       'FUNDO NACIONAL DE DESENVOLVIMENTO DA EDUCACAO',
       'FUNDACAO UNIVERSIDADE FEDERAL DE MATO GROSSO',
       'FUNDACAO UNIVERSIDADE FED. DA GRANDE DOURADOS',
       'INST. FED. DE EDUC.,CIENC. E TEC. DE RONDONIA',
       'UNIVERSIDADE FEDERAL DO CEARA',
       'FUND.UNIV.FED.DE.CIENC.DA SAUDE DE P.ALEGRE',
       'UNIVERSIDADE FEDERAL DO OESTE DA BAHIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO TRIA.MINEIRO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO SUL DE MG',
       'UNIVERSIDADE FEDERAL DO ESPIRITO SANTO',
       'UNIV.DA INTEG.INTERN.DA LUSOF.AFRO-BRASILEIRA',
       'UNIVERSIDADE FEDERAL DE SANTA CATARINA',
       'UNIVERSIDADE FEDERAL DE MINAS GERAIS',
       'UNIVERSIDADE FEDERAL DE PERNAMBUCO',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE DO NORTE',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MARANHAO',
       'UNIVERSIDADE FEDERAL DO OESTE DO PARA',
       'UNIVERSIDADE FEDERAL DE ALFENAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.FARROUPILHA',
       'FUNDACAO UNIVERSIDADE FEDERAL DO ABC',
       'UNIVERSIDADE FEDERAL DE RORAIMA',
       'FUNDACAO UNIVERSIDADE DO AMAZONAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE ALAGOAS',
       'UNIVERSIDADE FED.VALES JEQUITINHONHA E MUCURI',
       'UNIVERSIDADE FEDERAL DE SANTA MARIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO PARA',
       'UNIVERSIDADE FEDERAL DO RIO GRANDE - FURG',
       'UNIVERSIDADE FEDERAL DA BAHIA',
       'UNIVERSIDADE FEDERAL DO TRIANGULO MINEIRO',
       'UNIVERSIDADE FEDERAL DO AGRESTE DE PERNAMBUCO',
       'UNIVERSIDADE FEDERAL DO SUL E SUDESTE DO PARA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO PIAUI',
       'FUNDACAO UNIVERS.FED. DE MATO GROSSO DO SUL',
       'UNIVERSIDADE FEDERAL RURAL DO RIO DE JANEIRO',
       'INST.FED.DE EDUC.,CIENC.E TEC.FLUMINENSE',
       'UNIVERSIDADE FEDERAL DO PARA', 'REITORIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO RS', 'CAPES - DIFERENCA CAMBIAL',
       'INST FED DE EDUC CIENC E TECNOLOGIA BAIANO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO CEARA',
       'INSTITUTO FEDERAL DE SAO PAULO',
       'FUNDACAO UNIVERSIDADE FEDERAL DE PELOTAS',
       'UNIVERSIDADE FEDERAL DO SUL DA BAHIA',
       'UNIVERSIDADE TECNOLOGICA FEDERAL DO PARANA',
       'UNIVERSIDADE FEDERAL DE JATAI',
       'UNIVERSIDADE FEDERAL RURAL DE PERNAMBUCO',
       'FUNDACAO UNIVERSIDADE FEDERAL DO PIAUI',
       'UNIVERSIDADE FEDERAL DA FRONTEIRA SUL',
       'INST.FED.DE EDUC.,CIE.E TEC.SUL-RIO-GRANDENSE',
       'COLEGIO PEDRO II', 'CENTRO FEDERAL DE EDUCACAO TECNOLOGICA DE MG',
       'UNIFESP-UNIVERSIDADE FEDERAL DE SAO PAULO',
       'UNIVERSIDADE FEDERAL DE JUIZ DE FORA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO AMAZONAS',
       'FUNDACAO JOAQUIM NABUCO', 'IF GOIANO',
       'UNIVERSIDADE FEDERAL RURAL DO SEMI-ARIDO - RN',
       'FUNDACAO UNIVERSIDADE FEDERAL DO ACRE',
       'UNIVERSIDADE FEDERAL DE ITAJUBA',
       'FUND. UNIVERSIDADE FEDERAL VALE SAO FRANCISCO',
       'UNIV. FEDERAL DA INTEGRACAO LATINO-AMERICANA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MAT.G.DO SUL',
       'UNIVERSIDADE FEDERAL DE RONDONOPOLIS',
       'FUND.COORD.DE APERF.DE PESSOAL NIVEL SUPERIOR',
       'FUNDACAO UNIVERSIDADE FEDERAL DE UBERLANDIA',
       'IFB - REITORIA - BRASILIA-DF',
       'UNIRIO UNIVERSIDADE FEDERAL DO ESTADO RJ',
       'FUNDACAO UNIVERSIDADE FEDERAL DE S.J.DEL-REI',
       'FUNDACAO UNIVERSIDADE FEDERAL DO PAMPA',
       'UNIVERSIDADE FEDERAL DE ALAGOAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO RN',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE PERNAMBUCO',
       'UNIVERSIDADE FEDERAL DA PARAIBA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE STA.CAT/IFSC',
       'INST.FED. FLUMINENSE/CAMPUS CAMPOS-CENTRO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE SERGIPE',
       'FUNDACAO UNIVERSIDADE FEDERAL DO TOCANTINS',
       'UNIVERSIDADE FEDERAL DO CARIRI',
       'UNIVERSIDADE FEDERAL DE CAMPINA GRANDE',
       'CENTRO FED.DE EDUC.TECNOL.CELSO S.DA FONSECA',
       'FUNDACAO UNIVERSIDADE DO MARANHAO',
       'UNIVERSIDADE FEDERAL DO RECONCAVO DA BAHIA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE MINAS GERAIS',
       'UNIVERSIDADE FEDERAL DE VICOSA', 'IFPB - REITORIA',
       'UNIVERSIDADE FEDERAL DO DELTA DO PARNAIBA',
       'INST. FED. DO PARANA/ REITORIA',
       'FUNDACAO UNIVERSIDADE FEDERAL DE SERGIPE',
       'INST.NACIONAL DE EST.E PESQUISAS EDUCACIONAIS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE GOIAS',
       'UNIVERSIDADE FEDERAL DE GOIAS',
       'INST.FED.DE EDUC.,CIENC.E TEC.DA BAHIA',
       'UNIVERSIDADE FEDERAL DO NORTE DE TOCANTINS',
       'INSTITUTO FEDERAL CATARINENSE - REITORIA',
       'FUNDACAO UNIVERSIDADE FEDERAL DE SAO CARLOS',
       'SUBSECRETARIA DE PLANEJ. E ORCAMENTO SPO(MEC)',
       'INST.FED.DE EDUC.,CIENC.E TEC.DE RORAIMA',
       'UNIVERSIDADE FEDERAL DE CATALAO',
       'UNIVERSIDADE FEDERAL RURAL DA AMAZONIA',
       'INST.FED.DE ED.,CIENC.E TEC.DO S.PERNAMBUCANO',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO MATO GROSSO',
       'FUNDACAO UNIVERSIDADE FEDERAL DO AMAPA',
       'INST.FED.DE EDUC.,CIENC.E TEC.DO ACRE',
       'DEPART.NAC.INFRA ESTRUTURA TRANSPORTES.',
       'AGENCIA NACIONAL DE TRANSPORTES TERRESTRES',
       'AGENCIA NACIONAL DE AVIACAO CIVIL',
       'VALEC ENGENHARIA CONSTRUCOES E FERROVIAS S/A.',
       'FUNDO NACIONAL DE SEG. E EDUCACAO DE TRANSITO',
       'AGENCIA NACIONAL DE TRANSPORTES AQUAVIARIOS',
       'EMPRESA DE PLANEJAMENTO E LOGISTICA S.A - EPL',
       'FUNDO DA MARINHA MERCANTE',
       'SUBSECRETARIA DE PLAN.,ORCAM.E ADMIN.SETORIAL',
       'FUNDO NACIONAL DE AVIACAO CIVIL', 'DEPEN - DIRETORIA EXECUTIVA',
       'COORDENACAO DE ORCAMENTO FINANCAS CONTABILIDA',
       'FUNDO NACIONAL ANTIDROGAS',
       'FUNDO NACIONAL DE SEGURANCA PUBLICA - FNSP',
       'CONSELHO ADMINISTRATIVO DE DEFESA ECONOMICA',
       'FUNDO DE DEFESA DOS DIREITOS DIFUSOS',
       'FUNDACAO NACIONAL DO INDIO - U.O.',
       'RENDA DO PATRIMONIO INDIGENA',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS-MJ',
       'COORDENACAO DE ORCAMENTO E FINANCAS - PRF',
       'FUNDO NACIONAL DO IDOSO',
       'FUNDO NACIONAL PARA A CRIANCA E O ADOLESCENTE',
       'SETORIAL ORCAMENTARIA E FINANCEIRA - MDH',
       'FUNDACAO NACIONAL DE SAUDE - PA',
       'SPO-COORD.-GERAL DE ORC.E FINANCAS/MS',
       'AGENCIA NACIONAL DE VIGILANCIA SANITARIA',
       'AGENCIA NACIONAL DE SAUDE SUPLEMENTAR',
       'FUNDACAO NACIONAL DE SAUDE - MT', 'FUNDACAO OSWALDO CRUZ',
       'FUNDACAO NACIONAL DE SAUDE - DF',
       'HOSPITAL NOSSA SENHORA DA CONCEICAO S/A',
       'FUNDACAO NACIONAL DE SAUDE - AP',
       'FUNDACAO NACIONAL DE SAUDE - ES',
       'FUNDACAO NACIONAL DE SAUDE - PB',
       'AGENCIA NACIONAL DE TELECOMUNICACOES-SEDE',
       'FUNDO DE UNIVERS.DOS SERV.TELECOMUNICACOES',
       'FUNDO P/O DESENV.TECNOL.DAS TELECOMUNICACOES',
       'TELECOMUNICACOES BRASILEIRAS S/A',
       'EMPRESA BRASIL DE COMUNICACAO S.A', 'MRE - DIFERENCA CAMBIAL',
       'FUNDACAO ALEXANDRE DE GUSMAO',
       'COORDENACAO-GERAL DE ORCAMENTO E FINANCAS-MRE',
       'AG. NAC.DO PETROLEO GAS NAT.E BIOCOM',
       'SETORIAL ORCAMENTARIA E FINANCEIRA - ANM',
       'EMPRESA DE PESQUISA ENERGETICA',
       'COMPANHIA DE PESQUISA DE RECURSOS MINERAIS',
       'AGENCIA NACIONAL DE ENERGIA ELETRICA',
       'COORD.GERAL DE ORCAM.E FIN./M.M.E',
       'NUCLEBRAS EQUIPAMENTOS PESADOS S/A-NUCLEP',
       'INDUSTRIAS NUCLEARES DO BRASIL S/A - INB',
       'FUNDO CONSTITUCIONAL FINANCIAMENTO NORTE',
       'CIA DE DES.DOS VALES DO S.FRANC.E DO PARNAIBA',
       'DEPARTAMENTO NAC. DE OBRAS CONTRA AS SECAS/UO',
       'FUNDO DE DESENVOLVIMENTO DO NORDESTE',
       'SUPERINTENDENCIA DO DESENVOLV. DO NORDESTE',
       'CIA BRASILEIRA DE TRENS URBANOS-ADM.CENTRAL',
       'FUNDO CONSTITUCIONL DO CENTRO OESTE',
       'FUNDO DE DESENVOLVIMENTO DO CENTRO-OESTE',
       'COORDENACAO DE ORCAMENTO E FINANCAS.',
       'FUNDO CONSTITUCIONAL DE FINANCIAM.DO NORDESTE',
       'SUPERINTEND. DO DESENVOLVIMENTO DA AMAZONIA',
       'ORCAMENTO E FINANCAS/MDR',
       'SUPERINT. DO DESENVOLVIMENTO DO CENTRO-OESTE',
       'FUNDO DE DESENVOLVIMENTO DA AMAZONIA',
       'EMPRESA DE TRENS URBANOS DE PORTO ALEGRE S/A',
       'FUNDO NACIONAL DE HABIT. DE INTERESSE SOCIAL',
       'IBAMA - INST.BRASILEIRO MEIO AMBIENTE/MATRIZ',
       'COORD. DE PLAN. ORCAMENTO E FIN./COPLAN/JBRJ',
       'INST.CHICO MENDES DE CONSER.DA BIODIVERSIDADE',
       'SETORIAL ORCAMENTARIA E FINANCEIRA DO FNMA',
       'SUBSECRET.PLANEJAM.ORCAM.E ADMINIST±SPOA(MMA)',
       'SETORIAL ORCAMENTARIA E FINANCEIRA DO FNMC',
       'FUNDO NACIONAL DA CULTURA - FNC',
       'FUNDO GERAL DE TURISMO-FUNGETUR', 'FUNDACAO BIBLIOTECA NACIONAL',
       'AGENCIA NACIONAL DO CINEMA', 'FUNDACAO CULTURAL PALMARES',
       'INSTITUTO BRASILEIRO DE MUSEUS - IBRAM',
       'INSTITUTO DO PATRIMONIO HIST. E ART. NACIONAL',
       'INSTITUTO BRASILEIRO DE TURISMO - EM EXTINCAO',
       'CGOFC - SETORIAL/MTUR', 'FUNDACAO NACIONAL DE ARTES',
       'FUNDACAO CASA DE RUI BARBOSA',
       'SECRETARIA DE ADMINISTRACAO-SET.ORC.E FIN./PR',
       'FUNDO DE IMPRENSA NACIONAL/EXEC.ORC.FINANC.',
       'GABINETE DA VICE-PRESIDENCIA DA REPUBLICA',
       'INSTITUTO NAC.DE TECNOLOGIA DA INFORMACAO ITI'], dtype=object)

Los 10 NOMBRE_UNIDAD_GESTORA que MAS aparecen son:

                                               count  Porcentaje_recuento
NOMBRE_UNIDAD_GESTORA
SETORIAL ORCAMENTARIA E FINANCEIRA / ME        20277                15.07
DIRETORIA DE FINANCAS-SISTEMA PARA O PAIS/MM    3640                 2.70
FUNDO DO EXERCITO                               3506                 2.60
COORDENACAO DE ORCAMENTO E FINANCAS DO FRGPS    2383                 1.77
FUNDO NACIONAL DA CULTURA - FNC                 2093                 1.56
IBAMA - INST.BRASILEIRO MEIO AMBIENTE/MATRIZ    2042                 1.52
FUNDO NAC.DE DESENV. CIENT. E TECNOLOGICO       2012                 1.49
SETORIAL ORCAMENTARIA E FINANCEIRA - ANM        1843                 1.37
INSTITUTO NAC.DE METROLOG. QUALID. E TECNOLOG   1786                 1.33
SECRETARIA DE ECON. E FIN.DA AER.- F.AER.       1717                 1.28

Los 10 NOMBRE_UNIDAD_GESTORA que MENOS aparecen son:

                                           count  Porcentaje_recuento
NOMBRE_UNIDAD_GESTORA
DIRETORIA DE GESTAO INTERNA(CGU)               1                 0.00
INST.FED. FLUMINENSE/CAMPUS CAMPOS-CENTRO      1                 0.00
FUNDACAO NACIONAL DE SAUDE - AP                1                 0.00
RESERVA DE CONTINGENCIA/MEFP                   1                 0.00
FUNDACAO NACIONAL DE SAUDE - PA                1                 0.00
FUNDACAO NACIONAL DE SAUDE - MT                1                 0.00
FUNDACAO NACIONAL DE SAUDE - ES                1                 0.00
FUNDACAO NACIONAL DE SAUDE - PB                1                 0.00
FUNDACAO CULTURAL PALMARES                     1                 0.00
GABINETE DA VICE-PRESIDENCIA DA REPUBLICA      1                 0.00

 Las distribución de las repeticiones de los NOMBRE_UNIDAD_GESTORA son:

       count  % repetición
count
1         10          3.73
63         4          1.49
16         4          1.49
19         3          1.12
446        3          1.12
...      ...           ...
23         1          0.37
29         1          0.37
10         1          0.37
6          1          0.37
4          1          0.37

[218 rows x 2 columns]

None
La categoría CATEGORÍA_ECONÓMICA tiene 5 elementos diferentes:

Los elementos de la categoría son:

array(['Receitas de Capital', 'Receitas Correntes',
       'Receitas Correntes - intra-orçamentárias', 'Sem informação',
       'Receitas de Capital - intra-orçamentárias'], dtype=object)

Los 10 CATEGORÍA_ECONÓMICA que MAS aparecen son:

                                            count  Porcentaje_recuento
CATEGORÍA_ECONÓMICA
Receitas Correntes                         128090                95.17
Receitas de Capital                          4292                 3.19
Receitas Correntes - intra-orçamentárias     2180                 1.62
Sem informação                                 16                 0.01
Receitas de Capital - intra-orçamentárias      15                 0.01

Los 10 CATEGORÍA_ECONÓMICA que MENOS aparecen son:

                                            count  Porcentaje_recuento
CATEGORÍA_ECONÓMICA
Receitas Correntes                         128090                95.17
Receitas de Capital                          4292                 3.19
Receitas Correntes - intra-orçamentárias     2180                 1.62
Sem informação                                 16                 0.01
Receitas de Capital - intra-orçamentárias      15                 0.01

 Las distribución de las repeticiones de los CATEGORÍA_ECONÓMICA son:

        count  % repetición
count
128090      1         20.00
4292        1         20.00
2180        1         20.00
16          1         20.00
15          1         20.00

None
La categoría ORIGEN_INGRESO tiene 15 elementos diferentes:

Los elementos de la categoría son:

array(['Operações de Crédito', 'Receitas Correntes - a classificar',
       'Receita de Serviços', 'Contribuições',
       'Outras Receitas Correntes', 'Alienação de Bens',
       'Receita Patrimonial', 'Transferências Correntes',
       'Impostos, Taxas e Contribuições de Melhoria',
       'Amortizações de Empréstimos', 'Receita Agropecuária',
       'Transferências de Capital', 'Receita Industrial',
       'Outras Receitas de Capital', 'Sem informação'], dtype=object)

Los 10 ORIGEN_INGRESO que MAS aparecen son:

                                             count  Porcentaje_recuento
ORIGEN_INGRESO
Receita de Serviços                          39917                29.66
Outras Receitas Correntes                    39485                29.34
Receita Patrimonial                          20964                15.58
Impostos, Taxas e Contribuições de Melhoria  13536                10.06
Contribuições                                11748                 8.73
Receita Agropecuária                          1902                 1.41
Receita Industrial                            1891                 1.40
Amortizações de Empréstimos                   1818                 1.35
Alienação de Bens                             1457                 1.08
Operações de Crédito                           840                 0.62

Los 10 ORIGEN_INGRESO que MENOS aparecen son:

                                    count  Porcentaje_recuento
ORIGEN_INGRESO
Receita Agropecuária                 1902                 1.41
Receita Industrial                   1891                 1.40
Amortizações de Empréstimos          1818                 1.35
Alienação de Bens                    1457                 1.08
Operações de Crédito                  840                 0.62
Transferências Correntes              647                 0.48
Receitas Correntes - a classificar    180                 0.13
Outras Receitas de Capital            157                 0.12
Transferências de Capital              35                 0.03
Sem informação                         16                 0.01

 Las distribución de las repeticiones de los ORIGEN_INGRESO son:

       count  % repetición
count
39917      1          6.67
39485      1          6.67
20964      1          6.67
13536      1          6.67
11748      1          6.67
1902       1          6.67
1891       1          6.67
1818       1          6.67
1457       1          6.67
840        1          6.67
647        1          6.67
180        1          6.67
157        1          6.67
35         1          6.67
16         1          6.67

None
La categoría TIPO_INGRESO tiene 42 elementos diferentes:

Los elementos de la categoría son:

array(['Operações de crédito - mercado interno',
       'Receitas Correntes - a classificar',
       'Serviços Administrativos e Comerciais Gerais',
       'Contribuições sociais',
       'Multas administrativas, contratuais e judicia',
       'Indenizações, restituições e ressarcimentos',
       'Alienação de bens móveis', 'Exploração de recursos naturais',
       'Transferências de Instituições Privadas',
       'Operações de crédito - mercado externo',
       'Transferências de Convênios', 'Demais receitas correntes',
       'Contribuições econômicas',
       'Exploração do patrimônio imobiliário do Estad', 'Taxas',
       'Amortizações de Empréstimos', 'Outros serviços',
       'Receita Agropecuária', 'Alienação de bens imóveis',
       'Transferências da União e de suas Entidades',
       'Valores Mobiliários', 'Serviços e Atividades Financeiras',
       'Transferências dos Estados e do Distrito Fede',
       'Receita Industrial',
       'Bens, Direitos e Valores Incorporados ao Patr',
       'Transferências Provenientes de Depósito Não I',
       'Demais receitas patrimoniais',
       'Delegação de Serviços Públicos Mediante Conce',
       'Indenizações e restituições',
       'Serviços e Atividades Referentes à Saúde',
       'Serviços e Atividades Referentes à Navegação ',
       'Transferências dos Municípios e de suas Entid',
       'Cessão de direitos', 'Transferências de Pessoas Físicas',
       'Impostos', 'Contribuições para Entidades Privadas de Serv',
       'Transferências do Exterior',
       'Remuneração das Disponibilidades do Tesouro', 'Sem informação',
       'Receita de concessões e permissões',
       'Exploração do patrimônio intangível',
       'Alienação de bens intangíveis'], dtype=object)

Los 10 TIPO_INGRESO que MAS aparecen son:

                                               count  Porcentaje_recuento
TIPO_INGRESO
Serviços Administrativos e Comerciais Gerais   34121                25.35
Multas administrativas, contratuais e judicia  15759                11.71
Indenizações, restituições e ressarcimentos    15509                11.52
Taxas                                          11212                 8.33
Exploração do patrimônio imobiliário do Estad   9202                 6.84
Demais receitas correntes                       6889                 5.12
Contribuições econômicas                        5923                 4.40
Contribuições sociais                           5814                 4.32
Valores Mobiliários                             5056                 3.76
Exploração de recursos naturais                 3560                 2.65

Los 10 TIPO_INGRESO que MENOS aparecen son:

                                               count  Porcentaje_recuento
TIPO_INGRESO
Receita de concessões e permissões                62                 0.05
Indenizações e restituições                       58                 0.04
Transferências dos Municípios e de suas Entid     54                 0.04
Exploração do patrimônio intangível               17                 0.01
Sem informação                                    16                 0.01
Contribuições para Entidades Privadas de Serv     11                 0.01
Transferências da União e de suas Entidades       10                 0.01
Transferências de Convênios                        8                 0.01
Transferências do Exterior                         1                 0.00
Alienação de bens intangíveis                      1                 0.00

 Las distribución de las repeticiones de los TIPO_INGRESO son:

       count  % repetición
count
1          2          4.76
15759      1          2.38
15509      1          2.38
11212      1          2.38
9202       1          2.38
6889       1          2.38
5923       1          2.38
5814       1          2.38
34121      1          2.38
5056       1          2.38
3560       1          2.38
2183       1          2.38
2324       1          2.38
1902       1          2.38
1891       1          2.38
1818       1          2.38
2088       1          2.38
1271       1          2.38
1270       1          2.38
1031       1          2.38
983        1          2.38
576        1          2.38
497        1          2.38
473        1          2.38
1406       1          2.38
343        1          2.38
308        1          2.38
180        1          2.38
219        1          2.38
157        1          2.38
123        1          2.38
103        1          2.38
164        1          2.38
62         1          2.38
58         1          2.38
17         1          2.38
54         1          2.38
16         1          2.38
11         1          2.38
10         1          2.38
8          1          2.38

None
La categoría DETALLE tiene 600 elementos diferentes:

Los elementos de la categoría son:

array(['TITULOS DE RESPONS.TES.NAC.-MERC.INT.-PRINC.',
       'Receitas Correntes - a classificar',
       'SERV.ADMINISTRAT.E COMERCIAIS GERAIS-MUL.JUR.',
       'ADICIONAL A CONTR.PREVIDENCIARIA RURAL-PRINC.',
       'MULTAS E JUROS PREVISTOS EM CONTRATOS-MUL.JUR',
       'INDENIZACAO POR SINISTRO-PRINCIPAL',
       'OUTRAS INDENIZACOES-PRINCIPAL',
       'SERV.ADMIN.E COMERCIAIS GERAIS-PRINC.-INTRA',
       'ALIENACAO DE BENS MOVEIS E SEMOVENTES-PRINC.',
       'CONCESSAO FLORESTAS NACIONAIS-VAL.MIN.-PRINC.',
       'CONCESSAO FLORESTAS NACIONAIS-DEM.VAL.-PRINC.',
       'TRANSFERENCIAS DE INSTITUICOES PRIVADAS-PRINC',
       'CONCESSAO FLOREST.NACIONAIS-DEM.VAL.-MUL.JUR.',
       'OP.DE CREDITO CONTRATUAIS-MERC.EXTERNO-PRINC.',
       'SERVICOS DE INFORMACAO E TECNOLOGIA-PRINCIPAL',
       'SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.',
       'CUSTOS EDITAL DE CONCESSAO FLORESTAL-PRINC.',
       'CONCESSAO FLOREST.NACIONAIS-VAL.MIN.-MUL.JUR.',
       'TRANSFERENCIAS DO EXTERIOR-PRINCIPAL',
       'OUTRAS RECEITAS-PRIMARIAS-PRINCIPAL',
       'MULTAS PREVISTAS EM LEGISL.ESPECIFICA-MUL.JUR',
       'MULTAS PREVISTAS EM LEGISL.ESPECIFICA-PRINC.',
       'CONT.S/APOSTAS EM COMPETICOES HIPICAS-DIV.AT.',
       'ALUGUEIS E ARRENDAMENTOS-MULTAS E JUROS',
       'TAXAS INSPECAO,CONTROLE E FISCALIZ.-MUL.JUR.',
       'TX.CONTR.E FISC.PESCA E AQUICULTURA-PRINC.',
       'CONTRIBUICAO INDUSTRIAL RURAL-PARCEL.-MUL.JUR',
       'AMORTIZACAO DE EMPRESTIMOS CONTRATUAIS-PRINC.',
       'OUTROS SERVICOS-PRINCIPAL',
       'REST.DESPESAS EXERC.ANT.FIN.FTE.PRIM.-MUL.JUR',
       'CONTRIBUICAO INDUSTRIAL RURAL-DIV.AT-MUL.JUR.',
       'SERV.DE REGIST.,CERTIF.E FISCALIZ.-MUL.JUR.',
       'CONTRIBUICAO INDUSTRIAL RURAL-MULTAS E JUROS',
       'OUTRAS RESTITUICOES-MULTAS E JUROS',
       'RESTIT.DESP.PRIMARIAS EX.ANTERIORES-PRINC.',
       'RESTIT.DESP.PRIMARIAS EX.ANTERIORES-MUL.JUR.',
       'RESTITUICAO DE CONVENIOS-FINANCEIRAS-PRINC.',
       'TITULOS DA DIVIDA AGRARIA-TDA-PRINCIPAL',
       'INDENIZ.P/DANOS CAUSADOS AO PATR.PUB.-PRINC.',
       'ALUGUEIS E ARRENDAMENTOS-PRINCIPAL',
       'RECEITA AGROPECUARIA-PRINCIPAL',
       'ALIENACAO DE BENS IMOVEIS-PRINCIPAL',
       'MULTAS E JUROS PREVISTOS EM CONTRATOS-PRINC.',
       'CONTRIBUICAO INDUSTRIAL RURAL-PARCEL.-PRINC.',
       'CONT.S/APOSTAS EM COMPETICOES HIPICAS-MUL.JUR',
       'ALIENACAO DE BENS IMOVEIS-MULTAS',
       'OUTRAS RESTITUICOES-PRINCIPAL',
       'CONTRIBUICAO INDUSTRIAL RURAL-DIVIDA ATIVA',
       'CONTRIBUICAO INDUSTRIAL RURAL-PRINCIPAL',
       'OUTROS RESSARCIMENTOS-PRINCIPAL',
       'TRANSFER.DA UNIAO E DE SUAS ENTIDADES-PRINC.',
       'REMUNERACAO DE DEPOSITOS BANCARIOS-PRINCIPAL',
       'ALUGUEIS E ARRENDAMENTOS-PRINCIPAL-INTRA',
       'OUTROS RESSARCIMENTOS-MULTAS E JUROS',
       'RETORNO DE OP.,JUR.E ENC.FINANCEIROS-PRINC.',
       'ALIENACAO DE ESTOQUES DE CAFE-FUNCAFE-DIV.AT.',
       'OUTRAS RECEITAS-FINANCEIRAS-DIVIDA ATIVA',
       'OUTRAS RECEITAS-PRIMARIAS-DIV.ATIVA-MUL.JUR.',
       'REST.DESPESAS EXERC.ANT.FIN.FTE.PRIM.-PRINC.',
       'ALIENACAO DE ESTOQUES DE CAFE-FUNCAFE-PRINC.',
       'ALIENACAO DE ESTOQUES DA PGPM-PRINCIPAL',
       'CONTR.S/APOSTAS COMPET.HIPICAS-DIV.AT-MUL.JUR',
       'AMORTIZACAO DE FINANCIAMENTOS-PRINCIPAL',
       'TRANSF.DOS ESTADOS,DF E SUAS ENTIDADES-PRINC.',
       'RESTITUICAO DE CONVENIOS-PRIMARIAS-PRINCIPAL',
       'SERV.DE REGIST.,CERTIF.E FISCALIZ.-PRINCIPAL',
       'RECEITA INDUSTRIAL-MULTAS E JUROS',
       'OUTRAS RECEITAS-PRIMARIAS-MULTAS E JUROS',
       'TAXAS INSPECAO,CONTROLE E FISCALIZACAO-PRINC.',
       'CONTR.S/APOSTAS EM COMPETICOES HIPICAS-PRINC.',
       'RECEITA INDUSTRIAL-PRINCIPAL', 'DIVIDENDOS-PRINCIPAL',
       'ALIENACAO DE BENS IMOVEIS-JUROS',
       'REMUN.SALDOS RECURSOS NAO-DESEMBOLSADOS-PRINC',
       'RESTITUICAO DE CONVENIOS-PRIMARIAS-MUL.JUR.',
       'ALIEN.DE BENS E MERCADORIAS APREENDIDOS-PRINC',
       'TRANSF.PROVENIENTES DEP.NAO IDENTIFIC.-PRINC.',
       'PART.UNIAO EM REC.LOT.PROGN.NUMERICOS-PRINC.',
       'PART.UNIAO EM RECEITA DE LOT.ESPORTIVA-PRINC.',
       'PART.UNIAO EM RECEITA LOT.INSTANTANEA-PRINC.',
       'PART.UNIAO EM REC.LOT.PROGN.ESPECIFICO-PRINC.',
       'OUTRAS CONTRIB.SOC.-NAO ARREC.PROJ.RFB-PRINC.',
       'CONC/PERM/AUT/CESSAO DIR.USO IMOV.PUB-PRINC.',
       'UTILIZ.REC.HIDRICOS-DEMAIS EMPRESAS-DIV.AT.',
       'CESS.DIR.USO.RADFRQ-POSIC.ORBITAIS/DA.PRC',
       'CONTR.S/REC.BRT EMP.PREST.SERV.TELEC.-MUL.JUR',
       'TX.FISC.FUNC-TFF-POSICOES.ORBITAIS/PRC',
       'CIDE-REMESSAS AO EXTERIOR-DIV.AT.-MUL.JUR.',
       'RECEITA INDUSTRIAL-PRINCIPAL-INTRA',
       'CONTR.S/REC.BRT EMP.SERV.TELEC-DIV.AT-MUL.JUR',
       'COMPENS.FINANC.EXPL.RECURSOS MINERAIS-PRINC.',
       'CIDE-REMESSAS AO EXTERIOR-DIVIDA ATIVA',
       'SERV.DE INFORMACAO E TECNOLOGIA-PRINC.-INTRA',
       'SERV.REGIST.,CERTIF.E FISCALIZ.-PRINC.-INTRA',
       'CIDE-REMESSAS AO EXTERIOR-MULTAS E JUROS',
       'UTILIZ.REC.HIDRICOS-DEMAIS EMPRESAS-MUL.JUR.',
       'CONTR.S/REC.CONCESS.PERM.ENERG.ELETR.-MUL.JUR',
       'COTA-PARTE DO AFRMM-DIVIDA ATIVA',
       'ROY.EXC.PETRO.PLAT-COM.ANT.3/12/12-DEM.-PRINC',
       'UTILIZ.REC.HIDRICOS-DEMAIS EMPRESAS-PRINC.',
       'CONTR.S/REC.BRT EMP.PREST.SERV.TELECOM-PRINC.',
       'CONTR.S/FATUR.EMPR.INFO.INST.AMAZONIA-PRINC.',
       'CIDE-REMESSAS AO EXTERIOR-PRINCIPAL',
       'TX.FISC.INST-TFI-POSICOES.ORBITAIS/PRC-INTRA',
       'TX.FISC.INST-TFI-POSICOES.ORBITAIS/PRC',
       'CONTR.S/FATUR.EMPR.INFO.INST.DEM.REG.-PRINC.',
       'CONTR.S/FATUR.EMPR.INFO.INST.AMAZONIA-MUL.JUR',
       'COTA-PARTE DO AFRMM-DIVIDA ATIVA-MUL.JUR.',
       'SERVICOS DE INFORMACAO E TECNOLOGIA-MUL.JUR.',
       'COMPENS.FINANC.EXPL.RECURSOS MINERAIS-DIV.AT.',
       'COTA-PARTE DO AFRMM-PRINCIPAL',
       'OUTRAS.DLG.SV.TELEC-POSIC.ORBITAIS/PRC',
       'CONTR.S/REC.BRT EMP.PREST.SERV.TELECOM-DIV.AT',
       'UTILIZACAO DE RECURSOS HIDRICOS-ITAIPU-PRINC.',
       'CONTR.S/REC.CONCESS.PERM.ENERG.ELETR.-PRINC.',
       'CONTR.P/DES.ENS.PROF.MARITIMO-DIV.AT-MUL.JUR.',
       'OUTRAS INDENIZACOES-PRINCIPAL-INTRA',
       'CONTR.P/DESENV.ENSINO PROF.MARITIMO-MUL.JUR.',
       'CONTR.P/DESENV.ENSINO PROF.MARITIMO-PRINCIPAL',
       'CONTR.DESENV.ENSINO PROF.MARIT-PARCEL-MUL.JUR',
       'CONTR.DESENV.ENSINO PROF.MARIT.-PARCEL-PRINC.',
       'CONTR.P/DESENV.ENSINO PROF.MARITIMO-DIV.ATIVA',
       'INSCR.EM CONCURSOS E PROC.SELETIVOS-MUL.JUR.',
       'SERVICOS DE ATENDIMENTO A SAUDE-PRINC.-INTRA',
       'CONC/PERM/AUT/CESSAO DIR.USO IMOV.PUB-MUL.JUR',
       'SERV.ASSIST.SAUDE SUPLEM.SERV.CIVIL-PRINC.',
       'TARIFA AEROPORTUARIA-PRINCIPAL',
       'OUTRAS INDENIZACOES-MULTAS E JUROS',
       'SERV.ASSIST.MEDICO-HOSP.DO MILITAR-MUL.JUR.',
       'SERVICOS DE ATENDIMENTO A SAUDE-PRINCIPAL',
       'OUTROS SERVICOS-MULTAS E JUROS',
       'ROY.PETRO.PLAT-COM.ANTES 3/12/12-DEMAIS-PRINC',
       'TRANSF.DOS MUNICIPIOS E SUAS ENTIDADES-PRINC.',
       'TX.INSPECAO,CONTROLE E FISCALIZ.-PRINC.-INTRA',
       'SERV.ASSIST.MEDICO-HOSP.DO MILITAR-PRINCIPAL',
       'SERVICOS DE ATENDIMENTO A SAUDE-MUL.JUR.',
       'CONTR.P/CUST.PENS.MILIT.FORCAS ARMADAS-PRINC.',
       'INDENIZ.P/DANOS CAUSADOS AO PATR.PUB.-MUL.JUR',
       'TAXAS PELA PRESTACAO DE SERVICOS-MULT.E JUROS',
       'INSCR.EM CONCURSOS E PROC.SELETIVOS-PRINCIPAL',
       'SERVICOS DE TRANSPORTE-MULTAS E JUROS',
       'SERVICOS DE TRANSPORTE-PRINCIPAL',
       'AMORTIZACAO EMPRESTIMOS CONTRATUAIS-MUL.JUR.',
       'SERVICOS DE NAVEGACAO-PRINCIPAL', 'SERVICOS PORTUARIOS-PRINCIPAL',
       'CESSAO DO DIR.OPERACIONALIZACAO PAGTOS-PRINC.',
       'TRANSFERENCIAS DE PESSOAS FISICAS-PRINCIPAL',
       'TAXAS PELA PRESTACAO DE SERVICOS-PRINCIPAL',
       'CONTR.P/CUST.PENS.MIL.FORCAS ARMADAS-MUL/JUR.',
       'COFINS SOBRE O FATURAMENTO-SIMPLES-PRINCIPAL',
       'CONDECINE-PRINCIPAL-INTRA',
       'EMOLUMENTOS E CUSTAS JUDICIAIS-DIV.AT-MUL.JUR',
       'JUROS SOBRE O CAPITAL PROPRIO-MULTAS E JUROS',
       'CONTRIB.P/FOMENTO RADIODIFUSAO PUBLICA-DIV.AT',
       'CSLL-CONTRIBUINTES Ñ OPT.SIMP.NAC.-JUROS',
       'IPI-FUMO-MULTAS E JUROS',
       'MLT.LEI.GER.TELECOM-NAO.P.ORBITAIS/DA.MLT+JRS',
       'IRRF-REMESSA AO EXTERIOR-PRINCIPAL',
       'CONTR.S/REC.OP.BRT DECOR.SERV.TELECOM-PRINC.',
       'CONTRIB.PIS/PASEP-OPTANTES SIMP.NAC-MULTAS',
       'IRPJ-LIQUIDA DE INCENTIVOS-MULTAS E JUROS',
       'CONTRIBUICOES P/O RGPS-PARCELAMENTOS-MUL.JUR.',
       'CSLL-PARCELAMENTOS-DIVIDA ATIVA-JUROS',
       'OUTRAS RECEITAS ADMINISTR.RFB-DIV.AT-MUL.JUR.',
       'CPSSS PATRONAL-SERVIDOR CIVIL-PRINC.-INTRA',
       'CONDECINE-MULTAS E JUROS',
       'REMUN.SALDOS RECUR.NAO-DESEMBOLSADOS-MUL.JUR.',
       'CONTRIBUICAO PIS/PASEP-PARCELAMENTOS-PRINC.',
       'CPSSS PATRONAL-SERVIDOR CIVIL-MULTAS E JUROS',
       'CONT.MOV.TRANSM.VAL.CRED.DIR.NAT.FIN.-MUL.JUR',
       'CPSSS-SERVIDOR CIVIL INATIVO-SENT.JUD.-PRINC.',
       'CSLL-CONTRIBUINTES OPT.SIMPLES NAC.-DIV.AT.',
       'CESSAO DIR.OPERACIONALIZ.PGTOS-P.JUD.-PRINC.',
       'CIDE COMBUSTIVEIS-COMERCIALIZACAO-MUL.JUR.',
       'CONTRIB.S/SORT.REALIZ.POR ENT.FILANT.-PRINC.',
       'CONTRIBUICAO PARA O ENSINO AEROVIARIO-PRINC.',
       'MUL.P/DESCUMP.OBRIG.PREVID.ACESSORIA-PRINC.',
       'CONTRIB.SOCIAL SALARIO-EDUCACAO-PARCEL-PRINC.',
       'CONTRIB.S/LOTERIAS PROGNOST.NUMERICOS-PRINC.',
       'IMPOSTO SOBRE A EXPORTACAO-JUROS DIVIDA ATIVA',
       'ALIENACAO DE TITULOS MOBILIARIOS-PRINCIPAL',
       'COFINS SOBRE O FATURAMENTO-PARCELAM.-PRINC.',
       'IMPOSTO SOBRE A IMPORTACAO-PRINCIPAL',
       'CONTRIB.P/O ENSINO AEROVIARIO-PARCEL.-MUL.JUR',
       'COFINS SOBRE O FATURAMENTO-DIVIDA ATIVA',
       'CPSSS-SERVIDOR CIVIL INATIVO-PRINCIPAL',
       'CONTRIB.P/O ENSINO AEROVIARIO-PARCEL.-PRINC.',
       'CONT.MOV.TRANSM.VAL.CRED.DIR.FIN-PARC-MUL.JUR',
       'ROY.PETR.PLAT.-PARTILHA-COM.A P.3/12/12-PRINC',
       'IOF-OURO-MULTAS E JUROS',
       'CONTRIBUICOES P/O RGPS-PARCEL.-DIV.AT-MUL.JUR',
       'CIDE-COMBUSTIVEIS-IMPORTACAO-PRINCIPAL',
       'IRPF-JUROS DA DIVIDA ATIVA',
       'TX.FISC.FUNC-TFF-NAO.POSI.ORBITAIS/DA.PRC',
       'BARREIRAS TECNICAS AO COMERC.EXTERIOR-MUL.JUR',
       'MULTAS PREVISTAS EM LEGISL.ESPECIFICA-DIV.AT.',
       'PRESTACAO DE CONTAS ELEITORAIS-MULTAS E JUROS',
       'ALIEN.BENS E MERCADORIAS APREENDIDOS-MUL.JUR.',
       'CONT.MOV.TRANSM.VAL.CRED.DIR.FIN-PARC-DIV.AT.',
       'CONT.P/ENT.PRIV.SERV.SOC.E FORM.PROFIS.-PRINC',
       'COFINS SOBRE O FATURAMENTO-PARCELAM.-DIV.AT.',
       'IRRF-REMESSA AO EXTERIOR-PRINCIPAL-INTRA',
       'VARIACAO CAMBIAL-PRINCIPAL',
       'DLG.SRV.RAD.SON.IMG-NAO.P.ORBITAIS/PRC',
       'ONUS DE SUCUMBENCIA-PRINCIPAL',
       'CONTRIBUICAO PARA O ENSINO AEROVIARIO-MUL.JUR',
       'MULTAS PREVISTAS LEG.ESPECIFICA-PRINC.-INTRA',
       'COFINS SOBRE O FATURAMENTO-JUROS DIV.ATIVA',
       'IRRF-TRABALHO-DIVIDA ATIVA',
       'RETORNO DE OP.,JUR.E ENC.FINANCEIROS-MUL.JUR.',
       'CPSSS-SERVIDOR CIVIL INATIVO-MULTAS E JUROS',
       'IPI-OUTROS PRODUTOS-PRINCIPAL',
       'REST.CONTRIB.P/PREV.COMPL.DO SERV.PUB-PRINC.',
       'ITR-MUNICIPIOS NAO-CONVENIADOS-JUROS DIV.AT.',
       'IRPF-MULTAS DA DIVIDA ATIVA',
       'MULT.LEG.ANTICORRUP.ACORDOS LENIENCIA-MUL.JUR',
       'CONTRIBUICAO PIS/PASEP-PARCELAMENTOS-MUL.JUR.',
       'TX.CONTROLE E FISCALIZ.PROD.QUIMICOS-PRINC.',
       'CONT.PREVIDENCIARIA SEGURADO-DIV.AT-MUL.JUR',
       'ROY.PETRO.PLAT-COM.ANTES 3/12/12-P.SAL-PRINC.',
       'CSLL-CONTRIBUINTES OPT.SIMPLES NAC.-MULTAS',
       'OUTRAS RECEITAS IMOBILIARIAS-PRINCIPAL',
       'CONT.PREVID.EMPREGADOR-OPT.SIMP.NAC.-MUL.JUR.',
       'REVERSAO DE GARANTIAS-PRINCIPAL',
       'CONTR.PIS/PASEP-PARCELAMENTOS-MULTAS DIV.AT.',
       'IPI-OUTROS PRODUTOS-PRINCIPAL-INTRA',
       'MUL.P/DESCUMP.OBRIG.PREVID.ACESSORIA-MUL.JUR.',
       'CONTRIBUICAO AO MONTEPIO CIVIL-PRINCIPAL',
       'DEMAIS DELEGACOES DE SERVICOS PUBLICOS-PRINC.',
       'CONTR.PIS/PASEP-PARCELAMENTOS-JUROS DIV.ATIVA',
       'MULT.LEG.ANTICORRUP.ACORDOS LENIENCIA-PRINC.',
       'CONTR.MOV.TRANSM.VAL.CRED.DIR.NAT.FIN.-PRINC.',
       'CONTR.PREV.EMPREGADOR-Ñ OPT.SIMP.NAC.-PRINC.',
       'COFINS S/FATURAMENTO-PARCEL.-MULTAS DIV.ATIVA',
       'JUROS SOBRE O CAPITAL PROPRIO-PRINCIPAL',
       'CPSSS-SERVIDOR CIVIL ATIVO-MULTAS E JUROS', 'IRPF-PRINCIPAL',
       'PREMIOS PRESCRITOS CONCUR.PROGNOSTICOS-PRINC.',
       'CSLL-CONTRIBUINTES Ñ OPT.SIMP.NAC.-MULTAS',
       'CONDECINE-DIVIDA ATIVA',
       'P.ESP.PETRO.PLAT-COM.ANT.3/12/12-P.SAL-PRINC.',
       'ROYAL.EXCED.PROD.PETRO.TERRA(QQ SIT.)-PRINC.',
       'REST.CONTRIB.P/PREV.COMPL.DO SERV.PUB-MUL.JUR',
       'RESTIT.PARCELAS SEG.DESEMP.REC.INDEV.-MUL.JUR',
       'EMOLUMENTOS E CUSTAS JUDICIAIS-PRINCIPAL', 'IRPF-DIVIDA ATIVA',
       'CIDE-COMBUST.-COMERCIALIZACAO-JUROS DIV.ATIVA',
       'MULTAS PREV.LEG.SEG.DESEMP.AB.SALAR.-DIV.AT.',
       'IPI-AUTOMOVEIS-PRINCIPAL',
       'CONTRIB.S/LOTERIA PROGNOST.ESPECIFICO-PRINC.',
       'CONT.PIS/PASEP-OPT.SIMP.NAC-MULTAS DIV.AT.',
       'IMPOSTO SOBRE A IMPORTACAO-DIVIDA ATIVA',
       'IRRF-REMESSA AO EXTERIOR-MULTAS E JUROS',
       'INDENIZ.POSSE/OCUP.ILICITA BENS PUB.-PRINC.',
       'CONTRIB.P/FOMENTO RADIODIF.PUB.-PRINC.-INTRA',
       'CONTR.PIS/PASEP SOBRE FATURAM.-PRINC.-INTRA',
       'COFINS SOBRE O FATURAMENTO-SIMPLES-JUROS', 'IPI-FUMO-PRINCIPAL',
       'CONTR.LOJ.FR.ENTREP.ADUAN.DEP.ALFAND.-MUL.JUR',
       'ITR-MUNICIPIOS CONVENIADOS-DIV.AT.-MUL.JUR.',
       'IMPOSTO SOBRE A EXPORTACAO-MULTAS DIV.ATIVA',
       'COTA-PARTE DO AFRMM-MULTAS E JUROS',
       'CPSSS-SERVIDOR CIVIL ATIVO-DIVIDA ATIVA',
       'OUTRAS RECEITAS-PRIMARIAS-DIVIDA ATIVA',
       'COMPENS.FINANCEIRAS ENTRE RGPS E RPPS-MUL.JUR',
       'CSLL-PARCELAMENTOS-DIVIDA ATIVA-MULTAS',
       'CONTRIB.PIS/PASEP-Ñ OPTANTES SIMP.NAC-JUROS',
       'CSLL-CONTRIBUINTES OPT.SIMPLES NAC-DIV.AT-MUL',
       'FOROS,LAUDEMIOS,TARIFAS DE OCUPACAO-MUL.JUR.',
       'CONTRIBUICAO SOBRE LOTERIAS ESPORTIVAS-PRINC.',
       'ONUS DE SUCUMBENCIA-MULTAS E JUROS',
       'MULTAS APLICADAS PELOS TRIB.DE CONTAS-PRINC.',
       'CONT.PREV.EMPREGADOR-Ñ SIM.NAC-DIV.AT-MUL.JUR',
       'ALIENACAO DE BENS IMOVEIS-MULTAS E JUROS',
       'OUTRAS.DLG.SV.TELEC-NAO.P.ORBITAIS/PRC',
       'TIT.RESP.TN-REFIN.DIV.PUB.FED.MERC.EXT.-PRINC',
       'OUTR.CONTR.ECON-ARREC.PROJ.RFB-DIV.AT.MUL/JUR',
       'IRPF-MULTAS E JUROS',
       'REMUNER.DISPONIBILIDADES TES.NACIONAL-PRINC.',
       'COFINS SOBRE O FATURAMENTO-PARCELAM.-MUL.JUR.',
       'RESTITUICAO DE RECURSOS DE FOMENTO-PRINCIPAL',
       'JUROS DE TITULOS DE RENDA-PRINCIPAL',
       'CSLL-CONTRIBUINTES OPT.SIMPLES NAC-DIV.AT-JUR',
       'ROYALT.PROD.PETRO.EM TERRA-CONCESSAO-PRINC.',
       'P.ESP.PETRO.PLAT-COM.A PARTIR 3/12/12-PRINC.',
       'IOF-DEMAIS OPERACOES-MULTAS DA DIVIDA ATIVA',
       'CONTRIBUICOES P/O RGPS-PARCELAMENTOS-PRINC.',
       'IMPOSTO SOBRE A IMPORTACAO-MUL.JUR.-INTRA',
       'DEMAIS RECEITAS PATRIMONIAIS-PRINCIPAL',
       'CSLL-CONTRIBUINTES Ñ OPT.SIMP.NAC.-DIV.AT.',
       'CONT.PIS/PASEP-Ñ OPT.SIMP.NAC-MULTAS DIV.AT.',
       'ROY.EXC.PETRO.PLAT-COM.A PARTIR 3/12/12-PRINC',
       'CONTRIB.PIS/PASEP-OPTANTES SIMP.NAC-JUROS',
       'RESTITUICAO BENEFICIOS ASSISTENCIAIS-MUL.JUR.',
       'IPI-OUTROS PRODUTOS-MULTAS E JUROS',
       'IRRF-TRABALHO-MULTAS DA DIVIDA ATIVA',
       'REMUNER.DISPONIBILIDADES TES.NACIONAL-MUL.JUR',
       'CONTRIB.PREVIDENCIARIA DO SEGURADO-PRINC.',
       'OUTRAS CONTRIB.ECONOM.-ARREC.PROJ.RFB-DIV.AT.',
       'PREMIOS PRESCRITOS CONC.PROGNOSTICOS-MUL.JUR.',
       'IRRF-CAPITAL-MULTAS E JUROS',
       'OUTRAS RECEITAS-FINANCEIRAS-PRINCIPAL',
       'CONTR.MOV.TRANSM.VAL.CRED.DIR.NAT.FIN.-DIV.AT',
       'RESSARCIMENTO DE CUSTOS-PRINCIPAL', 'CONDECINE-PRINCIPAL',
       'TX.FISC.INST-TFI-NAO.POSI.ORBITAIS/PRC',
       'RESTIT.DEP.DE SENTENCAS JUD.Ñ SACADOS-PRINC.',
       'CONTRIBUICAO PIS/PASEP-PARCELAMENTOS-JUROS',
       'IRRF-OUTROS RENDIMENTOS-MULTAS E JUROS',
       'AMORT.EMPR.-REFIN.DIV.MED.E LONGO PRAZO-PRINC',
       'CONTRIB.SOCIAL DO SALARIO-EDUCACAO-MUL.JUR.', 'Sem informação',
       'OUTRAS RECEITAS ADMINISTRADAS RFB-DIV.AT.',
       'CONT.PREVID.EMPREGADOR-OPT.SIMP.NAC.-DIV.AT.',
       'CIDE-COMBUSTIVEIS-COMERCIALIZACAO-DIV.ATIVA',
       'CONTRIB.PIS/PASEP-OPTANTES SIMP.NAC-DIV.AT.',
       'FOROS,LAUDEMIOS,TARIFAS DE OCUPACAO-DIV.ATIVA',
       'MULTAS PREV.LEG.SEG.DESEMP.AB.SALAR.-PRINC.',
       'TX.INSP,CONTROL.E FISCALIZ.-DIV.AT.-MUL.JUR.',
       'CESS.DIR.USO.RADFRQ-NAO.P.ORBITAIS/DA.PRC',
       'CIDE-COMBUST.-COMERCIALIZACAO-MULTAS DIV.AT.',
       'AMORTIZ.PROV.EXEC.DE GARANTIA-OP.CRED.-PRINC.',
       'CONCESSAO DE AVAIS,GARANTIAS E SEGUROS-PRINC.',
       'TIT.RESP.TN-REFIN.DIV.PUB.FED.MERC.INT.-PRINC',
       'AMORTIZACAO DE EMPRESTIMOS-EST/MUN-PRINCIPAL',
       'REC.POR FORCA DEC.JUD.E DE TRIB.ADM.-PRINC.',
       'TITULOS DE RESPONS.TES.NAC.-MERC.EXT.-PRINC.',
       'RESTIT.DESP.PRIMARIAS EX.ANT.-PRINC.-INTRA',
       'COFINS S/FATURAMENTO-PARCEL.-JUROS DIV.ATIVA',
       'ROY.EXC.PETRO.PLAT-CM.ANT.3/12/12-P.SAL-PRINC',
       'IPI-BEBIDAS-MULTAS E JUROS-INTRA',
       'MULTAS PREV.LEI GERAL TELECOM.-PRINC.-INTRA',
       'EMOLUMENTOS E CUSTAS JUDICIAIS-MULTAS E JUROS',
       'IPI-VINCULADOS A IMPORTACAO-MULTAS E JUROS',
       'IPI-OUTROS PRODUTOS-DIVIDA ATIVA',
       'OUTROS RESSARCIMENTOS-DIVIDA ATIVA-MUL.JUR.',
       'CSLL-CONTRIB.Ñ OPT.SIMP.NAC-DIV.AT-JUROS',
       'CPSSS-SERVIDOR CIVIL PENSIONISTA-PRINCIPAL',
       'CSLL-PARCELAMENTOS-MULTAS', 'IOF-DEMAIS OPERACOES-DIVIDA ATIVA',
       'P.ESP.PETRO.PLAT-COM.ANT.3/12/12-DEMAIS-PRINC',
       'CONT.MOV.TRANSM.VAL.CRED.DIR.FIN-PARC-PRINC.',
       'ENCARGOS LEGAIS PELA INSCR.EM DIV.AT.-MUL.JUR',
       'RESTIT.DEC.APLIC.IRREG.REC.ELEITORAIS-MUL.JUR',
       'CONTRAPART.DE SUBVENCOES OU SUBSIDIOS-PRINC.',
       'MULTAS PREV.LEGISLACAO ANTIDROGAS-DIV.ATIVA',
       'CONTR.PREV.EMPREGADOR-Ñ OPT.SIMP.NAC.-MUL.JUR',
       'CSLL-CONTRIBUINTES OPT.SIMPLES NAC.-PRINC',
       'OUTRAS RECEITAS-PRIMARIAS-PRINCIPAL-INTRA',
       'CPSSS PATRONAL-SERVIDOR CIVIL-DIV.ATIVA-INTRA',
       'INDENIZ.POSSE/OCUP.ILICITA BENS PUB.-MUL.JUR.',
       'RESTIT.DEP.DE SENTENCAS JUD.Ñ SACADOS-MUL.JUR',
       'IOF-DEMAIS OPERACOES-JUROS DA DIVIDA ATIVA',
       'CESSAO DIR.OPERACIONALIZACAO PAGTOS-MUL.JUR.',
       'ALIENACAO DE BENS IMOVEIS-DIVIDA ATIVA',
       'COFINS SOBRE O FATURAMENTO-SIMPLES-MULTAS',
       'PART.PROPR.TERRA-CONTRATO CONCESSAO-PRINC.',
       'CSLL-CONTRIB.Ñ OPT.SIMP.NAC-DIV.AT-MULTAS',
       'PARTICIPACOES-PRINCIPAL',
       'COMPENS.FIN.ENTRE RGPS E RPPS-DIV.AT-MUL.JUR.',
       'CONTR.SOCIAL SALARIO-EDUCACAO-PARCEL.-MUL.JUR',
       'ITR-MUNICIPIOS CONVENIADOS-PRINCIPAL',
       'RESTITUICAO DE BENEFICIOS ASSISTENCIAIS-PRINC',
       'CONTRIB.PIS/PASEP-OPTANTES SIMP.NAC-PRINC.',
       'APORTES PERIOD.COMPENSACOES RGPS-PRINC-INTRA',
       'IRPJ-LIQUIDA DE INCENTIVOS-PRINCIPAL',
       'MLT.LEI.GER.TELECOM-NAO.P.ORBITAIS/DA.PRC',
       'CONT.PREVID.EMPREGADOR-OPT.SIMP.NAC.-PRINC',
       'RESSARCIMENTO AO RGPS-PRINCIPAL',
       'TAXA FISCALIZACAO DE INSTALACAO-PRINC.-INTRA',
       'CONTR.CUST.PENSOES MILIT.E INAT.PMDF-PRINC.',
       'CONT.MOV.TRANSM.VL.CR.FIN-PARC-DIV.AT-MUL.JUR',
       'CPSSS-SERVIDOR CIVIL ATIVO-PRINCIPAL',
       'CONTR.P/FUNDOS ASSIST.MED-POLIC.MILIT-PRINC.',
       'CONTR.P/FUNDOS ASSIST.MED-BOMB.MILIT.-PRINC.',
       'CONTR.CUST.PENSOES MILIT.E INAT.CBMDF-PRINC.',
       'CONTR.CUST.PENSOES MILIT.E INAT.PMDF-MUL.JUR.',
       'CONTR.S/REC.OP.BRT DECOR.SRV.TLCM-PRINC.INTRA',
       'CONTR.P/FUNDOS ASSIST.MED-POLIC.MILIT-MUL.JUR',
       'TX.FISC.INST-TFI-NAO.POSI.ORBITAIS/DA.PRC',
       'MULT.LEG.ANTICORRUP.PROC.ADM.RESPONS.-PRINC.',
       'CONTR.S/REC.OP.BRT DECOR.SERV.TELECOM-DIV.AT.',
       'IMPOSTO SOBRE A EXPORTACAO-DIVIDA ATIVA',
       'TIT.RESP.TN-REFIN.DIV.PUB.FED.INT-PRINC-INTRA',
       'RESTITUICAO DE RECURSOS DE FOMENTO-MUL.JUR.',
       'CONTRIB.PIS/PASEP-Ñ OPTANTES SIMP.NAC-MULTAS',

Los 10 DETALLE que MAS aparecen son:

                                               count  Porcentaje_recuento
DETALLE
SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.    19532                14.51
INSCR.EM CONCURSOS E PROC.SELETIVOS-PRINCIPAL   9764                 7.25
ALUGUEIS E ARRENDAMENTOS-PRINCIPAL              7229                 5.37
MULTAS PREVISTAS EM LEGISL.ESPECIFICA-PRINC.    5455                 4.05
REMUNERACAO DE DEPOSITOS BANCARIOS-PRINCIPAL    4664                 3.47
TAXAS INSPECAO,CONTROLE E FISCALIZACAO-PRINC.   4018                 2.99
MULTAS PREVISTAS EM LEGISL.ESPECIFICA-DIV.AT.   3075                 2.28
OUTRAS RESTITUICOES-PRINCIPAL                   2879                 2.14
OUTRAS RECEITAS-PRIMARIAS-PRINCIPAL             2814                 2.09
MULTAS E JUROS PREVISTOS EM CONTRATOS-PRINC.    2166                 1.61

Los 10 DETALLE que MENOS aparecen son:

                                               count  Porcentaje_recuento
DETALLE
ALIENACAO DE BENS INTANGIVEIS-PRINCIPAL            1                 0.00
SERVICOS DE TRANSPORTE-MULTAS E JUROS              1                 0.00
TX.FISC.FUNC-TFF-NAO.POSI.ORBITAIS/MLT+JRS         1                 0.00
SERV.ADMIN.E COMERCIAIS GERAIS-MUL.JUR-INTRA       1                 0.00
REC.POR FORCA DEC.JUD.E DE TRIB.ADM.-MUL.JUR.      1                 0.00
TITULOS DA DIVIDA AGRARIA-TDA-PRINCIPAL            1                 0.00
UTIL.REC.HID-DEM.EMPRESAS-PRORROG.OUT-MUL.JUR      1                 0.00
TAXA FISCAL. DOS SERVICOS DE ENERGIA ELETRICA      1                 0.00
OUT.DIR.EXPLOR.E PESQ.MINERAL-DIV.AT-MUL.JUR       1                 0.00
RECEITA VEICULACAO DE OBRAS CINEMATOGRAFICAS       1                 0.00

 Las distribución de las repeticiones de los DETALLE son:

       count  % repetición
count
33        40          6.67
32        40          6.67
1         33          5.50
44        25          4.17
43        23          3.83
...      ...           ...
66         1          0.17
56         1          0.17
57         1          0.17
58         1          0.17
19         1          0.17

[200 rows x 2 columns]

None
La categoría VALOR_PREVISTO_ACTUALIZADO tiene 1803 elementos diferentes:

Los elementos de la categoría son:

array([2.2240349e+09, 0.0000000e+00, 6.0888811e+08, ..., 2.8274054e+07,
       1.0247198e+07, 1.6940891e+07])

Los 10 VALOR_PREVISTO_ACTUALIZADO que MAS aparecen son:

                             count  Porcentaje_recuento
VALOR_PREVISTO_ACTUALIZADO
0.00                        132746                98.63
1000000.00                       4                 0.00
3876.00                          3                 0.00
200000.00                        2                 0.00
1003.00                          2                 0.00
1987.00                          2                 0.00
24000.00                         2                 0.00
8000.00                          2                 0.00
60000.00                         2                 0.00
108000.00                        2                 0.00

Los 10 VALOR_PREVISTO_ACTUALIZADO que MENOS aparecen son:

                            count  Porcentaje_recuento
VALOR_PREVISTO_ACTUALIZADO
10742878.00                     1                 0.00
90131.00                        1                 0.00
77593702.00                     1                 0.00
1599304.00                      1                 0.00
43212.00                        1                 0.00
1817.00                         1                 0.00
15339.00                        1                 0.00
142194.00                       1                 0.00
158493090.00                    1                 0.00
407371.00                       1                 0.00

 Las distribución de las repeticiones de los VALOR_PREVISTO_ACTUALIZADO son:

        count  % repetición
count
1        1760         97.62
2          40          2.22
132746      1          0.06
3           1          0.06
4           1          0.06

None
La categoría VALOR_REGISTRADO tiene 1191 elementos diferentes:

Los elementos de la categoría son:

array([ 0.00000000e+00, -3.58737715e+08, -1.20713469e+08, ...,
        9.85293600e+04, -4.15180800e+04,  4.15180800e+04])

Los 10 VALOR_REGISTRADO que MAS aparecen son:

                   count  Porcentaje_recuento
VALOR_REGISTRADO
0.00              133403                99.12
1764725212.46          1                 0.00
-24466985.50           1                 0.00
423.06                 1                 0.00
660.29                 1                 0.00
-95449153.24           1                 0.00
41518.08               1                 0.00
166628860.69           1                 0.00
1059.84                1                 0.00
445.10                 1                 0.00

Los 10 VALOR_REGISTRADO que MENOS aparecen son:

                  count  Porcentaje_recuento
VALOR_REGISTRADO
377186.28             1                 0.00
2927.07               1                 0.00
59028.83              1                 0.00
5731.56               1                 0.00
4920.76               1                 0.00
310.13                1                 0.00
947.53                1                 0.00
922.03                1                 0.00
573.47                1                 0.00
-774818829.02         1                 0.00

 Las distribución de las repeticiones de los VALOR_REGISTRADO son:

        count  % repetición
count
1        1190         99.92
133403      1          0.08

None
La categoría VALOR_REALIZADO tiene 99376 elementos diferentes:

Los elementos de la categoría son:

array([0.0000000e+00, 1.6025000e+02, 5.1143000e+02, ..., 2.4214955e+05,
       2.3531800e+03, 3.7290000e+02])

Los 10 VALOR_REALIZADO que MAS aparecen son:

                 count  Porcentaje_recuento
VALOR_REALIZADO
0.00              3404                 2.53
100.00             480                 0.36
200.00             414                 0.31
30.00              378                 0.28
150.00             374                 0.28
50.00              363                 0.27
300.00             336                 0.25
20.00              322                 0.24
60.00              296                 0.22
40.00              293                 0.22

Los 10 VALOR_REALIZADO que MENOS aparecen son:

                 count  Porcentaje_recuento
VALOR_REALIZADO
2353.18              1                 0.00
372.90               1                 0.00
160.25               1                 0.00
511.43               1                 0.00
2621.79              1                 0.00
43.29                1                 0.00
686.03               1                 0.00
170.18               1                 0.00
28.09                1                 0.00
1723.24              1                 0.00

 Las distribución de las repeticiones de los VALOR_REALIZADO son:

       count  % repetición
count
1      92274         92.85
2       4067          4.09
3       1067          1.07
4        523          0.53
5        309          0.31
...      ...           ...
72         1          0.00
71         1          0.00
56         1          0.00
55         1          0.00
53         1          0.00

[111 rows x 2 columns]

None
La categoría PORCENTAJE_REALIZADO tiene 17 elementos diferentes:

Los elementos de la categoría son:

array([ 0.,  2.,  1., 11., 15.,  4.,  6.,  3., 51., 34., 18., 40.,  5.,
        9., 22., -1., 20.])

Los 10 PORCENTAJE_REALIZADO que MAS aparecen son:

                       count  Porcentaje_recuento
PORCENTAJE_REALIZADO
0.00                  134516                99.94
1.00                      46                 0.03
2.00                      11                 0.01
3.00                       6                 0.00
11.00                      2                 0.00
15.00                      1                 0.00
4.00                       1                 0.00
6.00                       1                 0.00
51.00                      1                 0.00
34.00                      1                 0.00

Los 10 PORCENTAJE_REALIZADO que MENOS aparecen son:

                      count  Porcentaje_recuento
PORCENTAJE_REALIZADO
6.00                      1                 0.00
51.00                     1                 0.00
34.00                     1                 0.00
18.00                     1                 0.00
40.00                     1                 0.00
5.00                      1                 0.00
9.00                      1                 0.00
22.00                     1                 0.00
-1.00                     1                 0.00
20.00                     1                 0.00

 Las distribución de las repeticiones de los PORCENTAJE_REALIZADO son:

        count  % repetición
count
1          12         70.59
134516      1          5.88
46          1          5.88
11          1          5.88
6           1          5.88
2           1          5.88

None
La categoría FECHA_REGISTRO tiene 337 elementos diferentes:

Los elementos de la categoría son:

<DatetimeArray>
['2021-04-23 00:00:00', '2021-04-16 00:00:00', '2021-01-26 00:00:00',
 '2021-03-16 00:00:00', '2021-09-27 00:00:00', '2021-11-17 00:00:00',
 '2021-08-03 00:00:00', '2021-02-04 00:00:00', '2021-02-05 00:00:00',
 '2021-05-19 00:00:00',
 ...
 '2021-02-07 00:00:00', '2021-02-06 00:00:00', '2021-01-16 00:00:00',
 '2021-01-03 00:00:00', '2021-01-17 00:00:00', '2021-10-09 00:00:00',
 '2021-02-14 00:00:00', '2021-01-09 00:00:00', '2021-01-23 00:00:00',
 '2021-01-24 00:00:00']
Length: 338, dtype: datetime64[ns]

Los 10 FECHA_REGISTRO que MAS aparecen son:

                count  Porcentaje_recuento
FECHA_REGISTRO
2021-04-23       1957                 1.45
2021-11-30        980                 0.73
2021-06-30        973                 0.72
2021-08-31        958                 0.71
2021-05-31        947                 0.70
2021-04-30        944                 0.70
2021-03-31        925                 0.69
2021-07-20        871                 0.65
2021-05-10        850                 0.63
2021-08-10        849                 0.63

Los 10 FECHA_REGISTRO que MENOS aparecen son:

                count  Porcentaje_recuento
FECHA_REGISTRO
2021-01-09          1                 0.00
2021-02-07          1                 0.00
2021-02-27          1                 0.00
2021-03-07          1                 0.00
2021-10-09          1                 0.00
2021-01-17          1                 0.00
2021-01-03          1                 0.00
2021-01-16          1                 0.00
2021-02-06          1                 0.00
2021-01-23          1                 0.00

 Las distribución de las repeticiones de los FECHA_REGISTRO son:

       count  % repetición
count
10        17          5.04
9         16          4.75
8         13          3.86
1         12          3.56
7          7          2.08
...      ...           ...
293        1          0.30
134        1          0.30
22         1          0.30
19         1          0.30
17         1          0.30

[182 rows x 2 columns]

None
La categoría AÑO_EJERCICIO tiene 1 elementos diferentes:

Los elementos de la categoría son:

array([2021])

Los 10 AÑO_EJERCICIO que MAS aparecen son:

                count  Porcentaje_recuento
AÑO_EJERCICIO
2021           134593               100.00

Los 10 AÑO_EJERCICIO que MENOS aparecen son:

                count  Porcentaje_recuento
AÑO_EJERCICIO
2021           134593               100.00

 Las distribución de las repeticiones de los AÑO_EJERCICIO son:

        count  % repetición
count
134593      1        100.00

None

In [18]:
df_datos_2021.to_pickle("../datos/output/datos_2021_convertido.pkl")